<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Device Intent New</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/notification.css">
    <link rel="stylesheet" href="page-css/device-intent.css">
    <link rel="stylesheet" href="page-css/tradein-additional.css">
</head>

<body class="bg-white">

    <div ng-controller="deviceIntentNewCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none">
                    <span class="pull-left header-size cursor"><i class=" ico-backArrowIcon2 backArrowLarge " ng-click="goBack()"
                    ></i></span>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 p-t-9 ">
                    <span class="text-center hidden-xs"><img ng-src="img/tmo-logo.png" id="Img1" class="icon-size" / tabindex="0"></span>
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size"><span tabindex="0">Add a line</span></p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <span class="pull-right fa-phn-touch-area header-size">
                    <i class="fa fa-phone fa-phn-cmts" tabindex="0" aria-hidden="true"
                        id="I1"></i></span>
                   <!-- <span class="pull-right  fa-phn-touch-area header-size"><i class="fa fa-comments fa-phn-cmts " tabindex="0" aria-hidden="true"
                        id="I2"></i></span>-->
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <!--Alert Code: Begin -->
        <div class=" col-xs-12   p-l-0-xs p-r-0-xs diviceintent_notificationalert  ng-scope p-l-0-sm p-l-0-md p-l-0-lg"
            id="diviceintent_notificationalert"
            ng-class="{'AnimationOut':!visible,'alertoverlay':deviceIntentPhaseErrorModal,'divice_alert_magenta_background':magentabackground,'divice_alert_grey_background':!magentabackground}">
            <div class="display-flex notificationClose">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-11 col-sm-10 col-sm-offset-1 p-t-16 p-b-16 text-center-sm text-left-xs  p-l-15 p-r-15">
                            <span class="break-xs  p-r-5 "
                                ng-class="{'text-white notificationmagenta':magentabackground,'text-black notificationgrey':!magentabackground}">       Add a new device online and save yourself the $20 fee charged in store/on the phone.  <a class="inline text-bold" href="#" >See Details <i class="fa fa-chevron-right fa-1x f-size11 m-l-2" aria-hidden="true"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="close-icon wrapper-icon font-awesome-center" ng-if="closeicon">
                    <span class="ico"  ng-class="{'text-white notificationmagenta':magentabackground,'text-black notificationgrey':!magentabackground}"><i class="fa fa-times-thin fa-1x fa-rightIcon fa-lg"                 aria-hidden="true" ng-click="close()"></i></span>
                </div>
            </div>
        </div>
        <!--Alert Code: End -->
        <div class="container content">
            <div class="main-content" id="mainContentBody">
                <div id="deviceIntent"  ng-hide="hideDeviceIntent">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 Display2 padding-horizontal-24-xs p-t-32-xs p-b-24-xs p-b-48-sm p-t-64-sm">
                            {{deviceDetails.title}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-l-0-xs" role="none">
                            
                            <div ng-repeat="device in deviceDetails.deviceDetails" class="border_top_xs">
                                <div class="col-sm-4 divShadow cursor p-b-8-xs p-t-40-sm p-t-8-xs  padding-horizontal-24-xs center-content-xs d-flex-xs  w-30-sm w-31-md  text-center-sm div-height-md-1 mb-32-lg" role="button"
                                tabindex="{{device.warnDesc != ''? '-1':'0'}}" ng-click="goToNext(device.category,device.warnDesc)"
                                
                                ng-class="{'m-r-24-sm': ($index+1)%3 != 0, 'cursor-disable divShadow-disable background-disable': device.warnDesc != '' }"
                                ripple value="{{hidden}}">
                                        <img ng-src="{{device.icon}}" class="center-content-sm img-width-1">
                                        <div class="col-xs-12 no-padding">
                                            <p class="Display5 font-16-sm center-content-sm p-t-24-sm"
                                                ng-class="{'gray': device.warnDesc != '' }">
                                                {{device.desc}}</p>
                                            <p class="legal f-12 p-t-4" ng-if="device.desc != ''">
                                                {{device.subDesc}}</p>
                                            <p id="errorText" class="col-sm-12 col-xs-9 no-padding f-12 p-t-4 gray cursor-enable"
                                                ng-if="device.warnDesc != ''">
                                                <span>{{device.warnDesc}}
                                                <a class="cursor text-decoration-underline gray no-wrap-text cursor-enable"
                                                        tabindex="0"
                                                        href="tel:{{device.soc}}">{{device.soc}}
                                                    </a></span>
                                            </p>
                                        </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row padding-bottom-xxl">
                        <div class="col-xs-12 no-padding">
                            <div class="border_top_xs"></div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-t-24-xs">
                            <div class="gray body-copy-description">
                                    Looking for tablets or other devices?   
                                <a class="gray cursor text-decoration-underline" tabindex="0"
                                    ng-keydown="$event.keyCode === 13 && openDeviceIntentPhaseErrorModal()"
                                    ng-click="openDeviceIntentPhaseErrorModal()" id="cancelBtn">Contact us </a>

                            </div>
                        </div>
                    </div>
                    <!--Device Intent phase Error modal-->
                    <div class="glueDialogContainer" ng-keydown="closeDeviceIntentPhaseErrorModal"
                        ng-keyup="keyPress($event.keyCode)" data-toggle="modal" data-target="#exampleModal" tabindex="{{ deviceIntentPhaseErrorModal ? 0 : -1 }}"
                        id="DeviceIntentErrorContainer">
                        <div class="glueDialog glueAnimationOut" id="exampleModal"
                            ng-class="{'glueAnimationIn':deviceIntentPhaseErrorModal}"
                            ng-keydown="backTabEvent($event,'DeviceIntentErrorContainer','cancelBtn')">
                            <div class="row no-margin padding-bottom-small dialogdeviceindentModal scroll">
                                <div class="col-xs-10 col-xs-offset-1 no-padding">
                                    <h4 class="text-black text-bold f-24">
                                       Shop online and save!
                                    </h4>
                                    <div ng-keydown="" class="body p-t-16 text-black">
                                        <span>When
                                            you add a device online or on the T-Mobile App, you save yourself the $20
                                            Assisted Support Fee charged in stores and over the phone.</span>
                                    </div>
                                    <div class="button-align p-t-20 p-b-20">
                                        <button data-dismiss="modal" aria-label="Close"
                                            class="btn btn-primary PrimaryCTA digitErrorModalBtn glueButtonPrimary custom-text-size"
                                            ripple value="true" ng-click="closeDeviceIntentPhaseErrorModal()"
                                            tabindex="{{ deviceIntentPhaseErrorModal ? 0 : -1 }}"
                                            id="deviceIntentPhaseErrorBtn">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="glueOverlay" ng-click="closeDeviceIntentPhaseErrorModal()"
                        ng-keydown="closeDeviceIntentPhaseErrorModal()"
                        ng-class="{'glueOverlayIn':deviceIntentPhaseErrorModal,'glueOverlayOut':!deviceIntentPhaseErrorModal}">
                    </div>
                    <!--Device Intent phase Error modal -->
                </div>
                <!-- Phone content starts -->
                <div ng-class="{'fade-in-effect':!hideContent}" ng-hide="hideContent" id="contentPage">
                    <div class="row">
                        <div
                            class="col-xs-12 col-sm-10 col-sm-offset-1 Display2 padding-horizontal-24-xs p-t-32-xs p-b-24-xs p-b-48-sm p-t-64-sm border_bottom_xs">
                            {{contentData.title}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-l-0-xs" role="none">
                        <div  class="border_bottom_xs" ng-repeat="device in contentData.deviceDetails">
                            <div class="col-md-5 col-sm-5 divShadow cursor p-b-8-xs p-t-40-sm p-t-8-xs  w-47-sm padding-horizontal-24-xs center-content-xs d-flex-xs text-center-sm div-height-md-1 mb-32-lg "
                                tabindex="{{device.warnDesc != ''? '-1':'0'}}"                              
                                ng-class="{'m-r-24-sm': ($index+1)%2!= 0, 'background-disable cursor-disable divShadow-disable ': device.warnDesc != '' }"
                                ripple value="{{hidden}}">                   
                        <img ng-src="{{device.icon}}" class="center-content-sm img-width-1" alt="">
                               
                                <div class="col-xs-12 no-padding">
                                    <p class="Display5 font-24-sm center-content-sm p-t-24-sm"
                                        ng-class="{'gray': device.warnDesc != '' }">
                                        {{device.desc}}
                                    </p>
                                    <p class="legal f-12 p-t-4" ng-if="device.desc != ''">
                                        {{device.subDesc}}
                                    </p>
                                    <p id="errorText"
                                        class="col-sm-12 col-xs-9 no-padding f-12 p-t-4 gray cursor-enable"
                                        ng-if="device.warnDesc != ''">
                                        <span>{{device.warnDesc}}
                                            <a class="cursor text-decoration-underline gray no-wrap-text"
                                                href="tel:{{device.soc}}" ng-if="device.soc"
                                                tabindex="-1">{{device.soc}}
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Phone content ends -->
            </div>
        </div>


    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>