<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Device Intent</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/notification.css">
    <link rel="stylesheet" href="page-css/device-intent.css">
    <link rel="stylesheet" href="page-css/tradein-additional.css">
</head>

<body class="bg-white">

    <div ng-controller="deviceIntentPhase2Ctrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" >
                    <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size cursor" ng-click="goBack()" aria-label="Click here to go back"></i>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                    <img ng-src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center hidden-xs" />
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size">Add a line</p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                    <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
         <!--Alert Code: Begin -->
        <div class=" col-xs-12   p-l-0-xs p-r-0-xs diviceintent_notificationalert  ng-scope p-l-0-sm p-l-0-md p-l-0-lg"
            id="diviceintent_notificationalert" ng-class="{'AnimationOut':!visible,'alertoverlay':deviceIntentPhaseErrorModal,'divice_alert_magenta_background':magentabackground,'divice_alert_grey_background':!magentabackground}" >
            <div class="display-flex notificationClose" >
            <div class="container"> 
             <div class="row">
                    <div class="col-xs-11 col-sm-10 col-sm-offset-1 p-t-16 p-b-16 text-center-sm text-left-xs  p-l-15 p-r-15" >
                    <span class="break-xs  p-r-5 " ng-class="{'text-white notificationmagenta':magentabackground,'text-black notificationgrey':!magentabackground}">
                        <span tabindex="0" aria-label="Add a new device online and save yourself the $20 fee charged in store/on the phone">
                            Add a new device online and save yourself the $20 fee charged in store/on the phone.
                        </span> 
                    <a  class="inline text-bold" href="#" tabindex="0" aria-label="See Details right arrow">See Details <i class="fa fa-chevron-right fa-1x f-size11 m-l-2" aria-hidden="true"></i></a> </span>  
                </div>
            </div>
        </div>
                <div class="close-icon wrapper-icon font-awesome-center" ng-if="closeicon">
                    <i class="fa fa-times-thin fa-1x fa-rightIcon fa-lg ico" ng-class="{'text-white notificationmagenta':magentabackground,'text-black notificationgrey':!magentabackground}" aria-hidden="true" ng-click="close()"></i>
                </div>
            </div>
        </div>
        <!--Alert Code: End -->

        <div class="container  alertAnimationOut content" id="mainContentBody">
            <div class="main-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 Display2 padding-horizontal-24-xs p-t-32-xs p-b-24-xs p-b-48-sm p-t-64-sm">
                        <span tabindex="0"  aria-label="{{deviceDetails.title}}">{{deviceDetails.title}}</span></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-l-0-xs" ng-click="diviceintendModal()" tabindex="-1" role="none">
                        <div class="col-sm-4 divShadow cursor p-b-8-xs p-t-48-sm p-t-8-xs  padding-horizontal-24-xs center-content-xs d-flex-xs border_top_xs w-30-sm w-31-md text-center-sm div-height-md" tabindex="{{device.warnDesc != ''? '-1':'0'}}"
                            ng-repeat="device in deviceDetails.deviceDetails" ng-class="{'m-r-24-sm': ($index+1)%3 != 0, 'cursor-disable divShadow-disable': device.warnDesc != '' }" ripple 
                            value="{{hidden}}" aria-label="click to go to {{device.desc}}">
                            <img ng-src="{{device.icon}}" class="center-content-sm img-width1"
                             tabindex="{{device.warnDesc != '' ? '-1':'0'}}" aria-label="{{device.desc}} icon">
                            <div class="">
                                <p class="Display5 font-19-sm center-content-sm p-t-24-sm" ng-class="{'gray': device.warnDesc != '' }">
                                    <span tabindex="{{device.warnDesc != '' ? '-1':'0'}}"  aria-label="{{device.desc}}">{{device.desc}}</span></p>
                                <p class="legal p-t-4" ng-if="device.desc != ''" ><span tabindex="{{device.desc != '' ? '-1':'0'}}" aria-label="{{device.subDesc}}">
                                {{device.subDesc}}    </span></p>
                                <p id="errorText" class="col-sm-12 col-xs-9 no-padding f-12 p-t-4 warning-text cursor-enable" ng-if="device.warnDesc != ''"  ><span tabindex="{{device.warnDesc != '' ? '-1':'0'}}" aria-label="{{device.warnDesc + ' ' + device.soc}}">{{device.warnDesc}}  <a class="cursor text-decoration-underline warning-text no-wrap-text" href="tel:{{device.soc}}" ng-if="device.soc" tabindex="-1">{{device.soc}} </a></span>
                                                                       </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row padding-bottom-xxl">
                    <div class="col-xs-12 no-padding">
                        <div class="border_top_xs"></div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-l-24-xs">
                        <div class="gray p-t-24 body-copy-description"  ><span tabindex="0" aria-label="Looking for tablets or other devices?">
                            Looking for tablets or other devices? </span>
                            <a class="gray cursor text-decoration-underline"  tabindex="0"
                            ng-keydown="$event.keyCode === 13 && openDeviceIntentPhaseErrorModal()"  ng-click="openDeviceIntentPhaseErrorModal()" id="cancelBtn"   >Contact us </a>

                        </div>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-t-24 p-b-8-sm p-b-27-xs">
                        <p class="legal">*Some phones may not be compatible with the T-Mobile network.Additional
                            <a class="gray cursor text-decoration-underline" href="#">terms and conditions</a>
                        </p>
                    </div>
                </div>
-->
			<!--Device Intent phase Error modal-->

                <div class="glueDialogContainer" ng-keydown="closeDeviceIntentPhaseErrorModal" ng-keyup="keyPress($event.keyCode)"
                    tabindex="{{ deviceIntentPhaseErrorModal ? 0 : -1 }}" id="DeviceIntentErrorContainer">
                    <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':deviceIntentPhaseErrorModal}"
                        ng-keydown="backTabEvent($event,'DeviceIntentErrorContainer','cancelBtn')">
                        <div class="row no-margin padding-bottom-small dialogdeviceindentModal scroll">
                            <div class="col-xs-10 col-xs-offset-1 no-padding">
                                <h4 class="text-black text-bold f-24">
                                    <span tabindex="{{ deviceIntentPhaseErrorModal ? 0 : -1 }}" aria-label="Shop online and save!"
                                        >Shop online and save!</span>
                                </h4>
                                <div ng-keydown="" class="body p-t-16 text-black">
                                    <span tabindex="{{ deviceIntentPhaseErrorModal ? 0 : -1 }}"
                                    aria-label="When you add a device online or on the T-Mobile App, you save yourself the $20 Assisted Support Fee charged in stores and over the phone.">When you add a device online or on the T-Mobile App, you save yourself the $20 Assisted Support Fee charged in stores and over the phone.</span> 
                                </div>
                                <div class="button-align p-t-20 p-b-20">
                                    <button
                                        class="btn btn-primary PrimaryCTA digitErrorModalBtn glueButtonPrimary custom-text-size"
                                        ripple value="true" ng-click="closeDeviceIntentPhaseErrorModal()"
                                        tabindex="{{ deviceIntentPhaseErrorModal ? 0 : -1 }}" aria-label="Click here to close"
                                        id="deviceIntentPhaseErrorBtn">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glueOverlay" ng-click="closeDeviceIntentPhaseErrorModal()" ng-keydown="closeDeviceIntentPhaseErrorModal()"
                    ng-class="{'glueOverlayIn':deviceIntentPhaseErrorModal,'glueOverlayOut':!deviceIntentPhaseErrorModal}"></div>
                <!--Device Intent phase Error modal -->
            </div>
        </div>

     
    
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>
