<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trade in</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">

    <link rel="stylesheet" href="page-css/tradein-additional.css">
</head>

<body  class="bg-white"  >

    <div ng-controller="deviceconditionCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
          <div class="container no-padding">
              <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" >
               <span class="pull-left header-size cursor">   <i class="ico-backArrowIcon2 backArrowLarge " ng-click="goBack()"></i></span>
              </div>
              <div class="col-xs-4 col-md-4 col-lg-2 text-center p-t-9 p-t-11-xs">
                  <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size1 text-center" / tabindex="0" alt="t-mobile logo">
                 <!-- <p class="hidden-sm hidden-md hidden-lg Display6 header-size">Device condition</p>-->
              </div>

              <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                  <span class="pull-right fa-phn-touch-area header-size">
                      <i class="fa fa-phone fa-phn-cmts" tabindex="0" aria-hidden="true"
                          id="I1"></i></span>
                  <!--<i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>-->
              </div>
          </div>
      </div>
        <!--Header Code: End -->
        <div class="container overflowHidden" >
            <div class="main-content">
             
              <div class="row">
                  <div class="">
                      <div class="col-xs-12 col-sm-3 p-t-56-sm p-t-56-xs col-sm-offset-1">
                          <img ng-src="{{phonecondtion_fullImage}}" class="mobileImage justify-content-center pull-left-xs  margin-left-25" alt="phone">
                      </div>
                      <div class="col-xs-12 col-sm-7 p-t-64-sm p-t-8-xs padding-horizontal-24-xs  margin-left-10 ">
                          <div class="row no-margin pdp-content-dc">
                              <div class="col-12">
                                  <p class="Display2 text-black title-text letter-spacing-03">
                                    Thanks. Your estimated promotional trade-in credit is $350.00!
                                  </p>
                                  <p class="font-12 p-t-8 p-b-8">You will see your promotional details in cart.</p>
                                  <ul class="p-t-8">
                                    <li class="body-copy-description-regular text-black p-b-8" ng-repeat="details in promodetails">
                                      {{details}}
                                    </li>
                                  </ul>
                                  <div class="col-xs-12 no-padding">
                                    <p class="legal p-t-16 p-b-16 col-xs-12 gray no-padding">The value of your trade-in will be applied as a credit on your bill. You’ll see it on the first bill after you’ve shipped your old device and trade-in is complete.
                                    </p>
                                    <p class="legal col-xs-12 gray no-padding">
                                      Your device’s final value will be based upon valuation of trade-in device upon receipt. You can trade in one device per actrive line per month at the time you upgrade or activate a new line of service.
                                    </p>
                            </div>
                              </div>
                          </div>
                          
                          <div class="col-xs-12 p-t-40 d-sm-flex flex-flow-sm p-b-32  no-padding">
                                  <div class="col-xs-12 glueButton pull-right p-r-0-sm p-r-0-lg p-l-0-sm p-l-0-lg p-l-0-xs p-r-0-xs m-l-32-sm">
                                      <button  class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary custom-text-size text-ellipse"
                                          ripple value="true"> Trade in this device
                                  </button>
                                  </div>
                                  <div class="col-xs-12 glueButton p-t-16-xs pull-left d-sm-flex justify-contents-start-sm p-l-0-sm p-l-0-lg  p-l-0-xs p-r-0-xs p-r-0">
                                      <button class="btn btn-secondary SecondaryCTA h-48 button-title lineHeight-20 glueButton  pull-right glueButtonSecondary   custom-text-size custom-background text-ellipse"
                                          ripple value="true">Skip trade-in</button>
                                  </div>
                          </div>
                                                     
                      </div>
                  </div>               
           
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>