<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Device Intent</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/notification.css">
    <link rel="stylesheet" href="page-css/device-intent.css">
    <link rel="stylesheet" href="page-css/tradein-additional.css">
</head>

<body class="bg-white">

    <div ng-controller="deviceIntentCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" ng-click="goBack()">
                    <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size cursor"></i>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                    <img ng-src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center hidden-xs" />
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size">Add a line</p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                    <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <!--Alert Code: Begin -->
        <div class=" col-xs-12 col-sm-offset-1 col-sm-10 p-l-0-xs p-r-0-xs notifications-alert ng-scope p-l-0-sm p-l-0-md p-l-0-lg"
            id="notificationsAlert" ng-class="{'AnimationOut':!visible}">
            <div class="display-flex notificationClose" ng-click="close()">
                <div class="col-xs-12 phone-icon wrapper-icon">
                    <img src="./img/phone.png" alt="phoneIcon" class="ph-icon" />
                </div>
                <div class="padding-vertical-small message-width p-l-15 p-r-15">
                    <span class="break-xs custom-body text-white ">Want to trade-in a device?</span>
                    <span class="body-copy-custom text-white">Call 1-800-937-8997</span>
                </div>
                <div class="close-icon wrapper-icon font-awesome-center">
                    <i class="fa fa-times-thin fa-1x fa-rightIcon text-white fa-lg ico" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!--Alert Code: End -->
        <div class="container  alertAnimationOut content" id="mainContentBody">
            <div class="main-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 Display2 padding-horizontal-24-xs p-t-32-xs p-b-24-xs p-b-48-sm p-t-64-sm">Are you adding a new phone or using your own?</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-l-0-xs">
                        <div class="col-sm-4 divShadow cursor p-b-8-xs p-t-48-sm p-t-8-xs  padding-horizontal-24-xs center-content-xs d-flex-xs border_top_xs w-30-sm w-31-md text-center-sm div-height-md"
                            ng-repeat="device in deviceIntent" ng-class="{'m-r-24-sm': ($index+1)%3 != 0 }" ripple  value="{{hidden}}">
                            <img ng-src="{{device.imgUrl}}" class="center-content-sm img-width">
                            <div>
                            <p class="Display5 font-19-sm center-content-sm p-t-24-sm">{{device.title}}</p>
                            <p class="legal p-t-4" ng-If="device.desc != ''">{{device.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-bottom-xxl">
                    <div class="col-xs-12 no-padding">
                        <div class="border_top_xs"></div>
                    </div>
                </div>
<!--
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-t-24 p-b-8-sm p-b-27-xs">
                        <p class="legal">*Some phones may not be compatible with the T-Mobile network.Additional
                            <a class="gray cursor text-decoration-underline" href="#">terms and conditions</a>
                        </p>
                    </div>
                </div>
-->
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>