<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eligible Device</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/tradein-additional.css">
</head>

<body  class="bg-white"  >

    <div ng-controller="eligibleDeviceCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" >
                 <span class="pull-left header-size cursor">   <i class="ico-backArrowIcon2 backArrowLarge " ng-click="goBack()"></i></span>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center p-t-9">
                    <img src="img/tmo-logo.png" id="Img1" class="icon-size text-center hidden-xs" / tabindex="0">
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size">Line selector</p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <span class="pull-right fa-phn-touch-area header-size">
                        <i class="fa fa-phone fa-phn-cmts" tabindex="0" aria-hidden="true"
                            id="I1"></i></span>
                    <!--<i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>-->
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <div class="container no-padding-xs">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 padding-horizontal-24-xs no-padding">
        <p class="Display2 p-t-48-sm p-t-32-xs Display2-mob" >
        {{title}}
        </p>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 padding-horizontal-24-xs full-bleed-divider no-padding">
        <p class="body p-b-24-xs p-b-40-sm p-t-16-lg p-t-8-xs p-b-24-xs p-b-40-sm" >
          {{description}}
        </p>
    </div>
        <div class="col-md-5 col-sm-5  col-xs-12 no-padding-xs p-b-24-sm" ng-repeat="detail in details" role="button"
        ng-class="{'col-md-offset-1 col-sm-offset-1 p-l-0':$even, 'p-r-0':!$even}">
        
        <div class=" divShadow1 border_bottom_xs "
            ng-class="{}" ripple value="true">
            <div class="col-xs-12 p-t-16-xs p-b-16-xs p-t-24-sm p-b-24-sm p-l-24 p-r-24" tabindex="0">
            <div class="col-xs-8 pull-left no-padding center-content-sm1 vert-middle">
                <p class="Display5 p-b-8">{{detail.name}}</p>
                <p class="body-copy-description letter-0 p-b-8" x-ms-format-detection="none">{{detail.number}}</p>
                <p class="legal letter-05">
                    <span>{{detail.manufacture}}</span>
                    <span>{{detail.phoneModel}}</span>
                </p>
            </div>
            <div class="col-xs-4 no-padding pull-right no-padding">
                    <img ng-src="{{detail.image}}" class="pull-right vertical-center img_pos_eligible" alt="" aria-label="image graphic">
            </div>
        </div>
        </div>
        
    </div>

    </div>
       
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>