<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Line Cost Dep</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/notification.css">
    <link rel="stylesheet" href="page-css/tradein-additional.css">
    <link rel="stylesheet" href="page-css/lineCost_dep.css">
</head>

<body class="bg-white">

    <div ng-controller="deviceIntentCtrl" ng-cloak>
        <!--Header Code: Begin -->
        <div class="text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" ng-click="goBack()">
                    <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size cursor"></i>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                    <img ng-src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center hidden-xs" />
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size">Plan cost</p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                    <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <!--Alert Code: Begin -->
        <div class=" col-xs-12 col-sm-offset-1 col-sm-10 p-l-0-xs p-r-0-xs notifications-alert  ng-scope p-l-0-sm p-l-0-md p-l-0-lg"
            id="notificationsAlert" ng-class="{'AnimationOut':!visible, 'alertoverlay':visibleLCModal}">
            <div class="display-flex notificationClose" >
                <div class="col-xs-12 phone-icon wrapper-icon ">
                    <img src="./img/phone.png" alt="phoneIcon" class="ph-icon cursor" />
                </div>
                <div class="p-t-8-xs p-b-8-xs p-t-16 p-b-16 message-width p-l-15 p-r-15">
                    <span class="break-xs custom-body text-white ">Want to trade-in a device?</span>
                    <span class="body-copy-custom text-white">Call <span class="underline cursor">1-800-937-8997</span></span>
                </div>
                <div class="close-icon wrapper-icon font-awesome-center">
                    <i class="fa fa-times-thin fa-1x fa-rightIcon text-white fa-lg ico" aria-hidden="true" ng-click="close()"></i>
                </div>
            </div>
        </div>
        <!--Alert Code: End -->
        <div class="container alertAnimationOut content" id="mainContentBody">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1 col-md-2 hidden-xs p-t-32-xs p-t-64-sm">
                        <img class="phoneImage" src="./img/group-6@2x.png">
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8 Display2 padding-horizontal-24-xs p-l-0-sm padding-horizontal-40-md p-t-32-xs p-b-24 p-t-64-sm p-b-32-sm">{{plan}}</div>
                  <div class="col-xs-5 col-sm-3 col-md-2 no-padding p-l-24-xs m-l-40-md" ng-class="{'d-sm-none d-xs-none':(hideDueToday==true)}"  ng-repeat="due in todayList">
                    <div class="f-14">{{due.today}}</div>
                      <div class="p-t-8 p-b-8"><sup class="Display6">$</sup><sub class="Display4">{{due.totalAmtToday}}</sub><sup class="Display6">00</sup>
                        <span class="legal black" ng-class="{'strike':due.strikeTodayDue}" ng-if="due.strikeTodayDue">{{due.strikeTodayDue}}</span>
                        </div>
                    <div class="legal black"> 
                     <div class="p-b-4" ng-if="due.deposit">{{due.deposit}}</div>
                    <div class="word-wrap" ng-if="due.kit" ng-class="{'p-b-4':due.discount, 'm-b-4':!due.discount}">
                        <span ng-class="{'strike':due.strikeAmt}" ng-if="due.strikeAmt">{{due.strikeAmt}} </span>
                        <span ng-if="due.kitAmt">{{due.kitAmt}}</span>
                        <span ng-class="{'underline':!due.kitAmt}" ng-hide="!due.kitAmt" ng-if="due.kit"  >{{due.kit}}</span>
                        <a ng-class="{'underline':!due.kitAmt}" ng-if="due.kit && !due.kitAmt" ng-click="manymoreModal('daily')" >{{due.kit}}</a>
                        </div>
                    <div  ng-class="{'text-magenta m-b-4':due.discount}" ng-if="due.discount" ng-click="manymoreModal('promo')">
                        <img ng-src="img/tag.PNG" class="tag-icon m-r-4"/>{{due.discount}}</div>
                 </div>
                    <div class="p-t-4">
                        <a class="legal black underline cursor" ng-if="due.details" ng-click="manymoreModal('daily')">{{due.details}}</a>
                    </div>
                       </div>
                    <div class="col-xs-1 col-sm-1 col-width-xs padding-horizontal-24-xs padding-horizontal-40-sm" ng-class="{'d-sm-none d-xs-none':(hideDueToday==true)}">
                    <div class="verticalLine"></div>
                    </div>
                   
                     <div class="col-sm-3 col-md-3 p-l-0 p-r-24-xs" ng-class="{'col-xs-9 p-l-24-xs m-l-40-md':(hideDueToday==true),'col-xs-5':((hideDueToday==false))}" ng-repeat="dueMonthly in monthlyList">
                    <div class="f-14">{{dueMonthly.monthly}}</div>
                    <div class="p-t-8 p-b-8"><sup class="Display6">$</sup><sub class="Display4">{{dueMonthly.totalAmtMonthly}}</sub><sup class="Display6">00</sup></div>
                    <div class="legal black"> 
                    <div class="word-wrap">{{dueMonthly.content1}}
                        <span class="underline hidden-xs hidden-sm"><a ng-click="manymoreModal('monthly')">{{dueMonthly.planName}}</a></span></div>
                    <div class="p-t-4 underline hidden-md hidden-lg hidden-xl"><a ng-click="manymoreModal('monthly')">{{dueMonthly.planName}}</a></div>
                    <div class="p-b-4 p-t-8">{{dueMonthly.content2}}</div>
                    <div class="word-wrap p-b-4">{{dueMonthly.content3}}</div>
                 </div>
                    <a class="legal black underline cursor">{{dueMonthly.planDetails}}</a>
                </div>
            </div>
                 </div>
            <div class="row p-t-40">
                <div class="col-xs-12 col-sm-7 col-sm-offset-4 col-md-offset-3 legal gray padding-horizontal-24-xs p-l-0-sm padding-horizontal-40-md">{{condition}} <a class="underline cursor gray">{{terms}}</a></div>
                <div class="col-xs-12 col-sm-7 col-sm-offset-4 col-md-offset-3 padding-horizontal-24-xs p-l-0-sm padding-horizontal-40-md p-t-24 p-b-24">
                <button class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton glueButtonPrimary custom-text-size" ripple value="true">Continue
                        </button>
                    </div>
            </div>
            
       
        <div class="glueDialogContainer">
            <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleLCModal}">
                <div class="row no-margin">
                    <div class="col-xs-12 no-padding">
                        <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="closeModal()">
                            <i class="icox ico-closeIcon" ng-if="visibleAnimation"></i>
                        </button>
                    </div>
                </div>
                <div class="row no-margin padding-bottom-small dialogPaddingLCModal scroll">
                    <div class="col-xs-12 no-padding" ng-repeat="list in modalArray">
                        <h4 class="f-24 text-black text-bold text-center " ng-class="{'p-t-16':($index>0)}">{{list.modalTitle}}</h4>
                        <p class="body-copy-description-bold p-t-24 text-black">{{list.contentTitle}}</p>
                        <p class="body-copy-description-regular p-b-32 text-black">{{list.content}}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="glueOverlay" ng-click="closeModal()" ng-class="{'glueOverlayIn':visibleLCModal,'glueOverlayOut':!visibleLCModal}"></div>
    
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>