<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trade in</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/phone-condition-updated.css">
</head>

<body class="bg-white">
    <div ng-controller="tradeInConditionUpdatedCtrl"  ng-keyup="keyPress($event.keyCode)">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" >
                 <span class="pull-left header-size cursor">   <i class="ico-backArrowIcon2 backArrowLarge " ng-click="goBack()"></i></span>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center p-t-9">
                    <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center hidden-xs" / tabindex="0">
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size">Line selector</p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <span class="pull-right fa-phn-touch-area header-size">
                        <i class="fa fa-phone fa-phn-cmts" tabindex="0" aria-hidden="true"
                            id="I1"></i></span>
                    <!--<i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>-->
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <div class="container">
            <div class="main-content">
                <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-xs-12 m-b-40">
                    <div class="col-xs-12 col-sm-8 no-padding">
                            <h1 class="Display2 text-bold p-t-62-sm p-t-32-xs p-b-40-xs p-b-36-sm Display2-mob"><span aria-label="{{title}}">{{title}} </span></h1>
                    </div>
                    <div class="col-xs-12 no-padding">
                    <div ng-repeat="tradeInDetail in tradeinUpdatedDetails track by $index" class="col-xs-12 no-padding p-b-32 body-copy-description black d-flex">
                        <div class="col-xs-6 col-sm-7 d-flex p-l-0 p-r-0-xs d-flex align-items-center" >
                            <div>
                                <img ng-src={{tradeInDetail.image}} class="imagewidth m-r-24 m-r-10-xs">
                            </div>
                            
                            <div class="content-align">                                                               
                                <span >{{tradeInDetail.question}}</span>
                                
                                <span class="icon-align">
                                    <span class="icon-obj" ng-if="tradeInDetail.modal_icon">
                                        <button id="{{ 'btnQues' + $index }}" ng-click="deviceModal($index, $event)"   class="button-alignment">
                                   
                                    <img id="{{ 'btnQues' + $index }}" class="icon-size mt-3"  src="img/error.svg">
                                    </button>
                                </span>
                            </span>

                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-5 no-padding-xs pull-left text-right-xs p-l-30-sm">
                                <button
                                    class="btn btn-secondary SecondaryCTA h-48 button-title lineHeight-20 glueButton m-r-8 btnanswer    custom-text-size custom-background text-ellipse "
                                    ripple value="true" id="{{ 'btnNo' + $index }}"  ng-click="retainSelection('btnNo' + $index, $index)" aria-label="Hit enter to select No option">No
                                </button>
                                <button
                                    class="btn btn-secondary SecondaryCTA h-48 button-title lineHeight-20 glueButton  btnanswer    custom-text-size custom-background text-ellipse"
                                    ripple id="{{ 'btnYes' + $index }}" value="true" ng-click="retainSelection('btnYes' +$index, $index)" aria-label="Hit enter to select Yes option">Yes
                                </button>
                            </div>
                    </div>
                    
                </div >
                    <div class="col-xs-12 no-padding">
                        <a class="h6-heading text-magenta-imp" ng-click="phoneModal('phone', $event)"  id="modalLink" ng-keyDown="$event.keyCode==13 ? phoneModal('phone', $event) : null" tabindex="0" aria-label="Not sure what to select?">Not sure what to select?</a>
                    </div>
                    <div class="glueDialogContainer" >
                            <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" 
                            id="phoneConditionModal" >
                                <div class="row no-margin">
                                    <div class="col-xs-12 no-padding ">
                                        <button id="close-button" type="button" class="close pull-right glueAnimationOut close-position" tabindex="{{visibleAnimation ? '0' : '-1'}}" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="close()" aria-label="click to close the modal">
                                            <i class="ico ico-closeIcon" ng-if="visibleAnimation" ></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row no-margin dialogPadding scroll">
                                    <div ng-if="visibleAnimation && phoneTitle!=''" class="col-xs-12 no-padding padding-bottom-large">
                                    <h4 class="text-black text-bold text-center">
                                        <span aria-label="{{phoneTitle}}">{{phoneTitle}}</span></h4>
                                    </div>
                                    <div class="col-xs-12 no-padding" ng-repeat="list in phoneArray">
                                        <p ng-if="visibleAnimation && phoneTitle!=''" class="padding-top-medium body-copy-description-bold text-black">
                                           <span aria-label="{{list.quesn}}">{{list.quesn}}</span>
                                        </p>
                                        <p class="body-copy-description-regular letter-0 text-black">
                                        <span aria-label="{{list.answer}}" ng-bind-html="list.answer"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="glueOverlay" ng-click="close()" role="link" tabindex="{{visibleAnimation ? '0' : '-1'}}" ng-class="{'glueOverlayIn':visibleAnimation,'glueOverlayOut':!visibleAnimation}" >
                        </div>
                    
                    <div class="col-xs-12 p-t-32-xs p-t-40-sm d-sm-flex flex-flow-sm  fade-in-effect no-padding">
                        <div
                            class="col-xs-12 glueButton p-t-16-xs pull-left d-sm-flex justify-contents-start-sm p-l-0-sm p-l-0-lg  p-l-0-xs p-r-0-xs p-r-0">
                            <button
                                class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton p-r-8 pull-left glueButtonPrimary disabled  custom-text-size text-ellipse"
                                ripple value="true" id="continueBtn" aria-label="continue button will be enabled once all the questions are answered">Continue
                            </button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>