<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Plan selector digits</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css" />
    <link rel="stylesheet" href="css/core/font-awesome.min.css" />
    <link rel="stylesheet" href="css/core/tmo-icons.css" />
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="page-css/Common.css" />
    <link rel="stylesheet" href="page-css/glue.css" />
    <link rel="stylesheet" href="page-css/plan-selector-digits.css" />
</head>

<body class="bg-white">
    <div ng-controller="tradePlanSelectorCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none">
                    <span class="pull-left header-size cursor">
                        <i class="ico-backArrowIcon2 backArrowLarge " ng-click="goBack()">
                        </i>
                    </span>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center p-t-11">
                    <img src="img/tmo-logo.png" id="Img1" class="icon-size text-center" alt="tmo logo" tabindex="0">
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1 p-t-4 p-r-8">
                    <span class="pull-right fa-phn-touch-area header-size">
                        <i class="fa fa-phone fa-phn-cmts" tabindex="0" aria-hidden="true" id="I1"></i></span>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <div class="container no-padding overflowHidden">
            <div class="main-content">
                <div class=" m-l-0">
                    <div
                        class="col-sm-10 col-sm-offset-1 col-xs-12  p-t-32-xs p-b-24 p-b-48-sm padding-horizontal-12 p-t-64-sm">
                        <div class="Display2">
                            How do you want to set up this watch?
                        </div>
                    </div>
                </div>
                <div class="row m-l-0">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-l-0-xs padding-horizontal-12  p-b-24">
                        Both plans give you unlimited talk, text, and data on the watch.
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 p-b-24 p-b-24-sm m-r-1" id="tradechoice{{$index}}"
                    ng-repeat="choice in tradeChoice track by $index"
                    ng-class="{'col-md-offset-1 col-sm-offset-1':$even}">
                    <div class="col-xs-12 div_shadow_box h-295 p-t-15-xs p-b-15-xs p-t-24-sm p-b-32-sm p-l-25-sm p-r-25-sm p-l-15-xs p-r-15-xs alignItems"
                        ng-click="showBoxDetails($index, choice)"
                        ng-keydown="!choice.disabled && showBoxDetails($index, choice)"
                        ng-class="{'div_shadow_box_focus': showImage[$index] && !choice.disabled, 'div_shadow_box_disabled': choice.disabled  }">

                        <div class="col-sm-12 col-xs-12 float-none text-left-xs no-padding "
                            ng-style="getWarningHeight('tradechoice{{$index}}')">
                            <div ng-class="{'anim-height': !choice.disabled}">
                            <img ng-src="img/check_circle.svg" class="valid_img vertical-center" alt="valid image"
                                ng-if="showImage[$index] && !choice.errorMsg" />

                            <img ng-src="{{choice.imgUrl}}" class="img-width-mobile img-height-desktop vertical-center"
                                ng-class="{'m-t-20': choice.errorMsg == '' && showImage[$index] == '' && showImage[$index] == false, 'm-t-16-md': choice.imgUrl}"
                                alt="image" ng-if="choice.imgUrl && !showImage[$index]" />
                            <!--                            animation-->
                            <img ng-src="{{choice.animImg}}"
                                class="img-width-mobile img-height-desktop vertical-center"
                                ng-class="{'m-t-20': choice.errorMsg == '' && showImage[$index] == '' && showImage[$index] == false}"
                                alt="animation image" ng-if="showImage[$index] && !choice.errorMsg" />
                            <!--                            ends-->
                            </div>
                            <div class="error body-copy-description-regular pt-4 d-flex p-b-24 " ng-if="choice.errorMsg"
                                id="newdiv">
                                <img ng-src="img/warning_outline_red.svg" class=" p-r-16 error-icon-alignment"
                                    alt="warning icon" />

                                <div ng-bind-html="choice.errorMsg"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 p-l-0 vertical-middle no-padding margin-left">
                            <div>
                                <p class="Display5 font-19-sm">
                                    {{choice.title}}
                                </p>
                                <p class="body-copy-description-regular black p-t-8" id="currentdiv{{$index}}"
                                    
                                    ng-If="choice.desc != ''">
                                    {{choice.desc}}
                                </p>

                                <!-- starts -->
                                <div class="m-t-20" ng-class="{'col-xs-6 m-t-20-sm p-l-0 p-r-0': choice.card_deposit}">
                                    <div class="f-14">DUE MONTHLY</div>
                                    <div class="p-t-8 p-b-16">
                                        <sup class="Display6">$</sup>
                                        <sub class="Display4"
                                            attr.aria-label="{{choice.totalAmtToday}}">{{choice.totalAmtToday}}</sub><sup
                                            class="Display6" aria-label="00">00</sup> </div>

                                    <div class="col-xs-12 col-md-12 legal p-b-4 p-l-0 p-r-0"
                                        ng-if="!choice.card_deposit">
                                        'New line on <a class="text-decoration-underline cursor-enable" href="" id="linkDetails"
                                            ng-click="manymoreTaxModal('promo',$event)"
                                           >Magenta
                                            Tablet Unlimited</a> with Autopay. Taxes and fees excluded.'
                                    </div>
                                    <div class="col-xs-12 col-md-12 legal p-b-4 p-l-0 p-r-0 p-t-16 text-magenta-imp"
                                        ng-if="choice.standalone">
                                        Already have a phone line? You’ll save $10/mo. on your watch plan. Discount applied in cart.
                                    </div>
                                    <div class="col-xs-12 col-md-12 legal p-b-4 p-l-0 p-r-0"
                                        ng-if="choice.card_deposit">
                                        <a class="text-decoration-underline" href="" id="linkDetails"
                                            ng-click="manymoreTaxModal('deposit',$event)">Deposit</a>
                                    </div>
                                </div>

                                <!-- ends -->

                                <!-- starts -->
                                <div class="m-t-20" ng-class="{'col-xs-6 p-l-0 p-r-0': choice.card_deposit}"
                                    ng-if="choice.card_deposit">
                                    <div class="f-14">DUE MONTHLY</div>
                                    <div class="p-t-8 p-b-16">

                                        <sup class="Display6">$</sup>
                                        <sub class="Display4"
                                            attr.aria-label="{{choice.totalAmtToday1}}">{{choice.totalAmtToday1}}</sub>
                                        <sup class="Display6" aria-label="00">00</sup> </div>


                                    <div class="col-xs-12 col-md-12 legal p-b-4 p-l-0 p-r-0">
                                        'New line on <a class="text-decoration-underline" href="" id="linkDetails"
                                            ng-click="manymoreTaxModal('promo',$event)">Magenta Tablet Unlimited</a> with
                                        Autopay. Taxes and fees excluded.'
                                    </div>

                                </div>

                                <!-- ends -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-bottom-xxl">

                    <div
                        class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1 col-sm-offset-1 p-l-25  padding-horizontal-30-xs p-m padding-horizond p-t-24 p-b-24">
                        <p class="padding-bottom-xl legal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada accumsan, dignissim proin feugiat diam, lorem mauris velit sed. Risus consequat fermentum amet nisi adipiscing auctor et. Maecenas elit at tincidunt facilisis pellentesque ac. Commodo, felis aliquam sit arcu bibendum massa vitae in.</p>
                        <button
                            class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  glueButtonPrimary  glueButtonContinue custom-text-size"
                            ripple value="true" ng-click="openDigitModal($event)" id="detaillink">Select and Continue
                        </button>
                    </div>
                </div>

                <!-- Dialog starts -->
                <div tabindex="{{ visibleRPModal ? 0 : -1 }}" class="glueDialogContainer" id="glueDialogContainerId">

                    <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleRPModal}"
                        ng-keydown="backTabEvent($event, 'glueDialogContainerId', 'closeId' )">
                        <div class="row no-margin">
                            <div class="col-xs-12 no-padding">
                                <button id="glueDialogContainer" type="button" class="close pull-right glueAnimationOut"
                                    ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="closeModal()"
                                    tabindex="{{ visibleRPModal ? 0 : -1 }}">
                                    <i class="icox ico-closeIcon" ng-if="visibleAnimation"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row no-margin padding-bottom-small dialogPaddingLCModal scroll">

                            <div class="row no-margin dialogPadding scroll">

                                <h5 class="f-24 text-black text-bold text-center">
                                    {{phoneTitle}}
                                </h5>


                                <div class="border-bottom padding-vertical-medium padding-horizontal-medium-sm p-13"
                                    ng-repeat="phone in phoneList" ng-click="checkRadio($event,$index)"
                                    attr.aria-label="{{phone.limitError||phone.notEligible ?'disabled':'press enter or space to select'}} {{ phone.name }} {{phone.phone}} {{phone.message}} "
                                    role="radio"
                                    ng-keydown="($event.keyCode === 13 || $event.keyCode === 32 ) && checkRadio($event,$index)"
                                    tabindex="{{visibleRPModal && !(phone.limitError||phone.notEligible) ? '0' : '-1'}}">

                                    <div class="row margin-0">
                                        <div class="col-xs-12 p-l-0 p-r-0">
                                            <div class="col-xs-2 col-md-1 text-center p-l-0-xs">
                                                <div class="glueRadio-container">
                                                    <input type="radio" id="radio{{ $index }}" name="radio"
                                                        value="{{ phone.name }}" ng-model="radioChecked.name"
                                                        ng-checked="phone.checked"
                                                        ng-disabled="phone.limitError||phone.notEligible" />
                                                    <label for="radio{{ $index }}"></label>
                                                    <div class="check" tabindex="-1" role="radio"
                                                        ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && checkRadio($event,$index)"
                                                        ng-click="checkRadio($event,$index)"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-5 m-t-3 p-l-0-xs">
                                                <span class="radio-label"
                                                    ng-class="phone.limitError||phone.notEligible?'gray-9b':'text-black'">{{ phone.name }}</span>
                                            </div>
                                            <div class="col-xs-6 text-center padding-r-0" x-ms-format-detection="none">
                                                <span class="body-copy-description font-size-bodycopy"
                                                    ng-disabled="phone.limitError">{{ phone.phone }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-0" ng-if="phone.notEligible">
                                        <div
                                            class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-1 legal error pt-4 digitError cursor p-l-0-xs">
                                            {{ phone.message }}

                                            <a class="text-decoration-underline word-wrap error ">contact us.</a>

                                        </div>
                                    </div>
                                    <div class="row margin-0" ng-if="phone.limitError">
                                        <div
                                            class="col-xs-8 col-xs-offset-2 legal error pt-4 digitError cursor padding-l-0 padding-r-0">
                                            This line has reached the five-device limit. Please
                                            choose another line or
                                            <a class="underline word-wrap cursor-enable">contact us.</a>

                                        </div>
                                    </div>

                                </div>
                                <button
                                    class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton glueButtonPrimary glueButtonContinue custom-text-size m-t-20 w-100"
                                    id="closeId" ripple="" value="true" ng-click="closeModal()"
                                    tabindex="{{ visibleRPModal ? 0 : -1 }}">
                                    Add plan and link number
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="glueOverlay" ng-click="closeModal()" tabindex="{{ visibleRPModal ? 0 : -1 }}"
                    ng-class="{'glueOverlayIn':visibleRPModal,'glueOverlayOut':!visibleRPModal}"></div>
                <!-- Dialog ends -->

                <!-- Dialog starts -->
                <div tabindex="{{ visibleLCModal ? 0 : -1 }}" class="glueDialogContainer" id="glueDialogContainerId1">

                    <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleLCModal}"
                        ng-keydown="backTabEvent($event, 'glueDialogContainerId1', 'closeId1' )">
                        <div class="row no-margin">
                            <div class="col-xs-12 no-padding">
                                <button id="glueDialogContainer1" type="button"
                                    class="close pull-right glueAnimationOut"
                                    ng-class="{'glueAnimationIn':visibleAnimation1}" ng-click="closeTaxModal()"
                                    tabindex="{{ visibleLCModal ? 0 : -1 }}">
                                    <i class="icox ico-closeIcon" ng-if="visibleAnimation1"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row no-margin padding-bottom-small dialogPaddingLCModal">

                            <div class="row no-margin dialogPadding scroll">


                                <div class="col-xs-12 no-padding" ng-repeat="list in modalArray">
                                    <h4 class="f-24 text-black text-bold text-center " ng-class="{'p-t-16':($index>0)}">
                                        {{list.modalTitle}}</h4>
                                    <p class="body-copy-description-bold p-t-24 text-black">{{list.contentTitle}}</p>
                                    <p class="body-copy-description-regular p-b-32 text-black" id="closeId1">
                                        {{list.content}}</p>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="glueOverlay" ng-click="closeTaxModal()" tabindex="{{ visibleLCModal ? 0 : -1 }}"
                ng-class="{'glueOverlayIn':visibleLCModal,'glueOverlayOut':!visibleLCModal}"></div>
            <!-- Dialog ends -->
            

        </div>
    </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>