<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Plans page - Wearables</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css" />
    <link rel="stylesheet" href="css/core/font-awesome.min.css" />
    <link rel="stylesheet" href="css/core/tmo-icons.css" />
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="page-css/Common.css" />
    <link rel="stylesheet" href="page-css/glue.css" />
    <link rel="stylesheet" href="page-css/notification.css" />
    <link rel="stylesheet" href="page-css/tradein-additional.css" />
    <link rel="stylesheet" href="page-css/cost-lineSelector.css" />
</head>

<body class="bg-white">
    <div ng-controller="linecostController" ng-cloak>
        <!--Header Code: Begin -->
        <div class="text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none">
                    <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size cursor" ng-click="goBack()"
                        ng-keypress="goBack()"></i>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                    <img ng-src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center hidden-xs" />
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size">
                        Plan cost
                    </p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true"
                        id="I1"></i>
                    <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true"
                        id="I2"></i>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <div class="container alertAnimationOut content" id="mainContentBody">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-md-offset-1 col-lg-3 hidden-xs p-t-32-xs p-t-64-sm">
                        <img class="phoneImage" src="./img/costline_desktop.png" tabindex="0" aria-label="graphic image" />
                    </div>
                    <div class="col-xs-12 visible-xs p-t-32-xs padding-horizontal-24-xs">
                        <img class="phoneImage" src="./img/costline_mobile.png" tabindex="0" aria-label="graphic image"/>
                    </div>
                    <div
                        class="col-xs-12 col-sm-7 off col-md-7  padding-horizontal-24-xs  padding-horizontal-medium-sm p-t-32-xs p-b-24 p-t-64-sm">
                        <p>
                            <span class="Display2" tabindex="0" aria-label="{{ plan }}">{{
                  plan
                }}</span>
                        </p>
                        <div class="col-xs-10 col-md-9 no-padding padding-top-medium body-copy-description">
                            <p>
                                <span tabindex="0"
                                    aria-label="{{ planDescription }} with {{ planLink }}">{{ planDescription }},
                                    with</span>
                                <a class="body-copy-description-bold legal black underline cursor nowrap" id="planlink"
                                    tabindex="0" aria-label="click or press enter to know more about {{
                      planLink
                    }}" ng-click="openModal()" ng-keydown="$event.keyCode == 13 ? openModal():null">{{ planLink }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-3 col-md-2 no-padding p-l-24-xs p-l-15-sm"
                        ng-class="{'d-sm-none d-xs-none':(hideDueToday==true)}" ng-repeat="due in todayList">
                        <div class="f-14">
                            <span tabindex="0" aria-label="{{ due.today }}">{{
                  due.today
                }}</span>
                        </div>
                        <div class="p-t-8 p-b-8">
                            <span tabindex="0" aria-label="${{ due.totalAmtToday }}"><sup class="Display6">$</sup><sub
                                    class="Display4">{{ due.totalAmtToday }}</sub><sup class="Display6">00</sup>
                                <span class="legal black" ng-class="{'strike':due.strikeTodayDue}"
                                    ng-if="due.strikeTodayDue">{{ due.strikeTodayDue }}</span></span>
                        </div>
                        <div class="legal black">
                            <div ng-if="due.deposit">
                                <a class="legal black underline cursor" tabindex="0">{{
                    due.deposit
                  }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-5 p-r-24-xs p-b-60 p-b-45-xs p-b-45-sm"
                        ng-class="{'col-xs-9  p-l-0 padding-horizontal-24-xs':(hideDueToday==true),'col-xs-7':((hideDueToday==false))}"
                        ng-repeat="dueMonthly in monthlyList">
                        <div class="col-xs-1 verticalLine no-padding"
                            ng-class="{'d-sm-none d-xs-none':(hideDueToday==true)}"></div>
                        <div class="col-xs-10" ng-class="{'p-l-23-sm p-l-24-xs':!hideDueToday,'p-l-0-xs':hideDueToday}">
                            <div class="f-14">
                                <span tabindex="0" aria-label="{{ dueMonthly.monthly }}">{{
                    dueMonthly.monthly
                  }}</span>
                            </div>
                            <div class="p-t-8 p-b-8">
                                <span tabindex="0" aria-label="${{ dueMonthly.totalAmtMonthly }}"><sup
                                        class="Display6">$</sup><sub
                                        class="Display4">{{ dueMonthly.totalAmtMonthly }}</sub><sup
                                        class="Display6">00</sup></span>
                            </div>
                            <div class="legal black">
                                <div>
                                    <span tabindex="0" aria-label="{{ dueMonthly.content2 }}">{{
                      dueMonthly.content2
                    }}</span>
                                </div>
                                <div class="word-wrap ">
                                    <span tabindex="0" aria-label="{{ dueMonthly.content3 }}">{{
                      dueMonthly.content3
                    }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-7 col-md-offset-5 col-lg-offset-4 p-b-16-xs p-t-24-xs p-b-34 full-divider-f2f2f2 padding-horizontal-24-xs  padding-horizontal-medium-sm m-t--30-md">
                        <span class="black select-label" tabindex="0"
                            aria-label="Select the phone number you’d like to use on your watch.">Select the phone
                            number you'd like to use on your watch.</span>
                    </div>
                    <div
                        class="col-xs-12 col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-5 col-sm-7 col-sm-offset-5 padding-horizontal-24-xs m-t-10">
                        <div class="border-bottom padding-vertical-medium padding-horizontal-medium-sm p-13" ng-repeat="phone in phoneList" ng-click="checkRadio($event,$index)" aria-label="{{phone.limitError||phone.notEligible ?'disabled':'press enter or space to select'}} {{ phone.name }} {{phone.phone}} {{phone.message}} " role="radio"
                            ng-keydown="($event.keyCode === 13 || $event.keyCode === 32 ) && checkRadio($event,$index)">
                            <div class="row margin-0" >
                                <div class="col-xs-2 text-center padding-l-0">
                                    <div class="glueRadio-container">
                                        <input type="radio" id="radio{{ $index }}" name="radio" value="{{ phone.name }}"
                                            ng-model="radioChecked"
                                            ng-disabled="phone.limitError||phone.notEligible" />
                                        <label for="radio{{ $index }}"></label>
                                        <div class="check" tabindex="-1" role="radio" ng-keydown="($event.keyCode === 13 || $event.keyCode === 32) && checkRadio($event,$index)" ng-click="checkRadio($event,$index)"></div>
                                    </div>
                                </div>
                                <div class="col-xs-4 m-t-3 padding-l-0">
                                    <span class="radio-label" ng-class="phone.limitError||phone.notEligible?'gray-9b':'text-black'">{{ phone.name }}</span>
                                </div>
                                <div class="col-xs-6 text-center padding-r-0" x-ms-format-detection="none">
                                    <span class="body-copy-description font-size-bodycopy"
                                        ng-disabled="phone.limitError">{{ phone.phone }}</span>
                                </div>
                            </div>
                            <div class="row margin-0" ng-if="phone.notEligible">
                                <div class="col-xs-8 col-xs-offset-2 legal error pt-4 digitError cursor  padding-l-0 padding-r-0"
                                  >
                                    This line is ineligible. Please choose another line or <span class="underline word-wrap">contact us.</span>
                                    <!-- <a class="digitError" aria-label="contact us">contact us</a>. -->
                                </div>
                            </div>
                            <div class="row margin-0" ng-if="phone.limitError">
                                <div class="col-xs-8 col-xs-offset-2 legal error pt-4 digitError cursor padding-l-0 padding-r-0"
                                >
                                    This line has reached the five-device limit. Please choose
                                    another line or <span class="underline word-wrap">contact us.</span>
                                    <!-- <a class="digitError" aria-label="contact us">contact us</a>. -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-xs-12 col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 p-t-32 padding-horizontal-24-xs  padding-horizontal-medium-sm">
                        <p class="legal">
                            <span tabindex="0" aria-label="Plan required for watch purchase">Plan required for watch
                                purchase.
                            </span>
                        </p>
                        <p class="legal">
                            <span tabindex="0" aria-label=" Plan price doesn't include watch">Plan price doesn't include
                                watch.</span>
                        </p>
                    </div>
                    <div
                        class="col-xs-12 col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 padding-top-medium p-b-24-xs padding-bottom-large padding-horizontal-24-xs  padding-horizontal-medium-sm">
                        <button
                            class="btn btn-primary PrimaryCTA w-100 h-48 button-title lineHeight-20 glueButton glueButtonPrimary custom-text-size" id="digiterrormd"
                            ripple value="true" ng-disabled="!radioChecked1" ng-click="openDigitErrorModal()" ng-keydown="$event.keyCode == 13 ? openDigitErrorModal():null">
                            Add plan and link number
                        </button>
                    </div>
                </div>
                <div class="glueDialogContainer" ng-keydown="close($event)" tabindex="{{ visibleLCModal ? 0 : -1 }}"
                    id="glueDialogContainer">
                    <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleLCModal}">
                        <div class="row no-margin">
                            <div class="col-xs-12 no-padding">
                                <button type="button" class="close  pull-right glueAnimationOut"
                                    ng-class="{'glueAnimationIn':visibleLCModal}" ng-click="closeModal()"
                                    tabindex="{{ visibleLCModal ? 0 : -1 }}" aria-label="close icon">
                                    <i class="icox ico-closeIcon" ng-if="visibleLCModal"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row no-margin padding-bottom-small dialogPaddingLCModal scroll">
                            <div class="col-xs-12 no-padding">
                                <h4 class="f-40 text-black text-bold text-center">
                                    <span tabindex="{{ visibleLCModal ? 0 : -1 }}"
                                        aria-label="Digits Apple Watch">Digits Apple Watch</span>
                                </h4>
                                <p ng-keydown="holdFocus($event)"
                                    class="body-copy-description-regular p-t-16 p-b-32-xs  p-b-65 text-black text-center col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-10 col-md-10">
                                    <span tabindex="{{ visibleLCModal ? 0 : -1 }}"
                                        aria-label="With DIGITS you can pair your primary T-Mobile phone number with a wearable with unlimited data (512kbps) and get all your calls and text on both devices. Great option for SIM-Enabled wearables or as a second extension of your primary phone">With
                                        DIGITS you can pair your primary T-Mobile phone
                                        number with a wearable with unlimited data (512kbps) and
                                        get all your calls and text on both devices. Great option
                                        for SIM-Enabled wearables or as a second extension of your
                                        primary phone</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glueOverlay" ng-click="closeModal()"
                    ng-class="{'glueOverlayIn':visibleLCModal,'glueOverlayOut':!visibleLCModal}"></div>

                <!--Digit cost modal-->

                <div class="glueDialogContainer" ng-keydown="close($event)"
                    tabindex="{{ visibleDigitErrorModal ? 0 : -1 }}" id="DigitErrorContainer">
                    <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleDigitErrorModal}"
                        ng-keydown="backTabEvent($event,'digitErrorModal','digitErrorBtn')">
                        <div class="row no-margin">
                            <div class="col-xs-12 no-padding">
                                <button type="button" class="close  pull-right glueAnimationOut"
                                    ng-class="{'glueAnimationIn':visibleLCModal}" ng-click="closeModal()"
                                    tabindex="{{ visibleLCModal ? 0 : -1 }}" aria-label="close icon">
                                    <i class="icox ico-closeIcon" ng-if="visibleLCModal"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row no-margin padding-bottom-small dialogPaddingLCModal scroll">
                            <div class="col-xs-10 col-xs-offset-1 no-padding">
                                <h4 class="text-black text-bold text-center Display4">
                                    <span tabindex="{{ visibleDigitErrorModal ? 0 : -1 }}" aria-label="Uh-oh!"
                                        id="digitErrorModal">Uh-oh!</span>
                                </h4>
                                <div ng-keydown="" class="body p-t-16 p-b-32 text-black text-center">
                                    <div class="p-b-20">
                                        <span tabindex="{{ visibleDigitErrorModal ? 0 : -1 }}"
                                            aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et orci non dolor mattis facilisis">Lorem
                                            ipsum dolor sit amet, consectetur adipiscing
                                            elit. Fusce et orci non dolor mattis facilisis.</span>
                                    </div>
                                    <div class="" x-ms-format-detection="none">
                                        <span tabindex="{{ visibleDigitErrorModal ? 0 : -1 }}"
                                            aria-label="Please choose another line or contact Customer Care by dialing 1-800-937-8997, or by dialing 611 from your T-Mobile phone">Please
                                            choose another line or contact Customer Care by
                                            dialing 1-800-937-8997, or by dialing 611 from your
                                            T-Mobile phone.</span>
                                    </div>
                                </div>
                                <div class="text-center p-b-20">
                                    <button
                                        class="btn btn-primary PrimaryCTA digitErrorModalBtn glueButtonPrimary custom-text-size"
                                        ripple value="true" 
                                        tabindex="{{ visibleDigitErrorModal ? 0 : -1 }}" aria-label="Click here to ok"
                                        id="digitErrorBtn" ng-click="closeDigitErrorModal()">
                                        OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="glueOverlay" ng-click="closeDigitErrorModal()" ng-keydown="close($event)"
                    ng-class="{'glueOverlayIn':visibleDigitErrorModal,'glueOverlayOut':!visibleDigitErrorModal}"></div>
                <!--Digit cost modal-->
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>
