<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rate Plan Change</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/notification.css">
    <link rel="stylesheet" href="page-css/tradein-additional.css">
    <link rel="stylesheet" href="page-css/rate-plan-migration.css">
    <link rel="stylesheet" href="page-css/rate-plan-change.css">
</head>

<body class="bg-white">
    <div ng-controller="ratePlanChangeCtrl" ng-cloak>
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none">
                    <span class="pull-left header-size cursor">
                        <i class="ico-backArrowIcon2 backArrowLarge " ng-click="goBack()">
                        </i>
                    </span>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center p-t-11">
                    <img src="img/tmo-logo.png" id="Img1" class="icon-size text-center" tabindex="0">
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1 p-t-4 p-r-8">
                    <span class="pull-right fa-phn-touch-area header-size">
                        <i class="fa fa-phone fa-phn-cmts" tabindex="0" aria-hidden="true" id="I1"></i></span>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <!--Alert Code: Begin -->
        <div class=" col-xs-12 col-sm-offset-1 col-sm-10 p-l-0-xs p-r-0-xs notifications-alert p-l-0-md p-l-0-lg"
            id="notificationsAlert" ng-class="{'AnimationOut':!visible, 'alertoverlay':visibleRPModal}">
            <div class="display-flex notificationClose">
                <div class="col-xs-12 phone-icon wrapper-icon ">
                    <img src="./img/phone.png" alt="phoneIcon" class="ph-icon cursor" />
                </div>
                <div class="p-t-8-xs p-b-8-xs p-t-16 p-b-16 message-width p-l-15 p-r-15" x-ms-format-detection="none">
                    <span class="break-xs custom-body text-white ">Want to trade-in a device?</span>
                    <span class="body-copy-custom text-white">Call <span class="underline cursor"
                            tabindex="0">1-800-937-8997</span></span>
                </div>
                <div class="close-icon wrapper-icon font-awesome-center">
                    <span class="text-white fa-lg ico">
                        <i class="fa fa-times-thin" ng-click="close()" aria-label="close icon">
                        </i>
                    </span>
                </div>
            </div>
        </div>
        <!--Alert Code: End -->
        <!-- cost add line starts -->
        <div class="bg-f8f8f8" id="mainContentBody">        
            <div class="container">
                <div class="row p-b-50 p-b-25-xs">
                    <div
                        class="col-xs-12 col-sm-10 col-sm-offset-1 Display2 padding-horizontal-24-xs p-t-32-xs p-b-24-xs p-t-60 p-b-40">
                        {{plan}}</div>
                    <div class="col-xs-5 col-sm-3 col-sm-offset-1 col-md-2 p-l-24-xs" ng-repeat="due in todayList"
                        ng-init=init()>
                        <div class="f-14">{{due.today}}</div>
                        <div class="p-t-8 p-b-8"><sup class="Display6">$</sup><sub
                                class="Display2 font-48">{{due.totalAmtToday}}</sub><sup class="Display6">00</sup>
                        </div>
                        <div class="legal black">
                            <span ng-if="due.kitAmt">{{due.kitAmt}}</span>
                            <span ng-if="due.kit">{{due.kit}}</span>
                        </div>
                        <a class="legal color-31 underline cursor" tabindex="0" ng-if="due.details"
                            ng-click="detailsModal()" id="detaillink"
                            ng-keydown="$event.keyCode === 13 && detailsModal()">{{due.details}}</a>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-width-xs padding-horizontal-24-xs padding-horizontal-40-sm">
                        <div class="verticalLine"></div>
                    </div>

                    <div class="col-xs-5 col-sm-3 p-l-0 p-r-24-xs" ng-repeat="dueMonthly in monthlyList">
                        <div class="f-14">{{dueMonthly.monthly}}</div>
                        <div class="p-t-8 p-b-8"><sup class="Display6">$</sup><sub
                                class="Display2 font-48">{{dueMonthly.totalAmtMonthly}}</sub><sup class="Display6">00</sup>
                        </div>
                        <div class="legal black">
                            <div>{{dueMonthly.content1}}</div>
                            <div class="p-b-4">{{dueMonthly.content2}}</div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <!-- cost add line -->
        <div class="container alertAnimationOut content" id="mainContent">
            <div class="main-content">

                <!-- change your plan starts -->
                <div class="row p-t-25">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="p-b-8 Display4 font-24">You’ll need to change your plan.
                        </div>
                        <p class="p-b-25 color-03">We no longer sell your current plan, but our Magenta<sup>®</sup> plan gives you
                            many of the same benefits—and even more.</p>
                    </div>
                    <div id="fixed-content" class="col-xs-12 col-sm-10 col-sm-offset-1 no-padding hideheader"
                        ng-class="{'sticky-top':sticktop==true}">
                        <!-- starts -->
                        <div class="col-xs-6 col-sm-6 no-padding-xs p-l-0">
                            <p class="text-center text-black font-10 p-b-8">CURRENT PLAN</p>
                            <div class="col-12 text-center no-padding box-border-fixed">
                                <div class="current-plan-title h-48 lineHeight-20 glueButton">
                                    T-Mobile ONE </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 no-padding-xs p-r-0">
                            <p class="text-center text-black font-10 p-b-8">NEW PLAN</p>
                            <div class="col-12 text-center box-border">
                                <div class="new-plan-title PrimaryCTA h-48 lineHeight-20">
                                    Magenta<sup>®</sup>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                    <div id="plan-content" class="col-xs-12 col-sm-10 col-sm-offset-1 no-padding">
                        <!-- starts -->
                        <div class="col-xs-6 col-sm-6 no-padding-xs p-l-0">
                            <p class="text-center text-black font-10 p-b-8">CURRENT PLAN</p>
                            <div class="col-12 text-center no-padding box-border-left height-content">
                                <div class="current-plan-title h-48 lineHeight-20 glueButton">
                                    T-Mobile ONE </div>
                                <div class="content">
                                    <div class="p-t-30 padding-horizontal-small-xs padding-horizontal-small"
                                        ng-repeat="val in leftListDetails|limitTo:numLimit ">
                                        <div class="text-black  word-break" id="currentdiv{{$index}}"
                                            ng-style="getleftdivheight('currentdiv'+$index, 'newdiv'+$index,  $index)">
                                            <p class="Display2 text-black" ng-if="val.amount">
                                                {{val.amount}}<span class="font-20 p-b-5">/mo</span>
                                            </p>
                                            <p class="font-12 text-black bold" ng-if="val.lines">{{val.lines}}
                                            </p>
                                            <p class="font-12 text-black" ng-if="val.content">{{val.content}}</p>
                                            <p class="font-18 text-black" ng-if="val.title">{{val.title}}
                                            </p>
                                            <p class="font-14 text-black word-break p-t-8" id="taxesDiv">
                                                <span ng-if="val.value"
                                                    ng-class="{'display-none':val.value =='true' || val.value == 'false'}">{{val.value}}</span>
                                                <img ng-if="val.value =='true'" src="./img/right-green-icon.svg"
                                                    alt="available icon">
                                                <img ng-if="val.value =='false'" src="./img/close.svg"
                                                    alt="plan not available">
                                            </p>

                                        </div>
                                        <hr class="hr-text" ng-if="$index == 4 && showBenefits"
                                            data-content="MORE BENEFITS">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--left box-->
                        <div class="col-xs-6 col-sm-6 no-padding-xs p-r-0">
                            <p class="text-center text-black font-10 p-b-8">NEW PLAN</p>
                            <div class="col-12 text-center box-border-right height-content">
                                <div class="new-plan-title PrimaryCTA h-48 lineHeight-20">
                                    Magenta<sup>®</sup>
                                </div>
                                <div class="content">
                                    <div class="p-t-30 content padding-horizontal-small-xs padding-horizontal-small"
                                        ng-repeat="val in rightListDetails|limitTo:numLimit">
                                        <div class="text-black  word-break" id="newdiv{{$index}}"
                                            ng-style="getrightdivheight('currentdiv'+$index, 'newdiv'+$index,  $index)">
                                            <p class="Display2 text-black" ng-if="val.amount">
                                                {{val.amount}}<span class="font-20 p-b-5">/mo</span>
                                            </p>
                                            <p class="font-12 text-black bold" ng-if="val.lines">
                                                {{val.lines}}
                                            </p>
                                            <p class="font-12 text-black" ng-if="val.content">{{val.content}}</p>
                                            <p class="font-18 text-black" ng-if="val.title">{{val.title}}
                                            </p>
                                            <p class="font-14 text-black word-break p-t-8" id="taxesDiv">
                                                <span ng-if="val.value"
                                                    ng-class="{'display-none':val.value =='true' || val.value == 'false'}">{{val.value}}</span>
                                                <img ng-if="val.value =='true'" src="./img/right-green-icon.svg"
                                                    alt="available icon">
                                                <img ng-if="val.value =='false'" src="./img/close.svg"
                                                    alt="plan not available">
                                            </p>

                                        </div>
                                        <hr class="hr-text hr-magenta" ng-if="$index == 4 && showBenefits"
                                            data-content="MORE BENEFITS">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ends -->

                    </div>
                    <!-- starts -->
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 padding-horizontal-24-xs p-t-8">
                        <div class="text-center p-25" ng-if="!showBenefits">
                            <a class="color-magenta font-18 text-center" tabindex="0"
                                ng-keydown="focusShowBenefits($event)" ng-click="showadditionalbenibits()"> Show additional benefits</a>
                        </div>

                        <div class="text-center p-25" ng-if="showBenefits">
                            <a class="color-magenta font-18 text-center" tabindex="0"
                                ng-keydown="focusHideBenefits($event)" ng-click="hideadditionalbenibits()"> Hide
                                additional benefits</a>
                        </div>
                        
                    <div ng-repeat="list in listArray;" ng-init=init()>
                        <button class="accordion" ng-click="toggle($index)">{{list.listTitle}}</button>
                        <div class="panel">
                            <div class="color-26 font-14">
                                <p class="font-14 bold color-2b">{{list.updateTitle}}</p>
                                <ul class="p-b-24 list-none font-14">
                                    <li class="p-t-8 d-flex color-26" ng-repeat="update in list.updateDetail">
                                        <div>
                                            <img alt="alert" ng-src="{{update.planIcon}}" alt="alert icon" class="p-b-4">
                                        </div>
                                        <div class="m-l-16">
                                            <span>{{update.planDetail}}</span>
                                        </div>
                                    </li>
                                </ul>
                                <p class="p-b-32">{{list.info2}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div
                class="col-xs-12 col-sm-10 col-sm-offset-1 p-l-0-xs p-r-0-xs p-t-24">
                <p class="color-81 p-b-40 padding-horizontal-24-xs font-10">Monthly cost only includes the
                    additional voice line.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1 p-l-0-xs p-r-0-xs p-t-24 p-b-90-sm p-b-90-md p-b-90-lg p-b-40-xs">
                <button
                    class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton glueButtonPrimary custom-text-size button-fixed"
                    ripple value="true">Add a new line
                </button>
            </div>
                <!-- change your plan ends -->
            </div>

            <!-- Dialog starts -->
            <div tabindex="{{ visibleRPModal ? 0 : -1 }}" class="glueDialogContainer" id="glueDialogContainerId">
                <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleRPModal}">
                    <div class="row no-margin">
                        <div class="col-xs-12 no-padding">
                            <button id="glueDialogContainer" type="button" class="close pull-right glueAnimationOut"
                                ng-keydown="holdFocus($event)" ng-class="{'glueAnimationIn':visibleAnimation}"
                                ng-click="closeModal()">
                                <i class="icox ico-closeIcon" ng-if="visibleAnimation"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row no-margin padding-bottom-small dialogPaddingLCModal scroll">
                        <div class="col-xs-12 no-padding" ng-repeat="list in modalArray" x-ms-format-detection="none">
                            <h4 class="f-24 text-black text-bold text-center " ng-class="{'p-t-16':($index>0)}">
                                {{list.modalTitle}}</h4>
                            <p class="body-copy-description-bold p-t-24 text-black">{{list.contentTitle}}
                            </p>
                            <p class="body-copy-description-regular p-b-32 text-black">{{list.content}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="glueOverlay" ng-click="closeModal()"
                ng-class="{'glueOverlayIn':visibleRPModal,'glueOverlayOut':!visibleRPModal}"></div>
            <!-- Dialog ends -->
        </div>

        <!-- Dependencies -->
        <script src="js/core/angular.min.js"></script>
        <script src="js/core/angular-animate.min.js"></script>
        <script src="js/core/angular-aria.min.js"></script>
        <script src="js/core/angular-cookies.min.js"></script>
        <script src="js/core/angular-loader.min.js"></script>
        <script src="js/core/angular-messages.min.js"></script>
        <script src="js/core/angular-message-format.min.js"></script>
        <script src="js/core/angular-sanitize.min.js"></script>
        <script src="js/core/angular-touch.min.js"></script>
        <script src="js/core/angular-route.min.js"></script>
        <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
        <script src="js/app.js"></script>
        <script src="js/ripple.js"></script>
        <!-- Custom scripts -->
</body>

</html>
