<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tablet data plan</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">    
    <link rel="stylesheet" href="page-css/tradein-data-plan.css">
</head>

<body class="bg-white">

    <div ng-controller="tradeInDataPlanCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none">
                    <span class="pull-left header-size cursor">
                        <i class="ico-backArrowIcon2 backArrowLarge " ng-click="goBack()">
                        </i>
                    </span>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center p-t-11">
                    <img src="img/tmo-logo.png" id="Img1" class="icon-size text-center" tabindex="0">
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1 p-t-4 p-r-8">
                    <span class="pull-right fa-phn-touch-area header-size">
                        <i class="fa fa-phone fa-phn-cmts" tabindex="0" aria-hidden="true" id="I1"></i></span>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <div class="container no-padding overflowHidden">
            <div class="main-content">
                <div class="row m-l-0">
                    <div
                        class="col-sm-10 col-sm-offset-1 col-xs-12 padding-horizontal-12 p-t-32-xs p-b-24 p-b-48-sm p-t-64-sm">
                        <h4 class="Display2">How much data would you like?</h4>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5  col-xs-12 p-b-24 p-b-24-sm"
                    ng-repeat="choice in tradeChoice track by $index"
                    ng-class="{'col-md-offset-1 col-sm-offset-1':$even}">
                    <div class="col-xs-12 div_shadow_box  h-207 p-t-15-xs p-b-15-xs p-t-24-sm p-b-32-sm p-l-25-sm p-r-25-sm p-l-15-xs p-r-15-xs alignItems" tabindex="0" 
                        ng-class="{'div_shadow_box_focus': showImage[$index] }"
                         ng-click="showBoxDetails($index, choice)"
                        ng-keyDown="$event.keyCode== 9 ? showBoxDetails($index, choice, $event.keyCode) : null"
                         [attr.aria-label]="choice.title + choice.desc">

                        <div class="col-sm-12 col-xs-12 p-l-0 vertical-middle no-padding margin-left">
                            <div>
                                <img ng-src="img/check_circle.svg" class="valid_img vertical-center" alt="valid image" ng-if="showImage[$index]" />
                                <p class="Display5 font-19-sm">{{choice.title}}</p>
                                <p class="body-copy-description-regular black p-t-8" ng-If="choice.desc != ''"
                                    >{{choice.desc}}</p>

                                <!-- starts -->
                                <div class="p-t-24-sm">
                                    <div class="f-14">DUE MONTHLY</div>
                                    <div class="p-t-8 p-b-16"><sup class="Display6">$</sup><sub
                                            class="Display4 " attr.aria-label="{{choice.totalAmtToday}}">{{choice.totalAmtToday}}</sub><sup
                                            class="Display6" aria-label="00">00</sup>
                                    </div>
                                    <div class="col-md-6 legal p-b-4 p-l-0 p-r-0">
                                        New line on <a class="text-decoration-underline"  href=""  id="linkDetails"
                                    ng-click="manymoreTaxModal($index)">Magenta Tablet Unlimited</a> with Autopay. Taxes and fees excluded.
                                        </div>
                                </div>
                                <!-- ends -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-bottom-xxl">
                    <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-md-offset-1 col-sm-offset-1 p-l-25 p-m padding-horizond p-t-24 p-b-24">
                <button class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  glueButtonPrimary  glueButtonContinue width-100 custom-text-size" ripple value="true" id="detaillink"
                             tabindex="0">Select and Continue 
                </button>
                    </div>
                </div>
                </div>

           
                <!-- Dialog starts -->
                <div tabindex="{{ visibleLCModal ? 0 : -1 }}" class="glueDialogContainer" id="glueDialogContainerId1">

                    <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleLCModal}"
                        ng-keydown="backTabEvent($event, 'glueDialogContainerId1', 'closeId1' )">
                        <div class="row no-margin">
                            <div class="col-xs-12 no-padding">
                                <button id="glueDialogContainer1" type="button"
                                    class="close pull-right glueAnimationOut"
                                    ng-class="{'glueAnimationIn':visibleAnimation1}" ng-click="closeTaxModal()"
                                    tabindex="{{ visibleLCModal ? 0 : -1 }}">
                                    <i class="icox ico-closeIcon" ng-if="visibleAnimation1"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row no-margin padding-bottom-small dialogPaddingLCModal">

                            <div class="row no-margin dialogPadding scroll">


                                <div class="col-xs-12 no-padding" ng-repeat="list in modalArray">
                                    <h4 class="f-24 text-black text-bold text-center " ng-class="{'p-t-16':($index>0)}">
                                        {{list.modalTitle}}</h4>
                                    <p class="body-copy-description-bold p-t-24 text-black">{{list.contentTitle}}</p>
                                    <p class="body-copy-description-regular p-b-32 text-black" id="closeId1">
                                        {{list.content}}</p>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="glueOverlay" ng-click="closeTaxModal()" tabindex="{{ visibleLCModal ? 0 : -1 }}"
                ng-class="{'glueOverlayIn':visibleLCModal,'glueOverlayOut':!visibleLCModal}"></div>
                <!-- Dialog ends -->

            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>