<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trade in or not</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/notification.css">
    <link rel="stylesheet" href="page-css/device-intent.css">
    <link rel="stylesheet" href="page-css/tradein-additional.css">
</head>

<body class="bg-white">

    <div ng-controller="tradeInorNotCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
                <div class="container no-padding">
                    <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" >
                        <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size cursor" tabindex="0" aria-label="go back" ng-click="goBack()"></i>
                    </div>
                    <div class="col-xs-4 col-md-4 col-lg-2 text-center "  aria-label="T-Mobile icon">
                        <img src="img/tmo-logo.png" id="Img1" tabindex="0" role="link" aria-label="T mobile" class="tmo-icon-size text-center hidden-xs" />
                        <p class="hidden-sm hidden-md hidden-lg Display6 header-size" tabindex="0">Trade-in</p>
                    </div> 
    
                    <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                        <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" tabindex="0" role="link" aria-label="chat with us" id="I1"></i>
                        <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" tabindex="0" id="I2" role="link" aria-label="call us"></i>
                    </div>
                </div>
            </div>
            <!--Header Code: End -->
        <div class="container no-padding overflowHidden" >
            <div class="main-content">
                <div class="row m-l-0">
                    <div class = "col-sm-10 col-sm-offset-1 col-xs-12 padding-horizontal-24 p-t-32-xs p-b-24 p-b-48-sm p-t-64-sm">
                    <div class="Display2 " tabindex="0">Want to trade in a device?</div>
                </div>
                </div>
                <div class="row m-l-0">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-r-0 p-l-0-xs padding-horizontal-24 p-b-24" tabindex="0">
                        We’ll tell you if your trade-in qualifies for a promotion and show you its estimated value.
                    </div>
                </div>
                <div class="col-md-5 col-sm-5  col-xs-12 no-padding-xs" ng-repeat="choice in tradeChoice"
        ng-class="{'col-md-offset-1 col-sm-offset-1':$even}">
        <div class="col-xs-12 div_shadow_box border_bottom_xs h-270 d-flex_xs p-t-24-xs p-b-24-xs p-t-24-sm p-b-32-sm p-l-24 p-r-24 alignItems"
            ng-class="{'border_top_xs':($index == 0),'h-255': isDesktop }" ripple value="true" >
            <div class="col-sm-12 col-xs-2 float-none text-left-xs no-padding">
                <img ng-src="{{choice.imgUrl}}" class="img-width-mobile img-height-desktop vertical-center" tabindex="0" aria-label="trade in">
            </div>
            <div class="col-sm-12 col-xs-10 p-l-0 vertical-middle no-padding margin-left">
                <div>
                    <p class="Display5 font-19-sm p-t-24-sm" tabindex="0">{{choice.title}}</p>
                    <p class="body-copy-description-regular black p-t-8" ng-If="choice.desc != ''" tabindex="0">{{choice.desc}}</p>
                    <p class="body-copy-description-regular brand-magenta p-t-8 cursor" ng-If="choice.subtitle != ''" tabindex="0" role="link"  >{{choice.subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
                <div class="row padding-bottom-xxl">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>