<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trade in</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/tradein.css">
</head>

<body  class="bg-white"  >

    <div ng-controller="tradeInCtrl">
        <!--Header Code: Begin -->
        <div class=" text-center header-box-shadow" id="topHeader">
            <div class="container no-padding">
                <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1 cursor-none" ng-click="goBack()">
                    <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size cursor"></i>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                    <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center hidden-xs" />
                    <p class="hidden-sm hidden-md hidden-lg Display6 header-size">Line selector</p>
                </div>

                <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                    <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                    <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>
                </div>
            </div>
        </div>
        <!--Header Code: End -->
        <div class="container overflowHidden" ng-cloak>
            <div class="main-content">
                <div ng-include="'partials/trade-in-template.html'"></div>
                <!--Load Views -->
                <!--<div ng-view> </div> -->
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>