
.body-copy-description-regular{
    font-size: 14px;
    line-height: 20px;
    font-family:Arial;
	font-weight:normal;
	letter-spacing: -0.1px;
}
  
.body-copy-description-bold{
	font-size: 14px;
	line-height: 20px;
	font-family:Arial;
	font-weight:bold;
	letter-spacing: -0.1px;
}
  
.button-title {
  font-size: 20px;   
  line-height: 24px; 
  font-family:Tele-Fet;
}

.h2-title {
  font-family: Tele-Fet;
  color: #000000;
  font-size: 38px!important;
  line-height: 59px!important;
  letter-spacing: -0.1px;

}
.h3-title {
  font-family: Tele-Fet;
  color: #000000;
  font-size: 38px!important;
  line-height: 36px!important;
  letter-spacing: -0.1px;
}
.h4-title {
 font-family:Tele-Fet;
  color: #000000;
  font-size: 26px!important;
  line-height: 26px!important;
  letter-spacing: -0.1px;
}
.fine-print-body{
    font-size: 11px!important;
    line-height: 15px!important;
    font-family: Arial;
}
  .eyebrow{
    font-size: 11px!important;
    line-height: 12px!important;
    font-family: Arial;
	font-weight: bold;
  }
.title {
	font-family:Arial;
  color: #000000;
  font-size: 18px!important;
  line-height: 20px!important;
  font-weight:bold;
}
.tab-title {
	font-family:Arial;
  color: #000000;
  font-size: 14px!important;
  line-height: 17px!important;
    font-weight:bold;
}

.fine-print-body-bold{
    font-size: 11px!important;
    line-height: 15px!important;
    font-family:  Arial;
	font-weight: bold;
  }
.border{
	border: 2px solid #bbb8b8;
    border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:10px;
}

@media (min-width: 768px){
.border{
    width: 340px;
  }
}

@media (max-width: 767px){
	.padding-mobile {
		padding:0;
	}
}

.PrimaryCTA{
    height:54px !important;
    font-size:14px !important;
    color:#fff !important;
	font-family:Arial;
}

.SecondaryCTA{
    height:54px !important;
    font-size:14px !important;
    color:#000000 !important;
	font-family:Arial;
}

.SecondaryCTAborder {
	
	border-color: #ffffff !important;
}

.p-l-15 {
	
	padding-left:15px
}

.p-r-15 {
	
	padding-right:15px;
}

.p-r-2 {
	padding-right:2px
}




