.price-toggle {
    margin-top: -7px;
}
/* Small color-picker begin */

.small-color-picker.color-picker .rad span::before {
    height: 20px;
    width: 20px;
}

.small-color-picker.color-picker .rad span {
    padding: 0.5rem;
}

.banner-wrap img {
    width: 100%;
}

.banner-wrap > hr {
    border-top-color: #d5d5d5;
}

.banner-wrap .container {
    max-width: 100%;
}

.phones-list {
    display: block;
    width: 100%;
    position: relative;
}

/*Filter css starts here*/

.dropSelect {
    position: relative;
    z-index: 1;
}
.drop-row {
    border: 1px solid #bebebe;
    font-size: 1.2rem;
    background: #ffffff;
    color: #767676;
    padding: 7px 0 36px 15px;
}
.sort-width{
   width: 180px; 
}
.link-out a:focus{
    outline: none;
}
.dropDown{
    border: 1px solid #ccc;
    position: absolute;
}
.dropDown ul {
    background-color: #ffffff;
    width: 100%;
}
.dropDown ul li {
    font-size: 1.2rem;
    color: #767676;
    max-width: 100%;
}
.dropDown ul li:hover {
    color: #e20074;
    cursor: pointer;    
}
.dropDown ul li:last-child {
    border-bottom: 0;
}
.dropDown ul li:first-child {
    border-top: 0;
}

.display-flex{
    display: flex;
}
.dropdown-position{
    position: absolute;
    z-index: 10;
}
.font-size-15{
    font-size: 15px;
}
.p-l-100{
    padding-left: 100px;
}
.p-t-8{
    padding-top: 8px;
}
.bdr-height{
    height: 30px;
    padding-left: 15px;
}

/*Filter css ends here*/

/* page-no-items css starts here */
ul.view-a li {
    float: left;
    padding-right: 20px;
}
ul.view-a li:nth-child(2) {
    padding-right: 15px;
}
/* page-no-items css ends here */

/* color-swatch starts here */
	.color-picker-accordion .color-picker .rad span::before {
        content: "";
        display: block;
		margin: -3px;
        height: 20px;
        width: 20px;
    }
	.color-picker .rad span {
		padding: 0.8rem;
	}
	.color-picker .rad {
		margin-bottom:0;
	}
.color-picker-accordion  .panel > .panel-heading, 
.color-picker-accordion  .panel-default > .panel-heading {
	padding: 1px 0 1px 35px;
}
.color-picker-accordion uib-accordion .panel-default > .panel-heading .panel-title > a i {
    padding-top: 12px !important;
}
.color-picker-accordion {
    width: 241px;
}
.color-picker-accordion .panel-heading .accordion-toggle {
    margin-top: -43px;
    outline: 0;
}
.color-picker-accordion .panel-group .panel {
    border-bottom: 0;
}
.color-picker-accordion .panel-heading {
    border: medium none !important;
}
.color-picker-accordion .panel-body {
    padding: 0px;
}
.color-picker-accordion .panel-group {
    margin-bottom: 0px;
}

.color-picker .rad span[data-color='red']:before, .color-picker .rad span[data-color='orange']:before {
    background-color: #efaf71;
}
.color-picker .rad span[data-color='green']:before {
    background-color: #72ab8b;
}
.color-picker .rad span[data-color='brown']:before {
    background-color: #aa8c74;
}

/* color-swatch ends here */

/* accordion starts here */
uib-accordion .panel > .panel-heading,
.accordion .panel > .panel-heading,
uib-accordion .panel-default > .panel-heading,
.accordion .panel-default > .panel-heading {
    padding: 0;
}

 uib-accordion .panel > .panel-heading .panel-title > a:focus {
    outline: none;
}
.panel-group {
    margin-bottom:0;
}
.panel-group .panel {
    border-bottom: 1px solid #dddddd;
}

uib-accordion .panel-default > .panel-heading,
.accordion .panel-default > .panel-heading {
    border-bottom:0;
}
/* accordion ends here */
.full-width-image {
    width: 100%;
}

/*Modal Starts Here*/

.phone-carousel .fa-angle-left,
.phone-carousel .fa-angle-right {
    font-size: 2em;
    top: 50%;
    margin-top: -22px;
}

.phone-carousel .carousel-indicators {
    bottom: -45px;
}

.font-size-14 {
    font-size: 14px;
}

.learnmore-text {
    max-width: 280px;
}

.learn-link {
    margin-left: -109px;
    padding-top: 70px;
    position: relative;
}
/*Modal Ends Here*/

/* 768 ==== */

@media (min-width: 768px) {
    .p-t-0-imp {
        padding-top: 0px !important;
    }
    .no-border-lg {
        border: 0px;
    }
    uib-accordion .panel-default > .panel-heading .panel-title > a i{
        top:0px;
    }
    
    /*Modal Starts Here*/

    .phone-carousel .carousel {
        height: 450px;
    }
    .phone-carousel .carousel-inner {
        top: 175px;
    }
/*Modal Ends Here*/
    
}

@media (max-width: 980px) {
 .link-out .dropDown ul li .checkbox .label-copy > p {
        font-size: 11px;
    }

    .link-out .dropDown .display-flex .no-padding > p {
        font-size: 13px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.clear-fix {
		clear: both;
	}
}

@media (max-width: 767px) {
    .no-border-left-xs {
        border: 0px;
    }
     uib-accordion .panel-default > .panel-heading .panel-title > a i{
        top:5px;
    }
	.color-picker-accordion uib-accordion .panel-default > .panel-heading .panel-title > a i {
		padding-top: 8px !important;
	}
    
        /* page-no-items css starts here */
    
    .view-a {
        width: 110px;
    }
    /* page-no-items css ends here */
    
    
    /*Modal Starts Here*/
    .phone-carousel .fa-angle-right {
        margin-right: -6px;
    }
    .phone-carousel .carousel-control {
        width: 50px;
    }
    .device-text {
        margin: 0 auto;
        text-align: left;
        width: 240px;
    }
/*Modal Ends Here*/  
    
}
/* media query end */

.nav-height{
    height: 30px;
}