
@media (min-width:767px){
.pull-right-md{
	float:right;
}
}
@media (min-width:767px){
.pull-left-md{
	float:left;
}
}
.close{
    right:0px;
    top:0px;
    width: 20px;
	height: 20px;
    margin-top: 20px;
    margin-right: 15px;
    font-size:20px;
	color:#fff;
}
.modal-dialog {
    margin-top: 60px;
}
.fa{
	width: 20px;
    height: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight:bold !important;
  color:black !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight:bold !important;
  color:black !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight:bold !important;
  color:black !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight:bold !important;
  color:black !important;
}

.email-text-left {
	margin-left: -230px;
}

.email-textbox-size {
	width: 260px !important;
}

.bg-black {
    background: white;
}
.autopay .modal {
    background: black;
}

.grayLight{
    color:#6A6A6A;
}

.close:focus, .close:hover {
	    color: #fff;
}
@media (max-width: 767px) {

    .autopay .modal-background {

        background:black;
        border-radius: 2px;
    }

    .modal-background-mobile {
        background:white;
        border-radius: 2px;

    }

    .padding-bottom-mobile {
        padding-bottom:35px
    }

    .padding-horizondal-mobile {

        padding-right: 25px;
        padding-left: 25px;
    }

    .modal-mobile-width {

        min-width: 280px;
        margin: auto;
    }
   /* .close {
        right: 15px;
        top: 20px;
        font-size: 20px;
        color: white;
        z-index: 1000;
        padding-bottom:20px;
    }*/

}
/*
@media(min-width: 1150px){
    .close {
        right: 10%;
        font-size: 20px;
        color: white;
        z-index: 1000;
        padding-bottom:20px;
    }

}*/
