/* tab section starts here */

.plp-widetab .nav-tabs > li > a,
.plp-widetab.nav-tabs > li > a,
.plp-widetab .nav-tabs > li > a:hover,
.plp-widetab.nav-tabs > li > a:hover,
.plp-widetab .nav-tabs > li > a:focus,
.plp-widetab.nav-tabs > li > a:focus {
	border-bottom: 2px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 20px;
}
.plp-widetab .tab-content {
    border-top: 2px solid #dddddd;
    margin-top: -9px;
}
.plp-widetab ul.nav-tabs-wrapper {
   background: none;
}
.plp-widetab ul.nav-tabs > li.active {
    z-index: 999;
}
/* tab section ends here */

/* media query starts */

@media (min-width: 320px) and (max-width: 442px) {
	.plp-widetab .nav-tabs > li > a,
	.plp-widetab.nav-tabs > li > a,
	.plp-widetab .nav-tabs > li > a:hover,
	.plp-widetab.nav-tabs > li > a:hover,
	.plp-widetab .nav-tabs > li > a:focus,
	.plp-widetab.nav-tabs > li > a:focus {
		height: 102px;
	}
}

 @media (min-width: 1140px) {
	.plp-widetab .tab-content {
		margin-top: -2px;
	}
}

/* media query end */

.scroll-btn{
	top: 50% !important;
	height: 38px;
	width: 40px;
	right: 0px !important;
	float: right !important;
	position: fixed !important;
	padding: 9px 13px 9px;
	z-index:1000;

}

.promo-align{
 text-align: center;
 padding-right: 225px;
 }
.dropdown .dropdown-menu li.dropdown-option {

	border-bottom: 0px!important;
}

.padding-sort-medium {
	padding: 15px !important;
}
.dropdown .dropdown-menu li.dropdown-option > a {
	margin: 0px 15px;
	padding-bottom: 5px !important;
	padding-top: 5px !important;

}
.color-to-div:focus, .color-to-div:hover {
    background: #e20074;
    color: #fff;
}