
.display-table-cell {
    display: table-cell;
}

.p-r-0-imp {
    padding-right: 0px !important;
}
.p-r-220 {
	padding-right: 220px! important;
}

.border-right-height {
    height: 28px;
}

.name-phone-width {
    width: 156px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-25 {
    font-size: 25px;
}

.border-box {
    padding: 0px 15px;
    border: 1px solid #DDDDDD;
}

.border-r {
    border-right: 1px solid #DDDDDD;
    height: 150px;
    margin-right: 20px; 
    margin-bottom: 20px;
}

sup {
    font-size: 1.0rem;
}


@media (min-width: 320px) and (max-width: 442px) {
   
	.myphone_details{
    padding-left: 10px!important;
	    padding-right: 10px!important;
  padding-top: 30px!important;
}
.dev-details {
    width: 70%;
}
.phone-details {
    margin-top: 10px;
    width: 30%;
}
.textalign{
	text-align:center!important;
}

}

 @media (min-width: 1140px) {
   .myphone_details {
    padding-left: 40px!important;
	    padding-right: 40px!important;
  padding-top: 50px!important;
}
.dev-details {
    width: 70%;
}
.phone-details {
    margin-top: 10px;
    width: 30%;
}

}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.row-fluid {
    width: 100%;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.sortby-index{
	z-index:1;
}

.dropdown-index{
	z-index:1;
}

.dropdown-selection-index {
	z-index:100;
}

.circle-promo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e20074;
    text-align: center;
    position: relative;
}
.circle-promo span {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.promo-text {
	color: #fff;
    font-size: 1.4rem;
    font-family: Tele-Fet, serif;
	line-height: 14px;
	padding-top:2px !important;
}

.save-promotion-textsize {
	font-size:14px !important;
	font-weight: normal;
}

.visiblity-element {
	    visibility: hidden !important;
}

.display-element {
	    display: none !important;
}
@media (min-width: 320px) and (max-width: 767px){
.d-view{
    display:none;
}

.margin-frp-xs {
	margin-left:-30px;
	margin-right:-15px;
	text-align:center;
}

}
@media (min-width: 768px){
    .m-view{
        display:none;
    }
}
@media (min-width: 768px) and (max-width:823px) {
    .m-r-results {
        margin-right: -13%;
    }
    .m-t-results{
        margin-top: -136px!important;
    }
}
@media (min-width: 824px) and (max-width:948px) {
    .m-r-results {
        margin-right: -12.5%;
    }
    .m-t-results{
        margin-top: -116px!important;
    }
}
@media (min-width: 949px) and (max-width:991px) {
    .m-r-results {
        margin-right: -12%;
    }
    .m-t-results{
        margin-top: -96px!important;
    }
}
@media (min-width: 992px) and (max-width:1151px) {
    .m-r-results {
        margin-right: -12%;
    }
    .m-t-results{
        margin-top: -96px!important;
    }
}
@media (min-width: 1152px) and (max-width:1199px) {
    .m-r-results {
        margin-right: -11.50%;
    }
    .m-t-results{
        margin-top: -75px!important;
    }
}
@media (min-width: 1200px) {
    .m-r-results {
        margin-right: -11.30%;
    }
    .m-t-results {
        margin-top: -75px;
    }
}
.arialFont{
    font-family: arial;
}
.teleUlt-16{
    font-family: Tele-Ult;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
}
.d-inline-flex{
    display: inline-flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.colorBox{
    width: 20px;
    height: 20px;
}
.colorBox:focus{
    outline: 1px solid grey;
    outline-offset: 5px;
}
.m-8{
    margin: 8px;
}
.justify-content-center{
    justify-content: center;
}
.cursor{
    cursor: pointer;
}