<!DOCTYPE html>
<!--Trade Condition: Start -->
<div class="row slide-left" ng-hide="tradeCondtn" ng-class="{'slide-out':tradeCondtn}"> 
    <div class="col-sm-10 col-sm-offset-1 col-xs-12 p-l-24-xs p-r-24-xs">
        <h1 class="Display2 text-bold p-t-48-sm p-t-32-xs p-b-24-xs p-b-32-sm Display2-mob"> Tell us about the condition of your old phone </h1>
    </div>
        <div class="col-md-5 col-sm-5  col-xs-12 no-padding-xs "  ng-click="goToTradeVal()" ng-repeat="tradeInDetail in tradeinDetails" ng-class="{'col-md-offset-1 col-sm-offset-1':$even}"> 
        <div class="col-xs-12 div_shadow_box border_bottom_xs row_reverse_xs p-t-24-xs p-b-24-xs  p-l-24 p-r-30 p-t-32 p-b-32-sm " ng-class = "{'border_top_xs':($index == 0),'h-255': isDesktop }"
        ripple value="true">
            <div class="col-sm-12 col-xs-4">
                <img ng-src="{{tradeInDetail.image}}" class="img_width pull-right-xs vertical-center">
            </div>
            <div class="col-sm-12 col-xs-8">
                <p class="Display5 p-t-16-sm">{{tradeInDetail.condition}}</p>
                <p class="legal bold letter-05 p-t-4">{{tradeInDetail.information}}</p>
                <p class="body-copy-description-regular text-black letter-0 p-t-8">{{tradeInDetail.issues}}</p>
                <p class="body-copy-description-regular text-black letter-0">{{tradeInDetail.screenCondition}}</p>
                <p class="body-copy-description-regular text-black letter-0">{{tradeInDetail.miscellaneous}}</p>
                
            </div>
        </div>
    </div>

    <div class="col-sm-10 col-sm-offset-1 col-xs-12 p-t-24 m-b-40 text-xs-center">
        <a class="h6-title text-magenta-imp" ng-click="phoneModal()">Not sure what to select?</a>
    </div>
    <div class="glueDialogContainer">
        <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="close()">
                        <i class="ico ico-closeIcon" ng-if="visibleAnimation"></i>
                    </button>
                </div>
            </div>
            <div class="row no-margin dialogPadding scroll">
                <div class="col-xs-12 no-padding padding-bottom-large">
                    <h4 class="text-black text-bold text-center">{{phoneTitle}}</h4>
                </div>
                <div class="col-xs-12 no-padding" ng-repeat="list in phoneArray">
                    <p class="padding-top-medium body-copy-description-bold text-black">
                        {{list.quesn}}
                    </p>
                    <p class="body-copy-description-regular letter-0 text-black">{{list.answer}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="glueOverlay" ng-click="close()" ng-class="{'glueOverlayIn':visibleAnimation,'glueOverlayOut':!visibleAnimation}">
    </div>
</div>
<!--Trade Condition: End -->
<!--Trade Value: Start -->

<div class="row p-t-40-xs" ng-class="{'slide-left-md':!tradeValue}" ng-hide="tradeValue">
        <div class="trade-in-content">
        <div class="col-xs-12 col-sm-3 p-t-56-sm col-sm-offset-1 text-center">
            <img ng-src="{{phonecondtion_fullImage}}" class="mobileImage justify-content-center pull-left-xs  slide-top-xs margin-left-25  " >
        </div>
        <div class="col-xs-12 col-sm-7 p-t-64-sm padding-horizontal-24-xs slide-left-xs margin-left-10">
            <div class="row no-margin p-t-16-xs">
                <div class="col-12">
                    <p class="Display2 text-black title-text letter-spacing-03">Great! You're qualified for the $250.00 bill credit for your old phone. </p>
                    <p class="body-copy-description-bold letter-0 text-black p-t-16-xs p-t-24-sm">Remember to turn off “Find my iPhone” before sending your phone to get your bill credit</p>
                    <p class="legal lineHeight-12 letter-0 p-t-15-xs p-t-16">Your device final value will be based upon valuation of trade-in device upon receipt.</p>
                </div>
            </div>
    </div>
        </div>
            <div class="col-xs-12 col-sm-7 p-t-44-xs p-t-40-sm p-b-24-xs d-sm-flex flex-flow-sm padding-horizontal-24-xs slide-left-xs margin-left-10">
                <div class="col-xs-12 glueButton pull-right p-r-0-sm p-r-0-lg p-l-0-sm p-l-0-lg p-l-0-xs p-r-0-xs m-l-32-sm">
                    <button class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary   custom-text-size text-ellipse hidden-sm hidden-md hidden-lg"
                        ripple value="true">Continue trade in this phone
                    </button>
                    <button class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary   custom-text-size text-ellipse hidden-xs"
                        ripple value="true">Continue trade in
                    </button>
    
                </div>
                <div class="col-xs-12 glueButton p-t-16-xs pull-left d-sm-flex justify-contents-start-sm p-l-0-sm p-l-0-lg  p-l-0-xs p-r-0-xs p-r-0">
                    <button class="btn btn-secondary SecondaryCTA h-48 button-title lineHeight-20 glueButton  pull-right glueButtonSecondary   custom-text-size custom-background text-ellipse"
                        ripple value="true">Skip trade in</button>
                </div>
            </div>
       
    </div>
    <!--Trade Value: End -->