<!DOCTYPE html>
<html lang="en" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Checkout Cart</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/accessories-modal.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/Common.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/cart.less">
    <link rel="stylesheet" href="page-css/glue.css">
</head>

<body  ng-app="app" class="bg-white" >
    <div class=" text-center header-box-shadow margin-header">
        <div class="container no-padding ">
            <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1">
                <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size"></i>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center" />
            </div>

            <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true"
                   id="I2"></i>
            </div>
        </div>
    </div>

    <div class="container inputdemoErrors" ng-controller="cartTabsCtrl">
        <div class="row padding-top-xl p-b-20-sm p-b-20-md p-b-20-lg p-t-20-xs p-b-30-xs">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 text-center no-padding" ng-show="!newAddressMobile">
                <h3 class="h3-title text-black">Let's review your order before submitting</h3>
            </div>
        </div>
        <!--Begin: Tab View in Tablets and Desktops -->
        <div class="row hidden-xs" >
                <md-tabs md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height=true md-border-bottom=true>

                    <md-tab>
                        <md-tab-label>
                            <p ng-bind-html="orderDetailViewed ? checkMark('Order detail') : '1. Order detail'"></p>
                        </md-tab-label>
                        <md-tab-body class="bg-white">
                            <div ng-include="'html/order-v1.html'"></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <p ng-bind-html="shippingPageViewed ? checkMark('Shipping') : '2. Shipping'"></p>
                        </md-tab-label>
                        <md-tab-body class="bg-white">
                            <div ng-include="'html/shipping.html'"></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="3. Payment">
                        <md-content class="bg-white pt-overflow">
                            <div ng-include="'html/payment.html'"></div>
                        </md-content>
                    </md-tab>
                 </md-tabs>
        </div>
        <!--End: Tab View in Tablets and Desktops -->
       
        <!--Begin: Accordian View for Mobiles -->
        <div class="row visible-xs">
            <div class="md-accordion" ng-repeat="data in accordianData" ng-show="mobileTabs">
                <md-toolbar ng-init="onLoadFun(data)" ng-click="collapseAll(data)">
                    <div class="md-toolbar-tools" ng-class="data.expanded ? 'clr':''">
                        <h2>
                            <span class="mbl-heading"><i class="fa fa-check color-green" ng-show="data.check" id="data.id"></i>&nbsp;{{data.heading}}</span>
                        </h2>
                        <span flex=""></span>
                        <span ng-class="{expandCollapse:true, active:data.expanded}" ng-show="!data.expanded"><i class="fa fa-angle-down text-black text-bold p-t-5 pull-right"></i></span>
                    </div>
                </md-toolbar>
                <div ng-class="{dataContent:true, activeContent:data.expanded}">
                    <div class="bg-white" ng-show="page1" ng-include="'html/order-v1.html'"></div>
                    <div class="bg-white" ng-show="page2" ng-include="'html/shipping.html'"></div>
                    <div class="bg-white" ng-show="page3" ng-include="'html/payment.html'"></div>
                </div>
            </div>
            <div class="bg-white" ng-show="newAddressMobile" ng-include="'html/shippingMobile.html'">
        </div>
        </div>
        <div class="glueDialogContainer">
            <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleLCModal}">
                <div class="row no-margin">
                    <div class="col-xs-12 no-padding">
                        <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="closeModal()">
                            <i class="icox ico-closeIcon" ng-if="visibleAnimation"></i>
                        </button>
                    </div>
                </div>
                <div class="row no-margin padding-bottom-small dialogPaddingLCModal scroll">
                    <div class="col-xs-12 no-padding" >
                        <div class="text-center">
                            <img ng-src={{modalArray.modalImage}} > 
                        </div>
                        <div class="p-t-32 p-b-24">
                        <h4 class="f-24 text-black text-bold text-center">{{modalArray.modalTitle}}</h4>
                        </div>
                        <div class="">
                        <p class="body-copy-description-regular text-center p-b-32 text-black">{{modalArray.modalContent}}</p>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
        <div class="glueOverlay" ng-click="closeModal()" ng-class="{'glueOverlayIn':visibleLCModal,'glueOverlayOut':!visibleLCModal}"></div>
        
        
        <!--End: Accordian View for Mobiles -->
        <!-- Dependencies -->
        <script src="js/core/angular.min.js"></script>
        <script src="js/core/angular-animate.min.js"></script>
        <script src="js/core/angular-aria.min.js"></script>
        <script src="js/core/angular-cookies.min.js"></script>
        <script src="js/core/angular-loader.min.js"></script>
        <script src="js/core/angular-messages.min.js"></script>
        <script src="js/core/angular-message-format.min.js"></script>
        <script src="js/core/angular-sanitize.min.js"></script>
        <script src="js/core/angular-touch.min.js"></script>
        <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
        <script src="js/core/angular-material.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/ripple.js"></script>
        <script src="js/less.min.js"></script>
        <!-- Custom scripts -->
</body>

</html>