﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Fraud Page</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/accessories-modal.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/Common.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/fraud.less">
    <link rel="stylesheet" href="page-css/glue.css">
</head>

<body ng-app="app" class="bg-white" ng-controller="fraudCtrl" >
    <div class=" text-center header-box-shadow margin-header">
        <div class="container no-padding ">
            <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1">
                <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size" aria-hidden="true" ng-click="gotopreviouspage()"></i>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center" />
            </div>

            <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <!--Begin: Review Instruction -->
        <div class="row p-t-30-xs p-t-65" ng-if="showSection[0]">
            <div class="col-xs-3 col-sm-3 col-sm-offset-1 text-center">
                <img class="image-width-xs p-l-10-xs p-r-10-xs" src="img/fraud/identity_svg_d.svg"
                    alt="instruction img">
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="main-content">
                    <div class="h2-title font-40 text-black p-t-25-xs p-l-10-xs p-r-10-xs">
                        Let’s verify your identity.
                    </div>
                    <div class="p-t-30 p-t-25-xs body-copy-description text-black p-l-10-xs p-r-10-xs">
                        To help prevent fraud, we’ll ask you a series of up to five questions. You have two minutes to
                        answer each question.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 p-t-40-md p-t-40-lg  padding-vertical-xl-xs p-t-35-sm d-sm-flex flex-flow-sm no-padding">
                    <div class="col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right p-r-0 p-l-0-xs">
                        <button class="btn btn-primary PrimaryCTA-normal button-title glueButton  pull-left glueButtonPrimary w-100" ripple value="true"
                            ng-click="continue()" tabindex= 0>
                            <span> Continue </span>
                        </button>

                    </div>
                    <div class="col-xs-12 col-sm-6 pull-left d-sm-flex justify-contents-start-sm p-l-0 p-r-0-xs">
                        <button class="btn btn-secondary SecondaryCTA-fraud button-title glueButton 
                         pull-right glueButtonSecondary w-100" ripple value="true" ng-click="openModal()">
                            <span>Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--End: Review Instruction -->
        <!--Begin: Rejection or fail  -->
        <div class="row p-t-30-xs p-t-65 p-l-10-xs p-r-10-xs" ng-if="showSection[2]">
            <div class="col-xs-3 col-sm-2 col-sm-offset-2">
                <img class="image-width-xs " src="img/fraud/emoji_svg_d.svg" alt="instruction img">
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="main-content">
                    <div class="h2-title font-40 text-black p-t-25-xs ">
                        We weren’t able to verify your information.
                    </div>
                    <div class="p-t-30 p-t-25-xs body-copy-description text-black ">
                        Your order has been cancelled. If you’d like to complete this transaction, please visit a
                        <span class="nowrap">T-Mobile</span> store.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 p-t-40-md p-t-40-lg  padding-vertical-xl-xs p-t-35-sm d-sm-flex flex-flow-sm no-padding">
                    <div class="col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right p-r-0 p-l-0-xs">
                        <button class="btn btn-primary PrimaryCTA-normal button-title glueButton  pull-left glueButtonPrimary w-100" ripple value="true" tabindex= 0>
                            <span> Find a T-Mobile store</span>
                        </button>

                    </div>


                    <div class="col-xs-12 col-sm-6 pull-left d-sm-flex justify-contents-start-sm p-l-0 p-r-0-xs p-t-15">
                       
                        <span class="teritiary-cta h4-title pull-right text-magenta text-decoration-none cursor w-100 text-center text-center-xs"
                        ng-click="backtoshopping()"> Back to shopping</span>
                    </div>
                </div>
            </div>
        </div>
        <!--End: Rejection or fail -->
        <!-- Begin: Review Question 1 & 2 -->
        <div class="row p-t-30-xs p-t-65" ng-if="showSection[1]">
            <div class="col-sm-offset-2">
                <div class="review-question-content">
                <div ng-repeat="data in reviewQuestions">
                    <div ng-if="$index == questionNo">
                            <span class="col-xs-1 question-text">{{$index+ 1}}.</span>
                            <span class="col-xs-10 p-l-5-xs p-l-30-sm m-l--40">
                                <p class="question-text p-b-25 p-b-15-xs">{{data.Question}}</p>
                        <md-radio-group ng-model="data.test" ng-change="radioChanged(c)" data-ng-init="init()">

                            <md-radio-button ng-repeat="option in data.Options track by $index" ng-value="option" focus 
                            class="body-copy-highlight text-black font-weight-normal outline-none"  
                            ng-class="{'radioclass': $index==0}" tabindex=1    required>

                                   {{ option }}
                            </md-radio-button>
                          </md-radio-group>
                        </span>
                    </div>
                </div>
                </div>
                <div class="col-xs-12 col-sm-6 p-t-30 padding-vertical-xl-xs  d-sm-flex flex-flow-sm m-l-100-sm m-l-65-md m-l-40-lg p-l-40-sm">
                    <div class="col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right p-r-0 p-l-0-xs">
                        <button class="btn btn-primary PrimaryCTA-normal button-title glueButton  pull-left glueButtonPrimary w-100 w-208"
                            ripple value="true"  ng-click="submit()" ng-class="{'disabled':!reviewQuestions[questionNo].test}" id="submitbtn">
                            <span class="font-18">Submit</span>
                        </button>

                    </div>
                    <div class="col-xs-12 col-sm-6 pull-left d-sm-flex justify-contents-start-sm p-l-0 p-r-0-xs">
                        <button class="btn btn-secondary SecondaryCTA-fraud button-title glueButton  pull-right glueButtonSecondary w-100 w-208"
                            ripple value="true" ng-click="openModal()">
                            <span class="font-18"> Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Review Question -->
        <!-- start: modal pop up -->
        <div class="dialog-container" ng-if="visible">
            <div class="dialog glueAnimationOut cart-scroll body-height" ng-class="{'glueAnimationIn':visible }">
                <div class="row no-margin">
                    <div class="col-xs-12 no-padding  m-b-25 m-b-20-xs" >
                        <button class="close-width" ng-click="close()" tabindex=0></button>
                    </div>
                </div>
                <div class="row no-margin bg-white">
                    <div class="col-xs-12 p-t-35">
                        <p class="modal-heading mb-0 padding-horizontal-small">Do you want to cancel your order?</p>
                    </div>
                    <div class="col-xs-12 col-sm-11 col-md-10 p-t-15 p-t-25-xs">
                        <p class="modal-text padding-horizontal-small">We need to verify your identity to help keep your account secure. If you don’t answer the verification
                            questions, your order will be cancelled.</p>
                    </div>
                    <div class="col-xs-12 p-t-50 padding-horizontal-medium-xs padding-horizontal-25 text-center-xs p-b-25 p-b-35-xs">
                        <div class="col-12 d-inline-block-md float-right">
                            <button class="btn btn-primary PrimaryCTA-normal btn-full border-radius" ripple value="true" ng-click="close()" tabindex= 0><span>Continue with questions</span></button>
                        </div>
                        <div class="col-12 d-inline-block-md float-right p-t-15-xs p-r-9">
                            <button class="btn btn-secondary SecondaryCTA-fraud button-title glueButton 
                         pull-right glueButtonSecondary w-100" ripple value="true" ng-click="close1()"><span>Cancel the order</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" ng-click="close()" ng-class="{'overlay-in':visible,'overlay-out':!visible}"></div>
        </div>
        <!-- End: modal pop up -->

    </div>

    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/core/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>

</html>
