.footer1 {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -3px 14px 0 rgba(0, 0, 0, 0.28);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer1 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.content1 {
  position: relative;
}
.display-flex {
  display: flex;
}
.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .imgsize-xs {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .imgsize-xs {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .imgsize-xs {
    width: 130px;
    height: 130px;
  }
}
.h4-title {
  font-weight: normal;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .h4-title {
    font-size: 12px !important;
    line-height: 14px !important;
  }
}
.disc {
  font-family: Arial;
  font-size: 12px;
  text-align: left;
}
.color-333333 {
  color: #333333;
}
.color-262626 {
  color: #262626;
}
.border-efefef {
  border: 1px solid #ededed;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .border-efefef {
    border: none;
    border-bottom: 1px solid #ededed;
  }
}
.border-magenta {
  border: 1px solid #e20074;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .border-magenta {
    border: none;
    border-bottom: 1px solid #ededed;
  }
}
.arrow-right {
  color: #444444;
}
.color-444444 {
  color: #444444;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .no-padding-sm-md-lg {
    padding-left: 0px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .no-padding-sm-md-lg {
    padding-left: 10px !important;
  }
  .wrap-gap {
    padding-top: 8px;
    padding-left: 8px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .no-padding-xs {
    padding: 0px;
  }
}
.md-button.md-icon-button {
  color: #000;
}
.md-button.md-icon-button.leftbutton {
  margin-left: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .md-button.md-icon-button.leftbutton {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: auto;
  }
}
.md-button.md-icon-button.rightbutton {
  margin-right: 0px;
  padding-right: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .md-button.md-icon-button.rightbutton {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: auto;
  }
}
.md-button.md-icon-button:disabled {
  color: rgba(0, 0, 0, 0.38);
}
.footerBtn {
  font-size: 20px !important;
  font-family: Tele-Fet;
  font-weight: normal;
  color: #fff !important;
  border-radius: 3rem !important;
  height: 56px;
  border: none;
  background-color: #E20074 !important;
  padding: 8px 24px 8px 24px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .footerBtn {
    width: 100%;
  }
}
.font-16 {
  font-size: 16px;
  font-family: Arial;
}
@media only screen and (min-width: 1200px) {
  .width-footer {
    margin: auto;
    width: 1170px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .width-footer {
    margin: auto;
    width: 970px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .width-footer {
    margin: auto;
    width: 750px;
  }
}
.color-cccccc {
  color: #cccccc;
}
.underline {
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
.md-button {
  text-transform: none;
}
a.footerlink {
  color: #262626;
}
a.footerlink:hover {
  color: #e20074;
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
a.footerlink:active {
  color: #e20074;
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
.payMonthlyInactive {
  color: #262626;
}
.payMonthlyActive {
  color: #e20074;
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
md-checkbox.md-checked .md-ink-ripple {
  color: #e20074;
}
.md-button:not([disabled]):hover {
  background-color: #e20074;
}
.color-222222 {
  color: #222222;
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .leftpadding {
    padding-left: 0px;
  }
}
.header-title-style {
  font-family: Tele-Ult;
  font-size: 32px;
  line-height: 0.75;
  text-align: center;
  color: #000000;
  font-weight: normal;
}
.bg-f4 {
  background-color: #f4f4f4 !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .tr-ht-sp {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
    line-height: 14px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tr-ht-sp {
    font-family: Arial;
    font-size: 18px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
    line-height: 18px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .lh-14 {
    line-height: 14px !important;
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .lh-14 {
    line-height: 16px !important;
    font-size: 14px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .lh-14-18 {
    line-height: 14px !important;
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .lh-14-18 {
    line-height: 18px !important;
    font-size: 14px;
  }
}
.flex-d {
  flex-direction: initial;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_CTA {
    font-family: Tele-Fet;
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer_CTA {
    font-family: Tele-Fet;
    font-size: 12px;
    text-align: left;
    line-height: 14px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .skip_style {
    font-size: 14px;
    line-height: 16px;
    font-family: Arial;
    letter-spacing: 0px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .skip_style {
    font-size: 12px;
    line-height: 14px;
    font-family: Arial;
    letter-spacing: 0px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tag_10 {
    line-height: 20px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .tag_10 {
    line-height: 16px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .cost-month {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .cost-month {
    font-family: Arial;
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .due-month {
    line-height: 12px;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .due-month {
    line-height: 16px;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.1px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .price-month {
    line-height: 12px;
    font-family: Arial;
    font-size: 11px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .price-month {
    line-height: 12px;
    font-family: Arial;
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .scrollacc {
    overflow-y: scroll;
    max-height: 80vh;
  }
  .scrollacc1 {
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1200px) {
  .scrollacc {
    overflow-y: scroll;
    max-height: 80vh;
  }
  .scrollacc1 {
    overflow-y: scroll;
  }
}
.color-a5a5a5 {
  color: #a5a5a5;
}
.Backordered {
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Backordered {
    padding-left: 2%;
    font-size: 11px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Backordered {
    font-size: 11px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .Backordered {
    padding-right: 20%;
  }
}
.circle-promo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e20074;
  position: relative;
  top: 1px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .circle-promo {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    top: 63px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .circle-promo {
    width: 40px;
    height: 40px;
  }
}
.circle-promo span {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.onsale {
  font-size: 11px;
  color: #ffffff;
  line-height: 12px;
}
@media only screen and (min-width: 320px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .onsale {
    font-size: 10px;
    line-height: 11px;
  }
}
.onsalewrap {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .onsalewrap {
    top: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pd-sc-monthly {
    padding-top: 150px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .pd-sc-monthly {
    padding-top: 170px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pd-sc-noEip {
    padding-top: 140px;
  }
  .pd-sc-69 {
    padding-top: 150px;
  }
  .p-b-14-xs {
    padding-bottom: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .pd-sc-69 {
    padding-top: 150px;
  }
  .pd-sc-noEip {
    padding-top: 140px;
  }
  .pd-sc-monthly {
    padding-top: 150px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .pd-sc-noEip {
    padding-top: 150px;
  }
  .pd-sc-69 {
    padding-top: 170px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pd-top-45-sm-md {
    padding-top: 75px;
  }
  .pd-top-45-sm-md-dc {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .cond-for-even-acc {
    width: 50px;
  }
  .cond-for-even-acc-wd {
    width: 50px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 420px) {
  .btn-stick-footer {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 767px) {
  .pd-rt-ns-35 {
    padding-right: 35px;
  }
}
.PrimaryCTA-Normal-accessories-pdp {
  font-size: 14px !important;
  font-family: Tele-Fet;
  font-weight: normal;
  color: #ffffff !important;
  height: 54px !important;
  width: 67% !important;
  border: 1px solid #e20074;
  background-color: #e20074;
  border-radius: 100px;
  padding: 8px 24px 8px 24px;
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .PrimaryCTA-Normal-accessories-pdp {
    height: 38px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .PrimaryCTA-Normal-accessories-pdp {
    width: 100% !important;
  }
}
.tx-trans {
  text-transform: none;
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .pd-lt-14-i5 {
    padding-left: 12px;
  }
}
.m-t-3 {
  margin-top: 3px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .m-t-27 {
    margin-top: 27px;
  }
  .lh-21 {
    line-height: 21px;
  }
  .p-t-6 {
    padding-top: 6px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .mx-ht {
    max-height: 257px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mx-ht {
    max-height: 250px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .min-ht {
    min-height: 141px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .h-box:hover {
    box-shadow: 0 5px 25px 0 rgba(33, 33, 33, 0.2);
  }
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .pd-lt-15-i5 {
    padding-left: 15px;
  }
  .pd-tp-55-i5 {
    padding-top: 55px;
  }
}
md-checkbox.md-default-theme:not(.md-checked) .md-icon,
md-checkbox:not(.md-checked) .md-icon {
  border-width: 1px;
}
.b-r-2 {
  border-radius: 2px;
}
md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background-color: #e20074;
}
@media only screen and (min-width:320px) and (max-width:380px) {
  .md-button.md-icon-button.rightbutton {
    margin-right: 10px !important;
  }
}
@media only screen and (min-width: 381px) and (max-width: 535px) {
  .md-button.md-icon-button.rightbutton {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 536px) and (max-width: 640px) {
  .md-button.md-icon-button.rightbutton {
    padding-right: 30%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 767px) {
  .md-button.md-icon-button.rightbutton {
    padding-right: 37%;
  }
}
.arrow-pointer-hand ::before {
  cursor: pointer;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .margin-header {
    margin-left: -20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .margin-header {
    margin-left: -10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .margin-header1 {
    margin-left: -20px;
  }
}
*:focus {
  outline: none;
}
/*Begin: Right Content Related styles */
.Item-Name {
  font-family: Tele-Grotesk-Ultr;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
}
.font-12-11 {
  font-family: Arial;
  font-size: 12px;
  color: #4c4c4c;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .font-12-11 {
    font-size: 11px;
    color: #6a6a6a;
  }
}
.fine-print-body-mos {
  font-size: 12px;
  font-weight: normal;
  color: #9b9b9b;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fine-print-body-mos {
    font-size: 11px;
  }
}
.color-6a6a6a {
  color: #6a6a6a;
}
.color-9b9b9b {
  color: #9b9b9b;
}
.PrimaryCTA-Normal-accessories-pdp-invisible {
  font-size: 14px !important;
  font-family: Tele-Fet;
  font-weight: normal;
  color: #000000 !important;
  height: 54px !important;
  width: 100% !important;
  border-radius: 100px;
  padding: 8px 24px 8px 24px;
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .PrimaryCTA-Normal-accessories-pdp-invisible {
    height: 38px !important;
  }
}
.md-button.hoverClr:hover {
  background-color: #fff !important;
}
.hr-e8 {
  border: solid 1px #e8e8e8;
}
.font-18 {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}
.font-18-14 {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #4c4c4c;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .font-18-14 {
    font-size: 14px;
    color: #000000;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .margin-left-button {
    margin-left: -10px;
  }
}
/*End: Right Content styles */
/*Begin: Carousel Related styles */
.right.carousel-control,
.left.carousel-control {
  display: inline !important;
}
.circle-promo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e20074;
  text-align: center;
  position: relative;
}
.circle-promo span {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.promo-text {
  color: #fff;
  font-size: 1.4rem;
  font-family: Tele-Fet, serif;
  line-height: 14px;
  padding-top: 2px !important;
}
.phone-carousel .fa-angle-left,
.phone-carousel .fa-angle-right {
  font-size: 2em !important;
  top: 50% !important;
  margin-top: -22px !important;
}
@media (max-width: 767px) {
  .phone-carousel .fa-angle-right {
    margin-right: -6px;
  }
  .phone-carousel .carousel-control {
    width: 50px;
  }
  .carousel2a .carousel-control .fa-angle-left,
  .carousel2a .carousel-control .fa-angle-right {
    right: 31%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .myStyle_xs {
    max-width: 100% !important;
    overflow: hidden !important;
  }
}
@media only screen and (min-width: 1200px) {
  .carosel-margin {
    padding-right: 65px;
    padding-left: 80px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .carosel-margin {
    padding-right: 65px;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carosel-margin {
    padding-right: 60px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carosel-margin {
    padding-right: 45px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carosel-image-margin {
    text-align: center;
    margin-top: 0%;
    width: 250px;
    height: 250px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .carosel-image-margin {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .carosel-image-margin {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carosel-image-margin {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .carousel-margin {
    margin-left: 7%;
    padding-right: 15%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-margin {
    margin-left: 10%;
    padding-right: 10%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-margin {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .promo-circle-wrapper {
    float: left !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .promo-circle-wrapper {
    text-align: center;
    padding-right: 250px;
    height: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .carousel-indicators {
    padding-left: 0px;
    width: 100%;
    padding-right: 35%;
    text-align: center;
  }
}
.carousel-indicators .active {
  background-color: black !important;
  border-color: black !important;
  opacity: 1;
}
.carousel-indicators li {
  border: 1px solid #cccccc !important;
  background-color: #cccccc !important;
  width: 5px !important;
  height: 5px !important;
  border-radius: 50%;
}
.carousel-indicators li.active {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .carousel-indicators {
    padding-left: 0px !important;
  }
}
#style::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}
#style::-webkit-scrollbar {
  width: 8PX;
  background-color: #F5F5F5;
}
#style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgrey;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .fixedLeftDiv {
    position: fixed;
    width: 51.88%;
  }
}
html {
  background-color: white;
}
.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #fff !important;
}
.overlay {
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .carousel-inner {
    left: 20px;
  }
  .left.carousel-control {
    width: 17px;
    margin-left: -5% !important;
  }
  .right.carousel-control {
    width: 17px;
    margin-right: -15%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .left.carousel-control {
    width: 17px;
    margin-left: -7%;
  }
  .right.carousel-control {
    width: 17px;
    margin-right: -10%;
  }
}
.carousel-indicators li,
.carousel-indicators li.active {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 10px !important;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 5px !important;
  height: 5px !important;
  /*End: Carousel Related styles */
}
a.noHover:hover {
  color: black;
}
@media only screen and (min-width: 768px) {
  .phone-carousel {
    position: sticky;
    top: 75px;
  }
}
@media only screen and (min-width: 1200px) {
  .promo-position {
    top: -530px;
    left: 22px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .promo-position {
    top: -440px;
    left: 21px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .promo-position {
    top: -349px;
    left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .promo-position {
    top: -264px;
    left: 28px;
  }
}
.fo-fet {
  font-family: Tele-Fet;
}
.co-4c {
  color: #333;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fo-18-xs {
    font-size: 18px !important;
  }
  .lh-16-xs {
    line-height: 16px !important;
  }
  .lh-18-xs {
    line-height: 18px !important;
  }
  .wd-55-ht-55 {
    width: 55px;
    height: 55px;
  }
}
.fo-14-xs {
  font-size: 14px !important;
}
@media only screen and (min-width: 768px) {
  .fo-14-xs {
    line-height: 19px !important;
  }
}
ul li {
  padding-bottom: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .fa-angle-left,
  .carousel-control .fa-angle-right {
    font-size: 1.5em !important;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie-pos-fix {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .lh-19-xs {
    line-height: 19px;
  }
}
