@xsmartphones: ~"only screen and (min-width: 320px) and (max-width: 348px)";
@smartphones6: ~"only screen and (min-width: 375px) and (max-width: 420px)";
@bigphones: ~"only screen and (min-width: 415px) and (max-width: 767px)";
@smartphones: ~"only screen and (min-width: 320px) and (max-width: 767px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@largeScreens: ~"only screen and (min-width: 1200px)";
@small1: ~"only screen and (min-width:320px) and (max-width:380px)";
@small2: ~"only screen and (min-width: 381px) and (max-width: 535px)";
@small3: ~"only screen and (min-width: 536px) and (max-width: 640px)";
@small4: ~"only screen and (min-width: 641px) and (max-width: 767px)";
@Alldeviceexceptsmartphone: ~"only screen and (min-width: 768px)";
@fixed: fixed;
@relative: relative; 
@display-flex: flex;
@justify-content-center: center;
@flex-direction-column: column;
@vertical-align-center: center;
@vertical-align-middle: middle;
@size-75px: 75px;
@size-130px: 130px;
@font-Arial: Arial;
@size-15px: 15px;
@size-18px: 18px;
@size-12px: 12px;
@line-height: 1;
@px-letterspacing: -0.1px;
@left: left;
@color-262626: #262626;
@color-333333: #333333;
@border-efefef: 1px solid #ededed;
@border-magenta: 1px solid #e20074;
@font-normal: normal;
@color-262626: #262626;
@color-444444: #444444;
@px-7: 7px;
@px-11: 11px;
@px-12: 12px;
@none: none;
@text-magenta: #e20074;
@pr-100: 100%;
@px--15: -15px;
@px-15: 15px;
@px-0: 0px;
@px-16: 16px;
@color-white: #ffffff;
@footer-box-shadow: 0 -3px 14px 0 rgba(0, 0, 0, 0.28);
@px-38: 38px;
@px-44: 44px;
@px-100: 100px;
@btn-disabled-color: rgba(0, 0, 0, 0.38);
@px-1170: 1170px;
@px-970: 970px;
@px-750: 750px;
@color-cccccc: #cccccc;
@color-222222: #222222;
@border-magenta: 1px solid #e20074;
@px-2: 2px;
@auto: auto;
@none: none;
@color-a5a5a5: #a5a5a5;
@color-f5f5f5: #f5f5f5;
@px-10: 10px;
@px-8: 8px;
@px-14: 14px;
@px-50: 50px;
@pr-50: 50%;
@px-40: 40px;
@translate-50: translate(-50%, -50%);
@absolute: absolute;
@px--10: -10px;
@center: center;
@relative: relative;
@font-20: 20px;
@px-35: 35px;
@px-20: 20px;
.footer1 {
    position: @fixed;
    bottom: @px-0;
    width: @pr-100;
    background-color: @color-white;
    box-shadow: @footer-box-shadow;
    @media @smartphones {
        //  margin-left:@px--15;
        //  margin-right:@px--15;
        padding-left: @px-15;
        padding-right: @px-15;
    }
}

.content1 {
    position: @relative;
}

.display-flex {
    display: @display-flex;
}

.center-content {
    display: @display-flex;
    justify-content: @justify-content-center;
    flex-direction: @flex-direction-column;
    vertical-align: @vertical-align-middle;
}

.imgsize-xs {
    @media @smartphones {
        width: @size-75px;
        height: @size-75px;
    }
    @media @tablets {
        width: 90px;
        height: 90px;
    }
    @media @desktop,
    @largeScreens {
        width: @size-130px;
        height: @size-130px;
    }
}

.h4-title {
    font-weight: @font-normal;
    @media @smartphones {
        font-size: @px-12 !important;
        line-height: @px-14 !important;
    }
}

.disc {
    font-family: @font-Arial;
    font-size: @size-12px;
    text-align: @left;
}

.color-333333 {
    color: @color-333333;
}

.color-262626 {
    color: @color-262626;
}

.border-efefef {
    border: @border-efefef;
    @media @smartphones {
        border: @none;
        border-bottom: @border-efefef;
    }
}

.border-magenta {
    border: @border-magenta;
    @media @smartphones {
        border: @none;
        border-bottom: @border-efefef;
    }
}

.arrow-right {
    // width: @px-7;
    // height:@px-11;
    color: @color-444444;
}

.color-444444 {
    color: @color-444444;
}

@media @tablets,
@desktop {
    .no-padding-sm-md-lg {
        padding-left: @px-0!important;
    }
}

@media @largeScreens {
    .no-padding-sm-md-lg {
        padding-left: 10px !important;
    }
    .wrap-gap {
        padding-top: 8px;
        padding-left: 8px;
    }
}

@media @smartphones {
    .no-padding-xs {
        padding: @px-0;
    }
}

.md-button.md-icon-button {
    color: #000;
}

.md-button.md-icon-button.leftbutton {
    margin-left: @px-0;
    padding-left: @px-0;
    @media @smartphones {
        margin-left: @px-0;
        padding-left: @px-0;
        margin-right: @px-0;
        padding-right: @px-0;
        width: @auto;
    }
}

.md-button.md-icon-button.rightbutton {
    margin-right: @px-0;
    padding-right: @px-0;
    @media @smartphones {
        margin-left: @px-0;
        padding-left: @px-0;
        margin-right: @px-0;
        padding-right: @px-0;
        width: @auto;
    }
}

.md-button.md-icon-button:disabled {
    color: @btn-disabled-color;
}

.footerBtn {
    font-size: 20px !important;
    font-family: Tele-Fet;
    font-weight: normal;
    color: #fff !important;
    border-radius: 3rem !important;
    height: 56px;
    border: none;
    background-color: #E20074 !important;
    padding: 8px 24px 8px 24px;
    @media @tablets,
    @desktop,
    @largeScreens {
        width: 100%;
    }
}

.font-16 {
    font-size: @px-16;
    font-family: @font-Arial;
}

.width-footer {
    @media @largeScreens {
        margin: @auto;
        width: @px-1170;
    }
    @media @desktop {
        margin: @auto;
        width: @px-970;
    }
    @media @tablets {
        margin: @auto;
        width: @px-750;
    }
}

.color-cccccc {
    color: @color-cccccc;
}

.underline {
    padding-bottom: @px-2;
    border-bottom: @border-magenta;
}

.md-button {
    text-transform: @none;
}

a.footerlink {
    color: @color-262626;
}

a.footerlink:hover {
    color: @text-magenta;
    padding-bottom: @px-2;
    border-bottom: @border-magenta;
}

a.footerlink:active {
    color: @text-magenta;
    padding-bottom: @px-2;
    border-bottom: @border-magenta;
}

.payMonthlyInactive {
    color: @color-262626;
}

.payMonthlyActive {
    color: @text-magenta;
    padding-bottom: @px-2;
    border-bottom: @border-magenta;
}

md-checkbox.md-checked .md-ink-ripple {
    color: @text-magenta;
}

.md-button:not([disabled]):hover {
    background-color: @text-magenta;
}

.color-222222 {
    color: @color-222222;
}

.leftpadding {
    @media @xsmartphones {
        padding-left: @px-0;
    }
}

// NEW STYLES BY PURNA
.header-title-style {
    font-family: Tele-Ult;
    font-size: 32px;
    line-height: 0.75;
    text-align: center;
    color: #000000;
    font-weight: normal;
}

.bg-f4 {
    background-color: #f4f4f4 !important;
}

.tr-ht-sp {
    @media @smartphones {
        font-family: Arial;
        font-size: 14px;
        letter-spacing: -0.1px;
        text-align: left;
        color: #000000;
        line-height: 14px;
    }
    @media @desktop,
    @largeScreens,
    @tablets {
        font-family: Arial;
        font-size: 18px;
        letter-spacing: -0.1px;
        text-align: left;
        color: #000000;
        line-height: 18px;
    }
}

.lh-14 {
    @media @smartphones {
        line-height: 14px !important;
        font-size: 12px;
    }
    @media @tablets,
    @desktop,
    @largeScreens {
        line-height: 16px !important;
        font-size: 14px;
    }
}

.flex-d {
    flex-direction: initial;
}

.footer_CTA {
    @media @desktop,
    @largeScreens,
    @tablets {
        font-family: Tele-Fet;
        font-size: 20px;
        text-align: left;
        line-height: 24px;
        font-weight: normal;
    }
    @media @smartphones {
        font-family: Tele-Fet;
        font-size: 12px;
        text-align: left;
        line-height: 14px;
        font-weight: normal;
    }
}

.skip_style {
    @media @desktop,
    @largeScreens,
    @tablets {
        font-size: 14px;
        line-height: 16px;
        font-family: Arial;
        letter-spacing: 0px;
        font-weight: normal;
    }
    @media @smartphones {
        font-size: 12px;
        line-height: 14px;
        font-family: Arial;
        letter-spacing: 0px;
        font-weight: normal;
    }
}

.tag_10 {
    @media @desktop,
    @largeScreens,
    @tablets {
        line-height: 20px;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    @media @smartphones {
        line-height: 16px;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
}

.cost-month {
    @media @smartphones,
    @tablets {
        font-family: Arial;
        font-size: 14px;
        letter-spacing: -0.1px;
        line-height: 18px;
    }
    @media @desktop,
    @largeScreens {
        font-family: Arial;
        font-size: 18px;
        letter-spacing: -0.1px;
        line-height: 20px;
    }
}

.due-month {
    @media @smartphones {
        line-height: 12px;
        font-family: Arial;
        font-size: 11px;
        letter-spacing: 0px;
    }
    @media @desktop,
    @largeScreens,
    @tablets {
        line-height: 16px;
        font-family: Arial;
        font-size: 14px;
        letter-spacing: -0.1px;
    }
}

.price-month {
    @media @smartphones {
        line-height: 12px;
        font-family: Arial;
        font-size: 11px;
    }
    @media @desktop,
    @largeScreens,
    @tablets {
        line-height: 12px;
        font-family: Arial;
        font-size: 12px;
    }
}

// Scroll Styles: Yasmin Changes
@media @desktop,
@tablets {
    .scrollacc {
        overflow-y: scroll;
        max-height: 80vh;
    }
    .scrollacc1 {
        overflow-y: scroll;
    }
}

@media @largeScreens {
    .scrollacc {
        overflow-y: scroll;
        max-height: 80vh;
    }
    .scrollacc1 {
        overflow-y: scroll;
    }
}

.color-a5a5a5 {
    color: @color-a5a5a5;
}

.Backordered {
    font-family: Arial;
    font-size: @px-14;
    text-align: center;
    @media @smartphones {
        padding-left: 2%;
        font-size: @px-11;
    }
    @media @tablets {
        font-size: @px-11;
        padding-right: 10px;
    }
    @media @largeScreens {
        padding-right: 20%;
    }
}

.circle-promo {
    width: @px-50;
    height: @px-50;
    border-radius: @pr-50;
    background: @text-magenta;
   // text-align: @center;   
    position: @relative;
    top:1px;
    @media @smartphones {
        width: @px-40;
        height: @px-40;
        margin-top: 15px;
        top:63px;
    }
    @media @tablets {
        width: @px-40;
        height: @px-40;
    }
   
}

.circle-promo span {
    position: @absolute;
    left: @pr-50;
    top: @pr-50;
    -ms-transform: @translate-50;
    -webkit-transform: @translate-50;
    transform: @translate-50;
}

.onsale {
    font-size: @px-11;
    color: @color-white;
    line-height: @px-12;
    @media @smartphones,
    @tablets {
        font-size: @px-10;
        line-height: @px-11;
    }
}

.onsalewrap {
    position: @absolute;
    top: @px--10;
    left: @px--10;
    width: @pr-100;
    height: @pr-100;
    @media @tablets {
        top: @px-10;
    }
}

.pd-sc-monthly {
    @media @smartphones {
        padding-top: 150px;
    }
    @media @xsmartphones {
        padding-top: 170px;
    }
}

@media @smartphones {
    .pd-sc-noEip {
        padding-top: 140px;
    }
    .pd-sc-69 {
        padding-top: 150px;
    }
    .p-b-14-xs {
        padding-bottom: 14px;
    }
}

@media @tablets,
@desktop,
@largeScreens {
    .pd-sc-69 {
        padding-top: 150px;
    }
    .pd-sc-noEip {
        padding-top: 140px;
    }
    .pd-sc-monthly {
        padding-top: 150px;
    }
}

@media @xsmartphones {
    .pd-sc-noEip {
        padding-top: 150px;
    }
    .pd-sc-69 {
        padding-top: 170px;
    }
}

@media @tablets {
    .pd-top-45-sm-md {
        padding-top: 75px;
    }
    .pd-top-45-sm-md-dc {
        padding-top: 0px;
    }
}

@media @tablets,
@desktop,
@largeScreens {
    .cond-for-even-acc {
        width: 50px;
    }
    .cond-for-even-acc-wd {
        width: 50px;
    }
}

@media @smartphones6 {
    .btn-stick-footer {
        padding-right: 0px;
    }
}

@media @bigphones {
    .pd-rt-ns-35 {
        padding-right: 35px;
    }
}

.PrimaryCTA-Normal-accessories-pdp {
    font-size: 14px !important;
    font-family: Tele-Fet;
    font-weight: normal;
    color: #ffffff !important;
    height: 54px !important;
    width: 100% !important;
    border: 1px solid #e20074;
    background-color: #e20074;
    border-radius: 100px;
    padding: 8px 24px 8px 24px;
    @media @xsmartphones {
        height: 38px !important;
    }
}

.tx-trans {
    text-transform: none;
    font-size: @font-20;
}

@media @xsmartphones {
    .pd-lt-14-i5 {
        padding-left: 12px;
    }
}

.m-t-3 {
    margin-top: 3px;
}

@media @tablets,
@desktop,
@largeScreens {
    .m-t-27 {
        margin-top: 27px;
    }
    .lh-21 {
        line-height: 21px;
    }
    .p-t-6 {
        padding-top: 6px;
    }
}

.mx-ht {
    @media @desktop,
    @largeScreens {
        max-height: 257px;
    }
    @media @tablets {
        max-height: 250px;
    }
}

.min-ht {
    @media @tablets {
        min-height: 141px;
    }
}

@media @tablets,
@desktop,
@largeScreens {
    .h-box:hover {
        box-shadow: 0 5px 25px 0 rgba(33, 33, 33, .2);
    }
}

@media @xsmartphones {
    .pd-lt-15-i5 {
        padding-left: 15px;
    }
    .pd-tp-55-i5 {
        padding-top: 55px;
    }
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon,
md-checkbox:not(.md-checked) .md-icon {
    border-width: 1px;
}

.b-r-2 {
    border-radius: 2px;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
    background-color: @text-magenta;
}

.md-button.md-icon-button.rightbutton {
    @media @small1 {
        margin-right: 10px !important;
    }
    @media @small2 {
        padding-right: 5px;
    }
    @media @small3 {
        padding-right: 30%;
    }
    @media @small4 {
        padding-right: 37%;
    }
}

.arrow-pointer-hand ::before {
    cursor: pointer
}

.margin-header {
    @media @desktop,
    @largeScreens {
        margin-left: -20px;
    }
    @media @tablets {
        margin-left: -10px;
    }
}

.margin-header1 {
    @media @desktop,
    @largeScreens,
    @tablets {
        margin-left: -20px;
    }
}

*:focus {
    outline: none;
}


/*Begin: Right Content Related styles */

.Item-Name {
    font-family: Tele-Grotesk-Ultr;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
}

.font-12-11 {
    font-family: Arial;
    font-size: 12px;
    color: #4c4c4c;
    @media @smartphones {
        font-size: 11px;
        color: #6a6a6a;
    }
}

.fine-print-body-mos {
    font-size: 12px;
    font-weight: normal;
    color: #9b9b9b;
    @media @smartphones {
        font-size: 11px;
    }
}

.color-6a6a6a {
    color: #6a6a6a;
}

.color-9b9b9b {
    color: #9b9b9b;
}

.PrimaryCTA-Normal-accessories-pdp-invisible {
    font-size: 14px !important;
    font-family: Tele-Fet;
    font-weight: normal;
    color: #000000 !important;
    height: 54px !important;
    width: 100% !important; // border: 1px solid #e20074;
    //background-color: #e20074;
    border-radius: 100px;
    padding: 8px 24px 8px 24px;
    @media @xsmartphones {
        height: 38px !important;
    }
}

.md-button.hoverClr:hover {
    background-color: #fff !important;
}

.hr-e8 {
    border: solid 1px #e8e8e8;
    ;
}

.font-18 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.font-18-14 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #4c4c4c;
    @media @smartphones {
        font-size: 14px;
        color: #000000;
    }
}

.margin-left-button {
    @media @smartphones {
        margin-left: -10px;
    }
}


/*End: Right Content styles */


/*Begin: Carousel Related styles */

.right.carousel-control,
.left.carousel-control {
    display: inline !important;
}

.circle-promo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e20074;
    text-align: center;
    position: relative;
}

.circle-promo span {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.promo-text {
    color: #fff;
    font-size: 1.4rem;
    font-family: Tele-Fet, serif;
    line-height: 14px;
    padding-top: 2px !important;
}
.phone-carousel{
    @media @Alldeviceexceptsmartphone{
    position: sticky;
    top:75px;
    }
}
.phone-carousel .fa-angle-left,
.phone-carousel .fa-angle-right {
    font-size: 2em !important;
    top: 50% !important;
    margin-top: -22px !important;
}

@media (max-width: 767px) {
    .phone-carousel .fa-angle-right {
        margin-right: -6px;
    }
    .phone-carousel .carousel-control {
        width: 50px;
    }
    .carousel2a .carousel-control .fa-angle-left,
    .carousel2a .carousel-control .fa-angle-right {
        right: 31%;
    }
}

.myStyle_xs {
    @media @smartphones {
      max-width:100% !important;
      overflow:hidden !important;

    }
}
.carosel-margin {
    @media @largeScreens {
        padding-right: 65px;
        padding-left: 80px;
    }
    @media @desktop {
        padding-right: 65px;
        padding-left: 60px;
    }
    @media @tablets {
        padding-right: 60px;
    }
    @media @smartphones {
        padding-right: 45px;
    }
}

.carosel-image-margin {
    @media @smartphones {
        text-align: center;
        height: 250px;
        width: 250px;
        margin-top: 0%;
    }
    @media @desktop{
        margin: auto;
   margin-top: -12%;
    } 
   @media @largeScreens {
       // width: 450px;//
       height: 450px;
        width: 450px;
        margin: auto;
   margin-top: -10%;
    }
    @media  @tablets {
       // width: 250px;//
        height: 350px;
        width: 350px;
          margin: auto;
   margin-top: -17%;
    }
}


.carousel-margin
{
    @media  @desktop, @largeScreens {
    margin-left:7%;padding-right:15%
    }
    @media @tablets{
    margin-left:10%;padding-right:10%
    }
    @media @smartphones
    {
        text-align: center;
    }
}

.promo-circle-wrapper
{
    @media @Alldeviceexceptsmartphone {
        float:left !important;
    }
    @media @smartphones
    {
        text-align: center;
        padding-right:325px;
    }
    
}

.carousel-indicators {
    @media @Alldeviceexceptsmartphone {
        padding-left: @px-0 ;
    }
    .active {
        background-color: black !important;
        border-color: black ~'!important';
        opacity: 1;
    }
    li {
        border: 1px solid #cccccc !important;
        background-color: #cccccc !important;
        width: 5px !important;
        height: 5px !important;
    }
    li.active {
        width: 5px !important;
        height: 5px !important;
    }
    @media only screen and (min-width: 768px) {
        padding-left: 0px !important;
    }
}
 #style::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}
#style::-webkit-scrollbar {
  width: 8PX;
  background-color: #F5F5F5;
}
#style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgrey;
} 

/*End: Carousel Related styles */
.fixedLeftDiv{
@media @tablets, @desktop, @largeScreens {
    position: fixed;
    width: 51.88%;
}

}
html {
    background-color: white;
}

.fixed{
    position:fixed;
    width: 100%;
    z-index:1;
    background: #fff !important;
}
.overlay{

      position:relative;
}

@media @desktop, @largeScreens {
    .carousel-inner {
        left: 20px;
      
    }

    .left.carousel-control {
        width: 17px;
        
        margin-left:-5% !important;
    }

    .right.carousel-control {
        width: 17px;
        margin-right:-17%;
    }
    
}

    @media @tablets {
        .carousel-inner {
        
    }

    .left.carousel-control {
        width: 17px;
    margin-left:-7%;
    }

    .right.carousel-control {
        width: 17px;
        margin-right:-10%;
    }
    }

.carousel-indicators li,
.carousel-indicators li.active {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.carousel-indicators li, 
.carousel-indicators li.active{
width:5px !important;
height:5px !important;
                     }

a.noHover:hover{
    color: black;
}

