.div_border {
  border: 1px solid #E8E8E8;
}
.img-width {
  width: 55px;
  /*@media @smartphones{
		width: @img-width--xs;
        height:@img-height--xs;
	}*/
}
.border_div {
  border: 1px solid #E8E8E8;
}
.background-f2f2f2 {
  background: #f2f2f2;
}
.text-6A6A6A {
  color: #6A6A6A;
}
.icon-width-conf {
  width: 100%;
  font-size: 30pt;
}
.mobile-icon-width-conf {
  width: 100%;
  font-size: 50pt;
}
.CTA_revised {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #e8e8e8 !important;
}
.p-b-1 {
  padding-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  .mobile-position {
    margin-top: -19px !important;
  }
}
.p-t-8 {
  padding-top: 8px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .width-first {
    width: 31.33333%;
  }
}
@media only screen and (max-width: 767px) {
  .padding-horizontal-4pc {
    padding-right: 4%;
    padding-left: 4%;
  }
}
.btn1:active,
.btn1:hover,
.btn1:focus,
.btn1.active,
.btn1.active:hover,
.btn1.active:focus,
.btn1.active,
.btn1.active:hover,
.btn1.active:focus,
.btn1:active:hover,
.btn1:active:focus {
  background-color: #fff !important;
  color: #000 !important;
  border: 0px;
  outline: none;
}
.fa-font-size {
  font-size: 14px;
}
@media only screen and (min-width:620px) and (max-width:750px) {
  .right-padding {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .p-l-43-sm {
    padding-left: 43px;
  }
}
.btn_height {
  height: 56px;
  font-size: 20px;
}
@media only screen and (max-width:370px) {
  .col-sp-3 {
    width: 25%;
  }
  .col-sp-7 {
    width: 58.33333333%;
  }
}
.smiley_width {
  width: 58.8px;
}
.iphone_width {
  height: 107px;
}
.word_break {
  word-wrap: break-word;
}
.tnsfnum-font {
  font-family: Tele-Ult;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
/*Css for the change request starts here*/
.img-width{
  width:53px;
}

/*Css for the change request ends here*/
