@smartphones: ~"only screen and (max-width: 767px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@largeScreens: ~"only screen and (min-width: 1200px)";
@Alldeviceexceptsmartphone: ~"only screen and (min-width: 768px)";
@small1:~"only screen and (min-width:620px) and (max-width:750px)";
@small_370:~"only screen and (max-width:370px)";

@img-width-norm: 55px;
@img-height-norm: 95px;
@img-width--xs: 100px;
@img-height--xs: 160px;
@border_div:1px solid #E8E8E8;
@width-full:100%;
@color-f2f2f2: #f2f2f2;
@color-6A6A6A: #6A6A6A;
@font-size-30:30pt;
@font-size-50:50pt;
@background-white: #fff ~'!important';
@black-color: #000 ~'!important';
@border-e8e8e8: 1px solid #e8e8e8 ~'!important';
@font-bold: bold;
@p-b-1:1px;
@m-t-19:-19px~'!important';
@p-t-8:8px;
@border-none:0px;
@outline-none:none;
@p-r-30:30px;
@p-l-43:43px;
@font-14:14px;
@width-31:31.33333%;
@height-56:56px;
@f-20:20px;
@border-e8:1px solid #E8E8E8;
@w_58:58.8px;
@w_52:52px;
@w-107:107px;

.div_border{
    border:@border-e8;
}
.img-width {
	width:@img-width-norm;
   // height:@img-height-norm;

	/*@media @smartphones{
		width: @img-width--xs;
        height:@img-height--xs;
	}*/
}
.border_div{
	border:@border_div;
} 
.background-f2f2f2{
	background: @color-f2f2f2;
}
.text-6A6A6A{
	color: @color-6A6A6A;
}
.icon-width-conf{
	width:@width-full;
    font-size:@font-size-30;
}

.mobile-icon-width-conf
{
	width:@width-full ;
    font-size:@font-size-50;
}

.CTA_revised {
    background-color:@background-white;
    color:@black-color;
    border:@border-e8e8e8;

}
.p-b-1
{
	padding-bottom:@p-b-1;
}

.mobile-position
{
    @media @Alldeviceexceptsmartphone{
	    margin-top:@m-t-19;
    }
}
.p-t-8 {
    padding-top: @p-t-8;
}

.width-first{
    @media @desktop{
    	width: @width-31;
    }

}
.padding-horizontal-4pc{
	@media @smartphones{
		padding-right: 4%;
		padding-left: 4%;
	}
}
.btn1:active,.btn1:hover, .btn1:focus, .btn1.active, .btn1.active:hover, .btn1.active:focus, .btn1.active, .btn1.active:hover, .btn1.active:focus, .btn1:active:hover, .btn1:active:focus{
     background-color: @background-white;
     color:@black-color;
     border:@border-none;
     outline:@outline-none;
 } 
.fa-font-size {
    font-size: @font-14;
}

.right-padding{
    @media @small1{
            padding-right:@p-r-30;
    }
}
.p-l-43-sm{
    @media @tablets{
        padding-left:@p-l-43; 
	
}
    }
.btn_height{
    height:@height-56;
    font-size:@f-20;
}

@media @small_370{
    .col-sp-3{
        width:25%;
    }
    .col-sp-7{
        width:58.33333333%;
    }
}
.smiley_width{
    width:@w_58;
}
.iphone_width{
    height:@w-107;
}

.word_break{
    word-wrap: break-word;
}
@font-TeleGroteskUlt:Tele-Ult;
.tnsfnum-font
{
    font-family: @font-TeleGroteskUlt;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
}
/*Css for the change request starts here*/
.img-width{
    width:53px;
  }
    
  /*Css for the change request ends here*/
  
