@Alldeviceexceptsmartphone: ~"only screen and (min-width: 768px)";
@smartphones: ~"only screen and (max-width: 767px)";

.bg-f2f2f2{
        background-color: #f2f2f2;
}
.p-r-8{padding-right: 8px;}
.p-r-24{padding-right: 24px;} 
.p-l-24{padding-left: 24px;}
.p-t-24{padding-top:24px;}
.p-b-16{padding-bottom: 16px;}
.p-t-16{padding-top:16px;}
.p-b-24{padding-bottom: 24px;}
.sim_img_size{height: 69px;}
.legal{color: #6a6a6a}
.title-font{ 
    font-size: 32px;    
    line-height: 34px;
}
.subtitle-font{ 
    font-size: 18px;    
    line-height: 18px; 
    font-family: Tele-Ult; 
}
.orderSummary-font{ 
    font-size: 20px;   
    font-family: Tele-Ult; 
    line-height: 18px; 
}
.push-up-btn{margin-top: -30px;}
.p-b-8{padding-bottom:8px;}
.btnTrack{
    width:96px; 
    height: 32px;
    border: 1px solid black !important;
    background-color: #fff !important;
    color: #000 !important;
    font-size:14px;
   line-height: 16px;
   letter-spacing: 0.47px;
   font-family: Tele-Ult;
}
.font12
{
    font-size:12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    font-family: Arial;
    color: #6a6a6a;
}
@media @Alldeviceexceptsmartphone
{
.pull-right-md{    float: right;}
.p-r-100-md{padding-right: 100px;}
.phone_img_size{height:97px;}
.order_div_border{
    border: 1px solid #979797;
    background-color: white;
}
.d-md-flex{    display: flex;}
.p-b-24-md{padding-bottom: 24px;}
}
@media @smartphones
{
.phone_img_size{width: 60px;}
.sim_img_size{height: 60px;}
.p-b-24-xs{padding-bottom: 24px;}
.push-up-btn{margin-top:-55px;}
.p-t-24-xs{padding-top:24px;}
.bg-white-xs{    background-color: white;}
.hr-8px-xs {   
    border: 0;
    border-top: 8px solid #e0e0e0;
}
.p-r-24-xs{padding-right: 24px;} 
.p-l-24-xs{padding-left: 24px;}
.p-r-9-xs{padding-right: 9px;} 
.p-l-9-xs{padding-left: 9px;}
.p-b-16-xs{padding-bottom: 16px;}
.p-t-16-xs{padding-top: 16px;}
.p-t-8-xs{padding-top: 8px;}
.p-b-5-xs{padding-bottom: 5px;}
.p-b-30-xs{padding-bottom: 30px;}
}
.hr-1px {  
    border: 0;
    border-top: 1px solid #979797;
}
.hr-8px {   
    border: 0;
    border-top: 8px solid #979797;
}
.overlay{
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    background-color: rgba(216, 216, 216, 0.6);
    z-index: 1;
}
.text-left{    text-align: left;}
.inline-block{    display: inline-block;}
.align-items-center{    align-items: center;}
