@font-face {
    font-family: 'tmo-icons';
    src:    url('../../fonts/tmo-icons.eot');
    src:    url('../../fonts/tmo-icons.eot') format('embedded-opentype'),
        url('../../fonts/tmo-icons.ttf') format('truetype'),
        url('../../fonts/tmo-icons.woff') format('woff'),
        url('../../fonts/tmo-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tmo-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-gear-icon:before {
  content: "\e90c";
}
.ico-my-logo .path1:before {
  content: "\e908";
  color: rgb(102, 106, 109);
}
.ico-my-logo .path2:before {
  content: "\e909";
  margin-left: -1.0166015625em;
  color: rgb(255, 255, 255);
}
.ico-my-logo .path3:before {
  content: "\e90a";
  margin-left: -1.0166015625em;
  color: rgb(255, 255, 255);
}
.ico-tmo-logo:before {
  content: "\e90b";
}
.ico-score-logo:before {
  content: "\e907";
}
.ico-phone-icon:before {
  content: "\e906";
}
.ico-call-icon:before {
  content: "\e905";
}
.ico-jump-on-demand-logo:before {
  content: "\e903";
}
.ico-jump-logo:before {
  content: "\e904";
}
.ico-fail-icon:before {
  content: "\e900";
}
.ico-LTE-icon:before {
  content: "\e901";
}
.ico-check-icon:before {
  content: "\e902";
}