<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>pdp-features-tab</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="page-css/plp-tabwide.css">
    <link rel="stylesheet" href="page-css/pdp-features-tab.css">
</head>

<body class="bg-white">
    <!--Main Container Start-->
    <main class="middle-content">
        <div class="container no-padding">
            <div class="row no-margin">

                <div class="text-center">
                    <div class="h3-title p-t-20 p-b-30 black"> Let’s pick your SIM card </div>
                </div>

                <div class="col-xs-12 col-sm-6 phone-carousel padding-top-xl no-padding">

                    <!-- left coloum begin-->
                    <section id="carousel1"></section>
                        <!-- Carousel Begin-->
                        <div ng-controller="CarouselDemoCtrl">
                            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">

                                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">

                                    <img ng-src="{{slide.image}}" style="margin:auto;">

                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Carousel End-->
                </div>
                <!-- left coloum End-->
                <div class="col-xs-12 col-sm-6 m-t-35-xs">
                    <!-- Right coloum Begin-->
                    <div class="padding-top-xl">
                        <div class="col-xs-12 no-padding">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7 padding-bottom-large">
                                    <p class="device-sim padding-bottom-small">DEVICE SIM CARD TYPES</p>
                                    <div ng-controller="DropdownCtrl">
                                        <div class="dropdown" uib-dropdown is-open="status.isopen">
                                            <div id="paymentsDropdown" class="selector dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                                For phones
                                            </div>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="paymentsDropdown">
                                                <li role="menuitem" class="dropdown-option">
                                                    <a href="#">Full retail price</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 border-top-gray no-padding hidden-xs"> </div>
                    <div class="col-xs-12 no-padding padding-top-small" ng-controller="SeemoreCtrl1">


                        <div class="h3-title p-b-20 black">
                            T-Mobile® 3-in-1 SIM Starter Kit
                        </div>
                        <div class="body-copy-description p-b-20">
                            The 3-in-1 SIM Starter Kit includes a Nano SIM card with Micro and Standard SIM adapters. For use with unlocked, compatible
                            GSM phones. No SIM card activation required. Once you receive your SIM card in the mail, simply
                            slip it into your phone and you’re ready to go.
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 border-top-gray"> </div>
                            </div>
                        </div>

                        <!--
                        <div class="col-xs-12 col-sm-5  no-padding p-t-15 ">
                            <p class="subhead black">FULL RETAIL PRICE</p>
                        </div>
-->

                        <!--
                        <div class=" col-xs-12 price-lockup price-lockup-large padding-bottom-medium no-padding">
                            <ul class="cost-wrapper">
						
								<li class="cost">
                                    <sup class="dollar">$</sup><span class="layer">15</span><sup class="layer1">00</sup><span class="cost-header paragraph-bold xsmall text-align-left cost-header-price">Today (plus Tax)</span>
                                </li>
-->
                        <!--<li class="cost-divider text-magenta">/</li>
								 <li class="cost">
                                    <sup class="dollar black">$</sup><span class="layer strike black">25</span><sup class="layer1 black">00</sup>
                                </li>-->
                        <!--
								
                            </ul>
                        </div>
-->

                        <!--
						<div class="col-xs-12 left-text body-copy-description no-padding black font-weight-500">
							 <span class="strike">$25.00</span> <span>/ $15.00 SIM starter kit</span>                                                   
                         </div>
-->
                        <!--                        <div class="col-xs-12 left-text fine-print-body p-b-20 no-padding">-->
                        <!--<span class="fa fa-check green"></span> In stock <br>-->
                        <!--
                             Estimated ship date: 12/29/2017 - 01/02/2018                                                         
                         </div>
-->
                        <!--   Newly added code on 7/20/2018 STARTS-->

                        <div class=" col-xs-12 price-lockup price-lockup-large padding-top-small padding-bottom-small no-padding">
                            <ul class="cost-wrapper">

                                <li class="cost">
                                    <sup class="dollar">$</sup>
                                    <span class="layer font-44">0</span>
                                    <sup class="layer1">00</sup>
                                    <span class="layer custom-size-for-slash">/</span>
                                    <span class="cost-header paragraph-bold xsmall text-align-left cost-header-price font-14">Today </span>
                                    <p class=" text-magenta xsmall text-align-left font-14 p-l-10">+ Tax</p>
                                </li>
                                <li class="cost">
                                    <sup class="dollar color-5a">$</sup>
                                    <span class="layer font-44 color-5a">30</span>
                                    <sup class="layer1 color-5a">00</sup>
                                    <span class="cost-header paragraph-bold xsmall text-align-left cost-header-price font-14 color-5a">Monthly</span>
                                    <p class=" text-magenta xsmall text-align-left font-14 color-5a">(x24 mos.)</p>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-xs-12 no-padding padding-bottom-medium padding-bottom-small-xs">
                            <span class="text-gray-dark h6-title p-r-5">Full Retail Price:</span>
                            <span class="text-gray-dark h6-title" ng-class="{'strike':slashed}" > $720.00 </span>
                            <span class="text-gray-dark h6-title p-l-5" ng-If="slashed"> $576.00 </span>
                            
                        </div>
                        <div class="col-xs-12 no-padding padding-bottom-medium padding-bottom-small-xs">
                            <p class="legal line-height-14">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. For well qualified buyers.
                                0% APR. Qual’g service req’d</p>
                        </div>

                        <div class="col-xs-12 left-text body-copy-description no-padding black font-weight-500">
                            <span class="strike">$25.00</span>
                            <span>/ $15.00 SIM starter kit</span>
                        </div>

                        <div class="col-xs-12 left-text fine-print-body p-b-20 no-padding">

                            Estimated ship date: 12/29/2017 - 01/02/2018
                        </div>

                        <!--   Newly added code on 7/20/2018 ENDS-->

                        <div class="col-xs-12 border-top-gray"> </div>

                        <div class="col-xs-12 p-t-20 p-b-60 no-padding ">

                            <div class="text-center-xs ">
                                <button class="btn " ng-click="next()">Add to cart</button>
                            </div>
                        </div>



                        <!--  <div class="row no-margin padding-bottom-large">
                            <div class="col-xs-12 col-md-11 col-lg-10 no-padding">
                                <p>With 3D Touch, Live Photos, 7000 series aluminum, A9 chip, advanced cameras, 4.7-inch Retina HD display and so much more, you'll see how - with IPhone 6s - the only thing that's changed is everything...<a href="#">See more</a></p>
                            </div>
                        </div> -->

                    </div>
                </div>
                <!-- Right coloum End-->
            </div>
        </div>
        <!--/ div.container -->
        <!-- Tab ends here -->
    </main>
    <!--Main Container End-->
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>

</body>

</html>