<!DOCTYPE html >
<html lang="en" ng-app="app" class="bg-white">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accessories No EIP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/Common.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/accessories.less">
</head>

<body class="bg-white">
    <div class="container inputdemoErrors">
        <div class="content1">
            <div class="row p-t-30-xs p-t-40">
                <div class="col-xs-12 col-md-12 text-center">
                    <h5 class="header-title-style h4-title-mobile ">Protect your new phone!</h5>
                </div>
            </div>
            <div class="row p-t-20">
                <div class="col-xs-12 col-md-12 text-center ">
                    <h4 class="skip_style text-black"><a>Skip accessories</a></h4>
                </div>
            </div>
            <!--Begin: Slider/Carousel Code here -->
            <div class="row p-t-30 p-t-20-xs p-b-25-xs" ng-controller="accessoriesCarouselCtrl">
                <div class="col-xs-12 no-padding-xs  display-flex bg-f4">
                    <div class="col-xs-1 no-padding-xs col-xs-offset-0 col-sm-offset-1 col-sm-1 p-l-0-sm center-content">
                        <md-button ng-hide="offerDataIndex == 0" ng-click="moveToPrevious()" class="md-icon-button leftbutton">
                            <i class="fa fa-chevron-left pull-left-xs" aria-hidden="true"></i>
                        </md-button>
                    </div>
                    <div class="col-xs-3 col-sm-2 p-r-0-xs leftpadding center-content">
                        <span class="tag_10 text-bold text-black"> <i class="fa fa-tag" aria-hidden="true"></i> 10% off <span>
                    </div> 
                    <div class="col-xs-7 col-sm-6 p-r-0-xs center-content">
                      <span class="disc color-222222">{{offerDataDesc }} <a ng-if=offerDataUrl href={{offerDataUrl}}> See full terms</a> </span>
                    </div>
                    <div class="col-xs-1 col-sm-1 no-padding-xs center-content p-l-25-lg">
                        <md-button ng-hide="offerDataIndex == offerMaxIndex" ng-click="moveToNext()" class="md-icon-button rightbutton">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </md-button>
                    </div>
                </div>
            </div>
            <!--End: Slider/Carousel Code here -->

            <!--Start: Accessories Code -->
            <div ng-include="'html/phonelist.html'"></div>
            <!--End: Accessories Code -->
            <div class="pd-sc-oneCheck visible-xs"></div>
        </div>

    </div>
    <!--Start: FOOTER Code -->
    <div ng-include="'html/footer-onCheckbox-selection.html'"></div>
    <!--End: FOOTER Code -->
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/core/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>

</html>