<div class="p-t-20-xs" ng-controller="orderCtrl">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 bg-white p-l-15-xs p-r-15-xs">
        <div class="row visible-xs" id="top">
            <div class="col-xs-12 col-sm-12 p-t-0 p-l-25 p-b-20 p-b-0-xs p-t-0-xs p-l-20-xs p-r-20-xs">
                <div class="h4-title text-black">Natasha’s line</div>
                <div class="body-copy-description text-888888">Est ship date: 9/20/2017 - 9/25/2017 </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 visible-xs no-padding">
                <hr class=" border-e8e8e8" />
            </div>
        </div>
        <div class="scroll m-t-0-xs m-b-30 p-l-5-xs scrollClass" id="style" set-height-scroll>
            <!--<div class="row hidden-xs" id="top">
                <div class="col-xs-12 col-sm-12 p-t-0 p-l-45 p-b-20 p-b-0-xs p-t-0-xs p-l-15-xs p-r-20-xs">
                    <div class="h4-title text-black">Natasha’s line</div>
                    <div class="body-copy-description text-888888">Est ship date: 9/20/2017 - 9/25/2017 </div>
                </div>
            </div>-->
            <div
                class="container1 margin-top-bottom-box mr-left-0-xs p-t-20 p-t-20-xs  mr-left-15 br-1-ed p-b-15 p-b-15-xs">
                <div class="col-sm-1 col-xs-1 text-center ">
                    <img style="margin: auto;" src="img/warning_outline_magenta.svg" class=" text-center ">
                </div>
                <div class="col-sm-10 col-xs-10 col-md-11 p-l-20-sm p-l-20-xs">
                    <div> <span class="text-bold text-black p-b-5">Rather pay monthly?</span><span
                            class="text-black">
                            Purchase $49 or more in accessories and you may be eligible for monthly payments.</span> <a
                            href="" class="underline cursor  magenta-hover text-black ">Continue shopping</a>
                    </div>

                </div>
                <div class="row no-padding p-t-10">
                </div>
            </div>
            <!--Silicone case start here-->
            <div class="container1 mr-left-0-xs mr-left-15 mr-bt-15 br-1-ed ">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-4 p-l-10-xs p-b-10 p-b-0-xs">
                            <img src="img/silicon-case.jpg" style="width:100%" class="p-t-20 ">
                        </div>
                        <div class=" col-xs-8">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 p-l-0 p-t-25">
                                    <span class="h4-title text-bold  text-black">Apple Silicone Case for iPhone SE(2020)
                                        /8/7 Pink Sand</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 p-l-0 eyebrow  p-t-15">
                                    <span class=" ">PAY IN FULL TODAY</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 p-l-0  ">
                                    <div class="hr-1px"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 p-l-0 body-copy-description p-t-8">
                                    <p class="body-copy-description text-bold p-r-15 text-black font-12-xs"><del
                                            class="p-r-5">$XX.XX</del>$XX.XX
                                        <span class="p-l-15 text-E20074">50% OFF</span>
                                    </p>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12 hr-1px mr-bt-0"></div>
                    <div class="row no-padding">
                        <div class="row pull-right p-r-30">
                            <md-button class="hoverClr">
                                <span class="text-4A4A4A">EDIT</span>
                            </md-button>
                            <md-button class="hoverClr">
                                <span class="text-4A4A4A">REMOVE</span>
                            </md-button>
                        </div>
                    </div>
                </div>
                <!--Silicone case ends here-->
                <!--Popsocket start here-->
                <div class="container1 mr-left-0-xs mr-left-15 mr-bt-15 br-1-ed ">
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-4 p-l-10-xs p-b-10 p-b-0-xs">
                                <img src="img/pop-socket.png" style="width:100%" class="p-t-20">
                            </div>
                            <div class=" col-xs-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 p-l-0 p-t-25">
                                        <span class="h4-title text-bold  text-black">PopSockets PopTop</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 p-l-0 p-r-0 eyebrow  p-t-35">
                                        <span class=" ">PAY MONTHLY</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 p-l-0">
                                        <div class="hr-1px"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 p-r-0 p-t-5 p-l-0">
                                        <p class="body-copy-description text-bold p-r-15 text-black">$0.00
                                            <span class="p-l-15 text-black">x 12 mos.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 p-r-0 p-l-0 p-t-8">
                                        <p class="body-copy-description text-bold p-r-15 text-black">$0.00
                                            <span class="p-l-15 text-black">Due today</span>
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 p-r-10 p-t-15  lh-auto p-l-0">
                                        <div class="content-desc">
                                            Full retail price: <del>$12.00</del> <span>$0.00 <span class="p-l-15 text-E20074">50% OFF</span></span></div>
                                            <a href=""><span class="fine-print-body cursor underline magenta-hover p-l-70">Conditional promotion</span></a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-12 hr-1px mr-bt-0"></div>
                        <div class="row no-padding">
                            <div class="row pull-right p-r-30">
                                <md-button class="hoverClr">
                                    <span class="text-4A4A4A">EDIT</span>
                                </md-button>
                                <md-button class="hoverClr">
                                    <span class="text-4A4A4A">REMOVE</span>
                                </md-button>
                            </div>
                        </div>
                    </div>
                  <!--Popsocket ends here-->
            <!--START: sim starter kit section-->
            <div class="container1 mr-left-0-xs mr-left-15 mr-bt-15 br-1-ed ">
                
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-4 p-l-10-xs p-b-10 p-b-0-xs">
                        <img src="img/apple.jpg" style="width:100%" class="p-t-20 ">
                    </div>
                    <div class=" col-xs-8">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 p-l-0 p-t-25">
                                <span class="h4-title text-bold  text-black">Apple iPhone 8 Gold - 64GB</span>
                            </div>
                        </div>
                        <div class="row" ng-if="phonevariations==0">
                            <div class="col-xs-12 col-sm-12 p-l-0 body-copy-description p-t-8">
                                <span class=" ">Full retail price</span><span class="p-l-20">$699.99</span>
                            </div>
                        </div>
                        <div class="row" ng-if="phonevariations==1">
                            <div class="col-xs-12 col-sm-12 p-r-0 body-copy-description p-t-15">
                                <span class=" ">Full retail price</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 p-r-0 body-copy-description p-t-5">
                                <span class="p-r-10"><del class="p-r-10">$749.99</del> $699.99</span> <span class="font-due text-E20074">$50 off</span>
                            </div>
                        </div>
                        <div class="row" ng-show="loginCtrl.showTouchID">
                                <div class="col-xs-12">
                                    <button type="button" class="col-xs-12 btn btn-touch-id" data-ng-click="setTouch('hello')">TouchID Login</button>
                                </div>
                                <p>{{loginCtrl.showTouchID}}</p>
                            </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs " style="padding-top:10px">
                                <span class="font-due text-4A4A4A ">DUE TODAY</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs p-t-5 color-333333">
                                <span class="body-copy-description text-bold text-black">$10.00 </span><span class="font-due text-bold">+ tax</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs " style="padding-top:10px">
                                <span class="font-due text-4A4A4A ">DUE MONTHLY</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs p-t-5 color-333333">
                                <span class="body-copy-description text-bold text-black">$29.17 </span><span class="font-due text-4A4A4A text-bold">x 24 mos.</span>
                            </div>
                        </div>
                        <div class="row hidden-xs">
                            <div class="col-sm-12 p-r-10 p-t-15  lh-auto p-l-0 hidden-xs">
                                <span class="content-desc">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. FOR WELL-QUALIFIED BUYERS. 0% APR. QUAL’G SERVICE REQ’D.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-4 col-sm-8 p-r-10 p-t-10 lh-auto visible-xs ">
                    <span class="content-desc">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. FOR WELL-QUALIFIED BUYERS. 0% APR. QUAL’G SERVICE REQ’D.
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12">
                        <div class="hr-1px hr-padding"></div>
                    </div>
                <div class="col-xs-4 p-l-10-xs p-b-10  p-b-0-xs text-center">
                    <img  src="img/sim.jpg" class=" text-center simimg">
                </div>
                <div class=" col-xs-8 " >
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-l-0 ">
                            <span class="h4-title text-bold  text-black">{{simvarientheading[simvarienttype]}}</span>
                        </div>
                    </div>                 
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs p-t-5 color-333333">
                            <span class="body-copy-description text-bold text-black" ng-if="simvarienttype==0">$25.00</span>
                            <span class="body-copy-description text-bold text-black" ng-if="simvarienttype!=0"><del class="p-r-10">$25.00</del>$0.00</span>
                            <span ng-if="simvarienttype==1 || simvarienttype==3" class="text-E20074 font-due text-4A4A4A p-l-10">$25 off</span>
                            <span ng-if="simvarienttype==0 || simvarienttype==5" class="font-due text-4A4A4A text-bold">+ tax</span>
                            <div ng-if="simvarienttype==2 || simvarienttype==4" class="font-due  text-E20074 p-t-5">$25 off code THANKS applied</div>
                            <div ng-if="simvarienttype==5" class="font-due text-E20074 p-t-5">$25 off </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0"></div>
                <div class="row no-padding">
                    <div class="row pull-right p-r-30">
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">EDIT</span>
                        </md-button>
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">REMOVE</span>
                        </md-button>
                    </div>
                </div>
            </div>
            <!--END: sim starter kit section-->

            <div class="container1 mr-left-0-xs mr-left-15 mr-bt-15 br-1-ed ">
                <div class="col-xs-4 p-l-10-xs p-b-10 p-b-0-xs">
                    <img style="width: 100%" src="img/apple.jpg" class="p-t-20">
                </div>
                <div class=" col-xs-8">
                        <div class="row">
                                <div class="col-xs-12 col-sm-12 p-l-0 p-t-25">
                                    <span class="h4-title text-bold  text-black">Apple iPhone 8 Gold - 64GB</span>
                                </div>
                            </div>
                            <div class="row" ng-if="phonevariations==0">
                                    <div class="col-xs-12 col-sm-12 p-l-0 body-copy-description p-t-8">
                                        <span class=" ">Full retail price</span><span class="p-l-20">$699.99</span>
                                    </div>
                                </div>
                                <div class="row" ng-if="phonevariations==1">
                                    <div class="col-xs-12 col-sm-12 p-r-0 body-copy-description p-t-15">
                                        <span class=" ">Full retail price</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 p-r-0 body-copy-description p-t-5">
                                        <span class="p-r-10"><del class="p-r-10">$749.99</del> $699.99</span> <span class="font-due text-E20074">$50 off</span>
                                    </div>
                                </div>
                                <div class="row" ng-show="loginCtrl.showTouchID">
                                        <div class="col-xs-12">
                                            <button type="button" class="col-xs-12 btn btn-touch-id" data-ng-click="setTouch('hello')">TouchID Login</button>
                                        </div>
                                        <p>{{loginCtrl.showTouchID}}</p>
                                    </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs " style="padding-top:10px">
                                        <span class="font-due text-4A4A4A  ">PAY TODAY</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs p-t-5 color-333333">
                                        <span class="body-copy-description text-bold text-black">$10.00 </span><span class="font-due text-4A4A4A text-bold">+ tax</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs " style="padding-top:10px">
                                        <span class="font-due text-4A4A4A  ">PAY MONTHLY</span>
                                    </div>
                                </div>
                  
                    <div class="row">
                        <div class=" p-l-0">
                            <span class="body-copy-description  text-black">$46.67</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 p-r-0 p-l-0">
                            <span class="body-copy-description text-black p-r-10 ">- $999.50</span>                        
                                <span class="font-due text-E20074">$240 Trade-in promotion</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="hr-1px m-t-5 m-b-5"></div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12 col-sm-12 p-l-0 p-b-0-xs color-333333">
                                <span class="body-copy-description text-bold text-black">$29.17 </span><span class="font-due text-4A4A4A text-bold">x 24 mos.</span>
                            </div>
                        </div>
                  
                   
                    <div class="row hidden-xs">
                        <div class="col-sm-12 p-r-10 p-t-15 p-b-10 p-l-0 lh-auto hidden-xs">
                            <!--
                            <span class="order-mobile-tax">If you cancel wireless service, remaining balance on device's full retail price of $649.99 becomes
                                due.</span>
-->
                            <span class="content-desc">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. FOR WELL-QUALIFIED BUYERS. 0% APR. QUAL’G SERVICE REQ’D.
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-offset-4 col-sm-8 p-r-10 p-t-10 p-b-10 lh-auto visible-xs ">
                    <!--                    <span class="order-mobile-tax">If you cancel wireless service, remaining balance on device's full retail price of $649.99 becomes due.</span>-->
                    <span class="content-desc">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. FOR WELL-QUALIFIED BUYERS. 0% APR. QUAL’G SERVICE REQ’D.
                    </span>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0"></div>
                <div class="row no-padding">
                    <div class="row pull-right p-r-30">
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">EDIT</span>
                        </md-button>
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">REMOVE</span>
                        </md-button>
                    </div>
                </div>
            </div>                              
            <div class="container1 margin-top-bottom-box mr-left-0-xs  mr-left-15 br-1-ed">
                <div class="col-sm-4 col-xs-4 p-l-10-xs p-t-20  text-center ">
                   
                    <img style="margin: auto;" src="img/insurance.png" class="text-center ">
                </div>
                <div class="col-sm-8 col-xs-8 p-t-25 p-l-0 p-b-5">
                    <div class="h4-title text-bold text-black p-b-5 p-l-0">Device protection</div>
                    <div>
                        <span class="body-copy-description text-bold text-black">$10.00</span>
                        <span class="font-due text-4A4A4A text-bold">/mo</span>
                    </div>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0 visible-xs"></div>
                <div class="row no-padding p-t-10">
                    <div class="col-xs-12 col-sm-12 hidden-xs ">
                        <div class="col-xs-12 hr-1px-bt-mod "></div>
                    </div>

                    <div class="row pull-right p-r-30">
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">EDIT</span>
                        </md-button>
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">REMOVE</span>
                        </md-button>
                    </div>
                </div>
            </div>

            <div class="container1 margin-top-bottom-box mr-left-0-xs p-t-20 p-t-20-xs  mr-left-15 br-1-ed p-b-15 p-b-15-xs">
                <div class="col-sm-4 col-xs-4 p-l-10-xs  p-b-5 text-center ">                   
                    <img style="margin: auto;" src="img/Voice Line.png" class=" text-center ">
                </div>
                <div class="col-sm-8 col-xs-8 p-t-5  p-l-0">
                    <div class="h4-title text-bold text-black  p-b-5">Additional voice line </div>
                    <div class="p-b-5">
                        <span class="body-copy-description text-bold  text-black">T-Mobile One</span>
                    </div>
                    <div>
                        <span class="body-copy-description text-bold text-black">$20.00</span>
                        <span class="font-due text-4A4A4A text-bold">/mo</span>
                    </div>
                </div>
                <div class="row no-padding p-t-10">
                </div>
            </div>

            <div class="container1 margin-top-bottom-box mr-left-0-xs  mr-left-15 br-1-ed">
                <div class="col-sm-4 col-xs-4 p-l-10-xs p-t-20  text-center ">
                  
                    <img style="margin: auto;" src="img/insurance.png" class=" text-center">
                </div>
                <div class="col-sm-8 col-xs-8 p-t-25 p-l-0">
                    <div class="h4-title text-bold text-black p-b-5 p-l-0">Protection 360</div>
                    <div>
                        <span class="body-copy-description text-bold text-black">$14.00</span>
                        <span class="font-due text-4A4A4A text-bold">/mo</span>
                    </div>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0 visible-xs"></div>
                <div class="row no-padding p-t-10">
                    <div class="col-xs-12 col-sm-12 hidden-xs ">
                        <div class="col-xs-12 hr-1px-bt-mod "></div>
                    </div>

                    <div class="row pull-right p-r-30">
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">EDIT</span>
                        </md-button>
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">REMOVE</span>
                        </md-button>
                    </div>
                </div>
            </div>



            <div class="container1 margin-top-bottom-box mr-left-0-xs  mr-left-15 br-1-ed">
                <div class="col-sm-4 col-xs-4 p-l-10-xs text-center">
                    <img style="margin: auto;" src="img/JUMP.png" class=" p-t-20 text-center ">
                </div>
                <div class="col-sm-8 col-xs-8 p-t-25 p-l-0 p-b-10">
                    <div class="h4-title text-bold text-black  p-b-5">JUMP!® Plus</div>
                    <div>
                        <span class="body-copy-description text-bold text-black">$15.00</span>
                        <span class="font-due text-4A4A4A text-bold">/mo</span>
                    </div>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0 visible-xs"></div>
                <div class="row no-padding p-t-10">
                    <div class="col-xs-12 col-sm-12 hidden-xs ">
                        <div class="col-xs-12 hr-1px-bt-mod "></div>
                    </div>

                    <div class="row pull-right p-r-30">
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">EDIT</span>
                        </md-button>
                        <md-button class="hoverClr">
                            <span class="text-4A4A4A">REMOVE</span>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 container2 m-b-40 margin-top-bottom-box-10 mr-left-0-xs mr-left-15 br-2-6A6A6A p-t-20 p-b-20 margin-top-container">
                <div class="image-data-container row no-padding">
                    <div class="col-sm-4 col-xs-4  text-center">
                        <img width="100%" src="img/accessories-card@3x.png" class="hidden-xs">
                        <img style="width: 100%" src="img/accessories-card.png" class="visible-xs">
                        <!--<img src="img/accessories-card.png" class="wd-auto-from-460 wd-100 text-center visible-xs">-->
                    </div>
                    <div class="col-sm-8 col-xs-8 p-l-15 p-l-10-xs">
                        <div class="h4-title text-bold text-black  p-b-10 font-container2">Get a case, screen
                            protector, and wireless charger for as low as $5/mo.</div>
                        <div class="text-black font-14 desc-cont-2 hidden-xs">The best brands, the best prices.</div>
                        <div class="p-l-0 p-t-0-xs p-t-15">
                            <button class="btn-black">Add accessories</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
                    <div class="col-xs-12 mr-left-15 mr-left-0-xs padding-right-0-xs p-r-0 p-l-0 p-b-5 container2 ">
                        <button  class="col-xs-5 cta-image-width   bg-white 
                          SecondaryCTA-Normal-shipping SecondaryCTA-html  glueButton glueButtonSecondaryCTA  cursor"
                             ripple value="true" >
                            <img ng-src="./img/accessories.svg" class="center-content-sm cta-image-size">
                            <div>
                            <p class="body-copy-description text-bold text-black p-t-8">Add an accessory</p>
                           </div>
                            </button>
                        
                        <button class="col-xs-5 gluebutton  m-l-5-percent cta-image-width SecondaryCTA-Normal-shipping   glueButton glueButtonSecondaryCTA SecondaryCTA-html bg-white"
                              ripple value="true" >
                            <img ng-src="./img/Color-override.svg" class="center-content-sm cta-image-size">
                            <div>
                            <p class="body-copy-description text-bold text-black p-t-8">Add someone new to your account</p>                          
                           
                        </div>
                             </button>
                             <button class="col-xs-5 gluebutton   cta-image-width SecondaryCTA-Normal-shipping   glueButton glueButtonSecondaryCTA SecondaryCTA-html bg-white m-t-8"
                              ripple value="true" >
                            <div class="center-content-sm">
                              <img ng-src="./img/Watches.svg" class="cta-image-size">
                            <img ng-src="./img/Tablets.svg" class="cta-image-size">
                        </div>
                            <div>
                            <p class="body-copy-description text-bold text-black p-t-8">Add a smartwatch or tablet</p>                          
                           
                            </div>
                             </button>
                             <button class="col-xs-5 gluebutton  m-l-5-percent cta-image-width SecondaryCTA-Normal-shipping   glueButton glueButtonSecondaryCTA SecondaryCTA-html bg-white m-t-8"
                              ripple value="true" >
                            <img ng-src="./img/device.svg" class="center-content-sm cta-image-size">
                            <div>
                            <p class="body-copy-description text-bold text-black p-t-8">Upgrade a device</p>                          
                           
                        </div>
                             </button>
                    </div>
                
        </div>
    </div>
    <div>

    </div>

    <div class="col-xs-12 visible-xs no-padding bg-white">
        <hr class=" border-e8e8e8 m-b-0-xs" />
    </div>

    <div class="col-xs-12 col-sm-5 fixedDiv p-t-0-xs p-l-20-xs p-r-20-xs ht-bg-c no-padding rightHeight"
        set-height-order>
        
            <!--<div class="col-xs-12 col-sm-12 p-l-40 p-b-35 p-r-20-xs p-l-15-xs p-t-35" ng-show="existingPromoCode">
                <button class="Rectangle-bt br-0 glueButtonPrimary border-E20074 p-l-15 p-r-15" ripple value="true" ng-click="addPromoCode()">
                    <span class="body-copy-description text-E20074">Add promo code</span>
                </button>

            </div>-->
            <!--<div class="row" ng-show="successText">
                <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 p-b-0 p-t-30 p-b-0-xs p-l-30-xs p-r-30-xs p-l-25 padding-green">
                    <i class="fa fa-check-circle check-green" aria-hidden="true"></i>
                    <span class="green-font">Buy a charger, screen protector, case and receive 25% off your order.</span>
                </div>
            </div>-->

            
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs p-t-15 p-b-10">
                    <!-- <div class="h4-title text-black">Natasha’s line</div> -->
                    <div class="body-copy-description text-888888">Est ship date: 9/20/2017 - 9/25/2017 </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">EIP pay off</p>
            <p class="h4-title pull-right font-normal">$180.89</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">Due today</p>
            <p class="h4-title pull-right font-normal"><del class="p-r-5">$XXX</del>$XXX</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">Due today subtotal</p>
            <p class="h4-title pull-right font-normal">$148.73</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
                <p class="h4-title pull-left font-normal">Est. shipping</p>
                <p class="h4-title pull-right font-normal"><del class="p-r-5">$5.00</del>$0.00</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">Sales tax &nbsp;
                <!-- <a class="fine-print-body">How's it calculated?</a> -->
                <a href=""><span class="fine-print-body underline cursor  magenta-hover text-black ">How's it calculated?</span>
            </p>
            <p class="h4-title pull-right font-normal">$72.99</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <hr class="margin-top-bottom-mod border-e8e8e8" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left text-black">Due today total</p>
            <p class="h4-title pull-right text-black">$228.71</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-t-10-xs p-l-0-xs p-r-0-xs p-l-25">
            <p>
                <span class="body-copy-description text-black pull-left">Due monthly total:</span>
                <span class="body-copy-description text-bold text-black">&nbsp $37.91</span>
                <span class="font-due text-4A4A4A text-bold"> x 24 mos</span>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  p-t-10 p-l-0-xs p-r-0-xs p-l-25 p-r-30">
            <span class="new-font font-arialmt" ng-if="!slashed">If you cancel wireless service, remaining balance on
                device becomes due.</span>
            <span class="content-desc" ng-if="slashed">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. FOR WELL-QUALIFIED BUYERS. 0% APR. QUAL’G SERVICE REQ’D.
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 text-center p-b-30 p-l-0-xs p-r-0-xs" ng-if="!slashed">
            <a class="hyperLink-magenta">How does this affect my monthly bill?</a>
        </div>
        <div class="col-xs-12 col-sm-12 padding-text-fixed  p-l-0-xs p-r-0-xs">
            <div class="p-t-20">
                <div class="border">
                    <div class="font-14 text-bold text-black p-t-15 p-b-5 padding-horizontal-medium">You’re saving $20
                        by upgrading your phone using our app. Good job!
                    </div>
                    <div class="font-14 desc-cont-2 p-b-15 padding-horizontal-medium">Placeholder text.
                        <span class="underline cursor  magenta-hover text-black">See details</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 padding-text-fixed  p-l-0-xs p-r-0-xs">
            <div class="p-t-20">
                <div class="border">
                    <div class="font-14 p-t-15 p-b-15 padding-horizontal-medium">
                        <span class = "text-bold text-black">Want to transfer your number to T-Mobile?</span>
                        <span> It’s easy! Complete your order online and follow the instructions on the confirmation page. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 padding-text-fixed  p-l-0-xs p-r-0-xs">
            <div class="p-t-20 p-b-35-xs p-l-4 ">
                <p class="font-14 text-black text-bold ">If you would  like to trade in a device, call <span class="wrap-phonenum">1-800-T-Mobile.</span> </p>
                </div>
        </div>  
        <div class="row">
            <form name="paymentForm">
                <div class="col-xs-12 col-sm-12 p-l-40 p-r-20-xs p-l-15-xs p-t-30">
                    <div class="h4 title-text text-bold text-black p-b-5">Promo code</div>
                    <div class="col-xs-7 col-sm-7 no-padding p-l-0-xs" ng-show="existingPromoCode" >
                        <md-input-container style="margin-top: 3px;" class="p-l-0 m-b-0 w-95">
                            <label class="m-b-0 m-r-0 pd-lt-0-imp">Enter promo code</label>
                           <input class="text-ad p-r-20-input ie-ip"
                           type="text"
                           name="promocode"
                           pattern="[a-zA-z0-9]*"
                           ng-model-options="{ allowInvalid: true}"
                           ng-minlength="4"
                           ng-model="payment.promocode"
                           ng-change="change1(payment.promocode)" />
                           <div ng-show="paymentForm.promocode.$error.minlength" class="text-red content-desc  " >
                                <span class="p-t-10 text-wrap">Sorry SSAVE25 is not a valid code.</span>
                               <span class="pull-right p-t-10  m-l-imp" style="width: 28px;"><img src="img/warning_red_regular-16.svg" ></span>
                               
                           </div>                              
                       </md-input-container>                           
                   </div>
                   <div class="col-xs-5 col-sm-4 no-padding p-r-10 p-r-15-xs pd-xs-promo" ng-show="existingPromoCode">
                       <md-button style="width: 100%" ng-class="changeClr?'backClr':''" class="Rectangle-bt2 p-l-15 p-r-15 glueButton glueButtonPrimary h-40" ripple value="true"  ng-disabled="paymentForm.promocode.$invalid ||paymentForm.promocode.$pristine || changeClr==false" 
                       ng-class="disabled ? paymentForm.promocode.$invalid" ng-click="applyCode(this)" >
                        <span class="body-copy-description text-black" ng-class="changeClr?'text-white':''">Apply</span>
                       </md-button>
                   </div>
                   <div ng-show="successText1">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0 p-r-0-xs p-b-7 p-r-32">
                        <div class="border-magenta promo-box">  
                            <span class="float-left box-left">
                               
                                  <span>
                                    <i class="fa fa-tag p-r-10 font-20 text-magenta m-t-ie" aria-hidden="true">
                                    </i> 
                                  </span>                              <span>
                                    <p class="font-14 text-bold text-magenta p-b-5">Promo applied
                                    </p>
                                    <p class="font-18 text-bold text-black">Free PopSockets PopTop
                                    </p>
                                
                               </span>
                                
                            </span>
                            <span  class="float-right"> 
                                <img src="img/Close.svg" class="icon-dimension m-t-ie" ng-click="remove1()"> 
                            </span>
                        </div>
                            
                       </div>
                   </div>
                   
               </div>
            </form>
        </div>  
        <div class="col-xs-12 col-sm-12 padding-text-fixed  p-l-0-xs p-r-0-xs p-b-30-xs p-t-10">
                <div class="p-b-25 p-b-35-xs font-12">You can only apply one promo code at a time.
                </div>
            <md-button class="PrimaryCTA-Normal-shipping   btn-full margin-0 m-l-0-xs  glueButton glueButtonPrimary" ripple value="true" ng-click="moveToShipping()">
                <p class="agree tx-trans">Continue to shipping</p>
            </md-button>
        </div>
    </div>
</div>