<div class="p-t-30-xs p-b-50  bg-white-xs">
       
    <div class="bg-fb col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-sm-5 col-lg-offset-1 col-lg-5 p-l-25 p-r-25 no-padding p-t-50 p-t-0-xs p-b-30-xs  pull-right-sm p-l-20-xs p-r-20-xs bg-white-xs">
           
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">EIP pay off</p>
            <p class="h4-title pull-right font-normal">$180.89</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">Due today</p>
            <p class="h4-title pull-right font-normal">$148.73</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">Shipping (UPS Ground)</p>
            <p class="h4-title pull-right font-normal">$6.99</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">Sales tax  <span class="fine-print-body underline cursor  magenta-hover text-black p-l-5">How's it calculated?</span></p>
            <p class="h4-title pull-right font-normal">$72.99</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
            <hr class=" border-e8e8e8" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left text-black">Due today total</p>
            <p class="h4-title pull-right text-black">$228.71</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs p-t-5 no-padding">
            <p class="body-copy-description text-black">Total financed amount:  $699.99 </p>
        </div>
    </div>
    <form name="paymentForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p-t-50 p-t-0-xs p-l-30 p-r-20-xs p-l-20-xs no-padding bg-white-xs paymentHtCalc p-b-25 p-b-0-xs">
            <h4 class="h4-title pa-styles text-black hidden-xs">Payment Information</h4>
            <p class="h4-title text-black visible-xs">Payment information</p>
            <div class="p-t-30-sm p-t-30 md p-t-30-lg">
                <md-input-container style="width: 100%; margin-bottom: 0px" class="p-l-0-imp">
                    <label class="text-grey-40 pa-bd-styles">Name on card</label>
                    <input type="text" tabindex="1" pattern="[a-zA-Z\s\-\.]*" name="nameOnCard" ng-model="payment.nameOnCard" clearinput class="p-l-0-imp"/>
                    <div ng-messages="paymentForm.nameOnCard.$error">
                        <div ng-message="pattern" class="fine-print-body">Enter a valid Name</div>
                    </div>
                </md-input-container>
            </div>
            <div class="p-t-35">
                <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                    <label class="text-grey-40 pa-bd-styles">Credit card number</label>
                    <input type="text" tabindex="1" name="creditCardNo" ng-model="payment.creditCardNo" pattern="^(?:(\d{4} *\d{4} *\d{4} *\d{4}))$" maxlength="19" numbervaluesonly format class="p-l-0-imp" />
                    <div ng-messages="paymentForm.creditCardNo.$error">
                        <div ng-message="pattern" class="fine-print-body">Enter a valid Number</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-35 no-padding display-flex">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding">
                    <md-input-container style="width: 100%; margin-bottom: 0px" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles">Expiration</label>
                        <input type="text" tabindex="1" name="expire" ng-model="payment.expire" numbervaluesonly pattern="^(0?[1-9]|1[0-2])/(0?[12][0-9]|3[01])$" maxlength="5" expiryformat class="p-l-0-imp" />
                        <div ng-messages="paymentForm.expire.$error">
                            <div ng-message="pattern" class="fine-print-body">Enter a valid Number</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 p-l-50-sm p-r-0-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles p-l-0-imp">CVV &nbsp;</label>
                        <input type="text" tabindex="1" name="cvv" minlength="3" maxlength="4" ng-model="payment.cvv" numbervaluesonly pattern="[0-9]*" class="p-l-0-imp" />
                        <div ng-messages="paymentForm.cvv.$error" class="overlay p-t-5">
                            <div ng-message="pattern || minlength" class="fine-print-body">Enter a valid CVV</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <hr class="hr-sh-xs visible-xs">
            <div class="no-padding ">
                    <div class="   no-padding p-t-50 p-t-0-xs p-b-10" style="display:inline-flex;">
                        <p class="h4-title text-black pa-styles p-r-10 ">Payment address</p>
                        <img src="img/edit.png" class=" hidden-xs p-l-5" aria-hidden="true"  ng-click="checkboxClick()" ng-show="!hide"/>
                    </div> 
                    <div  class= "display-flex no-padding">         
                    <p class="body-copy-description pa-bill  text-black hidden-xs"  ng-show="!hide">1234 Main St. Suite 001<br> Rancho Santa Margarita, CA 10001</p>            
                    <a href="" class="visible-xs  p-b-25 p-b-0-xs col-xs-10 no-padding co-000"><div class="body-copy-description" ng-click="addPaymentMobile()">1234 Main St. Suite 001<br> Rancho Santa Margarita, CA 10001</div></a>
                    <div class=" p-b-25 p-b-0-xs hidden-lg hidden-md hidden-sm col-xs-2 p-l-35-xs center-content p-r-0-xs "><a href=""><span style="font-size: 20px;" ng-click="addPaymentMobile()" class="fa fa-angle-right text-bold text-black pull-right"></span></a></div>
                    </div>
                </div>
                <hr class="hr-sh-xs visible-xs">
            <div class="col-xs-12 p-l-0 p-r-0 p-l-0-xs p-r-0-xs hidden-xs" ng-show="hide">
                <h4 class="h4-title p-t-50 p-t-25-xs" ng-show="!hide">Billing address</h4>
                <div class="p-t-20 col-xs-12 no-padding p-l-0-xs p-r-0-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles">Address line1</label>
                        <input type="text" tabindex="1" name="address1" ng-model="payment.address1"  class="p-l-0-imp"/>
                        <span class="fine-print-body addr-subtext m-t-5">Street address, P.O. box, company name, c/o</span>
                    
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 no-padding p-l-0-xs p-r-0-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles">Address line2</label>
                        <input type="text" tabindex="1" name="address2" ng-model="payment.address2"  class="p-l-0-imp"/>
                        <span class="fine-print-body addr-subtext m-t-5">Apartment, suite, unit, building, floor, etc.</span>
                        
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 no-padding p-l-0-xs p-r-0-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles p-l-0-imp">City</label>
                        <input type="text" tabindex="1" name="city" ng-model="payment.city"  />
                        
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding display-flex field-wd1 p-l-0-xs p-r-0-xs p-t-25">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 p-l-0 dropwidth">
                        <md-input-container style="width: 100%" class="p-l-0-imp">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">State</label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="[a-zA-z]*" name="state" ng-change="onedit()" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue" />

                            <div ng-messages="paymentForm.state.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid state</div>
                            </div>
                        </md-input-container>
                    </div>
                        <div class="col-xs-offset-1 col-xs-4 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 p-l-0 p-r-0 ">
                            <md-input-container class="p-l-0-imp">
                                <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">Zipcode</label>
                                <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="^\d{5}(?:[-\s]\d{4})?$" maxlength="10" name="zip"
                                    ng-model="payment.zip" />
    
                                <div ng-messages="paymentForm.zip.$error">
                                    <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid Zipcode</div>
                                </div>
                            </md-input-container>
                        </div>
                </div>
                <div tabindex="0" class="col-xs-12 col-sm-8 col-md-6 p-t-15 col-lg-6 no-padding p-b-30 btnCancelwidth" ng-show="hide">
                    
                    <button md-ink-ripple value="true" class="SecondaryCTA-Normal-shipping  margin-0 m-l-0 glueButton glueButtonSecondaryCTA m-t-0 m-r-0 m-b-0"
                        ng-click="cancelPaymentAddr()" >
                        <p class="agree tx-trans text-black">Cancel</p>
                    </button>
                </div>
            </div>
        </div>
        </form>
        <div set-height-payment class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-sm-5 col-lg-offset-1 col-lg-5 p-l-25 no-padding p-r-25 p-r-20-xs p-l-20-xs bg-white-xs bg-fb-ht heightReCalc">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
                <p class="eyebrow color-6a6a6a p-t-30 p-t-5-xs p-b-10 pa-agreement ">
                        Customer agreement
                </p>
                <p class="credit-txt color-e6e6e6 p-t-10 p-b-10 p-l-10 h-85">
                        Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Ipsum Loren Ipsum Loren Ipsum
                        Ipsum Loren Ipsum Loren Ipsum Ipsum Loren Ipsum Loren
                        Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum 
                        Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Ipsum Loren Ipsum Loren Ipsum
                        Ipsum Loren Ipsum Loren Ipsum Ipsum Loren Ipsum Loren
                        Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum 
                </p>
                <div style="display:inline-flex;" class="p-t-15 ">
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-click="acceptTC()" class=" md-primary" ng-model='boolValue' >
                            </md-checkbox>       
               <div> <p class="eyebrow text-transform-none  color-acacac pa-agreement p-l-10">
                        By clicking “Accept and place order”, you agree to T-Mobile's Terms and Conditions and any terms
                         specific to your Rate Plan or service. See T-Mobile's Terms and Conditions for details at
                         <span class="fine-print-body underline cursor  magenta-hover text-black">www.T-Mobile.com/terms-conditions.</span>”
                </p>
            </div>
                    </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-45 p-t-35-xs p-l-0-xs p-r-0-xs p-b-30 p-b-35-xs no-padding">
                    <md-button ng-class="changeClr?'backClr':''"  class="PrimaryCTA-Normal-shipping btn-full margin-0 m-l-0 glueButton glueButtonPrimary" ripple value="true" ng-disabled="!boolValue" 
                    ng-click="acceptTC()" >
                        <p class="agree tx-trans" ng-class="changeClr?'text-white':''">Place order</p>
                    </md-button>
            </div>

        
        </div>
</div>