<div class="p-t-20-xs">
    <form name="paymentForm" autocomplete="off">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 no-padding p-r-0-sm p-r-0-md p-r-0-lg bg-white-xs p-l-30-sm p-l-30-md p-l-30-lg shippingHtCalc">
            <div class="p-t-50 p-t-10-xs col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-20-xs p-r-20-xs">
                <p class="h4-title text-black" style="display:inline;">Shipping address</p>
                <img src="img/edit.png" id="editShipAddr" class=" hidden-xs p-l-5" aria-hidden="true" ng-show="existingAddress"
                    ng-click="add()" />
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 display-flex no-padding " >
                    <div class="body-copy-description  p-t-10  col-xs-10 no-padding hidden-xs text-black" ng-show="existingAddress">Matt Johnson
                            <br>1234 Main St.
                        Suite 001<br> Rancho Santa Margarita, CA 10001</div>
                    <a href="" class="visible-xs p-t-10  col-xs-10 no-padding co-000">
                        <div class="body-copy-description " ng-click="addMobile()">Matt Johnson<br>1234 Main St. Suite 001<br> Rancho
                            Santa Margarita, CA 10001</div>
                    </a>
                    <div class="p-t-15  hidden-lg hidden-md hidden-sm col-xs-2 p-l-35-xs center-content p-r-0-xs "><a
                            href=""><span style="font-size: 20px;" ng-click="addMobile()" class="fa fa-angle-right text-bold text-black pull-right"></span></a></div>
                </div>
                <hr class="hr-sh-xs visible-xs">

            </div>       
   
            <div class="col-xs-12 padding-address hidden-xs" ng-show="newAddress">
                <div class="p-t-35-sm p-t-35-md p-t-35-lg col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs">
                    <span class="col-sm-6 col-md-6 col-lg-6 p-l-0">
                        <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;padding-left:0px">
                            <label class="text-grey-40 pa-bd-styles">First Name<sup>*</sup></label>
                            <input type="text" tabindex="1" name="address1" ng-model="payment.firstName" />
                        </md-input-container>
                    </span>
                    <span class="col-sm-6 col-md-6 col-lg-6 p-l-0 p-r-0">
                        <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;padding-left:0px">
                            <label class="text-grey-40 pa-bd-styles">Last Name<sup>*</sup>
                            </label>
                            <input type="text" tabindex="1" name="address1" ng-model="payment.lastName" />
                        </md-input-container>
                        </span>
                </div>
                <div class="p-t-35-sm p-t-35-md p-t-35-lg col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;padding-left:0px">
                        <label class="text-grey-40 pa-bd-styles">Address line1<sup>*</sup></label>
                        <input type="text" tabindex="1" name="address1" ng-model="payment.address1" />
                        <span class="fine-print-body addr-subtext m-t-5">Street address, P.O. box, company name, c/o</span>
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px; padding-left: 0px">
                        <label class="text-grey-40 pa-bd-styles">Address line2</label>
                        <input type="text" tabindex="1" name="address2" ng-model="payment.address2" />
                        <span class="fine-print-body addr-subtext m-t-5">Apartment, suite, unit, building, floor, etc.</span>
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs p-l-0-imp">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px; padding-left: 0px">
                        <label class="text-grey-40 pa-bd-styles">City<sup>*</sup></label>
                        <input type="text" tabindex="1" name="city" ng-model="payment.city" class="p-l-0-imp" />
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs p-l-0-imp">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 p-l-0 dropwidth">
                        <md-input-container style="width: 100%" class="p-l-0-imp">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">State<sup>*</sup></label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="[a-zA-z]*"
                                name="state" ng-change="onedit()" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue" />

                            <div ng-messages="paymentForm.state.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid state</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3 p-l-0 p-r-0 ">
                        <md-input-container class="p-l-0-imp">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">Zipcode<sup>*</sup></label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="^\d{5}(?:[-\s]\d{4})?$"
                                maxlength="10" name="zip" ng-model="payment.zip" />

                            <div ng-messages="paymentForm.zip.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid Zipcode</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>               
                <div tabindex="0" class="col-xs-12 col-sm-8 col-md-6 col-lg-6 p-t-15 no-padding btnCancelwidth" ng-show="newAddress">
                    <button md-ink-ripple tabindex="0" class="SecondaryCTA-Normal-shipping  margin-0 m-l-0 glueButton glueButtonSecondaryCTA m-t-0 m-r-0 m-b-0"
                        ng-click="cancelShippingAddr()" >
                        <p class="agree tx-trans text-black">Cancel</p>
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 bg-white-xs p-l-0 p-l-20-xs p-r-0 p-r-20-xs visible-xs" >
            <div class="p-t-50 p-t-0-xs col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <div class="no-padding p-l-25-sm p-l-25-md p-l-25-lg p-r-25-sm p-r-25-md p-r-25-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="h4-title text-black">Shipping method</p>
                    <div class="no-padding col-xs-12 ">
                        <md-radio-group ng-model="data.group1">
                            <md-radio-button value="Ground shipping (up to 5 business days)">
                                <p class="body-copy-highlight pull-left text-black setdisplay1 m-t-15">Ground shipping
                                    <br><span class="body-copy-description ">(up to 5 business days)</span></p>
                                <p class="body-copy-description pull-right font-normal p-t-15">$0.00</p>
                            </md-radio-button>
                            <md-radio-button value="Two Day shipping">
                                <span class="body-copy-highlight text-black setdisplay1">Two Day shipping</span>
                                <span class="body-copy-description pull-right font-normal">$9.99</span>
                            </md-radio-button>
                            <md-radio-button value="Next Day shipping" class="rd-btn-btm-0">
                                <span class="body-copy-highlight text-black setdisplay1">Next Day shipping</span>
                                <span class="body-copy-description pull-right font-normal">$6.99</span>
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <hr class="hr-sh-xs visible-xs">

            </div>
            <!--E911 address section start-->
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-20-xs p-r-20-xs p-t-50 p-t-0-xs">
                <p class="h4-title text-black display-inline">E911 address</p>
                <img src="img/edit.png" id="editE911Addr" class=" hidden-xs p-l-5" aria-hidden="true" ng-show="existingE911Address"
                    ng-click="addE911()" />                   
                <div class="p-t-5 legal text-black">This is the address where your device will be used most often. This
                    address will also be used in case of emergency. </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 display-flex no-padding " >
                    <div class="body-copy-description  p-t-10  col-xs-12 no-padding hidden-xs text-black" ng-show="existingE911Address">2345 Main St.
                        Suite 001<br> Rancho Santa Margarita, CA 10001</div>
                    <a href="" class="visible-xs p-t-10  col-xs-12 no-padding co-000">
                        <div class="body-copy-description " ng-click="addE911Mobile()">2345 Main St. Suite 001<br>
                            Rancho Santa Margarita, CA 10001</div>
                    </a>
                    <div class="p-t-15  hidden-lg hidden-md hidden-sm col-xs-2 p-l-35-xs center-content p-r-0-xs ">
                        <a href=""><span style="font-size: 20px;" ng-click="addE911Mobile()" class="fa fa-angle-right text-bold text-black pull-right"></span></a></div>
                </div>
                <hr class="hr-sh-xs visible-xs">

            </div>
            <div class="col-xs-12 padding-address hidden-xs" ng-show="newE911Address">
                <div class="p-t-35-sm p-t-35-md p-t-35-lg col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;padding-left:0px">
                        <label class="text-grey-40 pa-bd-styles">Address line1<sup>*</sup></label>
                        <input type="text" tabindex="1" name="address1" ng-model="paymentE911.address1" />
                        <span class="fine-print-body addr-subtext m-t-5">Street address, P.O. box, company name, c/o</span>
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px; padding-left: 0px">
                        <label class="text-grey-40 pa-bd-styles">Address line2</label>
                        <input type="text" tabindex="1" name="address2" ng-model="paymentE911.address2" />
                        <span class="fine-print-body addr-subtext m-t-5">Apartment, suite, unit, building, floor, etc.</span>
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs p-l-0-imp">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px; padding-left: 0px">
                        <label class="text-grey-40 pa-bd-styles">City<sup>*</sup></label>
                        <input type="text" tabindex="1" name="city" ng-model="paymentE911.city" class="p-l-0-imp" />
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs p-l-0-imp">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 p-l-0 dropwidth">
                        <md-input-container style="width: 100%" class="">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">State<sup>*</sup></label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="[a-zA-z]*"
                                name="state" ng-change="onedit()" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue" />
                            <div ng-messages="paymentForm.state.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid state</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3 p-l-0 p-r-0 ">
                        <md-input-container class="p-l-0-imp" style="width: 100%">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">Zipcode<sup>*</sup></label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="^\d{5}(?:[-\s]\d{4})?$"
                                maxlength="10" name="zip" ng-model="paymentE911.zip" />
                            <div ng-messages="paymentForm.zip.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid Zipcode</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div tabindex="0" class="col-xs-12 col-sm-8 col-md-6 col-lg-6  p-t-15 no-padding btnCancelwidth" ng-show="newE911Address">
                    <button md-ink-ripple class="SecondaryCTA-Normal-shipping   margin-0 m-l-0 glueButton glueButtonSecondaryCTA m-t-0 m-r-0 m-b-0"
                        ng-click="cancelE911Addr()" >
                        <p class="agree tx-trans text-black">Cancel</p>
                    </button>
                </div>
            </div>
            <!--E911 address section END-->
            <!--Primary place of use section start-->
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-20-xs p-r-20-xs p-t-50 p-t-0-xs">
                <p class="h4-title text-black " style="display:inline;">Primary place of use</p>
                <img src="img/edit.png" id="editPrimaryAddr" class=" hidden-xs p-l-5" aria-hidden="true" ng-show="existingPrimaryAddress"
                    ng-click="addPrimary()" />                    
                <div class="p-t-5 legal text-black">This is the address where your device will be used most often. We
                    also use it to calculate monthly service taxes. </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 display-flex no-padding" >
                    <div class="body-copy-description  p-t-10 col-xs-12 no-padding hidden-xs text-black p-b-20" ng-show="existingPrimaryAddress">3456 Main St.
                        Suite 001<br> Rancho Santa Margarita, CA 10001</div>
                    <a href="" class="visible-xs p-t-10  col-xs-12 no-padding co-000">
                        <div class="body-copy-description " ng-click="addPrimaryMobile()">3456 Main St. Suite 001<br>
                            Rancho Santa Margarita, CA 10001</div>
                    </a>
                    <div class="p-t-15  hidden-lg hidden-md hidden-sm col-xs-2 p-l-35-xs center-content p-r-0-xs "><a
                            href=""><span style="font-size: 20px;" ng-click="addPrimaryMobile()" class="fa fa-angle-right text-bold text-black pull-right"></span></a></div>
                </div>
                <hr class="hr-sh-xs visible-xs">

            </div>
            <div class="col-xs-12 padding-address hidden-xs" ng-show="newPrimaryAddress">
                <div class="p-t-35-sm p-t-35-md p-t-35-lg col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;padding-left:0px">
                        <label class="text-grey-40 pa-bd-styles">Address line1<sup>*</sup></label>
                        <input type="text" tabindex="1" name="address1" ng-model="paymentPrimary.address1" />
                        <span class="fine-print-body addr-subtext m-t-5">Street address, P.O. box, company name, c/o</span>
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px; padding-left: 0px">
                        <label class="text-grey-40 pa-bd-styles">Address line2</label>
                        <input type="text" tabindex="1" name="address2" ng-model="paymentPrimary.address2" />
                        <span class="fine-print-body addr-subtext m-t-5">Apartment, suite, unit, building, floor, etc.</span>
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs p-l-0-imp">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px; padding-left: 0px">
                        <label class="text-grey-40 pa-bd-styles">City<sup>*</sup></label>
                        <input type="text" tabindex="1" name="city" ng-model="paymentPrimary.city" class="p-l-0-imp" />
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding p-l-5-xs p-r-5-xs p-l-0-imp">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 p-l-0 dropwidth">
                        <md-input-container style="width: 100%" class="">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">State<sup>*</sup></label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="[a-zA-z]*"
                                name="state" ng-change="onedit()" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue" />
                            <div ng-messages="paymentForm.state.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid state</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3 p-l-0 p-r-0 ">
                        <md-input-container class="p-l-0-imp" style="width: 100%">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">Zipcode<sup>*</sup></label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="^\d{5}(?:[-\s]\d{4})?$"
                                maxlength="10" name="zip" ng-model="paymentPrimary.zip" />
                            <div ng-messages="paymentForm.zip.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid Zipcode</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div tabindex="0" class="col-xs-12 col-sm-8 col-md-6 col-lg-6 p-t-15 no-padding p-b-30 btnCancelwidth" ng-show="newPrimaryAddress">
                    <button md-ink-ripple tabindex="0" class="SecondaryCTA-Normal-shipping  margin-0 m-l-0 glueButton glueButtonSecondaryCTA m-t-0 m-r-0 m-b-0"
                        ng-click="cancelPrimaryAddr()" > 
                        <p class="agree tx-trans text-black">Cancel</p>
                    </button>
                </div>
            </div>
            <!--Primary place of use section END-->          
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 bg-white-xs p-l-0 p-l-20-xs p-r-0 p-r-20-xs visible-xs ">
                <div class="p-l-0-xs p-t-20  col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-25 p-r-25 p-b-50 p-b-35-xs p-r-0-xs">
                        <md-button class="PrimaryCTA-Normal-shipping btn-full margin-0 m-l-0 glueButton glueButtonPrimary"
                            ripple value="true" ng-click="moveToPayment()">
                            <p class="agree tx-trans">Continue to payment</p>
                        </md-button>
                    </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 bg-white-xs p-l-0 p-l-20-xs p-r-0 p-r-20-xs ht-bg-c shipHtReCalc hidden-xs"
            set-height-shipping >
            <div class="p-t-50 p-t-0-xs col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <div class="no-padding p-l-25-sm p-l-25-md p-l-25-lg p-r-25-sm p-r-25-md p-r-25-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="h4-title text-black">Shipping method</p>
                    <div class="no-padding col-xs-12 ">
                        <md-radio-group ng-model="data.group1">
                            <md-radio-button value="Ground shipping (up to 5 business days)">
                                <p class="body-copy-highlight pull-left text-black setdisplay1 m-t-15">Ground shipping
                                    <br><span class="body-copy-description ">(up to 5 business days)</span></p>
                                <p class="body-copy-description pull-right font-normal p-t-15">$0.00</p>
                            </md-radio-button>
                            <md-radio-button value="Two Day shipping">
                                <span class="body-copy-highlight text-black setdisplay1">Two Day shipping</span>
                                <span class="body-copy-description pull-right font-normal">$9.99</span>
                            </md-radio-button>
                            <md-radio-button value="Next Day shipping">
                                <span class="body-copy-highlight text-black setdisplay1">Next Day shipping</span>
                                <span class="body-copy-description pull-right font-normal">$6.99</span>
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <div class="p-l-0-xs p-t-40 p-t-20-xs col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-25 p-r-25 p-b-50 p-b-35-xs p-r-0-xs">
                <md-button class="PrimaryCTA-Normal-shipping btn-full margin-0 m-l-0 glueButton glueButtonPrimary"
                    ripple value="true" ng-click="moveToPayment()">
                    <p class="agree tx-trans">Continue to payment</p>
                </md-button>
            </div>
        </div>
</div>
</form>
</div>