<div class="">
    <form name="paymentForm" autocomplete="off">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 no-padding p-r-0-sm p-r-0-md p-r-0-lg bg-white-xs p-l-30-sm p-l-30-md p-l-30-lg m-t-20-xs-imp p-r-20-xs p-l-20-xs">

            <div class="col-xs-12 padding-address">
                    <div class="row no-padding">
                            <h3 class="h3-title text-black text-center p-b-30" >Please review the info below.</h3>

                <p class="h4-title text-black">{{titleShipping}}</p>
                <div ng-if="checkTitle()">
                    <div class="p-t-35-sm p-t-35 md p-t-35-lg col-xs-12 col-sm-9 col-md-9 col-lg-9 no-padding p-l-0-xs p-r-0-xs">
                        <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                            <label class="text-grey-40 pa-bd-styles">First Name</label>
                            <input type="text" tabindex="1" name="firstname" ng-model="payment.firstname"  />                     
                        </md-input-container>
                    </div>
                    <div class="p-t-35-sm p-t-35 md p-t-35-lg col-xs-12 col-sm-9 col-md-9 col-lg-9 no-padding p-l-0-xs p-r-0-xs">
                        <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                            <label class="text-grey-40 pa-bd-styles">Last Name</label>
                            <input type="text" tabindex="1" name="lastname" ng-model="payment.lastname"  />                      
                        </md-input-container>
                    </div>
                </div>

                <div class="p-t-35-sm p-t-35 md p-t-35-lg col-xs-12 col-sm-9 col-md-9 col-lg-9 no-padding p-l-0-xs p-r-0-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles">Address line1</label>
                        <input type="text" tabindex="1" name="address1" ng-model="payment.address1"  />
                        <span class="fine-print-body addr-subtext m-t-5">Street address, P.O. box, company name, c/o</span>
                       
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-9 col-md-9 col-lg-9 no-padding p-l-0-xs p-r-0-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles">Address line2</label>
                        <input type="text" tabindex="1" name="address2" ng-model="payment.address2"  />
                        <span class="fine-print-body addr-subtext m-t-5">Apartment, suite, unit, building, floor, etc.</span>
                       
                    </md-input-container>
                </div>
                <div class="p-t-35 col-xs-12 col-sm-9 col-md-9 col-lg-9 no-padding p-l-0-xs p-r-0-xs">
                    <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;" class="p-l-0-imp">
                        <label class="text-grey-40 pa-bd-styles p-l-0-imp">City</label>
                        <input type="text" tabindex="1" name="city" ng-model="payment.city" pattern="[a-zA-z]*" />
                       
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding display-flex field-wd1 p-l-0-xs p-r-0-xs p-t-35">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 p-l-0 dropwidth">

                        <md-input-container style="width: 100%" class="p-l-0-imp">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">State</label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="[a-zA-z]*" name="state" ng-change="onedit()"
                                ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue" />

                            <div ng-messages="paymentForm.state.$error">
                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid state</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-xs-offset-1 col-xs-4 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 p-l-0 p-r-0 ">

                        <md-input-container class="p-l-0-imp">
                            <label class="body-copy-description  color-6a6a6a" style="padding-left: 0px">Zipcode</label>
                            <input class="body-copy-description p-l-0-imp" type="text" tabindex="1" pattern="^\d{5}(?:[-\s]\d{4})?$" maxlength="10" name="zip"
                                ng-model="payment.zip"  />

                            <div ng-messages="paymentForm.zip.$error">
                                <div ng-message="pattern" class="fine-print-body" style="padding-top:0px !important">Enter a valid Zipcode</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
                <div class="row no-padding ">
                <div class="p-t-30 col-xs-12 p-l-5 p-r-5 p-b-15 visible-xs">
                    <md-button class="PrimaryCTA-Normal-shipping btn-full margin-0 m-l-0 glueButton glueButtonPrimary" ripple value="true"  ng-click="addressUpdate()">
                        <p class="agree tx-trans">Update</p>
                    </md-button>
                </div>
                <div class="col-xs-12 p-l-5 p-r-5 p-b-25 text-center visible-xs">
                    <md-button style="margin: 0px;" class="SecondaryCTA-Normal-shipping btn-full glueButton glueButtonPrimary" ripple value="true" ><p class="text-black body-copy-highlight" ng-click="addressUpdate()">Cancel</p></md-button>
                </div>
                </div>

            </div>
        </div>
    </form>
</div>