﻿<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>pdp-features-tab</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <!-- <link rel="stylesheet" href="css/global.css"> -->
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="page-css/plp-tabwide.css">
    <link rel="stylesheet" href="page-css/pdp-features-tab.css">
    <link rel="stylesheet" href="page-css/pdp-features-tab-review.css">
</head>

<body class="bg-white">
    <!--START: this needs to go below accessory name-->
    <div class="container" ng-controller="pdpFeaturesReviewCtrl">

        <div class="review display-flex cursor" ng-click="gotoReviews()">
            <span ng-repeat="x in [1,2] | limitTo:data.stars">
                <span class="fa fa-star  magenta"></span>
            </span>
            <span ng-repeat="x in [1,2,3] | limitTo:5-data.stars">
                <span class="fa fa-star-o  magenta"></span>
            </span>
            <span class="xsmall p-l-10 reviews-font magenta">{{reviewData.length}} Reviews</span>
        </div>
        <!--END: this needs to go below accessory name--->
        <!--START: this needs to go into section tag-->
        <a id="reviewsSection"></a>
        <div class="heading ">Reviews
            <span class="sub-heading p-l-8 p-l-5-xs">({{reviewData.length}} Reviews)</span>
        </div>
        <div class="row no-margin" id="reviews">
            <div class="col-12 p-t-35 p-b-20">
                <a href="" class="tabs p-b-30-xs-custom p-r-20" ng-click="allReviews()" ng-class="{'active-tab':activetab[0]}">All
                    reviews</a>
                <a href="" class="tabs p-r-20" ng-click="sortReviewData(false,'helpfulCount',1)" ng-class="{'active-tab':activetab[1]}">Most
                    helpful</a>
                <a href="" class="tabs p-r-20" ng-click="sortReviewData(false,'date',2)" ng-class="{'active-tab':activetab[2]}">Newest</a>
                <a href="" class="tabs p-r-20" ng-click="sortReviewData(true,'date',3)" ng-class="{'active-tab':activetab[3]}">Oldest</a>
                <a href="" class="tabs p-r-20" ng-click="sortReviewData(false,'stars',4)" ng-class="{'active-tab':activetab[4]}">Highest
                    rating</a>
                <a href="" class="tabs" ng-click="sortReviewData(true,'stars',5)" ng-class="{'active-tab':activetab[5]}">Lowest
                    rating</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding">
                <div class="inset-divider-1px p-t-5-sm "></div>
            </div>
        </div>
        <!-- Pagination starts -->
        <div class="row no-margin text-center">
            <div class="col-xs-12 no-padding">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-lin p-r-10 width-20 cursor" ng-click="prevPage()" ng-class="{disabled:currentPage === 1}"
                            aria-label="Previous">Previous</a>
                    </li>
                    <li class="page-item m-r-10" ng-repeat="pageNo in paginationArray track by $index" ng-class="{active:currentPage === pageNo}">
                        <span class="page-link disabled" style="cursor:default;padding-top:0px;color: #9b9b9b;" ng-if="pageNo === 0 && totalpages != 1 ">...</span>
                        <a class="page-link ripple cursor" ng-if="pageNo != 0 && pageNo != -1" ng-click="currPage(pageNo)">{{pageNo}}</a>
                        <span class="page-link disabled" style="cursor:default;padding-top:0px;color: #9b9b9b;" ng-if="pageNo === -1 && totalpages != 1">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-lin p-l-15 cursor" ng-click="nextPage()" ng-class="{disabled:maxpageno()}"
                            aria-label="Next">Next</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Pagination ends here -->
        <!-- Review section starts-->
        <div ng-repeat="data in pagedItemsChild" class="p-t-15">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <span ng-repeat="x in [1,2,3,4,5] | limitTo:data.stars">
                        <span class="fa fa-star  magenta"></span>
                    </span>
                    <span ng-repeat="x in [1,2,3,4,5] | limitTo:5-data.stars">
                        <span class="fa fa-star-o  magenta"></span>
                    </span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 p-t-5">
                    <span class="review-title">{{data.title}}</span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 p-t-20">
                    <span class="review-date">{{data.date}}</span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 p-t-10">
                    <span class="username font-bold">{{data.username}}</span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 p-t-10">
                    <span class="from-country">From: {{data.from}}</span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 p-t-20">
                    <span class="main-review d-inline-block">{{data.description | limitTo : data.strLimit}} </span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 p-t-10">
                    <span ng-if="data.description.length > data.strLimit" ng-click="showMore('more', $index)" class="main-review magenta">Show
                        more</span>
                    <span ng-if="data.description.length == data.strLimit" ng-click="showMore('less', $index)" class="main-review magenta">Show
                        less</span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 p-t-20 p-b-15" ng-class="{'p-b-20': $index == pagedItemsChild.length-1}">
                    <span class="fa fa-thumbs-o-up p-r-5 magenta cursor"></span>
                    <span class="helpful-count p-r-30 font-10 bold" ng-click="helpfulCount = helpfulCount+1" ng-init="helpfulCount=data.helpfulCount">HELPFUL
                        ({{helpfulCount}})</span>
                    <span class="fa fa-thumbs-o-down p-r-5 magenta cursor"></span>
                    <span class="helpful-count p-r-30 font-10 bold" ng-click="unhelpfulCount = unhelpfulCount+1"
                        ng-init="unhelpfulCount=data.unhelpfulCount">UNHELPFUL ({{unhelpfulCount}})</span>
                    <span class="fa fa-flag magenta cursor" id="donkey"></span>
                </div>
            </div>
            <div class="inset-divider-1px "></div>
            <!-- Review section End-->
        </div>
    </div>

    <!--END: this needs to go into section tag-->
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
</body>

</html>