     
        <div class="footer1">
            <div class="row width-footer">
                <div class="col-xs-12 p-t-15-xs p-t-25 p-b-15 p-b-5-xs p-l-0-sm col-sm-offset-3 pd-rt-ns-35">
                    <div class="col-xs-8 p-r-0-xs  p-l-0 col-sm-4">
                        <span class="disc text-bold text-black">PAY IN FULL</span>
                        <p class="font-16 color-444444 p-t-6">$0.00</p>
                        <p class="body-copy-description color-444444">Due today + tax</p>
                    </div>
                    <div class="col-xs-4  col-sm-2 no-padding p-r-0 p-r-0-xs text-center">
                        <md-button class="PrimaryCTA-Normal-shipping btn-full margin-0 m-t-3 m-l-0 pd-lt-14-i5">
                            <p class="agree tx-trans">Continue</p>
                        </md-button>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-sm-offset-3 col-sm-7 p-l-0-sm p-b-15 p-b-5-xs p-l-15 no-padding p-r-15-xs">
                    <p class="fine-print-body p-t-10  p-b-10-xs">If you cancel wireless service, remaining accessories balance of total is due. 0% APR for well-qualified customers.</p>
                </div> -->
            </div>
        </div>