
        <div ng-controller="accessoriesCtrl">
        <div class="footer1"  ng-show="footerHide">
            <div class="row width-footer">
                <div class="col-xs-12 p-t-15 p-l-0-sm col-sm-offset-3">
                    <div class="col-xs-4  p-l-0 col-sm-2">
                        <p class="disc text-bold color-262626"><a class="footerlink">PAY MONTHLY</a></p>
                        <p class="font-16  p-t-5 color-262626">$99.99<span class="fine-print-body color-262626"> x 24 mos</span></p>
                        <p class="color-444444 body-copy-description">$100.00<span class="disc"> due today + tax</span></p>
                    </div>
                    <div class="col-xs-4   col-sm-2">
                        <p class="disc text-bold text-magenta"><u></u></p>
                        <p class="body-copy-description text-bold text-magenta"><a class="footerlink">
                            PAY IN FULL</a></p>
                        <p class="font-16 text-bold p-t-10 color-444444">$68.00</p>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <button class="footerBtn " type="button">
                            <span class="text-white ng-scope">Continue</span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-4 p-l-0-sm">
                    <p class="fine-print-body p-t-10  p-b-10-xs">If you cancel wireless service, remaining accessories balance of total is due. 0% APR for well-qualified customers.</p>
                </div>
            </div>
        </div>
        </div>