
        <div class="footer1" ng-controller="accessoriesFooterCtrl">
            <div class="row width-footer">
                <div class="col-xs-12 p-t-25 p-t-15-xs p-l-0-sm col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-6 col-lg-6">
                    <div class="col-xs-4 p-r-0-xs  p-l-0 col-sm-4 col-md-4 col-lg-4" ng-click="payMonthlyFunction()" 
                           >
                        <span class="disc text-bold color-262626" ng-class="payMonthly ? 'payMonthlyActive' : 'payMonthlyInactive'" >PAY MONTHLY</span>
                        <p class="font-16  p-t-5 color-262626">$99.99<span class="fine-print-body color-262626"> x 24 mos</span></p>
                        <p class="color-444444 body-copy-description hidden-xs">$100.00<span class="disc"> due today + tax</span></p>
                        <span class="disc color-444444 visible-xs">$5 due today + tax</span>
                    </div>
                    <div class="col-xs-4 p-r-0-xs  col-sm-4 col-md-4 col-lg-4" ng-click="payFullFunction()"
                           >
                        <span class="disc text-bold text-magenta" ng-class="payFull ? 'payMonthlyActive' : 'payMonthlyInactive'" >PAY IN FULL</span>
                        <p class="font-16  p-t-5 color-444444">$68.00</p>
                        <span class="disc color-444444 ">Due today + tax</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 no-padding  p-r-0 p-r-0-xs">
                        <md-button class="PrimaryCTA-Normal-shipping btn-full m-l-0 m-t-3 pd-lt-14-i5">
                            <p class="agree tx-trans">Continue</p>
                        </md-button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-6 col-lg-6 p-l-0-sm p-b-15 p-b-5-xs  p-l-15 no-padding p-r-15-xs">
                    <p class="fine-print-body p-t-10  p-b-10-xs">If you cancel wireless service, remaining accessories balance of total is due. 0% APR for well-qualified customers.</p>
                </div>
            </div>
        