<div class="footer1">
    <div class="row width-footer">
        <div class="col-xs-12 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-6 col-lg-6 p-l-0-sm p-b-15 p-b-5-xs p-l-15 no-padding p-r-15-xs">
            <p class="fine-print-body p-t-10  p-b-10-xs">If you cancel wireless service, remaining accessories balance of total is due. 0% APR for well-qualified customers.</p>
        </div>
    </div>
</div>