<div class="p-t-20-xs">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 bg-white p-l-15-xs p-r-15-xs">
        <div class="row visible-xs" id="top">
            <div class="col-xs-12 col-sm-12 p-t-0 p-l-25 p-b-20 p-b-0-xs p-t-0-xs p-l-20-xs p-r-20-xs">
                <div class="h4-title text-black">Natasha’s line</div>
                <div class="body-copy-description text-888888">Est ship date: 9/20/2017 - 9/25/2017 </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 visible-xs no-padding">
                <hr class=" border-e8e8e8" />
            </div>
        </div>
        <div class="scroll m-t-50 m-t-0-xs p-l-5-xs" id="style" set-height-scroll>
             <div class="row hidden-xs" id="top">
            <div class="col-xs-12 col-sm-12 p-t-0 p-l-45 p-b-20 p-b-0-xs p-t-0-xs p-l-15-xs p-r-20-xs">
                <div class="h4-title text-black">Natasha’s line</div>
                <div class="body-copy-description text-888888">Est ship date: 9/20/2017 - 9/25/2017 </div>
            </div>
        </div>
            <div class="container1 mr-left-0-xs mr-left-30 mr-bt-15 br-1-ed ">
                <div class="col-xs-4 p-l-10-xs p-b-10 p-b-0-xs">
                    <img style="width: 100%" src="img\apple.jpg" class="p-t-20 hidden-xs">
                    <img style="width: 100%" src="img\apple.jpg" class="p-t-20 visible-xs">
                </div>
                <div class=" col-xs-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0 p-t-25">
                            <span class="h4-title text-bold font text-black">Row line 1</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0">
                            <span class="h4-title text-bold font text-black">Row line 2</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0 p-b-0-xs">
                            <span class="h4-title text-bold font text-black">Row line 3</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0 p-t-8 p-t-0-xs">
                            <span class="eyebrow pay-full-monthly text-bold font">PAY MONTHLY</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5  col-md-3 no-padding  p-r-0 p-t-5">
                            <span class="body-copy-description pull-right text-black">$46.67</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5 col-md-3 no-padding  p-r-0 ">
                            <span class="body-copy-description pull-right text-black">- $999.50</span>
                        </div>
                        <div class="col-xs-8 col-sm-7 col-md-6 p-r-0  ">
                            <span class="body-copy-description"><a>Trade-in promotion</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="hr-1px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5 col-md-3 no-padding   p-r-0">
                            <span class="body-copy-description text-bold text-black pull-right">$34.17</span>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-6 p-r-0">
                            <span class="body-copy-description text-black text-bold">x 24 mos</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5 col-md-3 no-padding  p-r-0">
                            <span class="body-copy-description pull-right p-r-5 p-r-0-xs text-bold text-black">$1240.00</span>
                        </div>
                        <div class="col-xs-8 col-sm-6 col-md-6 p-r-0">
                            <span class="body-copy-description text-bold text-black">due today</span>
                        </div>
                    </div>
                    <div class="row hidden-xs">
                            <div class="col-sm-12 p-r-10 p-t-10 p-b-10 lh-auto hidden-xs">
                                    <span class="order-mobile-tax">If you cancel wireless service, remaining balance on device's full retail price of $649.99 becomes due.</span>
                                </div>
                        </div>

                </div>
                <div class="col-xs-12 col-sm-offset-4 col-sm-8 p-r-10 p-t-10 p-b-10 lh-auto visible-xs ">
                    <span class="order-mobile-tax">If you cancel wireless service, remaining balance on device's full retail price of $649.99 becomes due.</span>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0"></div>
                <div class="row no-padding">
                    <div class="row pull-right p-r-30">
                        <md-button class="bg-nonmagenta"><span class="text-444444">EDIT</span></md-button>
                        <md-button class="bg-nonmagenta"><span class="text-444444">REMOVE</span></md-button>
                    </div>
                </div>
            </div>

            <div class="container1 mr-left-0-xs mr-left-30 br-1-ed ">
                <div class="col-xs-4 p-l-10-xs p-b-10 p-b-0-xs">
                    <img style="width: 100%" src="img\Access.png" class="p-t-20 hidden-xs">
                    <img style="width: 100%" src="img\Access.png" class="p-t-20 visible-xs">
                </div>
                <div class=" col-xs-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0 p-t-25">
                            <span class="h4-title text-bold font text-black">Row line 1</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0">
                            <span class="h4-title text-bold font text-black">Row line 2</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0 p-b-0-xs">
                            <span class="h4-title text-bold font text-black">Row line 3</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 p-r-0 p-t-8">
                            <span class="eyebrow pay-full-monthly text-bold font">PAY IN FULL</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5  col-md-3 no-padding  p-r-0 p-t-5">
                            <span class="body-copy-description pull-right text-black"><strike>$49.99</strike></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5 col-md-3 no-padding  p-r-0 ">
                            <span class="body-copy-description pull-right text-black">$35.99</span>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-6 p-r-0  ">
                            <span class="body-copy-description">after instant discount</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="hr-1px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-5 col-md-3 no-padding  p-r-0 ">
                            <span class="body-copy-description pull-right p-r-5 p-r-0-xs text-bold text-black">$35.99</span>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-6 p-r-0 ">
                            <span class="body-copy-description text-bold text-black">due today</span>
                        </div>
                    </div>
                    <div class="row hidden-xs">
                            <div class="col-sm-12 p-r-10 p-t-10 p-b-10 lh-auto hidden-xs">
                                    <span class="order-mobile-tax">If you cancel wireless service, remaining balance on device's full retail price of $649.99 becomes due.</span>
                                </div>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-offset-4 col-sm-8 p-r-10 p-t-10 p-b-10 lh-auto visible-xs ">
                    <span class="order-mobile-tax">If you cancel wireless service, remaining balance on device's full retail price of $649.99 becomes due.</span>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0"></div>
                <div class="row no-padding">
                    <div class="row pull-right p-r-30">
                        <md-button class="bg-nonmagenta"><span class="text-444444">EDIT</span></md-button>
                        <md-button class="bg-nonmagenta"><span class="text-444444">REMOVE</span></md-button>
                    </div>
                </div>

            </div>

            <div class="container1 margin-top-bottom-box mr-left-0-xs  mr-left-30 br-1-ed">
                <div class="col-sm-4 col-xs-4 p-l-10-xs ">
                    <img style="width: 100%" src="img\JUMP.png" class="p-t-20 hidden-xs">
                    <img src="img\JUMP.png" class="wd-90-xs p-t-20 text-center visible-xs">
                </div>
                <div class="col-sm-8 col-xs-8 p-t-20 p-l-15">
                    <div class="h4-title text-bold text-black font p-b-5">JUMP!® Plus</div>
                    <div><span class="text-bold text-black font-14">$15.00</span><span class="mo-desc gray">/mo</span></div>
                </div>
                <div class="col-xs-12 hr-1px mr-bt-0 visible-xs"></div>
                <div class="row no-padding p-t-10">
                    <div class="col-sm-12 hr-1px-bt-mod hidden-xs "></div>
                    <div class="row pull-right p-r-30">
                        <md-button class="bg-nonmagenta"><span class="text-444444">EDIT</span></md-button>
                        <md-button class="bg-nonmagenta"><span class="text-444444">REMOVE</span></md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12  visible-xs p-l-25 p-t-20 p-t-15-xs p-b-10 bg-white-xs p-l-20-xs p-r-20-xs">
        <button class="Rectangle-bt1 body-copy-description text-E20074"><i class="fa fa-headphones"></i>  Add accessory</button>
    </div>

    <div class="col-xs-12 visible-xs no-padding bg-white">
        <hr class=" border-e8e8e8 m-b-0-xs" />
    </div>

    <div  class="col-xs-12 col-sm-5 fixedDiv bg-white p-t-0-xs p-l-20-xs p-r-20-xs ht-bg-c no-padding" set-height-shipping>
        <div class=" row">
            <div style="background-color: #e6e6e6" class="col-xs-12 col-sm-12 p-l-25 p-b-15 p-b-15-xs p-r-20-xs p-t-15 p-l-15-xs m-l-15 m-l-0-xs m-r-0-xs credit-mobile" >
                <span class="credit-head text-bold text-black p-t-15 p-l-5-xs"  >You have a $300 bill credit.</span>
                        <p class="credit-txt p-t-5 p-l-5-xs">Legalese text line 1</p>
                        <p class="credit-txt p-l-5-xs">Legalese text line 2</p>
            </div>
            <div class="col-xs-12 col-sm-12 p-l-40 p-b-25 p-b-15-xs p-r-20-xs p-l-15-xs p-t-30" ng-show="existingPromoCode">
                <button class="Rectangle-bt p-l-15 p-r-15" ng-click="addPromoCode()"><span class="body-copy-description text-black">Add promo code</span></button>
            </div>
            <div class="row" ng-show="successText">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-b-0 p-t-30 p-b-0-xs p-l-30-xs p-r-30-xs p-l-25 padding-green">
                            <i class="fa fa-check-circle check-green" aria-hidden="true"></i> <span class="green-font">Buy a charger, screen protector, case and receive 25% off your order.</span>
                        </div>
                </div>

            <div class="row" ng-show="promoCode">
                <div class="col-xs-12 col-sm-12 p-l-40  p-b-25 p-b-0-xs p-r-20-xs p-l-30-xs p-t-30">
                <div class="col-xs-7 col-sm-7 no-padding p-l-15 p-l-0-xs">
                    <md-input-container style="margin-top: 3px;" class="field-wd p-l-0 m-b-0 ">
                        <label class="m-b-0 m-r-0 pd-lt-0-imp">Promo code</label>
                        <input class=" text-ad" type="text" tabindex="1" pattern="[a-zA-z]*" name="address1" ng-model="payment.address1" clearinput />
                        <div ng-messages="paymentForm.address1.$error">
                            <div ng-message="pattern">Enter a valid promo code</div>
                        </div>
                    </md-input-container>
                </div>
                <div  class="col-xs-5 col-sm-4 no-padding p-r-10 p-r-15-xs pd-xs-promo">
                    <button style="width: 100%" class="Rectangle-bt p-l-15 p-r-15" ng-click="applyCode()"><span class="body-copy-description text-black">Apply</span></button>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10-xs p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">EIP pay off</p>
            <p class="h4-title pull-right font-normal">$180.89</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">Due today subtotal</p>
            <p class="h4-title pull-right font-normal">$148.73</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">Est. shipping</p>
            <p class="h4-title pull-right font-normal">$6.99</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left font-normal">Sales tax &nbsp;<a class="fine-print-body">How's it calculated?</a></p>
            <p class="h4-title pull-right font-normal">$72.99</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <hr class="margin-top-bottom-mod border-e8e8e8" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs p-l-25 pd-r-27-xxs">
            <p class="h4-title pull-left text-black">Due today total</p>
            <p class="h4-title pull-right text-black">$228.71</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-t-10-xs p-l-0-xs p-r-0-xs p-l-25">
            <p><span class="body-copy-description text-black pull-left">Due monthly total:</span><span class="body-copy-description text-bold text-black">&nbsp $37.91</span><span class="body-copy-description-mod text-444444"> x24 mos</span></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  p-t-15 p-t-15-xs p-b-10 p-l-0-xs p-r-0-xs p-l-25">
            <span class="new-font">If you cancel wireless service, remaining balance on device becomes due.</span>
        </div>
        <div class="col-xs-12 col-sm-12 text-center p-t-20 p-l-0-xs p-r-0-xs">
            <a class="hyperLink-magenta">How does this affect my monthly bill?</a>
        </div>
        <div class="col-xs-12 col-sm-12 text-center padding-cta-fixedDiv p-t-25 p-t-30-xs p-b-35-xs p-l-0-xs p-r-0-xs">
            <md-button class="PrimaryCTA-Normal-shipping  btn-full margin-0 m-l-0-xs" ng-click="moveToShipping()">
                <p class="agree tx-trans">Continue to Shipping</p>
            </md-button>
        </div>
    </div>
</div>