﻿<div class="p-t-30-xs p-b-50  bg-white-xs">
    <div class="bg-fb col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-sm-5 col-lg-offset-1 col-lg-5 p-l-25 p-r-25 no-padding p-t-50 p-t-0-xs  pull-right-sm p-l-20-xs p-r-20-xs bg-white-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">EIP pay off</p>
            <p class="h4-title pull-right font-normal">$180.89</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">Due today subtotal</p>
            <p class="h4-title pull-right font-normal">$148.73</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">Est. shipping</p>
            <p class="h4-title pull-right font-normal">$6.99</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-10 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left font-normal">Sales tax &nbsp;<a class="body-copy-description fo-12">How's it calculated?</a></p>
            <p class="h4-title pull-right font-normal">$72.99</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
            <hr class=" border-e8e8e8" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
            <p class="h4-title pull-left text-black">Due today total</p>
            <p class="h4-title pull-right text-black">$228.71</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p-t-50 p-t-0-xs p-l-30 p-r-20-xs p-l-20-xs no-padding bg-white-xs">
        <h4 class="h4-title pa-styles hidden-xs">Payment Information</h4>
        <div class="p-t-30 p-t-35-xs">
            <md-input-container style="width: 100%; margin-bottom: 0px">
                <label class="text-grey-40 pa-bd-styles">Name on card</label>
                <input type="text" tabindex="1" pattern="[a-zA-z]*" name="nameOnCard" ng-model="payment.nameOnCard" clearinput />
                <div ng-messages="paymentForm.nameOnCard.$error">
                    <div ng-message="pattern">Enter a valid Name</div>
                </div>
            </md-input-container>
        </div>
        <div class="p-t-5">
            <md-input-container style="width: 100%; margin-bottom: 0px; margin-top: 10px;">
                <label class="text-grey-40 pa-bd-styles">Credit card number</label>
                <input type="text" tabindex="1" name="creditCardNo" ng-model="payment.creditCardNo" clearinput />
                <div ng-messages="paymentForm.creditCardNo.$error">
                    <div ng-message="required">Enter a valid Number</div>
                </div>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-5 p-t-0-xs no-padding display-flex">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding">
                <md-input-container style="width: 100%; margin-bottom: 0px">
                    <label class="text-grey-40 pa-bd-styles">Expiration</label>
                    <input type="text" tabindex="1" name="expire" ng-model="payment.expire" clearinput />
                </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 p-l-50-sm p-r-0-xs">
                <md-input-container style="width: 100%; margin-bottom: 0px">
                    <label class="text-grey-40 pa-bd-styles">CVV &nbsp;</label>
                    <input type="text" tabindex="1" name="cvv" minlength="3" maxlength="3" ng-model="payment.cvv" clearinput /><!--<span class="noFloat"><a style="font-size: 11px;" href="" ng-click="alert('hi');">What's this?</a></span> -->
                    <a class=" fine-print-body wt-tx ">What's this?</a>
                    <div ng-messages="paymentForm.cvv.$error">
                        <div ng-message="minlength">Enter a valid CVV</div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div class="col-xs-12 display-flex no-padding p-t-30">
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-click="checkboxClick()" class="md-primary" ng-checked="checked">
            </md-checkbox>
            <p class="body-copy-description pa-bill text-black">Billing and shipping details are same.</p>
        </div>

        <div class="col-xs-12 p-l-0 p-r-0 p-l-0-xs p-r-0-xs" ng-show="hide" class="">
            <h4 class="h4-title p-t-50 p-t-25-xs">Billing address</h4>
            <div class="p-t-35 p-t-15-xs">
                <md-input-container style="width: 100%; margin-bottom: 0px; padding-left: 0px;">
                    <label class="text-grey-40 fo-14">Address line1</label>
                    <input type="text" tabindex="1" pattern="[a-zA-z]*" name="address1" ng-model="payment.address1" clearinput />
                    <p class="fine-print-body">Street address, P.O. box, company name, c/o</p>
                    <div ng-messages="paymentForm.address1.$error">
                        <div ng-message="pattern">Enter a valid Address</div>
                    </div>
                </md-input-container>
            </div>
            <div class="p-t-5">
                <md-input-container style="width: 100%; margin-bottom: 0px; padding-left: 0px;">
                    <label class="text-grey-40 fo-14">Address line2</label>
                    <input type="text" tabindex="1" pattern="[a-zA-z]*" name="address2" ng-model="payment.address2" clearinput />
                    <p class="fine-print-body">Apartment, suite, unit, building, floor, etc.</p>
                    <div ng-messages="paymentForm.address2.$error">
                        <div ng-message="pattern">Enter a valid Address</div>
                    </div>
                </md-input-container>
            </div>
            <div class="p-t-5">
                <md-input-container style="width: 100%; margin-bottom: 0px; padding-left: 0px;">
                    <label class="text-grey-40 fo-14">City</label>
                    <input type="text" tabindex="1"  pattern="[a-zA-z]*" name="city" ng-model="payment.city" clearinput />
                    <div ng-messages="paymentForm.city.$error">
                        <div ng-message="pattern">Enter a valid City</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding display-flex p-b-25 p-b-0-xs ">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 p-l-2 pd-t-2">
                    <p class="paymeny-st">State</p>
                    <div layout="row" layout-align="space-between center">
                        <md-select  ng-model="Alabama" placeholder="Alabama" md-container-class="dropDown" class="md-no-underline width-full">
                            <md-option value="California">California</md-option>
                            <md-option value="Illinois">Illinois</md-option>
                            <md-option value="Michigan">Michigan</md-option>
                            <md-option value="Kentucky">Kentucky</md-option>
                            <md-option value="Pennsylvania">Pennsylvania</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3 no-padding pull-right">
                    <md-input-container style="width: 100%; margin-bottom: 0px; padding: 0px;">
                        <label style="line-height: 18px;" class="text-grey-40 fo-14 m-b-0">Zipcode</label>
                        <input type="text" tabindex="1" pattern="[0-9]*" name="zip" ng-model="payment.zip" clearinput />
                        <div ng-messages="paymentForm.zip.$error">
                            <div ng-message="pattern">Enter a valid Zipcode</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>

    <div set-height-payment class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-sm-5 col-lg-offset-1 col-lg-5 p-l-25 no-padding p-r-25 p-r-20-xs p-l-20-xs bg-white-xs bg-fb-ht">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0-xs p-r-0-xs no-padding">
            <p class="eyebrow text-transform-none p-t-50 p-t-30-xs color-acacac pa-agreement">
                By clicking Place order button, I agree that (a) my Agreement with T-Mobile includes the
                <a href="">Service Agreement</a>, any terms specific to my Rate Plan, and T-Mobile's
                <a href="">Terms & Conditions</a>;
                (b) T-Mobile requires Arbitration of Disputes unless I previously opted out per T-Mobile's
                <a href="">Terms & Conditions</a>; and (c) I accept T-Mobile's <a href="">Electronic Signature Terms</a>.”
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-t-45 p-t-35-xs p-l-0-xs p-r-0-xs p-b-30 p-b-35-xs no-padding">
            <md-button class="tabBtn m-r-0-xs m-l-0-xs wd-inh mr-wd"><span class="tabBtnFont tx-trans">Place order</span></md-button>
        </div>
    </div>
</div>