<!--Start: Accessories Code -->
<div class="row padding-top-xxl p-t-0-xs" ng-controller="accessoriesCtrl">
    <div class=" col-xs-12 col-sm-6 col-md-6 p-b-30 display-flex p-b-0-xs mx-ht p-l-15-xs p-r-5-xs " ng-repeat="accessory in accessories track by $index">
        <div ng-class="$even ? 'cond-for-even-acc-wd' : 'cond-for-even-acc'"  class="col-xs-1 col-sm-2 col-md-2 center-content no-padding" >
            <md-checkbox  ng-model="visibleborder" aria-label="Checkbox No Ink"> </md-checkbox>
        </div>
        <div  class="padding-top-large padding-bottom-large m-l-5-md m-l-5-lg p-l-15-xs p-r-5-xs m-r-5-xs p-t-15 p-b-15 p-b-15-xs col-xs-11 p-t-25-xs  col-sm-10 col-md-10 border-efefef h-box b-r-2" ng-class="visibleborder ? 'border-magenta' : 'border-efefef'">
            <div class="display-flex">
                        <div class="col-xs-4 col-sm-5 col-md-5 no-padding   no-padding-sm-md-lg center-content ">
                            <div class="onsalewrap wrap-gap" ng-hide="!(accessory.discount && accessory.discount != ' ' )">
										<div class="promo-circle-wrapper">
											<div class="circle-promo">
												<span class="onsale">ON SALE</span>
											</div>
										</div>
                                </div>
                            <img ng-src={{accessory.image}} class="imgsize-xs">
                            <span class="Backordered text-magenta p-l-0 text-center hidden-xs">{{accessory.backordered != " "? accessory.backordered : '&nbsp;'}}</span>
                            <p ng-hide="!(accessory.backordered && accessory.backordered != ' ' )" class="text-magenta disc visible-xs"> {{accessory.backordered}}</p>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-6  no-padding no-padding-sm-md-lg center-content min-ht pd-lt-15-i5">
                            <p class="tr-ht-sp text-black p-b-10 p-b-5-xs">{{accessory.titleHeader}}</p> 
                            <p ng-hide="!(accessory.discount && accessory.discount != ' ' )" class="text-magenta disc"> {{accessory.discount}}</p>
                            <p><span class="cost-month text-black text-bold" ng-bind-html= 'accessory.discountEmi != "" ? strikeText(accessory.emi)  + " " + accessory.discountEmi : accessory.emi'></span>
        <span class="fine-print-body gray">x 24 mos</span></p>
        <p class="due-month text-black">{{accessory.due}} </p>
        <p class="price-month gray p-t-10 p-t-5-xs">Total price <s>{{accessory.totalPrice}}</s> {{accessory.totalPrice}} </p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 display-flex ">
        <i  class="fa fa-chevron-right pull-right p-t-75 p-t-35-xs pd-top-45-sm-md"></i>
    </div>
        </div>
            <div class="col-xs-12 col-sm-12 col-md-12 p-t-10 p-l-0 p-r-0-xs fine-print-body color-a5a5a5 hidden-xs">If you cancel wireless service, remaining device balance of total is due. 0% APR for well-qualified customers.</div>
    </div>
</div>
</div>
<!--End: Accessories Code -->