<div class="p-t-20-xs">
    <form name="paymentForm">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 no-padding p-r-0-sm p-r-0-md p-r-0-lg bg-white-xs p-l-30-sm p-l-30-md p-l-30-lg">
            <div class="p-t-50 p-t-10-xs col-xs-12 col-sm-9 col-md-9 col-lg-9 no-padding p-l-20-xs p-r-20-xs  " >
                <p class="h4-title text-black">Ship to:</p>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 display-flex no-padding" ng-show="existingAddress">
                    <div class="shipping-Addr p-t-10 p-b-25 col-xs-10 no-padding hidden-xs text-black">1234 Main St. Suite 001<br> Rancho Santa Margarita, CA 10001</div>
                    <a href="" class="visible-xs p-t-10 p-b-25 col-xs-10 no-padding co-000"><div class="shipping-Addr">1234 Main St. Suite 001<br> Rancho Santa Margarita, CA 10001</div></a>
                    <div class="p-t-15 p-b-25 hidden-lg hidden-md hidden-sm col-xs-2 p-l-35-xs center-content p-r-0-xs "><a href=""><span class="fa fa-angle-right text-bold text-black pull-right"></span></a></div>
                </div>
            </div>
            <div class="visible-xs">
                <hr class="hr-sh-xs">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 no-padding" ng-show="existingAddress">
                <md-button class="SecondaryCTA-Normal-shipping btn-full margin-0 hidden-xs m-l-0 m-t-0 m-r-0 m-b-0" ng-click="add()">
                    <p class="agree tx-trans txt-444444">Ship to a different address</p>
                </md-button>
            </div>
            <div class="" ng-show="newAddress">
                <div class="p-t-30">
                    <md-input-container class="field-wd p-l-0">
                        <label class="m-b-0 m-r-0 pd-lt-0-imp">Address line1</label>
                        <input class=" text-ad" type="text" tabindex="1" pattern="[a-zA-z]*" name="address1" ng-model="payment.address1" clearinput />
                        <span class="fine-print-body addr-subtext m-t-5">Street address, P.O. box, company name, c/o</span>
                        <div ng-messages="paymentForm.address1.$error">
                            <div ng-message="pattern">Enter a valid Address</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="p-t-5">
                    <md-input-container class="field-wd p-l-0">
                        <label class="m-b-0 m-r-0 pd-lt-0-imp">Address line2</label>
                        <input class="text-ad" type="text" tabindex="1" pattern="[a-zA-z]*" name="address2" ng-model="payment.address2" clearinput />
                        <span class="fine-print-body addr-subtext m-t-5">Apartment, suite, unit, building, floor, etc.</span>
                        <div ng-messages="paymentForm.address2.$error">
                            <div ng-message="pattern">Enter a valid Address</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="p-t-5">
                    <md-input-container class="field-wd p-l-0" style=" margin-bottom: 0px">
                        <label class="fo-14 m-b-0 m-r-0 pd-lt-0-imp">City</label>
                        <input class="text-ad" type="text" tabindex="1" pattern="[a-zA-z]*" name="city" ng-model="payment.city" clearinput />
                        <div ng-messages="paymentForm.city.$error">
                            <div ng-message="pattern">Enter a valid City</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding display-flex field-wd">
                    <div style="width: 65%" class="col-xs-12 col-sm-7 col-md-7 col-lg-7 p-l-0 ">
                        <p class="paymeny-st p-l-2">State</p>
                        <div layout="row" layout-align="space-between center">
                            <md-select tabindex="1" ng-model="Alabama" placeholder="Alabama" md-container-class="dropDown" class="md-no-underline width-full">
                                <md-option value="California">California</md-option>
                                <md-option value="Illinois">Illinois</md-option>
                                <md-option value="Michigan">Michigan</md-option>
                                <md-option value="Kentucky">Kentucky</md-option>
                                <md-option value="Pennsylvania">Pennsylvania</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 no-padding pull-right">
                        <md-input-container style="width: 100%; margin-bottom: 0px">
                            <label style="font-family: Arial; font-size: 14px; line-height: 18px;" class="pd-lt-0-imp m-b-0 m-r-0">Zipcode</label>
                            <input style="margin-top: -3px;" type="text" tabindex="1" pattern="[0-9]*" name="zip" ng-model="payment.zip" clearinput />
                            <div ng-messages="paymentForm.zip.$error">
                                <div ng-message="pattern">Enter a valid Zipcode</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 bg-white-xs p-l-0-sm p-l-0-md p-l-0-lg p-l-20-xs p-r-25 p-r-20-xs ht-bg-c" set-height-shipping>
            <div class="p-t-50 p-t-10-xs col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <p class="fine-print-body text-grey-40 p-l-20-sm p-l-20-md p-l-20-lg text-bold">Method</p>
                <div class="no-padding p-l-25-sm p-l-25-md p-l-25-lg p-t-15 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <md-radio-group ng-model="data.group1">
                        <md-radio-button value="UPS next day">
                            <p class="body-copy-highlight pull-left text-black">UPS next day</p>
                            <p class="body-copy-description pull-right font-normal">$13.99</p>
                        </md-radio-button>
                        <md-radio-button value="UPS 2-day">
                            <span class="body-copy-highlight text-black">UPS 2-day</span>
                            <span class="body-copy-description pull-right font-normal">$9.99</span>
                        </md-radio-button>
                        <md-radio-button value="UPS ground(5-7 business days)">
                            <span class="body-copy-highlight font-normal"><b>UPS ground</b> (5-7 business days)</span>
                            <span class="body-copy-description pull-right font-normal">$6.99</span>
                        </md-radio-button>

                    </md-radio-group>
                </div>
                <div class="p-l-0-xs p-t-15 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-25 p-r-0 p-b-50 p-b-35-xs p-r-0-xs">
                    <md-button class="PrimaryCTA-Normal-shipping btn-full margin-0 m-l-0" ng-click="moveToPayment()">
                        <p class="agree tx-trans">Continue to Payment</p>
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</div>