.btn-primary{
    background-color: #e20074;
    border-color: #e20074;
    border-radius: 2.3rem;
    box-shadow: none;
    color: #fff;
    font-family: Tele-Fet;
    font-size: 18px;
    line-height: 1.25rem;
    padding: 1.4rem 1rem;
    text-overflow: ellipsis;
    /* font-weight: bold; */
  }
  .btn-primary:active,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active:hover,
  .btn-primary:active:focus,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover
   {
       background-color: #ba0060;
       border-color: #ba0060;
       color: #fff;
       box-shadow: none;
       outline: none;
  }
.close{
    opacity: 1;
    font-size: 28px;
    width: 28px;
    height: 28px;
    color: #e20074;
    margin-right: 12px;
    margin-top:12px; 
    outline: none;
    position: static;
    text-shadow: none;
}
.close:hover, .close:focus{
    color: #e20074;
    opacity: 1;
}
.btn-size{
    font-size: 20px;
}
.cart-no-scroll{
    overflow: hidden;
}
.overlay {
	position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}
.dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.dialog {
	position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto; 
    min-width: 320px;
    max-width: 331px;   
}
.device-img-container{
      height:83px;
}
@media (max-width:767px){ 
    .dialog {
        top: 0px;
        max-width: 100%;
        height: 341px;
    }
}
@media (min-width:768px){
    .dialog {
        height: 314px;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .dialog {
        top:15%;
        left: 0px;
        right: 0px;
        width:100%;
    }
    @media (max-width: 374px){
        .dialog{
          max-width: 310px;
        }
    }
}
@media only screen and (max-height: 414px) and (orientation:landscape) {
    .dialog{
        max-height: 341px!important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.animation-out {
    opacity: 0;
    transform: translate(0, -75%);
    transition: 500ms;
    z-index: -1;
}
.animation-in {
    opacity: 1;
    transform: translate(0, 0);
    transition: 500ms;
    z-index: 1000;
}
@media screen  {
    .animation-in {
        transform: translate(0,0%);       
    }
}
.overlay-out {
    opacity: 0; 
    z-index:-999;
}
.overlay-in {
    opacity: 0.45;
    transition: 500ms;
    z-index: 1;
}
@media screen  {
    .overlay-in {
        transition:0ms;        
    }
 }
 .border-radius{
    border-radius: 0px;
}
.bg-white{
    background-color: #ffffff;
}
.d-flex{
    display: flex;
} 
.align-items-start{
    align-items: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.phoneDiv{
    width: 80px;
    text-align: center;
}
.phone1{
    width: 33px;
    height: 71px;
}
.phone2{
    width: 80px;
    height: 83px;
}
@media (min-width: 768px){
    .w-464{
        max-width:464px;
    }
}

/* Fonts */

.heading {
    font-family: Tele-Fet;
    font-size: 23px;
    line-height: 25px;
    letter-spacing: -0.1px;
    text-align: center;
    color: #000000;
  }
.description{
        font-family: Tele-Ult;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #000000;
}

@media (min-width: 767px){
.heading{
        font-size: 34px;
        line-height: 32px;  
    }
  }



  /* Paddings, Margins */
.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.mb-0{
    margin-bottom: 0px;
}
.p-t-7{
    padding-top: 7px;
}
.p-t-64{
    padding-top: 64px;
}
.p-t-80{
  padding-top: 80px;
}
.p-r-18{
    padding-right: 18px;
}
.m-r-70{
    margin-right: 70px;
}
@media (max-width: 767px){
    .m-r-30-xs{
        margin-right: 30px;
    }
}

@media (max-width: 479px){
    .padding-horizontal-57-xxs{
        padding-top: 57px;
        padding-bottom: 57px;
      }
      .padding-horizontal-70-xxs{
        padding-top: 70px;
        padding-bottom: 70px;
      }
}
@media (min-width: 480px) and (max-width: 767px){
    .padding-horizontal-70-xs{
        padding-top: 70px;
        padding-bottom: 70px;
      }
}
@media (max-width: 767px){
    .p-t-19-xs{
        padding-top: 19px;    
  }
  .p-t-57-xs{
      padding-top: 57px;
  }


}

@media (min-width: 768px) {
    .p-t-17-md{
        padding-top: 17px;
    }
    .p-t-46-md{
        padding-top: 46px;
    }
    .padding-horizontal-53-md{
        padding-top: 53px;
        padding-bottom: 53px;
    }
    .padding-horizontal-37-md{
        padding-top: 37px;
        padding-bottom: 37px;
    }
    .padding-vertical-large-md{
        padding-left: 32px;
        padding-right: 32px;
    }
}