body {
    margin: 0;
    padding: 0;
    color:#666666;
    font-size:8px;
    line-height: 1.9rem;
    font-family: Arial;
}
p{
    margin-bottom: 0px;
    word-wrap: break-word;
}
span{
    word-wrap: break-word;
}
a{
    color: #e20074;
}
a:hover, a:focus, a:active{
    cursor: pointer;
    color: #e20074;
}

/* WidthS, HeightS */

.div-details{
    width: 272px;
    height: fit-content;
    border: 1px solid #cccccc;
    padding-left: 14px;
    padding-right: 14px;
    margin: 15px;
}
@media (min-width: 991px) {
    .div-details{
        width: 345px;
    }
}
.image-details{
    height: auto;
    width: 242px;
    margin: auto;
}
.content{
    width: 345px;
    height: 158px;
    background-color: white;
}
.location-img img, .icon-size{
    width:16px;
    height: 16px;
}
/* Colors */

.color-box{
    width: 25px;
    height: 25px;
}
.color-666666{
    color: #666666;
}
.kelly-green {
    color: #00ba20;
}
.dark-hot-pink {
    color:#e20074
}
.color-black{
    color:#000000
}
.color-9b9b9b{
    color: #9b9b9b;
}
.bg-f0d4d0{
    background-color: #f0d4d0;
}

/* Paddings, Margins */


.p-r-5{
    padding-right: 5px;
}
.p-l-5{
    padding-left: 5px;
}
.p-l-8{
    padding-left: 8px;
}
.p-t-2{
    padding-top: 2px;
}
.p-t-6{
    padding-top: 6px;
}
.p-t-10{
    padding-top: 10px;
}
.p-t-16 {
    padding-top:16px;
}
.p-t-24{
    padding-top: 24px;
}
.p-b-4{
    padding-bottom: 4px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-b-14{
    padding-bottom: 14px;
}
.p-b-16 {
    padding-bottom:16px;
}
.p-b-24{
    padding-bottom: 24px;
}
.p-b-36{
    padding-bottom: 36px;
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.m-t--7{
    margin-top: -7px;
}
.m-t--10{
    margin-top: -10px;
}
.m-l-10{
    margin-left:10px;
}
.m-l-15{
    margin-left:15px;
}

/* Fonts */

.font-8{
    font-size: 8px;
    line-height: 11px;
}
.font-10{
   font-size: 10px;
}
.font-11{
    font-size: 11px;
}
.font-12{
    font-size: 12px;
    line-height: 19px;
}
.font-12-xs {
    font-size: 12px;
    line-height: 25px;
}
.font-24{
    font-size: 24px;
}
.font-Tele{
    font-family: Tele-Nor;
}

@media (min-width: 992px){
    .font-11{
        font-size: 12px;
    }
    .font-14-md{
        font-size: 14px;
        line-height: 25px;
    }
    .font-24{
        font-size: 26px;
    }
  }
/* Common classes */

.d-flex{
    display:flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.text-bold{
    font-weight: bold;
}
.inset-divider-1px {
    border-top: 1px solid #e8e8e8;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between
}
.float-right{
    text-align: right;
}

.whitespace-nowrap {
    white-space: nowrap;
}