.btn-primary {
    background-color: #e20074;
    border-color: #e20074;
    box-shadow: none;
    color: #fff;
    font-family: Tele-hal;
    font-size: 16px;
    line-height: 1.25rem;
    text-overflow: ellipsis;
    font-weight: bold;
    height: 56px;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
    background-color: #ba0060;
    border-color: #ba0060;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.btn-secondary {
    background-color: #ffffff;
    font-size: 16px;
    font-family: Tele-hal;
    color: #000000;
    border: solid 1px #000000;
    font-weight: bold;
    height: 56px;
}

.shape {
    width: 16px;
    height: 16px;
}

.cross {
    width: 14px;
    height: 14px;
}

.close {
    opacity: 1;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    outline: none;
    font-family: Tele-hal;
}
@media (max-width:767px){
    .close{
    display:none;
    }
}

.close:hover,
.close:focus {
    color: #000000;
    opacity: 1;
}

.overlay {
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.dialog {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.w-100 {
    width: 100%;
}

.animation-out {
    opacity: 0;
    transform: translate(0, -75%);
    transition: 500ms;
    z-index: -1;
}

.animation-in {
    opacity: 1;
    transform: translate(0, 0);
    transition: 500ms;
    z-index: 1000;
}

.overlay-out {
    opacity: 0;
    z-index: -999;
}

.overlay-in {
    opacity: 0.45;
    transition: 500ms;
    z-index: 1;
}

.border-radius-0 {
    border-radius: 0px;
}

.bg-white {
    background-color: #ffffff;
}

.text-align-right {
    text-align: right;
}

.section-1 {
    font-family: Tele-Ult;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: #262626;
}

.section-2 {
    font-family: Tele-hal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #262626;
}

@media (min-width:767px) {
    .p-t-56-sm {
        padding-top: 56px;
    }
    .p-t-24-sm {
        padding-top: 24px;
    }
}

@media (max-width: 767px) {
    .section-1 {
        font-family: Tele-Ult;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.2px;
        color: #262626;
    }
    .section-2 {
        font-family: Tele-hal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #262626;
    }
    .p-t-13-xs {
        padding-top: 13px;
    }
}

.cursor {
    cursor: pointer;
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.glueRippleAnimate {
    -webkit-animation: ripple 1000ms ease-out;
    animation: ripple 1000ms ease-out;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    height: 60px;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    transform: scale(0);
    width: 60px;
    z-index: 0;
}

/*paddings and margins*/

.p-r-3 {
    padding-right: 3px;
}

.p-t-3 {
    padding-top: 3px;
}

.p-t-16 {
    padding-top: 16px;
}

.p-t-56 {
    padding-top: 56px;
}

.p-t-24 {
    padding-top: 24px;
}

.p-t-48 {
    padding-top: 48px;
}

.p-t-80 {
    padding-top: 80px;
}
.bg-f8f8f8{
    background-color:#f8f8f8;
}