body{
    background-color: #ed008b;
}
.progress{
    height: 8px;
    border-radius:0;
    background-color:#ffffff;
    box-shadow: none;
    -webkit-box-shadow:none;
    margin-bottom:0px;

}
.progress-bar{
    height:8px;
   }
.progress-bar-info {
    background-color: #a10053;
	
}
.status-heading{
    font-size: 32px;
    line-height: 36px;
    color:#ffffff;
    font-family: "Tele-Ult";
}
.p-v-24{
    padding-top:24px;
    padding-bottom:24px;
}
.info-text{
    font-size:16px;
    line-height: 24px;
    color:#ffffff;
    font-family: "HelveticaNeue", Arial;
}
.loader-position {
    margin-top: calc(50vh - 70px);
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}


@media(min-width:768px){
    .p-t-280-sm{
        padding-top:280px;
    }
    .status-heading{
        font-size: 40px;
        line-height: 48px;
    
    }
}
@media(max-width:767px){
    .p-t-40-sm{
        padding-top:40px;
    } 
    .p-b-32-sm{
        padding-bottom: 32px;
    }
}