.btn-primary {
    background-color: #e20074;
    border-color: #e20074;
    box-shadow: none;
    color: #fff;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.25rem;
    text-overflow: ellipsis;
    font-weight: bold;
    height: 56px;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
    background-color: #ba0060;
    border-color: #ba0060;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.btn-secondary {
    background-color: #ffffff;
    font-size: 16px;
    font-family: Helvetica;
    color: #000000;
    border: solid 1px #000000;
    font-weight: bold;
    height: 56px;
}

.shape {
    width: 24px;
    height: 27px;
}

.cross {
    width: 14px;
    height: 17px;
}

.close {
    opacity: 1;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    outline: none;
    font-family: Helvetica;
}

@media (max-width:767px) {
    .close {
        display: none;
    }
}

.close:hover,
.close:focus {
    color: #000000;
    opacity: 1;
}

.overlay {
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.dialog-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.dialog {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    max-width: 620px;
    /*		max-height: 600px;*/
    /*    max-height: 90%;*/
}

@media (max-width:767px) {
    .dialog {
        top: 0px;
        max-width: 100%;
        height: 100%;
        overflow-y: hidden;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dialog {
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
    }
    @media (max-width: 374px) {
        .dialog {
            max-width: 310px;
        }
    }
}

.w-100 {
    width: 100%;
}

.animation-out {
    opacity: 0;
    transform: translate(0, -140%);
    transition: 500ms;
    z-index: -1;
}

.animation-in {
    opacity: 1;
    transform: translate(0, 0);
    transition: 500ms;
    z-index: 1000;
    cursor: unset;
}

.overlay-out {
    opacity: 0;
    z-index: -999;
    transition: 500ms;
}

.overlay-in {
    opacity: .7!important;
    transition: 500ms;
    z-index: 1;
}

.border-radius-0 {
    border-radius: 0px;
}

.bg-white {
    background-color: #ffffff;
}

.text-align-right {
    text-align: right;
}

.section-1 {
    font-family: Tele-Ult;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: #262626;
}

.section-2 {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #262626;
}

@media (min-width:767px) {
	.close {
		display: none;
	}
    .p-t-24-sm {
        padding-top: 24px;
    }
    .p-t-29-sm {
        padding-top: 29px;
    }
    .p-t-40-sm {
        padding-top: 40px;
    }
    .p-t-56-sm {
        padding-top: 56px;
    }
    .p-t-64-sm {
        padding-top: 64px;
    }
    .p-b-64-sm {
        padding-bottom: 64px;
    }
    .p-r-97-sm {
        padding-right: 97px;
    }
    .p-l-99-sm {
        padding-left: 99px;
    }
    .margin-vertical-100{
        top: 100px;
        margin-bottom: 100px;
        margin-top: auto;
    }
}

@media (max-width: 767px) {
    .section-1 {
        font-family: Tele-Ult;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.2px;
        color: #262626;
    }
    .section-2 {
        font-family: Helvetica;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #262626;
    }
    .shape {
        width: 24px;
        height: 24px;
    }
    .cross {
        width: 14px;
        height: 14px;
    }
	.close {
		display: block;
	}
    .p-t-8-xs {
        padding-top: 8px;
    }
    .p-t-13-xs {
        padding-top: 13px;
    }
    .p-h-16-xs {
        padding-left: 16px;
        padding-right: 16px;
    }
    .p-t-40-xs {
        padding-top: 40px;
    }
    .p-t-48-xs {
        padding-top: 48px;
    }
    .p-b-180-xs {
        padding-bottom: 180px;
    }
}

.cursor {
    cursor: pointer;
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.glueRippleAnimate {
    -webkit-animation: ripple 1000ms ease-out;
    animation: ripple 1000ms ease-out;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    height: 60px;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    transform: scale(0);
    width: 60px;
    z-index: 0;
}

/*paddings and margins*/

.p-r-3 {
    padding-right: 3px;
}

.p-t-3 {
    padding-top: 3px;
}

.p-t-16 {
    padding-top: 16px;
}

.p-t-56 {
    padding-top: 56px;
}

.p-t-24 {
    padding-top: 24px;
}

.p-t-48 {
    padding-top: 48px;
}

.p-t-80 {
    padding-top: 80px;
}
@media (max-width:767px){
    .p-r-16-xs {
        padding-right: 16px;
    }
}
@media (min-width:767px) {
    .p-r-8-sm {
        padding-right: 8px;
    }
}
.no-padding{
    padding-left:0;
    padding-right:0;
}
.bg-f8f8f8 {
    background-color: #f8f8f8;
}
.color-e20074{
    color:#e20074;
}

.close-position {
    position: fixed;
    top: 35px;
    color: #e20074;
    font-size: 3rem;
    z-index: 100;
    right: calc(50% - 362px);
}
.fa-iconsize{  font-size: 3rem;}