/* common css */

	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	.p-t-8 {
		padding-top: 8px;
	}
    .p-t-16 {
		padding-top: 16px;
	}
	.p-t-20 {
		padding-top: 20px;
	}

	.padding-horizontal-xxl {
		padding-right: 50px;
		padding-left: 50px;
	}
	.p-t-50 {
		padding-top: 50px;
	}
	.p-t-80 {
		padding-top: 80px;
	}
	.p-t-28{
		padding-top:28px;
	}
	
	.p-t-20 {
		padding-top: 20px;
	}
	.p-t-40 {
		padding-top: 40px;
	}
	.p-t-48 {
		padding-top: 48px;
	 }
		
	.p-t-80{
	  padding-top: 80px;
	}
	.p-t-25 {
		padding-top: 25px;
	}
	
	.p-t-64 {
		padding-top: 64px;
	}

	.p-r-6 {
		padding-right: 6px;
	  }
	  
	.p-b-16 {
		padding-bottom: 16px;
	}
    .p-b-8 {
            padding-bottom: 8px;
        }
	.p-b-20 {
		padding-bottom: 20px;
	}
.m-t-40{
	margin-top:40px;
}
	.m-t-50 {
		margin-top: 50px;
	}

	.p-l-7 {
		padding-left: 7px;
		}
	.btn-primary{
		background-color: #e20074;
		border-color: #e20074;
		border-radius: 2.3rem;
		box-shadow: none;
		color: #fff;
		font-family: Tele-Fet;
		font-size: 18px;
		line-height: 1.25rem;
		padding: 1.4rem 1rem;
		text-overflow: ellipsis;
		/* font-weight: bold; */
	  }

	.close{
		opacity: 1;
		font-size: 28px;
		width: 28px;
		height: 28px;
		color: #e20074;
		margin-right: 12px;
		margin-top:12px; 
		outline: none;
		position: static;
		text-shadow: none;
	}
	.close:hover, .close:focus{
		color: #e20074;
		opacity: 1;
	}
	.btn-size{
		font-size: 20px;
	}

	.d-inline-block {
		display: inline-block;
	}

	@media (min-width:767px){
		.step{
			font-size: 12px;
		}
	}

	.m-t-50{
		margin-top:50px;
	}
	.float-right {
		float: right;
	}
	.float-left {
		float: left;
	}
	.downpayment {
		font-family: Tele-Fet;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: -1.69px;
	}

	.overlay {
		position: fixed;
		right: 0px;
		left: 0px;
		background-color: #000000;
		top: 0;
		bottom: 0;
	}
	.dialog-container {
		position: absolute;
		/* position: fixed; */
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
	}
	.dialog {
		position: absolute;
		overflow-x: hidden;
		overflow-y: auto;
		left: 0px;
		right: 0px;
		z-index: 1000;
		margin-right: auto;
		margin-left: auto; 
		min-width: 320px;
		max-width: 624px;   
/*		max-height: 600px;*/
    /* max-height: 90%; */
		 
	}

	@media (max-width:767px){ 
		.dialog {
			top: 0px;
			max-width: 100%;
			max-height: 100%;
/*             max-height: max-content;*/
		}
	}
	
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.dialog {
			top:0px;
			left: 0px;
			right: 0px;
			width:100%;
		}
		@media (max-width: 374px){
			.dialog{
			  max-width: 310px;
			}
		}
	}
	
	.animation-out {
		opacity: 0;
		transform: translate(0, -125%);
		transition: 500ms;
		z-index: -1;
	}
	.animation-in {
		opacity: 1;
		transform: translate(0, 0);
		transition: 500ms;
		z-index: 1000;
		cursor: unset;
	}
	@media screen  {
		.animation-in {
			transform: translate(0,0%);       
		}
	}
	.overlay-out {
		opacity: 0; 
		transition: 500ms;
		z-index:-999;
	}
	.overlay-in {
		opacity: .7!important;
		transition: 500ms;
		z-index: 1;
	}
	@media screen  {
		.overlay-in {
			transition:0ms;        
		}
	 }

	.text-center{
		text-align: center;
	}
	.heading {
		font-family: Tele-Ult;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: -0.33px;
		color: #262626;
	  }

	.h1-heading {
	  font-family: Tele-Ult, serif;
	  color: #e20074;
	  font-size: 100px;
	  line-height: 100px;
		letter-spacing: -4.3px;
	}

	.Down-payment {
	  font-family: Tele-Hal;
	  font-size: 12px;
	  font-weight: bold;
	  line-height: 24px;
	  color: #262626;
	}

	.description {
		font-family: Tele-Hal;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: normal;
	}
	.btn-text{
		font-family: Tele-Hal;
	  font-size: 14px;
	   line-height: 1.71;
	 font-weight: normal;
	  color: #262626;
	}

	.color-262626 {
		color: #262626;
	}

	.inset-divider-1px {
		border-top: 1px solid #d8d8d8;
	}

	.full-bleed-divider {
		border-top: 6px solid #d8d8d8;
	}
	.line-heading {
			font-family: Tele-Hal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0;
		font-weight: bold;
	}
.line-text {
			font-family: Tele-Hal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0;
		font-weight: normal;
	}
	.sup-custom {
		top: -1.05em;
	}
		

	.font-40 {
		font-family: Tele-Ult;
		font-size: 40px;
		letter-spacing: -1.7px;
	}

	@media (min-width: 768px) {
	.p-l-2-md {
		padding-left: 2px;
	}
	.padding-horizontal-49-md {
		padding-left: 49px;
		padding-right: 49px;
	 }
	.no-padding-md {
		padding: 0px
	 }
	.p-t-37-md {
		padding-top: 37px;
	 }
	.p-h-49-md {
		padding-left: 49px;
		padding-right: 49px;
	 }
        .p-t-32-md{
		padding-top:32px;
	}
	.p-b-40-md {
		padding-bottom: 40px;
	 }
	.p-b-48-md {
	     padding-bottom: 48px;
	}

	.p-r-5-md {
		padding-right: 5px;
	 }
	.no-padding-md {
		padding: 0px;
	}
	.p-t-36-md{ 
		padding-top: 36px;
	}
	.p-b-16-md {
		padding-bottom: 16px;
	}
	.p-l-0-md {
		padding-left: 0px;
	}
        .p-t-24-md {
		padding-top: 24px;
	}
	}
	.section-1 {
		font-family: Tele-Ult;
		font-size: 32px;
		line-height: 1.25;
		letter-spacing: -0.3px;
		color: #262626;
	}
	@media (max-width:767px){
	.p-l-5-xs {
		padding-left: 5px;
	}
	.p-l-16-xs {
		padding-left: 16px;	
	}
	.p-l-32-xs {
		padding-left: 32px;
	}
	.padding-horizontal-16-xs {
		padding-left: 16px;	
		padding-right: 16px;
	}
	.padding-16-xs {
	   padding: 16px;
	}
	.sup-custom {
		top: -1.65em;
	}
	.section-1 {
    font-family: Tele-Ult;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: #262626;;
  }
	.h1-heading {
	  font-size: 72px; 
	}
	.font-40 { 
		font-size: 24px;
	}
	.p-t-44-xs { 
		padding-top: 44px;
	}
	.p-t-33-xs { 
		padding-top: 33px;
	}
	.Down-payment {	  
	  line-height: 16px;	 
	}
	.no-padding-xs {
	  padding: 0;
	}
	.p-t-24-xs {
		padding-top: 24px;
	}
	.no-margin-xs {
		margin: 0px;
	}
	.p-t-52-xs{ 
		padding-top: 52px;
	}
	.p-b-16-xs {
		padding-bottom: 16px;
	}
    .p-t-48-xs {
		padding-top: 48px;
	 }
        .p-t-40-xs {
		padding-top: 40px;
	}
    .heading {
	   font-size: 24px;
	  }
        .p-r-0-xs {
            padding-right: 0px;
        } 
	
	}
	.btn-primary-cart:hover,
	.btn-primary:active,
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active:hover,
	.btn-primary:active:focus,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover
	.btn-primary-big:focus,.btn-primary-big:hover
	 {
		 background-color: #ba0060;
		 border-color: #ba0060;
		 color: #fff;
		 box-shadow: none;
		 outline: none;
	}

	.text-custom{
	  letter-spacing: -0.12px;
	  line-height: 18px;
	}


	.btn-secondary-big {
	  width: 100%;
	  height: 136px;
	  background-color: #ffffff;
	  font-size: 16px;
	  font-family: tele-nor;
	  color: #000000;
	  font-weight: bold;  
	  text-align: center;
	  border: solid 1px #262626;
	}

	.btn-primary-big {
	  width: 100%;
	  height: 136px;
	  background-color: #e20074;
	  font-size: 16px;
	  font-family: tele-nor;
	  color:#ffffff;
	  font-weight: bold;
	  border: 1px solid #e20074;
	  text-align: center;
	}

	.description-bold {
		font-family: Tele-Hal;
		font-size: 14px;
		line-height: 16px;
		font-weight: bold;
		letter-spacing: normal;
	}
	.cancel-text {
	  font-family: Tele-Hal;
	  font-size: 10px;
	  font-weight: bold;
	  line-height: 1.6;
	   color: #212121;
	}

	.legal {
	  font-size: 10px;
	  line-height: 1.2rem;
	  color: #5a5a5a;
	}
	.p-t-24 {
		padding-top: 24px;
	}
.line-text-alignment {
        padding: 0px;
    margin-left: 16px;
}


	/* ordet details starts */
	.btn-primary {
		background-color: #e20074;
		border-color: #e20074;
		border-radius: 2.3rem;
		box-shadow: none;
		color: #fff;
		font-family: Tele-Fet;
		font-size: 18px;
		line-height: 1.25rem;
		padding: 1.4rem 1rem;
		text-overflow: ellipsis;
		/* font-weight: bold; */
	}

	.btn-primary:active,
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active:hover,
	.btn-primary:active:focus,
	.btn-primary.active.focus,
	.btn-primary.active:focus,
	.btn-primary.active:hover,
	.btn-primary:active.focus,
	.btn-primary:active:focus,
	.btn-primary:active:hover {
		background-color: #ba0060;
		border-color: #ba0060;
		color: #fff;
		box-shadow: none;
		outline: none;
	}

	.btn-primary-big-order {
		width: 100%;
		height: 136px;
		background-color: #e20074;
		font-size: 16px;
		font-family: tele-nor;
		color: #ffffff;
		font-weight: bold;
		border: 1px solid #e20074;
		text-align: center;
	}

	.btn-secondary-big-order {
		width: 100%;
		height: 136px;
		background-color: #ffffff;
		font-size: 16px;
		font-family: tele-nor;
		color: #000000;
		font-weight: bold;
		text-align: center;
		border: solid 1px #262626;
	}


	.btn-size {
		font-size: 20px;
	}

	.border-radius {
		border-radius: 0px;
	}

	.bg-white {
		background-color: #ffffff;
	}

	.shape {
		width: 24px;
		height: 24px;
	}

	.cross {
		width: 14px;
		height: 14px;
	}

	.d-inline-block {
		display: inline-block;
	}


	.downpayment {
		font-family: Tele-Fet;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: -1.69px;
	}

	.overlay {
		position: fixed;
		right: 0px;
		left: 0px;
		background-color: #000000;
		top: 0;
		bottom: 0;
	}

	.section-1 {
		font-family: Tele-Ult;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: -0.3px;
		color: #262626;
	}

	.section-2 {
		font-family: Tele-Hal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0;
		color: #262626;
	}

	.section-3-big {
		font-family: Tele-Ult;
		font-size: 56px;
		line-height: 56px;
		letter-spacing: -1.1px;
		color: #262626;
	}

	.section-3-small {
		font-family: Tele-Hal;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0px;
		color: #4c4c4c;
		font-weight: bold;
	}


	.color-e20074 {
		color: #e20074;
	}

	/* ripple animation starts */

	@-webkit-keyframes ripple {
		to {
			-webkit-transform: scale(2);
			opacity: 0;
		}
	}

	@keyframes ripple {
		to {
			transform: scale(2);
			opacity: 0;
		}
	}

	.glueRippleAnimate {
		-webkit-animation: ripple 1000ms ease-out;
		animation: ripple 1000ms ease-out;
		background-color: rgba(0, 0, 0, 0.16);
		border-radius: 100%;
		height: 60px;
		pointer-events: none;
		overflow: hidden;
		position: absolute;
		transform: scale(0);
		width: 60px;
		z-index: 0;
	}

	/* ripple animation ends */

	/*paddings*/

	@media (max-width:767px) {
		.section-1 {
			font-family: Tele-Ult;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.2px;
			color: #262626;
		}
		.btn-primary-big,
		.btn-secondary-big {
			height: 104.9px;
		}
		.p-t-13-xs {
			padding-top: 13px;
		}
		.p-r-16-xs {
			padding-right: 16px;
		}
		.p-h-16-xs {
			padding-left: 16px;
			padding-right: 16px;
		}
		.p-b-24-xs {
			padding-bottom: 24px;
		}
        .p-t-32-xs {
			padding-top: 32px;
		}
		.m-h-16-xs{
			margin-left:16px;
			margin-right:16px;
		}
		
	}

	@media (min-width:767px) {
		.p-r-8-sm {
			padding-right: 8px;
		}
		.p-t-8-sm {
			padding-top: 8px;
		}
		.p-t-24-sm {
			padding-top: 24px;
		}
		.p-t-37-sm {
			padding-top: 37px;
		}
		.p-b-24{
			padding-bottom:24px;
		}
		.p-v-49-sm {
			padding-left: 49px;
			padding-right: 49px;
		}
		.p-h-49-sm {
			padding-left: 49px;
			padding-right: 49px;
		}
		.p-b-64-sm {
			padding-bottom: 64px;
		}
		.m-h-49-sm{
			margin-left:49px;
			margin-right:49px;
		}
		.margin-vertical-100{
			top: 100px;
			margin-bottom: 100px;
			margin-top: auto;
		}
	}
	/* order details ends */
.bg-f8f8f8{
	background: #f8f8f8;
}
.position-fixed {
	position: fixed;
}
@media (min-width: 320px) and (max-width: 374px) {
    .h1-heading {
    font-size: 60px;
    }
    .sup-custom {
    top: -0.95em;
}
}
.close-position {
	position: absolute;
	top: 35px;
	color: #e20074;
	font-size: 3rem;
	z-index: 100;
	right: calc(50% - 362px);
} 
.fa-iconsize{  font-size: 3rem;}