/* tab section starts here */

.plp-widetab .nav-tabs > li > a,
.plp-widetab.nav-tabs > li > a,
.plp-widetab .nav-tabs > li > a:hover,
.plp-widetab.nav-tabs > li > a:hover,
.plp-widetab .nav-tabs > li > a:focus,
.plp-widetab.nav-tabs > li > a:focus {
	border-bottom: 2px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 20px;
}
.plp-widetab .tab-content {
    border-top: 2px solid #dddddd;
    margin-top: -9px;
}
.plp-widetab ul.nav-tabs-wrapper {
   background: none;
}
.plp-widetab ul.nav-tabs > li.active {
    z-index: 999;
}
/* tab section ends here */

/* media query starts */

@media (min-width: 320px) and (max-width: 442px) {
	.plp-widetab .nav-tabs > li > a,
	.plp-widetab.nav-tabs > li > a,
	.plp-widetab .nav-tabs > li > a:hover,
	.plp-widetab.nav-tabs > li > a:hover,
	.plp-widetab .nav-tabs > li > a:focus,
	.plp-widetab.nav-tabs > li > a:focus {
		height: 102px;
	}
}

 @media (min-width: 1140px) {
	.plp-widetab .tab-content {
		margin-top: -2px;
	}
}
.padding-vertical-xl-custom {
	padding-top: 15px;
	padding-bottom: 35px;
}
.paginate-custom{
margin: 20px 0;
margin-top: 20px;
margin-right: 0px;
margin-bottom: 0px!important;
margin-left: 0px;}
/* media query end */

.hr-1px
{
	border-top: 1px solid #E8E8E8;
}
.border-top-custom {
	border-top: 1px solid #dddddd;
	width: 172px!important;
}
.today-align {
	text-align: center !important;
}
