.liner{
    height: 2px;
    border:2px dashed #9b9b9b;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    z-index: -1;
   
}

.step{
    float: left;
    text-align: center;
    font-size: 10px;
    font-family: Tele-Hal;
    color:#6a6a6a;
    line-height: 1.2;
}
.step-title-magenta {
    color: #e20074;
}
.d-inline-block {
    display: inline-block;
}
.p-t-8{
    padding-top:8px;
}
.p-t-50{
    padding-top:50px;
}
.no-padding{
    padding-left:0;
    padding-right:0;
}
@media (min-width:767px){
    .step{
        font-size: 12px;
    }
    
}
.text-center{
    text-align: center;
}
.step-circle{
    width:40px;
    height: 40px;
    border-radius:50%;
    border:1px solid #9b9b9b;
    text-align: center;
    margin:0 auto;
    background-color: #ffffff;
 
    
}
.step-circle-active{
    border:1px solid #e20074; 
    background-color: #e20074;
}
.step-circle-complete{
    border:1px solid #e20074; 
}
.step-circle img{
    margin-top:23%;
}
.m-t-50{
    margin-top:50px;
}
