@font-face {
    font-family: 'tmo-icons';
    src:    url('../../fonts/tmo-icons.eot?93p8qv');
    src:    url('../../fonts/tmo-icons.eot?93p8qv#iefix') format('embedded-opentype'),
        url('../../fonts/tmo-icons.ttf?93p8qv') format('truetype'),
        url('../../fonts/tmo-icons.woff?93p8qv') format('woff'),
        url('../../fonts/tmo-icons.svg?93p8qv#tmo-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tmo-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-MyTmo-logo .path1:before {
    content: "\e908";
    color: rgb(102, 106, 109);
}
.ico-MyTmo-logo .path2:before {
    content: "\e909";
    margin-left: -6.54296875em;
    color: rgb(255, 255, 255);
}
.ico-MyTmo-logo .path3:before {
    content: "\e90a";
    margin-left: -6.54296875em;
    color: rgb(255, 255, 255);
}
.ico-MyTmo-logo .path4:before {
    content: "\e90b";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path5:before {
    content: "\e90c";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path6:before {
    content: "\e90d";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path7:before {
    content: "\e90e";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path8:before {
    content: "\e90f";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path9:before {
    content: "\e910";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path10:before {
    content: "\e911";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path11:before {
    content: "\e912";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path12:before {
    content: "\e913";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path13:before {
    content: "\e914";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path14:before {
    content: "\e915";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path15:before {
    content: "\e916";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-MyTmo-logo .path16:before {
    content: "\e917";
    margin-left: -6.54296875em;
    color: rgb(225, 16, 117);
}
.ico-score-logo:before {
    content: "\e907";
}
.ico-phone-icon:before {
    content: "\e906";
}
.ico-call-icon:before {
    content: "\e905";
}
.ico-jump-on-demand-logo:before {
    content: "\e903";
}
.ico-jump-logo:before {
    content: "\e904";
}
.ico-fail-icon:before {
    content: "\e900";
}
.ico-LTE-icon:before {
    content: "\e901";
}
.ico-check-icon:before {
    content: "\e902";
}