@smartphones: ~"only screen and (max-width: 767px)";
@smartphones_portrait: ~"only screen and (max-width: 767px) and (orientation:portrait) and (min-height:518px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@largeScreens: ~"only screen and (min-width: 1200px)";
@Alldeviceexceptsmartphone: ~"only screen and (min-width: 768px)";
@smartphonesiPhone6: ~"only screen and (min-width: 321px) and (max-width: 767px) and (orientation:portrait) and (min-height:518px)";
@smartphonesiPhone6plus: ~"only screen and (min-width: 376px) and (max-width: 767px) and (orientation:portrait) and (min-height:518px)";
@header-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
@font-bold: bold;
@font-normal: normal;
@font-uppercase: UPPERCASE;
@font-Arial: Arial;
@font-TeleGroteskUlt: Tele-Ult;
@font-TeleGroteskFet: Tele-Fet;
@color-black: #000~'!important';
@color-E8E8E8: #E8E8E8~'!important';
@color-6A6A6A: #6A6A6A~'!important';
@color-lightgray: #9B9B9B~'!important';
@color-magenta: #E20074~'!important';
@color-white: #fff~'!important';
@color-C3C3C3: #C3C3C3~'!important';
@width-full: 100%;
@width-half: 50%;
@px-0: 0px;
@px-1: 1px;
@px-3: 3px;
@px-5: 5px;
@px-6: 6px;
@px-8: 8px;
@px-10: 10px;
@px-11: 11px;
@px-12: 12px;
@px-14: 14px~'!important';
@px-15: 15px;
@px-16: 16px;
@px-18: 18px~'!important';
@px-20: 20px~'!important';
@px-22: 22px~'!important';
@px-24: 24px;
@px-30: 30px~'!important';
@px-32: 32px~'!important';
@px-34: 34px~'!important';
@px-38: 38px~'!important';
@px-40: 40px~'!important';
@px-50: 50px~'!important';
@px-54: 54px~'!important';
@px-56: 56px~'!important';
@px-72: 72px~'!important';
@px-240: 240px~'!important';
@px-260: 260px~'!important';
@px-280: 280px~'!important';
@px-327: 327px~'!important';
@px-letterspacing: -0.1px~'!important';
@border-none: none;
@btn-border-radius: 3rem~'!important';
.text-styles ( @font-family: @font-arial, @font-size: 5px, @line-height: 5px, @letter-spacing: 5px, @font-weight: @font-normal) {
    font-size: @font-size;
    line-height: @line-height;
    font-family: @font-family;
    letter-spacing: @letter-spacing;
    font-weight: @font-weight;
}

#drpAgreementPage {
    .body-copy-20 {
        .text-styles(@font-Arial, @px-20, @px-0, @px-0, @font-normal);
    }
    .black {
        color: @color-black;
    }
    .inset-divider {
        border-top: 2px solid #E8E8E8;
    }
    .full-bleed-divider {
        border-top: 6px solid #E8E8E8;
    }
    .inputbox {
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 1px solid;
        outline: none;
    }
    .inputbox-width {
        width: 197px;
    }
    .inputbox1-width {
        width: 165.2px;
    }
    .wordWrap {
        word-wrap: break-word
    }
    .Rectangle-1 {
        width: 100%;
        height: 355px;
        background-color: #efefef;
        border: 1px solid #979797;
    }
    .center {
        top: 50%;
        vertical-align: middle;
        text-align: center;
        position: relative;
    }
    @media @smartphones {
        .Rectangle-1 {
            width: 100%;
            height: 586px;
            background-color: #efefef;
            border: 1px solid #979797;
        }
        .row-xs {
            margin-right: -15px;
            margin-left: -15px;
        }
        .inputbox-width {
            width: 167px;
        }
        .inputbox1-width {
            width: 160.2px;
        }
        .p-t-35-xs {
            padding-top: 35px;
        }
    }
    @media @Alldeviceexceptsmartphone {
        .d-md-inline-flex {
            display: -webkit-inline-box !important;
            display: -ms-inline-flexbox !important;
            display: inline-flex !important;
        }
        .imgstyle {
            width: 256px;
            height: 74px;
        }
    }
    @media @tablets {
        .inputbox-width {
            width: 64%;
        }
        .inputbox1-width {
            width: 74%;
        }
    }
    @media @smartphones {
        .no-padding-xs {
            padding-left: 0px;
            padding-right: 0px;
        }
        .imgstyle {
            width: 134px;
            height: 41px;
        }
    }
    .imgborder{
    border-top: 2px solid @color-magenta;
    border-bottom: 2px solid @color-magenta;
    }
}