/* modal styles starts */


.modal-heading-font {
    font-family: Tele-Ult;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #000000;
}

.modal-body-font {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #6a6a6a;
}

.border-radius {
    border-radius: 0px;
}

.btn-primary-width {
    width: 112.4px;
    height: 32px;
    font-size: 14px;
}

.btn-secondary-width {
    width: 112.4px;
    height: 32px;
    font-size: 14px;
}


.btn.btn-secondary.btn-black {
    color: #000000;
    border-color: #000000;
}

.overlay {
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.dialog {
    top: 50%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex;
}

/* @media (max-width:767px){ 
    .dialog {
        top: 5%;
        max-width: 100%;
      
    }
} */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dialog {
        top: 50%;
        left: 0px;
        right: 0px;
        max-width: 768px;
    }
    @media (max-width:767px) {
        .dialog {
            max-width: 374px;
        }
    }
    @media (max-width: 374px) {
        .dialog {
            max-width: 310px;
        }
    }
}

@media only screen and (max-height: 414px) and (orientation:landscape) {
    .dialog {
        max-height: 341px !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.animation-out {
    opacity: 0;
    transform: translate(0, -75%);
    transition: 500ms;
    z-index: -1;
}

.animation-in {
    opacity: 1;
    transform: translate(0, -50%);
    transition: 500ms;
    z-index: 1000;
}

.overlay-out {
    opacity: 0;
    z-index: -999;
}

.overlay-in {
    opacity: 0.45;
    transition: 500ms;
    z-index: 1;
}

.noscroll {
    overflow-y: hidden;
}

@media screen {
    .overlay-in {
        transition: 0ms;
    }
}
@media (min-width: 768px) {
  .modal-heading-font{
    font-size:40px;
  }
  .modal-body-font {
    font-size:16px;
  }
  .btn-primary-width{
    width:129px;
    font-size:18px;
  }
  .btn-secondary-width{
    width:129px;
    font-size:18px;
  }
}
/* modal styles ends */

/* spacings */

@media (min-width: 768px) {
  .p-l-0-md{
    padding-left:0px;
  }
  .p-t-24-md {
    padding-top: 24px;
}
.p-h-35-md {
  padding-left: 35px;
  padding-right: 35px;
}
.p-h-24-md {
  padding-left: 24px;
  padding-right: 24px;
}
.text-align-right-md {
  text-align: right;
}
.p-b-24-md{
  padding-bottom:24px;
}
.p-l-17-md{
  padding-left:17px;
}
.button-width{
  width:100%;
}
}
@media (max-width: 767px) {
  .p-t-24-sm {
    padding-top: 24px;
  }
  .p-h-21-sm {
    padding-left: 21px;
    padding-right: 21px;
}
.p-h-35-sm {
  padding-left: 35px;
  padding-right: 35px;
}
.p-v-21-sm{
  padding-top:21px;
  padding-bottom:21px;
}
.p-b-21-sm{
    padding-bottom:21px;
}
.p-l-8-sm{
  padding-left:8px;
}
.p-l-25-sm{
  padding-left: 25px;
}
}
input[type="text"]:focus+label {
      top: 35%;
      margin-top: -16px;
      color: red;
      -webkit-text-size-adjust: auto;
     
  
}
.font-tele-ult {
  font-family: Tele-Ult;
}
.font-40{
  font-size: 40px;
  line-height:40px;
}
.font-18{
  font-size: 18px !important;
}

.align-content-center{
  align-items: center;
}
.d-flex{
  display: flex;
}
.customlabel{
font-family: Arial;
font-size: 10px;
line-height: 1.2;
letter-spacing: 0.5px;
}
.text-magent{
  color: #e20074;
}

.border-magenta, .border-magenta:focus{
  
  border: 1px solid #e20074;
  box-shadow: none;
}
.full-border-red, .full-border-red:focus {
  border: 1px solid #e8200d;
  box-shadow: none; 
}
.border-green, .border-green:focus {
  border: 1px solid #09b119;
  box-shadow: none; 
}
.no-border{
  border:none;
}

.warning-text{
  color: #e8200d;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal; /*changed bold to normal according to redline*/
}
.error-text{
  color: #e8200d;
  font-size: 10px;
  line-height: 12px;
}
.l-h-24{
  line-height: 24px;
}
@media (max-width:767px) {

  .font-24-xs{
      font-size: 24px;
      line-height: 22px;
  }
  .font-14-xs
  {
      font-size: 14px;
  }
  .l-h-20-xs{
      line-height: 20px;
  }
  .position-mobile {
    min-height: calc(100vh - 405px);
  }
  .warning-text{
    font-size: 14px;
  }
  .card-size {
      width: 32px;
      height: 19px;
  }
}
input[type="text"]:focus,:active{
  outline:none;
}
input[type="text"]{
  width:100%;
}
.m-t--10{
  margin-top:-10px;
}
.green{
  color:#09b119;
}

.warning-icon-height {
  height: 16px;
}
.position-rel {
  position: relative;
}
@media (min-width: 992px){
  .padding-l-0{
      padding-left:0;
  }
}
  @media (min-width: 568px) and (max-width:767px){
    .padding-l-60-sm{
        padding-left:60px;
    }
  }
  @media screen and (max-width: 374px) and (min-width: 320px) {
    .marginclass {
     margin-left:-4%;
     width:87%;
    }
  }
  @media screen and (max-width: 574px) and (min-width: 375px) {
    .marginclass {
      margin-left:-6%;
      width:89%;
    }
  }
  @media screen and (max-width: 767px) and (min-width: 575px) {
    .marginclass {
      margin-left:-9%;
      width:92%;
    }
  }
  .btn.btn-secondary:hover,.btn.btn-secondary:active:hover{
    color:#000000;
    border-color: #000000;
}
.p-t-8 {
    padding-top: 8px;
}
.color-black{
  color: #000000;
}