.border-e8e8e8{
    border-bottom: 6px solid #e8e8e8;
}
.p-t-9{
    padding-top: 9px;
}
.p-t-7{
    padding-top: 7px;
}
.font-10{
    font-size: 10px !important;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px !important;
}
.font-32{
    font-size: 32px;
    line-height: 32px;
}
.text-center{
    text-align: center;
}
.align-center
{
    align-items: center;
}
.delete-icon-height {
    height: 14px;
}
.warning-icon-height {
    height: 16px;
}

a, a:hover {
    color:#e20074;
    text-decoration: underline;
}
.title-payment {
    font-family: Tele-Ult, serif;
    font-size:32px;
    color:#000000;
   }
@media (max-width: 767px){
    .font-24-xs{
        font-size: 24px;
    }
    .font-14-xs{
        font-size: 14px;
    }
}
/* .border{
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid #6a6a6a;
    border-radius: 0px;

} */
  /* modal styles starts */
.modal-heading-font {
    font-family: Tele-Ult;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #000000;
}

.modal-body-font {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #6a6a6a;
}

.border-radius {
    border-radius: 0px;
}

.btn-primary-width {
    width: 112.4px;
    height: 32px;
    font-size: 14px;
}

.btn-secondary-width {
    width: 112.4px;
    height: 32px;
    font-size: 14px;
}


.btn.btn-secondary.btn-black {
    color: #000000;
    border-color: #000000;
}

.overlay {
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.dialog {
    top: 50%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex;
}



@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dialog {
        top: 50%;
        left: 0px;
        right: 0px;
        max-width: 768px;
    }
    @media (max-width:767px) {
        .dialog {
            max-width: 374px;
        }
    }
    @media (max-width: 374px) {
        .dialog {
            max-width: 310px;
        }
    }
}

@media only screen and (max-height: 414px) and (orientation:landscape) {
    .dialog {
        max-height: 341px !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.animation-out {
    opacity: 0;
    transform: translate(0, -75%);
    transition: 500ms;
    z-index: -1;
}

.animation-in {
    opacity: 1;
    transform: translate(0, -50%);
    transition: 500ms;
    z-index: 1000;
}

.overlay-out {
    opacity: 0;
    z-index: -999;
}

.overlay-in {
    opacity: 0.45;
    transition: 500ms;
    z-index: 1;
}

.noscroll {
    overflow-y: hidden;
}

@media screen {
    .overlay-in {
        transition: 0ms;
    }
}
@media (min-width: 768px) {
  .modal-heading-font{
    font-size:40px;
  }
  .modal-body-font {
    font-size:16px;
  }
  .btn-primary-width{
    width:129px;
    font-size:18px;
  }
  .btn-secondary-width{
    width:129px;
    font-size:18px;
  }
 .pull-right-md {
     float: right;
 }
 .card_dimesions {
    width: 46px;
    height: 28px;
}
.right-md {
    float:right;
} 
.p-l-17-md{
    padding-left: 17px;
}
.text-align-right-md {
    text-align: right;
  }
  .p-h-18-md {
    padding-left: 18px;
    padding-right: 18px;
}
}

@media (max-width:767px){ 
    .card_dimesions {
            width: 31px;
            height: 18px;
        }
    .no-padding-horizonatl-xs {
        padding-left: 0px;
        padding-right: 0px;
    }
    .p-l-8-sm{
        padding-left:8px;
      }
      .p-h-21-sm {
        padding-left: 21px;
        padding-right: 21px;
    }
    } 

/* modal styles ends */

.visaImg{
    background: url('/img/SVGs/Logos/Visa.svg') no-repeat;
    width: 46px;
    height: 28px;
}


.masterImg{
    background: url('/img/SVGs/Logos/credit_card_Mastercard.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
  
}
.discoverImg{
    background: url('/img/SVGs/Logos/credit_card_Discover.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
   
}
.expressImg{
    
    background: url('/img/SVGs/Logos/credit_card_Amex.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
    background-size: contain;
   
}
.palinCardImg{
    background: url('/img/SVGs/Logos/plain_card.svg') no-repeat;
    width: 46px;
    height: 28px;
}
.amexImg{
	background: url('/img/SVGs/Logos/credit_card_Amex.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
}

.cvv_visaImg{
    background: url('/img/SVGs/Logos/cvv_visa.svg') no-repeat;
    width:300px;
    height:187px;
    display: inline-block;
}
.cvv_amexImg{
    background: url('/img/SVGs/Logos/cvv_master.svg') no-repeat;
    width:300px;
    height:187px;
    display: inline-block;
}

@media (max-width: 767px) {
    .dialog-new-card {
        max-width: 260px;
        min-width: 251px;
    }
    .cvv_visaImg{
        width:200px;
        height:125px;
    }
    .cvv_amexImg{
        width:200px;
        height:125px;
    }
    .card-size {
        width: 32px;
        height: 19px;
    }
}
@media (min-width:768px){
    .dialog-new-card{
         max-width: 672px;
        }    
    }
.delete-icon {
    /* zoom: 1.3; */
    transform: scale(1.4);
    margin-right: 8px;
  }
  .color-E8200D {
      color: #E8200D
  }
  

@media (min-width: 992px){
  .padding-l-0{
      padding-left:0;
  }
}
.textfield label {
    font-size: 14px;
}
@media (max-width: 374px){
    .textfield label {
        font-size: 13px;
    }   
}

.errormsg
{
    width:70%;
}

@media screen and (max-width: 374px) and (min-width: 320px) {
  .marginclass {
   margin-left:-4%;
   width:87%;
  }
}
@media screen and (max-width: 574px) and (min-width: 375px) {
  .marginclass {
    margin-left:-6%;
    width:89%;
  }
}
@media screen and (max-width: 767px) and (min-width: 575px) {
  .marginclass {
    margin-left:-9%;
    width:92%;
  }
}
.btn.btn-secondary:hover,.btn.btn-secondary:active:hover{
    color:#000000;
    border-color: #000000;
}
.color-black{
    color: #000000 !important;
}