.visa-icon {
    background: url('../img/SVGs/Logos/Visa.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.apple-icon {
  background: url('../img/SVGs/Logos/Apple.svg');
  width: 45px;
  height: 27px;
  display: inline-block;
}

.amex-icon {
    background: url('../img/SVGs/Logos/Amex.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.discover-icon {
    background: url('../img/SVGs/Logos/Discover.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.visa-icon-disabled {
    background: url('../img/SVGs/Logos/Visa_disabled.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.amex-icon-disabled {
    background: url('../img/SVGs/Logos/Amex_disabled.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.discover-icon-disabled {
    background: url('../img/SVGs/Logos/Discover_disabled.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.bank-icon {
    background: url('../img/SVGs/Logos/Bank.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.bank-icon-disabled {
    background: url('../img/SVGs/Logos/Bank_disabled.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.star-icon {
    background: url('../img/SVGs/Logos/Star.svg');
    width: 45px;
    height: 27px;
    display: inline-block;
}

.add-bank-icon {
    background: url('../img/SVGs/Logos/add-bank.svg');
    width: 54px;
    height: 45px;
    display: inline-block;
}

.add-card-icon {
    background: url('../img/SVGs/Logos/add-card.svg');
    width: 54px;
    height: 45px;
    display: inline-block;
}

.visaImg{
    background: url('/img/SVGs/Logos/Visa.svg') no-repeat;
    width: 46px;
    height: 28px;
  }
  
  
  .masterImg{
    background: url('/img/SVGs/Logos/credit_card_Mastercard.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
  
  }
  .discoverImg{
    background: url('/img/SVGs/Logos/credit_card_Discover.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
   
  }
  .expressImg{
    
    background: url('/img/SVGs/Logos/credit_card_Amex.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
    background-size: contain;
   
  }
  .palinCardImg{
    background: url('/img/SVGs/Logos/plain_card.svg') no-repeat;
    width: 46px;
    height: 28px;
  }
  .amexImg{
  background: url('/img/SVGs/Logos/credit_card_Amex.svg') no-repeat;
    width: 46px;
    height: 28px;
    display: inline-block;
  }
  
  .cvv_visaImg{
    background: url('/img/SVGs/Logos/cvv_visa.svg') no-repeat;
    width:300px;
    height:187px;
    display: inline-block;
  }
  .cvv_amexImg{
    background: url('/img/SVGs/Logos/cvv_master.svg') no-repeat;
    width:300px;
    height:187px;
    display: inline-block;
  }
  .validated_outline_green_16x14 {
    background: url('/img/SVGs/Logos/validated_outline_green_16x14.svg') no-repeat;
    width: 16px;
    height: 14px;
 }
  
  @media (max-width: 767px) {
    .dialog-new-card {
        max-width: 260px;
        min-width: 251px;
    }
    .cvv_visaImg{
        width:200px;
        height:125px;
    }
    .cvv_amexImg{
        width:200px;
        height:125px;
    }
}