.input {
    border: 0px;
    width: 100%;
    outline: none;
    border-bottom: 1pt solid grey;
    padding: 20px 0px 4px 0px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    vertical-align: middle;	
}
.body {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial;
    letter-spacing:  0.5px;
    font-weight: normal;
    color: #6A6A6A;        
}
.border-red {
    border-bottom: 1pt solid red !important;
}

.border-green {
    border-bottom: 1pt solid green !important;
}
  input, textarea {
        padding: 20px 0px 4px 0px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.7px;
        vertical-align: middle;
    }
    .group {
        position: relative;
    }
    label {
        bottom: 0;
        font-size: 14px;
        line-height: 20px;
        display:table-caption;
             font-weight:normal;
             position:absolute;        
             height: 20px;
              transition:0.2s ease all; 
             -moz-transition:0.2s ease all; 
             -webkit-transition:0.2s ease all; 
             color:  #6A6A6A  
                   
    }

    .labelpointer {
        pointer-events: none;
    }
    .labelfocusClass {
       top: 35%;
         margin-top: -25px;  
              
    }
    .input[type="text"] :focus+label,
    .input[type="tel"] :focus+label {
           
            color: #6A6A6A;
            -webkit-text-size-adjust: auto;
            font-size: 14px;
            line-height: 20px;
            font-family: Arial;
            letter-spacing:  0.5px;
            font-weight: normal;
            display:table-caption;
                     
        }     
        .input[type="text"]+label,
        .input[type="tel"]+label {
            color: #6A6A6A;
}  
 
        .input[type="text"]:focus+label,
        .input[type="tel"]:focus+label,
       .optionLabel .input[type="text"]:focus+label {          
            color: #E20074;
        }

        
    
    input[type="text"],
    input[type="email"],
    input[type="tel"] 
        :focus+label {
         
            color: #6A6A6A;
            -webkit-text-size-adjust: auto;
            font-size: 14px;
            line-height: 20px;
            font-family: Arial;
            letter-spacing:  0.5px;
            font-weight: normal;
        }       
 
   
    input[type="text"],
    input[type="email"],
    input[type="tel"]:valid+label {
                     color:#6A6A6A;
        }
    
@keyframes InputAddUnderline {
    from{-webkit-transform:scaleX(0);transform:scaleX(0)}
    to {-webkit-transform:scaleX(1);transform:scaleX(1)}
}
.textfield{
    position: relative;
}
.input-animation {
    bottom: 0px;
    height: 2px;
    position: absolute;
    width: 100%;
    transition: 0.4s ease all;
}

input:focus~.input-animation{
    background-color: #E20074;
    opacity: 1;
    -webkit-animation: InputAddUnderline .3s cubic-bezier(0.4,0,0.2,1);
    animation: InputAddUnderline .3s cubic-bezier(0.4,0,0.2,1);
}
.optionLabel input[type="text"].ng-empty ~label {
    bottom: 0;       
    font-size: 14px;
    line-height: 20px;
         font-weight:normal;
         position:absolute;   
         top: 20px;   
         margin-top: 0px;  
         /* height: 20px; */
          transition:0.2s ease all; 
         -moz-transition:0.2s ease all; 
         -webkit-transition:0.2s ease all; 
         color:  #6A6A6A    
 }

input[type="text"]:focus~label,
input[type="tel"]:focus~label,
.optionLabel input[type="text"]:focus~label {
       top: 35%;
        margin-top: -16px;
        color: #6A6A6A;
        font-size: 10px;
        line-height: 20px;
        font-family: Arial;
        letter-spacing:  0.5px;
        font-weight: normal;
    }
    input[type="text"]:valid~label,
    input[type="tel"]:valid~label {
       top: 35%; 
        margin-top: -16px;
        color: #6A6A6A;
        font-size: 10px;
        line-height: 20px;
        font-family: Arial;
        letter-spacing:  0.5px;
        font-weight: normal;
    }
    input[type="text"].ng-not-empty:invalid~label,
    input[type="tel"].ng-not-empty:invalid~label {
        top: 35%; 
         margin-top: -16px;
         color:red;
         font-size: 10px;
         line-height: 20px;
         font-family: Arial;
         letter-spacing: 0.5px;
         font-weight: normal;
     }
    

form input:valid {
    background: white;
    padding: 20px 0px 4px 0px;
   /* top: 35%; */
}

.color-red {
    color: red !important;
}
.color-green {
    color: green !important;
}
.d-block{
    display: block;
}
.m-t--5{
    margin-top:-5px;
}

/*input box ends*/