.full-bleed-divider {
    border-top: 6px solid #E8E8E8;
}

.form-group {
    margin-bottom: 0px;
}
.text-center {
    text-align: center;
}
.delete-icon-width {
    width: 14px;
    height: 14px;
}
.remove-class {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    padding-left: 4px;
    color: #e8200d;
}
.align-items-center {
    align-items: center;
}
.right {
    float: right;
}


    .label-size {
        font-size: 10px;
        line-height: 12px;
        font-family: Arial;
        letter-spacing: 0.5px;
        font-weight: normal;
        color: #6A6A6A;
    }
    .cardimage {
        width: 400px;
        height: 210px;
    }

    .d-flex {
        display:flex;
    }
    .black {
        color: #000000;
    }
   
    .color-gray60{
        color: #6a6a6a;
    }
   
    .checkbox .indicator > span {
        border-radius: 4px !important;
    }
    .no-padding-checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .text-decoration-underline {
            text-decoration: underline;
    }
    .cursor {
        cursor:pointer;
    }
        
    .m-t-2 {
        margin-top: -2px;
    }
   
    .form-control {
        padding: 1rem 0.75rem;
    }
    /* .legal{
        color:#6a6a6a;
    } */
   
    a:hover {
        color:#e20074;
        text-decoration: underline;
    }
    .color-red {
        color: red !important;
    }

    
      .bank-heading {
        font-family: Tele-Ult, serif;
        font-size:32px;
        color:#000000;
       }
    @media (min-width:768px){
        .right-md {
            float:right;
        } 
    }
    @media (max-width: 767px) {          
        .position-mobile-bankInfo {
            min-height: calc(100vh - 155px);
        }
        .bank-heading {
            font-size:24px;
        }  
        .cardimage {
            width: 254px;
            height: 157px;
        }
        .dialog-width {
            width: 284px;
            height: 240px;
        }
       
    }
    @media (min-width:768px) and (max-width:991px){
        .glueButton {
            width: 214px !important;
        }
      
    }

    /* modal styles starts */
    @media (max-width: 767px) {
        .p-h-21-sm {
            padding-left: 21px;
            padding-right: 21px;
        }
    }
   
.modal-heading-font {
    font-family: Tele-Ult;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #000000;
}

.modal-body-font {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #6a6a6a;
}

.border-radius {
    border-radius: 0px;
}

.btn-primary-width {
    width: 112.4px;
    height: 32px;
    font-size: 14px;
}

.btn-secondary-width {
    width: 112.4px;
    height: 32px;
    font-size: 14px;
}


.btn.btn-secondary.btn-black {
    color: #000000;
    border-color: #000000;
}

.overlay {
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.dialog {
    top: 50%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
}


@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dialog {
        top: 50%;
        left: 0px;
        right: 0px;
        max-width: 768px;
    }
    @media (max-width:767px) {
        .dialog {
            max-width: 374px;
        }
    }
    @media (max-width: 374px) {
        .dialog {
            max-width: 310px;
        }
    }
}

@media only screen and (max-height: 414px) and (orientation:landscape) {
    .dialog {
        max-height: 341px !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.animation-out {
    opacity: 0;
    transform: translate(0, -75%);
    transition: 500ms;
    z-index: -1;
}

.animation-in {
    opacity: 1;
    transform: translate(0, -50%);
    transition: 500ms;
    z-index: 1000;
}

.overlay-out {
    opacity: 0;
    z-index: -999;
}

.overlay-in {
    opacity: 0.45;
    transition: 500ms;
    z-index: 1;
}

.noscroll {
    overflow-y: hidden;
}

@media screen {
    .overlay-in {
        transition: 0ms;
    }
}

@media (min-width: 768px) {
  .modal-heading-font{
    font-size:40px;
  }
  .modal-body-font {
    font-size:16px;
  }
  .btn-primary-width{
    width:129px;
    font-size:18px;
  }
  .btn-secondary-width{
    width:129px;
    font-size:18px;
  }

.dialog-width {
    width: 448px;
    height: 326px;
}
.text-align-right-md {
    text-align: right;
  }
  .p-h-18-md {
    padding-left: 18px;
    padding-right: 18px;
}
}

/* modal styles ends */
.warning-icon-height {
  width: 16px;
  height: 16px;
}
.float-left {
    float: left;
}
.optional-label-position {
  
        bottom: 0;
        font-size: 14px;
        line-height: 20px;
             font-weight:normal;
             position:absolute;        
             top: 20px;
              transition:0.2s ease all; 
             -moz-transition:0.2s ease all; 
             -webkit-transition:0.2s ease all; 
             color:  #6A6A6A        

}
.delete-icon {
    /* zoom: 1.3; */
    transform: scale(1.4);
    margin-right: 8px;
  }
  .color-E8200D {
      color: #E8200D
  }
  @media (max-width: 767px) {
    .p-t-24-sm {
      padding-top: 24px;
    }
    .p-l-8-sm{
        padding-left:8px;
      }
}
@media (min-width: 768px) {
    .p-t-24-md {
      padding-top: 24px;
  }
  .p-b-24-md{
    padding-bottom:24px;
  }
  .p-l-17-md{
      padding-left: 17px;
  }
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none){
    .no-wrap{
    white-space: nowrap;
    }
}
.font-18 {
font-size: 18px !important;
}
/* .errormessage {
    top: 0;
    z-index: 10;
    width: 78%;
} */
.textfield label {
    font-size: 14px;
}
@media (max-width: 374px){
    .textfield label {
        font-size: 13px;
    }   
}
.btn.btn-secondary:hover,.btn.btn-secondary:active:hover{
    color:#000000;
    border-color: #000000;
}
.color-black{
    color: #000000 !important;
}