@media (min-width:768px) {
    .Display3 {
        font-family: Tele-Ult, serif;
        font-size: 40px;
        line-height: 1;
        letter-spacing: -0.4px;
        color: #000000;
    }
    .H6-heading {
        font-family: Tele-Hal, serif;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: normal;
        color: #000000;
    }
    .m-t-145-lg{
        margin-top: 145px;
    }
}

@media (max-width:767px) {
    .Display3 {
        font-family: Tele-Ult, serif;
        font-size: 32px;
        line-height: 0.94;
        letter-spacing: -0.3px;
        color: #000000;
    }
    .H6-heading {
        font-family: Tele-Hal, serif;
        font-size: 18px;
        line-height: 1;
        letter-spacing: normal;
        color: #000000;
    }
    .m-t-85-sm{
        margin-top: 20vh;
    }
}
@media (max-width: 767px) and (orientation: landscape) {
    .m-t-85-sm{
        margin-top: 14vh;
    }
}

@media (max-width: 320px)  {
    .m-t-85-sm{
        margin-top: 14vh;
    }
}

@media (max-width: 500px) and (orientation: landscape) {
    .m-t-85-sm{
        margin-top: 8vh;
    }
}

body{
    background-color:#ffffff;
}
.PrimaryCTA{
    height:48px !important;
}

@media (min-width: 475px){
    .glueButton {
        width: 288px;
    }
  }

