.sprite {
    background: url(../img/global-sprites-sm.png) 0px 0px no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.mob-visa-icon {
    background-position: 0 -300px !important;
    height: 22px;
    width: 35px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.mob-visa-icon-disabled {
    background-position: 0 -350px !important;
    height: 22px;
    width: 35px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.mob-amex-icon {
    background-position: -100px -300px !important;
    height: 22px;
    width: 35px;
    margin-bottom: 2px;
    margin-right: 2px;
}
.mob-discover-icon {
    background-position: -150px -300px !important;
    height: 22px;
    width: 35px;
    margin-bottom: 2px;
    margin-right: 2px;
}
.mob-master-icon {
    background-position: -50px -300px !important;
    height: 22px;
    width: 35px;
    margin-bottom: 2px;
    margin-right: 2px;
}
.bank-icon{
    height: 22px;
    width: 35px;
}
.hr-2px {
    border: 3px solid #e8e8e8;
}
.d-flex{
    display:flex;
}
.black{
    color:black;
}
.overflow-x{
    overflow-x: hidden;
}

@media (max-width:374px){
    .padding-inputfields {
        padding-right: 0%;
        padding-left: 1.5%;
    }
}

@media (min-width:375px) and (max-width:429px){
    .padding-inputfields {
        padding-right: 0%;
        padding-left: 0.5%;
    }
}


@media (min-width:430px) and (max-width:529px){
    .padding-inputfields {
        padding-right: 1%;
    }
}

@media (min-width:530px) and (max-width:629px){
    .padding-inputfields {
        padding-right: 2%;
    }
}

@media (min-width:630px) and (max-width:767px){
    .padding-inputfields {
        padding-right: 3%;
    }
}

@media (min-width: 768px) {

    .editBorder-hub {
        margin: 100px auto;
        width: 100%;
        max-width: 600px;
    }
    .container-hub{
        height: 830px !important;
    }
    .hub-padding-left-spm-bbpm{
        padding-left: 65px;
        padding-right: 65px;
    }
    .hub-padding-left{
        padding-left: 50px;
        padding-right: 50px;
    }
    .div_shadow{
        -webkit-box-shadow: 0 0 70px 15px  rgba(0,0,0,0.08);
        -moz-box-shadow:  0 0 70px 15px  rgba(0,0,0,0.08);
        box-shadow:  0 0 5px 5px  rgba(0,0,0,0.08);
    }
    .m-t-50-sm {
    margin-top: 50px !important;
    }
    .p-t-20{
        padding-top: 20px;
    }
    .p-b-20{
        padding-bottom: 20px;
    }
   .payment-content {
     box-shadow: 0px 0px 70px 15px rgba(0,0,0,0.08);
     -webkit-box-shadow: 0px 0px 70px 15px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 70px 15px rgba(0,0,0,0.08);
    }
    .p-t-16-sm {
        padding-top: 16px !important;
    }
    .padding-vertical-43 {
        padding-top: 43px;
        padding-bottom: 43px;
    }
    .title-desc {
        font-family: Tele-Fet, serif;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }
    .p-veritical-32-sm {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
@media (min-width: 992px) {

    .editBorder-hub {
        margin: 100px auto;
        width: 100%;
        max-width: 785px;
    }
    .hub-padding-left{
        padding-left: 75px;
        padding-right: 75px;
    }
    .hub-padding-left-spm-bbpm{
        padding-left: 84px;
        padding-right: 84px;
    }
    .button-padding{
        padding-right: 65px;
    }
    .div_shadow{
        -webkit-box-shadow: 0 0 70px 15px  rgba(0,0,0,0.08);
        -moz-box-shadow:  0 0 70px 15px  rgba(0,0,0,0.08);
        box-shadow:  0 0 5px 5px  rgba(0,0,0,0.08);
    }
    .p-t-16-md {
        padding-top: 16px !important;
    }
    
}
@media (min-width: 1200px) {

    .padding-inputfields {
        padding-right: 12px;
    }

    .editBorder-hub {
        margin: 100px auto;
        width: 100%;
        max-width: 950px;
    }
    .hub-padding-left{
     padding-left: 85px;
     padding-right: 85px;
    }
    .hub-padding-left-spm-bbpm{
        padding-left: 100px;
        padding-right: 100px;
    }
    .div_shadow{
        -webkit-box-shadow: 0 0 70px 15px  rgba(0,0,0,0.08);
        -moz-box-shadow:  0 0 70px 15px  rgba(0,0,0,0.08);
        box-shadow:  0 0 5px 5px  rgba(0,0,0,0.08);
    }
    .p-t-16-lg {
        padding-top: 16px !important;
    }
}
@media (max-width: 767px) {
    .payment-content {
        border: 0px solid #DDDDDD;
    }
     .editBorder-hub {
       margin-top:0px;  
    }
	
	.p-t-2 {
		padding-top:2px;
	}
	
	.p-t-3 {
		padding-top:3px;
	}
	
	/*Jun-13 - review changes*/
	.p-l-icon-2 {
		padding-left: 2px;
	}
	.right {
        float:right;
    }
	/*Jun-13 - review changes*/
    .p-t-16-xs {
        padding-top: 16px !important;
    }
    .p-b-16 {
        padding-bottom: 16px !important;
    }
    .position-mobile {
            min-height: calc(100vh - 173px);
    }
    .position-mobile-bankInfo {
           min-height: calc(100vh - 140px);
        }
    .position-mobile-confull{
        min-height: calc(100vh - 80px);
    }
    .title-desc {
        font-family: Tele-Fet, serif;
        font-size: 26px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }
    .p-b-24-xs {
        padding-bottom: 24px;
    }
}
@media (min-width:768px) and (max-width:991px){

    .padding-inputfields {
        padding-left: 3px;
    }
    
    .glueButton {
        width: 214px !important;
    }
    .p-h-10-sm {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*Jun-13 - changes*/
.padding-vertical-large-blade{
  padding-top: 18px;
  padding-bottom: 18px;
}

.glueRadio-container .check{
    top:1px;
}
@media (min-width:992px) and (max-width:1199px){
    .padding-inputfields {
        padding-right: 6px;
    }

    .right {
        float:right;
    }
}
/*Jun-13 - changes*/
/*June-14 - changes*/
.padding-top-large-blade{
    padding-top:18px;
}
.padding-bottom-large-blade{
    padding-bottom:18px
}

.p-l-6 {
	padding-left:3px;
}

@media (max-width:340px){
    .font-size-bodycopy{
    font-size: 12px !important;
    }
}
/*June-14 - changes*/

.font-style-error {
	font-style:italic;
	color:#6a6a6a;
}

.imgInvert {
	-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(5%);
}
/*Delete confirmation starts*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.m-l-12{
    margin-left: 12px;
}
.PrimaryCTAAccent {
    width: 96px!important;
    height: 32px;
    font-family: Tele-Fet;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: #ffffff;
    color: #e20074;
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn.SecondaryCTAAccent {
    width: 96px!important;
    height: 32px;
    font-family: Tele-Fet;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000!important;
    padding-top: 0px;
    padding-bottom: 0px;
}
@media (max-width:374px){
    .PrimaryCTAAccent, .btn.SecondaryCTAAccent {
        width: 66px!important;
    }
    .p-h-5-xs {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width:375px) and (max-width:575px){
    .p-h-10-xs2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.btn.PrimaryCTAAccent:hover, .btn.PrimaryCTAAccent:focus, .btn.PrimaryCTAAccent:active {
    background-color: #ffffff;
    color: #e20074;
}
.btn.SecondaryCTAAccent:hover, .btn.SecondaryCTAAccent:focus, .btn.SecondaryCTAAccent:active {
    color: #000000;
}
.color-6a{
    color: #6a6a6a;
}
/*.btn-width{
    width: 100%!important;
}*/
.glueRippleAnimate{
    -webkit-animation: ripple 600ms ease-out;
    animation: ripple 600ms ease-out;
}
.outline{
    outline: none;
}
.hyperlink-bold {
   
    text-decoration: underline;
}
.hyperlink-bold:hover{
    color: #e20074;
    cursor: pointer; 
}
.p-t-16 {
    padding-top: 16px;
}
.legal-desc {
    font-size: 10px;
    line-height: 12px;
    font-family: arial;
    letter-spacing: 0.5px;
}
.checkbox .indicator > span {
    border-radius: 4px !important;
}
.no-padding-checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.text-decoration-underline {
        text-decoration: underline;
}
.cursor {
    cursor:pointer;
}
.onHover:hover {
    color: #e20074;
}

.m-t-2 {
    margin-top: -2px;
}
.m-r-5n{
    margin-right:-5px;
}
.m-l-10n{
    margin-left:-10px;
}
@media (max-width: 330px) {
    .bankDefaultTooltip .popover.top>.arrow, .cardDefaultTooltip .popover.top>.arrow {
        margin-left: -4px;
    }
}
.gray_m{
    color:#6a6a6a;
}

.form-control {
    padding: 1rem 0.75rem;
}
.legal{
    color:#6a6a6a;
}
.padding-top-xl{
    padding-top:32px;
}
.padding-top-medium{
    padding-top:16px;
}
.padding-top-small{
    padding-top:8px;
}
.p-t-24{
    padding-top:24px;
}
.p-r-6{
    padding-right:6px;
}
@media (min-width: 390px){
.m-r-18{
    margin-right: 18px !important;
}
}
@media (max-width: 390px){
.p-r-6{
    padding-right:0px;
}
}
.text-magenta1{
    color:#f41a8a;
}
.text-box{
    width:66px;
    height:32px;
}
@media (max-width: 370px){
    .text-box{
        width:50px;
        height:32px;
    }
}
.p-t-22{
    padding-top:22px;
}
.p-t-12{
    padding-top:12px;
}
@media(min-width:768px){
.padding-horizontal-48{
    padding-left:48px;
    padding-right:48px;
}
}
.p-b-48{
    padding-bottom:48px;
}
.chkimg_size
{
    width:72px;
    height:72px;
}
.p-b-35{
    padding-bottom:35px;
}
.txt-size
{
   font-size: 32px !important;
}
a:hover{
    color:#e20074;
    text-decoration: underline;
   }
   .font-size-fp
   {
       font-size: 10px !important;
   }
.p-l-12{
    padding-left: 12px;
}
.p-r-6{
    padding-right: 6px;
}
.p-t-lg{
    padding-top:54px;
}
@media(max-width:767px){
    .p-t-lg{
        padding-top:34px;
    }
}
/*.legal-desc-14{
    font-family: Arial;
    font-size:14px;
    color:#000000;
}*/
@media (min-width:768px){
    .title-payment{
      font-family: Tele-Ult, serif;
    font-size:40px;
    color:#000000;
    }
    }
    @media (max-width:767px){ 
      .title-payment{
        font-family: Tele-Ult, serif;
      font-size:26px;
      color:#000000;
      font-weight:normal;
      }
      }
      @media (max-width:347px){
      .title-payment-xs{
        font-family: Tele-Ult, serif;
        font-size:23px;
        color:#000000;
        font-weight:normal;
      }
    }
    .text-11{
        font-size:11px;
        font-family:Arial;
    }
.arrow-right{
    width: 24px;
    height: 24px
}
.delete-icon{
    width: 24px;
    height: 24px
}
.border-red, .border-red:focus{
    border-color: #ff0000;
    box-shadow: none;
}
/*css for the top message*/
.bg-color-title {
    background-color: #f8f8f8;
}
.display-none{
    display: none;
}

.display-block{
    display: block;
}

.text-center{
    text-align: center;
}
.color-26{
    color:#262626;
}
.m-b-n-7{
    margin-bottom:-7px;
}
.m-t-n-3{
    margin-top:-3px;
}
.hr-1px-bottom {
    border-bottom: 1px solid #e8e8e8;
}
.h-69{
    line-height:69px;
}
.vertical-middle{
    vertical-align: middle !important;
}
@-moz-document url-prefix() { 
    .m-t-0{
        margin-top:100px;
    }
}
/**/