/* blade styles */

.card-blade-title {
    font-family: Tele-Ult;
    font-size: 18px;
    color: #6a6a6a;
}

@media (max-width: 374px) {
    .card-blade-title {
        font-size: 14px;
    }
}

.card-blade-error-message {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #e8200d;
    line-height: 12px;
}

.text-underline {
    text-decoration: underline;
}

.legal-text {
    font-size: 10px;
}

.font-black {
    color: #000000
}

.padding-vertical-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (max-width:767px) {
    .d-flex-xs {
        display: flex;
        justify-content: space-between;
    }
    .m-l-15-xs {
        margin-left: -15px;
    }
    .m-r-15-xs {
        margin-right: -15px;
    }

    .p-t-4 {
        padding-top: 4px;
    }
}

@media (max-width: 991px) {
    .ellipsis-text {
        display: inline-block;
        width: 218px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .ellipsis-text {
        width: 400px;
    }
}

@media (min-width: 768px) {
    .card-blade-title {
        font-size: 24px;
        line-height: 24px;
    }
    .card-blade-error-message {
        font-size: 16px;
        line-height: 24px;
    }
    .card-blade-desc {
        font-size: 16px;
        line-height: 24px;
    }
    .card-date {
        font-size: 16px;
        line-height: 24px;
    }
}

/* mdoal styles */

.modal-heading-font {
    font-family: Tele-Ult;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #000000;
}

.modal-body-font {
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #000000;
}

.border-radius {
    border-radius: 0px;
}

.btn-primary-width {
    width: 90px;
    height: 32px;
}

.btn-secondary-width {
    width: 136px;
    height: 32px;
}

.btn-primary-width2 {
    width: 129px;
    height: 32px;
}

.btn-secondary-width2 {
    width: 99px;
    height: 32px;
}

.btn.btn-secondary.btn-black {
    color: #000000;
    border-color: #000000;
}

.overlay {
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.dialog {
    top: 50%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex;
}

/* @media (max-width:767px){ 
    .dialog {
        top: 5%;
        max-width: 100%;
      
    }
} */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dialog {
        top: 50%;
        left: 0px;
        right: 0px;
        max-width: 768px;
    }
    @media (max-width:767px) {
        .dialog {
            max-width: 374px;
        }
    }
    @media (max-width: 374px) {
        .dialog {
            max-width: 310px;
        }
    }
}

@media only screen and (max-height: 414px) and (orientation:landscape) {
    .dialog {
        max-height: 341px !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.animation-out {
    opacity: 0;
    transform: translate(0, -75%);
    transition: 500ms;
    z-index: -1;
}

.animation-in {
    opacity: 1;
    transform: translate(0, -50%);
    transition: 500ms;
    z-index: 1000;
}

.overlay-out {
    opacity: 0;
    z-index: -999;
}

.overlay-in {
    opacity: 0.45;
    transition: 500ms;
    z-index: 1;
}

.noscroll {
    overflow-y: hidden;
}

@media screen {
    .overlay-in {
        transition: 0ms;
    }
}

.bg-white {
    background-color: #ffffff;
}

/* Fonts */

.heading {
    font-family: Tele-Fet;
    font-size: 36px;
    line-height: 1.09;
    letter-spacing: -0.1px;
    color: #000000;
}

.description {
    font-family: Tele-Ult;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #000000;
}

.body-text {
    font-size: 11px;
    line-height: 16px;
    font-family: Arial;
    letter-spacing: 0px;
    font-weight: normal;
    color: #5a5a5a;
}

/* Paddings, Margins */

.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.p-0 {
    padding: 0px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-24 {
    padding-top: 24px;
}

.p-b-24 {
    padding-bottom: 24px;
}

@media (max-width: 767px) {
    .heading {
        font-size: 23px;
        line-height: 0.94;
    }
    .modal-heading-font {
        font-family: Tele-Ult;
        font-size: 32px;
        line-height: 0.94;
        letter-spacing: -0.3px;
        color: #000000;
    }
    .modal-body-font {
        font-family: Arial;
        font-size: 14px;
        line-height: 1.43;
        color: #6a6a6a;
    }
    .btn-primary {
        font-family: Tele-Fet;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
    }
    .btn-secondary {
        font-family: Tele-Fet;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.5px;
        text-align: center;
        color: #000000;
    }
    .btn-primary-width,
    .btn-secondary-width,
    .btn-primary-width2,
    .btn-secondary-width2 {
        width: 114px;
        height: 32px;
    }
    .p-r-8-sm {
        padding-right: 8px;
    }
    .p-t-26-sm {
        padding-top: 26px;
    }
    .p-t-12-sm {
        padding-top: 12px;
    }
    .p-h-23-sm {
        padding-left: 23px;
        padding-right: 23px;
    }
    .p-t-32-sm {
        padding-top: 32px;
    }
}

@media (min-width: 768px) {
    .p-l-5-md {
        /* Add card details */
        padding-left: 5px;
    }
    .p-t-42-md {
        padding-top: 42px;
    }
    .p-t-48-md {
        padding-top: 48px;
    }
    .p-r-24-md {
        padding-right: 24px;
    }
    .p-r-48-md {
        padding-right: 48px;
    }
    .p-r-17-md {
        padding-right: 17px;
    }
    .p-h-80-md {
        padding-left: 80px;
        padding-right: 80px;
    }
    .pull-right-md {
        float: right;
    }
    .text-align-right-md {
        text-align: right;
    }
}

@media (min-width: 991px) {
    /*  Add card details */
    .m-r-10-lg {
        margin-right: 10px;
    }
}

/* top section and button styles */

.hr-2px {
    border: 2px solid #e8e8e8;
}

.hr-1px {
    border: 1px solid #e8e8e8;
}

.font-tele-ult {
    font-family: Tele-Ult;
    font-size: 32px;
}

.font-arial {
    font-family: Arial;
    font-size: 16px;
}

.PrimaryCTA {
    font-size: 18px !important;
    height: 48px !important;
}

.SecondaryCTA {
    font-size: 18px !important;
    height: 48px !important;
}

@media (min-width: 768px) {
    .btn-primary-width3 {
        width: 362px;
    }
    .btn-secondary-width3 {
        width: 362px;
    }
    .edit-link-text {
        font-size: 16px;
        cursor: pointer;
    }
    .edit-link {
        padding-top: 10px;
    }
    .inSession-container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .font-arial {
        font-size: 14px;
    }
    .font-tele-ult {
        font-size: 24px;
    }
    .edit-link-text {
        font-size: 10px;
        cursor: pointer;
    }
    .edit-link {
        line-height: 1.2rem;
        padding-top: 5px;
    }
    .inSession-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media(max-width:374px) {
    .font-arial {
        font-size: 12px;
    }
    .ellipsis-text {
        width: 180px;
    }
}

/* add card details starts */

.black {
    color: #000000;
}

.add-card-disabled {
    color: #6a6a6a;
}

.card-disabled {
    pointer-events: none;
}

.arrow-right {
    width: 16px;
    height: 16px;
    filter: invert(0.5);
    margin-top: 6px;
}

@media (min-width:768px) and (max-width:991px) {
    .glueButton {
        width: 214px;
    }
}

@media (max-width:767px) {
    .content-height {
        min-height: calc(100vh - 161px);
    }
}

@media (min-width:768px) {
    .no-padding-md {
        padding-left: 0px;
        padding-right: 0px;
    }
    .button-width {
        width: 100%;
    }
}

/* add card details starts */

.bg-color-title {
    background-color: #f8f8f8;
}

.btn.btn-secondary:active:focus,
.btn-primary.btn-secondary:active:focus,
.btn-default.btn-secondary:active:focus {
    color: #000000;
    border-color: #000000;
}

.btn.disabled,
.btn-primary.disabled,
.btn[disabled],
.btn-primary[disabled],
.btn-default[disabled],
.btn-primary[disabled]:active,
.btn-primary[disbaled]:focus,
.btn-primary[disabled]:hover {
    background-color: #6a6a6a;
    box-shadow: none;
}

.glueButtonSecondary {
    border: 1px solid #000000 !important;
}

.glueButtonSecondary:hover {
    border: 1px solid #000000 !important;
}

.btn {
    line-height: 20px !important;
}

.container-fluid {
    max-width: 100% !important;
}

.hr-1px-bottom {
    border-bottom: 1px solid #e8e8e8;
}

.hr-2px-bottom {
    border-bottom: 2px solid #e8e8e8;
}
:disabled~.check {
    border: 1px solid #9B9B9B !important;
     opacity: 0.5;
 }
 .h-69{
    line-height:69px;
}
.vertical-middle{
    vertical-align: middle !important;
}