<!DOCTYPE html>
<!--device non nyc others: Start -->
<div class="row" ng-hide="tradeCondtn">
    <div class="col-sm-3 p-t-56-sm col-sm-offset-1 text-center hidden-xs">
        <img ng-src="{{phonecondtion_fullImage}}" class="mobileImage justify-content-center pull-left-xs margin-left-25  ">
    </div>
    <div class="col-xs-12 col-sm-7  padding-horizontal-24-xs">
        <div class="pdp-content1">
            <h1 class="Display2 text-bold p-t-64-sm p-t-32-xs  Display2-mob"> How do you want to protect your phone?</h1>
            <div class="p-t-32 col-xs-12 no-padding" ng-repeat="item in pdp_nonnyc_others_lists" ng-class="{'p-t-24-xs':$index === 0}">
                <div class="col-xs-12 no-padding">
                    <p class="legal text-bold p-l-38-sm p-l-38-xs p-b-4 gray" ng-if="item.protection_bestValue != ''">{{item.protection_bestValue}}</p>
                </div>
                <div class="col-xs-1 p-r-0 p-l-0 w-30-xs w-38-sm">
                    <div class="text-center p-l-0">
                        <div class="body glueRadio-container mt-1">
                            <input type="radio" id="radio{{$index}}" name="radio" ng-checked="{{$index}}===0">
                            <label for="radio{{$index}}"></label>
                            <div class="check">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10  no-padding p-l-8-xs">
                    <p class="Display5 m-t-4">{{item.protection_id}}</p>
                    <p class="body-copy-description-regular m-t-4 p-b-4 text-black" ng-if="item.protection_price !=''">{{item.protection_price}}</p>
                    <ul class="" ng-repeat="description in item.protection_description track by $index" >
                        <li class="body-copy-description-regular text-black" >{{description}} <a ng-if="item.protection_bestValue != '' && $last == true" ng-click="manymoreModal()" class="and-many-more">and many more </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="p-t-40 p-b-32 p-l-38-sm col-xs-12 no-padding forButton">
            <button class="btn btn-width btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary   custom-text-size text-ellipse"
                ripple value="true">Continue
            </button>
        </div>
        <p class="legal p-b-24  gray p-b-82-sm col-xs-12 no-padding">By declining the device protection, your phone will no longer be covered by any insurance. If you change your mind,
            you will have 14 days to repurchase the insurance. For complete details, including benefits, exclusions, limitations,
            and costs, please visit
            <a href="" class="gray cursor text-decoration-underline"> mytmoclaim.com/terms</a>
        </p>
    </div>
</div>
<div class="glueDialogContainer">
        <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visible}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="close()">
                        <i class="ico ico-closeIcon" ng-if="visibleAnimation"></i>
                    </button>
                </div>
            </div>
            <div class="row no-margin padding-bottom-small dialogPadding scroll">
                <div class="col-xs-12 no-padding padding-bottom-small">
                    <h4 class="Display3 text-black modal-font text-bold text-center">{{safeTitle}}</h4>
                </div>
                <div class="col-xs-12 no-padding" ng-repeat="list in safeArray">
                    <p class="body-copy-description-bold padding-top-large text-black text-center">{{list.contentTitle}}</p>
                    <p class="body-copy-description-regular text-black text-center">{{list.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="glueOverlay" ng-click="close()" ng-class="{'glueOverlayIn':visible,'glueOverlayOut':!visible}"></div>

</div>
<!--device non nyc others: End-->