<!--deivice non nyc plans: Start -->
<div class="row" ng-hide="tradeCondtn">
    <div class="col-sm-3 p-t-56-sm col-sm-offset-1 text-center hidden-xs">
        <img ng-src="{{phonecondtion_fullImage}}" class="mobileImage justify-content-center pull-left-xs margin-left-25  ">
    </div>
    <div class="col-xs-12 col-sm-7 padding-horizontal-24-xs">
        <h1 class="Display2 text-bold p-t-64-sm p-t-32-xs  Display2-mob"> Your new phone requires a different level of protection. Let’s keep it protected.</h1>
        <p class="legal gray text-bold p-t-24-xs p-t-32-sm p-b-4 gray">PREVIOUS</p>         
        <p class="body-copy-description-regular gray p-b-16 "><span class = "body-copy-description-bold p-r-8 gray">Protection 360 </span>$12.00/mo.</p>
        <hr class="m-t-0 m-b-0 border-f2">  
        <p class="col-xs-12 no-padding legal gray p-t-24">NEW OPTIONS</p>
        <div class="p-t-8 col-xs-12 no-padding" ng-repeat="item in pdp_nyc_plans_lists" ng-class="{'p-t-32':$index != 0}">
            <div class="col-xs-12 no-padding">
        <p class="legal text-bold p-l-38-sm p-l-38-xs gray" ng-if="item.protection_bestValue != ''">{{item.protection_bestValue}}</p>
        </div>
            <div class="col-xs-1 p-r-0 p-l-0 w-30-xs w-38-sm">
                <div class="text-center p-l-0">
                    <div class="body glueRadio-container mt-1">
                        <input type="radio" id="radio{{$index}}" name="radio" ng-checked="{{$index}}===0">
                        <label for="radio{{$index}}"></label>
                        <div class="check">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 no-padding p-l-8-xs">                
                <p class="Display5 m-t-4">{{item.protection_id}}</p>
                <p class="body-copy-description-regular p-b-4 text-black "  ng-if="item.protection_price !=''">{{item.protection_price}}</p>
                <ul class="" ng-repeat="description in item.protection_description" >
                    <li class="body-copy-description-regular text-black" ng-class="{'list-none':item.protection_bestValue == ''}">{{description}}<a ng-if="item.protection_bestValue != '' && $last == true" ng-click="manymoreModal()" class="and-many-more">and many more </a></li>
                </ul>
            </div>
        </div>
        <div class="p-t-40 p-b-32 col-xs-12 no-padding p-l-38-sm forButton">
            <button class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary   custom-text-size text-ellipse btn-width"
                ripple value="true">Continue
            </button>
        </div>


        <p class="legal p-b-24-xs p-b-82-sm col-xs-12 gray no-padding">By declining the device protection, your phone will no longer be covered by any insurance. If you change your mind,
            you will have 14 days to repurchase the insurance. For complete details, including benefits, exclusions, limitations,
            and costs, please visit <a href="" class="gray cursor text-decoration-underline">mytmoclaim.com/terms</a>
        </p>
    </div>
</div>
<div class="glueDialogContainer">
        <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visible}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="close()">
                        <i class="ico ico-closeIcon" ng-if="visibleAnimation"></i>
                    </button>
                </div>
            </div>
            <div class="row no-margin padding-bottom-small dialogPadding scroll">
                <div class="col-xs-12 no-padding padding-bottom-small">
                    <h4 class="Display3 text-black modal-font text-bold text-center">{{safeTitle}}</h4>
                </div>
                <div class="col-xs-12 no-padding" ng-repeat="list in safeArray">
                    <p class="body-copy-description-bold padding-top-large text-black text-center">{{list.contentTitle}}</p>
                    <p class="body-copy-description-regular text-black text-center">{{list.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="glueOverlay" ng-click="close()" ng-class="{'glueOverlayIn':visible,'glueOverlayOut':!visible}"></div>

</div>
<!--deivice non nyc plans: End -->