<!DOCTYPE html>
<!--device non nyc: starts -->
<div class="row">
    <div class="">
        <div class="col-xs-12 col-sm-3 p-t-56-sm col-sm-offset-1 text-center hidden-xs">
            <img ng-src="{{phonecondtion_fullImage}}" class="mobileImage justify-content-center pull-left-xs  margin-left-25  ">
        </div>
        <div class="col-xs-12 col-sm-7 p-t-64-sm p-t-32-xs padding-horizontal-24-xs  margin-left-10 ">
            <div class="row no-margin pdp-content-non-nyc">
                <div class="col-12">
                    <p class="Display2 text-black title-text letter-spacing-03">
                        Let's keep your new phone safe and protected
                    </p>
                    <p class="Display5 p-b-4 p-t-48">Protection 360</p>
                    <p class="body-copy-description-regular text-black">$14.00/mo</p>
                    <ul class="p-t-8">
                        <li class="body-copy-description-regular text-black">
                            Replace phone when lost or stolen</li>
                        <li class="body-copy-description-regular text-black">
                            Extended warranty
                        </li>
                        <li class="body-copy-description-regular text-black">
                            Free upgrade after 50% balance paid
                        </li>
                        <li class="body-copy-description-regular text-black">
                            Apple Care, ID protection, McAfee Security and Premium tech support
                            <a ng-click="manymoreModal()" class="and-many-more">and many more </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 p-t-40 d-sm-flex flex-flow-sm  no-padding">
                    <div class="col-xs-12 glueButton pull-right p-r-0-sm p-r-0-lg p-l-0-sm p-l-0-lg p-l-0-xs p-r-0-xs m-l-32-sm">
                        <a  class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary custom-text-size text-ellipse"
                            ripple value="true"> Yes, protect my phone
                        </a>
                    </div>
                    <div class="col-xs-12 glueButton p-t-16-xs pull-left d-sm-flex justify-contents-start-sm p-l-0-sm p-l-0-lg  p-l-0-xs p-r-0-xs p-r-0">
                        <button class="btn btn-secondary SecondaryCTA h-48 button-title lineHeight-20 glueButton  pull-right glueButtonSecondary   custom-text-size custom-background text-ellipse"
                            ripple value="true">No, I'll take my chances</button>
                    </div>
            </div>
            <div class="col-xs-12 p-b-32 p-t-16 text-center-xs no-padding">
                    <a  ng-href="{{navigateProtectionplans()}}" class="h6-title text-magenta-imp cursor">Other protection options</a>
            </div>
            <div class="col-xs-12 no-padding">
                    <p class="legal p-b-24 col-xs-12 gray no-padding">By declining the device protection, your phone will no longer be covered by any insurance. If you change your mind,you will have 14 days to repurchase the insurance. For complete details, including benefits, exclusions, limitations, and costs, please visit <a href="" class="gray cursor text-decoration-underline">mytmoclaim.com/terms</a>
                    </p>
            </div> 
        </div>
    </div>
    <div class="glueDialogContainer">
        <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visible}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="close()">
                        <i class="ico ico-closeIcon" ng-if="visibleAnimation"></i>
                    </button>
                </div>
            </div>
            <div class="row no-margin padding-bottom-small dialogPadding scroll">
                <div class="col-xs-12 no-padding padding-bottom-small">
                    <h4 class="Display3 text-black modal-font text-bold text-center">{{safeTitle}}</h4>
                </div>
                <div class="col-xs-12 no-padding" ng-repeat="list in safeArray">
                    <p class="body-copy-description-bold padding-top-large text-black text-center">{{list.contentTitle}}</p>
                    <p class="body-copy-description-regular text-black text-center">{{list.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="glueOverlay" ng-click="close()" ng-class="{'glueOverlayIn':visible,'glueOverlayOut':!visible}"></div>

</div>
<!--device nonnyc: End -->