<!--device non nyc: starts -->
<div class="row p-t-32-xs">
    <div class="col-xs-12 col-sm-3 p-t-56-sm col-sm-offset-1 text-center hidden-xs">
        <img ng-src="{{phonecondtion_fullImage}}" class="mobileImage justify-content-center pull-left-xs  margin-left-25">
    </div>
    <div class="col-xs-12 col-sm-7 p-t-64-sm padding-horizontal-24-xs p-r-0">
        <div class="row no-margin pdp-content-non-nyc-migration">
            <div class="col-xs-12 p-l-0 p-r-0-xs">
                <p class="Display2 text-black title-text letter-spacing-03">
                    Your new phone requires a different level of protection.
                    <br>Let’s keep it protected.
                </p>
                <p class="legal gray text-bold p-t-24-xs p-t-32 p-b-4 gray">PREVIOUS</p>
                <p class="body-copy-description-regular gray p-b-16 ">
                    <span class="body-copy-description-bold p-r-8 gray">Protection 360 </span>$12.00/mo.</p>
                <hr class="m-t-0 m-b-0 border-f2">
                <p class="legal text-bold p-t-24 p-b-4 gray">NEW</p>
                <p class="Display5 p-b-4 ">Protection 360</p>
                <p class="body-copy-description-regular text-black">$14.00/mo</p>
                <ul class="p-t-8 p-t-4-xs">
                    <li class="body-copy-description-regular text-black">
                        Replace phone when lost or stolen</li>
                    <li class="body-copy-description-regular text-black">
                        Extended warranty
                    </li>
                    <li class="body-copy-description-regular text-black">
                        Free upgrade after 50% balance paid
                    </li>
                    <li class="body-copy-description-regular text-black">
                        Apple Care, ID protection, McAfee Security and Premium tech support
                        <a ng-click="manymoreModal()" class="and-many-more">and many more </a>
                    </li>
                </ul>

            </div>
        </div>


        <div class="col-xs-12 no-padding">
            <div class="p-t-40 p-b-32 col-xs-12 no-padding forButton">
                <a href="" class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary custom-text-size text-ellipse btn-width"
                    ripple value="true">Continue
                </a>

            </div>

        </div>

        <div class="col-xs-12 no-padding">
            <p class="legal p-b-24-xs p-b-82-sm col-xs-12 gray no-padding">By declining the device protection, your phone will no longer be covered by any insurance. If you change your
                mind, you will have 14 days to repurchase the insurance. For complete details, including benefits, exclusions,
                limitations, and costs, please visit
                <a href="" class="gray cursor text-decoration-underline">mytmoclaim.com/terms</a>
            </p>
        </div>
    </div>
    <div class="glueDialogContainer">
        <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visible}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="close()">
                        <i class="ico ico-closeIcon" ng-if="visibleAnimation"></i>
                    </button>
                </div>
            </div>
            <div class="row no-margin padding-bottom-small dialogPadding scroll">
                <div class="col-xs-12 no-padding padding-bottom-small">
                    <h4 class="text-black modal-font text-bold text-center">{{safeTitle}}</h4>
                </div>
                <div class="col-xs-12 no-padding" ng-repeat="list in safeArray">
                    <p class="body-copy-description-regular padding-top-large text-black text-center">{{list.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="glueOverlay" ng-click="close()" ng-class="{'glueOverlayIn':visible,'glueOverlayOut':!visible}"></div>

</div>
<!--device nonnyc: End -->