<!DOCTYPE html>
<div class="row fade-in-effect">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 full-bleed-divider padding-horizontal-24-xs" ng-repeat="item in title" ng-hide="!lineSelectorDetails"
        id="lineSelector-title">
        <p class="Display2 p-t-48-sm p-t-32-xs p-b-24-xs p-b-40-sm Display2-mob">{{item.title}}</p>
    </div>
    <div class="col-xs-12 no-padding">
        <div class="col-xs-12 cursor no-padding-xs " ng-repeat="detail in details" id="{{ 'object-' + $index }}" ng-click="animate($index)"
            ng-class=" {'p-l-16-sm': $index%2 == 1 && (!isDesktop || lineSelectorDetails), 'col-sm-6' : !isDesktop || lineSelectorDetails, 'p-b-24-sm' : isDesktop, 'col-sm-3 col-sm-offset-1 no-padding' : isDesktop && !lineSelectorDetails}">
            <div class="col-xs-12 divShadow padding-horizontal-24-xs  no-padding" ng-class="{'col-sm-10 col-sm-offset-2 ' : $index%2 != 1 && (!isDesktop || lineSelectorDetails),'box-shadow-none': isDesktop && !lineSelectorDetails ,'h-fixed': isDesktop && lineSelectorDetails,'divShadow':isDesktop && lineSelectorDetails,  'col-sm-10' : $index%2 == 1 && (isDesktop || !lineSelectorDetails), 'full-bleed-divider': lineSelectorDetails}"
                ripple value="{{hidden}}">
                <div class="imageAlign pull-right-xs no-padding" ng-class="{'col-xs-12 text-center p-t-48': isDesktop && !lineSelectorDetails, 'col-xs-4  pull-right  p-t-24' : !isDesktop || lineSelectorDetails,' img_pos': !isDesktop || lineSelectorDetails }"
                    style="-ms-flex-negative: 0;">
                    <img ng-src="{{detail.image}}" class="imgsize-xs" ng-if="!isDesktop || lineSelectorDetails">
                    <img ng-src="{{detail.fullImage}}" class="imgsize" ng-if="isDesktop && !lineSelectorDetails">
                </div>
                <div class="no-padding" ng-class="{'col-xs-12 text-center': isDesktop && !lineSelectorDetails, 'col-xs-8 pull-left fade-in-effect': !isDesktop || lineSelectorDetails, 'p-l-24': isDesktop && lineSelectorDetails }">
                    <p class="p-t-32 p-b-4" ng-class="{'Display5 p-t-32': !isDesktop || lineSelectorDetails , 'body-copy-description letter-0 p-t-8 text-black':  isDesktop && !lineSelectorDetails}"
                        ng-if="detail.name">
                        <span ng-class="{'bold':isDesktop && !lineSelectorDetails}">{{detail.name}},</span>
                        <span ng-if="isDesktop && !lineSelectorDetails">
                            {{detail.number}} </span>
                    </p>
                    <p class="body-copy-description letter-0 p-b-8" ng-if="!isDesktop || lineSelectorDetails" ng-class="{ 'title bold padding-top-xl' : detail.name == ''} ">{{detail.number}}</p>
                    <p class="legal p-b-24 letter-05">
                        <span>{{detail.manufacture}}</span>
                        <span>{{detail.phoneModel}}</span>
                        <span>{{detail.capacity}}</span>
                        <span>{{detail.color}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 bgcolor-f2f2 p-l-16-sm p-r-0-sm no-padding" ng-hide="lineSelectorDetails" id="lineSelectorDetails-text">
            <div class="col-xs-12 no-padding trade-content">
                <div class="col-xs-12 col-md-12 no-padding p-t-64-sm p-t-32-xs padding-horizontal-24-xs">
                    <h4 class="Display2 Display2-mob">Want to trade in this phone? You’ll get $250.00</h4>
                </div>
                <div class="col-xs-12 col-md-12 no-padding p-t-16-xs p-t-24-sm padding-horizontal-24-xs p-t-25-md p-t-25-lg">
                    <p class="body-copy-description letter-0 text-black max-width-content">It’s easy! Just ship it to us once you get your new phone and we’ll give you a bill credit. Shipping’s
                        on us.
                        <a href="" class="learn-how-trade-in-works black" ng-click="tradeModal()">Learn how trade-in works</a>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-12  p-t-36-xs p-t-40-sm d-sm-flex flex-flow-sm no-padding">
                    <div class="col-xs-12 glueButton pull-right p-r-0-sm p-r-0-lg p-l-0-sm p-l-0-lg padding-horizontal-24-xs">
                        <button class="btn btn-primary PrimaryCTA h-48 button-title lineHeight-20 glueButton  pull-left glueButtonPrimary  custom-text-size m-l-32-sm"
                            ripple value="true" onclick="javascript:window.location.href='phone-condition.html'">Yes, let’s get started
                        </button>
                    </div>
                    <div class="col-xs-12 glueButton p-t-16-xs pull-left d-sm-flex justify-contents-start-sm p-l-0-sm p-l-0-lg p-r-0-sm p-r-0-md p-r-0-lg padding-horizontal-24-xs">
                        <button class="btn btn-secondary SecondaryCTA h-48 button-title lineHeight-20 glueButton  pull-right glueButtonSecondary  custom-text-size custom-background"
                            ripple value="true">Skip trade in</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 p-b-24-xs p-t-16 p-l-0-sm p-l-0-lg text-center-xs">
                    <p class="h6-title text-magenta-imp cursor">Want to trade in a different phone?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="glueDialogContainer">
        <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visible}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="close()">
                        <i class="ico ico-closeIcon" ng-if="visibleAnimation"></i>
                    </button>
                </div>
            </div>
            <div class="row no-margin padding-bottom-small dialogPadding scroll">
                <div class="col-xs-12 no-padding padding-bottom-small">
                    <h4 class="text-black modal-font text-bold text-center">{{tradeTitle}}</h4>
                </div>
                <div class="col-xs-12 no-padding" ng-repeat="list in tradeArray">
                    <p class="body-copy-description-regular padding-top-large text-black text-center">{{list.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="glueOverlay" ng-click="close()" ng-class="{'glueOverlayIn':visible,'glueOverlayOut':!visible}"></div>
</div>
<div class="col-xs-12 col-md-offset-1 col-sm-offset-1 col-sm-10 no-padding m-t-25-xs m-b-10-xs p-l-9-xs" ng-if="lineSelectorDetails">
        <a href="" class="text-magenta-imp bold">
            <img src="./img/add-icon.png" alt="add-icon" class="add-icon margin-top-addline">
            <span class="add-new-line">Add a new line</span>
        </a>
    </div>