        <div class="row no-margin" >
            <div class="col-xs-12 px-18-sm px-26-md px-35-lg p-t-16 p-t-16-xs text-center-xs" >
                <img src="img/svg/slightly-smiling-face.svg" class="slightly-smiling-face_imgsize p-t-17" ng-if="!almostDone" alt="smiley" tabindex="1" aria-label="smiley image">
							<img src="img/svg/envelope.svg" ng-if="almostDone" alt="message" tabindex="1" aria-label="message image">
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-xs-12 px-18-sm px-26-md px-35-lg text-center-xs p-t-49 p-t-51-xs" ng-if="!almostDone" ng-class="leftTemp ? 'col-sm-11': 'col-sm-12'">
                <p class="h2-heading h2-heading color-white mb-0" tabindex="0" aria-label="Thanks for your interest —">Thanks for your interest —</p>
                <p class="h2-heading h2-heading color-white " tabindex="0" aria-label="we’ll be shipping your order soon.">we’ll be shipping your order soon.</p>
            </div>
            <div class="col-xs-12 px-18-sm p-t-32 px-26-md px-35-lg text-center-xs p-b-20-xs" ng-if="almostDone" ng-class="leftTemp ? 'col-sm-11': 'col-sm-12'">
                <p class="h2-heading color-white mb-0 p-b-14-sm p-t-2-xs p-b-16-xs" tabindex="0" ng-if="!resentDone" aria-label="Verification link sent!">Verification link sent!</p>
                <p ng-if="resentDone" class="mb-0 p-b-14-sm  p-t-2-xs p-b-16-xs h2-heading color-white" tabindex="0" aria-label="Verification link has been resent!">Verification link has been resent!</p>
                <p class="color-white body-form mb-0 p-b-24" tabindex="0" aria-label="Click on the link we sent to bob@gmail.com to validate your request">Click on the link we sent to <a class="link color-magenta" ng-click="doneFunction()" role="link"  href="" >bob@gmail.com</a>
                    to validate your request.</p>
                <p class="body-form-label mb-0" tabindex="0" aria-label="Didn’t get a verification email?" >Didn’t get a verification email?</p>
                <p class="body-form-label mb-0" tabindex="0" aria-label="Check your spam folder or ">Check your spam folder or <a class="link color-magenta" ng-click="resentDone=true" role="link" href="" tabindex="0" aria-label="resend email">resend email</a>.</p>
            </div>
        </div> 
