<div class="row no-margin">
    <div class="col-xs-12 no-padding color-white p-t-16 px-18-sm px-26-md px-35-lg flex-direction" ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        <div class="body-font color-white" tabindex="1" role="content" aria-label="Who’s your current wireless provider?">
            Who’s your current wireless provider?
        </div>
        <div class="p-t-13-sm p-t-14-xs">
            <div class="dropdownWA bg-white dropdown height-auto border-bottom" id="test" tabindex="1" aria-label="Select the provider from list by hitting the enter key and then use up and down keys to navigate" dropdown dropdownid="test">
                <div id="model" class="dropdown-toggle">
                    <span class="body-form vertical-align-middle color-5a5a5a" ng-model="wpSelectedVal" [attr.aria-label]='wpSelectedVal'>{{wpSelectedVal}}</span>
                    <i class="fa fa-angle-down pull-right arrow_size color-magenta"></i>
                </div>
                <ul class="dropdown-menu" role="list" aria-labelledby="model">
                     <li role="listitem" class="dropdown-option body-form gray mx-1">
                        <a> List </a>
                    </li>
                    <li class="inset-divider-1px mx-1"></li>
                    <li class="dropdown-option  body-form gray mx-1 mt-1" ng-repeat="wp in wirelessProviderList" ng-class="{'active':wp.wirelessProvider === wpSelectedVal}">
                        <a  ng-click="selectedWP(wp.wirelessProvider)" [attr.aria-label]='wp.wirelessProvider'> {{wp.wirelessProvider}} </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 no-padding color-white p-t-32 px-18-sm px-26-md px-35-lg flex-direction"  ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        <div class="body-font color-white" tabindex="1" aria-label="How would you rate your experience?">
            How would you rate your experience?
        </div>
        <div class="p-t-13-sm p-t-14-xs" >
            <div star-rating rating-value="ratings.current" max="ratings.max" on-rating-selected="getSelectedRating(ratings)" aria-label="click on button to select rating"></div>
        </div>
    </div>
    <div class="col-xs-12 no-padding color-white p-t-32 px-18-sm px-26-md px-35-lg flex-direction" ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        <div class="body-font color-white"  aria-label=" Are you interested in T-Mobile for Business?" tabindex="1" id="tMobileBusiness" >
            Are you interested in T-Mobile for Business?
        </div>
    </div>
</div>
<div class="row no-margin">
    <div class="col-xs-12 no-padding p-t-13-sm p-t-14-xs px-18-sm px-26-md px-35-lg " ng-class="leftTemp ? 'col-sm-10' : 'col-sm-11'">
        <div class="col-xs-6 col-sm-3 body-font color-white no-padding" >
                <button class="btn btn-primary" ng-class="isSelectedForm1 ? 'button-font-disable':'button-font'"  ripple value="true" ng-click="onSelectForm1('yes')" tabindex="0">
                <span > Yes </span>
            </button>
        </div>
        <div class="col-xs-6 col-sm-3 body-font color-white no-padding">
                <button class="btn btn-primary" ng-class="isSelectedForm1 ? 'button-font':'button-font-disable'" ripple value="true" ng-click="onSelectForm1('no')" tabindex="0">
                <span> No </span>
            </button>
        </div>
    </div>
</div>
<div class="row no-margin" ng-if="showForm1Box">
    <div class="col-xs-12 no-padding color-white p-t-16 px-18-sm px-26-md px-35-lg" ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        <input type="text" placeholder="Enter the IMEI number from the device" ng-model="imeino" class="input body-form border-bottom"  maxlengthmaxlength="15" tabindex="1" aria-label="Enter the IMEI number from the device">
        <i class="fa fa-info-circle"></i>
    </div>
</div>

 <div class="row no-margin">
                    <div class="col-xs-12 no-padding body-font-tnc color-white px-18-sm px-26-md px-35-lg text-center-xs" tabindex="0"
                        ng-class="{'col-sm-11': leftTemp, 'col-sm-12 ': !leftTemp, 'p-t-32': (isSelected && index===2) || (isSelectedForm1 && index===1) || (index===3) , 'p-t-24': (!isSelected && index===2) || (!isSelectedForm1 && index===1)}" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae.">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae.
                         <a class="link" role="link" href="" tabindex="0">Terms & Conditions</a>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-8 no-padding p-t-32 px-18-sm px-26-md px-35-lg d-flex-xs justify-content-center-xs">
                        <div class="col-xs-4 col-sm-6 body-font color-white no-padding"  tabindex="0" [attr.aria-label]="wpSelectedVal == 'Select from the list' ? disabled continue button : enabled continue button">
                            <button class="btn btn-primary primary-cta glueButtonPrimary" ripple value="true" ng-click="next()" tabindex="0" ng-disabled="wpSelectedVal == 'Select from the list'">
                             Continue    
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                <div class="col-xs-12 no-padding body-font-tnc color-white p-t-32 p-b-20-xs px-18-sm px-26-md px-35-lg  text-center-xs p-b-40" tabindex="0" ng-class="leftTemp ? 'col-sm-11': 'col-sm-12'" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae.">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae. <a class="link" role="link" href="" tabindex="0"> Terms & Conditions</a>
                    </div>
                </div>