<div class="row no-margin">
    <div class="col-xs-12 no-padding  color-white p-t-16 px-18-sm px-26-md px-35-lg flex-direction"
        ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        <div class="position-relative" ng-class="{'error-border':lazershark.firstName.$invalid && !lazershark.firstName.$pristine}">
            <input type="text" placeholder="First Name" ng-model="firstName" class="input body-form" name="firstName" required  tabindex="1" aria-label="Enter your firstName">
            <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.firstName.$invalid && !lazershark.firstName.$pristine}">
            <p class="tool-tip" tabindex="1" role="note" aria-label="Please enter correct first name">Please enter correct first name</p>
            <span class="exclamation-error exclamation-align" tabindex="1" aria-label="error icon"></span>
        </div>
        </div>
        <div class="position-relative" ng-class="{'error-border':lazershark.lastName.$invalid && !lazershark.lastName.$pristine }">
            <input type="text" placeholder="Last Name" ng-model="lastName" name="lastName" class="input body-form" required tabindex="1" aria-label="Enter your  lastName">
            <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.lastName.$invalid && !lazershark.lastName.$pristine}">
            <p class="tool-tip" tabindex="1" aria-label="Please enter correct name" >Please enter correct name</p>
            <span class="exclamation-error exclamation-align display-inline-block" tabindex="1" aria-label="error icon"></span>
            </div>
        </div>
        <div class="position-relative" ng-class="{'error-border':lazershark.Email.$invalid && !lazershark.Email.$pristine }" >
            <input type="email" placeholder="Email" ng-model="Email"  name="Email" class="input body-form" required tabindex="1" aria-label="Enter your Email">
            <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.Email.$invalid && !lazershark.Email.$pristine }">
            <p class="tool-tip" tabindex="1"  aria-label="Please enter correct email"> Please enter correct email</p>
            <span class="exclamation-error exclamation-align display-inline-block" tabindex="1" aria-label="error icon"></span>
            </div>
        </div>
        <div class="position-relative" ng-class="{'error-border':lazershark.confirmEmail.$invalid && !lazershark.confirmEmail.$pristine && lazershark.confirmEmail.$error.mismatch }">
            <input type="email" placeholder="Confirm Email" ng-model="confirmEmail"  name="confirmEmail" class="input body-form" match="Email" tabindex="1" aria-label="Enter your email again to confirm">
             <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.confirmEmail.$invalid && !lazershark.confirmEmail.$pristine && lazershark.confirmEmail.$error.mismatch }">
            <p class="tool-tip" tabindex="1" aria-label="Please confirm your email">Please confirm your email</p>
            <span class="exclamation-error exclamation-align display-inline-block" tabindex="1" aria-label="error icon"></span>
            </div>
                    </div>
        <div class="position-relative" ng-class="{'error-border':lazershark.tel.$invalid && !lazershark.tel.$pristine }">
            <input type="tel" name="tel" placeholder="Phone Number" ng-model="phoneNumber" pattern="\d{3}[\-]\d{3}[\-]\d{4}" class="input body-form border-bottom" required tabindex="1" aria-label="enter your phone number">
            <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.tel.$invalid && !lazershark.tel.$pristine }">
            <p class="tool-tip" tabindex="1" aria-label="Please enter correct phone number in 123-456-7890 format">Please enter correct phone number in 123-456-7890 format</p>
            <span class="exclamation-error exclamation-align display-inline-block" tabindex="1" aria-label="error icon"></span>
            </div>
        </div>
    </div>
</div>
<div class="row no-margin">
    <div class="col-xs-12 no-padding body-font color-white p-t-24 px-18-sm px-26-md px-35-lg" tabindex="1" aria-label="Already have a device? We’ll send you a T-Mobile SIM card." ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        Already have a device? We’ll send you a T-Mobile SIM card.
    </div>
</div>
<div class="row no-margin">
    <div class="col-xs-12 no-padding p-t-13-sm p-t-14-xs px-18-sm px-26-md px-35-lg" ng-class="leftTemp ? 'col-sm-10' : 'col-sm-11'">
        <div class="col-xs-6 col-sm-3 body-font color-white no-padding">
            <button class="btn btn-primary" tabindex="1" ng-class="isSelected ? 'button-font-disable':'button-font'" ripple value="true"
                ng-click="onSelect('yes')">
                <span> Yes </span>
            </button>
        </div>
        <div class="col-xs-6 col-sm-3 body-font color-white no-padding">
            <button class="btn btn-primary" tabindex="1" ng-class="isSelected ? 'button-font':'button-font-disable'" ripple value="true"
                ng-click="onSelect('no')">
                <span> No </span>
            </button>
        </div>
    </div>
</div>
<div class="row no-margin" ng-if="showBox">
    <div class="col-xs-12 no-padding  color-white p-t-16-sm p-t-8-xs px-18-sm px-26-md px-35-lg"
        ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        <input type="text" placeholder="Enter the IMEI number from the device" tabindex="1" aria-label="Enter the IMEI number from the device" ng-model="imei" class="input body-form border-bottom" maxlength="15">
        <i class="fa fa-info-circle"></i>
    </div>
</div>

 <div class="row no-margin">
                    <div class="col-xs-12 no-padding body-font-tnc color-white px-18-sm px-26-md px-35-lg text-center-xs"
                       tabindex="1" aria-label=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae." ng-class="{'col-sm-11': leftTemp, 'col-sm-12': !leftTemp, 'p-t-32': (isSelected && index===2) || (isSelectedForm1 && index===1) || (index===3) , 'p-t-24': (!isSelected && index===2) || (!isSelectedForm1 && index===1)}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae. <a
                            class="link" role="link" href="" tabindex="1">
                            Terms & Conditions</a>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-10 no-padding p-t-32 px-18-sm px-26-md px-35-lg ">
                        <div class="col-xs-6 body-font color-white no-padding p-l-9-xs p-r-4-xs"  ng-class="leftTemp ? 'pull-right-sm p-l-4-sm' : 'p-r-4-sm'">
                            <button class="btn btn-primary primary-cta glueButtonPrimary" ripple value="true" ng-click="next()" ng-disabled="lazershark.$invalid" tabindex="1">
                                <span> Continue </span>
                            </button>
                        </div>
                        <div class="col-xs-6 body-font color-white no-padding p-l-10 p-l-4-xs p-r-9-xs" ng-class="{'pull-left-sm p-r-4-sm' : leftTemp, 'p-l-4-sm' : !leftTemp, 'pull-right-xs' : showImage}">
                            <button class="btn btn-primary secondary-cta" ripple value="true" ng-click="back()" tabindex="1">
                                <span> Back </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 no-padding body-font-tnc color-white p-t-32 p-b-20-xs px-18-sm px-26-md px-35-lg text-center-xs p-b-40"
                        ng-class="leftTemp ? 'col-sm-11': 'col-sm-12'" tabindex="1" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae.">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae. 
                        <a class="link" role="link" href="" tabindex="1">
                            Terms & Conditions</a>
                    </div>
                </div>