<div class="row no-margin">
    <div class="col-xs-12 no-padding color-white p-t-16 px-18-sm px-26-md px-35-lg flex-direction"
        ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'">
        <div class="position-relative" ng-class="{'error-border':lazershark.address1.$invalid && !lazershark.address1.$pristine}">
            <input type="text" placeholder="Address 1" ng-model="address1" class="input body-form" name="address1" required tabindex="1" aria-label="enter your address1">
            <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.address1.$invalid && !lazershark.address1.$pristine}">
                <p class="tool-tip" tabindex="1" aria-label="Please enter Address">Please enter Address</p>
                <span class="exclamation-error exclamation-align display-inline-block"></span>
            </div>
        </div>
        <input type="text" placeholder="Address 2" tabindex="1" ng-model="address2" class="input body-form" aria-label="enter your address2">
        <div class="position-relative" ng-class="{'error-border':lazershark.city.$invalid && !lazershark.city.$pristine}">
            <input type="text" placeholder="City" ng-model="city" class="input body-form" name="city" required tabindex="1" aria-label="enter your city">
            <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.city.$invalid && !lazershark.city.$pristine}">
                <p class="tool-tip" tabindex="1" aria-label="Please enter City">Please enter City</p>
                <span class="exclamation-error exclamation-align display-inline-block"></span>
            </div>
        </div>
        <!-- <input type="text" placeholder="WA" ng-model="state" class="input body-form"> -->
        <div class="dropdownWA bg-white dropdown" id="wa" tabindex="1" dropdown aria-label="select the state from list by hitting the enter key and then use up and down keys to navigate">
            <div id="model" class="dropdown-toggle">
                <span href="" class="body-form vertical-align-middle color-5a5a5a" ng-model="selectedValWA">{{selectedValWA}}</span>
                <i class="fa fa-angle-down pull-right color-magenta arrow_size"></i>
            </div>
            <ul class="dropdown-menu" role="list" aria-labelledby="model">
                <!-- <li role="listitem" class="dropdown-option body-form gray mx-1">
                    <a> List </a>
                </li>
                <li class="inset-divider-1px mx-1"></li> -->
                <li  class="dropdown-option body-form gray mx-1 mt-1" ng-repeat="state in listValues" ng-class="{'active':state.state === selectedValWA}">
                    <a ng-click="selectWA(state.state)" aria-label="{{state.state}}"> {{state.state}} </a>
                </li>
            </ul>

        </div>
        <div class="position-relative" ng-class="{'error-border':lazershark.zip.$invalid && !lazershark.zip.$pristine}">
            <input type="tel" name="tel" placeholder="Zip" ng-model="zip" pattern="[0-9]*" maxlength="5" name="zip" class="input body-form border-bottom"
                required tabindex="1" aria-label="enter zip">
            <div class="visible-none" ng-class="{'tool-tip-visible':lazershark.zip.$invalid && !lazershark.zip.$pristine}">
                <p class="tool-tip" tabindex="1" aria-label="Please enter Zip">Please enter Zip</p>
                <span class="exclamation-error exclamation-align display-inline-block"></span>
            </div>
        </div>
    </div>
</div>

 <div class="row no-margin">
                    <div class="col-xs-12 no-padding body-font-tnc color-white px-18-sm px-26-md px-35-lg text-center-xs" tabindex="1" aria-label=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae."
                        ng-class="{'col-sm-11': leftTemp, 'col-sm-12': !leftTemp, 'p-t-32': (isSelected && index===2) || (isSelectedForm1 && index===1) || (index===3) , 'p-t-24': (!isSelected && index===2) || (!isSelectedForm1 && index===1)}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae. <a
                            class="link" role="link" href="" tabindex="1">
                            Terms & Conditions</a>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-8 no-padding p-t-32 px-18-sm px-26-md px-35-lg d-flex-xs justify-content-center-xs"
                       >
                        <div class="col-xs-4 col-sm-6 body-font color-white no-padding">
                            <button class="btn btn-primary primary-cta glueButtonPrimary" ripple value="true" ng-click="next()" tabindex="1" ng-disabled="lazershark.$invalid && selectedValWA=='Select from the list'">
                                <span> Submit </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 no-padding body-font-tnc color-white p-t-32 p-b-20-xs px-18-sm px-26-md px-35-lg  text-center-xs p-b-40"
                        ng-class="leftTemp ? 'col-sm-11' : 'col-sm-12'" tabindex="1" aria-label=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae.">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vitae lorem vitae.
                         <a class="link" role="link" href="" tabindex="1">Terms & Conditions</a>
                    </div>
                </div>