.footer1 {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -3px 14px 0 rgba(0, 0, 0, 0.28);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer1 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.content1 {
  position: relative;
}
.display-flex {
  display: flex;
}
.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}
@media only screen and (min-width: 320px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .imgsize-xs {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .imgsize-xs {
    width: 130px;
    height: 130px;
  }
}
.h4-title {
  font-weight: normal;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .h4-title {
    font-size: 12px !important;
    line-height: 14px !important;
  }
}
.disc {
  font-family: Arial;
  font-size: 12px;
  text-align: left;
}
.color-333333 {
  color: #333333;
}
.color-262626 {
  color: #262626;
}
.border-efefef {
  border: 1px solid #efefef;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .border-efefef {
    border: none;
    border-bottom: 1px solid #efefef;
  }
}
.arrow-right {
  color: #444444;
}
.color-444444 {
  color: #444444;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .no-padding-sm-md-lg {
    padding-left: 0px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .no-padding-xs {
    padding: 0px;
  }
}
.md-button.md-icon-button {
  color: #000;
}
.md-button.md-icon-button.leftbutton {
  margin-left: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .md-button.md-icon-button.leftbutton {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: auto;
  }
}
.md-button.md-icon-button.rightbutton {
  margin-right: 0px;
  padding-right: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .md-button.md-icon-button.rightbutton {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: auto;
  }
}
.md-button.md-icon-button:disabled {
  color: rgba(0, 0, 0, 0.38);
}
.footerBtn {
  font-size: 20px !important;
  font-family: Tele-Fet;
  font-weight: normal;
  color: #fff !important;
  border-radius: 3rem !important;
  height: 56px;
  border: none;
  background-color: #E20074 !important;
  padding: 8px 24px 8px 24px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .footerBtn {
    width: 100%;
  }
}
.font-16 {
  font-size: 16px;
  font-family: Arial;
}
@media only screen and (min-width: 1200px) {
  .width-footer {
    margin: auto;
    width: 1170px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .width-footer {
    margin: auto;
    width: 970px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .width-footer {
    margin: auto;
    width: 750px;
  }
}
.color-cccccc {
  color: #cccccc;
}
.underline {
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
.md-button {
  text-transform: none;
}
a.footerlink {
  color: #262626;
}
a.footerlink:hover {
  color: #e20074;
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
a.footerlink:active {
  color: #e20074;
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
.payMonthlyInactive {
  color: #262626;
}
.payMonthlyActive {
  color: #e20074;
  padding-bottom: 2px;
  border-bottom: 1px solid #e20074;
}
md-checkbox.md-checked .md-ink-ripple {
  color: #e20074;
}
.md-button:not([disabled]):hover {
  background-color: #e20074;
}
.color-222222 {
  color: #222222;
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .leftpadding {
    padding-left: 0px;
  }
}
.header-title-style {
  font-family: Tele-Ult;
  font-size: 32px;
  line-height: 0.75;
  text-align: center;
  color: #000000;
  font-weight: normal;
}
.bg-f4 {
  background-color: #f4f4f4 !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .tr-ht-sp {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
    line-height: 14px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tr-ht-sp {
    font-family: Arial;
    font-size: 18px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
    line-height: 18px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .lh-14 {
    line-height: 14px !important;
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .lh-14 {
    line-height: 16px !important;
    font-size: 14px;
  }
}
.flex-d {
  flex-direction: initial;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_CTA {
    font-family: Tele-Fet;
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer_CTA {
    font-family: Tele-Fet;
    font-size: 12px;
    text-align: left;
    line-height: 14px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .skip_style {
    font-size: 14px;
    line-height: 16px;
    font-family: Arial;
    letter-spacing: 0px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .skip_style {
    font-size: 12px;
    line-height: 14px;
    font-family: Arial;
    letter-spacing: 0px;
    font-weight: normal;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tag_10 {
    line-height: 20px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .tag_10 {
    line-height: 16px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cost-month {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .cost-month {
    font-family: Arial;
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .due-month {
    line-height: 12px;
    font-family: Arial;
    font-size: 11px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .due-month {
    line-height: 16px;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.1px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .price-month {
    line-height: 12px;
    font-family: Arial;
    font-size: 11px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .price-month {
    line-height: 12px;
    font-family: Arial;
    font-size: 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px), only screen and (min-width: 768px) and (max-width: 991px) {
  .scrollacc {
    overflow-y: scroll;
    max-height: 80vh;
  }
  .scrollacc1 {
    overflow-y: scroll;
  }
}
.color-a5a5a5 {
  color: #a5a5a5;
}
.Backordered {
  font-family: Arial;
  font-size: 14px;
  text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .Backordered {
    font-size: 11px;
  }
}
.circle-promo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e20074;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .circle-promo {
    width: 40px;
    height: 40px;
  }
}
.circle-promo span {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.onsale {
  font-size: 12px;
  color: #ffffff;
  line-height: 12px;
}
@media only screen and (min-width: 320px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .onsale {
    font-size: 11px;
    line-height: 11px;
  }
}
.onsalewrap {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .onsalewrap {
    top: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .pd-sc-monthly {
    padding-top: 165px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pd-sc-monthly {
    padding-top: 150px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pd-sc-noEip {
    padding-top: 90px;
  }
  .pd-sc-69 {
    padding-top: 90px;
  }
  .p-b-14-xs {
    padding-bottom: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pd-top-45-sm-md {
    padding-top: 38px;
  }
  .pd-top-45-sm-md-dc {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .cond-for-even-acc {
    width: 50px;
  }
  .cond-for-even-acc-wd {
    width: 50px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 420px) {
  .btn-stick-footer {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 767px) {
  .pd-rt-ns-35 {
    padding-right: 35px;
  }
}
.PrimaryCTA-Normal-shipping {
  font-size: 14px !important;
  font-family: Tele-Fet;
  font-weight: normal;
  color: #ffffff !important;
  height: 48px !important;
  width: 100% !important;
  border: 1px solid #e20074;
  background-color: #e20074;
  border-radius: 100px;
  padding: 8px 24px 8px 24px;
}
.tx-trans {
  text-transform: none;
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .pd-lt-14-i5 {
    padding-left: 12px;
  }
}
.m-t-3 {
  margin-top: 3px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .m-t-27 {
    margin-top: 27px;
  }
  .lh-21 {
    line-height: 21px;
  }
  .p-t-6 {
    padding-top: 6px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .mx-ht {
    max-height: 242px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mx-ht {
    max-height: 250px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .min-ht {
    min-height: 141px;
  }
}
.h-box:hover {
  box-shadow: 0 5px 25px 0 rgba(33, 33, 33, 0.2);
}
@media only screen and (min-width: 320px) and (max-width: 348px) {
  .pd-lt-15-i5 {
    padding-left: 15px;
  }
  .pd-tp-55-i5 {
    padding-top: 55px;
  }
}
