md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  bottom: 96%;
}
md-input-container {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
md-input-container .md-input {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.4px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}
md-tab-content,
md-tabs-content-wrapper {
  /*min-height: 675px !important;*/
  background: white;
}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 1100px;
}
md-input-container .md-input-message-animation:not(.ng-animate) {
  opacity: 1 !important;
  margin: 0px !important;
}
md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
  background-color: #e20074 !important;
}
.color-6a6a6a {
  color: #6a6a6a !important;
}
md-select {
  margin: 0px;
}
md-input-container .md-input {
  border-width: 0 0 2px;
  border-color: #cccccc;
}
.border-bottom1 {
  border-bottom: 2px solid #cccccc;
}
.md-select-value .md-select-icon {
  float: right;
}
.width-full {
  width: 100%;
}
.layout-row {
  border-bottom: 2px solid #cccccc;
}
.layout-row:hover,
.layout-row:focus {
  border-color: #e20074;
}
.md-select-value > span:not(.md-select-icon) .md-text {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000000;
}
.font-normal {
  font-weight: normal;
  color: #000000;
}
.border-e8e8e8 {
  border-bottom: 1px solid #e8e8e8;
}
.text-transform-none {
  text-transform: none;
}
.color-acacac {
  color: #acacac;
}
.tabBtn {
  width: 98%;
  height: 48px;
  border-radius: 100px;
  background-color: #e20074;
}
.tabBtnFont {
  font-family: Tele-Fet;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
md-input-container .md-input:hover {
  border-color: #e20074;
}
@media only screen and (min-width: 768px) {
  .p-l-50-sm {
    padding-left: 50px;
  }
  .pull-right-sm {
    float: right;
  }
  .padding-top-xl-sm {
    padding-top: 25px;
  }
  .p-r-15-sm {
    padding-right: 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .h2-title {
    font-size: 24px !important;
  }
}
.display-flex {
  display: flex;
}
.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}
md-tabs .md-tab.md-active {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
md-pagination-wrapper {
  width: 100% !important;
}
.md-tab {
  text-transform: none !important;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
}
md-tabs .md-tab.md-active {
  text-align: center;
  background-color: rgba(226, 0, 116, 0.07);
}
md-tab-item {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
  background: none;
}
.md-accordion .expandCollapse {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  display: block;
  margin-top: -2px;
  margin-left: -2px;
  overflow: hidden;
}
.md-accordion .expandCollapse:active {
  border: 0px;
}
.md-accordion .expandCollapse:before,
.md-accordion .expandCollapse:after {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  text-align: center;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.md-accordion .dataContent {
  background: #f2f2f2;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.md-accordion .activeContent {
  height: auto;
  display: block;
}
.md-accordion md-toolbar {
  cursor: pointer;
  border-bottom: 1px solid #3f6bb5;
  z-index: auto;
}
.md-accordion md-toolbar {
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  outline: none;
}
.md-accordion md-toolbar:focus {
  background-color: #f7deeb;
}
.color-green {
  color: green;
}
.p-l-42 {
  padding-left: 42px;
}
.PrimaryCTA-Normal-shipping {
  font-size: 14px !important;
  font-family: Tele-Fet;
  font-weight: normal;
  color: #ffffff !important;
  height: 48px !important;
  width: 100% !important;
  border: 1px solid #e20074;
  background-color: #e20074;
  border-radius: 100px;
  padding: 8px 24px 8px 24px;
}
.SecondaryCTA-Normal-shipping {
  font-size: 14px !important;
  font-family: Tele-Fet;
  font-weight: normal;
  color: #979797 !important;
  height: 49px !important;
  width: 100% !important;
  border: 1px solid #979797;
  background-color: white;
  border-radius: 100px;
  padding: 8px 20px 8px 20px;
}
md-radio-button .md-label {
  width: 91%;
}
.md-button:not([disabled]).SecondaryCTA-Normal-shipping:hover {
  background-color: white;
}
.md-button:not([disabled]).PrimaryCTA-Normal-shipping:hover {
  background-color: #e20074 !important;
}
.md-button.md-default-theme:not([disabled]).md-focused,
.md-button:not([disabled]).md-focused {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.md-button:not([disabled]).PrimaryCTA-Normal-shipping:focus {
  background-color: #e20074 !important;
}
.btn-shipping {
  width: 100% !important;
}
.hr-1 {
  width: 100% !important;
  height: 1px !important;
  border: 1px solid #e8e8e8 !important;
}
.font-italic {
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  color: #898989;
}
@media only screen and (min-width: 768px) {
  .box {
    box-sizing: border-box;
    border-radius: 1px;
  }
}
.container1 {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.margin-top-bottom-box-10 {
  margin-top: 0px;
  margin-bottom: 15px;
}
.margin-top-container {
  margin-top: 0px !important;
}
.container2 {
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.image-data-container {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .font-container2 {
    font-size: 14px !important;
    letter-spacing: 0px !important;
  }
}
.desc-cont-2 {
  letter-spacing: 0.1px;
  line-height: 20px !important;
}
.btn-black {
  border: 1px solid #000;
  background-color: #000;
  box-shadow: none;
  color: #fff;
  font-family: Tele-Fet, serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5rem;
  padding: 1rem;
  text-overflow: ellipsis;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.font {
  font-size: 18px;
}
.hr-1px {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}
.new-font {
  font-family: Arial;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0px;
  text-align: left;
  color: #7e7e7e;
}
.text-444444 {
  color: #444444 !important;
}
.text-888888 {
  color: #888888 !important;
}
.text-E20074 {
  color: #e20074;
}
.Rectangle-bt {
  border: 1px solid #222222;
  background-color: transparent;
  height: 36px;
  border-radius: 50px;
}
.Rectangle-bt2 {
  background-color: rgba(0, 0, 0, 0.1);
  height: 36px;
  opacity: 0.6;
  border-radius: 100px;
}
.md-button {
  text-transform: none !important;
}
.md-button:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.Rectangle-bt1 {
  border: 1px solid #e20074;
  background-color: transparent;
  height: 42px;
  width: 100%;
  border-radius: 50px;
}
.pa-styles {
  font-size: 18px;
  line-height: 20px;
  font-family: Arial;
  font-weight: bold;
}
.pa-bd-styles {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 0.5px;
  text-align: left;
  color: #9b9b9b;
  padding-left: 1px !important;
}
.pa-bill {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
}
.pa-right-tax {
  font-family: Arial;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
}
.pa-agreement {
  font-family: Arial;
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.5px;
  text-align: left;
  color: #acacac;
  font-weight: normal;
}
.fo-12 {
  font-size: 12px !important;
  line-height: 14px !important;
}
.fo-14 {
  font-size: 14px;
}
.tx-trans {
  text-transform: none;
  font-size: 20px;
}
.txt-444444 {
  color: #444444;
}
.shipping-Addr {
  font-size: 16px !important;
  line-height: 20px !important;
  font-family: Tele-Fet;
  letter-spacing: 0.5px;
  font-weight: bold;
}
md-radio-button .md-off {
  border: 1px solid #d6d6d6;
}
.fo-normal {
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  .field-wd {
    width: 75%;
  }
  .field-wd1 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .field-wd {
    width: 100%;
  }
  .field-wd1 {
    width: 100%;
  }
}
.addr-subtext {
  font-size: 12px;
  letter-spacing: 0.3px;
  font-family: Arial;
  color: #6a6a6a;
}
.text-ad {
  padding-top: 15px !important;
  padding-bottom: 20px !important;
}
.order-cancel-text {
  font-family: Arial;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0px;
  color: #9b9b9b;
}
.margin-top-bottom-box {
  margin-top: 15px;
  margin-bottom: 15px;
}
.hr-1px-mod {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0px;
  border-top: 1px solid #eee;
}
.hr-1px-bt-mod {
  margin-top: 10px;
  margin-bottom: 0px;
  border: 0px;
  border-top: 1px solid #eee;
}
.margin-top-bottom-mod {
  margin-top: 10px;
  margin-bottom: 10px;
}
.body-copy-description-mod {
  font-size: 12px !important;
  line-height: 20px !important;
  font-family: Arial;
  letter-spacing: 0px;
  font-weight: normal;
}
.hyperLink-magenta {
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #e20074;
}
.order-mobile-tax {
  font-family: Arial;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0px;
  text-align: left;
  color: #9b9b9b;
}
.m-b-15-mod {
  margin-bottom: 15px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
md-input-container:not(md-input-invalid).md-input-focused .md-input {
  border-color: #e20074 !important;
}
.md-button.md-default-theme:not([disabled]):hover,
.md-button:not([disabled]):hover,
.PrimaryCTA-Normal-shipping:hover {
  background-color: #e20074;
  text-transform: none;
}
.md-button:not([disabled]).PrimaryCTA-Normal-shipping:hover {
  background-color: #e20074 !important;
}
@media only screen and (min-width: 768px) {
  .fixedDiv {
    position: absolute;
    left: 59%;
  }
}
.container1,
.container2 {
  width: 92%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container1,
  .container2 {
    width: 98%;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .scroll {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .bg-white-xs {
    background-color: #ffffff;
  }
}
#style::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
  cursor: pointer;
}
#style::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
#style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgrey;
}
.co-000 {
  color: #000000;
}
.co-000:hover {
  color: #000000;
}
.font-14 {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial;
}
.mo-desc {
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: Arial;
  letter-spacing: 0px;
  font-weight: normal;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .wd-33 {
    width: 33%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .pd-l-r-i5 {
    padding-left: 30px !important;
    padding-right: 0px !important;
  }
  .wd-48 {
    width: 48%;
  }
  .wd-44 {
    width: 44%;
  }
  .wd-56 {
    width: 56%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 375px), only screen and (min-width: 375px) and (max-width: 460px) {
  .wd-100 {
    width: 100px;
  }
}
/*.bg-nonmagenta:hover {
background-color: @color-fffff !important;
}*/
@media only screen and (min-width: 715px) and (max-width: 768px) {
  .pr-rt-55 {
    padding-right: 55%;
  }
}
.paymeny-st {
  font-size: 14px;
  line-height: 14px;
  font-family: Arial;
  letter-spacing: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .lh-xs {
    line-height: 28px;
  }
}
.mbl-heading {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: -0.1px;
  color: #222222;
}
.clr {
  background-color: #f7deeb;
}
md-tabs-wrapper {
  position: relative;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
  right: 0;
  z-index: 1;
  margin-top: 15px;
}
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper .md-tab-item {
  line-height: 34px;
}
md-tabs .md-tab,
md-tabs .md-tab.md-active {
  line-height: 22px !important;
  letter-spacing: -0.1px !important;
}
body,
html {
  background: white;
}
.noFloat {
  position: absolute;
  left: 50%;
}
.wt-tx {
  letter-spacing: 0.3px;
  font-family: Arial;
  color: #e20074;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .mr-left-0-xs {
    margin-left: 0px !important;
  }
}
.pay-full-monthly {
  line-height: 12px;
  color: #9b9b9b;
}
@media only screen and (min-width: 768px) {
  .pull-right-sm {
    float: right !important;
  }
}
md-input-container:not(.md-input-invalid).md-input-has-value label,
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #6a6a6a !important;
}
md-input-container.md-input-invalid label {
  color: red;
}
md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
  font-size: 14px;
  font-family: Arial;
  /* color: @color-6a6a6a  !important; */
  padding-bottom: 8px !important;
  padding-top: 5px !important;
  font-weight: normal !important;
  line-height: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}
.m-t-5 {
  margin-top: 5px;
}
md-tabs[md-border-bottom] md-tabs-wrapper {
  border-width: 1px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .wd-inh {
    width: inherit;
  }
  .hr-sh-xs {
    width: 100% !important;
    height: 1px !important;
    border-bottom: solid 1px #e8e8e8;
    border-top: none;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .p-t-35-xs-imp {
    padding-top: 35px !important;
  }
}
@media only screen and (min-width: 768px) {
  .p-b-0 {
    padding-bottom: 0px;
  }
  .p-b-10 {
    padding-bottom: 10px;
  }
  .padding-cta-fixedDiv {
    padding-left: 17px;
    padding-right: 40px;
  }
  .padding-text-fixed {
    padding-left: 26px;
    padding-right: 32px;
  }
  .pd-r-27-xxs {
    padding-right: 33px;
  }
  .ht-bg-c {
    background-color: #fbfbfb;
  }
  .bg-fb {
    background-color: #fbfbfb;
  }
  .bg-fb-ht {
    background-color: #fbfbfb;
  }
  .mr-wd {
    width: 100%;
    margin: 0;
  }
  .mr-left-15 {
    margin-left: 15px;
  }
  .mr-bt-15 {
    margin-bottom: 15px !important;
  }
}
.p-t-8 {
  padding-top: 8px;
}
.p-t-16 {
  padding-top: 16px;
}
.lh-auto {
  line-height: initial;
}
.mr-bt-0 {
  margin-bottom: 0px !important;
}
.mr-bt-15 {
  margin-bottom: 15px !important;
}
.p-l-2 {
  padding-left: 2px;
}
.pd-lt-0-imp {
  padding-left: 0px !important;
}
.md-select-value,
.md-text {
  font-size: 14px !important;
  color: #000000 !important;
  font-weight: normal !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pd-t-2 {
    padding-top: 2px;
  }
  .wd-90-xs {
    width: 80px;
  }
  .wd-100-xs {
    width: 100px;
  }
  .wd-50-xs {
    width: 50px;
  }
}
@media only screen and (min-width: 460px) and (max-width: 767px) {
  .wd-auto-from-460 {
    width: auto;
  }
}
@media only screen and (min-width: 1200px), only screen and (min-width: 768px) {
  .p-t-13 {
    padding-top: 13px;
  }
}
.green-font {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  color: #00b431;
}
.check-green {
  width: 16px;
  height: 16px;
  color: #09b119;
}
@media only screen and (min-width: 768px) {
  .padding-green {
    padding-left: 55px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pd-xs-promo {
    padding-right: 8px;
    padding-left: 20px;
  }
  .credit-mobile {
    width: 104%;
    margin-left: -5px;
  }
}
.credit-head {
  font-size: 14px;
  font-family: Arial;
  line-height: 16px;
}
.credit-txt {
  font-family: Arial;
  font-size: 11px;
  text-align: left;
  color: #8d8d8d;
  line-height: 12px;
}
.br-1-ed {
  border: 1px solid #ededed;
}
.br-2-6A6A6A {
  border: 1px solid black;
}
.border-979797 {
  border: 1px solid #979797 !important;
}
.border-magenta {
  border: 1px solid #e20074 !important;
}
md-input-container .md-input-messages-animation.overlay {
  position: absolute;
  top: 40px;
}
md-input-container:not(.md-input-invalid).md-input-focused md-icon,
md-icon[md-font-icon] {
  color: red;
}
.backClr {
  background-color: #e20074;
  border: 0px;
  opacity: 1 !important;
}
.md-button:not([disabled]).md-focused.backClr:hover,
.md-button:not([disabled]).backClr:hover {
  background-color: #e20074 !important;
}
.text-white {
  color: #fff;
}
.md-button.hoverClr:hover {
  background-color: #fff !important;
}
md-input-container.md-input-focused .md-input.p-r-20-input,
md-input-container.md-input-resized .md-input.p-r-20-input,
md-input-container .md-input.ng-invalid.ng-dirty.p-r-20-input {
  padding-right: 20px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie-ip {
    height: 38px !important;
  }
  .scrollClass {
    max-height: 950px !important;
  }
  body {
    overflow-y: scroll !important;
  }
  .setdisplay1 {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .setdisplay {
    display: inline-grid;
  }
}
md-radio-group.md-default-theme .md-checked .md-ink-ripple,
md-radio-group .md-checked .md-ink-ripple {
  border-color: #e20074 !important;
  color: #e20074 !important;
}
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on,
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: #e20074 !important;
}
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: #e20074 !important;
}
md-input-container .md-char-counter:not(.md-char-counter).cityError,
md-input-container .md-input-message-animation:not(.md-char-counter).cityError {
  padding-top: 0px !important;
}
.md-select-menu-container.dropDown {
  top: 10px;
}
@media only screen and (min-width: 768px) {
  .dropwidth {
    width: 65%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .dropwidth {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .padding-address {
    padding-left: 0px;
    padding-right: 0px;
  }
}
md-input-container .md-input-message-animation:not(.ng-animate) {
  padding-top: 10px !important;
}
.outline-none {
  outline: none;
}
ul li {
  list-style-type: none !important;
}
.dropdown-menu {
  padding-top: 2px !important;
  max-height: 170px;
  overflow: auto;
  min-width: 100% !important;
}
.p-l-0-imp {
  padding-left: 0px !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .m-t-20-xs-imp {
    margin-top: -20px !important;
  }
}
@media only screen and (min-width: 375px) and (max-width: 415px) {
  .pos-btm {
    position: fixed;
    bottom: 0;
    margin-right: 0px;
    width: 95%;
    margin-left: -20px;
  }
}
.mtd-ft-size {
  font-size: 12px !important;
  line-height: 16px;
  font-family: Arial;
  letter-spacing: 0px;
}
@media only screen and (min-width: 768px) {
  .pt-overflow {
    overflow: -webkit-paged-x;
  }
}
.position-checkBilling {
  position: relative;
  top: -17px;
}
@media only screen and (max-width: 767px) {
  .position-checkBilling {
    position: relative;
    top: -17px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .position-checkBilling {
    position: relative;
    top: -32px;
  }
}
.p-l-6 {
  padding-left: 6px;
}
.btn-black:hover {
  border: 1px solid #ffffff;
}
/*-----order page updated-----*/
.full-retail-price {
  font-family: Tele-Fet;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}
.line-through {
  text-decoration: line-through;
}
.p-t-4 {
  padding-top: 4px;
}
.p-l-4 {
  padding-left: 4px;
}
.p-r-4 {
  padding-right: 4px;
}
.p-l-8 {
  padding-left: 8px;
}
.p-b-8 {
  padding-bottom: 8px;
}
.p-b-24 {
  padding-bottom: 24px;
}
.content-desc {
  font-family: Arial;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  color: #6a6a6a;
}
.font-arialmt {
  font-family: Arial;
}
@media only screen and (min-width: 768px) {
  .p-t-3-sm {
    padding-top: 3px;
  }
  .p-t-4-sm {
    padding-top: 4px;
  }
  .no-padding-lg {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .p-t-4-xs {
    padding-top: 4px;
  }
  .p-t-2-xs {
    padding-top: 2px;
  }
  .p-t-40-xs {
    padding-top: 40px;
  }
  .p-b-10-xs {
    padding-bottom: 10px;
  }
  .p-b-5-xs {
    padding-bottom: 5px;
  }
  .p-t-20-xs {
    padding-top: 20px;
  }
  .p-b-15-xs {
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .display-flex-md {
    display: flex;
  }
}
.white-space-nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
.border {
  border: solid 1px #cccccc;
}
.cursor {
  cursor: pointer;
}
.magenta-hover:hover {
  color: #a10053;
  text-decoration: underline;
}
.color-333333 {
  color: #333333;
}
@media only screen and (min-width: 768px) {
  .padding-desktop {
    padding-bottom: 20px;
  }
  .mr-30 {
    margin-right: 30%;
  }
  .pull-left-lg {
    float: left;
  }
}
.br-0 {
  border-radius: 0px;
  margin: 0px;
}
.border-E20074 {
  border: 1px solid #e20074;
}
.md-button.md-default-theme[disabled],
.md-button[disabled] {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  box-shadow: none !important;
}
.m-l-imp {
  margin-left: 0px !important;
}
.text-wrap {
  width: 64%;
  display: inline-flex;
}
.p-b-7 {
  padding-bottom: 7px;
}
.simimg {
  margin: auto;
  width: 63px;
}
.display-inline {
  display: inline;
}
.color-e6e6e6 {
  background-color: #e6e6e6;
}
.magenta-hover:hover {
  color: #e20074;
  text-decoration: underline;
}
.md-button[disabled] {
  border: none !important;
  color: #6a6a6a !important;
}
@media only screen and (min-width: 992px), only screen and (min-width: 768px) {
  md-checkbox .md-container {
    top: 30%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 375px), only screen and (min-width: 768px) and (max-width: 991px) {
  md-checkbox .md-container {
    top: 17%;
  }
}
.p-l-8 {
  padding-left: 8px;
}
.h-85 {
  height: 85px;
  overflow-y: scroll;
}
body.noscroll {
  overflow: hidden;
}
md-input-container.md-input-invalid label {
  color: #6a6a6a;
}
.font-Remove {
  font-size: 16px !important;
  line-height: 20px !important;
  font-family: Tele-Fet;
  letter-spacing: 0.5px;
}
.font-due {
  font-family: Arial;
  font-size: 10px;
  line-height: 1.2rem;
}
.hr-padding {
  margin-right: 9px;
  margin-left: 9px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e8e8e8;
}
.p-t-8 {
  padding-top: 8px;
}
.p-b-8 {
  padding-bottom: 8px;
}
.text-4A4A4A {
  color: #4a4a4a !important;
}
.m-b-5 {
  margin-bottom: 5px;
}
.p-l-6 {
  padding-left: 6px;
}
.wrap-phonenum {
  white-space: nowrap;
}
.btnCancelwidth {
  width: 150px !important;
  height: 49px !important;
}
.rd-btn-btm-0 {
  margin-bottom: 0px;
}
.cta-image-size {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.cta-image-width {
  width: 48% !important;
  height: 86px !important;
}
.padding-right-0-xs {
  padding-right: 0px !important;
}
.m-l-5-percent {
  margin-left: 4% !important;
}
.bg-white {
  background-color: #ffffff;
}
.SecondaryCTA-html:focus,
.SecondaryCTA-html:active,
.SecondaryCTA-html:hover {
  border: 2px solid black;
}
.SecondaryCTA-html {
  height: 110px !important;
}
@media (min-width: 768px) {
  .p-r-32 {
    padding-right: 32px;
  }
}
.p-t-48 {
  padding-top: 48px;
}
.font-20 {
  font-size: 20px;
}
.m-t-8 {
  margin-top: 8px !important;
}
.font-12 {
  font-size: 12px;
}
@media (max-width: 767px) {
  .p-l-15-xs {
    padding-left: 15px;
  }
}
.promo-box {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.promo-box span {
  margin: auto;
  margin-right: 0 !important;
}
/* @media only screen and (min-width: 520px) and (max-width: 767px){
    .promo-box span{
        margin-right:0 !important;
    }
  }*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .promo-box {
    justify-content: space-between;
  }
  .m-t-ie {
    margin-top: 45%;
  }
}
.box-left {
  display: flex;
  justify-content: center;
}
.box-left span {
  margin: auto;
  margin-left: 0 !important;
}
.w-95 {
  width: 95%;
}
.float-left {
  float: left;
  margin-left: 0 !important;
}
.float-right {
  float: right;
}
.icon-dimension {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.font-18 {
  font-size: 18px !important;
}
.h-40 {
  height: 40px;
}
@media (max-width: 330px) {
  .SecondaryCTA-html {
    height: 120px !important;
  }
}
/* new css */
@media (max-width: 435px) {
  .font-12-xs {
    font-size: 12px !important;
  }
}
@supports (-ms-ime-align: auto) {
  .scrollClass {
    max-height: 950px !important;
  }
}
.md-errors-spacer {
  display: none;
}
.font-18 {
  font-size: 18px;
  line-height: 18px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .font-18 {
    font-size: 14px !important;
    line-height: 14px;
  }
}
.p-b-4 {
  padding-bottom: 4px;
}
.text-white {
  color: #ffffff;
}
.border-5a {
  border: 1px solid #5A5A5A;
}
.color-9b {
  color: #9B9B9B;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .mr-5 {
    margin-right: -5px;
  }
  
}
.padding-bottom-0{
	padding-bottom: 0 !important;
}
.bg-e5{
	background-color: #fbfbfb!important;
}
@media (max-width: 767px){
  .bg-e5{
		background-color:#ffffff !important;
  }
  .p-t-24-xs{
		padding-top:24px;
	}
}
.font-ult{
  font-family: Tele-Ult;
  font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;
}