@smartphones: ~"only screen and (min-width: 320px) and (max-width: 767px)";
@smartphones6-8: ~"only screen and (min-width: 375px) and (max-width: 415px)";
@smartphones460max: ~"only screen and (min-width: 375px) and (max-width: 460px)";
@smartphones_460: ~"only screen and (min-width: 460px) and (max-width: 767px)";
@laptops: ~"only screen and (min-width: 992px)";
@largeScreens: ~"only screen and (min-width: 1200px)";
@smallDevices: ~"only screen and (max-width: 767px)";
@largeDevices: ~"only screen and (min-width: 768px)";
@Alldeviceexceptsmartphone: ~"only screen and (min-width: 768px)";
@middleScreens: ~"only screen and (min-width: 992px) and (max-width: 1200px)";
@onlyIphone5: ~"only screen and (min-width: 320px) and (max-width: 374px)";
@iphone5: ~"only screen and (min-width: 320px) and (max-width: 375px)";
@middleRange: ~"only screen and (min-width: 715px) and (max-width: 768px)";
@lowMiddleRange: ~"only screen and (min-width: 451px) and (max-width: 714px)";
@bigScreens: ~"only screen and (min-width: 992px) and (max-height: 800px)";
@middleDisplay: ~"only screen and (min-width: 768px) and (max-height: 800px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@fixed: fixed;
@relative: relative;
@display-flex: flex;
@justify-content-center: center;
@flex-direction-column: column;
@vertical-align-center: center;
@vertical-align-middle: middle;
@px-24: 24px;
@bottom-100per: 100%;
@font-18: 18px;
@lineHeight-21: 21px;
@letter-4: 0.4px;
@font-bold: bold;
@color-000000: #000000;
@height-full: 100%;
@bg-white: white;
@opacity-1: 1;
@margin-0: 0px;
@color-magenta: #e20074;
@color-6a6a6a: #6a6a6a;
@margin-0: 0px;
@color-cccccc: #cccccc;
@float-right: right;
@font-18: 18px;
@font-bold: bold;
@lineHeight-11: 1.11;
@text-left: left;
@font-normal: normal;
@color-e8e8e8: #e8e8e8;
@color-acacac: #acacac;
@width-98per: 98%;
@height-48: 48px;
@border-100rad: 100px;
@font-20: 20px;
@text-center: center;
@color-fffff: #ffffff;
@padding-50: 50px;
@float-right: right;
@padding-25: 25px;
@padding-15: 15px;
@minHeight-1100: 1100px;
@width-full: 100%;
@letter-6: 0.6px;
@text-none: none;
@width-30: 30px;
@height-30: 30px;
@relative: relative;
@font-20: 20px;
@pointer: pointer;
@block: block;
@m--2: -2px;
@hidden: hidden;
@border-0: 0px;
@absolute: absolute;
@lineHeight-32: 32px;
@lineHeight-36: 36px;
@m--3: -3px;
@m-3: 3px;
@h-0: 0px;
@color-f2f2f2: #f2f2f2;
@color-f7deeb: #f7deeb;
@auto: auto;
@lightgray: lightgray;
@color-green: green;
@px-42: 42px;
@px-14: 14px;
@px-2: 2px;
@px-48: 48px;
@px-1: 1px;
@color-979797: #979797;
@px-49: 49px;
@color-e8e8e8: #e8e8e8;
@font-14: 14px;
@width-98per: 98%;
@p-5px: 5px;
@color-898989: #898989;
@color-7e7e7e: #7e7e7e;
@color-444444: #444444;
@color-888888: #888888;
@color-9b9b9b: #9b9b9b;
@border-top-1px: 1px solid #eee;
@border-1px-222222: 1px solid #222222;
@color-transparent: transparent;
@line-height-36: 1.36;
@line-height-5: 1.5;
@line-height-45: 1.45;
@l-spacing: -0.1px;
@letter-spacing-3: 0.3px;
@px-4: 4px;
@px-10: 10px;
@px-20: 20px;
@px-15: 15px;
@px-11: 11px;
@px-5pt: 0.5px;
@px-12: 12px;
@px-5: 5px;
@font-Arial: Arial;
@style-italic: italic;
@fixed: fixed;
@left-60per: 60%;
@width-92per: 92%;
@scroll: scroll;
@height-500: 500px;
@height-100vh: 100vh;
@border-10: 10px;
@color-f5f5f5: #f5f5f5;
@width-8: 8px;
@color-lightgrey: lightgrey;
@line-height-18: 18px;
@font-12: 12px;
@width-33per: 33%;
@p-30: 30px;
@width-48per: 48%;
@width-44per: 44%;
@width-56per: 56%;
@p-55per: 55%;
@p-55per: 55%;
@line-height-16: 16px;
@line-height-28: 28px;
@lineHeight-22: 1.22;
@letter-1px: -0.1px;
@color-222222: #222222;
@left-50per: 50%;
@bottom-96per: 96%;
@font-11: 11px;
@letter-spacing-36: 1.36;
@px-8: 8px;
@letter-spacing-5: 0.5px;
@px-22: 22px;
@px--1: -0.1px;
@r-0: 0;
@z-1: 1;
@width-85per: 85per;
@border-50rad: 50px;
@font-16: 16px;
@color-d6d6d6: #d6d6d6;
@width-75per: 75%;
@lineHeight-16: 16px;
@auto: auto;
md-input-container label:not(.md-no-float):not(.md-container-ignore) {
	bottom: @bottom-96per;
}

md-input-container {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

md-input-container .md-input {
	font-size: @px-14;
	line-height: @lineHeight-21;
	letter-spacing: @letter-4;
	font-weight: @font-bold;
	padding-top: 0px;
	padding-bottom: 0px;
}

md-tab-content,
md-tabs-content-wrapper {
	/*min-height: 675px !important;*/
	background: @bg-white;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
	min-height: @minHeight-1100;
}

md-input-container .md-input-message-animation:not(.ng-animate) {
	opacity: @opacity-1 !important;
	margin: @margin-0 !important;
}

md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
	background-color: @color-magenta !important;
}

.color-6a6a6a {
	color: @color-6a6a6a !important;
}

md-select {
	margin: @margin-0;
}

md-input-container .md-input {
	border-width: @r-0 @r-0 @px-2;
	border-color: @color-cccccc;
}

.border-bottom1 {
	border-bottom: @px-2 solid @color-cccccc;
}

.md-select-value .md-select-icon {
	float: @float-right;
}

.width-full {
	width: @width-full;
}

.layout-row {
	border-bottom: @px-2 solid @color-cccccc;
}

.layout-row:hover,
.layout-row:focus {
	border-color: @color-magenta;
}

.md-select-value > span:not(.md-select-icon) .md-text {
	font-family: @font-Arial;
	font-size: @font-18;
	font-weight: @font-bold;
	line-height: @lineHeight-11;
	letter-spacing: @letter-6;
	text-align: @text-left;
	color: @color-000000;
}

.font-normal {
	font-weight: @font-normal;
	color: @color-000000;
}

.border-e8e8e8 {
	border-bottom: @px-1 solid @color-e8e8e8;
}

.text-transform-none {
	text-transform: @text-none;
}

.color-acacac {
	color: @color-acacac;
}

.tabBtn {
	width: @width-98per;
	height: @height-48;
	border-radius: @border-100rad;
	background-color: @color-magenta;
}

.tabBtnFont {
	font-family: Tele-Fet;
	font-size: @font-14;
	text-align: @text-center;
	color: @color-fffff;
}

md-input-container .md-input:hover {
	border-color: @color-magenta;
}

@media @largeDevices {
	.p-l-50-sm {
		padding-left: @padding-50;
	}
	.pull-right-sm {
		float: @float-right;
	}
	.padding-top-xl-sm {
		padding-top: @padding-25;
	}
	.p-r-15-sm {
		padding-right: @padding-15;
	}
}

@media @smartphones {
	.h2-title {
		font-size: @px-24 !important;
	}
}

.display-flex {
	display: @display-flex;
}

.center-content {
	display: @display-flex;
	justify-content: @justify-content-center;
	flex-direction: @flex-direction-column;
	vertical-align: @vertical-align-middle;
}

md-tabs .md-tab.md-active {
	font-family: @font-Arial;
	font-size: @font-18;
	font-weight: @font-bold;
	color: @color-000000;
}

md-pagination-wrapper {
	width: @width-full !important;
}

.md-tab {
	text-transform: @text-none !important;
	font-family: @font-Arial;
	font-size: @font-18;
	font-weight: @font-bold;
}

md-tabs .md-tab.md-active {
	text-align: @text-center;
	background-color: rgba(226, 0, 116, 0.07);
}

md-tab-item {
	border-top: @px-1 solid @color-lightgrey;
	border-bottom: @px-1 solid @color-lightgrey;
}

md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
	background: @text-none;
}

.md-accordion .expandCollapse {
	width: @width-30;
	height: @height-30;
	position: @relative;
	font-size: @font-20;
	font-weight: @font-bold;
	cursor: @pointer;
	color: @color-fffff;
	display: @block;
	margin-top: @m--2;
	margin-left: @m--2;
	overflow: @hidden;
}

.md-accordion .expandCollapse:active {
	border: @border-0;
}

.md-accordion .expandCollapse:before,
.md-accordion .expandCollapse:after {
	width: @width-30;
	height: @height-30;
	display: @block;
	position: @absolute;
	top: 0;
	left: 0;
	line-height: @lineHeight-32;
	text-align: @text-center;
	-webkit-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
}

.md-accordion .dataContent {
	background: @color-f2f2f2;
	height: @h-0;
	overflow: @hidden;
	-webkit-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
}

.md-accordion .activeContent {
	height: @auto;
	display: @block;
}

.md-accordion md-toolbar {
	cursor: @pointer;
	border-bottom: @px-1 solid rgb(63, 107, 181);
	z-index: @auto;
}

.md-accordion md-toolbar {
	background-color: @bg-white;
	border-bottom: 1px solid @lightgray;
	border-top: 1px solid @lightgray;
	outline: @text-none;
}

.md-accordion md-toolbar:focus {
	background-color: @color-f7deeb;
}

.color-green {
	color: @color-green;
}

.p-l-42 {
	padding-left: @px-42;
}

.PrimaryCTA-Normal-shipping {
	font-size: @px-14 !important;
	font-family: Tele-Fet;
	font-weight: @font-normal;
	color: @color-fffff !important;
	height: @px-48 !important;
	width: @width-full !important;
	border: @px-1 solid @color-magenta;
	background-color: @color-magenta;
	border-radius: @border-100rad;
	padding: 8px 24px 8px 24px;
}

.SecondaryCTA-Normal-shipping {
	font-size: @px-14 !important;
	font-family: Tele-Fet;
	font-weight: @font-normal;
	color: @color-979797 !important;
	height: @px-49 !important;
	width: @width-full !important;
	border: @px-1 solid @color-979797;
	background-color: @bg-white;
	border-radius: @border-100rad;
	padding: 8px 20px 8px 20px;
}

md-radio-button .md-label {
	width: 91%;
}

.md-button:not([disabled]).SecondaryCTA-Normal-shipping:hover {
	background-color: @bg-white;
}

.md-button:not([disabled]).PrimaryCTA-Normal-shipping:hover {
	background-color: @color-magenta !important;
}

.md-button.md-default-theme:not([disabled]).md-focused,
.md-button:not([disabled]).md-focused {
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.md-button:not([disabled]).PrimaryCTA-Normal-shipping:focus {
	background-color: @color-magenta !important;
}

.btn-shipping {
	width: @width-full !important;
}

.hr-1 {
	width: @width-full !important;
	height: @px-1 !important;
	border: @px-1 solid @color-e8e8e8 !important;
}

.font-italic {
	font-family: @font-Arial;
	font-size: @px-14;
	font-style: @style-italic;
	text-align: @text-left;
	color: @color-898989;
}

@media @Alldeviceexceptsmartphone {
	.box {
		box-sizing: border-box;
		border-radius: @px-1;
	}
}

.container1 {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: @px-4;
	margin-top: @px-15;
	margin-bottom: @px-10;
	margin-left: @px-10;
}

.margin-top-bottom-box-10 {
	margin-top: 0px;
	margin-bottom: 15px;
}

.margin-top-container {
	margin-top: 0px !important;
}

.container2 {
	border-radius: @px-2;
	margin-top: @px-15;
	margin-bottom: @px-10;
	margin-left: @px-10;
}

.image-data-container {
	display: flex;
	align-items: center;
}

.font-container2 {
	@media @smartphones {
		font-size: 14px !important;
		letter-spacing: 0px !important;
	}
}

.desc-cont-2 {
	letter-spacing: 0.1px;
	line-height: 20px !important;
}

.btn-black {
	border: 1px solid #000;
	background-color: #000;
	box-shadow: none;
	color: #fff;
	font-family: Tele-Fet, serif;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.5rem;
	padding: 1rem;
	text-overflow: ellipsis;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.font {
	font-size: @font-18;
}

.hr-1px {
	margin-top: @px-20;
	margin-bottom: @px-10;
	border: @r-0;
	border-top: @border-top-1px;
}

.new-font {
	font-family: @font-Arial;
	font-size: @px-11;
	line-height: @line-height-36;
	letter-spacing: -0px;
	text-align: @text-left;
	color: @color-7e7e7e;
}

.text-444444 {
	color: @color-444444 !important;
}

.text-888888 {
	color: @color-888888 !important;
}

.text-E20074 {
	color: @color-magenta;
}

.Rectangle-bt {
	border: @border-1px-222222;
	background-color: @color-transparent;
	height: @lineHeight-36;
	border-radius: @border-50rad;
}

.Rectangle-bt2 {
	background-color: rgba(0, 0, 0, 0.1);
	height: @lineHeight-36;
	opacity: 0.6;
	border-radius: 100px;
}

.md-button {
	text-transform: none !important;
}

.md-button:not([disabled]):hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.Rectangle-bt1 {
	border: @px-1 solid @color-magenta;
	background-color: @color-transparent;
	height: @px-42;
	width: @width-full;
	border-radius: @border-50rad;
}

.pa-styles {
	font-size: @font-18;
	line-height: @font-20;
	font-family: @font-Arial;
	font-weight: @font-bold;
}

.pa-bd-styles {
	font-family: @font-Arial;
	font-size: @font-14;
	font-weight: @font-bold;
	line-height: @line-height-36;
	letter-spacing: @px-5pt;
	text-align: @text-left;
	color: @color-9b9b9b;
	padding-left: 1px !important;
}

.pa-bill {
	font-family: @font-Arial;
	font-size: @px-14;
	line-height: @line-height-5;
	letter-spacing: @l-spacing;
	text-align: @text-left;
	color: @color-000000;
}

.pa-right-tax {
	font-family: @font-Arial;
	font-size: @font-18;
	line-height: 1.11;
	letter-spacing: @l-spacing;
	text-align: @text-left;
	color: @color-000000;
}

.pa-agreement {
	font-family: @font-Arial;
	font-size: @px-11;
	line-height: @line-height-45;
	letter-spacing: @px-5pt;
	text-align: @text-left;
	color: @color-acacac;
	font-weight: @font-normal;
}

.fo-12 {
	font-size: @px-12 !important;
	line-height: @px-14 !important;
}

.fo-14 {
	font-size: @font-14;
}

.tx-trans {
	text-transform: @text-none;
	font-size: @font-20;
}

.txt-444444 {
	color: @color-444444;
}

.shipping-Addr {
	font-size: @font-16 !important;
	line-height: @font-20 !important;
	font-family: Tele-Fet;
	letter-spacing: @px-5pt;
	font-weight: @font-bold;
}

md-radio-button .md-off {
	border: @px-1 solid @color-d6d6d6;
}

.fo-normal {
	font-weight: @font-normal;
}

@media @largeDevices {
	.field-wd {
		width: @width-75per;
	}
	.field-wd1 {
		width: @width-full;
	}
}

@media @smallDevices {
	.field-wd {
		width: 100%;
	}
	.field-wd1 {
		width: @width-full;
	}
}

.addr-subtext {
	font-size: @px-12;
	letter-spacing: @letter-spacing-3;
	font-family: @font-Arial;
	color: @color-6a6a6a;
}

.text-ad {
	padding-top: @padding-15 !important;
	padding-bottom: @font-20 !important;
}

.order-cancel-text {
	font-family: @font-Arial;
	font-size: @px-11;
	line-height: @line-height-36;
	letter-spacing: -0px;
	color: @color-9b9b9b;
}

.margin-top-bottom-box {
	margin-top: 15px;
	margin-bottom: 15px;
}

.hr-1px-mod {
	margin-top: @px-5;
	margin-bottom: @px-5;
	border: @border-0;
	border-top: @border-top-1px;
}

.hr-1px-bt-mod {
	margin-top: @px-10;
	margin-bottom: @border-0;
	border: @border-0;
	border-top: @border-top-1px;
}

.margin-top-bottom-mod {
	margin-top: @px-10;
	margin-bottom: @px-10;
}

.body-copy-description-mod {
	font-size: @px-12 !important;
	line-height: @font-20 !important;
	font-family: @font-Arial;
	letter-spacing: @border-0;
	font-weight: @font-normal;
}

.hyperLink-magenta {
	font-family: @font-Arial;
	font-size: @px-14;
	text-align: @text-center;
	color: @color-magenta;
}

.order-mobile-tax {
	font-family: @font-Arial;
	font-size: @px-11;
	line-height: @line-height-36;
	letter-spacing: -0px;
	text-align: @text-left;
	color: @color-9b9b9b;
}

.m-b-15-mod {
	margin-bottom: @padding-15 !important;
	margin-right: @h-0 !important;
	margin-top: @h-0 !important;
	margin-left: @h-0 !important;
}

md-input-container:not(md-input-invalid).md-input-focused .md-input {
	border-color: @color-magenta !important;
}

.md-button.md-default-theme:not([disabled]):hover,
.md-button:not([disabled]):hover,
.PrimaryCTA-Normal-shipping:hover {
	background-color: @color-magenta;
	text-transform: @text-none;
}

.md-button:not([disabled]).PrimaryCTA-Normal-shipping:hover {
	background-color: @color-magenta !important;
}

@media @largeDevices {
	.fixedDiv {
		position: @absolute;
		left: 59%;
	}
}

.container1,
.container2 {
	width: @width-92per;
	@media @smartphones {
		width: @width-98per;
		padding-right: @p-5px;
	}
}

.scroll {
	@media @largeDevices {
		overflow-y: @auto;
		overflow-x: hidden;
	}
}

@media @smartphones {
	.bg-white-xs {
		background-color: @color-fffff;
	}
}

#style::-webkit-scrollbar {
	width: 7px;
	background-color: @color-f5f5f5;
	cursor: pointer;
}

#style::-webkit-scrollbar {
	width: @width-8;
	background-color: @color-f5f5f5;
}

#style::-webkit-scrollbar-thumb {
	border-radius: @border-10;
	background-color: @color-lightgrey;
}

.co-000 {
	color: @color-000000;
}

.co-000:hover {
	color: @color-000000;
}

.font-14 {
	font-size: @font-14;
	line-height: @line-height-18;
	font-family: @font-Arial;
}

.mo-desc {
	font-size: @font-12 !important;
	line-height: @line-height-18 !important;
	font-family: @font-Arial;
	letter-spacing: @h-0;
	font-weight: @font-normal;
}

@media @middleScreens {
	.wd-33 {
		width: @width-33per;
	}
}

@media @iphone5 {
	.pd-l-r-i5 {
		padding-left: @p-30 !important;
		padding-right: @h-0 !important;
	}
	.wd-48 {
		width: @width-48per;
	}
	.wd-44 {
		width: @width-44per;
	}
	.wd-56 {
		width: @width-56per;
	}
}

@media @iphone5, @smartphones460max {
	.wd-100 {
		width: 100px;
	}
}

/*.bg-nonmagenta:hover {
background-color: @color-fffff !important;
}*/

@media @middleRange {
	.pr-rt-55 {
		padding-right: @p-55per;
	}
}

.paymeny-st {
	font-size: @font-14;
	line-height: 14px;
	font-family: @font-Arial;
	letter-spacing: @h-0;
}

@media @smartphones {
	.lh-xs {
		line-height: @line-height-28;
	}
}

.mbl-heading {
	font-family: @font-Arial;
	font-size: @font-18;
	font-weight: @font-bold;
	line-height: @lineHeight-22;
	letter-spacing: @letter-1px;
	color: @color-222222;
}

.clr {
	background-color: @color-f7deeb;
}

md-tabs-wrapper {
	position: @relative;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
	right: @r-0;
	z-index: @z-1;
	margin-top: @padding-15;
}

md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper .md-tab-item {
	line-height: 34px;
}

md-tabs .md-tab,
md-tabs .md-tab.md-active {
	line-height: @px-22 !important;
	letter-spacing: @px--1 !important;
}

body,
html {
	background: white;
}

.noFloat {
	position: @absolute;
	left: @left-50per;
}

.wt-tx {
	letter-spacing: @letter-spacing-3;
	font-family: @font-Arial;
	color: @color-magenta;
}

@media @smartphones {
	.mr-left-0-xs {
		margin-left: @h-0 !important;
	}
}

.pay-full-monthly {
	line-height: @font-12;
	color: @color-9b9b9b;
}

@media @largeDevices {
	.pull-right-sm {
		float: @float-right !important;
	}
}
md-input-container:not(.md-input-invalid).md-input-has-value label,
md-input-container:not(.md-input-invalid).md-input-focused label {
	color: @color-6a6a6a !important;
}

md-input-container.md-input-invalid label {
	color: red;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container.md-input-focused label:not(.md-no-float),
md-input-container.md-input-has-value label:not(.md-no-float) {
	font-size: @font-14;
	font-family: @font-Arial;
	/* color: @color-6a6a6a  !important; */
	padding-bottom: @px-8 !important;
	padding-top: @px-5 !important;
	font-weight: @font-normal !important;
	line-height: @font-14;
	letter-spacing: @letter-spacing-5;
	margin-bottom: 0px;
}

.m-t-5 {
	margin-top: @px-5;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
	border-width: 1px;
}

@media @smartphones {
	.wd-inh {
		width: inherit;
	}
	.hr-sh-xs {
		width: 100% !important;
		height: 1px !important;
		border-bottom: solid 1px #e8e8e8;
		border-top: none;
		margin-top: 0px;
		margin-bottom: 15px;
		padding-top: 15px;
		//  padding-bottom: 15px;
	}
	.p-t-35-xs-imp {
		padding-top: 35px !important;
	}
}

@media @Alldeviceexceptsmartphone {
	.p-b-0 {
		padding-bottom: 0px;
	}

	.p-b-10 {
		padding-bottom: 10px;
	}

	.padding-cta-fixedDiv {
		padding-left: 17px;
		padding-right: 40px;
	}
	.padding-text-fixed {
		padding-left: 26px;
		padding-right: 32px;
	}
	.pd-r-27-xxs {
		padding-right: 33px;
	}
	.ht-bg-c {
		background-color: #fbfbfb;
	}
	.bg-fb {
		background-color: #fbfbfb;
	}
	.bg-fb-ht {
		background-color: #fbfbfb;
	}
	.mr-wd {
		width: 100%;
		margin: 0;
	}
	.mr-left-15 {
		margin-left: 15px;
	}
	.mr-bt-15 {
		margin-bottom: 15px !important;
	}
}

.p-t-8 {
	padding-top: 8px;
}

.p-t-16 {
	padding-top: 16px;
}

.lh-auto {
	line-height: initial;
}

.mr-bt-0 {
	margin-bottom: 0px !important;
}

.mr-bt-15 {
	margin-bottom: 15px !important;
}

.p-l-2 {
	padding-left: 2px;
}

.pd-lt-0-imp {
	padding-left: 0px !important;
}

.md-select-value,
.md-text {
	font-size: 14px !important;
	color: #000000 !important;
	font-weight: normal !important;
}

@media @smartphones {
	.pd-t-2 {
		padding-top: 2px;
	}
	.wd-90-xs {
		width: 80px;
	}
	.wd-100-xs {
		width: 100px;
	}
	.wd-50-xs {
		width: 50px;
	}
}
@media @smartphones_460 {
	.wd-auto-from-460 {
		width: auto;
	}
}

@media @largeScreens, @largeDevices {
	.p-t-13 {
		padding-top: 13px;
	}
}

.green-font {
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	color: #00b431;
}

.check-green {
	width: 16px;
	height: 16px;
	color: #09b119;
}

@media @largeDevices {
	.padding-green {
		padding-left: 55px;
	}
}

@media @smartphones {
	.pd-xs-promo {
		padding-right: 8px;
		padding-left: 20px;
	}
	.credit-mobile {
		width: 104%;
		margin-left: -5px;
	}
}

.credit-head {
	font-size: 14px;
	font-family: @font-Arial;
	line-height: 16px;
}

.credit-txt {
	font-family: Arial;
	font-size: 11px;
	text-align: left;
	color: #8d8d8d;
	line-height: 12px;
}

.br-1-ed {
	border: 1px solid #ededed;
}

.br-2-6A6A6A {
	border: 1px solid black;
}

.border-979797 {
	border: 1px solid #979797 !important;
}

.border-magenta {
	border: 1px solid #e20074 !important;
}

md-input-container .md-input-messages-animation.overlay {
	position: absolute;
	top: 40px;
}

md-input-container:not(.md-input-invalid).md-input-focused md-icon,
md-icon[md-font-icon] {
	color: red;
}

.backClr {
	background-color: #e20074;
	border: 0px;
	opacity: 1 !important;
}

.md-button:not([disabled]).md-focused.backClr:hover,
.md-button:not([disabled]).backClr:hover {
	background-color: #e20074 !important;
}

.text-white {
	color: #fff;
}

.md-button.hoverClr:hover {
	background-color: #fff !important;
}

md-input-container.md-input-focused .md-input.p-r-20-input,
md-input-container.md-input-resized .md-input.p-r-20-input,
md-input-container .md-input.ng-invalid.ng-dirty.p-r-20-input {
	padding-right: 20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie-ip {
		height: 38px !important;
	}
	.scrollClass {
		max-height: 950px !important;
	}
	body {
		overflow-y: scroll !important;
	}
	.setdisplay1 {
		font-size: 12px !important;
	}
}

@media @tablets {
	.setdisplay {
		display: inline-grid;
	}
}

md-radio-group.md-default-theme .md-checked .md-ink-ripple,
md-radio-group .md-checked .md-ink-ripple {
	border-color: #e20074 !important;
	color: #e20074 !important;
}

md-radio-button.md-default-theme .md-on,
md-radio-button .md-on,
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
	border-color: #e20074 !important;
}

md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
	background-color: #e20074 !important;
}

md-input-container .md-char-counter:not(.md-char-counter).cityError,
md-input-container .md-input-message-animation:not(.md-char-counter).cityError {
	padding-top: 0px !important;
}

.md-select-menu-container.dropDown {
	top: 10px;
}

.dropwidth {
	@media @Alldeviceexceptsmartphone {
		width: 65%;
	}
	@media @smartphones {
		width: 60%;
	}
}

.padding-address {
	@media @Alldeviceexceptsmartphone {
		padding-left: 0px;
		padding-right: 0px;
	}
}

md-input-container .md-input-message-animation:not(.ng-animate) {
	padding-top: 10px !important;
}

.outline-none {
	outline: none;
}

ul li {
	list-style-type: none !important;
}

.dropdown-menu {
	padding-top: 2px !important;
	max-height: 170px;
	overflow: auto;
	min-width: 100% !important;
}

.p-l-0-imp {
	padding-left: 0px !important;
}

.m-t-20-xs-imp {
	@media @smartphones {
		margin-top: -20px !important;
	}
}

.pos-btm {
	@media @smartphones6-8 {
		position: fixed;
		bottom: 0;
		margin-right: 0px;
		width: 95%;
		margin-left: -20px;
	}
}

.mtd-ft-size {
	font-size: 12px !important;
	line-height: 16px;
	font-family: Arial;
	letter-spacing: 0px;
}

.pt-overflow {
	@media @Alldeviceexceptsmartphone {
		overflow: -webkit-paged-x;
	}
}

.position-checkBilling {
	position: relative;
	top: -17px;
	@media @smallDevices {
		position: relative;
		top: -17px;
	}
	@media @onlyIphone5 {
		position: relative;
		top: -32px;
	}
}

.p-l-6 {
	padding-left: 6px;
}

.btn-black:hover {
	border: 1px solid #ffffff;
}
/*-----order page updated-----*/
.full-retail-price {
	font-family: Tele-Fet;
	font-size: @font-14;
	line-height: @lineHeight-16;
	letter-spacing: @h-0;
}
.line-through {
	text-decoration: line-through;
}
.p-t-4 {
	padding-top: @px-4;
}
.p-l-4 {
	padding-left: @px-4;
}
.p-r-4 {
	padding-right: @px-4;
}
.p-l-8 {
	padding-left: @px-8;
}
.p-b-8 {
	padding-bottom: @px-8;
}
.p-b-24 {
	padding-bottom: @px-24;
}
.content-desc {
	font-family: Arial;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 0;
	text-align: @text-left;
	color: @color-6a6a6a;
}
.font-arialmt {
	font-family: Arial;
}
@media @largeDevices {
	.p-t-3-sm {
		padding-top: 3px;
	}
	.p-t-4-sm {
		padding-top: 4px;
	}
	.no-padding-lg {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media @smallDevices {
	.p-t-4-xs {
		padding-top: @px-4;
	}

	.p-t-2-xs {
		padding-top: @px-2;
	}
	.p-t-40-xs {
		padding-top: 40px;
	}
	.p-b-10-xs {
		padding-bottom: 10px;
	}
	.p-b-5-xs {
		padding-bottom: 5px;
	}
	.p-t-20-xs {
		padding-top: 20px;
	}
	.p-b-15-xs {
		padding-bottom: 15px;
	}
}
@media @laptops {
	.display-flex-md {
		display: flex;
	}
}
.white-space-nowrap {
	white-space: nowrap;
}
.underline {
	text-decoration: underline;
}
.border {
	border: solid 1px #cccccc;
}
.cursor {
	cursor: @pointer;
}
.magenta-hover:hover {
	color: #a10053;
	text-decoration: underline;
}

.color-333333 {
	color: #333333;
}

@media @largeDevices {
	.padding-desktop {
		padding-bottom: 20px;
	}
	.mr-30 {
		margin-right: 30%;
	}
	.pull-left-lg {
		float: left;
	}
}
.br-0 {
	border-radius: 0px;
	margin: 0px;
}
.border-E20074 {
	border: 1px solid #e20074;
}

.md-button.md-default-theme[disabled],
.md-button[disabled] {
	background-color: rgba(0, 0, 0, 0.1);
	color: #000;
	box-shadow: none !important;
}
.m-l-imp {
	margin-left: 0px !important;
}
.text-wrap {
	width: 64%;
	display: inline-flex;
}
.p-b-7 {
	padding-bottom: 7px;
}
.simimg {
	margin: auto;
	width: 63px;
}
.display-inline {
	display: inline;
}

.color-e6e6e6 {
	background-color: #e6e6e6;
}
.magenta-hover:hover {
	color: #e20074;
	text-decoration: underline;
}
.md-button[disabled] {
	border: none !important;
	color: #6a6a6a !important;
}
@media @laptops, @largeDevices {
	md-checkbox .md-container {
		top: 30%;
	}
}
@media @iphone5, @tablets {
	md-checkbox .md-container {
		top: 17%;
	}
}
.p-l-8 {
	padding-left: 8px;
}
.h-85 {
	height: 85px;
	overflow-y: scroll;
}
body.noscroll {
	overflow: hidden;
}
md-input-container.md-input-invalid label {
	color: #6a6a6a;
}
//10/26/2018:added to incorporate review comments
@font-10: 10px;
@color-4A4A4A: #4a4a4a;
.font-Remove {
	font-size: @font-16 !important;
	line-height: @font-20 !important;
	font-family: Tele-Fet;
	letter-spacing: @px-5pt;
}
.font-due {
	font-family: Arial;
	font-size: @font-10;
	line-height: 1.2rem;
}
.hr-padding {
	margin-right: 9px;
	margin-left: 9px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #e8e8e8;
}
.p-t-8 {
	padding-top: 8px;
}
.p-b-8 {
	padding-bottom: 8px;
}
.text-4A4A4A {
	color: @color-4A4A4A !important;
}
.m-b-5 {
	margin-bottom: 5px;
}
.p-l-6 {
	padding-left: 6px;
}
.wrap-phonenum {
	white-space: nowrap;
}
.btnCancelwidth {
	width: 150px !important;
	height: 49px !important;
}
.rd-btn-btm-0 {
	margin-bottom: 0px;
}

.cta-image-size {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.cta-image-width {
	width: 48% !important;
	height: 86px !important;
}

.padding-right-0-xs {
	padding-right: 0px !important;
}

.m-l-5-percent {
	margin-left: 4% !important;
}

.bg-white {
	background-color: @color-fffff;
}
.SecondaryCTA-html:focus,
.SecondaryCTA-html:active,
.SecondaryCTA-html:hover {
	border: 2px solid black;
}
.SecondaryCTA-html {
	height: 110px !important;
}
@media (min-width: 768px) {
	.p-r-32 {
		padding-right: 32px;
	}
}
.p-t-48 {
	padding-top: 48px;
}
.font-20 {
	font-size: 20px;
}
.m-t-8 {
	margin-top: 8px !important;
}
.font-12 {
	font-size: 12px;
}
@media (max-width: 767px) {
	.p-l-15-xs {
		padding-left: 15px;
	}
}
.promo-box {
	padding: 15px;
	display: flex;
	justify-content: center;

	span {
		margin: auto;
		margin-right: 0 !important;
	}
}
/* @media only screen and (min-width: 520px) and (max-width: 767px){
    .promo-box span{
        margin-right:0 !important;
    }
  }*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.promo-box {
		justify-content: space-between;
	}
	.m-t-ie {
		margin-top: 45%;
	}
}
.box-left {
	display: flex;
	justify-content: center;
	//align-items: center;
	span {
		margin: auto;
		margin-left: 0 !important;
	}
}
.w-95 {
	width: 95%;
}

.float-left {
	float: left;
	margin-left: 0 !important;
}
.float-right {
	float: right;
}
.icon-dimension {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.font-18 {
	font-size: 18px !important;
}
.h-40 {
	height: 40px;
}
@media (max-width: 330px) {
	.SecondaryCTA-html {
		height: 120px !important;
	}
}

/* new css */
@media (max-width: 435px) {
	.font-12-xs {
		font-size: 12px !important;
	}
}
@supports (-ms-ime-align: auto){
	.scrollClass {
		max-height: 950px !important;
	}
}

.md-errors-spacer {
	display: none;
}
.font-18{
	font-size:18px;
	line-height: 18px;
}
@media (min-width:768px) and (max-width: 992px){
  .font-18{
    font-size: 14px !important;
    line-height: 14px;
  }
}
.p-b-4{
  padding-bottom:4px;
}
.text-white{
	color:#ffffff;
}
.border-5a{
	border: 1px solid #5A5A5A;
}
.color-9b{
	color: #9B9B9B;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
  .mr-5{
    margin-right:-5px;
	}
}
.padding-bottom-0{
	padding-bottom: 0 !important;
}
.bg-e5{
	background-color: #fbfbfb;
}
@media (max-width: 767px){
  .bg-e5{
		background-color:#ffffff !important;
	}
	.p-t-24-xs{
		padding-top:24px;
	}
}
.font-ult{
	font-family: Tele-Ult;
	font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;
}