.w-100 {
  width: 100% !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .image-width-xs {
    height: 60px;
  }
  .main-content {
    min-height: calc(100vh - 325px);
  }
  .review-question-content {
    min-height: calc(100vh - 265px);
  }
}
/* review Qustions starts */
.question-text {
  font-family: Tele-Ult;
  font-size: 20px;
  line-height: 18px;
  color: #000000;
}
.font-18 {
  font-size: 18px;
}
.font-weight-normal {
  font-weight: normal;
}
.options-radio-group {
  float: none !important;
}
.options-radio-group label {
  padding: 2px 52px 0px 30px !important;
  margin-bottom: 5px !important;
}
@media only screen and (min-width: 768px) {
  .m-l--40 {
    margin-left: -40px;
  }
  .w-208 {
    width: 208px !important;
  }
}
/* review Qustions ends */
.border-radius {
  border-radius: 0px;
}
.bg-white {
  background-color: #ffffff;
}
.close-width {
  background-image: url(../img/fraud/close_dm.svg);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: transparent;
  float: right;
}
.modal-text {
  font-family: 'arial';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  .modal-heading {
    font-family: 'Tele-Ult';
    font-size: 40px;
    line-height: 38px;
    letter-spacing: -0.17px;
    color: #000000;
  }
  .float-right {
    float: right;
  }
  .d-inline-block-md {
    display: inline-block;
  }
  .p-r-9 {
    padding-right: 9px;
  }
  .padding-horizontal-25 {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .modal-heading {
    font-family: 'Tele-Ult';
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.13px;
    color: #000000;
  }
  .text-center-xs {
    text-align: center;
  }
}
.overlay {
  position: fixed;
  right: 0px;
  left: 0px;
  background-color: #000000;
  top: 0;
  bottom: 0;
}
.overlay-out {
  opacity: 0;
  z-index: -999;
}
.border-color {
  border-color: #e20074 !important;
}
.overlay-in {
  opacity: 0.45;
  transition: 500ms;
  z-index: 1;
}
@media screen {
  .overlay-in {
    transition: 0ms;
  }
}
.dialog-container {
  align-items: center;
  bottom: 0;
  position: absolute;
  top: 35px;
}
.dialog {
  left: 15px;
  position: fixed;
  right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-height: 600px;
  z-index: 1000;
  min-width: 280px;
  max-width: 343px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dialog {
    min-width: 320px;
    max-width: 570px;
  }
}
@media only screen and (min-width: 992px) {
  .dialog {
    min-width: 320px;
    max-width: 767px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dialog {
    left: 0;
    right: 0;
    top: 10%;
    width: 100%;
  }
}
@media screen and (-ms-high-contrast: active) and only screen and (max-width: 374px), (-ms-high-contrast: none) and only screen and (max-width: 374px) {
  .dialog {
    max-width: 310px;
  }
}
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on,
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: #e20074 !important;
}
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: #e20074 !important;
}
md-radio-button {
  pointer-events: none;
}
.md-container,
.md-label {
  pointer-events: visible !important;
}
.PrimaryCTA-normal {
  font-family: Tele-Fet;
  font-weight: normal;
  height: 48px !important;
}
.SecondaryCTA-fraud {
  font-family: Tele-Fet !important;
  font-weight: normal;
  height: 48px !important;
  color: #000000 !important;
}
.teritiary-cta:hover {
  background-color: #ffffff;
  box-shadow: none;
  border-color: none;
  color: #f41a8a;
  outline: none;
  text-decoration: none;
}
md-radio-button {
  margin-bottom: 5px !important;
}
.font-40 {
  font-size: 40px !important;
  line-height: 38px;
}
@media only screen and (max-width: 767px) {
  .font-40 {
    font-size: 32px !important;
    line-height: 30px;
  }
}
.outline-none {
  outline: none;
}
.nowrap {
  white-space: nowrap;
}
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:active:hover {
  box-shadow: none ;
}
