@smartphones: ~"only screen and (min-width: 320px) and (max-width: 767px)";
@laptops: ~"only screen and (min-width: 992px)";
@largeScreens: ~"only screen and (min-width: 1200px)";
@smallDevices: ~"only screen and (max-width: 767px)";
@largeDevices: ~"only screen and (min-width: 768px)";
@Alldeviceexceptsmartphone: ~"only screen and (min-width: 768px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@px-1: 1px;
@px-20: 20px;
@px-12: 12px;
@px-14: 14px;
@px-18: 18px;
@px-24: 24px;
@px-28: 28px;
@px-64: 64px;
@color-d6d6d6: #d6d6d6;
@color-000000: #000000;
@color-magenta: #e20074;
@bg-white: white;
.w-100 {
    width: 100% !important;
}

@media @smartphones {
    .image-width-xs {
       // width: 60px;
        height: 60px;
    }
    .main-content {
        min-height: ~"calc(100vh - 325px)"
    }
    .review-question-content{
        min-height: ~"calc(100vh - 265px)"
    }
}

/* review Qustions starts */

.question-text {
    font-family: Tele-Ult;
    font-size: @px-20;
    line-height: @px-18;
    color: @color-000000;
}

.font-18 {
    font-size: 18px;
}

.font-weight-normal {
    font-weight: normal;
}

.options-radio-group {
    float: none !important;
}

.options-radio-group label {
    padding: 2px 52px 0px 30px !important;
    margin-bottom: 5px !important;
}
@media @largeDevices {
    .m-l--40 {
        margin-left:-40px;
    }
    .w-208{
        width:208px !important;
    }
}
/* review Qustions ends */
// modal pop strts
.border-radius {
    border-radius: 0px;
}

.bg-white {
    background-color: #ffffff;
}

.close-width {
    background-image: url(../img/fraud/close_dm.svg) ;
    width: 20px;
    height: 20px; 
    float: right;
    background-color: transparent;
    border: transparent;
    float: right;
}


.modal-text {
    font-family: 'arial';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
}

@media @Alldeviceexceptsmartphone {
    .modal-heading {
        font-family: 'Tele-Ult';
        font-size: 40px;
        line-height: 38px;
        letter-spacing: -0.17px;
        color: #000000;
    }
    .float-right {
        float: right;
    }
    .d-inline-block-md {
        display: inline-block;
    }
    .p-r-9 {
        padding-right: 9px;
    }
    .padding-horizontal-25 {
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media @smartphones {
    .modal-heading {
        font-family: 'Tele-Ult';
        font-size: 32px;
        line-height: 30px;
        letter-spacing: -0.13px;
        color: #000000;
    }
    .text-center-xs {
        text-align: center;
    }
}

//<!--  modal width -->
.overlay {
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #000000;
    top: 0;
    bottom: 0;
}

.overlay-out {
    opacity: 0;
    z-index: -999;
}
.border-color {
    border-color: @color-magenta !important;
}
.overlay-in {
    opacity: 0.45;
    transition: 500ms;
    z-index: 1;
}

@media screen {
    .overlay-in {
        transition: 0ms;
    }
}

.dialog-container {
    align-items: center;
    bottom: 0;
   // display: flex;
    position: absolute;
    top: 35px;
}

.dialog {
    left: 15px;
    position: fixed;
    right: 15px;
    margin-right: auto;
    margin-left: auto;
    max-height: 600px;
    z-index: 1000;
    min-width: 280px;
    max-width: 343px;
    @media @tablets {
        min-width: 320px;
        max-width: 570px;
    }
    @media @laptops {
        min-width: 320px;
        max-width: 767px;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    left: 0; 
    right: 0; 
    top: 10%; 
    width: 100%; 
    @media only screen and (max-width: 374px) {
      max-width: 310px; 
    }
  }
}
  md-radio-button.md-default-theme .md-on,
md-radio-button .md-on,
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
    border-color: @color-magenta !important;
}

md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
    background-color: @color-magenta !important;
}
md-radio-button{
   pointer-events: none;
}
.md-container,.md-label
{
pointer-events: visible !important;
}
.PrimaryCTA-normal{
    font-family: Tele-Fet;
    font-weight: normal;
    height: 48px !important;
}
.SecondaryCTA-fraud{
    font-family: Tele-Fet !important;
    font-weight: normal;
    height: 48px !important;
    color:#000000 !important;
}
.teritiary-cta:hover {
    background-color: #ffffff;
    box-shadow: none;
    border-color: none;
    color: #f41a8a;
    outline: none;
    text-decoration: none;
}
md-radio-button{
    margin-bottom: 5px !important;
}
.font-40{
    font-size: 40px !important;
    line-height: 38px;
}
@media @smallDevices{
    .font-40{
        font-size: 32px !important;
        line-height: 30px;
    } 
}
.outline-none{
    outline: none;
}
.nowrap{
    white-space: nowrap;
}
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:active:hover{
    box-shadow: none ;
}