<!DOCTYPE html>
<html  ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/2a-and-2b-modal.css">
</head>
 
<body ng-controller="modalController" ng-cloak>
    <div class="row no-margin p-t-80">
        <div class="col-xs-12 no-padding text-center">
            <button class="btn btn-primary border-radius" ripple ng-click="visible=!visible">Modal button</button>
        </div>
    </div>
    <div class="dialog-container">
        <div class="dialog animation-out cart-scroll body-height bg-white" ng-class="{'animation-in':visible, 'w-464': byod}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button class="close close-width" ng-click="close()">&times;
                    </button>
                </div>
            </div>
            <div class="row no-margin p-t-17-md p-t-19-xs">
                <div class="col-xs-12 text-center" ng-if="!byod">
                    <p class="heading mb-0 ">Select a device</p>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 text-center no-padding" ng-if="byod" >
                    <p class="heading mb-0">Select a device or bring your own.</p>
                </div>
            </div>
            <div class="row no-margin">
                    <div class="col-xs-12 d-flex align-items-start padding-vertical-large-md padding-horizontal-70-xs justify-content-center" 
                    ng-class="{'padding-horizontal-53-md padding-horizontal-70-xxs': !byod, 'padding-horizontal-37-md padding-horizontal-57-xxs' :byod}">
                        <div class="text-center phoneDiv" ng-repeat="detail in details" ng-class="{ 'p-r-18': !byod && $index === 0, 'm-r-70 m-r-30-xs' : byod && $index !== details.length - 1}">
                               <div class="device-img-container"><img ng-src="{{detail.imageURL}}" ng-class="{'phone1': $index === 0, 'phone2': $index !==0}"> </div>  
                                <p class="description mb-0 p-t-7">{{detail.desc}}</p>
                        </div>
                </div>

            </div>
        </div>
        <div class="overlay" ng-click="close()" ng-class="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>