<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>3.2</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="page-css/stores.css">
</head>
<body ng-controller="InStoreCtrl">
     <div class="row no-margin p-t-80" ng-class="{'hidden-xs': visible}">
        <div class="col-xs-12 no-padding text-center">
            <button class="btn btn-primary border-radius" ripple ng-click="visible=!visible">cart</button>
        </div>
    </div>
    <div class="cartDialogContainer">
        <div class="cartDialog cartAnimationOut cart-scroll body-height" ng-class="{'cartAnimationIn':visible}">
             <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button class="close close-width glyphicon-close-3-2" ng-click="close()">
                    <span aria-hidden="true" class="pull-right">&times;</span>
                    </button>
                </div>
            </div>
            <div class="container-fluid bg-white" ng-class="{'hidden-xs': !visible}">
                <div class="p-t-30-sm">
                    <div class="row text-center">
                        <div class="tick-icon"></div>
                        <div class="p-t-8 display4-bold clr-black-32">You’re all set.</div>
                        <div class="p-t-8 body">Check your email for confirmation.</div>
                    </div>
                    <div class="row text-center p-t-80 order-in-store-3-2 display4-bold clr-black-32">
                        Complete order in-store.
                    </div>
                    <div class="row">
                        <div class="col-xs-12 p-t-11 no-padding" ng-repeat="location in locationDetails">
                            <div class="col-xs-12 no-padding vertical-align-items bg-3-2">
                                <div class="col-xs-10 body">
                                <div class="body text-bold p-b-5">{{location.street1}} <span class="body font-grey"> {{location.miles}}</span>
                                    </div>
                                <div>{{location.street2}}</div>
                                <div>{{location.timing}}</div>
                                <div class="body font-grey p-t-1">{{location.waitTime}}</div>
                                  </div>
                                <div class="col-xs-2 p-r-26"> 
                                    <i class="fa fa-angle-right pull-right"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 p-t-19 p-b-10">
                                <a href="#" class="link-small">{{location.text1}}</a> | 
                                <a href="#" class="link-small">{{location.text2}}</a> | 
                                <a href="#" class="link-small">{{location.text3}}</a>
                            </div>
                            <div class="col-xs-12">
                            <hr class="line border-e9">
                            </div>
                            <div class="col-xs-12 body-small p-t-14 p-b-15" ng-class="{'font-green p-t-10-xs': location.isInStock}">
                                <i class="fa fa-check glyphicon-check" ng-if="location.isInStock"></i>{{location.stock}}
                                <span class="show-items-3-2">Show items</span>
                            </div>
                    </div>
                    <div class="col-xs-12 border-bottom-2px"></div>
                       
                    </div>
                <div class="row store-loc-holder-3-2">
                    <img src="img/location.png" class="location-icon">
                    <span class="store-loc-text-3-2 body-small">Change store location</span>
                </div>
            </div>
        </div>
     </div>
    <div class="cartOverlay" ng-click="close()" ng-class="{'cartOverlayIn':visible,'cartOverlayOut':!visible}"></div>
    </div>
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
</body>
</html>