<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="page-css/stores.css">
</head>

<body class="bg-white" ng-controller="cartController" ng-cloak>
     <div class="row no-margin p-t-80">
                <div class="col-xs-12 no-padding text-center">
                     <button class="btn btn-primary border-radius" ripple ng-click="visible=!visible">cart</button>
         </div>
    </div>
      <div class="cartDialogContainer">
        <div class="cartDialog cartAnimationOut cart-scroll" ng-class="{'cartAnimationIn':visible}">
             <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button class="close close-width close-black" ng-click="close()">
                    <span aria-hidden="true" class="pull-right">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row no-margin bg-white p-t-30-sm">
                <div class="col-xs-12 text-center">
                   <img src="http://fpoimg.com/48x48">
                </div>
                <div class="col-xs-12 display4-bold p-t-8 text-center clr-black-32">{{title2}}</div>
                <div class="col-xs-12 sub-head p-t-3 text-center">{{location}}</div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 no-padding body-small-MT p-t-26 text-center">Enter a valid email below and complete your  
order at any T-Mobile store. </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 p-t-34 padding-horizontal-large">
                      <label class="legal-description m-b-0">Email<sup>*</sup></label>
          <input type="text" id="inputText" minlength="8" maxlength="50" pattern="[a-zA-Z0-9]*" name="inputText" class="input-border input-modal-border" ng-model="inputtextVal">
        </div>
                <div class="col-xs-12 p-t-42 padding-horizontal-large">
                 <div class="checkbox">
                        <label for="checkbox1">
                            <input id="checkbox1" name="checkbox1" type="checkbox" value="">
                            <div class="indicator p-r-13"><span class="check1"></span></div>
                            <div class="label-copy">
                                <span class="legal-arial inline-block">By checking this box, I agree that T-Mobile, or others acting on it’s behalf may email at the email provided above in order to complete this order. I undersntand that my agreement is not condition of purchasing any goods or services. If I don’t agree I can call T-Mobile at any time to complete my order.</span>
                            </div>
                        </label>
                    </div>
                    </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 padding-horizontal-large p-t-60 p-b-29 text-center">
        <button class="btn btn-primary width-100 border-radius btn-size" ripple>Save cart</button>
        </div>
                </div>
           
        </div>
    <div class="cartOverlay" ng-click="close()" ng-class="{'cartOverlayIn':visible,'cartOverlayOut':!visible}"></div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>