<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
<!--    <link rel="stylesheet" href="css/global.css">-->
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="page-css/plp-tabwide.css">
    <link rel="stylesheet" href="page-css/pdp-features-tab.css">
<!--    <link rel="stylesheet" href="page-css/glue.css">-->
    <link rel="stylesheet" href="page-css/stores.css">
</head>

<body class="bg-white" ng-controller="storeModalCtrl" ng-class="{'no-scroll':visible}">
  <div class="row no-margin">
    <div class="col-xs-12 p-t-80 text-center">
            <button class="btn btn-primary border-radius" ng-click="visible=!visible" ripple>DRP MODAL 3.7</button>
        </div>
    </div>  
      <div class="cartDialogContainer">
        <div class="cartDialog cartAnimationOut" ng-class="{'cartAnimationIn':visible}">
                            <div class="row no-margin">
                    <div class="col-xs-12 no-padding">
                        <button class="close close-width close-black" ng-click="close()">
                        <span aria-hidden="true" class="pull-right">&times;</span>
                        </button>
                    </div>
                </div>
            <div class="bg-white p-t-30-sm">
            <div class="dialog-content">
                <div class="row no-margin bg-white">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 p-t-6 text-center">
                            <div class="tick-icon"></div>
                        </div>
                        <div class="col-xs-12 p-t-6 display4-bold text-center">
                        <p class="clr-black-32">You’re all set. </p>
                        <p class="clr-black-32 p-b-5-xs">Will see you soon.</p>
                        <p class="sub-head clr-black">DOWNTOWN - SEATTLE (430)</p>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 p-t-22 padding-horizontal-large text-center body-small-MT">
                            We sent you a confirmation email. Be sure to tell the 
                            in-store sales rep you have a saved cart. All you 
                            need is your email address to retrieve it. 
                        </div>
                     </div>
                </div>        
            </div>
            <div class="row no-margin bg-white p-t-14-xs">
                        <div class="col-xs-12 col-sm-6 cartPull-right-sm padding-horizontal-large p-t-60-sm text-center">
                <button class="btn btn-primary width-100 border-radius" ripple>Got it</button>
            </div> 
            <div class="col-xs-12 col-sm-6 padding-horizontal-large p-t-60-sm p-t-14-xs p-b-34 text-center cartPull-right-sm">
                <button class="btn btn-secondary width-100 p-b-29 border-radius" ripple>Schedule in-store appointment</button>
            </div>  
            </div>
          </div>
        </div>
    <div class="cartOverlay" ng-click="close()" ng-class="{'cartOverlayIn':visible,'cartOverlayOut':!visible}"></div>
      </div>


<script src="js/core/angular.min.js"></script>
<script src="js/core/angular-animate.min.js"></script>
<script src="js/core/angular-aria.min.js"></script>
<script src="js/core/angular-cookies.min.js"></script>
<script src="js/core/angular-loader.min.js"></script>
<script src="js/core/angular-messages.min.js"></script>
<script src="js/core/angular-message-format.min.js"></script>
<script src="js/core/angular-sanitize.min.js"></script>
<script src="js/core/angular-touch.min.js"></script>
<script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
<script src="js/app.js"></script>
<script src="js/ripple.js"></script>
</body>
</html>