<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/3a-and-3b-modal.css">
</head>

<body ng-controller="modalController" ng-cloak>
    <div class="row no-margin p-t-80">
        <div class="col-xs-12 no-padding text-center">
            <button class="btn btn-primary border-radius" ripple ng-click="visible=!visible">Modal button</button>
        </div>
    </div>
    <div class="dialog-container" ng-if="productDetails">
        <div class="dialog animation-out cart-scroll body-height bg-white" ng-class="{'animation-in':visible}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button class="close close-width" ng-click="close()">&times;
                    </button>
                </div>
            </div>
            <div class="row no-margin p-t-17">
                <div class="col-xs-12 col-md-3 no-padding sim-card text-center">
                    <img ng-src="{{productDetails.productImageURL}}">
                </div>
                <div class="col-xs-12 col-md-9 no-padding p-l-23-md p-t-25-xs p-l-22-xs">
                    <p class="heading mb-0">{{productDetails.productName}}</p>
                    <p class="p-t-24-md p-t-27-xs font-family-telefet font-12 font-11-xs">{{productDetails.productListTitle}}</p>
                    <div ng-controller="DropdownCtrl" class="simcard-dropdown col-xs-12 no-padding ">
                        <div class="dropdown" uib-dropdown is-open="status.isopen">
                            <div id="simcardDropdown" class="selector dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                {{selectedOption || productDetails.productListItems[0].title}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simcardDropdown">
                                <li role="menuitem" class="dropdown-option" ng-repeat="option in productDetails.productListItems">
                                    <a href="#" ng-click="change(option.title)">{{option.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="body-text p-t-17 p-r-27 col-xs-12 no-padding">{{productDetails.productDescription}}</p>
                    <p class="body-text p-t-17 font-9">Requires purchase of a plan.</p>
                    <hr class="horizontal-bar" />
                    <p class="body-text font-12">Pricing AWESOME CREDIT</p>
                    <div class="price-section">
                        <p class="body-text font-12 p-t-7">Full Retail Price</p>
                        <p class="font-family-telefet font-32 text-align-center mb-0"><sup>$</sup>{{productDetails.productPrice
                            | priceFilter:'dollar'}}<sup>{{productDetails.productPrice | priceFilter:'cent'}}</sup></p>
                        <p class="body-text text-align-center color-black"><span class="font-12">Today</span><br /><span
                                class="font-9">+ taxes and shipping</span></p>
                    </div>
                    <div class = "text-center-md p-t-30 p-t-50-sm">
                    <button ripple class="btn btn-primary add-to-cart mb-39">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" ng-click="close()" ng-class="{'overlay-in':visible,'overlay-out':!visible}"></div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>