<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/authentication-prompt.css">
</head>

<body ng-controller="authenticationController" ng-cloak ng-keydown="$event.keyCode==9?hello($event):null">
    <div class="container">
        <div class="row no-margin p-t-80">
            <div class="col-xs-12 no-padding text-center">
                <button ripple class="btn btn-primary border-radius-0" tabindex="{{!visible?0:-1}}" role="button" ng-click="authenticationModalTab()">Modal button</button>
            </div>
        </div>
        <div class="dialog-container" aria-hidden="{{!visible}}">
            <div class="dialog animation-out cart-scroll body-height bg-f8f8f8" ng-class="{'animation-in':visible}" id="modalBody" ng-keydown="backTabEvent($event,'modalBody')">
                <div class="container">
                    <div class="row no-margin">
                        <div class="col-xs-12 no-padding text-align-right p-t-24-sm p-t-13-xs">
                            <span class="cursor" ng-click="close()" tabindex="{{visible? '0':'-1'}}" aria-label="click here to close the modal">
                                <span class="shape">
                                    <img src="./img/cross-icon.png" class="p-r-3 cross">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="row p-t-56-sm p-t-13-xs">
                        <div class="col-xs-12 col-md-6">
                            <span class="section-1" tabindex="{{visible? '0':'-1'}}" aria-label="We see you're already a T-Mobile customer">We see you're already a T-Mobile customer</span>
                        </div>
                    </div>
                    <div class="row p-t-24">
                        <div class="col-xs-12 col-md-6">
                            <span class="section-2" tabindex="{{visible? '0':'-1'}}" aria-label="Log in or set up your T-Mobile ID to complete your purchase.">Log in or set up your T-Mobile ID to complete your purchase.</span>
                        </div>
                    </div>
                    <div class="row p-t-48">
                        <div class="col-xs-12 col-md-4 text-center-md">
                            <button ripple class="btn btn-primary w-100 border-radius-0" tabindex="{{visible? '0':'-1'}}" role="button" id="loginBUtton">Log in</button>
                        </div>
                    </div>
                    <div class="row p-t-24">
                        <div class="col-xs-12 col-md-4 text-center-md">
                            <button ripple class="btn btn-secondary bg-f8f8f8 w-100 border-radius-0" tabindex="{{visible? '0':'-1'}}" role="button">Continue as a new customer</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="overlay" ng-click="close()" ng-class="{'overlay-in':visible,'overlay-out':!visible}" tabindex="-1"></div>
        </div>
    </div>

    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>
