<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="page-css/plp-tabwide.css">
    <link rel="stylesheet" href="page-css/pdp-features-tab.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/stores.css">
</head>

<body class="bg-white" ng-controller="storeModalCtrl" ng-class="{'no-scroll':visible}">
    <!--Main Container Start-->
    <main class="middle-content" ng-class="{'hidden-xs visible-sm visible-md visible-lg':visible}">
        <div class="container no-padding">
            <div class="row no-margin">
                <div class="col-xs-12 col-sm-6 phone-carousel padding-top-xl no-padding">
                    <!-- left coloum begin-->
                    <section id="carousel1">
                        <!-- Carousel Begin-->
                        <div ng-controller="CarouselDemoCtrl">
                            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">

                                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                                    <div>
                                        <div class="promo-circle-wrapper" style="padding-right: 220px;">
                                            <div class="circle-promo">
                                                <span class="promo-text">PROMO TEXT</span>
                                            </div>
                                        </div>
                                    </div>
                                    <img ng-src="{{slide.image}}" style="margin:auto;">

                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Carousel End-->
                </div>
                <!-- left coloum End-->
                <div class="col-xs-12 col-sm-6 m-t-35-xs">
                    <!-- Right coloum Begin-->
                    <div class="padding-top-xl">
                        <h3>Apple iPhone 6s</h3>
                        <div class="padding-top-medium padding-bottom-large">
                            <div class="star-rating icon" href="javascript:void(0)">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star text-gray-light"></i>
                                <span class="xsmall">(154)</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-6 no-padding padding-bottom-large color-picker-accordion">
                        <!-- accordion content Begin -->
                        <section id="accordion">
                            <div ng-controller="AccordionDemoCtrl">
                                <script type="text/ng-template" id="accordion-group-template.html">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                                    {{heading}}
                                                </span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                        <div class="panel-body" style="text-align: left" ng-transclude></div>
                                    </div>
                                </script>
                                <uib-accordion close-others="oneAtATime">
                                    <div class="color-picker">
                                        <p class="font-family-telefet text-gray-dark font-size-14 padding-bottom-small">COLOR:
                                            <span class="selected-color">Space Gray</span>
                                        </p>
                                        <label class="rad">
                                            <input type="radio" name="color" value="space_gray" checked="checked">
                                            <span class="paragraph-bold" data-color="space_gray" data-color-label="Space Gray"></span>
                                        </label>
                                        <label class="rad">
                                            <input type="radio" name="color" value="rose_gold">
                                            <span class="paragraph-bold" data-color="rose_gold" data-color-label="Rose Gold"></span>
                                        </label>
                                        <label class="rad">
                                            <input type="radio" name="color" value="gold">
                                            <span class="paragraph-bold" data-color="gold" data-color-label="Gold"></span>
                                        </label>
                                        <label class="rad">
                                            <input type="radio" name="color" value="gray">
                                            <span class="paragraph-bold" data-color="gray" data-color-label="Gray"></span>
                                        </label>
                                    </div>
                                    <div uib-accordion-group class="panel-default" is-open="status.item[1]" is-open="status.item[1]" ng-init="status.item[1] = true"
                                        template-url="accordion-group-template.html">
                                        <uib-accordion-heading>
                                            <i class="pull-right fa" ng-class="{'fa-chevron-up': status.item[1], 'fa-chevron-down': !status.item[1]}"></i>
                                        </uib-accordion-heading>
                                        <div class="color-picker">
                                            <label class="rad">
                                                <input type="radio" name="color" value="red">
                                                <span class="paragraph-bold" data-color="red" data-color-label="red"></span>
                                            </label>
                                            <label class="rad">
                                                <input type="radio" name="color" value="green">
                                                <span class="paragraph-bold" data-color="green" data-color-label="green"></span>
                                            </label>
                                            <label class="rad">
                                                <input type="radio" name="color" value="brown">
                                                <span class="paragraph-bold" data-color="brown" data-color-label="brown"></span>
                                            </label>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                        </section>
                        <!-- accordion content Begin -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1 no-padding padding-bottom-xl">
                        <p class="font-family-telefet text-gray-dark font-size-14 padding-bottom-small">MEMORY</p>
                        <div ng-controller="DropdownCtrl">
                            <div class="dropdown" uib-dropdown is-open="status.isopen">
                                <div id="memoryDropdown" class="selector dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                    128GB
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="memoryDropdown">
                                    <li role="menuitem" class="dropdown-option">
                                        <a href="#">64GB</a>
                                    </li>
                                    <li role="menuitem" class="dropdown-option">
                                        <a href="#">128GB</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-7 p-b-20">
                                <p class="font-family-telefet text-gray-dark font-size-14 padding-bottom-small">PRICING OPTIONS</p>
                                <div ng-controller="DropdownCtrl" class="">
                                    <div class="dropdown" uib-dropdown is-open="status.isopen">
                                        <div id="paymentsDropdown" class="selector dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                                            Monthly Promo
                                        </div>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="paymentsDropdown">
                                            <li role="menuitem" class="dropdown-option">
                                                <a href="#">Monthly Payments</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!--         <div class="col-xs-12 border-top-gray visible-xs"> </div>-->
                        </div>
                    </div>



                    <!--                    <div class="col-xs-12 border-top-gray no-padding hidden-xs"> </div>-->
                    <div class="col-xs-12 no-padding" ng-controller="SeemoreCtrl1">

                        <div class="price-lockup price-lockup-large padding-bottom-medium">
                            <p class="After-300-trade-in  color-6A6A6A p-b-10 ">After $300 trade-in promo </p>
                            <ul class="cost-wrapper">
                                <li class="cost text-magenta today-align">
                                    <sup class="dollar-sign">$</sup>
                                    <span class="daily-total dollars">100</span>
                                    <sup class="daily-total cents">00</sup>
                                    <span class="cost-header paragraph-bold xsmall today-align">Today</span>
                                    <span class="cost-header reg  arial grey-dark  xsmall p-t-8 today-align" style="font-weight:normal">+ tax
                                        <a href="">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </li>
                                <li class="cost-divider text-magenta ">/</li>
                                <li class="cost today-align">
                                    <sup class="dollar-sign">$</sup>
                                    <span class="monthly-total dollars">0</span>
                                    <sup class="monthly-total cents">00</sup>
                                    <span class="cost-header paragraph-bold xsmall today-align">Monthly</span>
                                    <span class="cost-header reg  arial grey-dark  xsmall p-t-8 today-align" style="font-weight:normal">(x 24 mos.)</span>
                                </li>
                            </ul>
                            <div class="col-xs-12 col-lg-10 no-padding padding-bottom-large padding-bottom-medium-xs rate-content">
                                <p class="fine-print-body ">
                                    <b>If you cancel wireless service, remaining balance on device's full retail price of $649.99
                                        becomes due.</b> For well qualified buyers. 0% APR. O.A.C. Qual’g service req’d.</p>
                            </div>
                        </div>
                        <!--<div class="wd-need">
						<div class="col-xs-12 border-top-custom no-padding line-style "> </div>
                        <p class="fine-print-body text-bold padding-vertical-small xsmall clr-black ">Full retail price <strike>$599</strike><sup>00</sup> $549<sup>00</sup></p>
                         </div>
                        <div class="col-xs-12 no-padding padding-bottom-large padding-bottom-medium-xs ">
                            <p class="fine-print-body ">For well qualified buyers. 0% APR. O.A.C. Qual’g service req’d.</p>
                        </div>-->


                        <!--<div class="col-xs-12 col-lg-10 p-l-0 p-r-0 border-top padding-top-large glueHyperLink">
                            <span class="pull-left">
                                <a popover-placement="auto top" uib-popover="Includes your T-Mobile SIM card, which allows you to access T-Mobile's network. Also features tips on how to make the most of your mobile experience and a coupon for 20% off accessory."
                                    popover-trigger="'mouseenter'" class="icon p-t-5 glueHyperLink" href="javascript:void(0)">
                                    <i class="fa fa-info-circle "></i>
                                </a>
                            </span>
                            <a class="small pull-left p-l-5">
                                <span class="font-size-14">SIM starter kit +$15.00</span>
                            </a>
                        </div>-->


                        <div class="col-xs-12 p-l-0 p-r-0 padding-top-small padding-bottom-large">
                            <span class="pull-left icon">
                                <i class="fa fa-tag text-gray"></i>
                            </span>
                            <p class="small font-size-14 pull-left text-gray p-l-5">Generic promo text</p>
                        </div>

                        <!-- <div class="col-xs-12 no-padding">
                            <div class="row">
                                <div class="col-xs-12 border-top-gray visible-xs padding-bottom-large"> </div>
                            </div>
                        </div> -->

                        <div ng-if="!isLimitedAccess" class="col-xs-12 no-padding ">

                            <div  class="text-center-xs p-t-10">
                                <button class="btn glueButton glueButtonPrimary" ripple ng-click="next()">Upgrade</button>
                            </div>
                            <div   class="text-center-xs padding-top-large " >
                                <button class="btn glueButton glueButtonPrimary" ripple ng-click="next()" ng-disabled="!isAddALineEnabled">Add a line</button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-11 col-lg-10  no-padding padding-top-small">

                            <div ng-if="(!isLimitedAccess && isAddALineEnabled)" class="text-center-xs ">
                                <span class="fine-print-body  ">+ <s>$25.00</s> $15.00 SIM starter kit will automatically be added when you add a line <a href="">
                                    <i class="fa fa-question-circle text-black" aria-hidden="true"></i>
                                </a></span>
                            </div>
                            <div ng-if="(!isLimitedAccess && !isAddALineEnabled)" class="text-center-xs">

                                <span class="fine-print-body  ">To add a line, Please <a class="visible-xs dis-in">contact care</a>. You have exceeded maximum amount of lines on your account.</span>

                            </div>
                            <div ng-if="isLimitedAccess" class="text-center-xs p-t-5">
                                <div class="border-be">
                                 <span class="fine-print-body text-e8200d ">You do not have permission to upgrade or add a line. Please contact your primary account holder to proceed.</span>
                                </div>
                            </div>
                            <div class="col-xs-12 rectangle-4">
                                <div class="col-xs-12 textData">
                                    Why wait for your device. Make an appointment in-store today to pick it up.
                                </div>
                                <div class="col-xs-12 button-holder">
                                    <button class="btn btn-primary border-radius" ripple>Schedule in-store appointment</button>
                                </div>
                                <div class="col-xs-12 location-holder">
                                    <span class="location-rect-4">Downtown - Seattle (430)</span>
                                    <span class="distance-rect-4"> ∙ 0.2 miles</span>
                                </div>
                                <div class="col-xs-12 stock-rect-4 no-padding">
                                    <i class="fa fa-check"></i><span>In stock.</span>
                                </div>
                                <div class="col-xs-12 storelocation-rect-4 no-padding">
                                    <img src="./img/location.png" class="Combined-Shape">
                                    <span ng-click="isVisible()">Change store location.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-xs-12 border-bottom-desktop p-t-35-xs"> </p>
                        </div>

                        <!--  <div class="row no-margin padding-bottom-large">
                            <div class="col-xs-12 col-md-11 col-lg-10 no-padding">
                                <p>With 3D Touch, Live Photos, 7000 series aluminum, A9 chip, advanced cameras, 4.7-inch Retina HD display and so much more, you'll see how - with IPhone 6s - the only thing that's changed is everything...<a href="#">See more</a></p>
                            </div>
                        </div> -->

                        <div class="row no-margin padding-bottom-large padding-top-xl glueHyperLink">
                            <div class="col-xs-12 col-md-11 col-lg-10 no-padding">
                                <p style="display:inline" ng-if="!isShowOpen">{{description.substring(0,199) + (description.length > 199 ? '...' : '')}} </p>
                                <p style="display:inline" data-ng-show="isShowOpen">{{description}} </p>
                                <a data-ng-click="isShowOpen = !isShowOpen" ng-show="!isShowOpen && description.length>199" class="glueHyperLink">See more</a>
                                <a data-ng-click="isShowOpen = !isShowOpen" ng-show="isShowOpen" class="glueHyperLink">See less</a>
                            </div>
                        </div>
                        <div class="row no-margin padding-bottom-xl legal glueHyperLink">
                            <div class="col-xs-12 col-md-11 col-lg-10 no-padding">
                                <!-- <p class="legal">With 3D Touch, Live Photos, 7000 series aluminum, A9 chip, advanced cameras, 4.7-inch Retina HD display and so much more, you'll see how - with IPhone 6s - the only thing that's changed is everything...<a href="#">See more</a></p> -->
                                <p style="display:inline" ng-if="!islegalShowOpen">{{legal.substring(0,199) + (legal.length > 199 ? '...' : '')}} </p>
                                <p style="display:inline" data-ng-show="islegalShowOpen">{{legal}} </p>
                                <a data-ng-click="islegalShowOpen = !islegalShowOpen" ng-show="!islegalShowOpen && legal.length>199" class="glueHyperLink">See more</a>
                                <a data-ng-click="islegalShowOpen = !islegalShowOpen" ng-show="islegalShowOpen" class="glueHyperLink">See less</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Right coloum End-->
            </div>
        </div>
        <!--/ div.container -->

    </main>
    <!--Main Container End-->
    <!--modal starts-->
      <div class="dialogContainer" ng-class="{'hidden-xs':!visible}">
        <div class="dialog AnimationOut" ng-class="{'AnimationIn':visible}">
            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <button class="close" ng-click="close()">
                    <span aria-hidden="true" class="pull-right">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row no-margin dialog-height">
                <div class="col-xs-12 col-sm-5 no-padding scroll">
                <div class="col-xs-12 p-t-21 hidden-xs">
                    <a href="#" class="link">
                        <i class="fa fa-angle-left"></i>Go back</a>
                </div>
                <div class="col-xs-12 display4 p-b-16-xs hidden-sm hidden-md hidden-lg">{{title}}</div>
                <div class="col-xs-12 p-t-11-sm p-b-19-xs p-b-9">
                 <div class="checkbox">
                        <label for="checkbox1">
                            <input id="checkbox1" name="checkbox1" type="checkbox" value="">
                            <div class="indicator p-r-21"><span class="check1"></span></div>
                            <div class="label-copy">
                                <span class="p-b-5 inline-block">{{content1}}</span>
                                        <div class="legal">{{content2}}
                                        </div>
                            </div>
                        </label>
                    </div>
                    </div>
               <div class="col-xs-12 border-bottom-2px"></div>
                 <div class="col-xs-12">
          <span class="search-icon cursor"></span>
          <input type="text" id="inputText" minlength="8" maxlength="50" pattern="[a-zA-Z0-9]*" name="inputText" class="input" ng-model="inputtextVal">
        </div>
                <div class="col-xs-12 border-bottom-2px"></div>
            <div class="col-xs-12 no-padding p-t-15" ng-repeat="location in locationDetails" ng-class="{'first-box': $index==0}">
                <div class="col-xs-12 no-padding vertical-align-items">
                <div class="col-xs-10 body">
                <div class="text-bold p-b-5">{{location.street1}} <span class="font-grey"> {{location.miles}}</span>
                    </div>
                <div>{{location.street2}}</div>
                <div>{{location.timing}}</div>
                <div class="font-grey p-t-1">{{location.waitTime}}</div>
                    <div class="hidden-sm hidden-md hidden-lg p-t-19-xs p-b-10-xs" ng-if="location.isInStock">
                        <a href="#" class="link-small">{{location.text1}}</a> | 
                        <a href="#" class="link-small">{{location.text2}}</a> | 
                        <a href="#" class="link-small">{{location.text3}}</a>
                            </div>
                  </div>
                <div class="col-xs-2 p-r-26"> 
                        <i class="fa fa-angle-right pull-right"></i>
                </div>
                
                </div>
                  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" ng-if="location.isInStock">
                <hr class="line">
                </div>
                <div class="col-xs-12 body-small p-t-14 p-b-15" ng-class="{'font-green p-t-10-xs': location.isInStock}">
                    <i class="fa fa-check check-icon" ng-if="location.isInStock"></i>{{location.stock}}
                </div>
                <div class="col-xs-12 border-bottom-2px"></div>
                    </div>
                 </div>
             <div class="col-sm-7 hidden-xs bg-white">
             </div>
            </div>
        </div>
    <div class="overlay" ng-click="close()" ng-class="{'overlayIn':visible,'overlayOut':!visible}"></div>
    <!--modal ends-->
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>