<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>loading-screen</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/loading-screen.css">
</head>

<body ng-controller="loadingScreenController" ng-cloak ng-init="init()">
    <div class="container ">
        <div class="loader-position">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-lg-offset-3 col-lg-6 no-padding ">
                    <div class="text-center" aria-live="assertive"><span class="status-heading" tabindex="0" aria-label="{{loadingSteps[StepIndex]}}" >{{loadingSteps[StepIndex]}}</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 no-padding ">
                    <div class="text-center p-v-24 p-t-40-sm p-b-32-sm">
                        <loadingbar type="info" start="{{timer_running}}" tabindex="0" aria-label="loading bar"></loadingbar>
                    </div>
                    <div class="text-center">
                        <span class="info-text" tabindex="0" aria-label="This won't take long at all">This won't take long at all</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
</body>

</html>