<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/login-modal.css">
</head>

<body ng-controller="loginModalController" ng-cloak ng-init="init()" ng-keyup="keyPress($event.keyCode)">
    <div class="col-xs-12 no-padding text-center p-t-80" ng-class="{'position-fixed': loginModalVisible || visible}">
        <button class="btn btn-primary border-radius-0" tabindex="{{!loginModalVisible? '0' : '-1' }}" ripple
            ng-click="loginModalTab()" id="modalBtn">Modal button</button>
    </div>
    <div class="dialog-container animation-out" ng-class="{'animation-in':loginModalVisible}"
        ng-click="dialogContainerClick()" aria-hidden="{{!loginModalVisible}}">
        <div class="row" ng-if="!mobile">
            <div class="col-xs-1 no-padding text-right close-position hidden-xs">
                <span class="cursor fa fa-times color-e20074" tabindex="{{loginModalVisible? '0':'-1'}}"
                    id="modalBodyclose" ng-click="close()" ng-keyDown="$event.keyCode==13? close() :null"
                    aria-label="click here to close the modal">
                </span>
            </div>
        </div>
        <div class="dialog  cart-scroll body-height margin-vertical-100 bg-f8f8f8" ng-click="dialogClick()"
            tabindex="-1" id="modalBody" ng-keydown="backTabEvent($event,'modalBodyclose','continueBtn')">
            <div class="row p-t-13-xs p-t-8-sm hidden visible-xs">
                <div class="col-xs-12" ng-if="mobile">
                    <span class="cursor pull-right p-r-16-xs p-r-8-sm" ng-click="close()" tabindex="-1">
                        <span class="fa fa-times color-e20074 fa-iconsize" tabindex="{{loginModalVisible? '0':'-1'}}"
                            id="modalBodyclose" aria-label="click here to close the modal"
                            ng-keyDown="$event.keyCode==13? close() :null">
                        </span>
                    </span>
                </div>
            </div>
            <div class="p-t-64-sm ">
                <div class="col-xs-12 p-l-99-sm p-r-97-sm p-t-8-xs p-h-16-xs">
                    <span class="section-1" tabindex="{{loginModalVisible? '0':'-1'}}"
                        aria-label="We see you're already a T-Mobile customer">We see you're already a T-Mobile
                        customer</span>
                </div>
            </div>
            <div class="col-xs-12 p-l-99-sm p-r-97-sm p-t-16 p-h-16-xs">
                <span class="section-2" tabindex="{{loginModalVisible? '0':'-1'}}"
                    aria-label="Log in or set up your T-Mobile ID to complete your purchase.">Log in or set up your
                    T-Mobile ID to complete your purchase.</span>
            </div>
            <div class="col-xs-12 text-center-md p-l-99-sm p-r-97-sm p-t-40-sm p-t-48-xs p-h-16-xs">
                <button ripple class="btn btn-primary w-100 border-radius-0" tabindex="{{loginModalVisible? '0':'-1'}}"
                    role="button" id="loginBUtton">Log in</button>
            </div>
            <div class="col-xs-12  text-center-md p-l-99-sm p-r-97-sm p-t-24 p-b-64-sm p-b-180-xs p-h-16-xs">
                <button ripple class="btn btn-secondary bg-f8f8f8 w-100 border-radius-0"
                    tabindex="{{loginModalVisible? '0':'-1'}}" role="button" id="continueBtn">Continue as a new
                    customer</button>
            </div>
        </div>
    </div>
    <div class="overlay" ng-click="close()" ng-class="{'overlay-in':loginModalVisible,'overlay-out':!loginModalVisible}"
        tabindex="-1"></div>

    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>