<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/my-cart.css">
</head>

<body ng-controller="mycartControlller" ng-cloak>
    <div class="container-fluid">
        <div class="row T-Mobile bg-white">
            <div class="container">
                <div class="col-xs-12 p-v-15 no-padding">
                    <a class="logo m-b-0 d-block" href="" role="link" aria-label="T mobile logo"></a>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div class="container my-cart">
    <div ng-if="!data.emptycart">
        <div class="row d-flex-sm align-center">
            <div class="col-xs-12 col-sm-7 m-t-35">
                <span class="page-title" role="heading" tabindex="0">My Cart</span>
            </div>
            <span class="col-xs-12 col-sm-5 primary-link text-right-sm  m-t-10-xs m-t-70-md">
                <span ng-click="" role="link" class="cursor">
                    <i class="fa fa-download p-r-10"></i>Save your cart</span>
                <span class="p-l-20 cursor" ng-click="" role="link">
                    <i class="fa fa-shopping-cart p-r-10"></i>Retrieve cart
                </span>
            </span>
        </div>
        <div class="row">
            <div class="col-xs-12 p-t-10 p-t-20-xs">
                <p class="m-b-0 title-desc" role="note" tabindex="0">Available financing terms determined after credit
                    check; may be different than shown.</p>
            </div>
        </div>
        <div class="row p-t-50">
            <div class="col-xs-12">
                <span class="heading-2  border-bottom p-b-7" role="heading" tabindex="0">Your Plan</span>
            </div>
        </div>
        <div class="row p-t-27 p-t-23-xs">
            <div class="col-xs-12 col-sm-4" ng-repeat="plan in planDetails">
                <div class="plan-container text-center relative" ng-class="{'active': $index == activeIndexItem }"
                    ng-click="activeIndex($index)" ng-keydown="onKeyDown($event,$index)">
                    <div class="plan-specification absolute spec-algin-center" ng-if="plan.bestValue">
                        <span class="plan-specification bg-magenta p-h-6 p-v-3">BEST VALUE
                        </span>
                    </div>
                    <p class="heading-3 p-t-28">{{plan.planTitle}}</p>
                    <p class="plan-content m-b-0 p-h-16">{{plan.planDescription}}</p>
                    <p class="plan-sub-content m-b-0 p-b-14 p-t-21 p-b-23-xs absolute">
                        <span ng-repeat="line in plan.lines">{{line}}
                            <span ng-if="$even && !mobile" class="color-9b9b9b"> | </span>
                            <span ng-if="mobile" class="color-9b9b9b"> | </span>
                            <span ng-if="$odd && !mobile"><br /></span>
                        </span>
                    </p>
                </div>
                <div class="p-t-20-xs p-t-15 p-b-35">
                    <p class="secondary-link m-b-0 cursor" ng-click="" role="link" aria-label="click for taxes and fees">{{plan.planTaxesFees}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-secondary border-radius" ripple role="button" aria-label="click to see details and compare plans">See
                    details and compare plans</button>
            </div>
        </div>
        <div clas="row">
            <div class="col-xs-12 no-padding p-t-20 p-b-20">
                <p class="m-b-0 plan-terms" role="note" tabindex="0">On all T-Mobile plans, during congestion, the
                    small fraction of customers using >50GB/month may notice reduced speeds until next bill cycle due
                    to data prioritization. Video typically streams at DVD quality (480p). Receive Netflix Standard
                    2-screen (up to $10.99/mo. value) while you maintain 2+ qualifying T-Mobile ONE lines in good
                    standing. Taxes and fees not included on T-Mobile No Credit Check Plans.</p>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xs-12 p-t-50" ng-if="!data.emptycart">
                <span class="heading-2 p-b-7 border-bottom" role="heading" tabindex="0">Add more lines or devices</span>
            </div>
        </div>
        <div class="row lines-section m-t-23 m-horizontal-0" ng-if="linesDevices" ng-class="{'m-t-32 m-t-15-xs': data.emptycart}">
            <div class="col-xs-12 bg-white text-center p-v-20 p-v-24-sm border-bottom-grey " ng-if="data.emptycart">
                <span class="heading-2 font-32-xs font-48-sm " role="heading" tabindex="0">Let’s start shopping!</span>
            </div>
            <div class="col-xs-12 col-md-15 bg-white text-center-sm p-v-15-xs p-v-35 border-right-grey-sm border-bottom-grey-xs d-flex align-center d-block-sm no-horizontal-padding-sm no-padding"
                ng-repeat="ld in linesDevices" attr.aria-label='click on {{ld.LDTitle}}' ng-click="">
                <span class="col-xs-3 col-sm-12 lines-link" role="image">
                    <img ng-src='{{ld.img}}' class="custom-dim-xs"></span>
                <span class="col-xs-9 col-sm-12 lines-link p-t-20-sm no-horizontal-padding-sm" role="link">{{ld.LDTitle}}</span>
            </div>
        </div>
        <div class="row p-t-15 p-t-35-sm p-b-35 m-horizontal-0">
            <div class="col-xs-12 col-sm-6 bg-white p-b-16 divht-sm" ng-if="!data.emptycart">
                <p class="heading-3 p-t-20 m-b-0" role="heading" tabindex="0">Promo code</p>
                <p class="plan-content p-t-9 m-b-0" role="note" tabindex="0">Add a giftcard or promotion code</p>
                <div class="row p-t-16 d-flex align-center">
                    <div class="col-xs-7 col-sm-8 no-padding p-l-16"><input type="text" class="input-promo" role="textbox" aria-label="enter promotion code"></div>
                    <div class="col-xs-5 col-sm-4 p-l-16"><button class="btn btn-primary-cart" ripple role="button">Apply</button></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bg-white p-b-16 divht-sm" ng-if="data.emptycart">
                <p class="heading-3 p-t-20 m-b-0" role="heading" tabindex="0">Retrieve cart</p>
                <p class="plan-content p-t-9 m-b-0" role="note" tabindex="0">If you previously saved a cart, enter your email to retrieve it.</p>
                <div class="row p-t-16 d-flex-sm align-center">
                    <div class="col-xs-12 col-sm-7 col-md-8 no-padding-sm p-l-16-sm"><input type="email" class="input-promo" ng-model="email" role="textbox" aria-label="enter email"></div>
                    <div class="col-xs-12 col-sm-5 col-md-4 p-t-15-xs text-center"><button class="btn btn-secondary-cart" ripple role="button">Retrieve cart</button></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 m-t-16-xs no-padding p-l-16-sm">
                <div class="col-xs-12 bg-white p-b-16  divht-sm">
                    <p class="heading-3 p-t-20 m-b-0" role="heading" tabindex="0">Need help with your order?</p>
                    <p class="plan-content p-t-10 m-b-0" role="note" tabindex="0">Your T-Mobile rep will help you find the right fit</p>
                    <a class="d-flex p-t-13 align-center call-us" aria-label="call us at 1-800-T-MOBILE" href="tel:1-800-T-MOBILE"><span ><img src="http://fpoimg.com/48x48" role="image"></span><span class="p-l-10 primary-link">Call
                            us <br />1-800-T-MOBILE</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>