<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/my-cart.css">
</head>

<body ng-controller="mycartControlller">
    
    <div class="container my-cart p-t-69 p-t-340-xs">
        <div class="row d-flex-sm align-center hidden-xs">
            <span class="col-xs-12 col-sm-12 primary-link text-right-sm p-t-24 d-flex justify-content-end">
                <p>
                    <span ng-click="" role="link" class="cursor" tabindex="{{isShowBanner?-1:0}}" id="cartIcon">
                        <i class="fa fa-download p-r-10" aria-label="save cart icon"></i>Save your cart</span>
                </p>
                <p class="m-b-0 p-l-20 cursor">
                    <span class="" ng-click="" role="link" tabindex="{{isShowBanner?-1:0}}">
                        <i class="fa fa-shopping-cart p-r-10" aria-label="Retrieve cart icon"></i>
                        <span role="link">Retrieve cart
                        </span>
                    </span>
                </p>
            </span>
        </div>
        <div class="row visible-xs">
            <span class="col-xs-12 col-sm-12 primary-link text-right-sm p-t-24">
                <span ng-click="" role="link" class="cursor">
                    <i class="fa fa-download p-r-10" aria-label="save cart icon"></i>Save your cart</span>
                <span class="p-l-20 cursor" ng-click="" role="link">
                    <i class="fa fa-shopping-cart p-r-10" aria-label="Retrieve cart icon"></i>
                    <span role="link">Retrieve cart
                    </span>
                </span>
            </span>
        </div>
        <div class="row">
            <div class="col-xs-4 p-t-57 p-t-41-xs">
                <span class="heading-2" role="heading" tabindex="0">Line 1</span>
            </div>
            <div class="col-xs-8 text-right p-t-57 p-t-41-xs">
                <span class="secondary-link">
                    <span tabindex="0" class="cursor" role="link">
                        <i class="fa fa-clipboard p-r-5" aria-label="duplicate icon"></i>Duplicate</span>
                    <span tabindex="0" class="cursor" role="link">
                        <i class="fa fa-trash-o p-r-5 p-l-16" aria-label="Remove icon"></i>Remove</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5 m-t-23-md p-r-0-sm ">
                <div class="EqHeightDiv col-xs-12 no-padding bg-white m-t-15-xs" elem-ready="adjustHeight()">
                    <div class="col-xs-12 bg-white ">
                        <div class="d-flex justify-content-between align-center p-t-15">
                            <span class="heading-line1-section tele-fet font-normal" tabindex="0" role="heading">DEVICE</span>
                            <span class="brand-magenta mb-0 cursor line-height-16" tabindex="0" role="link">
                                <i class="fa fa-edit" aria-label="edit icon"></i>
                                <span class="secondary-link-tele p-l-5">Edit</span>
                            </span>
                        </div>
                        <div class="col-xs-12 no-padding p-t-17-md p-t-10-xs p-t-10-sm d-flex">
                            <div>
                                <img src="./img/iPhone8.png" class="img-dim" alt="device image" tabindex="0" />
                            </div>
                            <div class="col-xs-12 no-padding p-l-25 p-l-16-xs">
                                <div class="col-xs-12 no-padding">
                                    <p class="heading-3 line-height-31 mb-0 pull-left font-normal tele-fet" tabindex="0" aria-label="Apple iPhone XR">Apple iPhone XR</p>
                                    <p class="col-xs-12 no-padding p-t-7 legal mb-0 d-flex align-center hidden-xs hidden-sm line-height-18">
                                        <span tabindex="0" aria-label=">Total Price:">Total Price:</span>
                                        <span class="legal-16-strike p-l-4" tabindex="0" aria-label="$1,299.99 striked">$1,299
                                            <sup>99</sup>
                                        </span>
                                        <span class="legal-16 black p-l-4" tabindex="0" aria-label="$1,099.99">$1,099
                                            <sup>99</sup>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-12 no-padding d-flex align-center p-t-10-md p-t-8-xs">
                                    <div class="color-box-dim bg-3ea6da" tabindex="0" aria-label="blue color"></div>
                                    <p class="legal-16 p-l-10 mb-0 line-height-19 font-arial">
                                        <span tabindex="0" aria-label="Blue/64 GB">Blue/64 GB
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-12 no-padding d-flex brand-magenta p-t-15 p-t-10-xs p-t-10-sm">
                                    <i class="fa fa-tag" tabindex="0" aria-label="tag icon"></i>
                                    <p class="secondary-link-12 p-l-6 mb-0" tabindex="0" aria-label=" Save up to $390 via bill credits w/ 
                                    eligible trade in when you add a line, see how!">
                                        Save up to $390 via bill credits w/ eligible trade in when you add a line, see how!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 no-padding p-t-25-md p-t-15-xs p-t-15-sm p-b-32-md p-b-15-xs p-b-15-sm p-t-33-lg">
                            <p class="legal-10 mb-0">
                                <span tabindex="0" aria-label="Limited time offers may apply.">Limited time offers may apply.
                                </span>
                            </p>
                            <p class="legal-10 mb-0" tabindex="0" aria-label="$0.00 upfront $20.84 x 36 mos.IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON PHONE 
                            BECOMES DUE. 0% APR O.A.C. to well-qualified customer. Qualifying service required.">
                                $0.00 upfront $20.84 x 36 mos.IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON PHONE BECOMES DUE. 0% APR O.A.C. to well-qualified
                                customer. Qualifying service req'd.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding bg-white">
                        <div class="inset-divider-1px"></div>
                    </div>
                    <div class="col-xs-12 bg-white  text-center-xs d-flex-md p-b-60-md p-t-24 align-center">
                        <p class="col-xs-12 font-13-custom no-padding font-16 mb-0  p-t-16-xs p-b-10-xs pull-left-md black">
                            <span tabindex="0" aria-label="Trading in your current device?">Trading in your current device?
                            </span>
                        </p>
                        <div class="no-padding p-b-15-xs p-b-15-sm">
                            <button class="btn btn-secondary width-155 border-15 font-normal" ripple role="button">Check trade in value</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="EqHeightDiv col-xs-12 p-t-15-sm m-t-23-md col-md-4 p-r-0-sm" elem-ready="adjustHeight()">
                <div class="bg-white p-h-15 p-t-15 planDiv">
                    <p class="heading-line1-section line-height-24-xs">
                        <span tabindex="0" role="heading">PLAN</span>
                    </p>
                    <p class="m-b-0 p-t-10 p-b-35 p-b-20-sm d-flex">
                        <span class="heading-3 line-height-31 p-r-10 p-r-6-xs" tabindex="0" aria-label="T-Mobile ONE">T-Mobile ONE
                        </span>
                        <span>
                            <i class="fa fa-info-circle color-magenta fa-info-icon cursor" aria-label="information icon" tabindex="0"></i>
                        </span>
                    </p>
                </div>
                <div class=" m-t-15"></div>
                <div class="bg-white p-h-15 p-t-15 p-b-20-sm addonsDiv">
                    <p class="heading-line1-section m-b-0-sm">
                        <span class="line-height-24-xs" tabindex="0" role="heading">ADD-ONS AND EXTRAS</span>
                        <span class="pos-right cursor secondary-link" tabindex="0" role="link" href="#">
                            <i class="fa fa-eye fa-eye-icon p-r-5" aria-label="see more icon"></i>See more
                        </span>
                    </p>
                    <div class="p-t-15 p-b-15 padding-top-20-sm" ng-repeat="addOnLine in lineDetails1.addOnExtras">
                        <div class="checkbox d-flex align-center">
                            <label for="checkbox{{$index}}">
                                <input id="checkbox{{$index}}" name="checkbox{{$index}}" type="checkbox" ng-checked='checked[$index]' value="" tabindex="-1">
                                <div class="indicator p-r-13">
                                    <span class="check1" ng-keydown="onKeyDownCheckbox($event, $index)" tabindex="0" role="checkbox"></span>
                                </div>

                            </label>
                            <div class="label-copy p-t-5">
                                <span class="checkbox-description inline-block p-r-10 font-20 font-tele-nor font-18-xs" tabindex="0" role="content" aria-label={{addOnLine.addOnTitle}}>{{addOnLine.addOnTitle}}</span>

                            </div>

                            <i class="fa fa-info-circle color-magenta fa-info-icon cursor m-t-8" role="link" aria-label="information icon" tabindex="0"></i>
                        </div>

                        <p class="checkbox-sub-description p-l-32 m-b-0 p-t-10-sm p-t-5 font-tele-nor font-18-xs">
                            <span tabindex="0" aria-label="{{addOnLine.addOnPrice}} monthly">{{addOnLine.addOnPrice}} monthly
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 p-t-15-sm m-t-23-md">
                <div class="EqHeightDiv col-xs-12 no-padding bg-white" elem-ready="adjustHeight()">
                    <div class="bg-white p-t-16">
                        <p class="p-h-15 heading-line1-section m-b-0 p-b-10">
                            <span tabindex="0" role="heading" aria-label="MONTHLY PAYMENT">MONTHLY PAYMENT</span>
                        </p>
                        <p class="p-h-15 p-t-8 no-padding m-b-0 d-flex align-center justify-content-between" ng-repeat="paymentCharge in lineDetails1.monthlyPaymentCharges">
                            <span class="label-desc l-h-17" tabindex="0" aria-label="{{paymentCharge.title}}">{{paymentCharge.title}}</span>
                            <span class="monthly-payment-value l-h-17 color-black float-right" tabindex="0" ng-class="{'color-078a14': paymentCharge.title == 'Autopay discount'}"
                                aria-label="{{paymentCharge.charge}}">
                                <span ng-if="paymentCharge.title == 'Autopay discount'">-</span>{{paymentCharge.charge}}</span>
                        </p>
                        <p class="m-b-0 p-t-8 p-h-15 no-padding d-flex">
                            <span class="label-desc color-magenta " tabindex="0" aria-label="Includes $5 monthly AutoPay discount">
                                Includes $5 monthly AutoPay discount</span>
                        </p>
                        <div class="border-bottom-grey m-t-22 m-b-15 m-t-16-sm m-b-15-sm"></div>
                        <p class="p-h-15 heading-line1-section m-b-0">
                            <span tabindex="0" role="heading" aria-label="ONE TIME PAYMENT">ONE TIME PAYMENT</span>
                        </p>
                        <div class="p-h-15 l-h-17 p-t-17" ng-repeat="oneTimeCharge in lineDetails1.oneTimeCharges">
                            <span class="label-desc2" tabindex="0" aria-label="{{oneTimeCharge.title}}">{{oneTimeCharge.title}}</span>
                            <span class="monthly-payment-value color-black float-right" tabindex="0" aria-label="{{oneTimeCharge.charge}}">{{oneTimeCharge.charge}}</span>
                        </div>
                        <p class="p-h-15 p-t-8 limited-time-offer color-magenta m-b-0 ">
                            <span tabindex="0" ng- aria-label="+ taxes and shipping">+ taxes and shipping</span>
                        </p>
                        <div class="border-bottom-grey m-t-16-sm " ng-class="{'m-t-16':isDownpayment,'m-t-16 m-b-8-sm':!isDownpayment}"></div>
                        <div class="col-xs-12  no-padding bg-white text-center p-t-15-sm d-flex " ng-class="{'p-t-15 p-t-9-xs':isDownpayment,'p-t-8 p-t-8-xs p-t-8-sm':!isDownpayment}">
                            

                             
                                    <div class="col-xs-12 no-padding d-flex" ng-if="!isDownpayment">
                                            <div class="col-xs-6 p-l-0 p-r-8-xs text-center" ng-if="lineDetails1.downPayment">
                                                <div class="color-e50073">
                                                    <p class="heading-5 color-e50073 m-b-5-sm m-b-0 font-28-xs" aria-label="${{lineDetails1.downPayment}}" tabindex="0">
                                                        <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.downPayment | priceFilter:'dollar'}}
                                                        <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.downPayment | priceFilter:'cent'}}</sup>
                                                    </p>
                                                    <div class="col-xs-12 no-padding text-center today m-b-0 p-l-10" aria-label="Estimated today" tabindex="0">Estimated Today</div>
                                                    <div class="col-xs-12 no-padding m-b-0  limited-time-offer color-e50073" tabindex="0"  aria-label="plus taxes and shipping">+ taxes and shipping</div>
                                                </div>
                                            </div>
                                            <p ng-if="lineDetails1.downPayment">
                                                <span class="color-magenta font-21" aria-label="OR" tabindex="0">/</span>
                                            </p>
                                            <div class="no-padding" ng-if="lineDetails1.estimatedMonthly" ng-class="{'col-xs-12':!lineDetails1.downPayment, 'col-xs-6 p-r-0':lineDetails1.downPayment}">
                                                <div class="color-323232 text-center">
                                                    <p class="heading-5 m-b-0 font-28-xs color-323232">
                                                        <span tabindex="0" aria-label="${{lineDetails1.estimatedMonthly}}">
                                                            <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.estimatedMonthly | priceFilter:'dollar'}}
                                                            <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.estimatedMonthly | priceFilter:'cent'}}</sup>
                                                        </span>
                                                    </p>
                                                    <p class="m-b-0 today text-center color-323232">
                                                        <span role="heading" aria-label="{{lineDetails1.downPayment?'Monthly':'Estimated Monthly'}}" tabindex="0">
                                                            {{lineDetails1.downPayment?'Estimated Monthly':'Estimated Monthly'}}</span>
                                                    </p>
                                                    <p class="m-b-0 color-9b9b9b limited-time-offer"> 
                                                        <span tabindex="0"  aria-label="After $0.00 down for 36 mos. 0% APR.">After $0.00 down for 36 mos. 0% APR.</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>  


                            <div class="col-xs-6  text-center d-flex  justify-content-end p-r-0 bg-white  p-r-10" ng-if="isDownpayment">
                                <div class="color-e50073">
                                    <p class="today m-b-0" aria-label="Due payment" tabindex="0">Due payment</p>
                                    <p class="heading-5 color-e50073 m-b-0" aria-label="${{lineDetails1.downPayment}}" tabindex="0">
                                        <sup class="today p-r-2 ">$</sup>{{lineDetails1.downPayment | priceFilter:'dollar'}}
                                        <sup class="today p-l-2-md ">{{lineDetails1.downPayment | priceFilter:'cent'}}</sup>
                                    </p>
                                </div>
                            </div>
                            <span ng-if="isDownpayment" class="color-magenta m-t-10-sm font-21 align-self-end m-b-0 m-b-5-sm" aria-label="OR" tabindex="0">/</span>
                            <div  ng-if="isDownpayment" class="col-xs-6 p-r-20-xs p-l-15-sm justify-content-start d-flex">
                                <div class="color-black text-center">
                                    <p class="m-b-0 today text-center">
                                        <span role="heading" aria-label="Monthly" tabindex="0">Monthly</span>
                                    </p>
                                    <p class="heading-5 m-b-0  ">
                                        <span tabindex="0" aria-label="${{lineDetails1.estimatedMonthly}}">
                                            <sup class="today p-r-2 ">$</sup>{{lineDetails1.estimatedMonthly | priceFilter:'dollar'}}
                                            <sup class="today p-l-2-md">{{lineDetails1.estimatedMonthly | priceFilter:'cent'}}</sup>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="limited-time-offer text-center m-b-0 d-inline-block col-xs-12 no-padding p-b-20 p-b-14-xs" ng-if="isDownpayment">
                            <p class="m-b-0 color-323232">
                                <span tabindex="0" aria-label="After $0.00 down for 24 mos. 0% APR">After $0.00 down for 24 mos. 0% APR. </span>
                            </p>
                            <p class="m-b-0 color-9b9b9b">
                                <span tabindex="0" aria-label="+ taxes and shipping. Includes $5 monthly AutoPay discount">+ taxes and shipping. Includes $5 monthly AutoPay discount</span>
                            </p>
                        </div>
                        <div class="limited-time-offer color-magenta text-center m-b-0 d-inline-block no-padding col-xs-12  p-t-10" ng-class="{'p-b-8 ':!isDownpayment }">
                            <span class="cursor" tabindex="0" aria-label="Verify your pricing" ng-if="!isDownpayment" ng-click="pricingModal('verifyYourPricing')"
                                id="verifyYourPricing">Verify your pricing
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 p-t-50" ng-if="!data.emptycart">
                <span class="heading-2 p-b-7 border-bottom" role="heading" tabindex="0">Add more lines or devices
                </span>
            </div>
        </div>
        <div class="row lines-section m-t-23 m-horizontal-0" ng-if="linesDevices1" ng-class="{'m-t-32 m-t-15-xs': data.emptycart}">
            <div class="col-xs-12 bg-white text-center p-v-20 p-v-24-sm border-bottom-grey " ng-if="data.emptycart">
                <span class="heading-2 font-32-xs font-48-sm " role="heading" tabindex="0">Let’s start shopping!
                </span>
            </div>
            <div class="col-xs-12 col-md-15 bg-white text-center-sm p-v-15-xs p-v-35 border-right-grey-sm border-bottom-grey-xs d-flex align-center d-block-sm no-horizontal-padding-sm no-padding"
                ng-repeat="ld in linesDevices1" ng-click="" role="link">
                <span class="col-xs-3 col-sm-12 lines-link" role="image">
                    <img ng-src='{{ld.img}}' class="custom-dim-xs">
                </span>
                <span class="col-xs-9 col-sm-12 lines-link p-t-20-sm no-horizontal-padding-sm cursor">{{ld.LDTitle}}</span>
            </div>
        </div>
        <div class="row p-t-15 p-t-35-sm p-b-16-xs p-b-35 m-horizontal-0">
            <div class="col-xs-12 col-sm-6 bg-white p-b-20 p-b-16-xs divht-sm" ng-if="!data.emptycart">
                <p class="heading-3 p-t-15 m-b-0 line-height-31">
                    <span role="heading" tabindex="0" aria-label="promo code">Promo code</span>
                </p>
                <p class="plan-content p-t-9 m-b-0">
                    <span role="note" tabindex="0" aria-label="Add a giftcard or promotion code">Add a giftcard or promotion code</span>
                </p>
                <div class="row p-t-20 p-t-16-xs d-flex align-center">
                    <div class="col-xs-7 col-sm-8 no-padding p-l-16">
                        <input type="text" class="input-promo" role="textbox" aria-label="enter promotion code">
                    </div>
                    <div class="col-xs-5 col-sm-4 p-l-16">
                        <button class="btn btn-primary-cart" ripple role="button">Apply</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bg-white p-b-16 divht-sm" ng-if="data.emptycart">
                <p class="heading-3 p-t-20 m-b-0" role="heading" tabindex="0">Retrieve cart</p>
                <p class="plan-content p-t-9 m-b-0" role="note" tabindex="0" aria-label="If you previously saved a cart,
                enter your email to retrieve it.">If you previously saved a cart, enter your email to retrieve it.</p>
                <div class="row p-t-16 d-flex-sm align-center">
                    <div class="col-xs-12 col-sm-7 col-md-8 no-padding-sm p-l-16-sm">
                        <input type="email" class="input-promo" ng-model="email" role="textbox" aria-label="enter email">
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 p-t-15-xs text-center">
                        <button class="btn btn-secondary-cart" ripple role="button">Retrieve cart</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 m-t-16-xs no-padding p-l-16-sm">
                <div class="col-xs-12 bg-white p-b-16  divht-sm">
                    <p class="heading-3 p-t-15 m-b-0 line-height-31">
                        <span role="heading" tabindex="0" aria-label="Need help with your
                        order?">Need help with your order?
                        </span>
                    </p>
                    <p class="plan-content p-t-10 m-b-0">
                        <span role="note" tabindex="0" aria-label="Your T-Mobile rep will help
                        you find the right fit">Your T-Mobile rep will help you find the right fit</span>
                    </p>
                    <p class="m-b-0 p-t-20 ">
                        <a class="d-flex align-center call-us p-t-13-xs" href="tel:1-800-T-MOBILE" aria-label="call us at 1-800-T-MOBILE">
                            <span>
                                <img src="http://fpoimg.com/48x48" role="image">
                            </span>
                            <span class="p-l-10 primary-link">Call us
                                <br />1-800-T-MOBILE</span>
                        </a>

                    </p>
                </div>
            </div>
            <div class="col-xs-12 p-t-20 no-padding">
                <p class="limited-time-offer" tabindex="0" role="text">Limited-time offer; subject to change. Taxes and fees additional. General Terms: At participating locations.
                    Credit approval, deposit, qualifying service, and $25 SIM Starter Kit may be required. Equipment Installment
                    Plan: Availability and amount of EIP financing subject to credit approval. IF YOU CANCEL WIRELESS SERVICE,
                    REMAINING BALANCE ON DEVICE BECOMES DUE. Down payment and unfinanced portion required at purchase. Balance
                    paid in monthly installments. Must remain on qualifying service in good standing for duration of EIP
                    agreement. Taxes and late/non-payment fees may apply. Participating locations only. Example(s) shown
                    reflects down payment and monthly payments of our most creditworthy customers; amounts for others will
                    vary. Pricing applicable to single device purchase. Device and screen images simulated. Coverage not
                    available in some areas.
                    <br>
                    <br>
                </p>
                <p class="limited-time-offer" tabindex="0" role="text">
                    By declining the device protection, your device will not be covered against accidental damage, mechanical breakdown after
                    the manufacturer’s warranty, or loss/theft. If you change your mind, you’ll have 30 days from device
                    purchase to enroll. Just give us a call. For complete details, including benefits, exclusions, limitations
                    and costs, please visit
                    <a class="color-magenta" tabindex="-1" href="">mytmoclaim.com/terms.</a>
                    <br>
                    <br>
                </p>
                <p class="limited-time-offer" tabindex="0" role="text">
                    Video typically streams on smartphone/tablet at DVD quality (480p). On all T-Mobile plans, during congestion, the small fraction
                    of customers using &gt;50GB
                    <span aria-label="per">/</span>mo. may notice reduced speeds until next bill cycle due to data prioritization. T-Mobile One
                    General Terms: Deposit and $25 SIM starter kit may be required. Sales tax &amp; regulatory fees included.
                    Capable device required for some features. U.S. roaming and on-network data allotments differ: includes
                    200MB roaming. Unlimited talk &amp; text features for direct communications between 2 people; others
                    (e.g., conference &amp; chat lines, etc.) may cost extra. T-Mobile ONE not available for hotspots and
                    some other data-first devices. If HD not turned on, video streams at up to 1.5Mbps which may affect speed
                    of video downloads. Tethering: Tethering at max 3G speeds. Service may be terminated or restricted for
                    excessive roaming. For the small fraction of customers using more than 50GB per month, primary data usage
                    must be on smartphone or tablet. Smartphone and tablet usage is prioritized over Mobile Hotspot Service
                    (tethering) usage, which may result in higher speeds for data used on smartphones and tablets. AutoPay
                    Pricing for lines 1-8. Without AutoPay, $5 more/line. AutoPay discount not available for no credit check
                    customers. May not be reflected on 1st bill. Global: Not available for no credit check customers. Usage
                    may be taxed in some countries. Calls from covered countries &amp; destinations over Wi-Fi are $.25/min.
                    (no charge for Wi-Fi calls to US, Mexico and Canada). Standard speeds approx. 128Kbps without Plus; with
                    Plus approx. 256 Kbps. Plus: Postpaid only. Activate HD. Video streams in native resolution which may
                    not be HD. Gogo: on U.S.-based airlines; Wi-Fi Calling functionality, valid e911 address, &amp; 1 prior
                    Wi-Fi call w/ current SIM card req’d for messaging. Stateside Int’l Talk: Calls must originate on T-Mobile’s
                    U.S. network or in Canada/Mexico. Rates and included countries vary and may change. Coverage not available
                    in some areas; we are not responsible for our partners’ networks. Protection&lt;360&gt;: Must enroll
                    within 30 days of qualified purchase. Up to 3 approved claims in rolling 12-mo. period for accidental
                    damage, loss, or theft with deductible of up to $249. $5 processing fee may apply for approved mechanical
                    breakdown claims. $1,200 per claim limit applies. Cancel at any time. For complete coverage details,
                    including limitations and exclusions, please visit mytmoclaim.com/terms. A basic protection plan is also
                    available, please contact us at 1-800-937-8997 for more information. By declining the device protection,
                    your device will not be covered against accidental damage, mechanical breakdown after the manufacturer’s
                    warranty, or loss/theft. If you change your mind, you’ll have 30 days from device purchase to enroll.
                    Just give us a call. For complete details, including benefits, exclusions, limitations and costs, please
                    visit
                    <a class="color-magenta" tabindex="-1" href="">mytmoclaim.com/terms.</a> Network Management: Service may be slowed, suspended, terminated, or restricted
                    for misuse, abnormal use, interference with our network or ability to provide quality service to other
                    users, or significant roaming. See
                    <a class="color-magenta" tabindex="-1" href=""> T-Mobile.com/OpenInternet</a> for data management details. Not for extended international use; you must
                    reside in the U.S. and primary usage must occur on our network. Device must register on our network before
                    international use. Netflix Offer subject to change. Receive Netflix Standard 2-screen (up to $10.99
                    <span aria-label="per">/</span>mo. value) while you maintain 2+ qual’g T-Mobile ONE lines in good standing. Netflix account
                    &amp; compatible device required. Value may be applied to different Netflix streaming plans. Not redeemable
                    or refundable for cash; cannot be exchanged for Netflix gift subscriptions. Cancel Netflix anytime. Netflix
                    Terms of Use apply:
                    <a class="color-magenta" tabindex="-1" href="">
                        http://www.netflix.com/termsofuse.</a>
                    1 offer per T-Mobile account; may take 1-2 bill cycles. Like all plans, features may change or be discontinued at any time;
                    see T-Mobile Terms and Conditions at T-Mobile.com for details.
                </p>
                <p class="limited-time-offer m-b-0 p-t-13">
                    <span tabindex="0" aria-label="1, Total due today: This is the total amount due today. Total does not reflect final price after any mail-in rebates, device taxes or shipping.<br>
                    2. Device tax, shipping, and handling will be added when the shipping address is provided.">1. Total due today: This is the total amount due today. Total does not reflect final price after any
                        mail-in rebates, device taxes or shipping.
                        <br> 2. Device tax, shipping, and handling will be added when the shipping address is provided.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-black m-b-280-md">
        <div class="row">
            <div class="container">
                <div class="row label-black-12">
                    <div class="col-xs-12 p-t-10 p-b-15 ">
                        <p class="m-b-0 white">
                            <a href="">Terms of use</a> |
                            <a href="">Terms & Conditions</a> |
                            <a href="">Return Policy
                            </a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 p-b-35-xs p-b-49 ">
                        <p class="m-b-0 white">
                            <a href="">Privacy Policy</a> |
                            <a href="">Español </a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-8 p-b-49 ">
                        <p class="m-b-0 text-center white">
                            <span tabindex="0" aria-label="copyright 2002-2018 T-MOBILE USA, INC.">
                                <i class="fa fa-copyright"></i>
                                <span>2002-2018 T-MOBILE USA, INC.</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid fixed-banner">
            <div class="row T-Mobile bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 p-v-15 ">
                            <a class="logo m-b-0 d-block " href="" role="link" aria-label="T mobile logo"></a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid bg-magenta alert-msg" ng-if="isShowBanner">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="d-flex align-center justify-content-between">
                                <p class="col-sm-10 col-sm-offset-1 banner-text p-v-20 p-v-12-xs text-white m-b-0 p-l-16-sm p-r-10-sm no-padding-xs">
                                    <span tabindex="0" aria-label="Check it out! You’ll now
                                    see your verified pricing
                                    reflected throughout your shopping experience" id="banner1">Check it out! You’ll now see your verified pricing reflected throughout your shopping experience.</span>
                                </p>
                                <img src="./img/shape.png" class="cross-dim m-r-10 text-right cursor" alt="close icon" tabindex="0" ng-click="hideBanner()"
                                    ng-keydown="$event.keyCode === 13 ? betterPlanFocus() : null" />
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="box-shadow visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 no-padding p-t-6 border-top-grey d-flex align-center">
                                <span class="col-xs-7 p-r-0">
                                    <p class=" m-b-0 label-black-12 no-padding" tabindex="0" aria-label="Showing estimated monthly pricing for well-qualified customers.">
                                        Showing estimated monthly pricing for well-qualified customers.</p>
                                </span>
                                <span class="col-xs-5 text-right p-l-0">
                                    <span class="secondary-link cursor p-r-0" role="link" tabindex="0" aria-label="View order details">
                                        View order details</span>
                                </span>
                            </div>
                            <div class="col-xs-12 no-padding p-t-14">
                                <hr class="m-v-0">
                            </div>
                            <div class="col-xs-12 p-t-16" ng-if="!isDownpayment">
                                <span class="col-xs-12 d-flex align-center justify-content-between no-padding p-b-16">
                                    <p class="label-my-cart no-padding m-b-0" tabindex="0" role="heading" aria-label="Total">Total
                                    </p>
                                    <div class="col-xs-7 col-md-6 no-padding d-flex">
                                            <div class="col-xs-6 p-l-0 p-r-8-xs text-center" ng-if="lineDetails1.downPayment">
                                                <div class="color-e50073">
                                                    <p class="heading-5 color-e50073 m-b-5-sm m-b-0 font-28-xs" aria-label="${{lineDetails1.downPayment}}" tabindex="0">
                                                        <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.downPayment | priceFilter:'dollar'}}
                                                        <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.downPayment | priceFilter:'cent'}}</sup>
                                                    </p>
                                                    <div class="col-xs-12 no-padding text-center today m-b-0 p-l-10" aria-label="Estimated today" tabindex="0">Estimated Today</div>
                                                    <div class="col-xs-12 no-padding m-b-0  limited-time-offer color-e50073" tabindex="0"  aria-label="plus taxes and shipping">+ taxes and shipping</div>
                                                </div>
                                            </div>
                                            <p ng-if="lineDetails1.downPayment">
                                                <span class="color-magenta font-21" aria-label="OR" tabindex="0">/</span>
                                            </p>
                                            <div class="no-padding" ng-if="lineDetails1.estimatedMonthly" ng-class="{'col-xs-12':!lineDetails1.downPayment, 'col-xs-6 p-r-0':lineDetails1.downPayment}">
                                                <div class="color-323232 text-center">
                                                    <p class="heading-5 m-b-0 font-28-xs color-323232">
                                                        <span tabindex="0" aria-label="${{lineDetails1.estimatedMonthly}}">
                                                            <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.estimatedMonthly | priceFilter:'dollar'}}
                                                            <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.estimatedMonthly | priceFilter:'cent'}}</sup>
                                                        </span>
                                                    </p>
                                                    <p class="m-b-0 today text-center color-323232">
                                                        <span role="heading" aria-label="{{lineDetails1.downPayment?'Monthly':'Estimated Monthly'}}" tabindex="0">
                                                            {{lineDetails1.downPayment?'Estimated Monthly':'Estimated Monthly'}}</span>
                                                    </p>
                                                    <p class="m-b-0 color-9b9b9b limited-time-offer"> 
                                                        <span tabindex="0"  aria-label="After $0.00 down for 36 mos. 0% APR.">After $0.00 down for 36 mos. 0% APR.</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>                                    
                                </span>
                                <span class="col-xs-12 d-flex align-center justify-content-between no-padding">
                                    <button class="btn btn-secondary width-208 border-radius-25 p-v-6 width-169-xs text-custom cursor" id="viewYourPricingmobile"
                                        ripple tabindex="0" role="Button" ng-click="pricingModal('mobile')">Verify your pricing
                                    </button>
                                </span>
                            </div>
                            <div class="col-xs-12 p-t-16 d-flex align-center justify-content-between" ng-if="isDownpayment">
                                <p class="no-padding label-my-cart m-b-0 p-b-25 col-xs-6 " aria-label="total" tabindex="0">
                                    Total</p>
                                <div class="no-padding d-flex col-xs-7 justify-content-end">
                                    <div class="d-flex justify-content-center" ng-if="lineDetails1.downPayment">
                                        <div class="color-e50073  p-r-10">
                                            <p class="heading-5 color-e50073 m-b-5-sm m-b-0 font-28-xs" aria-label="${{lineDetails1.downPayment}}" tabindex="0">
                                                <sup class="today p-r-2 sup-custom-xs">$</sup>
                                                <span>{{lineDetails1.downPayment | priceFilter:'dollar'}}</span>
                                                <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.downPayment | priceFilter:'cent'}}</sup>
                                            </p>
                                            <p class=" text-center today m-b-0 " aria-label="Due payment" tabindex="0">Due payment
                                            </p>
                                        </div>
                                        <span ng-if="lineDetails1.downPayment" class="color-magenta font-21" aria-label="OR" tabindex="0">/</span>
                                    </div>
                                    <div ng-if="lineDetails1.estimatedMonthly" ng-class="{'col-xs-12':!lineDetails1.downPayment, 'p-l-10 d-flex justify-content-center no-padding':lineDetails1.downPayment}">
                                        <div class="color-black text-center">    
                                            <p class="heading-5 m-b-5-sm m-b-0 font-28-xs color-323232" tabindex="0" aria-label="${{lineDetails1.estimatedMonthly}}">
                                                <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.estimatedMonthly | priceFilter:'dollar'}}
                                                <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.estimatedMonthly | priceFilter:'cent'}}</sup>
                                            </p>
                                            <p class="m-b-0 today text-center color-323232 " role="heading" aria-label="{{lineDetails1.downPayment?'Monthly':'Estimated Monthly'}}"
                                                tabindex="0">
                                                {{lineDetails1.downPayment?'Monthly':'Estimated Monthly'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 no-padding p-t-40">
                                <span class="col-xs-12  label-black-12" tabindex="0" aria-label="Order estimated to ship: 11/15
                                    - 11/19">Order estimated to ship:
                                    <span class="text-bold">11/15 - 11/19
                                    </span>
                                </span>
    
                                <div class="col-xs-12 no-padding p-v-16">
                                    <hr class="m-v-0">
                                </div>
                                <div class="col-xs-12 col-sm-12 d-flex align-center justify-content-between p-b-35 p-b-24-xs">
                                    <div class="col-sm-5 col-md-4 no-padding">
                                        <a href="" class="primary-link font-16" role="link" tabindex="0">Complete in store</a>
                                    </div>
                                    <div class="col-sm-5 col-md-8 text-right no-padding p-l-48-md cursor">
                                        <button class="btn btn-primary width-177 width-150-xs border-radius-25 p-v-6 text-custom" ripple role="button" tabindex="0"
                                            ng-click="showBanner()">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="box-shadow-top fixed-banner-bottom bg-white box-shadow-top hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 p-r-0">
                    <div class="col-xs-12 p-t-40 p-b-15 no-padding d-flex align-center justify-content-between">
                        <span class="col-xs-6 col-sm-7 col-md-6 label-black-12 no-padding " tabindex="0" aria-label="Showing estimated monthly pricing for well-qualified customers.">
                            Showing estimated monthly pricing for well-qualified customers.</span>
                        <p class="col-xs-4 col-offset-1 text-right p-l-0 m-b-0">
                            <span class="secondary-link cursor " role="link" tabindex="0" aria-label="View order details">
                                View order details</span>
                        </p>
                    </div>
                    <div class="col-xs-12 p-l-0">
                        <hr class="m-v-0">
                    </div>
                    <div class="col-xs-12 p-t-15 p-b-15 p-l-0" ng-if="!isDownpayment">
                        <span class=" col-xs-12 no-padding d-flex align-center justify-content-between">
                            <p class="label-my-cart no-padding m-b-0 p-b-16">
                                <span tabindex="0" role="heading" aria-label="total">Total
                                </span>
                            </p>                          
                                <div class="col-xs-8 col-md-6 no-padding d-flex">
                                    <div class="col-xs-6 p-l-0 p-r-8-xs text-center" ng-if="lineDetails1.downPayment">
                                        <div class="color-e50073">
                                            <p class="heading-5 color-e50073 m-b-5-sm m-b-0 font-28-xs" aria-label="${{lineDetails1.downPayment}}" tabindex="0">
                                                <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.downPayment | priceFilter:'dollar'}}
                                                <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.downPayment | priceFilter:'cent'}}</sup>
                                            </p>
                                            <div class="col-xs-12 no-padding text-center today m-b-0 p-l-10" aria-label="Estimated today" tabindex="0">Estimated Today</div>
                                            <div class="col-xs-12 no-padding m-b-0  limited-time-offer color-e50073" tabindex="0"  aria-label="plus taxes and shipping">+ taxes and shipping</div>
                                        </div>
                                    </div>
                                    <p ng-if="lineDetails1.downPayment">
                                        <span class="color-magenta font-21" aria-label="OR" tabindex="0">/</span>
                                    </p>
                                    <div class="no-padding" ng-if="lineDetails1.estimatedMonthly" ng-class="{'col-xs-12':!lineDetails1.downPayment, 'col-xs-6 p-r-0':lineDetails1.downPayment}">
                                        <div class="color-323232 text-center">
                                            <p class="heading-5 m-b-0 font-28-xs color-323232">
                                                <span tabindex="0" aria-label="${{lineDetails1.estimatedMonthly}}">
                                                    <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.estimatedMonthly | priceFilter:'dollar'}}
                                                    <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.estimatedMonthly | priceFilter:'cent'}}</sup>
                                                </span>
                                            </p>
                                            <p class="m-b-0 today text-center color-323232">
                                                <span role="heading" aria-label="{{lineDetails1.downPayment?'Monthly':'Estimated Monthly'}}" tabindex="0">
                                                    {{lineDetails1.downPayment?'Estimated Monthly':'Estimated Monthly'}}</span>
                                            </p>
                                            <p class="m-b-0 color-9b9b9b limited-time-offer"> 
                                                <span tabindex="0"  aria-label="After $0.00 down for 36 mos. 0% APR.">After $0.00 down for 36 mos. 0% APR.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </span>
                        <span class="col-xs-12 text-right no-padding d-flex justify-content-between">
                            <div class="col-xs-6 col-md-6 p-l-0">
                                <button class="btn btn-secondary width-208 border-radius-25 p-v-6 text-custom width-100per" ripple tabindex="0" role="Button"
                                    ng-click="pricingModal('viewYourPricing')" id="viewYourPricing">Verify your pricing
                                </button>
                            </div>
                        </span>
                    </div>
                    <div class="col-xs-12 p-v-24 p-l-0 d-flex align-center" ng-if="isDownpayment">
                        <p class="col-xs-2 no-padding label-my-cart m-b-0">
                            <span aria-label="Total" tabindex="0">Total</span>
                        </p>
                        <div class="col-xs-7 col-md-5 no-padding d-flex">
                            <div class="col-xs-7 p-l-0 p-r-8-xs text-center" ng-if="lineDetails1.downPayment">
                                <div class="color-e50073">
                                    <p class="heading-5 color-e50073 m-b-5-sm m-b-0 font-28-xs" aria-label="${{lineDetails1.downPayment}}" tabindex="0">
                                        <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.downPayment | priceFilter:'dollar'}}
                                        <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.downPayment | priceFilter:'cent'}}</sup>
                                    </p>
                                    <p class="col-xs-10 no-padding text-center today m-b-0 p-l-10 ">
                                        <span aria-label="Due payment" tabindex="0">Due payment</span>
                                    </p>
                                </div>
                            </div>
                            <p ng-if="lineDetails1.downPayment">
                                <span class="color-magenta font-21" aria-label="OR" tabindex="0">/</span>
                            </p>
                            <div class="no-padding" ng-if="lineDetails1.estimatedMonthly" ng-class="{'col-xs-12':!lineDetails1.downPayment, 'col-xs-6 p-r-0':lineDetails1.downPayment}">
                                <div class="color-323232 text-center">
                                    <p class="heading-5 m-b-0 font-28-xs color-323232">
                                        <span tabindex="0" aria-label="${{lineDetails1.estimatedMonthly}}">
                                            <sup class="today p-r-2 sup-custom-xs">$</sup>{{lineDetails1.estimatedMonthly | priceFilter:'dollar'}}
                                            <sup class="today p-l-2-md sup-custom-xs">{{lineDetails1.estimatedMonthly | priceFilter:'cent'}}</sup>
                                        </span>
                                    </p>
                                    <p class="m-b-0 today text-center color-323232">
                                        <span role="heading" aria-label="{{lineDetails1.downPayment?'Monthly':'Estimated Monthly'}}" tabindex="0">
                                            {{lineDetails1.downPayment?'Monthly':'Estimated Monthly'}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12 p-t-40 p-b-15 no-padding">

                        <img src="./img/bitmap.png" class="bitmap-dim chat-icon-dim" alt="device image" tabindex="0" />
                        <div class="col-xs-12  label-black-12 no-padding m-b-0 line-height-30 d-flex align-center">
                            <span tabindex="0" aria-label="Order estimated to ship: 11/15
                                        - 11/19">Order estimated to ship:
                                <span class="text-bold">11/15 - 11/19
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding ">
                        <hr class="m-v-0">
                    </div>
                    <div class="col-xs-12 no-padding p-t-20 p-b-25 d-flex align-center">
                        <span class="col-sm-5 col-md-4 no-padding">
                            <a href="" class="primary-link font-16" role="link" tabindex="0">Complete in Store</a>
                        </span>
                        <span class="col-sm-7 col-md-8 text-right no-padding p-l-20-sm">
                            <button class="btn btn-primary width-240 border-radius-25 p-v-12 width-100per text-custom" ripple role="button" tabindex="0"
                                ng-click="showBanner()" ng-keyup="$event.keyCode === 13 ? bannerFocus() : null">Continue</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-dialog-container animation-out1"
        ng-class="{'':!pricingModalVisible, 'animation-in':pricingModalVisible}" role="dialog" tabindex="-1"
        ng-keydown="backTabEvent($event,'pricingModalBodyclose')" ng-click="dialogModalClick()" id="pricingModalBodyclose">
        <div class="col-sm-8 no-padding animation-out pricing-dialog bg-white margin-vertical-100"
            ng-class="{'animation-in':pricingModalVisible}" ng-click="test2()" id="pricingModalBody" tabindex="-1">
            <div class="col-xs-12 p-b-13-xs p-t-13 no-padding" ng-if="mobile">
                <div class="pull-right  p-r-16-xs p-r-8-sm">
                    <span class="cursor fa fa-times color-e20074 fa-iconsize" ng-click="pricingModalclose()"
                        ng-keyDown="$event.keyCode==13? pricingModalclose() :null" role="button"
                        aria-label="click to close"></span>
                </div>
            </div>
            <div class="p-h-49-sm p-h-16-xs">
                <div class="p-t-64-sm p-t-40-xs section-1">
                    <span tabindex="{{pricingModalVisible? '0' : '-1'}}" id="openingFocus"
                        aria-label="Hi {{userName}}, based on your credit here's what you'll pay for the devices in your cart.">
                        Hi {{userName}}, based on your credit here's what you'll pay for the devices in your cart.
                    </span>
                </div>
                <div class="col-xs-6 no-padding p-t-24-sm p-t-33-xs p-b-25-md text-center">
                    <span class="section-2 color-e20074" tabindex="{{pricingModalVisible? '0' : '-1'}}"
                        aria-label="${{lineDetails1.downPayment}}">
                        <sup
                            class="section-2-sup-1 p-r-2 sup-custom">$</sup>{{lineDetails1.downPayment | priceFilter:'dollar'}}
                        <sup
                            class="section-2-sup-2 p-l-2-md sup-custom">{{lineDetails1.downPayment | priceFilter:'cent'}}</sup>
                    </span>
                    <div class="section-2-text color-e20074">
                        <span tabindex="{{pricingModalVisible? '0' : '-1'}}" arial-label="Due payment">Due payment
                        </span>
                    </div>
                </div>
                <div class="col-xs-6 no-padding p-t-24-sm p-t-33-xs p-b-25-md p-b-44-xs text-center">
                    <span class="section-2 color-262626" tabindex="{{pricingModalVisible? '0' : '-1'}}"
                        aria-label="${{lineDetails1.estimatedMonthly}}">
                        <sup
                            class="section-2-sup-1 p-r-2 sup-custom">$</sup>{{lineDetails1.estimatedMonthly | priceFilter:'dollar'}}
                        <sup
                            class="section-2-sup-2 p-l-2-md sup-custom">{{lineDetails1.estimatedMonthly | priceFilter:'cent'}}</sup>
                    </span>
                    <div class="section-2-text color-4c4c4c">
                        <span tabindex="{{pricingModalVisible? '0' : '-1'}}" aria-label="for 24 months">for 24 mos.
                        </span>
                    </div>
                </div>
                <div class="p-b-40-sm p-b-48-xs section-3">
                    <span tabindex="{{pricingModalVisible? '0' : '-1'}}"
                        aria-label="You’ll now see your verified pricing reflected throughout your shopping experience.">
                        You’ll now see your verified pricing reflected throughout your shopping experience.
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12 p-b-48-sm p-b-24-xs no-padding pull-right">
                    <button class="btn-primary-big text-custom" ripple tabindex="{{pricingModalVisible? '0' : '-1'}}"
                        role="button" aria-label="Click to edit your cart">Edit your cart
                    </button>
                </div>
                <div class="col-sm-6 col-xs-12 p-b-48-sm p-b-42-xs no-padding p-r-8-sm">
                    <button class="btn-secondary-big text-custom no-padding" ripple
                        tabindex="{{pricingModalVisible? '0' : '-1'}}" role="button"
                        aria-label="Click to chat with us and get answers to questions about pricing.">
                        <div class="p-b-8 btn-secondary-text">
                            Get answers to questions about pricing.
                        </div>
                        <div>
                            Chat with us
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-1 no-padding text-right close-position hidden-xs ">
                <span class="cursor fa fa-times color-e20074" id="closeIcon" tabindex="{{pricingModalVisible? '0':'-1'}}"
                    ng-click="pricingModalclose()" ng-keyDown="$event.keyCode==13? pricingModalclose() :null"
                    aria-label="click here to close the modal">
                </span>
            </div>
        </div>
    </div>
    <div class="overlay overlay-out" role="none" tabindex="-1" ng-click="pricingModal('close')"
        ng-class="{'overlay-in':pricingModalVisible,'overlay-out':!pricingModalVisible}"></div>

    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
</body>

</html>