<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DTR 1.5</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/my-cart.css">
</head>

<body ng-controller="mycartControlller" ng-cloak ng-init="init()">
    <div class="container-fluid fixed-banner">
        <div class="row T-Mobile bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 p-v-15 ">
                        <a class="logo m-b-0 d-block " href="" role="link" aria-label="T mobile logo"></a>
                    </div>
                </div>
            </div>
            <div class="box-shadow visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 no-padding p-t-15 border-top-grey">
                            <span class="col-xs-9">
                                <p class=" m-b-0 label-my-cart no-padding" tabindex="0">Monthly total</p>
                                <p class=" m-b-0 p-t-5 label-desc" tabindex="0">Includes $5 monthly AutoPay discount</p>
                            </span>
                            <span class="col-xs-3 text-right">
                                <span class="label-my-cart" tabindex="0">${{lineDetails.oneTimeCharges.monthly}}</span>
                            </span>
                        </div>
                        <div class="col-xs-12 no-padding p-t-10">
                            <span class="col-xs-9">
                                <p class="label-my-cart no-padding m-b-0" tabindex="0">Today</p>
                                <p class="p-t-5 label-desc m-b-0" tabindex="0">+ taxes and shipping</p>
                            </span>
                            <span class="col-xs-3 text-right">
                                <span class="label-my-cart" tabindex="0">${{lineDetails.oneTimeCharges.todayPrice}}</span>
                            </span>
                        </div>
                        <div class="col-xs-12 no-padding p-t-15">
                            <div class="col-xs-6">
                                <button class="btn btn-secondary full-width border-radius" ripple role="button"
                                    tabindex="0">View
                                    order details</button>
                            </div>
                            <div class="col-xs-6 p-l-0-xs">
                                <button class="btn btn-primary-cart border-radius" ripple role="button" tabindex="0">Continue</button>
                            </div>
                            <div class="col-xs-12 p-t-20 p-b-15 text-center">
                                <a href="" class="primary-link">Complete in store</a>
                            </div>
                            <div class="col-xs-12">
                                <hr class="m-v-0">
                            </div>
                            <div class="col-xs-12 no-padding p-t-16 p-b-15">
                                <span class="col-xs-8 label-black-12" tabindex="0">Based on: <span class="text-bold">AWESOME
                                        CREDIT</span></span>
                                <span class="col-xs-4 secondary-link cursor p-l-0-xs" tabindex="0" role="link"><i class="fa fa-pencil p-r-5"
                                        aria-label="update Icon"></i>Update credit</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--            <img src="./img/chat.png" role=link class="chat-icon"/>-->
            <div class="box-shadow-top fixed-banner-bottom bg-white box-shadow-top hidden-xs">
                <div class="container">
                    <div class="col-xs-6 no-padding">
                        <div class="row">
                            <div class="col-xs-12 p-t-35 p-b-15 no-padding">
                                <span class="col-xs-7  label-black-12" tabindex="0" aria-label="Based on: AWESOME
                                CREDIT">Based
                                    on: <span class="text-bold">AWESOME
                                        CREDIT</span></span>
                                <span class="col-xs-4 col-offset-1 secondary-link cursor" role="link" tabindex="0"><i
                                        class="fa fa-pencil p-r-5" aria-label="update icon"></i>Update
                                    Credit</span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-offset-2 no-padding ">
                                <hr class="m-v-0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 p-t-15 no-padding">
                                <span class=" col-xs-8">
                                    <p class="label-my-cart no-padding m-b-0" tabindex="0" role="heading">Monthly total</p>
                                    <p class="p-t-5 label-desc m-b-0" tabindex="0" aria-label="Includes $5 monthly AutoPay discount">Includes
                                        $5 monthly AutoPay discount</p>
                                </span>
                                <span class="col-xs-3 col-offset-2  text-right">
                                    <span class="label-my-cart" tabindex="0" aria-label="${{lineDetails.oneTimeCharges.monthly}}">${{lineDetails.oneTimeCharges.monthly}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-6 p-t-20 p-b-25">
                                <button class="btn btn-secondary full-width border-radius-25 p-v-12" ripple tabindex="0"
                                    role="Button">View
                                    order details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12 p-t-35 p-b-15 no-padding">

                                <span class="col-xs-12  label-black-12" tabindex="0" aria-label="Order estimated to ship: 11/15
                                - 11/19">Order
                                    estimated to ship: <span class="text-bold">11/15
                                        - 11/19
                                    </span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-offset-2 no-padding ">
                                <hr class="m-v-0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 p-t-15 no-padding">
                                <span class=" col-xs-7">
                                    <p class="label-my-cart no-padding m-b-0" tabindex="0" aria-label="Today">Today</p>
                                    <p class="p-t-5 label-desc m-b-0" tabindex="0" aria-label="+taxes and shipping">+taxes
                                        and shipping</p>
                                </span>
                                <span class="col-xs-3 col-offset-2  text-right">
                                    <span class="label-my-cart " tabindex="0" aria-label="${{lineDetails.oneTimeCharges.todayPrice}}">${{lineDetails.oneTimeCharges.todayPrice}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="row  p-t-20 p-b-25 d-flex align-center">
                            <span class="col-sm-5 col-md-4 p-r-0"><a href="" class="primary-link font-16" role="link"
                                    tabindex="0">Complete
                                    in Store</a></span>
                            <span class="col-sm-5 col-md-6 p-r-0 p-l-48-md">
                                <button class="btn btn-primary full-width border-radius-25 p-v-12" ripple role="button"
                                    tabindex="0">Continue</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container my-cart p-t-69 p-t-300-xs">
        <div ng-if="!data.emptycart">
            <div class="row d-flex-sm align-center">
                <div class="col-xs-12 col-sm-7 m-t-35">
                    <span class="page-title" role="heading" tabindex="0">My Cart</span>
                </div>
                <span class="col-xs-12 col-sm-5 primary-link text-right-sm  m-t-10-xs m-t-70-md">
                    <span ng-click="" role="link" class="cursor">
                        <i class="fa fa-download p-r-10" aria-label="save cart icon"></i>Save your cart</span>
                    <span class="p-l-20 cursor" ng-click="" role="link">
                        <i class="fa fa-shopping-cart p-r-10" aria-label="Retrieve cart icon"></i><span role="link">Retrieve
                            cart</span>
                    </span>
                </span>
            </div>
            <div class="row">
                <div class="col-xs-12 p-t-10 p-t-20-xs">
                    <p class="m-b-0 title-desc" tabindex="0" aria-label="Available financing terms determined
                    after credit check; may be different than shown.">Available
                        financing terms determined
                        after credit check; may be different than shown.</p>
                </div>
            </div>
            <div class="row p-t-50">
                <div class="col-xs-12">
                    <span class="heading-2  border-bottom p-b-7" role="heading" tabindex="0">Your Plan</span>
                </div>
            </div>
            <div class="row p-t-27 p-t-23-xs">
                <div class="col-xs-12 col-sm-4 p-t-15-xs" ng-repeat="plan in planDetails">
                    <div class="plan-container text-center relative" ng-class="{'active': $index == activeIndexItem }"
                        ng-click="activeIndex($index)" ng-keydown="onKeyDown($event,$index)" role="title">
                        <div class="plan-specification absolute spec-algin-center" ng-if="plan.bestValue">
                            <span class="plan-specification bg-magenta p-h-6 p-v-3"  tabindex="{{ plan.bestValue ? '0' : '-1'}}" aria-label="BEST VALUE" >BEST VALUE
                            </span>
                        </div>
                        <p class="heading-3 p-t-28" tabindex="0"  aria-label=" {{$index == activeIndexItem ? 'selected plan' + plan.planTitle :  plan.planTitle}} ">{{plan.planTitle}}</p>
                        <p class="plan-content m-b-0 p-h-16 p-h-8-md" tabindex="0" aria-label="{{plan.planDescription}}">{{plan.planDescription}}</p>
                        <div class="plan-sub-content m-b-0 p-t-21 p-h-16 p-h-8-md absolute">
                            <span ng-repeat="line in plan.lines" tabindex="0" aria-label="{{line}} per month">{{line}}<span>/mo.</span>
                                <span ng-if="$even && !mobile" class="color-9b9b9b"  tabindex="-1" aria-label="or"> | </span>
                                <span ng-if="mobile" class="color-9b9b9b" tabindex="-1" aria-label="or"> | </span>
                                <span ng-if="$odd && !mobile">
                                    <br />
                                </span>
                            </span>
                            <p class="m-b-0 p-t-16 p-b-24" ><span tabindex="0" aria-label="{{plan.planTaxesFees}}">{{plan.planTaxesFees}}</span></p>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="p-t-20 col-xs-12 text-center">
                    <button class="btn btn-secondary border-radius btn1" ripple ng-click="visible=!visible;modalOpen()"
                        aria-label="click to see details and compare plans" role="button">See details and compare plans</button>
                </div>
            </div>

            <!-- Modal Start -->


            <div class="dialog-container" ng-show="visible">
                <div class="dialog animation-out cart-scroll body-height bg-white" id="modalBody" tabindex="-1"
                    ng-class="{'animation-in':visible}">
                    <div class="row mb-0">
                        <div class="col-xs-12">
                            <button class="close close-width" tabindex="{{ visible ? '0' : '-1'}}"
                            aria-label="close icon" ng-click="close1()">&times;
                            </button>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-xs-12 ">
                            <p class="heading-1 mb-0 p-b-35 p-b-24-xs text-center font-normal">
                                <span tabindex="{{ visible ? '0' : '-1'}}" role="heading">Compare plans </span>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-0 no-margin">
                        <div class="col-xs-12 no-padding p-r-8-xs p-l-8-xs">
                            <div class="col-xs-6 dropdownStyle-xs d-inline no-padding p-l-5-xs p-r-8-xs">
                                <div class="no-padding pull-right-md">
                                    <div ng-controller="DropdownCtrl" id="changeDropdown1" class="simcard-dropdown col-xs-12 no-padding d-flex p-r-25-md"
                                        tabindex="{{ visible ? '0' : '-1'}}" ng-keydown="onKeyDownDropDown($event)"
                                        aria-label="{{ selectedOption || planDetails[2].planTitle}} selected option in the dropdown">
                                        <div class="dropdown" uib-dropdown is-open="status.isopen">
                                            <div id="simcardDropdown1" class="selector dropdown-toggle"
                                                uib-dropdown-toggle>
                                                <div ng-class="{'text-ellipsis':mobile}">{{ selectedOption ||
                                                    planDetails[2].planTitle }}</div>
                                            </div>
                                            <ul class="dropdown-menu" uib-dropdown-menu  aria-labelledby="simcardDropdown">
                                                <li  class="dropdown-option" ng-repeat="plan in planDetails"
                                                    ng-click="change(plan.planTitle, $index)" tabindex="{{ visible ? '0' : '-1'}}">
                                                    <p>{{plan.planTitle}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-center no-padding p-r-25-md" ng-if="compare">
                                    <div class="col-xs-12 m-t-35 m-t-20-xs no-padding">
                                        <span class="heading-4 text-center mb-0 font-normal" id="comparePlanSection"
                                            tabindex="0" aria-label="${{comparedData.taxesAndFees}} per month">
                                            <span>${{comparedData.taxesAndFees}}</span>
                                            <span class="label-my-cart no-padding" >/mo</span>
                                        </span>
                                        <p class="p-t-5 mb-0">
                                            <span class="primary-link cursor" tabindex="0" aria-label="{{comparedData.planTaxesFees}}">{{comparedData.planTaxesFees}}</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 no-padding p-l-5-xs p-r-5-xs">
                                        <p class="p-t-20  mb-0 heading-5 font-normal">
                                            <span tabindex="0" aria-label="{{comparedData.talkText}}">{{comparedData.talkText}}</span>
                                        </p>
                                        <p class="p-t-5  mb-0">
                                            <span class="primary-link cursor" tabindex="0" aria-label="Talk & Text">Talk
                                                & Text</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 text-center no-padding">
                                        <p class="p-t-20  mb-0 heading-5 font-normal">
                                            <span tabindex="0" aria-label="{{comparedData.dataPlan}}">{{comparedData.dataPlan}}</span>
                                        </p>
                                        <p class="p-t-5 mb-0">
                                            <span class="primary-link cursor" tabindex="0" aria-label="Data">Data</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 text-center no-padding">
                                        <p class="p-t-20  mb-0 heading-5 font-normal">
                                            <span tabindex="0" aria-label="{{comparedData.hotspot}}">{{comparedData.hotspot}}</span>
                                        </p>
                                    </div>
                                    <div class="mb-0 col-xs-12">
                                        <span class="primary-link cursor  p-t-5" tabindex="0" aria-label="Mobile Hotspot">Mobile
                                            Hotspot</span>
                                    </div>
                                    <div class="col-xs-12 text-center-md p-t-35  mb-0 p-t-50-sm no-padding p-l-5-xs p-r-5-xs">
                                        <button ripple="" class="btn-select-plan width-136 font-normal" tabindex="0"
                                            role="button">Select plan</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 dropdownStyle-2-xs d-inline-block pl-0 no-padding p-r-5-xs">
                                <div ng-controller="DropdownCtrl" class="simcard-dropdown  p-l-25-md p-l-8-xs  d-flex">
                                    <div class="dropdown" id="chooseDropdown" uib-dropdown is-open="status.isopen"
                                        tabindex="0" ng-keydown="onKeyDownDropDown($event);modelFocus($event,status.isopen);"
                                        aria-label="Choose a plan from the dropdown to compare">
                                        <div id="simcardDropdown2" class="selector dropdown-toggle" uib-dropdown-toggle>
                                            <div ng-class="{'text-ellipsis':mobile}">{{ selectedOption2 || 'Choose a
                                                plan to compare'}}</div>
                                        </div>
                                        <ul class="dropdown-menu" uib-dropdown-menu  aria-labelledby="simcardDropdown">
                                            <li  class="dropdown-option" ng-repeat="plan in planDetails"
                                                ng-click="choose(plan.planTitle, $index)" tabindex="{{ visible ? '0' : '-1'}}">
                                                <p>{{plan.planTitle}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-center border-left-dddddd m-t-35 m-t-20-xs no-padding p-l-8-xs "
                                    ng-if="compare">
                                    <div class="col-xs-12 no-padding">
                                        <span class=" text-center mb-0 " tabindex="0" aria-label="${{comparedData2.taxesAndFees}} per month">
                                            <span class="heading-4 font-normal" >${{comparedData2.taxesAndFees}}</span>
                                            <span class="label-my-cart no-padding">/mo</span>
                                        </span>
                                        <p class="p-t-5  mb-0">
                                            <span class="primary-link cursor" tabindex="0" aria-label="{{comparedData2.planTaxesFees}}">{{comparedData2.planTaxesFees}}</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 no-padding">
                                        <p class="p-t-20  mb-0 heading-5 font-normal">
                                            <span tabindex="0" aria-label="{{comparedData2.talkText}}">{{comparedData2.talkText}}</span>
                                        </p>
                                        <p class="p-t-5  mb-0">
                                            <span class="primary-link cursor" tabindex="0" aria-label="Talk & Text">Talk
                                                & Text</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 text-center no-padding">
                                        <p class="p-t-20 heading-5 mb-0 font-normal">
                                            <span tabindex="0" aria-label="{{comparedData2.dataPlan}}">{{comparedData2.dataPlan}}</span>
                                        </p>
                                        <p class="p-t-5  mb-0">
                                            <span class="primary-link cursor" tabindex="0" aria-label="Data">Data</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12  text-center no-padding">
                                        <p class="p-t-20  mb-0 heading-5 font-normal">
                                            <span tabindex="0" aria-label="{{comparedData2.hotspot}}">{{comparedData2.hotspot}}</span>
                                        </p>
                                    </div>
                                    <div class="mb-0 col-xs-12">
                                        <span class="primary-link p-t-5 cursor" tabindex="0" aria-label="Mobile Hotspot">Mobile
                                            Hotspot</span>
                                    </div>
                                    <div class="col-xs-12 text-center-md p-t-35 p-t-50-sm p-l-5-xs p-r-5-xs">
                                        <button ripple="" class="btn-select-plan width-136 font-normal" tabindex="0"
                                            role="button">Select plan</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" ng-if="!compare">
                            <div class="col-xs-12 text-center p-t-35 p-b-66">
                                <button class="btn-plan  border-radius  font-normal" ripple role="button" id="compareButton"
                                    tabindex="0" ng-click="compareEnable()" ng-disabled="!selectedOption2" ng-class="{'btn-plan-active':selectedOption2}"
                                    ng-keydown="trapFocus($event)">Compare
                                    Plans</button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-0 no-margin" ng-if="compare">
                        <div class="col-xs-12 col-md-10 col-md-offset-1 text-center p-t-50 p-t-35-xs">
                            <p class="heading-4 p-b-15 p-b-10-xs mb-0 font-normal">
                                <span tabindex="0" aria-label="More details">More details</span>
                            </p>
                            <div class="inset-divider-1px"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-10 col-md-offset-1 no-padding" ng-if="compare">
                        <div class="col-xs-12 no-padding text-center">
                            <p class="text-center d-inline-block text-center mb-0">
                                <span class="d-flex justify-content-center p-t-35 p-t-15-xs mb-0 m-b-5" >
                                    <span class="font-26 font-20-xs" tabindex="0" aria-label="Free Music Streaming">Free Music
                                        Streaming</span>
                                </span>
                            </p>
                            <div class="col-xs-12 d-flex no-padding  m-t-5 m-t-8-xs m-b-20   m-b-15-xs">
                                <div class="col-xs-6 no-padding text-center d-flex align-center justify-content-center p-b-12 p-t-12">
                                    <p class="body font-14 font-12-xs mb-0" tabindex="0" aria-label="{{comparedData.AdditionalDetails.freeMusicStream}}">{{comparedData.AdditionalDetails.freeMusicStream}}</p>
                                </div>
                                <div class="col-xs-6 no-padding text-center border-left-dddddd d-flex align-center justify-content-center p-b-12 p-t-12">
                                    <p class="body font-14  font-12-xs mb-0" tabindex="0" aria-label="{{comparedData2.AdditionalDetails.freeMusicStream}}">{{comparedData2.AdditionalDetails.freeMusicStream}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <p class="text-center d-inline-block mb-0">
                                <span class="d-flex align-items-center justify-content-center" tabindex="0" aria-label="netflix trademark on us">
                                    <span class="font-26 font-20-xs">Netflix
                                        <sup>TM</sup> On Us</span>
                                </span>
                            </p>                           
                            <div class="col-xs-12 d-flex no-padding  m-t-5 m-t-8-xs m-b-20   m-b-15-xs">
                                <div class="col-xs-6 no-padding text-center d-flex align-items-center justify-content-center p-t-12 p-b-12 p-t-16-xs p-b-16-xs">
                                    <p class="body mb-0" > 
                                        <i class="fa" tabindex="0" aria-label="{{comparedData.AdditionalDetails.netflixOnus?'Available':'Not Available'}}" ng-class="{'fa-check check-icon':comparedData.AdditionalDetails.netflixOnus, 'fa-remove clear-icon':!comparedData.AdditionalDetails.netflixOnus}"></i>
                                    </p>
                                </div>
                                <div class="col-xs-6 no-padding text-center border-left-dddddd d-flex align-items-center justify-content-center p-t-12 p-b-12 p-t-16-xs p-b-16-xs">
                                    <p class="body mb-0" >
                                        <i class="fa" tabindex="0" aria-label="{{comparedData2.AdditionalDetails.netflixOnus?'Available':'Not Available'}}" ng-class="{'fa-check check-icon':comparedData2.AdditionalDetails.netflixOnus, 'fa-remove clear-icon':!comparedData2.AdditionalDetails.netflixOnus}"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <p class="text-center d-inline-block mb-0">
                                <span class="d-flex align-items-center justify-content-center" tabindex="0" aria-label="Texting & data abroad">
                                    <span class="font-26 font-20-xs">Texting & data abroad</span>
                                </span>
                            </p>
                            <div class="col-xs-12 d-flex no-padding  m-t-5 m-t-8-xs m-b-20   m-b-15-xs">
                                <div class="col-xs-6 no-padding text-center d-flex align-items-center justify-content-center p-t-12 p-b-12 p-t-16-xs p-b-16-xs">
                                    <p class="body  font-14 font-12-xs mb-0" tabindex="0" aria-label="{{comparedData.AdditionalDetails.textingDataAbroad}}">{{comparedData.AdditionalDetails.textingDataAbroad}}</p>
                                </div>
                                <div class="col-xs-6 no-padding  text-center border-left-e8e8e8 p-t-12 p-b-12 p-t-16-xs p-b-16-xs d-flex align-items-center justify-content-center">
                                    <p class="body font-14 font-12-xs mb-0" tabindex="0" aria-label="{{comparedData2.AdditionalDetails.textingDataAbroad}}">{{comparedData2.AdditionalDetails.textingDataAbroad}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 no-padding text-center">
                            <p class="text-center d-inline-block mb-0">
                                <span class="d-flex align-items-center justify-content-center">
                                    <span class="font-26 font-20-xs"  tabindex="0" aria-label="Free Video Streaming">Free Video
                                        Streaming</span>
                                </span>
                            </p>
                            <div class="col-xs-12 d-flex no-padding padding-bottom-medium  m-t-5 m-t-8-xs m-b-50   m-b-35-xs ">
                                <div class="col-xs-6 no-padding text-center d-flex align-items-center justify-content-center p-t-12 p-b-12 p-t-16-xs p-b-16-xs">
                                    <p class="body  font-14 font-12-xs mb-0" tabindex="0" aria-label="{{comparedData.AdditionalDetails.freeVideoStream}}">{{comparedData.AdditionalDetails.freeVideoStream}}</p>
                                </div>
                                <div class="col-xs-6 no-padding text-center border-left-e8e8e8 d-flex p-t-12 p-b-12 p-t-16-xs p-b-16-xs align-items-center justify-content-center">
                                    <p class="body font-14 font-12-xs mb-0" tabindex="0" ng-keydown="trapFocus($event)"
                                        aria-label="{{comparedData2.AdditionalDetails.freeVideoStream}}">{{comparedData2.AdditionalDetails.freeVideoStream}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="overlay" ng-click="close1()" ng-class="{'overlay-in':visible,'overlay-out':!visible}"></div>
            </div>
            <!-- modal end -->
            <div clas="row">
                <div class="col-xs-12 no-padding p-t-20 p-b-50">
                    <p class="m-b-0 plan-terms" role="note" tabindex="0" aria-label="On all T-Mobile plans, during congestion, the
                    small fraction of customers using >50GB per month may notice
                    reduced speeds until next bill cycle due to data prioritization. Video typically streams at DVD
                    quality(480p). Receive Netflix Standard 2-screen (up to $10.99 per month value) while you maintain 2+
                    qualifying T-Mobile ONE lines in good standing. Taxes and fees not included on T-Mobile No Credit Check Plans.">On
                        all T-Mobile plans, during congestion, the
                        small fraction of customers using >50GB<span aria-label="per">/</span>month may notice
                        reduced speeds until next bill cycle due to data prioritization. Video typically streams at DVD
                        quality
                        (480p). Receive Netflix Standard 2-screen (up to $10.99<span aria-label="per">/</span>mo.
                        value) while you maintain 2+
                        qualifying
                        T-Mobile ONE lines in good standing. Taxes and fees not included on T-Mobile No Credit Check
                        Plans.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-xs-12 d-flex align-center no-padding"> -->
            <div class="col-xs-4">
                <span class="heading-2 p-b-7 border-bottom" role="heading" tabindex="0">Line 1</span>
            </div>
            <div class="col-xs-8 text-right p-t-20 p-t-10-xs"><span class="secondary-link"><span tabindex="0" class="cursor"
                        role="link"><i class="fa fa-clipboard p-r-5" aria-label="duplicate icon"></i>Duplicate</span>
                    <span tabindex="0" class="cursor" role="link"><i class="fa fa-trash-o p-r-5 p-l-16" aria-label="Remove icon"></i>Remove</span></span>
            </div>
            <!-- </div> -->
            <!-- <div class="row">
                <div class="col-xs-12">
                    <span class="heading-2  border-bottom p-b-7" role="heading" tabindex="0">Your Plan</span>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5 p-t-23">
                <div class="col-xs-12 bg-white">
                    <div class="d-flex justify-content-between align-center p-t-15">
                        <span class="heading-line1-section tele-fet font-normal" tabindex="0" role="heading">DEVICE</span>
                        <span class="brand-magenta mb-0 cursor line-height-16" tabindex="0" role="link"><i class="fa fa-edit"
                                aria-label="edit icon"></i><span class="secondary-link-tele p-l-5">Edit</span></span>
                    </div>
                    <div class="col-xs-12 no-padding p-t-17-md p-t-10-xs p-t-10-sm d-flex">
                        <div>
                            <img src="./img/iPhone8.png" class="img-dim" alt="device image" tabindex="0" />
                        </div>
                        <div class="col-xs-12 no-padding p-l-25 p-l-16-xs">
                            <div class="col-xs-12 no-padding">
                                <p class="heading-3 line-height-31 mb-0 pull-left font-normal tele-fet" tabindex="0"
                                    aria-label="Apple iPhone XR">Apple iPhone XR</p>
                                <p class="col-xs-12 no-padding p-t-7 legal mb-0 d-flex align-center hidden-xs hidden-sm line-height-18"
                                    tabindex="0" aria-label=">Total Price:">Total Price:
                                    <span class="legal-16-strike p-l-4" tabindex="0" aria-label="$1,299.99 striked">$1,299<sup>99</sup></span>
                                    <span class="legal-16 black p-l-4" tabindex="0" aria-label="$1,099.99">$1,099<sup>99</sup></span>
                                </p>
                            </div>
                            <div class="col-xs-12 no-padding d-flex align-center p-t-10-md p-t-8-xs">
                                <div class="color-box-dim bg-3ea6da" tabindex="0" aria-label="blue color"></div>
                                <p class="legal-16 p-l-10 mb-0 line-height-19 font-arial" tabindex="0" aria-label="Blue/64 GB">Blue/64
                                    GB</p>
                            </div>
                            <div class="col-xs-12 no-padding d-flex brand-magenta p-t-15 p-t-10-xs p-t-10-sm">
                                <i class="fa fa-tag" tabindex="0" aria-label="tag icon"></i>
                                <p class="secondary-link-12 p-l-6 mb-0" tabindex="0" aria-label=" Save up to $390 via bill credits w/ 
                                    eligible trade in when you add a line, see how!">
                                    Save up to $390 via bill credits w/
                                    eligible trade in when you add a line, see how!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding p-t-25-md p-t-15-xs p-t-15-sm p-b-20-md p-b-15-xs p-b-15-sm p-t-33-lg">
                        <p class="legal-10 mb-0" tabindex="0" aria-label="Limited time offers may apply.">
                            Limited time offers may apply.
                        </p>
                        <p class="legal-10 mb-0" tabindex="0" aria-label="$0.00 upfront $20.84 x 36 mos.IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON PHONE 
                            BECOMES DUE. 0% APR O.A.C. to well-qualified customer. Qualifying service required.">
                            $0.00 upfront $20.84 x 36 mos.IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON PHONE
                            BECOMES DUE. 0% APR O.A.C. to well-qualified customer. Qualifying service req'd.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 no-padding bg-white">
                    <div class="inset-divider-1px"></div>
                </div>
                <div class="col-xs-12 bg-white  text-center-xs">
                    <p class="col-xs-12 no-padding font-20 mb-0 p-t-15 p-b-15 pull-left-md black" tabindex="0"
                        aria-label="Trading in your current device?">Trading in your current device?</p>
                    <div class="col-xs-12 no-padding p-b-20-md p-b-15-xs p-b-15-sm">
                        <button class="btn btn-secondary width-155 border-15 font-normal" ripple role="button">Check
                            trade in value</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 p-t-15-sm p-t-23 col-md-4">
                <div class="bg-white p-h-15 p-t-15">
                    <p class="heading-line1-section line-height-24-xs" tabindex="0" role="heading">PLAN</p>
                    <p class="m-b-0 p-t-10 p-b-35 p-b-20-sm d-flex">
                        <span class="heading-3 line-height-31 p-r-10 p-r-6-xs" tabindex="0" aria-label="T-Mobile ONE">T-Mobile
                            ONE</span>
                        <span><i class="fa fa-info-circle color-magenta fa-info-icon cursor" aria-label="information icon"
                                tabindex="0"></i></span>
                    </p>
                </div>
                <div class="bg-white p-h-15 p-t-15 m-t-30 m-t-15-sm p-b-88 p-b-20-sm">
                    <p class="heading-line1-section m-b-0-sm"><span class="line-height-24-xs" tabindex="0" role="heading">ADD-ONS
                            AND EXTRAS</span>
                        <span class="pos-right cursor secondary-link" tabindex="0" role="link" href="#">
                            <i class="fa fa-eye fa-eye-icon p-r-5" aria-label="see more icon"></i>See more
                        </span>
                    </p>
                    <div class="p-t-15 padding-top-20-sm" ng-repeat="addOnLine in lineDetails.addOnExtras">
                        <div class="checkbox d-flex">
                            <label for="checkbox{{$index}}">
                                <input id="checkbox{{$index}}" name="checkbox{{$index}}" type="checkbox" ng-checked='checked[$index]'
                                    value="" tabindex="-1">
                                <div class="indicator p-r-13"><span class="check1" ng-keydown="onKeyDownCheckbox($event, $index)"
                                        tabindex="0" role="checkbox"></span></div>

                            </label>
                            <div class="label-copy p-t-5">
                                <span class="checkbox-description inline-block p-r-10" tabindex="0" role="content"
                                    aria-label={{addOnLine.addOnTitle}}>{{addOnLine.addOnTitle}}</span>

                            </div>

                            <i class="fa fa-info-circle color-magenta fa-info-icon cursor m-t-8" role="link" aria-label="information icon"
                                tabindex="0"></i>
                        </div>

                        <p class="checkbox-sub-description p-l-32 m-b-0 p-t-10-sm p-t-5" tabindex="0" aria-label="{{addOnLine.addOnPrice}} monthly">{{addOnLine.addOnPrice}}
                            monthly</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 p-t-15-sm p-t-23">
                <div class="p-h-15 bg-white p-t-15">
                    <p class="heading-line1-section m-b-0-sm" tabindex="0" role="heading">MONTHLY PAYMENT</p>
                    <div class="p-t-10 l-h-17 no-padding" ng-repeat="paymentCharge in lineDetails.monthlyPaymentCharges">
                        <span class="label-desc " tabindex="0" aria-label="{{paymentCharge.title}}">{{paymentCharge.title}}</span>
                        <span class="monthly-payment-value color-black float-right" tabindex="0" ng-class="{'color-078a14': paymentCharge.title == 'Autopay discount'}"
                            aria-label="{{paymentCharge.charge}}"><span ng-if="paymentCharge.title == 'Autopay discount'">-</span>{{paymentCharge.charge}}</span>
                    </div>
                    <div class="border-bottom-grey m-v-20 m-t-16-sm m-b-15-sm"></div>
                    <p class="heading-line1-section m-b-0" tabindex="0" role="heading">ONE TIME PAYMENT</p>
                    <div class="l-h-17 p-t-15 p-t-10-sm">
                        <span class="label-desc" tabindex="0" aria-label="SIM Starter Kit">SIM Starter Kit</span>
                        <span class="monthly-payment-value color-black float-right" tabindex="0" aria-label="{{lineDetails.oneTimeCharges.simkit}}">{{lineDetails.oneTimeCharges.simkit}}</span>
                    </div>
                    <p class="p-t-11 label-desc color-magenta m-b-0" tabindex="0" aria-label="+ taxes and shipping">+
                        taxes and shipping</p>
                    <div class="border-bottom-grey m-v-20 m-t-16-sm m-b-15-sm"></div>
                    <div class="row">
                        <div class="col-xs-6 no-padding text-right" ng-if="lineDetails.oneTimeCharges">
                            <div class="float-right color-e50073">
                                <p class="today text-center m-b-0" aria-label="Today" tabindex="0">Today</p>
                                <p class="heading-5 color-e50073 m-b-5-sm" aria-label="${{lineDetails.oneTimeCharges.todayPrice}}"
                                    tabindex="0">
                                    <sup class="today p-r-2">$</sup>{{lineDetails.oneTimeCharges.todayPrice
                                    | priceFilter:'dollar'}}<sup class="today p-l-2-md">{{lineDetails.oneTimeCharges.todayPrice
                                        | priceFilter:'cent'}}</sup>
                                    <span class="m-l-r-9 font-21">/</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6 no-padding" ng-if="lineDetails.oneTimeCharges">
                            <div class="float-left color-black">
                                <p class="m-b-0 today" aria-label="monthly" tabindex="0">Monthly</p>
                                <p class="heading-5 m-b-5-sm" tabindex="0" aria-label="${{lineDetails.oneTimeCharges.monthly}}"><sup
                                        class="today p-r-2">$</sup>{{lineDetails.oneTimeCharges.monthly
                                    | priceFilter:'dollar'}}<sup class="today p-l-2-md">{{lineDetails.oneTimeCharges.monthly
                                        | priceFilter:'cent'}}</sup></p>
                            </div>
                        </div>
                    </div>
                    <p class="limited-time-offer text-center m-b-0" tabindex="0" aria-label="+ taxes and shipping.">+
                        taxes and shipping.</p>
                    <p class="limited-time-offer text-center p-b-20 p-b-15-sm m-b-0" tabindex="0" aria-label="Includes $5 monthly AutoPay discount">
                        Includes $5 monthly AutoPay discount</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 p-t-50" ng-if="!data.emptycart">
                <span class="heading-2 p-b-7 border-bottom" role="heading" tabindex="0">Add more lines or
                    devices</span>
            </div>
        </div>
        <div class="row lines-section m-t-23 m-horizontal-0" ng-if="linesDevices" ng-class="{'m-t-32 m-t-15-xs': data.emptycart}">
            <div class="col-xs-12 bg-white text-center p-v-20 p-v-24-sm border-bottom-grey " ng-if="data.emptycart">
                <span class="heading-2 font-32-xs font-48-sm " role="heading" tabindex="0">Let’s start
                    shopping!</span>
            </div>
            <div class="col-xs-12 col-md-15 bg-white text-center-sm p-v-15-xs p-v-35 border-right-grey-sm border-bottom-grey-xs d-flex align-center d-block-sm no-horizontal-padding-sm no-padding"
                ng-repeat="ld in linesDevices" ng-click="" role="link">
                <span class="col-xs-3 col-sm-12 lines-link" role="image">
                    <img ng-src='{{ld.img}}' class="custom-dim-xs">
                </span>
                <span class="col-xs-9 col-sm-12 lines-link p-t-20-sm no-horizontal-padding-sm cursor">{{ld.LDTitle}}</span>
            </div>
        </div>
        <div class="row p-t-15 p-t-35-sm p-b-16-xs p-b-35 m-horizontal-0">
            <div class="col-xs-12 col-sm-6 bg-white p-b-20 p-b-16-xs divht-sm" ng-if="!data.emptycart">
                <p class="heading-3 p-t-15 m-b-0 line-height-31" role="heading" tabindex="0">Promo code</p>
                <p class="plan-content p-t-9 m-b-0" role="note" tabindex="0" aria-label="Add a giftcard or promotion code">Add
                    a giftcard or promotion code</p>
                <div class="row p-t-20 p-t-16-xs d-flex align-center">
                    <div class="col-xs-7 col-sm-8 no-padding p-l-16">
                        <input type="text" class="input-promo" role="textbox" aria-label="enter promotion code">
                    </div>
                    <div class="col-xs-5 col-sm-4 p-l-16">
                        <button class="btn btn-primary-cart" ripple role="button">Apply</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bg-white p-b-16 divht-sm" ng-if="data.emptycart">
                <p class="heading-3 p-t-20 m-b-0" role="heading" tabindex="0">Retrieve cart</p>
                <p class="plan-content p-t-9 m-b-0" role="note" tabindex="0" aria-label="If you previously saved a cart,
                enter your email to retrieve it.">If
                    you previously saved a cart,
                    enter your email to retrieve it.</p>
                <div class="row p-t-16 d-flex-sm align-center">
                    <div class="col-xs-12 col-sm-7 col-md-8 no-padding-sm p-l-16-sm">
                        <input type="email" class="input-promo" ng-model="email" role="textbox" aria-label="enter email">
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 p-t-15-xs text-center">
                        <button class="btn btn-secondary-cart" ripple role="button">Retrieve cart</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 m-t-16-xs no-padding p-l-16-sm">
                <div class="col-xs-12 bg-white p-b-16  divht-sm">
                    <p class="heading-3 p-t-15 m-b-0 line-height-31" role="heading" tabindex="0">Need help with your
                        order?</p>
                    <p class="plan-content p-t-10 m-b-0" role="note" tabindex="0" aria-label="Your T-Mobile rep will help
                    you find the right fit">Your
                        T-Mobile rep will help
                        you find the right fit</p>
                    <a class="d-flex p-t-20 align-center call-us p-t-13-xs" aria-label="call us at 1-800-T-MOBILE" href="tel:1-800-T-MOBILE">
                        <span>
                            <img src="http://fpoimg.com/48x48" role="image">
                        </span>
                        <span class="p-l-10 primary-link">Call us
                            <br />1-800-T-MOBILE</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 p-t-20 no-padding">
                <p class="limited-time-offer" tabindex="0" role="text">Limited-time offer; subject to change. Taxes and
                    fees additional. General Terms: At participating locations. Credit approval, deposit, qualifying
                    service, and $25 SIM Starter Kit may be required. Equipment Installment Plan: Availability and
                    amount of EIP financing subject to credit approval. IF YOU CANCEL WIRELESS SERVICE, REMAINING
                    BALANCE ON DEVICE BECOMES DUE. Down payment and unfinanced portion required at purchase. Balance
                    paid in monthly installments. Must remain on qualifying service in good standing for duration of
                    EIP agreement. Taxes and late/non-payment fees may apply. Participating locations only. Example(s)
                    shown reflects down payment and monthly payments of our most creditworthy customers; amounts for
                    others will vary. Pricing applicable to single device purchase.
                    Device and screen images simulated. Coverage not available in some areas.<br><br>
                </p>
                <p class="limited-time-offer" tabindex="0" role="text">
                    By declining the device protection, your device will not be covered against accidental damage,
                    mechanical breakdown after the manufacturer’s warranty, or loss/theft. If you change your mind,
                    you’ll have 30 days from device purchase to enroll. Just give us a call. For complete details,
                    including benefits, exclusions, limitations and costs,
                    please visit <a class="color-magenta" tabindex="-1" href="">mytmoclaim.com/terms.</a> <br><br>
                </p>
                <p class="limited-time-offer" tabindex="0" role="text">
                    Video typically streams on smartphone/tablet at DVD quality (480p). On all T-Mobile plans, during
                    congestion, the small fraction of customers using &gt;50GB<span aria-label="per">/</span>mo. may
                    notice reduced speeds until next bill cycle due to data prioritization. T-Mobile One General Terms:
                    Deposit and $25 SIM starter kit may be required. Sales tax &amp; regulatory fees included. Capable
                    device required for some features. U.S. roaming and on-network data allotments differ: includes
                    200MB roaming. Unlimited talk &amp; text features for direct communications between 2 people;
                    others (e.g., conference &amp; chat lines, etc.) may cost extra. T-Mobile ONE not available for
                    hotspots and some other data-first devices. If HD not turned on, video streams at up to 1.5Mbps
                    which may affect speed of video downloads. Tethering: Tethering at max 3G speeds. Service may be
                    terminated or restricted for excessive roaming.
                    For the small fraction of customers using more than 50GB per month, primary data usage must be on
                    smartphone or tablet.
                    Smartphone and tablet usage is prioritized over Mobile Hotspot Service (tethering) usage, which may
                    result in higher speeds for data used on smartphones and tablets. AutoPay Pricing for lines 1-8.
                    Without AutoPay, $5 more/line. AutoPay discount not available for no credit check customers. May
                    not be reflected on 1st bill. Global: Not available for no credit check customers. Usage may be
                    taxed in some countries. Calls from covered countries &amp; destinations over Wi-Fi are $.25/min.
                    (no charge for Wi-Fi calls to US, Mexico and Canada). Standard speeds approx. 128Kbps without Plus;
                    with Plus approx. 256 Kbps. Plus: Postpaid only. Activate HD. Video streams in native resolution
                    which may not be HD. Gogo: on U.S.-based airlines; Wi-Fi Calling functionality, valid e911 address,
                    &amp; 1 prior Wi-Fi call w/ current SIM card req’d for messaging. Stateside Int’l Talk: Calls must
                    originate on T-Mobile’s U.S. network or in Canada/Mexico.
                    Rates and included countries vary and may change. Coverage not available in some areas; we are not
                    responsible for our partners’ networks. Protection&lt;360&gt;: Must enroll within 30 days of
                    qualified purchase. Up to 3 approved claims in rolling 12-mo. period for accidental damage, loss,
                    or theft with deductible of up to $249. $5 processing fee may apply for approved mechanical
                    breakdown claims. $1,200 per claim limit applies. Cancel at any time. For complete coverage
                    details, including limitations and exclusions, please visit mytmoclaim.com/terms. A basic
                    protection plan is also available, please contact us at 1-800-937-8997 for more information. By
                    declining the device protection, your device will not be covered against accidental damage,
                    mechanical breakdown after the manufacturer’s warranty, or loss/theft. If you change your mind,
                    you’ll have 30 days from device purchase to enroll.
                    Just give us a call. For complete details, including benefits, exclusions, limitations and costs,
                    please visit <a class="color-magenta" tabindex="-1" href="">mytmoclaim.com/terms.</a> Network
                    Management: Service may be slowed, suspended, terminated, or restricted for misuse, abnormal use,
                    interference with our network or ability to provide quality service to other users, or significant
                    roaming. See<a class="color-magenta" tabindex="-1" href=""> T-Mobile.com/OpenInternet</a> for data
                    management details. Not for extended international use; you must reside in the U.S. and primary
                    usage must occur on our network. Device must register on our network before international use.
                    Netflix Offer subject to change. Receive Netflix Standard 2-screen (up to $10.99<span aria-label="per">/</span>mo.
                    value) while you maintain 2+ qual’g T-Mobile ONE lines in good standing. Netflix account &amp;
                    compatible device required. Value may be applied to different Netflix streaming plans. Not
                    redeemable or refundable for cash; cannot be exchanged for Netflix gift subscriptions. Cancel
                    Netflix anytime.
                    Netflix Terms of Use apply: <a class="color-magenta" tabindex="-1" href="">
                        http://www.netflix.com/termsofuse.</a>
                    1 offer per T-Mobile account; may take 1-2 bill cycles. Like all plans, features may change or be
                    discontinued at any time; see T-Mobile Terms and Conditions at T-Mobile.com for details.
                </p>
                <p class="limited-time-offer m-b-0 p-t-13" tabindex="0" aria-label="1, Total due today: This is the total amount due today. Total does not reflect final price after any mail-in rebates, device taxes or shipping.<br>
                        2. Device tax, shipping, and handling will be added when the shipping address is provided.">1.
                    Total due today: This is the total amount due today. Total does not reflect final price after any
                    mail-in rebates, device taxes or shipping.<br>
                    2. Device tax, shipping, and handling will be added when the shipping address is provided.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-black m-b-280-md">
        <div class="container">
            <div class="row label-black-12">
                <div class="col-xs-12 p-t-10 p-b-15 no-padding">
                    <p class="m-b-0 white"><a href="">Terms of use</a> | <a href="">Terms & Conditions</a> | <a href="">Return
                            Policy</a></p>
                </div>
                <div class="col-xs-12 col-sm-4 p-b-35-xs p-b-49 no-padding">
                    <p class="m-b-0 white"><a href="">Privacy Policy</a> | <a href="">Español </a></p>
                </div>
                <div class="col-xs-12 col-sm-8 p-b-49 no-padding">
                    <p class="m-b-0 text-center white" tabindex="0" aria-label="copyright 2002-2018 T-MOBILE USA, INC."><i
                            class="fa fa-copyright"></i><span>2002-2018 T-MOBILE USA, INC.</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>

</body>

</html>