<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>Order Details</title>
  <!-- Dependencies -->
  <link rel="stylesheet" href="css/core/bootstrap.min.css">
  <link rel="stylesheet" href="css/core/font-awesome.min.css">
  <!-- Custom styles -->
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="page-css/order-detail-modal.css">
</head>

<body ng-controller="orderModalctrl" ng-cloak ng-init="init()" ng-keyup="keyPress($event.keyCode)">
  <div class="col-xs-12 no-padding text-center p-t-80" ng-class="{'position-fixed': visibleModal || visible}">
    <button class="btn btn-primary border-radius" tabindex="{{!visibleModal? '0' : '-1' }}" ripple
      ng-click="openModal()" id="orderDetailsBtn">Order Details</button>
  </div>
  <!-- modal starts -->
  <div class="dialog-container animation-out" ng-click="dialogModalClick()" ng-class="{'animation-in':visibleModal}"
    aria-hidden={{!visibleModal}}>
    <div class="row hidden-xs">
      <div class="col-xs-1 no-padding text-right close-position hidden-xs">
        <span class="fa fa-times" tabindex="{{visibleModal? '0':'-1'}}"
          ng-keyDown="$event.keyCode==13? closeModal() :null" ng-click="closeModal()" id="orderModalclose"
          aria-label="click here to close the modal">
        </span>
      </div>
    </div>
    <div class="dialog cart-scroll body-height bg-white margin-vertical-100" ng-click="dialogClick()" tabindex="-1"
      id="orderModal" ng-keydown="backTabEvent($event,'orderModalclose')">

      <div class="row p-t-13-xs p-t-8-sm hidden visible-xs">
        <div class="col-xs-12">
          <span class="cursor pull-right p-r-16-xs p-r-8-sm" ng-click="closeModal()" tabindex="-1">
            <span class="fa fa-times fa-iconsize color-e20074" tabindex="{{visibleModal? '0':'-1'}}"
              ng-keyDown="$event.keyCode==13? closeModal() :null" id="orderModalclose"
              aria-label="click here to close the modal">
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 padding-horizontal-49-md p-t-32-md p-t-13-xs">
          <div class="section-1 padding-horizontal-16-xs">
            <span tabindex="{{visibleModal? '0':'-1'}}"
              aria-label="Hi {{details[0].user}} based on your credit here is what you will pay for your order">
              Hi {{details[0].user}}, based on your credit here's what you'll pay for your order.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6 text-center p-t-25 p-t-33-xs">
          <div class="color-e20074">
            <div class="h1-heading" ng-if="visibleModal">
              <span tabindex="{{visibleModal? '0':'-1'}}"
                aria-label="{{details[0].total_down_payment + 'down payement'}}">
                <sup class="font-40 p-r-2 sup-custom">
                  {{details[0].total_down_payment | currencyFilter: 'dollar' }}</sup> {{details[0].total_down_payment | currencyFilter:
                'mantessa'}}
                <sup
                  class="font-40 p-l-2-md sup-custom">{{details[0].total_down_payment | currencyFilter: 'decimal'}}</sup>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6 text-center p-t-25 p-t-33-xs">
          <div class="color-262626">
            <div class="h1-heading color-262626" ng-if="visibleModal">
              <span tabindex="{{visibleModal? '0':'-1'}}"
                aria-label="{{details[0].total_emi +'for '+ details[0].noOfMonths+' months'}}">
                <sup class="font-40 p-r-2 sup-custom">{{details[0].total_emi | currencyFilter: 'dollar' }}</sup>{{details[0].total_emi | currencyFilter: 'mantessa'
                }}
                <sup class="font-40 p-l-2-md sup-custom">{{details[0].total_emi | currencyFilter: 'decimal' }}</sup>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-6 text-center">
          <div class="color-e20074">
            <div class="description-bold">Down payment
            </div>
          </div>
        </div>
        <div class="col-md-7 col-xs-6 text-center">
          <div class="color-262626">
            <div class="description-bold">
              for {{details[0].noOfMonths}} mos.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 p-t-24-sm padding-horizontal-49-md p-t-44-xs">
          <div class="section-2 padding-horizontal-16-xs">
            <span tabindex="{{visibleModal? '0':'-1'}}" aria-label="{{details[0].desc}}"> {{details[0].desc}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 padding-horizontal-49-md p-t-24 p-t-32-xs ">
          <div class="col-xs-5 col-sm-6  col-md-6 col-lg-6 col-xl-6 ">
          </div>
          <div class="col-xs-3">
            <span role="heading" tabindex="{{visibleModal? '0':'-1'}}" aria-label="down payment"
              class="Down-payment">Down payment</span>
          </div>
          <div class="col-xs-2">
            <span role="heading" tabindex="{{visibleModal? '0':'-1'}}" aria-label="Monthly"
              class="Down-payment">Monthly</span>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        </div>
      </div>
      <div class="row p-t-8 no-margin-xs">
        <div class="padding-horizontal-49-md">
          <div class="col-xs-12 no-padding-md">
            <div class="inset-divider-1px"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="padding-horizontal-16-xs padding-horizontal-49-md p-t-20"
          ng-repeat="data in details[0].deviceInfo; ">
          <div class="col-xs-5 col-sm-6  col-md-6 col-lg-6 col-xl-6  no-padding-md p-r-0-xs">
            <span class="line-heading" tabindex="{{visibleModal? '0':'-1'}}"
              aria-label="{{data.name}} + 'details'">{{data.name}}</span>
          </div>
          <div class="col-xs-3">
            <span class="line-heading" tabindex="{{visibleModal? '0':'-1'}}"
              aria-label="{{data.down_payment}} + 'downpayment'">{{data.down_payment}}</span>
          </div>
          <div class="col-xs-2">
            <span class="line-heading" tabindex="{{visibleModal? '0':'-1'}}"
              aria-label="{{data.emi}} + 'emi'">{{data.emi}}</span>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xl-1" ng-show="!linedetails[$index]">
            <a class="text-magenta text-decoration-underline cursor float-right" ng-click="showLineDetails($index)"
              ng-keyDown="$event.keyCode==13?showLineDetails($index):null" role="article" aria-live="assertive">
              <img tabindex="{{visibleModal? '0':'-1'}}" aria-label="Press Enter to see the line details" class="p-l-5"
                src="img/arrow-down_magenta.svg"> </a>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xl-1" ng-show="linedetails[$index]">
            <a class="text-magenta text-decoration-underline cursor float-right" ng-click="hideLineDetails($index)"
              ng-keyDown="$event.keyCode==13?hideLineDetails($index):null">
              <img tabindex="{{visibleModal? '0':'-1'}}" aria-live="assertive"
                aria-label="Press Enter to see the line details" class="p-l-5" src="img/arrow-up_magenta.svg"> </a>
          </div>
          <div ng-show="linedetails[$index]">
            <div class="col-xs-12 no-padding" ng-repeat="orderDetails in data.details" aria-live="assertive"
              ng-class="(orderDetails.retailPrice ? 'p-b-8' : data.details.length - 1 > $index ? 'p-b-16' : '') + ' ' + ($index == 0 ? 'p-t-16' : '')">
              <div class="col-xs-5 col-sm-6  col-md-6 col-lg-6 col-xl-6  p-r-0-xs p-l-32-xs">
                <span class="description" tabindex="{{visibleModal? '0':'-1'}}"
                  aria-label="{{orderDetails.name}} + 'details'">{{orderDetails.name}}</span>
                <div class="legal" ng-if="orderDetails.retailPrice" tabindex="{{visibleModal? '0':'-1'}}"
                  aria-label="'Full retail:' +{{orderDetails.retailPrice}}">Full retail: {{orderDetails.retailPrice}}
                </div>
              </div>
              <div class="col-xs-3">
                <span class="line-text" tabindex="{{visibleModal? '0':'-1'}}"
                  aria-label="'with down payment'{{orderDetails.down_pay}}">{{orderDetails.down_pay}}</span>
              </div>
              <div class="col-xs-2 line-text-alignment">
                <span class="line-text" tabindex="{{visibleModal? '0':'-1'}}"
                  aria-label="{{orderDetails.monthly=='--'?orderDetails.monthly :'for ' +orderDetails.monthly + ' Months'}}">{{orderDetails.monthly}}</span>
                <div class="legal" ng-if="orderDetails.months" tabindex="{{visibleModal? '0':'-1'}}"
                  aria-label="'for' +{{orderDetails.months}} + 'months'">for {{orderDetails.months}} mos.</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 no-padding-md" ng-if="$index !== details[0].deviceInfo.length - 1"
            ng-class="linedetails[$index] ? 'p-t-24-md p-t-40-xs' : 'p-t-36-md p-t-52-xs' ">
            <div class="inset-divider-1px p-b-20"></div>
          </div>
        </div>
      </div>
      <div class="row no-margin-xs padding-horizontal-15-xs padding-horizontal-49-md p-t-28 bg-white">
        <div class="col-xs-12 no-padding-md">
          <div class="full-bleed-divider p-b-16"></div>
        </div>
        <div class="col-xs-5 col-sm-6  col-md-6 col-lg-6 col-xl-6  no-padding-md">
          <span class="line-heading" tabindex="{{visibleModal? '0':'-1'}}" aria-label="total">Total</span>
        </div>
        <div class="col-xs-3">
          <span class="line-heading color-e20074" tabindex="{{visibleModal? '0':'-1'}}"
            aria-label="{{details[0].total_down_payment}}">{{details[0].total_down_payment}}</span>
        </div>
        <div class="col-xs-2">
          <span class="line-heading" tabindex="{{visibleModal? '0':'-1'}}"
            aria-label="{{details[0].total_emi}}">{{details[0].total_emi}}</span>
        </div>
        <div class="col-xs-2 col-sm-1  col-md-1 col-lg-1 col-xl-1" ng-show="!linedetails[$index]">
        </div>
      </div>
      <div class="p-t-48-xs p-t-40 padding-horizontal-49-md row no-margin-xs bg-white">
        <div class="col-sm-4 col-xs-12 p-b-16-md no-padding-md pull-right padding-horizontal-16-xs">
          <button class="btn-primary-big text-custom" ng-click="orderDetailsModalTab()" ripple
            tabindex="{{visibleModal? '0':'-1'}}" aria-label=" click here to finish checkout">
            Finish checkout
            <img class="p-r-6" src="./img/arrow-right.png">
          </button>
        </div>
        <div class="col-sm-4 col-xs-12 p-b-16-md p-l-0-md  p-r-5-md padding-horizontal-16-xs p-t-24-xs">
          <button class="btn-secondary-big text-custom" ripple tabindex="{{visibleModal? '0':'-1'}}"
            aria-label=" click here to Get answers to questions about pricing  Chat with us ">
            <div class="btn-text" tabindex="-1"> Get answers to questions about pricing.</div>
            <div class="p-t-8" tabindex="-1"> Chat with us </div>
          </button>
        </div>
        <div class="col-sm-4 col-xs-12 p-b-16-md p-l-0-md p-r-5-md padding-horizontal-16-xs p-t-24-xs">
          <button class="btn-secondary-big text-custom" ripple tabindex="{{visibleModal? '0':'-1'}}"
            aria-label="click here to Need to make some adjustments? Edit your cart ">
            <div class="btn-text" tabindex="-1"> Need to make some adjustments? </div>
            <div class="p-t-8" tabindex="-1"> Edit your cart </div>
          </button>
        </div>
      </div>
      <div class="row bg-white">
        <div class="col-xs-12 padding-horizontal-49-md p-b-40-md">
          <div class="cancel-text padding-16-xs ">
            <span tabindex="{{visibleModal? '0':'-1'}}"
              aria-label="IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. 0% APR. Qual’g service req’d.">
              IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON DEVICE BECOMES DUE. 0% APR. Qual’g service
              req’d.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay bg-white-xs" ng-click="closeModal()"
    ng-class="{'overlay-in':visibleModal,'overlay-out':!visibleModal}" tabindex="-1"></div>
  <!-- modal ends-->
  <!-- order details starts	-->
  <div class="dialog-container animation-out" ng-click="dialogModalClick()" ng-class="{'animation-in':visible}"
    aria-hidden={{!visible}}>
    <div class="row hidden-xs">
      <div class="col-xs-1 no-padding text-right close-position hidden-xs">
        <span class="cursor fa fa-times color-e20074" tabindex="{{visible? '0':'-1'}}" ng-click="close()"
          ng-keyDown="$event.keyCode==13? close() :null" id="modalBodyclose" aria-label="click here to close the modal">
        </span>
      </div>
    </div>
    <div class="dialog cart-scroll body-height bg-white margin-vertical-100" ng-click="dialogClick()" id="modalBody"
      tabindex="-1" ng-keydown="backTabEvent($event,'modalBodyclose')">
      <div class="row p-t-13-xs p-t-8-sm hidden visible-xs">
        <div class="col-xs-12">
          <span class="cursor pull-right p-r-16-xs p-r-8-sm" ng-click="close()" tabindex="-1">
            <span class="fa fa-times color-e20074 fa-iconsize" tabindex="{{visible? '0':'-1'}}"
              ng-keyDown="$event.keyCode==13? close() :null" id="modalBodyclose"
              aria-label="click here to close the modal">
            </span>
          </span>
        </div>
      </div>
      <div class="row p-t-37-sm p-t-13-xs p-h-49-sm">
        <div class="col-xs-12">
          <div class="section-1 p-h-16-xs">
            <span tabindex="{{visible? '0':'-1'}}" aria-label="Let us help you complete your order">Let us help you
              complete your order</span>
          </div>
        </div>
      </div>
      <div class="row p-t-24 p-h-16-xs p-h-49-sm">
        <div class="col-xs-12">
          <div class="section-2" tabindex="{{visible? '0':'-1'}}"
            aria-label="We need to take a few more steps before we can complete your purchase. Reach out to a T-Mobile expert and we'll help you finish your order">
            We need to take a few more steps before we can complete your purchase. Reach out to a T-Mobile expert and
            we'll
            help you finish your order.</div>
        </div>
      </div>
      <div class="row no-padding m-t-40 m-h-16-xs m-h-49-sm">
        <div class="col-xs-12 no-padding col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 bg-f8f8f8">
          <div class="row p-t-24">
            <div class="section-3-small text-center">
              <span tabindex="{{visible? '0':'-1'}}" aria-label="Order ID">Order ID</span>
            </div>
          </div>
          <div class="row p-t-8 p-b-24 p-b-24-xs">
            <div class="section-3-big text-center ">
              <span tabindex="{{visible? '0':'-1'}}" aria-label="A1234567">A1234567</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-margin p-h-16-xs p-h-49-sm">
        <div class="col-xs-12 p-t-16">
          <div class="section-2 text-center">
            <span tabindex="{{visible? '0':'-1'}}"
              aria-label="Use your Order ID when speaking with a T-Mobile expert to help expedite your order">Use your
              Order ID when speaking with a T-Mobile expert to help expedite your order.</span>
          </div>
        </div>
      </div>
      <div class="p-h-49-sm p-t-40">
        <div class="col-sm-6 col-md-6 col-xs-12 p-b-24-xs p-b-64-sm no-padding pull-right p-r-8-sm p-h-16-xs">
          <button class="btn-primary-big-order text-custom" ripple tabindex="{{visible? '0':'-1'}}" role="button"
            aria-label="Click to Call 1-800-T-Mobile">Call 1-800-T-Mobile
            <img class="p-r-6" src="./img/arrow-right.png">
          </button>
        </div>
        <div class="col-sm-6 col-xs-12 s no-padding p-r-8-sm p-b-24-xs p-b-64-sm p-h-16-xs">
          <button class="btn-secondary-big-order text-custom" ripple tabindex="{{visible? '0':'-1'}}" role="button"
            aria-label="Click to Schedule a store visit">Schedule a store visit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay bg-white-xs" ng-click="close()" ng-class="{'overlay-in':visible,'overlay-out':!visible}"
    tabindex="-1"></div>
  <!-- order details ends    -->
  <!-- Dependencies -->
  <script src="js/core/angular.min.js"></script>
  <script src="js/core/angular-animate.min.js"></script>
  <script src="js/core/angular-aria.min.js"></script>
  <script src="js/core/angular-cookies.min.js"></script>
  <script src="js/core/angular-loader.min.js"></script>
  <script src="js/core/angular-messages.min.js"></script>
  <script src="js/core/angular-message-format.min.js"></script>
  <script src="js/core/angular-sanitize.min.js"></script>
  <script src="js/core/angular-touch.min.js"></script>
  <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
  <script src="js/app.js"></script>
  <script src="js/ripple.js"></script>
</body>

</html>