<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Progress Bar/Step Counter</title>
    <!-- Dependencies -->
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="page-css/step-counter.css">
</head>

<body ng-controller="stepCounterController" ng-cloak ng-init="init()">
    <div class="container">
        <div class="row"></div>
        <div class="col-xs-6 col-sm-2 text-center p-t-8 p-t-50">
            <span>Left Content</span>
        </div>
        <div class="col-xs-6 col-sm-2 col-sm-push-8 text-center p-t-8 p-t-50">
            <span>Right Content</span>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-sm-pull-2 no-padding">
            <multi-step></multi-step>
        </div>
    </div>
    <div class="col-xs-12 text-center m-t-50" ng-switch="currentStep">
        <div ng-switch-when="1">Form 1</div>
        <div ng-switch-when="2">Form 2</div>
        <div ng-switch-when="3">Form 3</div>
        <div ng-switch-when="4">Form 4</div>
    </div>
    <div class="col-xs-12 text-center m-t-50">
        <button ng-click="back()" ng-if="currentStep!=1">Back</button>
        <button ng-click="continue()" ng-if="currentStep!= totalSteps">Continue</button>
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
</body>

</html>