﻿<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Standard</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/Common.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/glue.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/confirmation.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/orderStatus.less">
</head>

<body class="bg-white" ng-controller="orderStatusCtrl">
    <div class=" text-center header-box-shadow">
        <div class="container no-padding ">
            <div class="col-xs-4 col-md-offset-1 col-md-3 col-lg-4 col-lg-offset-1">
                <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size"></i>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center" />
            </div>
            <div class="col-xs-4 col-md-offset-1 col-md-2 col-lg-3 col-lg-offset-1 p-r-8">
                <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>
            </div>
        </div>
    </div>
    <div class="bg-f2f2f2 bg-white-xs ">
    <div class=" container bg-f2f2f2">
        <div class="row p-t-25 p-b-25">
            <div class="col-xs-12 col-md-offset-1 col-md-10 body-copy-description text-black p-l-24-xs p-r-24-xs">
                Don’t see your order here? Look up your order status by using your order number.<a class="link"> Check order status.</a>
            </div>
        </div>
    </div>
        <!--START: order without trade-in-->
        <div class="col-xs-12 hr-8px-xs p-b-8-xs no-padding"></div>
    <div class="container bg-f2f2f2 bg-white-xs">
        <div class="row no-margin ">
            <div class="col-xs-12 col-md-offset-1 col-md-10 order_div_border p-r-24 p-l-24 p-r-9-xs p-l-9-xs">
                <div class="col-xs-12 no-padding p-b-16 p-t-24 ">
                    <div class="body-copy-highlight pull-right-md p-b-5-xs">Order #123456700</div>
                    <div class="h2-title title-font text-black  ">Shipped</div>
                    <div class="body-copy-highlight  text-black p-t-5">on 02/16/2018</div>
                    <button class="pull-right glueButton glueButtonPrimary btnTrack push-up-btn">Track</button>
                </div>
                <div class="col-xs-12 no-padding summaryDiv1 text-left d-md-flex align-items-center" >
                    <div  class="col-xs-12 col-md-6 inline-block vertical-align-middle no-padding">
                        <img src="img/apple.jpg" alt="..." class="phone_img_size ">
                        <span class="body-copy-description text-black p-l-10-lg p-l-24-xs p-l-24">iPhone 8 Silver - 64GB</span>
                    </div>
                    <div class="col-xs-12 col-md-6 inline-block vertical-align-middle p-t-24-xs no-padding">
                        <img src="img/sim.jpg" alt="..." class="sim_img_size ">
                        <span class="body-copy-description text-black p-l-10-lg p-l-24-xs p-l-24">SIM Starter Kit</span>
                    </div>
                </div>
                <div ng-show="showOrderSummary" class="row no-margin">
                    <div class="col-xs-12 col-md-12 no-padding p-t-16 p-b-24">
                        <a class="body-copy-description text-magenta text-decoration-underline cursor" ng-click="showOrderDetails()">Show
                            order details <img class="p-l-5" src="img/arrow-down_magenta.svg" > </a>
                    </div>
                </div>
                <div ng-show="hideOrderSummary" ng-cloak class="row no-margin">
                    <div class="col-xs-12 col-md-12 no-padding p-t-8 p-t-16-xs p-b-16-xs ">
                        <a class="body-copy-description text-magenta text-decoration-underline cursor" ng-click="hideOrderDetails()">Hide
                            order details <img class="p-l-5" src="img/arrow-up_magenta.svg" > </a>
                    </div>
                </div>
                <div ng-show="hideOrderSummary" ng-cloak class="">
                    <div class="p-t-10-lg p-t-10-md p-t-10-sm ">
                        <div class="col-xs-12 col-md-12 no-padding">
                            <div class="orderSummary-font text-black p-b-8 p-b-5-xs">Order summary</div>
                            <div class="body-copy-description text-black p-b-8 p-b-16-xs p-t-10">
                                Paid at purchase : <span class="subtitle-font text-black">$145.99</span> </div>
                            <div class="col-md-4 no-padding ">
                                <div class="font12 pull-left">Due today</div>
                                <div class="font12 pull-right text-black">$25.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5 p-t-8-xs p-t-5">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left">Deposit</div>
                                <div class="font12 pull-right text-black">$50.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5 p-t-8-xs">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left ">Shipping</div>
                                <div class="font12 pull-right text-black">$0.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5 p-t-8-xs">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left ">Sales tax</div>
                                <div class="font12 pull-right text-black">$50.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-t-8-xs">
                            <div class="col-md-4 no-padding">
                                <div class="body-copy-highlight pull-left ">Total paid:</div>
                                <div class="body-copy-highlight pull-right">$125.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-t-8 p-b-16">
                            <div class="col-md-4 no-padding">
                                <div class="legal pull-left ">
                                    Legal place holder Legal place holderLegal place holderLegal place holderLegal
                                    place holderLegal place holder l place holderLegal place holderLegal place
                                    holderLegal place holderLegal place holder
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-25-lg p-b-25-md p-b-30-xs p-b-30-sm">
                            <div class="col-md-5 no-padding">
                                <div class="subtitle-font  text-black">Payment information</div>
                                <div class="font12 text-black p-t-8">
                                    <span class="text-bold">Customer:</span> Nathaniel Snodgrass
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">T-Mobile account number:</span> 842432432
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Number:</span> (206) 430-0000
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Email:</span> test@test.com
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Paid on:</span> Sep 12, 2017
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Paid using:</span> MasterCard ************1234
                                </div>
                            </div>
                            <div class="col-md-4 no-padding p-t-16-xs p-t-15-sm">
                                <div class="subtitle-font  text-black">Shipped to</div>
                                <div class="font12 text-black p-t-10">NATHANIEL SNODGRASS</div>
                                <div class="font12  text-black p-t-5">7000 200TH PL NE</div>
                                <div class="font12  text-black p-t-5">REDMOND, WA 98050</div>
                            </div>
                            <div class="col-md-3 no-padding p-t-16-xs p-t-15-sm">
                                <div class="subtitle-font  text-black">Billed to</div>
                                <div class="font12  text-black p-t-10">NATHANIEL SNODGRASS</div>
                                <div class="font12 text-black p-t-5">7000 200TH PL NE</div>
                                <div class="font12 text-black p-t-5">REDMOND, WA 98050</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END: order without trade-in-->
</div>
        <!--START: order with trade-in-->
        <div class="col-xs-12 hr-8px-xs no-padding p-b-16"></div>
        <div class="container bg-f2f2f2 bg-white-xs padding-bottom-xxl padding-bottom-xl-xs padding-bottom-xl-sm">
        <div class="row no-margin">
            <div class="col-xs-12 col-md-offset-1 col-md-10 order_div_border p-r-24 p-l-24 p-r-9-xs p-l-9-xs p-b-24-md">
                <div class="col-xs-12 no-padding p-b-16 p-t-24">
                    <div class="body-copy-highlight pull-right-md p-b-5-xs">Order #123456700</div>
                    <div class="h2-title title-font text-black  ">Shipped</div>
                    <div class="body-copy-highlight  text-black p-t-5">on 02/16/2018</div>
                    <button class="pull-right glueButton glueButtonPrimary btnTrack push-up-btn">Track</button>
                </div>
                <div class="col-xs-12 no-padding summaryDiv2 text-left inline-block vertical-align-middle" >
                    <div class="inline-block vertical-align-middle p-r-100-md">
                        <img src="img/apple.jpg" alt="..." class="phone_img_size ">
                        <span class="body-copy-description text-black p-l-10-lg p-l-24-xs p-l-24">iPhone 8 Silver - 64GB</span>
                    </div>
                </div>
                <div ng-show="showOrderWithTradeinSummary" class="row no-margin">
                    <div class="col-xs-12 col-md-12 no-padding p-t-16 p-b-24">
                        <a class="body-copy-description text-magenta text-decoration-underline cursor" ng-click="showOrderWithTradeinDetails()">Show
                            order details <img class="p-l-5" src="img/arrow-down_magenta.svg" > </a>
                    </div>
                </div>
                <div ng-show="hideOrderWithTradeinSummary" ng-cloak class="row no-margin">
                    <div class="col-xs-12 col-md-12 no-padding p-t-8 p-b-10 p-t-16-xs p-b-16-xs p-b-30 ">
                        <a class="body-copy-description text-magenta text-decoration-underline cursor" ng-click="hideOrderWithTradeinDetails()">Hide
                            order details <img class="p-l-5" src="img/arrow-up_magenta.svg" > </a>
                    </div>
                </div>
                <div ng-show="hideOrderWithTradeinSummary" ng-cloak class="">
                    <div class=" ">
                        <div class="col-xs-12 col-md-12 no-padding">
                            <div class="orderSummary-font text-black p-b-8 p-b-5-xs">Order summary</div>
                            <div class="body-copy-description text-black p-b-8">
                                Paid at purchase: <span class="subtitle-font text-black">$145.99</span> </div>
                            <div class="col-md-4 no-padding p-b-5">
                                <div class="font12 pull-left ">Due today</div>
                                <div class="font12 pull-right text-black">$25.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5 p-t-8-xs p-t-5">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left">Deposit</div>
                                <div class="font12 pull-right text-black">$50.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5 p-t-8-xs">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left ">Shipping</div>
                                <div class="font12 pull-right text-black">$0.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5 p-t-8-xs">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left ">Sales tax</div>
                                <div class="font12 pull-right text-black">$50.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-t-8-xs">
                            <div class="col-md-4 no-padding">
                                <div class="body-copy-highlight pull-left ">Total paid:</div>
                                <div class="body-copy-highlight pull-right">$125.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-t-8 p-b-16">
                            <div class="col-md-4 no-padding">
                                <div class="legal pull-left ">
                                    Legal place holder Legal place holderLegal place holderLegal place holderLegal
                                    place holderLegal place holder l place holderLegal place holderLegal place
                                    holderLegal place holderLegal place holder
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-25-lg p-b-25-md p-b-30-xs p-b-30-sm">
                            <div class="col-md-5 no-padding">
                                <div class="subtitle-font  text-black">Payment information</div>
                                <div class="font12 text-black p-t-8">
                                    <span class="text-bold">Customer:</span> Nathaniel Snodgrass
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">T-Mobile account number:</span> 842432432
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Number:</span> (206) 430-0000
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Email:</span> test@test.com
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Paid on:</span> Sep 12, 2017
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Paid using:</span> MasterCard ************1234
                                </div>
                            </div>
                            <div class="col-md-4 no-padding p-t-16-xs p-t-15-sm">
                                <div class="subtitle-font  text-black">Shipped to</div>
                                <div class="font12 text-black p-t-10">NATHANIEL SNODGRASS</div>
                                <div class="font12  text-black p-t-5">7000 200TH PL NE</div>
                                <div class="font12  text-black p-t-5">REDMOND, WA 98050</div>
                            </div>
                            <div class="col-md-3 no-padding p-t-16-xs p-t-15-sm">
                                <div class="subtitle-font  text-black">Billed to</div>
                                <div class="font12  text-black p-t-10">NATHANIEL SNODGRASS</div>
                                <div class="font12 text-black p-t-5">7000 200TH PL NE</div>
                                <div class="font12 text-black p-t-5">REDMOND, WA 98050</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--START: Trade-in device details-->
                <div class="col-xs-12 hr-1px"></div>
                <div class="col-xs-12 no-padding p-b-16 p-t-24">
                    <div class="h4-title  text-black">Trade in: Processing credit</div>
                </div>
                <div class="col-xs-12 no-padding text-left inline-block vertical-align-middle">
                    <div class="inline-block vertical-align-middle p-r-100-md">
                        <img src="img/apple.jpg" alt="..." class="phone_img_size ">
                        <div class="pull-right">
                        <div class="body-copy-description text-black p-l-10-lg p-l-24-xs p-l-24 p-t-10">Trade-in device</div>
                        <div class="body-copy-description text-black p-l-10-lg p-l-24-xs p-l-24 p-t-10">iPhone 8 Silver - 64GB</div>
                   
                <div ng-show="showTradeindeivceSummary" class="p-l-10-lg p-l-24-xs p-l-24
                 p-t-10" >
                        <a class="body-copy-description text-magenta text-decoration-underline cursor" ng-click="showTradeindeivceDetails()">See more
                            details <img class="p-l-5" src="img/arrow-down_magenta.svg" > </a>
                    </div>
                <div ng-show="hideTradeindeivceSummary" class="p-l-24 p-t-10" ng-cloak >
                        <a class="body-copy-description text-magenta text-decoration-underline cursor" ng-click="hideTradeindeivceDetails()">Hide
                            details <img class="p-l-5" src="img/arrow-up_magenta.svg" ></a>
                    </div>
            </div>
        </div>
    </div>
                <div ng-show="hideTradeindeivceSummary" ng-cloak class="">
                    <div class=" ">
                        <div class="col-xs-12 col-md-12 no-padding p-t-24 p-t-16-xs">
                            <div class="orderSummary-font text-black p-b-8 p-b-5-xs">Order summary</div>
                            <div class="body-copy-description text-black p-b-8 p-b-16-xs">
                                Paid at purchase : <span class="subtitle-font text-black">$145.99</span> </div>
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left ">Due today</div>
                                <div class="font12 pull-right text-black">$25.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5 p-t-5">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left">Deposit</div>
                                <div class="font12 pull-right text-black">$50.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left ">Shipping</div>
                                <div class="font12 pull-right text-black">$0.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-b-5">
                            <div class="col-md-4 no-padding">
                                <div class="font12 pull-left ">Sales tax</div>
                                <div class="font12 pull-right text-black">$50.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-t-8-xs">
                            <div class="col-md-4 no-padding">
                                <div class="body-copy-highlight pull-left ">Total paid:</div>
                                <div class="body-copy-highlight pull-right">$125.00</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding p-t-8 p-b-16">
                            <div class="col-md-4 no-padding">
                                <div class="legal pull-left ">
                                    Legal place holder Legal place holderLegal place holderLegal place holderLegal
                                    place holderLegal place holder l place holderLegal place holderLegal place
                                    holderLegal place holderLegal place holder
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-padding">
                            <div class="col-md-5 no-padding">
                                <div class="subtitle-font  text-black">Payment information</div>
                                <div class="font12 text-black p-t-8">
                                    <span class="text-bold">Customer:</span> Nathaniel Snodgrass
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">T-Mobile account number:</span> 842432432
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Number:</span> (206) 430-0000
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Email:</span> test@test.com
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Paid on:</span> Sep 12, 2017
                                </div>
                                <div class="font12  text-black p-t-5">
                                    <span class="text-bold">Paid using:</span> MasterCard ************1234
                                </div>
                            </div>
                            <div class="col-md-4 no-padding p-t-16-xs p-t-15-sm ">
                                <div class="subtitle-font  text-black">Shipped to</div>
                                <div class="font12 text-black p-t-5">NATHANIEL SNODGRASS</div>
                                <div class="font12  text-black p-t-5">7000 200TH PL NE</div>
                                <div class="font12  text-black p-t-5">REDMOND, WA 98050</div>
                            </div>
                            <div class="col-md-3 no-padding p-t-16-xs p-t-15-sm">
                                <div class="subtitle-font  text-black">Billed to</div>
                                <div class="font12  text-black p-t-10">NATHANIEL SNODGRASS</div>
                                <div class="font12 text-black p-t-5">7000 200TH PL NE</div>
                                <div class="font12 text-black p-t-5">REDMOND, WA 98050</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END: Trade-in device details-->
            </div>
        </div>
        <!--END: order with trade-in-->
    </div>
    </div>
    <div class="overlay" ></div>
    <!-- Dependencies -->
    <script src="js/core/angular.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>

</html>