
.body-copy-description-regular{
    font-size: 14px;
    line-height: 20px;
    font-family:Arial;
	font-weight:normal;
	letter-spacing: -0.1px;
}

.body-copy-description{
    font-size: 14px;
    line-height: 20px;
    font-family:Arial;
    font-weight:normal;
    letter-spacing: -0.1px;
}
  
.body-copy-description-bold{
	font-size: 14px;
	line-height: 20px;
	font-family:Arial;
	font-weight:bold;
	letter-spacing: -0.1px;
}
.body-copy-highlight{
    font-family:Arial;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight:bold;
    letter-spacing: 0px;
}
.body-copy-caption{
    font-family:Arial;
    font-size: 11px !important;
    line-height: 16px !important;
    letter-spacing: 0.5px;
}
  
.button-title {
  font-size: 20px;   
  line-height: 24px; 
  font-family:Tele-Fet;
}

.h2-title {
  font-family:Tele-Fet;
  color: #000;
  font-size: 38px!important;
  line-height: 59px!important;
      letter-spacing: -0.1px;

}
.h3-title {
  font-family:Tele-Fet;
  color: #000;
  font-size: 38px!important;
  line-height: 36px!important;
  letter-spacing: -0.1px;
}
.h4-title {
 font-family: Tele-Fet;
  color: #000;
  font-size: 26px!important;
  line-height: 26px!important;
  letter-spacing: -0.1px;
}
@media (max-width: 767px){

.h4-title-mobile {
	  font-family: Tele-Fet;
	  color: #000;
	  font-size: 26px !important;
	  line-height: 26px !important;
	  letter-spacing: -0.1px;
	}
}	
	
.fine-print-body{
    font-size: 11px!important;
    line-height: 15px!important;
    font-family:Arial;
	font-weight: 500;
}
  .eyebrow{
    font-size: 11px!important;
    line-height: 12px!important;
    font-family:Arial;
  }
.title {
	font-family:Arial;
  color: #000;
  font-size: 18px!important;
  line-height: 20px!important;
}
.tab-title {
	font-family:Arial;
  color: #000;
  font-size: 14px!important;
  line-height: 17px!important;
}

/*Sez code*/
.fine-print-body-bold{
    font-size: 11px!important;
    line-height: 15px!important;
    font-family: Arial;
	font-weight: bold;
  }
.border{
	border: 2px solid #bbb8b8;
    border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:10px;
}

@media (min-width: 768px){
.border{
    width: 340px;
  }
}

@media (max-width: 400px){
	.popover {
		  max-width:145px !important;
	}
}
@media (min-width:768px) and (max-width:991px){
	.button_width{
	width:180px !important;
	}
}
.cursor-pointer{
  cursor:pointer !important;
}
/*class added for new pages*/
 

