[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

/*fonts starts*/
.col-width-xs {
    width: 6% !important;
}

.Display4 {
    line-height: 30px;
}

.Display6 {
    font-size: 18px;
}

.f-14 {
    font-family: Tele-Ult;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-weight: normal;
    color: black;
}

/*fonts ends*/
sup {
    top: -.5em;
}

.wrapper-icon {
    display: flex;
    align-items: center;
}

.phone-icon {
    width: 53px;
    height: auto;
    text-align: center;
}

.tag-icon {
    width: 10px;
    height: 10px;
}

.underline {
    text-decoration: underline;
}

.verticalLine {
    width: 2px;
    height: 72px;
    border-right: solid 1px #cccccc;
}

.strike {
    text-decoration: line-through;
    display: inline-block;
}

.m-r-4 {
    margin-right: 4px;
}

.icox {
    font-size: 20px;
}

.body-copy-description,
.legal {
    color: #6a6a6a;
}

.black {
    color: #000000;
}

.bg-color-9b9b9b {
    background-color: #9b9b9b !important;
    border-color: #9b9b9b !important;
}

.btn-primary[disabled] {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*media queries starts*/
@media (max-width: 767px) {
    .ph-icon {
        width: 21px;
        height: 21px;
    }

    .main-content {
        min-height: calc(100vh - 240px);
    }

    .body-copy-description-regular {
        font-size: 18px;
        line-height: 18px;
        font-family: Tele-nor;
        font-weight: normal;
        letter-spacing: 0px;
    }

    .phoneImage {
        height:56px;
        width: auto;
    }

}

@media (min-width:768px) {

    .verticalLine {
        width: 3px;
        height: 74px;
    }

    .padding-horizontal-40-sm {
        padding-left: 40px;
        padding-right: 40px;
    }

    .p-l-35-sm {
        padding-left: 35px;
    }

    .p-l-15-sm {
        padding-left: 15px;
    }

    .p-l-23-sm {
        padding-left: 23px;
    }

    .p-b-32-sm {
        padding-bottom: 32px;
    }

    .glueButton {
        width: 287px !important;
    }

    .p-l-33-sm {
        padding-left: 33px;
    }

    .m-t--30-md {
        margin-top: -40px;
    }

    .body-copy-description {
        font-size: 16px;
        line-height: 24px;
        color: #6a6a6a;
    }

    .body-copy-description-bold {
        font-size: 16px;
    }

    .body-copy-description-regular {
        font-size: 24px;
        line-height: 24px;
        font-family: Tele-nor;
        font-weight: normal;
        letter-spacing: 0px;
    }

    .phoneImage {
        width:288px;
        height:auto;
    }
}

@media (min-width:992px) {
    .padding-horizontal-40-md {
        padding-left: 40px;
        padding-right: 40px;
    }

    .m-l-40-md {
        margin-left: 40px;
    }
}

/*media queries ends*/

/* Modal Stylings start*/
.dialogPaddingLCModal {
    padding: 32px 15px 0px;
    background-color: #FFFFFF;
}

.f-24 {
    font-family: Tele-Ult;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: normal;
}

.f-40 {
    font-family: Tele-Ult;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.41px;
    font-weight: normal;
}

.alertoverlay {
    z-index: -1;
}

/* Modal Stylings end*/
@media (min-width:768px) {
    .p-t-64-sm {
        padding-top: 64px;
    }
}

a:hover {
    text-decoration: underline !important;
}

/*sup,sub{
    vertical-align: baseline;
    position: relative;
    top:-0.4em;
}*/
sub {
    top: 0.1em;
}

.m-b-4 {
    margin-bottom: -4px;
}

@media (min-width: 320px) and (max-width: 356px) {
    .word-wrap {
        white-space: nowrap;
    }
}

.glueRadio-container .check {
    top: 1px;
}

.glueRadio-container {
    width: 23px;
    height: 22px;
}

.border-bottom {
    border-bottom: 1px solid #dddddd;
}

.radio-label,
.select-label {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0;
    font-family: Tele-Ult;
}

.select-label {
    font-size: 18px;
}

.error {
    color: #e8200d;
}

.p-13 {
    padding:13px;
}

.nowrap {
    white-space: nowrap;
}

@media (max-width: 767px) {

    .p-13 {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 13px;
        padding-right: 0px;
    }

    .p-b-16-xs {
        padding-bottom: 16px;
    }

    .p-b-24-xs {
        padding-bottom: 24px;
    }

    .p-t-24-xs {
        padding-top: 24px;
    }

    .p-b-32-xs {
        padding-bottom: 32px;
    }

    .full-divider-f2f2f2 {
        border-top: 8px solid #f2f2f2;
    }

    .f-40 {
        font-family: Tele-Ult;
        font-size: 32px;
        line-height: 30px;
        letter-spacing: -0.33px;
        font-weight: normal;
    }
}

/* Modal classes Start */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .close {
        right: 0% !important;
        top: -32px !important;
    }

    .body-copy-description-regular {
        font-size: 24px;
        line-height: 24px;
        font-family: Tele-nor;
        font-weight: normal;
        letter-spacing: 0px;
    }

    @media (max-width: 991px) and (min-width:767px) {
        .close {
            right: 0%px !important;
            top: -32px !important;
        }
    }

    @media (max-width: 767px) {
        .body-copy-description-regular {
            font-size: 18px;
            line-height: 18px;
            font-family: Tele-nor;
            font-weight: normal;
            letter-spacing: 0px;
        }
    }
}

/* Modal classes End */
.m-t-3 {
    margin-top: 3px;
}

.m-t-10 {
    margin-top: -10px;
}
