.phone-icon{
    width: 53px;
    height: auto;
    text-align: center;
}

.wrapper-icon {
    display : flex;
    align-items : center;
  }
@media (max-width:767px) {
    .center-content-xs {
        justify-content:space-between;
        align-items: center;
        flex-direction:row-reverse;
    }
    .ph-icon{
        width:21px;
        height:21px;
      }
    .d-flex-xs {
        display: flex;
    }
    .img-width {
        /*width: 64px;*/
        height: 88px;
    }
    .p-b-27-xs {
        padding-bottom: 27px;
    }
    .p-t-8-xs {
        padding-top: 8px;
    }
    .img-width-trade{
    height: 50px;
    }
}

@media (min-width:768px) {
    .p-b-48-sm {
        padding-bottom: 48px;
    }
    .p-t-27-sm {
        padding-top: 27px;
    }
    .divShadow-f8 {
        border: 1px solid #cccccc;
    }
    .divShadow-f8:hover {
        box-shadow: 0 0 6px 3px #cccccc;;
    }
    .m-r-24-sm{
        margin-right: 24px;
    }
    .center-content-sm {
        display: table;
        margin: auto;
        margin: auto;
    }
    .img-width {
        /*width: 88px;*/
        height: 118px;
    }
    .p-b-8-sm {
        padding-bottom: 8px;
    }
    .div-height-md {
        height: 276px !important;
        /*overflow-y: hidden;*/
    }

    .div-height-md-new {
        height: 276px !important;
        /*overflow-y: hidden;*/
    }

    .img-width-trade{
        /*width:80px;*/
        height:80px;
    }
    
    
}
@media (min-width:768px) and (max-width:991px) {
    .w-30-sm {
        width: 30%;
    }
    .font-19-sm {
        font-size: 19px  !important;
    }

    .div-height-md-new {
        height: 276px !important;
        /*overflow-y: hidden;*/
    }
}
@media (min-width:992px) {
    .w-31-md {
        width: 31%;
    }

    .div-height-md-new {
        height: 243px !important;
        /*overflow-y: hidden;*/
    }
}

@media (min-width:1200px) {
    .div-height-md-new {
        height: 227px !important;
        /*overflow-y: hidden;*/
    }
}

/* Device intent phase 2 css starts*/
.warning-text {
	color: #d0021b;
}

.text-decoration-underline:hover, .text-decoration-underline:focus {
    text-decoration: underline;
}
.gray {
  color: #6a6a6a
}
.f-12{
    font-size:12px;
    line-height: 1.5;
}
@media (min-width:768px){
    .img-width1{
        height:101px;
    }

    .divShadow-disable {
        box-shadow: none !important;
        border: none !important;
    }
    
    .divShadow-disable:hover {
        box-shadow: none !important;
        border: none !important;
    }
}
@media (max-width:767px){
    .img-width1{
        height:71px;
    }
}

.no-wrap-text {
    white-space: nowrap;
}

.cursor-disable {
    cursor: none;
    pointer-events: none;
}

.cursor-enable {
    cursor: pointer;
    pointer-events: all;
}
.dialogdeviceindentModal {
    padding: 32px 15px 0px;
    background-color: #FFFFFF;
}
.f-size11 {
    font-size: 11px;
}
.alertoverlay {
    z-index: -1;
}

.m-l-2 {
    margin-left: 2px;
}

