[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
/*fonts starts*/
.col-width-xs {
    width:6% !important;
}
.Display4{
    line-height: 30px;
}
.Display6{
    font-size: 18px;
}
.f-14 {
  font-family: Tele-Ult;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: normal;
  color: black;
}
/*fonts ends*/
sup {
    top: -.5em;
}
.wrapper-icon {
    display: flex;
    align-items: center;
}
.phone-icon {
    width: 53px;
    height: auto;
    text-align: center;
}
.tag-icon{
    width: 10px;
    height: 10px;
}
.underline{
    text-decoration: underline;
}
.verticalLine {
  width: 2px;
  height: 72px;
  border-right: solid 1px #cccccc;
}
.strike{
    text-decoration: line-through;
    display: inline-block;
}
.m-r-4{
    margin-right: 4px;
}
.icox{
    font-size: 20px;
}
/*media queries starts*/
@media (max-width: 767px) {
.ph-icon {
    width: 21px;
    height: 21px;
}
    .main-content{
        min-height: calc(100vh - 240px);
    }
    
}
@media (min-width:768px) {
    .phoneImage {
        width: 138px;
        height: 202px;
    }
    .verticalLine {
        width: 3px;
        height: 74px;
    }
    .padding-horizontal-40-sm{
        padding-left: 40px;
        padding-right: 40px;
    }

    .glueButton {
        width: 287px !important;
    }
}
@media (min-width:992px) {
    .padding-horizontal-40-md{
        padding-left: 40px;
        padding-right: 40px;
    }
    .m-l-40-md{
        margin-left: 40px;
    }
}
/*media queries ends*/

/* Modal Stylings start*/
.dialogPaddingLCModal {
    padding: 32px 15px 0px;
    background-color: #FFFFFF;
}
.f-24 {
    font-family: Tele-Ult;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: normal;
}
.alertoverlay {
    z-index: -1;
}
/* Modal Stylings end*/
@media (min-width:768px) {
.p-t-64-sm {
    padding-top: 64px;
}
}
a:hover {
    text-decoration: underline !important;
  }
/*sup,sub{
    vertical-align: baseline;
    position: relative;
    top:-0.4em;
}*/
sub{
    top:0.1em;
}
.m-b-4 {
 margin-bottom: -4px;   
}
@media (min-width: 320px) and (max-width: 356px) {
    .word-wrap {
        white-space: nowrap;
    }
}