@-webkit-keyframes notifications-alert {
    0% {top: 0px; top: -100px; -webkit-animate-timing-function: ease-in;-webkit-animation-iteration-count: 1;}
}
@keyframes slideDownFromTop {
	0% {
        transform: translateY(-100%);
        -ms-transform: translateY(-100%); /* added vendor specific css (IE) */
        -webkit-transform: translateY(-100%); /* added vendor specific css (Safari, Opera , Chrome) */
    }
    100% {
        transform: translateY(0%);
        -ms-transform: translateY(0%);/* added vendor specific css (IE) */
        -webkit-transform: translateY(0%);/* added vendor specific css (Safari, Opera , Chrome) */
    }
}
@keyframes slideDownFromTopRev {
    0% {
        transform: translateY(0%);
        -ms-transform: translateY(0%);/* added vendor specific css (IE) */
        -webkit-transform: translateY(0%);/* added vendor specific css (Safari, Opera , Chrome) */
        opacity: 1;
    }
	100% {
        transform: translateY(-100%);
        -ms-transform: translateY(-100%); /* added vendor specific css (IE) */
        -webkit-transform: translateY(-100%); /* added vendor specific css (Safari, Opera , Chrome) */
        opacity: 0;
    }
}

.diviceintent_notificationalert { 
	position:fixed;
	z-index:100;
	-webkit-animation-name: notifications-alert;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
     animation: 0.3s ease-out 0s 1 slideDownFromTop;	
     box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.18);
}
.notifications-alert{
    background-color: #000000; 
	position:fixed;
	z-index:9999;
	-webkit-animation-name: notifications-alert;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
     animation: 0.3s ease-out 0s 1 slideDownFromTop;	
     box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.18);
}

.sticky {
  position: fixed;
}

/*
.sticky + .content {
  padding-top: 102px;
}
*/

.alertAnimationOut {
    transition: 260ms;
}

.AnimationOut {
     animation: 0.3s ease-out 0s 1 slideDownFromTopRev;
    opacity: 0;
    transition: 800ms;
    z-index: -1;
  animation-fill-mode: forwards;
}

.critical-icon-div{
    width: 53px;
    height: auto;
    background-color: #e8200d;
    text-align: center;
}
.warning-icon-div{
    width: 53px;
    height: auto;
    background-color: #E3B721;
    text-align: center;
}

.wrapper {
    display : flex;
    align-items : center;
  }
.font-awesome-center{
    width: auto;
    height: 100%; 
    display: inline-flex
}
 .container-height{
    height:900px;   
}  
.p-l-15{
 padding-left: 15px;
}  
.display-flex{
    display: flex;
}
.fa-times-thin:before {
	content: '\00d7';
}
.right-icon {
    opacity: 1;
    position: absolute;
    right: 16px;
    
}
.close-icon {
    opacity: 1;
    position: absolute;
    right: 16px;    
}
.close-icon:hover {
    cursor: pointer;
  }
.right-icon:hover {
  cursor: pointer;
}



@media only screen and (max-width: 767px) {
    .break-xs
    {
     display: block;
    }
}
@media only screen and (max-width: 767px) {
    .custom-body{
        font-size: 18px;
        line-height: 18px;
        font-family: Tele-Ult;
        letter-spacing: 0.1px;
    }
    .body-copy-custom{
        font-family:Arial;
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: 0.5px;
    }
   
}
@media only screen and (min-width: 528px) and (max-width: 767px) {
    .p-t-10-smartphones{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .message-width{
        width: 78%;
       }
}
@media only screen and (min-width: 501px) and (max-width: 991px) {
    .message-width{
        width: 85%;
       }
}
@media only screen and (min-width: 992px) {
    .message-width{
        width: 94%;
       }
}
@media only screen and (min-width:768px) and (max-width: 991px) {
.p-t-s-sm {
    padding-top: 5px;
    padding-top: 5px;
}
}
@media only screen and (min-width: 768px) {
    
    
    .custom-body{
        font-size: 24px;
        line-height: 24px;
        font-family: Tele-Ult;
        letter-spacing: 0.1px;
    }
    .body-copy-custom{
        font-family:Arial;
        font-size: 16px !important;
        line-height: 16px !important;
        letter-spacing: 0.5px;
    }
    .p-t-small{
        padding-top: 13px;
        padding-bottom: 13px;
    }

}
@media only screen and (min-width: 992px) {
.p-t-s-sm{
    padding-top: 13px;
    padding-bottom: 13px;
}
.p-t-s-sm{
    padding-top: 13px;
    padding-bottom: 13px;
}
}
.ico{
    font-size:23px;
    margin-top: -6px;
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .ico{
        font-size:23px;
        margin-top: 0px;
    }   
}

.notificationClose:focus {
    outline: 0px !important;
}
.dummytext {
    padding: 10px 0px;
}

.text-yellow {
	color:#ffff00;
}

/* misc start */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .control-width {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .control-width {
    width: 260px !important;
  }
  .border_none {
    border: none;
  }
}
.header-size {
  line-height: 40px !important;
}
.input-width {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .button-width {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button-width {
    width: 240px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .button-width {
    width: 280px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .button-width {
    width: 327px !important;
  }
}
.btn-invisible {
  background: #fff !important;
  color: #000;
  border: 0px;
  font-family: Tele-Fet;
  font-size: 20px !important;
  line-height: 0px;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}
.resize-fa {
  font-size: 14px !important;
  /* transform: scale(1.5,1); */
}
.header-box-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.input-text {
  font-family: Arial;
  font-size: 18px !important;
}
.tmo-icon-size {
  width: 18px !important;
  padding-top: 11px;
}
.fa-phn-cmts {
  font-size: 22px !important;
  color: #000;
}
.fa-phn-touch-area {
  width: 34px !important;
  height: 34px !important;
}




.divice_alert_magenta_background {
  background-color: #e20074;
}
.divice_alert_grey_background {
  background-color: #f2f2f2;
  }
  .divice_alert_background  {
    background-color: red;
  } 

  .notificationmagenta > a {
    color:white;
  }
  .notificationmagenta > a:hover {
    color:white;
  }
.notificationgrey{
    color:#262626;
    font-weight: normal;
}
  .notificationgrey > a {
    color:black;
    font-weight: bold;  
  }
  .notificationgrey > a:hover {
     color:black;
    font-weight: bold; 
  }
.body-copy-notification{
  font-family:Arial;
  font-size: 16px; 
  line-height: 24px;
  letter-spacing: 0.5px;
}
/* misc END */
