.ng-enter {
  -webkit-transition: 500ms;
  transition-duration: 500ms;
  transition: 500ms ease-in;
  opacity: 0;
}
.ng-enter-active {  opacity: 1;}
.ng-leave-active {  opacity: 0;}

.bold {
  font-weight: bold !important;
}
.imgsize-xs {
  width: 77px;
  height: 93px;
}
.add-icon {
  height: 14px;
  width: 14px;
}
.add-new-line {
  font-size: 18px;
  padding-left: 8px;
}
.learn-how-trade-in-works {
  text-decoration: underline;
  color: #000 !important;
}
.learn-how-trade-in-works:hover {  color:#e20074 !important;}
.max-width-content {  max-width: 500px;}
.pt-4 {  padding-top: 4px;}

.imageAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-e8e8e8 {  background-color: #e8e8e8;}
.brand-magenta {  color: #e20074;}
.black {  color: black;}

.custom-padding-bottom {  padding-bottom: 22px;}

.custom-line-height {  line-height: 10px;}

.custom-text-size {  font-size: 18px !important;}

.h-48 {  height: 48px !important;}

@media (max-width: 767px) {
  .full-bleed-divider {    border-bottom: 8px solid #f2f2f2;  }
  .imgsize {
    width: 100px;
    height: 93px;
  }
  .d-xs-none {    display: none;  }
  .custom-background {    background: none !important;  }
  .p-l-8-xs{    padding-left:8px !important;  }
  .imageAlign {
    justify-content: flex-end;
    padding-right: 23px;
  }
  .d-flex_xs{    display: flex;  } 
}

.d-flex {  display: flex;}

.d-block {  display: block;}

@media (min-width:768px) {
  .d-sm-flex {    display: flex;  }
  .p-t-15-sm {    padding-top: 15px;  }
  .p-l-30-sm {    padding-left: 30px;  }
  .p-l-38-sm {    padding-left: 38px;  }
  .forButton .btn-width {    width: 287px !important;  }
  .align-items-center-sm{    align-items: center;  }
}

@media (min-width: 767px) {
  .divShadow {    border: solid 1px #cccccc;  }
  .divShadow:hover {
    box-shadow: 0 0 6px 3px #cccccc;
    border: solid 2px #cccccc;
  }
  .div_shadow_box {
    border: solid 1px #cccccc;
    margin: auto;
  }
  .div_shadow_box:hover {
    box-shadow: 0 0 6px 3px #cccccc;
    border: solid 1px #cccccc;
  }

  .margin-top-xsmall-sm {    margin-top: 5px;  }
  .margin-bottom-xsmall-sm {    margin-bottom: 5px;  }
  .padding-left-xl-sm {    padding-left: 32px;  }
  .padding-bottom-xl-sm {    padding-bottom: 35px;  }
  .d-sm-none {    display: none;  }
  .justify-contents-start-sm {    justify-content: flex-start;  }
  .no-padding-sm {
    padding-left: 0px;
    padding-right: 0px;
  }
  .flex-flow-sm {
    flex-flow: row-reverse;
    justify-content: flex-end;
  }
  .p-r-0-sm {    padding-right: 0px;  }
}

.box-shadow-none {
  box-shadow: none !important;
  border: none !important;
}

@media (min-width: 991px) {
  .width-md {    width: 375px;  }
  .pos-md {
    display: flex;
    justify-content: flex-end;
  }
}

/* modal strts*/

.glueDialog {
  padding: 0px;
  background: none;
  top:35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .glueDialog {
    top: 76px;
    left: 0px;
    right: 0px;
    width: 100%;
  }
}
@media (max-width: 767px) and (max-height: 420px) {
  .glueDialog {	   top:10px;	}
}
@media (max-width:850px) {
  .scroll {
    overflow-y: scroll;
    max-height: 80vh !important;
  }
}
.close {
  font-size: 17px;
  color: white;
  height: 17px;
  right: 15px;
  top: 100px;
  z-index: 99;
}

.close:focus,
.close:hover {  color: #fff;}

@media (max-width: 768px) and (min-width:516px) {
  .close {
    font-size: 17px;
    color: white;
    height: 17px;
    right: 60px;
    z-index: 99;
  }
}

@media (max-width: 991px) and (min-width:767px) {
  .close {
    right: 200px;
    top: 30px;
    font-size: 20px;
    padding-bottom: 20px;
    color: white;
  }
}

@media (min-width: 992px) {
  .close {
    right: 17%;
    font-size: 20px;
    top: 100px;
    color: white;
    z-index: 1000;
    padding-bottom: 20px;
  }
}

@media(min-width: 1200px) {
  .close {
    right: 17%;
    font-size: 20px;
    top: 35px;
    color: white;
    z-index: 1000;
    padding-bottom: 20px;
  }

  .p-t-26-lg {    padding-top:15px;  }
}

/* modal ends*/

/* Trade-in value CSS start */

@media (min-width:768px) {
  .mobileImage {
    width: 205px;
    height: 285px;
  }
  .badconditionImage {
    width: 145px;
    height: 239px;
  }
  .boldText {
    font-size: 56px;
    line-height: 52px;
    font-family: Tele-Fet;
  }
  .glueButton {
    width: 208px !important;
  }
  .glueButton-JUMP {
    width: 287px !important;
    border-radius: 0px;
    margin-left: 0px !important;
  }
  .glueButton-EIP {
    width: 208px !important;
    border-radius: 0px;
    margin-left: 0px !important;
  }
}

@media (min-width:1200px) {
  .glueButton {    width: 208px !important;  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mobileImage {
    width: 205px;
    height: 285px;
  }
  .badconditionImage {
    width: 145px;
    height: 239px;
  }
  .margin-left-10-sm {
    margin-left: 10px;
  }
  .boldText {
    font-size: 56px;
    line-height: 52px;
    font-family: Tele-Fet;
  }
  .glueButton {    width: 208px !important;  }
  .margin-left-25 {    margin-left: -25px;  }
  .margin-left-10 {    margin-left: 10px;  }
}

@media (max-width:767px) {
  .mobileImage {
    width: 71px;
    height: 97px;
    margin-left: 9px;
  }
  .badconditionImage {
    width: 52px;
    height: 85px;
    margin-left: 9px;
  }
  .boldText {
    font-size: 32px;
    line-height: 32px;
    font-family: Tele-Fet;
  }
  .d-none-xs {    display: none;  }
  .pull-left-xs {    float: left;  }
  .pull-right-xs {    float: right !important;  }
  .text-right-xs{    text-align: right;  }
  .p-10-xs {
    padding-left: 10px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
  }
  .no-padding-xs {
    padding-right: 0px;
    padding-left: 0px;
    margin: auto;
    
  }
  .m-r-8-xs {    margin-right: 8px;  }
}

.imgdisplay {
  margin: auto;
  display: block;
}

.wrapper {
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper p {
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.shadowbox {
  -webkit-box-shadow: 0 0 70px 15px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 70px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 70px 15px rgba(0, 0, 0, 0.08);
}

.h1-title {
  font-family: Tele-Fet;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
}

.text-color {  color: magenta;}

@media (min-width: 768px) {
  .shadow_box {
    -webkit-box-shadow: 0 0 6px 3px #cccccc;
    -moz-box-shadow: 0 0 6px 3px #cccccc;
    box-shadow: 0 0 6px 3px #cccccc;
  }
}

@media (max-width: 767px) {
  .row_reverse_xs {
    display: flex;
    flex-direction: row-reverse;
  }
  .h1-title {
    font-size: 32px;
    line-height: 0.94;
    letter-spacing: -0.3px;
  }
  .text-xs-center {    text-align: center;  }  
  .border_bottom_xs {    border-bottom: 8px solid #f2f2f2;  }
  .border_top_xs {    border-top: 8px solid #f2f2f2;  }
  .shadowbox {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: white;
  }
}

/* trade-in-conditions css end */

/* Line selector- trade in starts */

@media (max-width: 767px) {
  .bgcolor-f2 {    background-color: #f2f2f2;  }
  .bgcolor-f2f2 {    background-color: #f2f2f2;  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .imgsize {
    width: 203px;
    height: 335px;
  }
  .pt-0 {    padding-top: 0px !important;  }
  .p-l-0-sm {    padding-left: 0px;  }
}

@media (min-width: 991px) {
  .imgsize {
    width: 208px;
    height: 335px;
  }
  .pt-0 {    padding-top: 0px !important;  }
  .text-center-md {    text-align: center;  }
  .p-l-0-lg {    padding-left: 0px;  }
  .p-r-0-lg {    padding-right: 0px;  }
}

/* Line selector- trade in ends */

/* misc start */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .control-width {    width: 100%;  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .control-width {    width: 260px !important;  }
  .border_none {    border: none;  }
}

.header-size {  line-height: 40px !important;}

.input-width {  width: 100%;}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .button-width {    width: 100%;  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button-width {    width: 208px !important;  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .button-width {    width: 208px !important;  }
}

@media only screen and (min-width: 1200px) {
  .button-width {    width: 327px !important;  }
}

.btn-invisible {
  background: #fff !important;
  color: #000;
  border: 0px;
  font-family: Tele-Fet;
  font-size: 20px !important;
  line-height: 0px;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}

.resize-fa {  font-size: 14px !important;}

.header-box-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.input-text {
  font-family: Arial;
  font-size: 18px !important;
}

.tmo-icon-size {
  width: 18px !important;
}

.p-t-9{
  padding-top:9px;
}

.fa-phn-cmts {
  font-size: 22px !important;
  color: #000;
}

.fa-phn-touch-area {
  width: 34px !important;
  height: 34px !important;
}

/* misc END */

@-webkit-keyframes mymove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@keyframes mymove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .bgcolor-f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: mymove_mobile 500ms;
    animation-fill-mode: backwards;
  }
  .bgcolor-f2.ng-hide {    opacity: 0;  }
}

/* Ankit Jain 0628 - Making changes to animate fade in instead of right to left. */

@-webkit-keyframes mymove_dektop {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/* Ankit Jain 0628 - Making changes to animate fade in instead of right to left. */

@keyframes mymove_dektop {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@media only screen and (min-width: 767px) {
  .bgcolor-f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: mymove_dektop 1s;
    animation-fill-mode: forwards;
  }
  .d-animate.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: mymove_dektop 1s;
    animation-fill-mode: forwards;
  }
  .bgcolor-f2.ng-hide {
    opacity: 0;
  }
}

/* Repeat Animation while going back  */

@-webkit-keyframes repeatMyMove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@keyframes repeatMyMove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .bgcolor-f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: repeatMyMove_mobile 1s;
    animation-fill-mode: backwards;
  }
  .bgcolor-f2.ng-hide {
    opacity: 0;
  }
}

@-webkit-keyframes repeatMyMove_desktop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes repeatMyMove_desktop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 767px) {
  .bgcolor-f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: repeatMyMove_desktop 1s;
    animation-fill-mode: forwards;
  }
  .bgcolor-f2.ng-hide {
    opacity: 0;
  }
}

/* Ankit Jain - 0628 . Fade in effect added. Removing the sliding from right classes and keyframes.  */

.fade-in-effect {
  -webkit-animation: fadeInEffect 2s;
  animation: fadeInEffect 2s;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*code on 6/18*/

.pageAnimationOut {
  opacity: 0;
  transform: translate(0, -75%);
  transition: 200ms;
  z-index: -1;
}

.pageAnimationIn {
  opacity: 1;
  transform: translate(0, 0);
  transition: 500ms;
  z-index: 1000;
}

:focus {
 /* outline: none;*/
}

.cursor {
  cursor: pointer;
}

.cursor-none {
  cursor: auto !important;
}

/*code on 6/18*/

body.noscroll {
  overflow: hidden;
}

.Display6 {
  font-family: Tele-Ult;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  color: black;
}

.Display5 {
  font-family: Tele-Ult;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  color: black;
}
.Display4{
  font-family: Tele-Ult;
  font-size: 32px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  color: black;
}
.h6-title {
  font-family: Tele-Fet;
  color: #000;
  font-size: 18px !important;
  line-height: 20px !important;
  letter-spacing: -0.1px;
}

.text-magenta-imp {
  color: #e20074 !important;
}
.h6-heading{
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
 }
 .color-6a6a6a{
   background-color: #6a6a6a;
   border-color: #6a6a6a;
 }

@media (min-width:768px) {
  .Display2 {
    font-family: Tele-Ult;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0px;
    font-weight: normal;
    color: black;
  }
  .m-l-20-sm {
    margin-left: 20px
  }
  .p-r-10-sm {
    padding-right: 10px;
  }
  .m-l-32-sm {
    margin-left: 32px;
  }
}

@media (max-width:767px) {
  .Display2 {
    font-family: Tele-Ult;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    color: black;
  }
}

.legal {
  font-family: Arial
}

.close {
  position: unset;
  margin-bottom: 24px;
}

.dialogPadding {
  padding: 27px 15px 30px;
  background-color: #FFFFFF;
}

.p-t-8 {
  padding-top: 8px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-t-24 {
  padding-top: 24px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-t-48 {
  padding-top: 48px;
}

.p-b-4 {
  padding-bottom: 4px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.letter-0 {
  letter-spacing: 0px;
}

.letter-04 {
  letter-spacing: -0.4px;
}

.letter-05 {
  letter-spacing: 0.5px;
}

.lineHeight-20 {
  line-height: 20px;
}

.lineHeight-12 {
  line-height: 12px;
}

.lineHeight-16 {
  line-height: 16px;
}

.padding-horizontal-24 {
  padding-left: 24px;
  padding-right: 24px;
}

/* for line selector */

@media (max-width:767px) {
  .Display2-mob {
    line-height: 30px;
    letter-spacing: -0.3px;
  }
  .modal-font {
    font-size: 38px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #000000;
  }
  .letter-spacing-03 {
    letter-spacing: -0.3px;
  }
  .text-magenta-mob {
    color: #e20074 !important;
  }
  .p-t-16-xs {
    padding-top: 16px;
  }
  .p-b-16-xs {
    padding-bottom: 16px;
  }
  .p-t-24-xs {
    padding-top: 24px;
  }
  .p-t-32-xs {
    padding-top: 32px;
  }
  .p-t-36-xs {
    padding-top: 36px;
  }
  .p-t-44-xs {
    padding-top: 44px;
  }
  .p-t-40-xs {
    padding-top: 40px;
  }
  .p-b-24-xs {
    padding-bottom: 24px;
  }
  .padding-horizontal-24-xs {
    padding-left: 24px;
    padding-right: 24px;
  }
  .padding-horizontal-16-xs {
    padding-left: 16px;
    padding-right: 16px;
  }
  .p-t-4-xs {
    padding-top: 4px;
  }
  .p-l-9-xs {
    padding-left: 9px;
  }
  .p-t-24-xs {
    padding-top: 24px;
  }
  .p-l-24-xs {
    padding-left: 24px;
  }
  .p-r-24-xs {
    padding-right: 24px;
  }
  .p-b-50-xs {
    padding-bottom: 50px;
  }
  .trade-in-content {
    min-height: calc(100vh - 353px);
  }
  .content1 {
    min-height: calc(100vh - 160px);
  }
  .trade-content {
    min-height: calc(100vh - 362px);
  }
  .text-center-xs {
    text-align: center;
  }
  .vertical-center {
    position: relative;
    /*top: 50% !important;*/
    /*transform: translateY(-50%);*/
  }
  
  .w-30-xs {
    width: 30px;
  }
  .pdp-content {
    min-height: calc(100vh - 300px);
  }
  .phoneCondtn-content {
    min-height: calc(100vh - 390px)
  }
  .pdp-content1 {
    min-height: calc(100vh - 250px);
  }
  .Display3 {
    font-family: Tele-Ult;
    font-size: 38px;
    line-height: 36px;
    letter-spacing: -0.1px;
    font-weight: normal;
    color: black;
  }
  .pdp-content-eip {
    min-height: calc(100vh - 324px);
  }
  .pdp-content-non-nyc {
    min-height: calc(100vh - 352px)
  }
  .pdp-content-non-nyc-migration {
    min-height: calc(100vh - 240px);
  }
  .thumbsUpIcon {
    width: 59px;
    height: px;
  }
  .p-t-64-xs {
    padding-top: 64px;
  }
  .p-t-70-xs {
    padding-top: 70px;
  }
  .p-t-80-xs {
    padding-top: 80px;
  }
  .p-b-40-xs{
    padding-bottom: 40px;
  }
  .p-b-11-xs{
    padding-bottom: 11px;

  }
}

@media (min-width:768px) {
  .Display2-mob {
    letter-spacing: -0.4px;
  }
  .p-t-8-sm {
    padding-top: 8px;
  }
  .p-t-24-sm {
    padding-top: 24px;
  }
  .p-b-24-sm {
    padding-bottom: 24px;
  }
  .p-t-40-sm {
    padding-top: 40px;
  }
  .p-b-40-sm {
    padding-bottom: 40px;
  }
  .p-t-48-sm {
    padding-top: 48px;
  }
  .p-t-56-sm {
    padding-top: 56px;
  }
  .p-t-64-sm {
    padding-top: 64px;
  }
  .p-l-16-sm {
    padding-left: 16px;
  }
  .p-r-24-sm {
    padding-right: 24px;
  }
  .img_width {
    width: 36.7px;
    height: 68.4px;
  }
  .p-t-16-sm {
    padding-top: 16px;
  }
  .p-t-20-sm {
    padding-top: 20px;
  }
  .p-b-32-sm {
    padding-bottom: 32px;
  }
  .content1 {
    min-height: 0px;
  }
  .p-b-24-desktop {
    padding-bottom: 24px;
  }
  .h-fixed {
    height: 118px !important;
  }
  .h-255 {
    height: 255px !important;
  }
  .p-b-82-sm {
    padding-bottom: 82px;
  }
  .w-38-sm {
    width: 38px;
  }
  .Display3 {
    font-family: Tele-Ult;
    font-size: 38px;
    line-height: 31px;
    letter-spacing: 0px;
    font-weight: normal;
    color: black;
  }
  .thumbsUpIcon {
    width: 137px;
    height: 224px;
  }
  .p-t-70-sm {
    padding-top: 70px;
  }
  .p-t-32-sm {
    padding-top: 32px;
  }
  .p-t-62-sm{
    padding-top: 62px;
  }
  .p-b-36-sm{
    padding-bottom: 36px;
  }
}

/* trade-in new css*/

.img_width {
  width: 88px;
  height: 118px;
}

.img_width1 {
  width: 66px;
  height: 109px;
}

.p-t-4 {
  padding-top: 4px;
}

.p-l-24 {
  padding-left: 24px;
}

/* Ankit Jain - 0703  */

.p-r-24 {
  padding-right: 24px;
}

.p-r-30 {
  padding-right: 30px;
}

/* trade-in new css ends*/

/*6/21 css changes begin*/

.overflowHidden {
  overflow-x: hidden;
}

.m-l-10-sm {
  margin-left: 10px
}

@media(max-width:380px) {
  .Display6 {
    font-size: 15px;
  }
}

@media(max-width:420px) {
  .title_pos {
    width: 124px;
    margin-left: -21px;
  }
}

/*6/21 css changes end*/

/*6/22 css changes start*/

.img_pos {
  position: absolute;
  bottom: 0;
  right: 0;
}

.height-auto {
  height: auto;
}

.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .glueDialog {
    top: 10%;
    left: 0px;
    right: 0px;
    width: 100%;
  }
}*/

/*6/22 css changes end*/

/*6/28 css changes Start*/

.p-t-44 {
  padding-top: 44px;
}

.p-b-32 {
  padding-bottom: 32px;
}

ul li {
  list-style-type: disc;
}

ul {
  padding-left: 17px;
}

.gray {
  color: #6a6a6a
}

/*6/28 css changes end*/

.text-decoration-underline {
  text-decoration: underline;
}

.and-many-more,
.and-many-more:focus {
  text-decoration: underline;
  color: #000;
  font-size: 14px;
}
.and-many-more:hover{
  color:#e20074;
}
a:hover {
  color: #e20074;
}

.m-t-4 {
  margin-top: 4px;
}

@media (min-width:768px) {
  .p-l-38-sm {
    padding-left: 38px;
  }
}

/* 02/07 strts */

@media (max-width:767px) {
  .p-l-38-xs {
    padding-left: 38px;
  }
  .glueButton-JUMP {
    width: 100%;
    border-radius: 0px;
  }
  .trade-JUMP-Promo {
    min-height: calc(100vh - 280px);
  }
  .trade-JUMP-Promo-eligible {
    min-height: calc(100vh - 157px);
  }
  .m-b-38-xs {
    margin-bottom: 38px;
  }
  .m-b-10-xs {
    margin-bottom: 10px;
  }
  .m-t-25-xs {
    margin-top: 25px;
  }
}

.width-14 {
  width: 14px;
}

.vertical-align-unset {
  vertical-align: unset;
}

.tradein-max-width {
  max-width: 510px;
}

.p-b-16 {
  padding-bottom: 16px;
}

m-t-0 {
  margin-top: 0px;
}

m-b-0 {
  margin-bottom: 0px;
}

.border-f2 {
  border-top: 1px solid #f2f2f2
}

.margin-top-addline {
  margin-top: -5px;
}

.p-r-8 {
  padding-right: 8px;
}

.list-none {
  list-style-type: none;
  margin-left: -17px;
}

.p-l-32 {
  padding-left: 32px;
}

/* 02/07 strts */

@media (max-width:767px) {
  .p-b-8-xs {
    padding-bottom: 8px
  }
  .p-t-8-xs{
    padding-top:8px;
  }
  
}

ul.forBullet {
  padding-left: 21px;
}

@media (max-width: 320px){
	.checkbox {
		padding-left: 20px;
	}
}

.indicator {
	padding-left: 8px;
    padding-right: 5px !important;
  font-size:16px; 
}
/*css for trade-in-or-not*/
@media screen and (-ms-high-contrast: active),(max-width:767px){
  .vertical-center1{
    display: flex;   
  }
}
@media (min-width:992px) {
  .h-270{
    height:270px !important;
}
}
@media (min-width:768px) and (max-width:991px){
  .h-270{
    height:290px !important;
}
}
@media (max-width:767px) {
  .vertical-middle{
    justify-content: space-between;
    vertical-align: middle;
    display: table;
    margin: auto;
    margin: auto;
    }
    .float-none{
      float: none;
    }
	
	.img-width-mobile {
		width: 42px;
	}
	
	  .text-left-xs {
    text-align: left;
  }
}

@media (min-width:768px) {
  .img-height-desktop {
    height: 80px;
  }
}

@media (max-width:360px) {
  .margin-left {
    margin-left: 2%;
  }
}

@media (min-width:361px) {
  .margin-left {
    margin-left: 4%;
  }
}

.alignItems {  align-items: center;}
/*css for trade-in-or-not ends*/
/*css for new additions for phone-condition-updated starts*/
.imagewidth{  width: 24px;}
.m-r-24{margin-right:24px;}
.m-r-8{margin-right: 8px;}
.btnanswer{
  width: 72px !important;
  height: 32px !important;
  border: solid 1px #cccccc !important;
  font-size: 14px !important;
  line-height: 5px !important;  
}
 .btnanswer:active{
  outline: 2px solid #e20074 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #e20074 !important;
  background-color: #ffffff;
}
.btnanswer:focus {
  outline: thin dotted !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px  !important;
}
.activeClass{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #e20074 !important;
  background-color: #ffffff;
}
@media (max-width:767px){
  .m-r-10-xs{margin-right: 10px;}
  .btnanswer{
    width: 64px !important;
    height: 32px !important;
  }
}
.d-flex{  display: flex;}
.btn-primary.disabled:focus {
  border-color: #bebebe;
  background-color: #bebebe !important;
}
.btn-primary.disabled {  background-color: #bebebe !important;}
.button-alignment{
  border:none;
  background-color: #ffffff;
  padding:0;
}
.icon-align 
{ display:inline; 
  white-space: nowrap; }


.icon-obj {
  display:inline-block;
  height:15px; width:15px;

}
.icon-size{
  height:15px;
  width:15px;
}
.content-align {
  resize: both;
  display: block;
  width: auto;
}
.mt-3{
  margin-top:-3px;
}

@media (max-width:520px){
  .content-align {
    width: 160px;
  }
}

@media (min-width:768px) and (max-width:1199px){
  .content-align {
    width: 340px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .close-position {
    top:20px;
    position: fixed;
  }
}