/* new css */
.list-style-none {
    list-style: none;
    margin-left: 0px;
}

.height-content {
    height: max-content;
}

.box-border-left {
    border: 2px solid #e8e8e8;
    padding-bottom: 32px;
}

.box-border-right {
    border: 2px solid #e20074;
    padding-bottom: 32px;
}

.glueButton {
    width: 100% !important;
}

.current-plan-title,
.current-plan-title:hover,
.current-plan-title:focus {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 1.4rem 1rem;
    text-overflow: ellipsis;
}

.new-plan-title,
.new-plan-title:hover,
.new-plan-title:focus {
    background-color: #e20074;
    border-color: #e20074;
    box-shadow: none;
    color: #ffffff;
    font-size: 16px !important;
    font-weight: bold;
    padding: 1.4rem 1rem;
    text-overflow: ellipsis;
}

.font-18 {
    font-family: Tele-Ult;
    font-size: 18px;
    line-height: 18px;
}

.font-12 {
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .close {
        right: 0% !important;
        top: -32px !important;
    }
}

.word-break {
    word-break: break-word;
}

.subTextAlignment {
    display: block;
    font-weight: 100;
}

.bg-f8f8f8 {
    background: #f8f8f8;
}

.font-24 {
    font-size: 24px;
}

.color-03 {
    color: #030303;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.underline-gray {
    border-bottom: 1px solid #e8e8e8;
}

.whitespace-normal {
    white-space: normal;
}
.p-b-12 {
    padding-bottom: 12px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
}
.hr-text:before {
    content: "";
    background-color: #e8e8e8;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-magenta:before {
    background-color: #e20074;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    font-size: 10px;
    padding: 0 0.5em;
    line-height: 25px;
    color: #818078;
    background-color: #ffffff;
}
.display-none {
    display: none;
}

.box-border {
    border: 2px solid #e20074;
}

.box-border-fixed {
    border: 2px solid #e8e8e8;
}
@media (min-width: 768px) {
    .hideheader {
        display: none;
    }
}
@media (max-width: 767px) {
    .sticky-top {
        top: 0px;
        position: fixed;
        z-index: 1000;
    }
    .sticky-top.visibleheader {
        visibility: visible;
    }

    .sticky-top + .content {
        position: absolute;
    }
    .p-h-5-sm {
        padding-left: 5px;
        padding-right: 5px;
    }
    .sticky-header {
        visibility: hidden;
    }
}
a:focus {
    color: #a10053;
}
hr{
   margin-left:-10px;
    margin-right:-10px;
}
