[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
/*fonts starts*/
.col-width-xs {
    width:6% !important;
}
.Display4{
    line-height: 30px;
}
.Display6{
    font-size: 18px;
}
.f-14 {
  font-family: Tele-Ult;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: normal;
  color: black;
}
/*fonts ends*/
sup {
    top: -.5em;
}
.wrapper-icon {
    display: flex;
    align-items: center;
}
.phone-icon {
    width: 53px;
    height: auto;
    text-align: center;
}
.tag-icon{
    width: 10px;
    height: 10px;
}
.underline{
    text-decoration: underline;
}
.verticalLine {
  width: 2px;
  height: 106px;
  border-right: solid 1px #cccccc;
}
.strike{
    text-decoration: line-through;
    display: inline-block;
}
.m-r-4{
    margin-right: 4px;
}
.icox{
    font-size: 20px;
}
/*media queries starts*/
@media (max-width: 767px) {
.ph-icon {
    width: 21px;
    height: 21px;
}
    .main-content{
        min-height: calc(100vh - 48px);
    }
    
}
@media (min-width:768px) {
    .phoneImage {
        width: 138px;
        height: 202px;
    }
    .verticalLine {
        width: 3px;
        height: 107px;
    }
    .padding-horizontal-40-sm{
        padding-left: 40px;
        padding-right: 40px;
    }

    .glueButton {
        width: 287px !important;
    }
}
@media (min-width:992px) {
    .padding-horizontal-40-md{
        padding-left: 40px;
        padding-right: 40px;
    }
    .m-l-40-md{
        margin-left: 40px;
    }
}
/*media queries ends*/

/* Modal Stylings start*/
.dialogPaddingLCModal {
    padding: 32px 15px 0px;
    background-color: #FFFFFF;
}
.f-24 {
    font-family: Tele-Ult;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: normal;
}
.alertoverlay {
    z-index: -1;
}
/* Modal Stylings end*/
@media (min-width:768px) {
.p-t-64-sm {
    padding-top: 64px;
}
}
a:hover {
    text-decoration: underline !important;
  }
sub{
    top:0.1em;
}
.m-b-4 {
 margin-bottom: -4px;   
}
@media (min-width: 320px) and (max-width: 356px) {
    .word-wrap {
        white-space: nowrap;
    }
}
.accordion {
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    padding: 24px 0px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
  }
   
  
  .accordion:after {
    content: '\002B';
    color: #e20074;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 24px;
  }

  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #cccccc;
    transition: max-height 0.2s ease-out;
  }
  .color-magenta {
    color: #e20074;
  }
  .p-r-16{
      padding-right: 16px;
  }
  .p-b-32{
      padding-bottom:32px;
  }
  .list-none{
      list-style: none;
  }
  .font-14{
      font-size: 14px;
  }
  .color-26{
      color:#262626;
  }
  .color-2b{
      color:#2b2b2b;
  }

// new css
.color-31 {
    color: #313131;
}
.color-81 {
    color: #818181;
}
.border-bottom {
    border-bottom-color: #cccccc;
}
@media (max-width: 991px) and (min-width: 768px) {
.p-t-50-sm {
    padding-top: 50px;
}
}
.font-10{
    font-size: 10px;
}
@media (max-width: 767px) {
.button-fixed{
position: fixed;
bottom: 0;
}
}
.d-flex {
    display: flex;
}
.m-l-16 {
    margin-left: 16px;
}
body.noscroll {
    overflow: hidden;
  }
p{
    line-height: 22px;
}
.p-r-8{
    padding-right:8px;
}
.p-t-4{
    padding-top:4px;
}
.p-t-11{
    padding-top:11px;
}
  @media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .close {
        right: 0% !important;
        top: -32px !important;
    }
    sup {
        top: -0.6em !important;
    }
    @media (max-width:767px){
        sup {
            top: -0.1em !important;
        } 
    }
}
    .font-48{
        font-size: 48px;
    }
    @media (max-width:767px) {
        .font-48{
            font-size: 32px;
        }
        sup {
            top: -0.4em !important;
        }
    }
    sup {
        top: -0.8em;
    }
    .top-zero{
        top: -0.5em;
    }
    @supports (-ms-ime-align:auto) {
        sup {
            top: -0.6em !important;
        }
        @media (max-width:767px){
            sup {
                top: -0.2em !important;
            } 
        }
    }
  