body {
  overflow-y: scroll;
}

.bold {
  font-weight: bold !important;
}

.imgsize-xs {
  width: 77px;
  height: 93px;
}
.add-icon {
  height: 14px;
  width: 14px;
}

.add-new-line {
  font-size: 18px;
  padding-left: 8px;
}
.learn-how-trade-in-works {
  text-decoration: underline; 
    color: #000 !important;
}

.max-width-content {
  max-width: 500px;
}
.pt-4 {
  padding-top: 4px;
}

.imageAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-e8e8e8 {
  background-color: #e8e8e8;
}

.brand-magenta {
  color: #e20074;
}

.black {
  color: black;
}

.custom-padding-bottom {
  padding-bottom: 22px;
}

.custom-line-height {
  line-height: 10px;
}

.custom-text-size {
  font-size: 18px !important;
}

.h-48 {
  height: 48px !important;
}

@media (max-width: 767px) {
  .full-bleed-divider {
    border-bottom: 8px solid #f2f2f2;
  }
  .imgsize {
    width: 100px;
    height: 93px;
  }
  .d-xs-none {
    display: none;
  }
  .custom-background {
    background: none !important;
  }
  .imageAlign {
    justify-content: flex-end;
    padding-right: 20px;
  }
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/* .divShadow {
  border: none !important;
} */

@media (min-width:768px) {
  .d-sm-flex {
    display: flex;
  }
}

@media (min-width: 767px) {
  .divShadow {
    border: solid 2px #f8f8f8;
  }
  .divShadow:hover {
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #f8f8f8;
  }
  .div_shadow_box {
    border: solid 2px #f8f8f8;
    margin: auto;
    height: 255px;
  }
  .div_shadow_box:hover {
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #f8f8f8;
  }
  .margin-top-xsmall-sm {
    margin-top: 5px;
  }
  .margin-bottom-xsmall-sm {
    margin-bottom: 5px;
  }
  .padding-left-xl-sm {
    padding-left: 32px;
  }
  .padding-bottom-xl-sm {
    padding-bottom: 35px;
  }
  .d-sm-none {
    display: none;
  }
  .justify-contents-start-sm {
    justify-content: flex-start;
  }
  .no-padding-sm {
    padding-left: 0px;
    padding-right: 0px;
  }
  .flex-flow-sm {
    flex-flow: row-reverse;
    justify-content: flex-end;
  }
  .p-r-0-sm {
    padding-right: 0px;
  }
}

.box-shadow-none {
  box-shadow: none !important;
}

@media (min-width: 991px) {
  .width-md {
    width: 375px;
  }
  .pos-md {
    display: flex;
    justify-content: flex-end;
  }
}

/* modal strts*/

.glueDialog {
  padding: 0px;
  background: none;
}

@media (max-width:850px) {
  .scroll {
    overflow-y: scroll;
    max-height: 80vh !important;
  }
}

.close {
  font-size: 17px;
  color: white;
  height: 17px;
  right: 15px;
  top: 100px;
  z-index: 99;
}

.close:focus,
.close:hover {
  color: #fff;
}

@media (max-width: 768px) and (min-width:516px) {
  .close {
    font-size: 17px;
    color: white;
    height: 17px;
    right: 60px;
    z-index: 99;
  }
}

@media (max-width: 991px) and (min-width:767px) {
  .close {
    right: 200px;
    top: 30px;
    font-size: 20px;
    padding-bottom: 20px;
    color: white;
  }
}

@media (min-width: 992px) {
  .close {
    right: 17%;
    font-size: 20px;
    top: 100px;
    color: white;
    z-index: 1000;
    padding-bottom: 20px;
  }
}

@media(min-width: 1200px) {
  .close {
    right: 17%;
    font-size: 20px;
    top: 35px;
    color: white;
    z-index: 1000;
    padding-bottom: 20px;
  }
}

/* modal ends*/

/* Trade-in value CSS start */

@media (min-width:768px) {
  .mobileImage {
    width: 205px;
    height: 285px;
  }
  .boldText {
    font-size: 56px;
    line-height: 52px;
    font-family: Tele-Fet;
  }
  .glueButton {
    /*    width: 212px !important;*/
    width: 208px !important;
  }
  .glueButton-JUMP {
    width: 287px !important;
    border-radius: unset;
    margin-left: 0px !important;
  }
}

@media (min-width:1200px) {
  .glueButton {
    /*    width: 262px !important;*/
    width: 208px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mobileImage {
    width: 205px;
    height: 285px;
  }
  .boldText {
    font-size: 56px;
    line-height: 52px;
    font-family: Tele-Fet;
  }
  .glueButton {
    /*    width: 160px !important;*/
    width: 208px !important;
  }
  .margin-left-25 {
    margin-left: -25px;
  }
  .margin-left-10 {
    margin-left: 10px;
  }
}

@media (max-width:767px) {
  .mobileImage {
    width: 71px;
    height: 97px;
    margin-left: 9px;
  }
  .boldText {
    font-size: 32px;
    line-height: 32px;
    font-family: Tele-Fet;
  }
  .d-none-xs {
    display: none;
  }
  .pull-left-xs {
    float: left;
  }
  .pull-right-xs {
    float: right;
  }
  .p-10-xs {
    padding-left: 10px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
  }
  .no-padding-xs {
    padding-right: 0px;
    padding-left: 0px;
  }
  .m-r-8-xs {
    margin-right: 8px;
  } 
}

.imgdisplay {
  margin: auto;
  display: block;
}

.wrapper {
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper p {
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.shadowbox {
  -webkit-box-shadow: 0 0 70px 15px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 70px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 70px 15px rgba(0, 0, 0, 0.08);
}

/* 
.img_width {
  width: 37px;
  height: 68px;
} */

.h1-title {
  font-family: Tele-Fet;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
}

.text-color {
  color: magenta;
}

@media (min-width: 768px) {
  .shadow_box {
    -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 767px) {
  .row_reverse_xs {
    display: flex;
    flex-direction: row-reverse;
  }
  .h1-title {
    font-size: 32px;
    line-height: 0.94;
    letter-spacing: -0.3px;
  }
  .text-xs-center {
    text-align: center;
  }
  .border_bottom_xs {
    border-bottom: 8px solid #f2f2f2;
  }
  .border_top_xs {
    border-top: 8px solid #f2f2f2;
  }
  .shadowbox {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: white;
  }
}

/* trade-in-conditions css end */

/* Line selector- trade in starts */

@media (max-width: 767px) {
  .bgcolor-f2 {
    background-color: #f2f2f2;
  }
  .bgcolor-f2f2 {
    background-color: #f2f2f2;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .imgsize {
    width: 203px;
    height: 335px;
  }
  .pt-0 {
    padding-top: 0px !important;
  }
  .p-l-0-sm {
    padding-left: 0px;
  }
}

@media (min-width: 991px) {
  .imgsize {
    width: 208px;
    height: 335px;
  }
  .pt-0 {
    padding-top: 0px !important;
  }
  .text-center-md {
    text-align: center;
  }
  .p-l-0-lg {
    padding-left: 0px;
  }
  .p-r-0-lg {
    padding-right: 0px;
  }
}

/* Line selector- trade in ends */

/* misc start */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .control-width {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .control-width {
    width: 260px !important;
  }
  .border_none {
    border: none;
  }
}

.header-size {
  line-height: 40px !important;
}

.input-width {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .button-width {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button-width {
    width: 208px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .button-width {
    width: 208px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .button-width {
    width: 327px !important;
  }
}

.btn-invisible {
  background: #fff !important;
  color: #000;
  border: 0px;
  font-family: Tele-Fet;
  font-size: 20px !important;
  line-height: 0px;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}

.resize-fa {
  font-size: 14px !important;
  /* transform: scale(1.5,1); */
}

.header-box-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.input-text {
  font-family: Arial;
  font-size: 18px !important;
}

.tmo-icon-size {
  width: 18px !important;
  padding-top: 11px;
}

.fa-phn-cmts {
  font-size: 22px !important;
  color: #000;
}

.fa-phn-touch-area {
  width: 34px !important;
  height: 34px !important;
}

/* misc END */

@-webkit-keyframes mymove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@keyframes mymove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .bgcolor-f2f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: mymove_mobile 500ms;
    animation-fill-mode: backwards;
  }
  .bgcolor-f2f2.ng-hide {
    opacity: 0;
  }
}

/* Ankit Jain 0628 - Making changes to animate fade in instead of right to left. */

@-webkit-keyframes mymove_dektop {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/* Ankit Jain 0628 - Making changes to animate fade in instead of right to left. */

@keyframes mymove_dektop {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@media only screen and (min-width: 767px) {
  .bgcolor-f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: mymove_dektop 500ms;
    animation-fill-mode: forwards;
  }
  .d-animate.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: mymove_dektop 500ms;
    animation-fill-mode: forwards;
  }
  .bgcolor-f2.ng-hide {
    opacity: 0;
  }
}

/* Repeat Animation while going back  */

@-webkit-keyframes repeatMyMove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@keyframes repeatMyMove_mobile {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .bgcolor-f2f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: repeatMyMove_mobile 500ms;
    animation-fill-mode: backwards;
  }
  .bgcolor-f2f2.ng-hide {
    opacity: 0;
  }
}

@-webkit-keyframes repeatMyMove_desktop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes repeatMyMove_desktop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 767px) {
  .bgcolor-f2.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out opacity;
    -moz-transition: 500ms ease-in-out opacity;
    -ms-transition: 500ms ease-in-out opacity;
    -o-transition: 500ms ease-in-out opacity;
    transition: 500ms ease-in-out opacity;
    opacity: 1;
    animation: repeatMyMove_desktop 500ms;
    animation-fill-mode: forwards;
  }
  .bgcolor-f2.ng-hide {
    opacity: 0;
  }
}

/* Ankit Jain - 0628 . Fade in effect added. Removing the sliding from right classes and keyframes.  */

.fade-in-effect {
  -webkit-animation: fadeInEffect 0ms;
  animation: fadeInEffect 0ms;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*code on 6/18*/

.pageAnimationOut {
  opacity: 0;
  transform: translate(0, -75%);
  transition: 200ms;
  z-index: -1;
}

.pageAnimationIn {
  opacity: 1;
  transform: translate(0, 0);
  transition: 500ms;
  z-index: 1000;
}

:focus {
  outline: none;
}

.cursor {
  cursor: pointer;
}

.cursor-none {
  cursor: auto !important;
}

/*code on 6/18*/

body.noscroll {
  overflow: hidden;
}

.Display6 {
  font-family: Tele-Ult;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  color: black;
}

.Display5 {
  font-family: Tele-Ult;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: normal;
  color: black;
}

.h6-title {
  font-family: Tele-Fet;
  color: #000;
  font-size: 18px !important;
  line-height: 20px !important;
  letter-spacing: -0.1px;
}

.text-magenta-imp {
  color: #e20074 !important;
}

@media (min-width:768px) {
  .Display2 {
    font-family: Tele-Ult;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0px;
    font-weight: normal;
    color: black;
  }
  .m-l-20-sm {
    margin-left: 20px
  }
  .p-r-10-sm {
    padding-right: 10px;
  }
  .m-l-32-sm {
    margin-left: 32px;
  }
}

@media (max-width:767px) {
  .Display2 {
    font-family: Tele-Ult;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    color: black;
  }
}

.legal {
  font-family: Arial
}

.close {
  position: unset;
  margin-bottom: 24px;
}

.dialogPadding {
  padding: 27px 15px 30px;
  background-color: #FFFFFF;
}

/* for line selector */

@media (max-width:767px) {
  .Display2-mob {
    line-height: 30px;
    letter-spacing: -0.3px;
  }
  .modal-font {
    font-size: 38px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #000000;
  }
  .letter-spacing-03 {
    letter-spacing: -0.3px;
  }
  .text-magenta-mob {
    color: #e20074 !important;
  }
  .p-t-16-xs {
    padding-top: 16px;
  }
  .p-t-24-xs {
    padding-top: 24px;
  }
  .p-t-32-xs {
    padding-top: 32px;
  }
  .p-t-36-xs {
    padding-top: 36px;
  }
  .p-t-44-xs {
    padding-top: 44px;
  }
  .p-t-40-xs {
    padding-top: 40px;
  }
  .p-b-24-xs {
    padding-bottom: 24px;
  }
  .padding-horizontal-24-xs {
    padding-left: 24px;
    padding-right: 24px;
  }
  .padding-horizontal-16-xs {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width:768px) {
  .Display2-mob {
    letter-spacing: -0.4px;
  }
  .p-t-8-sm {
    padding-top: 8px;
  }
  .p-t-24-sm {
    padding-top: 24px;
  }
  .p-b-24-sm {
    padding-bottom: 24px;
  }
  .p-t-40-sm {
    padding-top: 40px;
  }
  .p-b-40-sm {
    padding-bottom: 40px;
  }
  .p-t-48-sm {
    padding-top: 48px;
  }
  .p-t-56-sm {
    padding-top: 56px;
  }
  .p-t-64-sm {
    padding-top: 64px;
  }
  .p-l-16-sm {
    padding-left: 16px;
  }
  .p-r-24-sm {
    padding-right: 24px;
  }
}

.p-t-8 {
  padding-top: 8px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-t-24 {
  padding-top: 24px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-t-48 {
  padding-top: 48px;
}

.p-b-4 {
  padding-bottom: 4px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.letter-0 {
  letter-spacing: 0px;
}
.letter-04 {
  letter-spacing: -0.4px;
}

.letter-05 {
  letter-spacing: 0.5px;
}

.lineHeight-20 {
  line-height: 20px;
}

.lineHeight-12 {
  line-height: 12px;
}
/* Ankit Jain - 0703 */
.lineHeight-16 {
  line-height: 16px;
}


.padding-horizontal-24 {
  padding-left: 24px;
  padding-right: 24px;
}

/* trade-in new css*/

.img_width {
  width: 64px;
  height: 106px;
}

.img_width1 {
  width: 66px;
  height: 109px;
}

@media (min-width:768px) {
  .img_width {
    width: 36.7px;
    height: 68.4px;
  }
  .p-t-16-sm {
    padding-top: 16px;
  }
  .p-t-20-sm {
    padding-top: 20px;
  }
  .p-b-32-sm {
    padding-bottom: 32px;
  }
}

@media (max-width:767px) {
  .p-t-4-xs {
    padding-top: 4px;
  }
  .p-t-24-xs {
    padding-top: 24px;
  }
  .p-l-24-xs {
    padding-left: 24px;
  }
  .p-r-24-xs {
    padding-right: 24px;
  }
}

.p-t-4 {
  padding-top: 4px;
}

.p-l-24 {
  padding-left: 24px;
}

.p-r-30 {
  padding-right: 30px;
}

/* trade-in new css ends*/

/*6/21 css changes begin*/

.overflowHidden {
  overflow-x: hidden;
}

@media (max-width:767px) {
  .trade-in-content {
    min-height: calc(100vh - 353px);
  }
  .content1 {
    min-height: calc(100vh - 160px);
  }
  .trade-content {
    min-height: calc(100vh - 362px);
  }
  .text-center-xs {
    text-align: center;
  }
  .vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .visible-xs {
    display:block !important;
  }

  .hidden-xs {
    display:none !important;
  }

}

@media(min-width:768px) {
  .content1 {
    min-height: 0px;
  }

}

.m-l-10-sm {
  margin-left: 10px
}

@media(max-width:380px) {
  .Display6 {
    font-size: 15px;
  }
}

/*6/21 css changes end*/

/*6/22 css changes start*/

.img_pos {
  position: absolute;
  bottom: 0;
  right: 0;
}

.height-auto {
  height: auto;
}

.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .p-b-24-desktop {
    padding-bottom: 24px;
  }
  .h-fixed {
    height: 118px !important;
  }
  .h-255 {
    height: 255px !important;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .glueDialog {
    top: 10%;
    left: 0px;
    right: 0px;
    width: 100%;
  }
}

/*6/22 css changes end*/

/*6/28 css changes Start*/

.p-t-44 {
  padding-top: 44px;
}

.p-b-32 {
  padding-bottom: 32px;
}

ul li {
  list-style-type: disc;
  font-size: 1.5em;
}

@media(min-width:768px) {
  .w-38-sm {
    width: 38px;
  }
}

@media(max-width:767px) {
  .w-30-xs {
    width: 30px;
  }
}

ul {
  padding-left: 17px;
}
@media (min-width:768px) {
  .p-b-82-sm{
    padding-bottom:82px;
  }
  }
    
/*6/28 css changes end*/
/*6/29 css begins*/
a:hover{
 color:#e20074;
}
/*6/29 css ends*/
.p-r-8{
   padding-right:8px;
}
  .list-none{
    list-style-type:none;
    margin-left:-17px;
  }
  .p-l-32{
        padding-left:32px;
  }