﻿<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank Information</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/select-payment-method.css">
</head>

<body>
    <!--Sai siloju Starts here-->
    <div role="document" class="editBorder-hub div_shadow m-t-50-sm bg-white" ng-controller="bankinfoCtrl">
        <div class="payment-content">
            <div class="card-information-title">
                <div class="col-xs-12 p-t-40 p-t-25-xs">
                    <!--<h4 class="no-margin button-title text-bold visible-xs">Bank information</h4>
                    <h3 class="no-margin button-title text-bold hidden-xs">Bank information</h3>-->
                    <div class="no-margin title-payment">Bank information</div>
                </div>
            </div>
            <!--<div class="p-0-xs hub-padding-left p-r-15 p-l-20-sm p-r-20-sm">-->
            <div class="container-fluid">
                <div class="position-mobile-bankInfo">
                    <div class="row">
                        <form class="form1">
                            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                                <div class="form-group ">
                                    <label for="name_on_card" class="control-label customlabel p-t-30  fine-print-body color-6a">Name
                                        on Account</label>
                                    <input type="text" class="form-control ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                        id="name_on_card" name="nameonCard" placeholder="Name on Card" value="Bartholomew Peterson">
                                </div>
                            </div>
                            <div class="col-md-offset-1  col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 padding-top-large">
                                <div class="form-group">
                                    <label for="card_number" class="control-label customlabel text-nowrap  fine-print-body color-6a">Routing
                                        Number</label>
                                    <input type="text" class="form-control ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                        id="card_number" name="cardNumber" placeholder="111111111" value="111111111" ng-model="routeNum"
                                        number>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12 padding-top-large">
                                <div class="form-group">
                                    <label for="account_number" class="control-label customlabel text-nowrap  fine-print-body color-6a">Account
                                        Number</label>
                                    <input type="text" class="form-control ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                        id="account_number" name="accountNumber" placeholder="111111111" value="111111111" 
                                        ng-model="accNum" ng-class="{ 'border-red': (accNum != '1234567812345678' && accNum != null && accNum != '' )}" number>
										<span data-brackets-id="2178" class="padding-top-xsmall invalid text-error legal-desc" ng-if="accNum != '1234567812345678' && accNum != null && accNum != '' ">Sorry,
                                    we can't accept this card for scheduled payments. Please use a different payment method.</span>
                                </div>
                            </div>
                            <p class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 padding-bottom-medium legal text-red" ng-if="accNumber.length>16 || accNumber.length<16">Sorry,
                                this bank account can’t be used for scheduled payments. Please use a different payment method.
                            </p>
                            <div class="col-md-offset-1  col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                                <p class="legal black text-decoration-underline cursor"><a class="onHover" href="#">How to
                                        find my routing or account number</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 padding-top-medium card-info-font checkbox no-padding-checkbox">
                            <label for="checkbox1">
                                <input id="checkbox1" name="checkbox1" type="checkbox" value="">
                                <div class="indicator"><span class="check1"></span></div>
                                <div class="label-copy ">
                                    <p class="body-copy-description-regular color-6a m-t-2">
                                        Save payment method
                                        <span class="">
                                            <a href="javascript:void(0)" class="p-t-5" popover-trigger="'mouseenter'" uib-popover="Tooltip text needs to be created for this replacement of payment method tooltip."
                                                popover-placement="top"><i class="fa fa-info-circle"></i></a>
                                        </span>
                                    </p>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 padding-top-medium card-info-font checkbox no-padding-checkbox">
                            <label for="checkbox2">
                                <input id="checkbox2" name="checkbox2" type="checkbox" value="">
                                <div class="indicator"><span class="check1"></span></div>
                                <div class="label-copy ">
                                    <p class="body-copy-description-regular color-6a m-t-2">
                                        Set as my default payment method
                                        <span class="bankDefaultTooltip">
                                            <a href="javascript:void(0)" class="p-t-5" popover-trigger="'mouseenter'" uib-popover="Tooltip text needs to be created for this replacement of payment method tooltip."
                                                popover-placement="top"><i class="fa fa-info-circle"></i></a>
                                        </span>
                                    </p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row padding-vertical-xxl padding-top-xl-xs padding-bottom-medium-xs">
                    <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-6  padding-bottom-medium-xs pull-right">
                        <button class="btn btn-primary PrimaryCTA button-title glueButton button-width pull-left glueButtonPrimary" ripple="">Continue
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-lg-offset-2  col-md-4 col-lg-4 col-sm-4 pull-left">
                        <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right glueButtonSecondary" ripple="">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
</body>

</html>