<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Card Information</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/select-payment-method.css">
</head>

<body>
    <!--Sai siloju Starts here-->
    <div role="document" class="editBorder-hub div_shadow m-t-50-sm bg-white" ng-controller="cardinfoCtrl">
        <div class="payment-content">
            <div class="card-information-title">
                <div class="col-xs-12 p-t-40 p-t-25-xs">
                    <!--<h4 class="no-margin button-title text-bold visible-xs">Card information</h4>
                    <h3 class="no-margin button-title text-bold hidden-xs">Card information</h3>-->
                    <div class="no-margin title-payment">Card information</div>
                </div>
            </div>
            <!--<div class="p-0-xs hub-padding-left p-r-15 p-l-20-sm p-r-20-sm">-->
            <div class="container-fluid">
                <div class="position-mobile">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                            <div class="form-group ">
                                <label for="name_on_card" class="control-label customlabel p-t-30  fine-print-body">Name
                                    on Card</label>
                                <input type="text" class="form-control ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                    id="name_on_card" name="nameonCard" placeholder="Name on Card" value="Bartholomew Peterson">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10 padding-top-large">
                            <div class="form-group">
                                <label for="card_number" class="control-label customlabel text-nowrap  fine-print-body">Credit
                                    card number</label>
                                <input type="text" class="form-control ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp " 
                                    id="card_number" name="cardNumber" placeholder="1234567812345678" value="1234567812345678"
                                    maxlength="16" ng-model="accNum" ng-keyup="checkAcc(accNum)" ng-class="{ 'border-red': (accNum != '1234567812345678' && accNum != null && accNum != '' )}" number >
                                <span data-brackets-id="2178" class="padding-top-xsmall invalid text-error legal-desc" ng-if="accNum != '1234567812345678' && accNum != null && accNum != '' ">Sorry,
                                    we can't accept this card for scheduled payments. Please use a different payment method.</span>
                            </div>
                        </div>
                        <div class="col-sm-offset-1 col-sm-3 col-width col-xs-5 padding-top-large p-r-0">
                            <div class="form-group m-b-0">
                                <label for="expiration_date" class="control-label customlabel text-nowrap fine-print-body">Expiration
                                    Date</label>
                                <div class="row d-flex">
                                    <div class="col-xs-5 p-r-0">
                                        <input type="text" class="form-control p-h-5-xs p-h-10-xs2 p-h-10-sm ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                            id="expiration_date_mnth" name="expirationDateMonth" placeholder="MM" maxlength="2"
                                            ng-model="expMonth" number>
                                    </div>
                                    <div class="col-xs-1 p-t-15 m-l-10n m-r-5n"><span> / </span></div>
                                    <div class="col-xs-5 p-l-0">
                                        <input type="text" class="form-control p-h-5-xs p-h-10-xs2 p-h-10-sm ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                            id="expiration_date_yr" name="expirationDateYear" placeholder="YY" maxlength="2"
                                            ng-model="expYear" number>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-width padding-top-large no-padding  padding-inputfields">
                            <div class="form-group m-b-0">
                                <span class="text-nowrap">
                                    <label for="CVV" class="control-label customlabel text-nowrap fine-print-body">CVV</label><a
                                        href="" class="fine-print-body text-nowrap black hyperlink-bold p-l-5">What's this?</a>
                                </span>
                                <input type="text" class="form-control ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                    id="CVV" name="CVV" placeholder="XXX" maxlength="3" number ng-model="cvv">
                            </div>
                        </div>
                        <div class="col-xs-3 col-width padding-top-large m-b-0 p-r-0">
                            <div class="form-group m-b-0">
                                <span class="text-nowrap">
                                    <label for="zip" class="control-label customlabel text-nowrap fine-print-body">Zip</label>
                                </span>
                                <input type="text" class="form-control ellipsis-text valid success body-copy-description-regular black p-l-10-imp p-r-10-imp"
                                    id="zip" name="zip" placeholder="XXXXX" maxlength="5" number ng-model="zipcode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 col-xs-12 p-t-16 m-t-0 m-b-0 card-info-font checkbox">
                            <label for="checkbox1">
                                <input id="checkbox1" name="checkbox1" type="checkbox" value="">
                                <div class="indicator"><span class="check1"></span></div>
                                <div class="label-copy ">
                                    <p class="body-copy-description-regular color-6a m-t-2">
                                        Save payment method
                                        <span class="">
                                            <a href="javascript:void(0)" class="p-t-5" popover-trigger="'mouseenter'" uib-popover="Tooltip text needs to be created for this replacement of payment method tooltip."
                                                popover-placement="top"><i class="fa fa-info-circle"></i></a>
                                        </span>
                                    </p>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 col-xs-12 p-t-16 m-t-0 m-b-0 card-info-font checkbox">
                            <label for="checkbox2">
                                <input id="checkbox2" name="checkbox2" type="checkbox" value="">
                                <div class="indicator"><span class="check1"></span></div>
                                <div class="label-copy ">
                                    <p class="body-copy-description-regular color-6a m-t-2">
                                        Set as my default payment method
                                        <span class="cardDefaultTooltip">
                                            <a href="javascript:void(0)" class="p-t-5" popover-trigger="'mouseenter'" uib-popover="Tooltip text needs to be created for this replacement of payment method tooltip."
                                                popover-placement="top"><i class="fa fa-info-circle"></i></a>
                                        </span>
                                    </p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row padding-vertical-xxl padding-top-xl-xs padding-bottom-medium-xs">
                    <div class=" col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right">
                        <button class="btn btn-primary PrimaryCTA button-title glueButton button-width pull-left glueButtonPrimary" ripple="">Continue
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-offset-2 col-sm-4 pull-left">
                        <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right glueButtonSecondary" ripple="">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
</body>

</html>