 <!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>claim flow</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/icons.css">
    <link rel="stylesheet" href="page-css/input-text.css">
    <link rel="stylesheet" href="page-css/claim-flow.css">

</head>

<body class="bg-white overflow-x claim-flow">
    <div class="container" ng-controller="claimFlow">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 p-t-25 no-padding  ">
                <p class="text-center font-tele-ult text-black padding-horizontal-medium">
                    <span class="font-40 font-24-xs" role="heading" tabindex="0" aria-label="Please
                confirm payment methods">Please
                        confirm payment methods.</span>
                </p>
                <div class="no-padding padding-horizontal-xl ">
                    <p class="p-t-25 text-center text-black no-padding l-h-24 l-h-20-xs">
                        <span class="font-14-xs " tabindex="0" aria-label="For your security, please re-enter your card or bank account number">For
                            your security, please re-enter your card or bank account number.</span>
                        <br class="hidden-xs">
                        <span class="text-center text-black text-bold font-14-xs no-padding" tabindex="0" aria-label="we will only ask you to complete this
                    extra step once.">We&apos;ll
                            only ask you to complete this
                            extra step once.</span>
                    </p>
                </div>
            </div>
        </div>
        <form class="form1 color-black" name="myForm">
        <div class="row padding-top-xl align-content-center d-flex">

            <!-- <div class="col-xs-2 col-sm-1 col-sm-offset-3">
                    <div id="iconId" tabindex="0" aria-label="card icon" class="{{cardIcon}}"></div>
            </div> -->
            <div class="col-xs-2 col-sm-offset-3 col-sm-1 text-center padding-top-large p-t-25-xs">
                    <!-- <img src="http://via.placeholder.com/46x28" [ngClass]="cardIcon" tabindex="0"> -->
                    <div id="iconId" tabindex="0" aria-label="card icon" class="card-size pull-left {{cardIcon}}"></div>
                </div>
            <div class="col-xs-10 col-sm-5 padding-l-0 marginclass">
                    <div class="textfield">
                        <input tabindex="0" type="tel" id="card_number" minlength="19" maxlength="19" ng-keyup="formatCard(card_number); cardChange($event) "
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model-options="{ allowInvalid: true }" name="card_number" class="input" ng-model="card_number" required ng-class="{'border-red': myForm.card_number.$invalid  && !myForm.card_number.$pristine && !myForm.card_number.$error.required}">
                        <label class="labelpointer" for="card_number" ng-class="[(myForm.card_number.$invalid && !myForm.card_number.$pristine && !myForm.card_number.$required && !myForm.card_number.$touched) ? 'legal color-red redClass':'', (!myForm.card_number.$invalid) ? 'legal':'', (myForm.card_number.$required) ? 'body' : '']">
                           Card Number</label>
                        <div class="input-animation"></div>

                       
                    </div>
                </div>
               
        </div>
        <div class="row">
                <div class="col-xs-2 col-sm-offset-3 col-sm-1"></div>
                <div class="col-xs-10 col-sm-5 legal text-red position-rel padding-l-0 marginclass" ng-if="myForm.card_number.$invalid  && !myForm.card_number.$pristine && !myForm.card_number.$error.required">
                        <div class="pull-left p-t-10" tabindex="0" aria-label="Please enter a valid card number">Please enter a valid card number</div>
                        <div class="pull-right p-t-5">
                            <img class="warning-icon-height" src="./img/warning-error-icon.PNG" tabindex="0" aria-label="error icon">
                        </div>
                        
                    </div>
                    <div class="col-xs-10 col-sm-5 legal text-red position-rel p-t-8" ng-if="myForm.card_number.$valid">
                        <i class="validated_outline_green_16x14 pull-right"></i>
                    </div>
        </div>
        <div class="row  padding-top-xl position-mobile">
            <div class="col-xs-12 text-center warning-text">
                <span class="cursor-pointer" id="confirmModalButton" ng-click="confirmModalOpen()" role="link" tabindex="0">
                    <i class="fa fa-trash "></i> &nbsp; <span>Remove from My Wallet</span></span>
            </div>
        </div>

        <div class="row padding-vertical-xl padding-top-xl p-b-25-xs">
            <div class=" col-xs-12 col-sm-4 col-sm-offset-2 padding-bottom-medium-xs  col-sm-push-4">
                <button class="btn btn-primary PrimaryCTA button-title glueButton button-width pull-left glueButtonPrimary font-18"
                    ripple ng-disabled="myForm.$invalid">Continue
                </button>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-pull-4">
                <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right glueButtonSecondary font-18"
                    ripple>Back</button>

            </div>
        </div>

</form>

        <!-- modal starts -->
        <div>
            <div class="row no-margin">
                <div aria-hidden="{{!confirmModalVisbile}}" id="confirmModal" class="col-lg-6 col-md-8 col-sm-8 col-xs-10 no-padding dialog animation-out bg-white"
                    ng-class="{'animation-in':confirmModalVisbile}" 
                    ng-keydown="backTabEvent($event,'confirmModal')"
                    tabindex="-1">
                    <div class="modal-heading-font text-center p-t-24-md p-t-24-sm p-h-35-md p-h-21-sm">
                        <span aria-label="Are you sure you want to delete?" tabindex="{{confirmModalVisbile?'0':'-1'}}">Are
                            you sure you want to delete?</span>
                    </div>
                    <div class="modal-body-font text-center padding-horizontal-xl p-v-21-sm p-h-21-sm p-t-24-md">
                        <span aria-label="Deleting this payment method won’t affect AutoPay or other people on the account."
                            tabindex="{{confirmModalVisbile?'0':'-1'}}">Deleting this payment method won’t affect
                            AutoPay or other people on the account.</span>
                    </div>
                    <div class="p-b-21-sm text-center-xs text-align-right-md p-t-24-md p-b-24-md p-h-24-md">
                        <span>
                            <button class="btn btn-black btn-secondary border-radius p-0 btn-secondary-width" ripple
                                role="button" aria-label="Click to Cancel " tabindex="{{confirmModalVisbile?'0':'-1'}}"
                                ng-keydown="backTabEvent($event,'moreInfoModal')" ng-click="confirmModalClose()">Cancel</button>
                        </span>
                        <span class="p-l-8-sm p-l-17-md">
                            <button class="btn btn-primary border-radius p-0 btn-primary-width color-6a6a6a" ripple role="button"
                                aria-label="Click to delete" tabindex="{{confirmModalVisbile?'0':'-1'}}">Yes, Delete
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="overlay" ng-click="confirmModalClose()" ng-class="{'overlay-in':confirmModalVisbile,'overlay-out':!confirmModalVisbile}"
                tabindex="-1" role="none"></div>
        </div>
        <!-- modal ends -->
    </div>

    </div>

    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>
