<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Card Information</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/core/bootstrap.min.css">
	<link rel="stylesheet" href="css/core/font-awesome.min.css">
	<link rel="stylesheet" href="css/core/tmo-icons.css">
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="page-css/Common.css">
	<link rel="stylesheet" href="page-css/glue.css">
	<!-- <link rel="stylesheet" href="page-css/select-payment-method.css"> -->
	<link rel="stylesheet" href="page-css/enter-card-information.css">
	<!-- <link rel="stylesheet" href="page-css/claim-flow.css"> -->
	<link rel="stylesheet" href="page-css/input-text.css">
</head>

<body class="bg-white">

	<div role="document" ng-controller="cardinfoCtrl">
		<div >
			<div class="card-information-title">
				<div class="col-xs-12 p-t-25">
					<div class="no-margin title-payment" >
					<span class="font-32 font-24-xs" tabindex="0"
					aria-label="{{newCardInfo ? 'Enter Card information' : 'Edit card information'}}">
					{{newCardInfo ? 'Enter Card information' : 'Edit card information'}}
				</span> </div>
				</div>
			</div>
			<div class="col-xs-12 m-t-25 border-e8e8e8"></div>
			<div class="container">
				<div class="position-mobile">
					<form class="form1 color-black" name="myForm">
						<div class="row">
							<div class="col-sm-offset-1 col-sm-10 col-xs-12 padding-top-large">
								<div class="textfield">
									<input tabindex="0" type="text" id="cardName" minlength="3" maxlength="19" name="cardName" class="input color-black" pattern="[a-zA-Z\s\-\.]*"
									 ng-model="cardName" required ng-class="{'border-red': myForm.cardName.$invalid  && !myForm.cardName.$pristine && !myForm.cardName.$error.required}">
									<label class="labelpointer" for="cardName" ng-class="[(myForm.cardName.$invalid && !myForm.cardName.$pristine && !myForm.cardName.$required && !myForm.cardName.$touched) ? 'legal color-red redClass':'', (!myForm.cardName.$invalid) ? 'legal':'', (myForm.cardName.$required) ? 'body' : '']">
										Name on Card</label>
									<div class="input-animation"></div>

									<div class="legal text-red" ng-if="myForm.cardName.$invalid  && !myForm.cardName.$pristine && !myForm.cardName.$error.required">
										<div class="pull-left p-t-10" tabindex="0" aria-label="Please enter a valid name">Please enter a valid name</div>
										<div class="pull-right p-t-5">
											<img class="warning-icon-height" src="./img/warning-error-icon.PNG" tabindex="0" aria-label="error icon">
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 no-padding p-t-20">
								<div class="col-xs-2 col-sm-offset-1 col-sm-1 text-center padding-top-large p-t-25-xs">
									<!-- <img src="http://via.placeholder.com/46x28" [ngClass]="cardIcon" tabindex="0"> -->
									<div id="iconId" tabindex="0" aria-label="card icon" class="card-size pull-left {{cardIcon}}"></div>
								</div>
								<div class="col-xs-10 col-sm-9 marginclass col-xs-10 padding-l-0">
									<div class="textfield">
										<input tabindex="0" type="tel" id="card_number" minlength="19" maxlength="19" ng-keyup="formatCard(card_number); cardChange($event) "
										onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model-options="{ allowInvalid: true }" name="card_number" class="input" ng-model="card_number" required ng-class="{'border-red': myForm.card_number.$invalid  && !myForm.card_number.$pristine && !myForm.card_number.$error.required}">
										<label class="labelpointer" for="card_number" ng-class="[(myForm.card_number.$invalid && !myForm.card_number.$pristine && !myForm.card_number.$required && !myForm.card_number.$touched) ? 'legal color-red redClass':'', (!myForm.card_number.$invalid) ? 'legal':'',
										 (myForm.card_number.$required) ? 'body' : '']">Card Number</label>
										<div class="input-animation"></div>

										<div class="legal text-red" ng-if="myForm.card_number.$invalid  && !myForm.card_number.$pristine && !myForm.card_number.$error.required">
											<div class="pull-left p-t-10" tabindex="0" aria-label="Please enter a valid card number">Please enter a valid card number</div>
											<div class="pull-right p-t-5">
												<img class="warning-icon-height" src="./img/warning-error-icon.PNG" tabindex="0" aria-label="error icon">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-3 col-width col-xs-5 padding-top-large">

								<div class="textfield">
									<input tabindex="0" type="tel" id="expiryDate" minlength="5" maxlength="5" number ng-keyup="formatExpireDate(expiryDate)"
									 ng-model-options="{ allowInvalid: true }" name="expiryDate" class="input" pattern="^((0[1-9])|(1[0-2]))\/(\d{2})$"
									 ng-model="expiryDate" required ng-class="{'border-red': myForm.expiryDate.$invalid  && !myForm.expiryDate.$pristine && !myForm.expiryDate.$error.required}"
									 ng-model-options="{ allowInvalid: true }">
									<label class="labelpointer" for="expiryDate" ng-class="[(myForm.expiryDate.$invalid && !myForm.expiryDate.$pristine && !myForm.expiryDate.$required && !myForm.expiryDate.$touched) ? 'legal color-red redClass':'', (!myForm.expiryDate.$invalid) ? 'legal':'', (myForm.expiryDate.$required) ? 'body' : '']">
										Expiration Date</label>
									<div class="input-animation"></div>

									<div class="legal text-red" ng-if="myForm.expiryDate.$invalid  && !myForm.expiryDate.$pristine && !myForm.expiryDate.$error.required">
										<div class="pull-left p-t-10 errormsg" tabindex="0" aria-label="Please enter a Expiration Date">Please enter a Expiration Date</div>
										<div class="pull-right p-t-5">
											<img class="warning-icon-height" src="./img/warning-error-icon.PNG" tabindex="0" aria-label="error icon">
										</div>
									</div>
								</div>

							</div>
							<div class="col-xs-3 col-width padding-top-large no-padding-horizonatl-xs  padding-inputfields">
								<div class="textfield">
									<input tabindex="0" type="tel" id="cvv" minlength="3" maxlength="3" number name="cvv" class="input" ng-model="cvv" required
									 ng-class="{'border-red': myForm.cvv.$invalid  && !myForm.cvv.$pristine && !myForm.cvv.$error.required}">
									<label class="labelpointer" for="cvv" ng-class="[(myForm.cvv.$invalid && !myForm.cvv.$pristine && !myForm.cvv.$required && !myForm.cvv.$touched) ? 'legal color-red redClass':'', (!myForm.cvv.$invalid) ? 'legal':'', (myForm.cvv.$required) ? 'body' : '']">
										CVV</label>
									<div class="input-animation"></div>

									<div class="legal text-red" ng-if="myForm.cvv.$invalid  && !myForm.cvv.$pristine && !myForm.cvv.$error.required">
										<div class="pull-left p-t-10 errormsg" tabindex="0" aria-label="Please enter cvv">Please enter cvv</div>
										<div class="pull-right p-t-5">
											<img class="warning-icon-height" src="./img/warning-error-icon.PNG" tabindex="0"  aria-label="error icon">
										</div>
									</div>
								</div>
								<div class="col-xs-12 no-padding">


									<a class="legal p-t-10" >
										<span tabindex="0" ng-click="cardImageModalOpen()"
										ng-keydown="$event.keycode==13?cardImageModalOpen():null" id="cardImageModalButton" aria-label="Click here to know what CVV is">What's this?</span>
									</a>
								</div>
								<!--  -->
							</div>
							<div class="col-xs-3 col-width padding-top-large m-b-0 p-r-0-xs">

								<div class="textfield">
									<input tabindex="0" type="tel" id="zipcode" minlength="5" maxlength="5" number name="zipcode" class="input" ng-model="zipcode"
									 required ng-class="{'border-red': myForm.zipcode.$invalid  && !myForm.zipcode.$pristine && !myForm.zipcode.$error.required}">
									<label class="labelpointer" for="zipcode" ng-class="[(myForm.zipcode.$invalid && !myForm.zipcode.$pristine && !myForm.zipcode.$required && !myForm.zipcode.$touched) ? 'legal color-red redClass':'', (!myForm.zipcode.$invalid) ? 'legal':'', (myForm.zipcode.$required) ? 'body' : '']">
										Zip code</label>
									<div class="input-animation"></div>

									<div class="legal text-red" ng-if="myForm.zipcode.$invalid  && !myForm.zipcode.$pristine && !myForm.zipcode.$error.required">
										<div class="pull-left p-t-10 errormsg" tabindex="0" aria-label="Please enter zipcode">Please enter Zip code</div>
										<div class="pull-right p-t-5">
											<img class="warning-icon-height" src="./img/warning-error-icon.PNG" tabindex="0" aria-label="error icon">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-10 col-xs-12">

								<div class="textfield optionLabel">
									<input tabindex="0" type="text" id="nickname" name="nickname" class="input color-black" ng-model="nickname" minlength="4" maxlength="50"
									 ng-class="{'border-red': myForm.nickname.$invalid  && !myForm.nickname.$pristine && nickname != ''}">
									<label class="labelpointer" for="nickname" ng-class="[(myForm.nickname.$minlength && !myForm.nickname.$pristine && myForm.nickname.$viewValue !='' && !myForm.nickname.$touched) ? 'legal color-red redClass':'', (!myForm.nickname.$invalid) ? 'legal':'', (myForm.nickname.$viewValue !='') ? 'body' : '']">
										Nickname</label>

									<div class="input-animation"></div>

									<div class="legal text-red" ng-if="myForm.nickname.$viewValue !=''  && !myForm.nickname.$pristine && myForm.nickname.$invalid">
										<div class="pull-left p-t-10" tabindex="0" aria-label="Please enter nickname">Please enter nickname</div>
										<div class="pull-right p-t-5">
											<img class="warning-icon-height" src="./img/warning-error-icon.PNG" tabindex="0" aria-label="error icon">
										</div>
									</div>

								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-10 col-xs-12">
								<p class="legal black p-t-10" >
									<span tabindex="0" aria-label="Optional">Optional </span>
								</p>
							</div>
						</div>
						<div class="row p-t-25" ng-if="saveToWalletCheck">
							<div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12  card-info-font m-t-0 m-b-0">
								<div class="col-sm-5 col-xs-12 no-padding checkbox p-l-0 m-t-0 m-b-0">
									<label for="checkbox1">
										<input id="checkbox1" tabindex="-1" name="checkbox1" type="checkbox" ng-model="saveToWallet" value="" ng-checked="saveToWallet" ng-click="saveToWallet = !saveToWallet">
										<div class="indicator">
											<span class="check1" ng-keydown="$event.keycode==13?saveToWallet = !saveToWallet:null" ng-click="saveToWallet = !saveToWallet"
                                                  tabindex="0" role="checkbox" aria-checked="{{saveToWallet}}"></span>
										</div>
									</label>
                                    
										<div class="label-copy">
											<span class="body-copy-description-regular color-gray60 m-t-2 m-l-30" tabindex="0"  aria-label="Save to my wallet" role="content"> Save to My Wallet
											</span>
										</div>
								</div>
							</div>
						</div>
						<div class="row p-t-25">
							<div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12  card-info-font m-t-0 m-b-0">
								<div class="col-sm-5 col-xs-12 no-padding checkbox p-l-0 m-t-0 m-b-0">
									<label for="checkbox2">
										<input id="checkbox2" tabindex="-1" name="checkbox2" type="checkbox" ng-model="setAsDefault" ng-checked="setAsDefault" value=""  ng-click="setAsDefault = !setAsDefault">
										<div class="indicator">
											<span class="check1" ng-keydown="$event.keycode==13?setAsDefault = !setAsDefault:null" ng-click="setAsDefault = !setAsDefault"  tabindex="0" role="checkbox" aria-checked="{{setAsDefault}}"></span>
										</div>
									</label>
                                    
										<div class="label-copy">
											<span class="body-copy-description-regular color-gray60 m-t-2 m-l-30" tabindex="0" role="content" aria-label="Set as default"> Set as default </span>
											
										</div>
								</div>
								<div class="col-sm-7 col-xs-12 no-padding" ng-if="saveToWalletCheck && !newCardInfo">
	
									<p class="right-md p-t-25-xs">
										<span class="cursor-pointer color-E8200D" id="deleteModalButton" ng-keydown="$event.keycode==13?deleteModalOpen():null" ng-click="deleteModalOpen()" role="link" tabindex="0"
											aria-label="Remove from My Wallet">
											<i class="fa fa-trash delete-icon "></i>
											<span >
												Remove from My Wallet </span>
										</span>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="row padding-vertical-xl padding-top-xl-xs padding-bottom-medium-xs">
					<div class=" col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right">
						<button class="btn btn-primary PrimaryCTA button-title glueButton  pull-left glueButtonPrimary font-18 {
							" ripple="" ng-disabled="myForm.$invalid">{{(!newCardInfo)?'Save edits':(saveToWalletCheck?'Continue':'Save payment method')}}
						</button>
					</div>
					<div class="col-xs-12 col-sm-offset-2 col-sm-4 pull-left">
						<button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right font-18 glueButtonSecondary"
						 ripple="">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<!--  -->
		<div class="dialog-container">
			<div class="row">
				<div aria-hidden="{{!cardImageModalShow}}" id="cardImageModal" class="col-lg-8 col-md-8 col-sm-10 col-xs-10 dialog dialog-new-card animation-out bg-white"
				 ng-class="{'animation-in':cardImageModalShow}" ng-keydown="backTabEvent($event,'cardImageModal')"
				 tabindex="-1">
					<div class="col-12 col-md-6 col-sm-6">
						<div class=" p-t-25 mx-md-0">
							<div >
								<span  tabindex="{{cardImageModalShow?'0':'-1'}}"  aria-label="visa card icon">
									<img class="visaImg">
								</span>
								<span  tabindex="{{cardImageModalShow?'0':'-1'}}"  aria-label="master card icon">
									<img class="masterImg">
								</span>
								<span  tabindex="{{cardImageModalShow?'0':'-1'}}"  aria-label="discover card icon">
									<img class="discoverImg">
								</span>
							</div>
						</div>
						<div class="p-t-15 p-b-25 mx-md-0">
							<div >
								<span  tabindex="{{cardImageModalShow?'0':'-1'}}"  aria-label="visa card view">
									<img class="cvv_visaImg">
								</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-sm-6">
						<div class="p-t-25 mx-md-0">
							<div >
								<span >
									<img class="amexImg" tabindex="{{cardImageModalShow?'0':'-1'}}"  aria-label="amex icon">
								</span>
							</div>
						</div>
						<div class="p-t-15 p-b-25 mx-md-0">
							<div >
								<span >
									<img class="cvv_amexImg" tabindex="{{cardImageModalShow?'0':'-1'}}"  aria-label="amex card view" (keydown.tab)="moveToTop('visaImgInModal')">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- modal starts -->

		<div class="overlay" ng-click="cardImageModalClose()" ng-class="{'overlay-in':cardImageModalShow,'overlay-out':!cardImageModalShow}"
		 tabindex="-1" role="none"></div>
	
	<div class="dialog-container">
		<div class="row no-margin">
			<div aria-hidden="{{!deleteModalShow}}" id="deleteModal" class="col-lg-6 col-md-7 col-sm-7 col-xs-10 no-padding dialog animation-out bg-white"
			 ng-class="{'animation-in':deleteModalShow}" ng-keydown="backTabEvent($event,'deleteModal')" tabindex="-1">
				<div class="modal-heading-font text-center p-t-25 p-h-18-md p-h-21-sm ">
					<span aria-label="Are you sure you want to remove this payment method from your wallet??" tabindex="{{deleteModalShow?'0':'-1'}}">
						Are you sure you want to remove this payment method from your wallet?
					</span>
				</div>
				<div class="modal-body-font text-center p-h-18-md p-t-25-md p-t-25-lg p-t-20-sm p-t-20-xs p-h-21-sm">
					<span aria-label="Note: removing will not impact any payments you've already scheduled with this method." tabindex="{{deleteModalShow?'0':'-1'}}">
						Note: removing will not impact any payments you've already scheduled with this method.</span>
				</div>
				<div class="text-center-xs text-align-right-md p-t-25 p-b-25 p-h-18-md">
					<span>
						<button class="btn btn-black btn-secondary border-radius p-0 btn-secondary-width" ripple role="button" aria-label="Click to cancel"
						 tabindex="{{deleteModalShow?'0':'-1'}}"  ng-click="deleteModalClose()">Cancel</button>
					</span>
					<span class="p-l-8-sm p-l-17-md">
						<button class="btn btn-primary border-radius p-0 btn-primary-width" ripple role="button" aria-label="Click to remove" tabindex="{{deleteModalShow?'0':'-1'}}">Yes, remove
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
		<div class="overlay" ng-click="deleteModalClose()" ng-class="{'overlay-in':deleteModalShow,'overlay-out':!deleteModalShow}"
		 tabindex="-1" role="none"></div>
	</div>

	<script src="js/core/angular.min.js"></script>
	<script src="js/core/angular-animate.min.js"></script>
	<script src="js/core/angular-aria.min.js"></script>
	<script src="js/core/angular-cookies.min.js"></script>
	<script src="js/core/angular-loader.min.js"></script>
	<script src="js/core/angular-messages.min.js"></script>
	<script src="js/core/angular-message-format.min.js"></script>
	<script src="js/core/angular-sanitize.min.js"></script>
	<script src="js/core/angular-touch.min.js"></script>
	<script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
	<script src="js/app.js"></script>
	<script src="js/ripple.js"></script>
</body>

</html>
