<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interrupt Modal</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/paymentmodal.css">
    <link rel="stylesheet" href="page-css/select-payment-method.css">
    
    
</head>

<body class="bg-white">
    <div ng-controller="modalCtrl" ng-cloak>
            <div class="row no-margin p-t-35 ">
                <div class="col-xs-12 padding-horizontal-24-xs text-center">
                    <button class="btn btn-primary PrimaryCTA button-title button-line-height glueButton glueButtonPrimary custom-text-size btn-width" ripple value="true" ng-click="manymoreModal()">Modal
                    </button>
                </div>
            </div>   
            <div class="glueDialogContainer">
                <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleLCModal}">
                    <div class="row no-margin">
                        <div class="col-xs-12 no-padding">
                            <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="closeModal()">
                            <i class="icox ico-closeIcon" ng-if="visibleAnimation"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row padding-horizontal-48 no-margin padding-bottom-small dialogPaddingLCModal scroll">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <h4 class="h3-title h4-title-mobile txt-size text-bold text-center">Please pay the
                            past-due amount</h4>
                        </div>
                        <div class="col-xs-12 p-t-22 no-padding text-center">
                            <span class="body-copy-description text-black">Before we can set up a payment arrangement, we’ll need a payment for the amount that’s more than 30 days past due.</span>
                        </div>
                        <div class="col-xs-12 p-t-lg padding-top-medium-xs border-bottom no-padding d-flex">
                            <div class="col-xs-9 col-md-10 col-sm-10 padding-bottom-large-blade p-l-0">
                                    <p class="body-copy-description-bold font-size-bodycopy black p-l-6">30+ days past-due amount</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 p-r-0 text-right text-center-xs p-r-0 body-copy-description black">
                                $150.00
                                </div>
                            </div>
                        <div class="col-xs-12 no-padding p-t-12 p-b-48">
                            <span class = "legal">
                                Select “Continue” to make a payment today. Then we can set up a payment arrangement for the remaining amount.
                            </span>
                        </div>
                        <div class="row p-b-48 padding-top-xl-xs padding-bottom-medium-xs">
                           <div class=" col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right">
                                 <button class="btn btn-primary PrimaryCTA button-title glueButton button-width pull-left glueButtonPrimary modal-button" ripple="">Continue
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-offset-2 col-sm-4 pull-left">
                                <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right glueButtonSecondary modal-button" ripple="">Cancel
                                </button>    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        <div class="glueOverlay" ng-click="closeModal()" ng-class="{'glueOverlayIn':visibleLCModal,'glueOverlayOut':!visibleLCModal}"></div>
    
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>