﻿<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Bank Information</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/new-bank-information.css">
    <link rel="stylesheet" href="page-css/input-text.css">
</head>

<body class="bg-white">
    <!--Starts here-->
    <div role="document" ng-controller="newBankinfoCtrl">
        <div class="col-xs-12 p-t-25 p-b-25">
            <div class="bank-heading text-center">
                <span tabindex="0" aria-label="{{newBankInfo ? 'Enter bank information':'Edit bank information'}}">
                    {{newBankInfo?'Enter bank information':'Edit bank information'}}
                </span>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="full-bleed-divider"></div>
        </div>

        <div class="container">
            <form name="myForm">
                <div class="position-mobile-bankInfo">
                    <div class="row">
                        <!-- nameOnaAccount section starts -->
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 padding-top-large">
                            <div class="textfield">
                                <input tabindex="0" type="text" id="name_on_card" minlength="3" maxlength="50" name="nameOnaAccount" class="input color-black" pattern="[a-zA-Z\s\-\.]*"
                                    ng-model="nameOnaAccount" aria-label=" Enter name on account" required ng-class="{'border-red': myForm.nameOnaAccount.$invalid  && !myForm.nameOnaAccount.$pristine && !myForm.nameOnaAccount.$error.required}">
                                <label class="labelpointer" for="nameOnaAccount" ng-class="[(myForm.nameOnaAccount.$invalid && !myForm.nameOnaAccount.$pristine && !myForm.nameOnaAccount.$required && !myForm.nameOnaAccount.$touched) ? 'legal color-red redClass':'', (!myForm.nameOnaAccount.$invalid) ? 'legal':'', (myForm.nameOnaAccount.$required) ? 'body' : '']">
                                    Enter name on account</label>
                                <div class="input-animation"></div>
                            </div>

                        </div>
                        <!-- nameOnaAccount section ends -->
                        <!-- error message starts -->
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                            <p class="legal color-red p-t-10" ng-if="myForm.nameOnaAccount.$invalid  && !myForm.nameOnaAccount.$pristine && !myForm.nameOnaAccount.$error.required">
                                <span class="col-xs-12 no-padding errormessage" tabindex="0" aria-label="Enter a valid Name error icon">
                                    <span class="float-left"> Enter a valid Name</span>
                                    <span class="right">
                                        <img class="warning-icon-height right" src="./img/warning-error-icon.png" />
                                    </span>
                                </span>
                            </p>
                        </div>

                        <!-- ends -->

                        <!-- account_number section starts -->
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 padding-top-large">
                            <div class="textfield">
                                <input tabindex="0" type="tel" id="account_number" minlength="9" maxlength="19" name="account_number" class="input color-black"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="account_number" required ng-class="{'border-red': myForm.account_number.$invalid  && !myForm.account_number.$pristine && !myForm.account_number.$error.required}">
                                <label class="labelpointer" for="account_number" ng-class="[(myForm.account_number.$invalid && !myForm.account_number.$pristine && !myForm.account_number.$required && !myForm.account_number.$touched) ? 'legal color-red redClass':'', (!myForm.account_number.$invalid) ? 'legal':'', (myForm.account_number.$required) ? 'body' : '']">
                                    Account number</label>
                                <div class="input-animation"></div>
                            </div>
                        </div>
                        <!-- account_number section ends -->
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                            <p class="legal color-red p-t-10" ng-if="myForm.account_number.$invalid  && !myForm.account_number.$pristine && !myForm.account_number.$error.required">
                                <span class="col-xs-12 no-padding errormessage" tabindex="0" aria-label="Enter a valid Account number error icon">
                                    <span class="float-left"> Enter a valid Account number</span>
                                    <span class="right">
                                        <img class="warning-icon-height right" src="./img/warning-error-icon.png" />
                                    </span>
                                </span>
                            </p>

                        </div>

                        <!-- routing_number section starts -->
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 padding-top-large">
                            <div class="textfield">
                                <input tabindex="0" type="tel" id="routing_number" minlength="9" maxlength="19" name="routing_number" class="input color-black"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="routing_number" required ng-class="{'border-red': myForm.routing_number.$invalid  && !myForm.routing_number.$pristine && !myForm.routing_number.$error.required}">
                                <label class="labelpointer" for="routing_number" ng-class="[(myForm.routing_number.$invalid && !myForm.routing_number.$pristine && !myForm.routing_number.$required && !myForm.routing_number.$touched) ? 'legal color-red redClass':'', (!myForm.routing_number.$invalid) ? 'legal':'', (myForm.routing_number.$required) ? 'body' : '']">
                                    Routing number</label>
                                <div class="input-animation"></div>
                            </div>
                        </div>
                        <!-- routing_number section ends -->

                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                            <p class="legal color-red p-t-10" ng-if="myForm.routing_number.$invalid  && !myForm.routing_number.$pristine && !myForm.routing_number.$error.required">
                                <span class="col-xs-12 no-padding errormessage" tabindex="0" aria-label="Enter a valid routing number error icon">
                                    <span class="float-left"> Enter a Routing number</span>
                                    <span class="right">
                                        <img class="warning-icon-height right" src="./img/warning-error-icon.png" />
                                    </span>
                                </span>
                            </p>

                        </div>
                        <div class="col-md-offset-1  col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                            <p class="legal black text-decoration-underline cursor p-t-10">
                                <a class="onHover">
                                    <span tabindex="0" aria-label="How do I find my routing or account number?" role="link"
                                    id="cardImageModalButton" ng-click="cardImageModalOpen()" ng-keydown="$event.keycode==13?cardImageModalOpen():null" >How do I find my routing or account number? 
                                    </span>
                                    </a>

                                   
                            </p>
                        </div>
                        <!-- text field section starts -->
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 padding-top-large">
                            <div class="textfield optionLabel">
                                <input tabindex="0" type="text" id="nickname" name="nickname" class="input color-black" ng-model="nickname" minlength="4" maxlength="50"
                                    ng-class="{'border-red': myForm.nickname.$invalid  && !myForm.nickname.$pristine && nickname != ''}">
                                <label class="labelpointer" for="nickname" ng-class="[(myForm.nickname.$minlength && !myForm.nickname.$pristine && myForm.nickname.$viewValue !='' && !myForm.nickname.$touched) ? 'legal color-red redClass':'', (!myForm.nickname.$invalid) ? 'legal':'', (myForm.nickname.$viewValue !='') ? 'body' : '',!myForm.nickname.$viewValue?'optional-label-position':'']">
                                    Nickname</label>

                                <div class="input-animation"></div>
                            </div>
                        </div>

                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">

                            <p class="legal color-red p-t-10" ng-if="myForm.nickname.$viewValue !=''  && !myForm.nickname.$pristine && myForm.nickname.$invalid">
                                <span class="col-xs-12 no-padding errormessage" tabindex="0" aria-label="Enter a valid nickname error icon">
                                    <span class="float-left"> Enter a valid name</span>
                                    <span class="right">
                                        <img class="warning-icon-height right" src="./img/warning-error-icon.png" />
                                    </span>
                                </span>
                            </p>
                        </div>
                        <!-- text field section ends -->
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
                            <p class="legal p-t-10">
                                <span tabindex="0" aria-label="Optional">Optional </span>
                            </p>
                        </div>

                    </div>

                    <div class="row p-t-25" ng-if="saveToWalletCheck">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12  card-info-font m-t-0 m-b-0">
                            <div class="col-sm-5 col-xs-12 no-padding checkbox p-l-0 m-t-0 m-b-0">
                                <label for="checkbox1" role="checkbox">
                                    <input id="checkbox1" tabindex="-1" name="checkbox1" type="checkbox" ng-model="saveToWallet" value="" ng-checked="{{saveToWallet}}" ng-click="saveToWallet = !saveToWallet">
                                    <div class="indicator">
                                        <span class="check1"ng-keydown="$event.keycode==13?saveToWallet = !saveToWallet:null" ng-click="saveToWallet = !saveToWallet" tabindex="0" role="checkbox" aria-checked="{{saveToWallet}}"></span>
                                    </div>
                                </label>
                                    <div class="label-copy ">
                                        <span class="body-copy-description-regular color-gray60 m-t-2 m-l-30" tabindex="0"  aria-label="Save to my wallet" role="content">
                                             Save to My Wallet </span>
                                        
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-25">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12  card-info-font m-t-0 m-b-0">
                            <div class="col-sm-5 col-xs-12 no-padding checkbox p-l-0 m-t-0 m-b-0">
                                <label for="checkbox2">
                                    <input id="checkbox2" tabindex="-1" name="checkbox2" type="checkbox" ng-model="setAsDefault" ng-checked="{{setAsDefault}}" value=""  ng-click="setAsDefault = !setAsDefault">
                                    <div class="indicator">
                                        <span class="check1" ng-keydown="$event.keycode==13?setAsDefault = !setAsDefault:null" ng-click="setAsDefault = !setAsDefault" tabindex="0" role="checkbox" aria-checked="{{setAsDefault}}"></span>
                                    </div>
                                </label>
                                    <div class="label-copy ">
                                        <span class="body-copy-description-regular color-gray60 m-t-2 m-l-30" tabindex="0" role="content" aria-label="Set as default"> Set as default </span>
                                        
                                    </div>
                            </div>
                            <div class="col-sm-7 col-xs-12 no-padding" ng-if="saveToWalletCheck && !newBankInfo">

                                <p class="right-md p-t-25-xs no-wrap">
                                    <span class="cursor-pointer color-E8200D" id="bankConfirmModalButton" ng-click="bankConfirmModalOpen()" ng-keydown="$event.keycode==13?bankConfirmModalOpen():null" role="link" tabindex="0"
                                        aria-label="Remove from My Wallet">
                                        <i class="fa fa-trash delete-icon "></i>
                                        <span class="">
                                            Remove from My Wallet </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <div class="row padding-vertical-medium-xs padding-vertical-xl p-b-20">
                <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-6  padding-bottom-medium-xs pull-right">
                    <button class="btn btn-primary PrimaryCTA button-title glueButton  pull-left glueButtonPrimary font-18" ripple="" ng-disabled="myForm.$invalid"
                        role="button" tabindex="0" attr.aria-label="click here to  {{!newBankInfo?'Save edits':(saveToWalletCheck?'Continue':'Save payment method')">
                        {{!newBankInfo?'Save edits':(saveToWalletCheck?'Continue':'Save payment method')}}

                    </button>
                </div>
                <div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-lg-offset-2  col-md-4 col-lg-4 col-sm-4 pull-left">
                    <button class="btn btn-secondary SecondaryCTA button-title glueButton  pull-right glueButtonSecondary font-18" ripple="" role="button"
                        tabindex="0" aria-label="click here to cancel">Cancel</button>
                </div>
            </div>
            <!-- modal starts -->
            <div class="dialog-container">
                <div class="row no-margin">
                    <div aria-hidden="{{!bankConfirmModalVisible}}" id="bankConfirmModal" class="col-lg-6 col-md-7 col-sm-7 col-xs-10 no-padding dialog animation-out bg-white"
                        ng-class="{'animation-in':bankConfirmModalVisible}"ng-keydown="backTabEvent($event,'bankConfirmModal')"
                        tabindex="-1">
                        <div class="modal-heading-font text-center p-t-24-md p-t-24-sm p-h-18-md  p-h-21-sm">
                            <span aria-label="Are you sure you want to remove this payment method from your wallet??" tabindex="{{bankConfirmModalVisible?'0':'-1'}}">
                                Are you sure you want to remove this payment method from your wallet?
                            </span>
                        </div>
                        <div class="modal-body-font text-center p-h-18-md  p-h-21-sm p-t-24-md p-t-24-sm">
                            <span aria-label="Note: removing will not impact any payments you've already scheduled with this method." tabindex="{{bankConfirmModalVisible?'0':'-1'}}">
                                Note: removing will not impact any payments you've already scheduled with this method.</span>
                        </div>
                        <div class="p-b-21-sm text-center-xs text-align-right-md p-t-24-md p-t-24-sm padding-bottom-xl-xs p-b-24-md p-h-18-md">
                            <span>
                                <button class="btn btn-black btn-secondary border-radius p-0 btn-secondary-width" ripple role="button" aria-label="Click to cancel"
                                    tabindex="{{bankConfirmModalVisible?'0':'-1'}}" ng-keydown="backTabEvent($event,'bankConfirmModal')"
                                    ng-click="bankConfirmModalClose()">Cancel</button>
                            </span>
                            <span class="p-l-8-sm p-l-17-md">
                                <button class="btn btn-primary border-radius p-0 btn-primary-width" ripple role="button" aria-label="Click to remove" tabindex="{{bankConfirmModalVisible?'0':'-1'}}">Yes, remove
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="overlay" ng-click="bankConfirmModalClose()" ng-class="{'overlay-in':bankConfirmModalVisible,'overlay-out':!bankConfirmModalVisible}"
                    tabindex="-1" role="none"></div>

                <!-- modal ends -->
                <!-- card image modal starts -->
                <div class="dialog-container">
                    <div class="row no-margin">
                        <div aria-hidden="{{!cardVisible}}" id="cardImageModal" class="col-lg-6 col-md-7 col-sm-7 col-xs-10 no-padding dialog dialog-width animation-out bg-white"
                            ng-class="{'animation-in':cardVisible}" ng-keydown="backTabEvent($event,'cardImageModal')" tabindex="-1">

                            <div class="legal text-center p-h-18-md p-v-21-sm p-h-21-sm p-t-25 p-h-18-md">
                                <span aria-label="We accept checking account payments from US-based checking accounts.
                                            Locate the account and routing numbers on your checks based on 
                                            the example below." tabindex="{{cardVisible?'0':'-1'}}">
                                    We accept checking account payments from US-based checking accounts. Locate the account and routing numbers on your checks
                                    based on the example below.</span>
                            </div>

                            <div class="p-t-20 p-b-25 mx-md-0 bg-white">
                                <div class="text-center">
                                    <span class="" tabindex="{{cardVisible?0:-1}}" aria-label="card icon"  ng-keydown="backTabEvent($event,'cardImageModal')">
                                        <img class="cardimage cursor" src="./img/group.png" />
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="overlay" ng-click="cardImageModalClose()" ng-class="{'overlay-in':cardVisible,'overlay-out':!cardVisible}" tabindex="-1"
                        role="none"></div>

                    <!-- card image modal ends -->
                </div>
            </div>
        </div>
    </div>
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
</body>

</html>
