<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Payment processing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/spinner-v2.css">
    <link rel="stylesheet" href="page-css/payment-processing.css">
  <script src="js/core/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body>
    <div class="" ng-controller="paymentProcessingCtrl" aria-live="assertive">
        <div ng-if="showLoaderV2" ng-class="{'spinner-loader-background': noOverlayV2,'spinner-loader-background-none': !noOverlayV2}">
            <div class="drg-spinner-large">
                <div class="spinner2">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12 padding-vertical-xxl text-center m-t-85-sm" ng-if="showButton">
                <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width glueButtonSecondary" ripple tabindex="0"
                    aria-label="Click here to show spinner" ng-click="delayedSpinner()">Show Spinner</button>
            </div>
            <div class="row padding-vertical-xl" ng-if="showContent">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padding-horizontal-xxl  text-center Display3 m-t-145-lg m-t-85-sm">
                    <span tabindex="0" aria-label="Just a moment, please">Just a moment, please… </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding padding-horizontal-xxl-sm  text-center H6-heading padding-top-large">
                    
                    <span tabindex="0"  aria-label="We’re processing your payment."> We’re processing your payment. </span>
                </div>
            </div>

            <div class="row" ng-if="showBalanceUpdated">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-horizontal-xxl  text-center Display3 m-t-145-lg m-t-85-sm">
                   <span tabindex="0" aria-label="Thanks for your patience!">
                       Thanks for your patience! </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding p-t-25 padding-horizontal-xxl-sm ">
                    <div class="text-center H6-heading no-padding ">
                        <span tabindex="0" aria-label="We’ve updated your account balance.">We’ve updated your account balance. </span></div>
                    <div class="text-center H6-heading no-padding"> 
                        <span tabindex="0" aria-label="Please continue to the next step.">Please continue to the next step.</span></div>
                </div>

                <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4 col-xs-12 col-sm-12 text-center p-t-40 padding-bottom-xxl">
                    <button class="btn btn-primary PrimaryCTA button-title glueButton button-width glueButtonPrimary" ripple tabindex="0" aria-label="click to Next">Next</button>
                </div>
            </div>
            <div class="row" ng-if="showBalanceNotUpdated"  >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-horizontal-xxl  text-center  m-t-145-lg m-t-85-sm Display3">
                    
                    <span tabindex="0" aria-label="Sorry—we’re still working on it.">Sorry—we’re still working on it.</span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-t-25 padding-horizontal-xxl-sm ">
                    <div class="text-center H6-heading no-padding "> 
                        <span tabindex="0" aria-label="It’s taking longer than usual to update your account balance.">It’s taking longer than usual to update your account balance. </span></div>
                    <div class="text-center H6-heading no-padding"> 
                        <span tabindex="0" aria-label="Please check back soon to continue">Please check back soon to continue.</span></div>
                </div>
                <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4 col-xs-12 col-sm-12 text-center p-t-40 padding-bottom-xxl">
                    <button class="btn btn-primary PrimaryCTA button-title glueButton button-width glueButtonPrimary" ripple tabindex="0" aria-label="click to Return home">Return home</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Dependencies -->
    
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>