<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Select Payment method</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/icons.css">
    <link rel="stylesheet" href="page-css/select-payment-in-session.css">

</head>

<body class="bg-white overflow-x">
    <div ng-controller="selectPayment">
        <div class="content-height">
            <!-- top section starts -->
            <div class=" bg-color-title" ng-class="{'hr-1px-bottom':sessionDetails.infoMsg}">
                <div class="container">
                    <div class="row m-l-0 m-r-0 m-l-15-xs m-r-15-xs accordion-wrap bg-color-title" ng-if="sessionDetails.infoMsg">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 h-69 text-black font-arial no-padding-md">
                            <div class="vertical-middle">
                            <span class="pull-left d-flex">
                                <span class="text-bold" tabindex="0" aria-label="New:">New:</span>
                                <span class="ellipsis-text p-l-5" tabindex="{{sessionDetails.infoMsg?0:-1}}" aria-label="{{sessionDetails.infoMsg}}"> {{sessionDetails.infoMsg}}</span>
                            </span>
                            <span class="pull-right text-underline cursor-pointer p-l-30-xs" id="moreInfoModalButton" ng-click="moreInfoModalOpen()"
                                role="link">More info</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="{'hr-2px-bottom':sessionDetails.titleDesc}">
                <div class="container">
                    <div class="row no-margin" ng-if="sessionDetails.titleDesc">
                        <div class="col-xs-offset-1 col-xs-10 p-t-25 p-b-25 no-padding">
                            <p class="text-center font-tele-ult text-black">
                                <span role="heading" tabindex="0" aria-label="Select a payment method">Select a payment method</span>
                            </p>
                            <p ng-if="cardDetails.length==10" class="p-t-25 text-center text-black">
                                <span tabindex="{{sessionDetails.titleSubDesc?0:-1}}" aria-label="{{sessionDetails.titleSubDesc}}">{{sessionDetails.titleSubDesc}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top section ends -->
            <div class="container">
                <!-- cards blade starts -->
                <div class="row no-margin" ng-repeat="card in cardDetails">
                    <div class="col-xs-12 col-sm-12 no-padding padding-vertical-24 padding-horizontal-medium-xs padding-vertical-medium-xs d-flex no-padding">
                        <div class="col-xs-1 col-sm-1 col-sm-offset-1 text-center no-padding">
                            <div class="glueRadio-container mt-1">
                                <input type="radio" id="radio{{$index}}" aria-hidden="true" name="radio" ng-disabled="card.disabled" ng-checked="{{card.checked}}">
                                <label for="radio{{$index}}" aria-hidden="true"></label>
                                <div class="check" tabindex="0" aria-label="{{card.name}} radio" ng-click="checkBoxEnter($index)">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-2 col-sm-1 p-l-10 p-r-0 p-l-5-md">
                            <span ng-class="card.icon" tabindex="{{card.icon?0:-1}}" aria-label="{{card.icon}}" role="img"></span>

                        </div>
                        <div class="col-xs-7 col-sm-6 p-l-5-md p-l-15 p-r-0">
                            <p class="card-blade-title font-size-body copy" ng-class="{'font-black': !card.disabled, 'p-t-4':(card.name=='Apple Pay')}">
                                <span aria-label="{{card.name}}" tabindex="{{card.name?0:-1}}">{{card.name}} </span>
                                <span class="padding-top-xsmall legal text-bold card-date hidden-xs " tabindex="{{card.expiryDate?0:-1}}" ng-class="{'card-blade-error-message': card.warning,'p-l-25 ':card.name}"
                                    aria-label="{{card.expiryDate}}">{{card.expiryDate}}</span>
                            </p>
                            <p class="padding-top-xsmall legal text-bold card-date visible-xs" ng-class="{'card-blade-error-message': card.warning, 'p-t-4':(card.name=='Apple Pay')}">
                                <span tabindex="{{card.expiryDate?0:-1}}" aria-label="{{card.expiryDate}}">{{card.expiryDate}}</span>
                            </p>
                            <p class="padding-top-small legal text-bold card-blade-desc" ng-class="{'card-blade-error-message': card.action=='Delete'}">
                                <span tabindex="{{card.desc?0:-1}}" aria-label="{{card.desc}}">{{card.desc}}</span>
                            </p>
                        </div>
                        <div class="col-xs-3 col-sm-2 no-padding text-right">
                            <p class="card-blade-title">
                                <span tabindex="{{card.number?0:-1}}" aria-label="Card number is {{card.number}}">{{card.number}}</span>
                            </p>
                            <p class="edit-link" ng-if="card.name!='Apple Pay'">
                                <span class="text-underline edit-link-text text-primary" tabindex="{{card.action?0:-1}}" id="editlink{{$index}}" ng-click="deleteModalOpen('editlink'+$index, card.action)"
                                    role="link" aria-label="click on {{card.action}} to {{card.action}} details">{{card.action}}</span>
                            </p>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 no-padding border-bottom"></div>
                </div>
                <!-- cards blade ends -->

                <!-- Add card details starts -->
                <div class="row no-margin">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 no-padding p-l-5-md padding-vertical-medium-xs p-t-15 p-b-20 d-flex border-bottom cursor-pointer"
                        ng-repeat="addCard in addPayDetail" tabindex="0" aria-label="click here to {{addCard.name}} {{cardDetails.length>=maxCards?'disabled':''}}" ng-class="{'card-disabled':cardDetails.length>=maxCards}">
                        <div class="col-md-1 no-padding m-r-10-lg">
                             <span tabindex="-1" ng-class="addCard.icon"></span>                            
                        </div>
                        <div class="col-xs-10">
                            <p class="card-blade-title font-size-body copy black p-t-15" aria-hidden="true" ng-class="{'add-card-disabled':cardDetails.length>=maxCards}">
                                <span tabindex="-1">{{addCard.name}}</span>
                            </p>
                        </div>
                        <div class="col-xs-2 no-padding">
                            <div class="arrow-right pull-right text-center m-l-10-xs m-l-15 p-t-10" aria-hidden="true">
                                <img tabindex="-1" src="./img/arrow-right.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add card details ends -->

                <!-- modal HTML start -->
                <div>
                    <div class="row no-margin">
                        <div aria-hidden="{{!moreInfoVisible}}" id="moreInfoModal" class="col-lg-8 col-md-8 col-sm-8 col-xs-10 no-padding dialog animation-out bg-white"
                            ng-class="{'animation-in':moreInfoVisible}" ng-keydown="backTabEvent($event,'moreInfoModal')" tabindex="-1">
                            <div class="modal-heading-font text-center p-t-42-md p-t-26-sm p-h-80-md p-h-23-sm">
                                <span aria-label="You now have a payments wallet." tabindex="{{moreInfoVisible?'0':'-1'}}">You now have a payments wallet.</span>
                            </div>
                            <div class="modal-body-font text-center p-t-24 p-h-80-md p-h-23-sm">
                                <span aria-label="Save up to 10 payment methods in your own secure, personal wallet. Just re-enter card/bank info once to save."
                                    tabindex="{{moreInfoVisible?'0':'-1'}}">Save up to 10 payment methods in your own secure, personal wallet. Just re-enter card/bank
                                    info once to save.</span>
                            </div>
                            <div class="p-t-48-md p-t-32-sm p-b-24 text-center-xs text-align-right-md">
                                <span class="p-r-17-md p-r-8-sm">
                                    <button class="btn btn-black btn-secondary border-radius p-0 btn-secondary-width" ripple role="button" aria-label="Click to Go to wallet"
                                        tabindex="{{moreInfoVisible?'0':'-1'}}" ng-keydown="backTabEvent($event,'moreInfoModal')">Go to wallet</button>
                                </span>
                                <span class="p-r-24-md">
                                    <button class="btn btn-primary border-radius p-0 btn-primary-width" ripple role="button" aria-label="Click to Close" tabindex="{{moreInfoVisible?'0':'-1'}}"
                                        ng-click="moreInfoModalClose()">Close</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="overlay" ng-click="moreInfoModalClose()" ng-class="{'overlay-in':moreInfoVisible,'overlay-out':!moreInfoVisible}"
                        tabindex="-1" role="none"></div>
                </div>
                <div>
                    <div class="row no-margin">
                        <div aria-hidden="{{!deleteVisible}}" class="col-lg-8 col-md-8 col-sm-8 col-xs-10 no-padding dialog animation-out bg-white position-absolute margin-auto"
                            ng-class="{'animation-in':deleteVisible}" id="deleteModal" tabindex="-1" ng-keydown="backTabEvent($event,'deleteModal')">
                            <div class="modal-heading-font text-center p-t-42-md p-t-26-sm p-h-80-md p-h-23-sm">
                                <span aria-label="Are you sure you want to delete this card?" tabindex="{{deleteVisible ? '0':'-1'}}">Are you sure you want to delete this card?
                                </span>
                            </div>
                            <div class="p-t-48-md p-t-32-sm p-b-24 text-center-xs text-align-right-md">
                                <span class="p-r-17-md p-r-8-sm">
                                    <button class="btn btn-black btn-secondary border-radius p-0 btn-secondary-width2" ripple role="button" aria-label="Click to cancel"
                                        tabindex="{{deleteVisible ? '0':'-1'}}" ng-keydown="backTabEvent($event,'deleteModal')"
                                        ng-click="deleteModalClose()">Cancel</button>
                                </span>
                                <span class="p-r-48-md">
                                    <button class="btn btn-primary border-radius p-0 btn-primary-width2 " ripple role="button" aria-label="Click to Delete" tabindex="{{deleteVisible ? '0':'-1'}}">Yes, Delete</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="overlay" ng-click="deleteModalClose()" ng-class="{'overlay-in':deleteVisible,'overlay-out':!deleteVisible}" tabindex="-1"
                        role="none"></div>
                </div>
                <!-- modal HTML Ends -->
            </div>
        </div>
        <div class="container">
            <!-- buttons HTML starts-->

            <div class="row padding-vertical-xl p-t-25-xs p-b-25-xs">


                <div class=" col-xs-12 col-sm-4 col-sm-offset-2 padding-bottom-medium-xs  col-sm-push-4">
                    <button class="btn btn-primary PrimaryCTA button-title glueButton button-width pull-left glueButtonPrimary" ripple ng-disabled="selectButtonDisabled">Select payment method
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-pull-4">
                    <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right glueButtonSecondary" ripple>Cancel</button>

                </div>
            </div>
            <!-- buttons HTML ends -->
        </div>

    </div>

    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>