<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Select In Session method</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/select-payment-method.css">

</head>

<body class="bg-white overflow-x">
    <div role="document" class="editBorder-hub div_shadow m-t-50-sm" ng-controller="confrmnCtrl" ng-cloak>
        <div class="payment-content ">
            <div class="text-center">
                <div class="col-xs-12 padding-vertical-xl p-t-30-xs p-b-30-xs">
                    <div class="no-margin title-payment">Select Payment method</div>
                </div>
            </div>
            <div class="p-0-xs hub-padding-left p-r-15 p-l-20-sm p-r-20-sm">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <hr class="hr-2px m-t-0 m-b-0 margin-review">
                        </div>
						<div ng-if="disabledCardDIV">
							<div class="col-xs-12 padding-top-large-blade padding-horizontal-medium-xs no-padding d-flex">
								<div class="text-center p-l-0">
									<div class="glueRadio-container mt-1">
										<input disabled type="radio" id="radio1" name="radio">
										<label for="radio1"></label>
										<div class="check">
										</div>
									</div>
								</div>
								<div>
									<span class="sprite mob-visa-icon-disabled"></span>
								</div>
								<div class="col-xs-8 col-sm-9 padding-bottom-large-blade p-r-0">
									<span class="body-copy-description font-size-bodycopy font-style-error ">Lisa’s Sapphire Card</span>
									<p class="legal text-red">Sorry, we can't accept payments made with this card. Please use a different payment method.</p>
								</div>
								<div class="col-xs-3 col-sm-2 p-l-0 p-r-0 text-right">
									<span class="body-copy-description font-size-bodycopy">****8732</span>
								</div>
								<div class="delete-icon text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10" ng-hide="!disabledCard">
									<img class="cursor-pointer outline" src="./img/delete-icon.PNG"  ng-click="delete(4)"/>
								</div> 
							</div>
							<div class="col-xs-12 padding-bottom-large-blade padding-horizontal-medium-xs no-padding text-right" ng-hide="disabledCard">
                                <span class="legal color-6a p-t-10 padding-horizontal-medium">Remove method?</span>
                                <button class="btn btn-primary PrimaryCTAAccent glueButton glueButtonPrimary" ripple ng-click="remove(4)">Yes</button>
                                <button class="btn btn-secondary SecondaryCTAAccent glueButton glueButtonSecondary m-l-12" ripple ng-click="delete(4)">No</button>
                            </div>
						</div>
                        <div ng-if="bankDiv">
                            <div class="col-xs-12 padding-top-large-blade padding-horizontal-medium-xs border-top no-padding d-flex">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input type="radio" id="radio2" name="radio">
                                        <label for="radio2"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img class="pull-left body-copy-description-bold font-size-bodycopy text-black bank-icon" src="./img/bank.png" />
                                </div>
                                <div class="col-xs-8 col-sm-9 padding-bottom-large-blade p-r-0">
                                    <span class="body-copy-description font-size-bodycopy black">JP Morgan Bank</span>
                                </div>
                                <div class="col-xs-3 col-sm-2 p-l-0 p-r-0 text-right">
                                    <span class="body-copy-description font-size-bodycopy">****2617</span>
                                </div>
                                <div class="delete-icon text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10" ng-hide="!bank">
                                <img class="cursor-pointer outline" src="./img/delete-icon.PNG" ng-click="delete(0)"/>
                            </div> 
                            </div>
                            <div class="col-xs-12 padding-bottom-large-blade padding-horizontal-medium-xs no-padding text-right" ng-hide="bank">
                                <span class="legal color-6a p-t-10 padding-horizontal-medium">Remove method?</span>
                                <button class="btn btn-primary PrimaryCTAAccent glueButton glueButtonPrimary" ripple ng-click="remove(0)">Yes</button>
                                <button class="btn btn-secondary SecondaryCTAAccent glueButton glueButtonSecondary m-l-12" ripple ng-click="delete(0)">No</button>
                            </div>
                        </div>
                        <div ng-if="amexDiv">
                            <div class="col-xs-12 padding-top-large-blade padding-horizontal-medium-xs border-top no-padding d-flex">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input type="radio" id="radio3" name="radio">
                                        <label for="radio3"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="sprite mob-amex-icon"></span>
                                </div>
                                <div class="col-xs-8 col-sm-9 padding-bottom-large-blade p-r-0">
                                    <span class="body-copy-description font-size-bodycopy black">Jane's Amex</span>
                                </div>
                                <div class="col-xs-3 col-sm-2 p-l-0 p-r-0 text-right">
                                    <span class="body-copy-description font-size-bodycopy">****4412</span>
                                </div>
                                 <div class="delete-icon text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10" ng-hide="!amex">
                                <img class="cursor-pointer outline" src="./img/delete-icon.PNG" ng-click="delete(1)"/>
                            </div> 
                            </div>
                            <div class="col-xs-12 padding-bottom-large-blade padding-horizontal-medium-xs no-padding text-right" ng-hide="amex">
                                <span class="legal color-6a p-t-10 padding-horizontal-medium">Remove method?</span>
                                <button class="btn btn-primary PrimaryCTAAccent glueButton glueButtonPrimary" ripple ng-click="remove(1)">Yes</button>
                                <button class="btn btn-secondary SecondaryCTAAccent glueButton glueButtonSecondary m-l-12" ripple ng-click="delete(1)">No</button>
                            </div>
                        </div>
                        <div ng-if="discoverDiv">
                            <div class="col-xs-12 padding-top-large-blade padding-horizontal-medium-xs border-top no-padding d-flex">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input type="radio" id="radio4" name="radio">
                                        <label for="radio4"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="sprite mob-discover-icon"></span>
                                </div>
                                <div class="col-xs-8 col-sm-9 padding-bottom-large-blade p-r-0">
                                    <span class="body-copy-description font-size-bodycopy black">Discover Credit Card</span>
                                </div>
                                <div class="col-xs-3 col-sm-2 p-l-0 p-r-0 text-right">
                                    <span class="body-copy-description font-size-bodycopy">****1155</span>
                                </div>
                                 <div class="delete-icon text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10" ng-hide="!discover">
                                <img class="cursor-pointer outline" src="./img/delete-icon.PNG" ng-click="delete(2)"/>
                            </div> 
                            </div>
                            <div class="col-xs-12 padding-bottom-large-blade padding-horizontal-medium-xs no-padding text-right" ng-hide="discover">
                                <span class="legal color-6a p-t-10 padding-horizontal-medium">Remove method?</span>
                                <button class="btn btn-primary PrimaryCTAAccent glueButton glueButtonPrimary" ripple ng-click="remove(2)">Yes</button>
                                <button class="btn btn-secondary SecondaryCTAAccent glueButton glueButtonSecondary m-l-12" ripple ng-click="delete(2)">No</button>
                            </div>
                        </div>
                        <div ng-if="masterDiv">
                            <div class="col-xs-12 padding-top-large-blade padding-horizontal-medium-xs border-top no-padding d-flex">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input type="radio" id="radio5" name="radio">
                                        <label for="radio5"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="sprite mob-master-icon"></span>
                                </div>
                                <div class="col-xs-8 col-sm-9 padding-bottom-large-blade p-r-0">
                                    <span class="body-copy-description font-size-bodycopy black">Roommates Billing Card</span>
                                </div>
                                <div class="col-xs-3 col-sm-2 p-l-0 p-r-0 text-right">
                                    <span class="body-copy-description font-size-bodycopy">****1251</span>
                                </div>
                                <div class="delete-icon text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10" ng-hide="!master">
                                <img class="cursor-pointer outline" src="./img/delete-icon.PNG" ng-click="delete(3)"/>
                            </div> 
                            </div>
                            <div class="col-xs-12 padding-bottom-large-blade padding-horizontal-medium-xs no-padding text-right" ng-hide="master">
                                <span class="legal color-6a p-t-10 padding-horizontal-medium">Remove method?</span>
                                <button class="btn btn-primary PrimaryCTAAccent glueButton glueButtonPrimary" ripple ng-click="remove(3)">Yes</button>
                                <button class="btn btn-secondary SecondaryCTAAccent glueButton glueButtonSecondary m-l-12" ripple ng-click="delete(3)">No</button>
                            </div>
                            </div>
                            <div class="col-xs-12 no-padding">
                                <hr class="hr-2px m-t-0 m-b-0 margin-review">
                            </div>
                            <div class="col-xs-12 padding-top-large-blade padding-horizontal-medium-xs no-padding d-flex cursor-pointer">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input type="radio" id="radio6" name="radio" checked>
                                        <label for="radio6"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="sprite mob-visa-icon"></span>
                                </div>
                                <div class="col-xs-7 col-sm-8 col-md-9 padding-bottom-large-blade p-r-0">
                                    <span class="body-copy-description font-size-bodycopy black">Visa Credit Card</span>
                                    <p class="legal">One-time payment</p>
                                </div>
                                <div class="col-xs-3 col-sm-2 p-r-0 p-l-0 text-right">
                                    <span class="body-copy-description font-size-bodycopy">****8855</span>
                                </div>
                                 <div class="arrow-right text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10">
                         <img class="cursor-pointer" src="./img/arrow-right.PNG"/>
                             </div>
                            </div>
                            <div class="col-xs-12 padding-top-large-blade padding-top-medium-xs padding-horizontal-medium-xs border-top no-padding d-flex">
                                <div class="col-xs-10 padding-bottom-large-blade p-l-0">
                                    <p class="body-copy-description-bold font-size-bodycopy black p-l-6">Add a bank</p>
                                </div>
                               <div class="col-xs-2 no-padding">
                            <div class="arrow-right pull-right text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10">
                         <img class="cursor-pointer" src="./img/arrow-right.PNG"/>
                             </div>
                                </div>
                            </div>
                            <div class="col-xs-12 padding-top-large-blade padding-top-medium-xs padding-horizontal-medium-xs border-top border-bottom no-padding d-flex">
                                <div class="col-xs-10 p-l-0">
                                    <p class="body-copy-description-bold font-size-bodycopy black p-l-6 padding-bottom-large-blade">Add a card</p>
                                </div>
                                <div class="col-xs-2 no-padding">
                            <div class="arrow-right pull-right text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10">
                         <img class="cursor-pointer" src="./img/arrow-right.PNG"/>
                             </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-vertical-xxl padding-top-xl-xs padding-bottom-medium-xs">
                            <div class=" col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right">
                                <button class="btn btn-primary PrimaryCTA button-title glueButton button-width pull-left glueButtonPrimary" ripple>Select
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-offset-2 col-sm-4 pull-left">
                                <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right glueButtonSecondary" ripple>Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dependencies -->
        <script src="js/core/angular.min.js"></script>
        <script src="js/core/angular-animate.min.js"></script>
        <script src="js/core/angular-aria.min.js"></script>
        <script src="js/core/angular-cookies.min.js"></script>
        <script src="js/core/angular-loader.min.js"></script>
        <script src="js/core/angular-messages.min.js"></script>
        <script src="js/core/angular-message-format.min.js"></script>
        <script src="js/core/angular-sanitize.min.js"></script>
        <script src="js/core/angular-touch.min.js"></script>
        <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
        <script src="js/app.js"></script>
        <script src="js/ripple.js"></script>
        <!-- Custom scripts -->
</body>

</html>