<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPM BBPM Card</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/select-payment-method.css">

</head>

<body>
    <div role="document" class="editBorder-hub div_shadow m-t-50-sm bg-white" ng-controller="spmbbpmCtrl" ng-cloak>
        <div class="payment-content ">
            <div class="text-center">
                <div class="col-xs-12 p-veritical-32-sm p-t-40-xs p-b-24-xs">
                    <div class="no-margin title-payment">Select Payment method</div>
                </div>
            </div>
            <div class="p-0-xs hub-padding-left-spm-bbpm p-r-15 p-l-20-sm p-r-20-sm">
                <div class="container-fluid">
                    <div class="row position-mobile">
                        <div>
                            <hr class="hr-2px m-t-0 m-b-0 margin-review">
                        </div>
                        <div ng-if="visaDiv">
                            <div class="col-xs-12 padding-top-large-blade p-t-16-xs padding-horizontal-medium-xs no-padding d-flex">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input disabled type="radio" id="radio1" name="radio">
                                        <label for="radio1"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="sprite mob-visa-icon-disabled"></span>
                                </div>
                                <div class="col-xs-10 col-sm-11 padding-bottom-large-blade p-b-16 p-r-0">
                                    <span class="body-copy-description font-size-bodycopy font-style-error ">****2617</span>
                                    <p class=" text-error legal-desc">Sorry, we can't accept this card for scheduled payments. Please use a different payment method.</p>
                                </div>
                                <div class="delete-icon text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10" ng-hide="!visa">
                                <img class="cursor-pointer" src="./img/delete-icon.PNG" ng-click="delete(0)"/>
                            </div>
                            </div>
                            <div class="col-xs-12 padding-bottom-large-blade padding-horizontal-medium-xs no-padding text-right" ng-hide="visa">
                                <span class="legal color-6a p-t-10 padding-horizontal-medium">Remove method?</span>
                                <button class="btn btn-primary PrimaryCTAAccent glueButton glueButtonPrimary" ripple ng-click="remove(0)">Yes</button>
                                <button class="btn btn-secondary SecondaryCTAAccent glueButton glueButtonSecondary m-l-12" ripple ng-click="delete(0)">No</button>
                            </div>
                        </div>
                        <div ng-if="bankDiv">
                            <div class="col-xs-12 padding-top-large-blade p-t-16-xs padding-horizontal-medium-xs border-top no-padding d-flex">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input type="radio" id="radio2" name="radio" checked>
                                        <label for="radio2"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img class="pull-left body-copy-description-bold font-size-bodycopy text-black bank-icon" src="./img/bank.png" />
                                </div>
                                <div class="col-xs-10 col-sm-11 padding-bottom-large-blade p-b-16 p-r-0">
                                    <span class="body-copy-description font-size-bodycopy black">****8080</span>
                                </div>
                                <div class="delete-icon text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10" ng-hide="!bank">
                                <img class="cursor-pointer" src="./img/delete-icon.PNG"  ng-click="delete(1)"/>
                            </div>  
                            </div>
                            <div class="col-xs-12 padding-bottom-large-blade padding-horizontal-medium-xs no-padding text-right" ng-hide="bank">
                                <span class="legal color-6a p-t-10 padding-horizontal-medium">Remove method?</span>
                                <button class="btn btn-primary PrimaryCTAAccent glueButton glueButtonPrimary" ripple ng-click="remove(1)">Yes</button>
                                <button class="btn btn-secondary SecondaryCTAAccent glueButton glueButtonSecondary m-l-12" ripple ng-click="delete(1)">No</button>
                            </div>
                        </div>
                        <div>
                            <div class="col-xs-12 padding-top-large-blade p-t-16-xs padding-horizontal-medium-xs no-padding d-flex border-top">
                                <div class="text-center p-l-0">
                                    <div class="glueRadio-container mt-1">
                                        <input type="radio" id="radio3" name="radio" >
                                        <label for="radio3"></label>
                                        <div class="check">
                                        </div>
                                    </div>
                                </div>
<!--
                                <div>
                                    <span class="sprite mob-visa-icon-disabled"></span>
                                </div>
-->
                                <div class="col-xs-10 col-sm-11 padding-bottom-large-blade p-b-16 p-r-0 p-l-0">
                                    <span class="body-copy-description font-size-bodycopy black">Choose payment method later</span>
                                    <p class="legal">You must add a payment method or make a one-time payment before the installment due date(s).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 p-t-16 p-t-20 padding-top-medium-xs padding-horizontal-medium-xs border-top no-padding d-flex">
                            <div class="col-xs-10 col-md-10 col-sm-10 p-l-0">
                                <p class="body-copy-description-bold font-size-bodycopy black p-l-6 p-b-16 p-b-20">Add a bank</p>
                            </div>
                          <div class="col-xs-2 no-padding">
                            <div class="arrow-right pull-right text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10">
                         <img class="cursor-pointer" src="./img/arrow-right.PNG"/>
                             </div>
                                </div>
                        </div>
                            <div class="col-xs-12 p-t-16 p-t-20 padding-top-medium-xs padding-horizontal-medium-xs border-top border-bottom no-padding d-flex">
                                <div class="col-xs-10 col-md-10 col-sm-10 p-l-0">
                                    <p class="body-copy-description-bold font-size-bodycopy black p-l-6 p-b-16 p-b-20">Add a card</p>
                                </div>
                               <div class="col-xs-2 no-padding">
                            <div class="arrow-right pull-right text-center m-l-10-xs m-r-5-xs m-l-15 m-r-10">
                         <img class="cursor-pointer" src="./img/arrow-right.PNG"/>
                             </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-vertical-xxl padding-top-xl-xs padding-bottom-medium-xs">
                            <div class=" col-xs-12 col-sm-6 padding-bottom-medium-xs pull-right">
                                <button class="btn btn-primary PrimaryCTA button-title glueButton button-width pull-left glueButtonPrimary" ripple="">Select
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-offset-2 col-sm-4 pull-left">
                                <button class="btn btn-secondary SecondaryCTA button-title glueButton button-width pull-right glueButtonSecondary" ripple="">Back</button>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dependencies -->
        <script src="js/core/angular.min.js"></script>
        <script src="js/core/angular-animate.min.js"></script>
        <script src="js/core/angular-aria.min.js"></script>
        <script src="js/core/angular-cookies.min.js"></script>
        <script src="js/core/angular-loader.min.js"></script>
        <script src="js/core/angular-messages.min.js"></script>
        <script src="js/core/angular-message-format.min.js"></script>
        <script src="js/core/angular-sanitize.min.js"></script>
        <script src="js/core/angular-touch.min.js"></script>
        <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
        <script src="js/app.js"></script>
        <script src="js/ripple.js"></script>
        <!-- Custom scripts -->
</body>

</html>