/* tab section starts here */

.plp-widetab .nav-tabs > li > a,
.plp-widetab.nav-tabs > li > a,
.plp-widetab .nav-tabs > li > a:hover,
.plp-widetab.nav-tabs > li > a:hover,
.plp-widetab .nav-tabs > li > a:focus,
.plp-widetab.nav-tabs > li > a:focus {
	border-bottom: 2px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 20px;
}
.plp-widetab .tab-content {
    border-top: 2px solid #dddddd;
    margin-top: -9px;
}
.plp-widetab ul.nav-tabs-wrapper {
   background: none;
}
.plp-widetab ul.nav-tabs > li.active {
    z-index: 999;
}
/* tab section ends here */

/* media query starts */

@media (min-width: 320px) and (max-width: 442px) {
	.plp-widetab .nav-tabs > li > a,
	.plp-widetab.nav-tabs > li > a,
	.plp-widetab .nav-tabs > li > a:hover,
	.plp-widetab.nav-tabs > li > a:hover,
	.plp-widetab .nav-tabs > li > a:focus,
	.plp-widetab.nav-tabs > li > a:focus {
		height: 102px;
	}
}

 @media (min-width: 1140px) {
	.plp-widetab .tab-content {
		margin-top: -2px;
	}
}
.padding-vertical-xl-custom {
	padding-top: 15px;
	padding-bottom: 35px;
}
.paginate-custom{
margin: 20px 0;
margin-top: 20px;
margin-right: 0px;
margin-bottom: 0px!important;
margin-left: 0px;}
/* media query end */

.hr-1px
{
	border-top: 1px solid #E8E8E8;
}
.border-top-custom {
	border-top: 1px solid #dddddd;
	width: 172px!important;
}
.h3-title {
	font-size: 24px;
	line-height: 24px;
	font-family: Tele-Ult;
	letter-spacing: -0.1px !important;
	font-weight: normal;
  }
  .body-copy-description {
	font-size: 14px !important;
	line-height: 20px !important;
	font-family: Arial;
	letter-spacing: 0px;
	font-weight: normal;
  }
  .subhead {
	font-size: 11px !important;
	line-height: 24px;
	font-family: Arial;
	letter-spacing: 0.8px;
	font-weight: bold;
	text-transform: UPPERCASE;
  }

  .device-sim{
	font-family: Tele-Fet;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.18;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}



.dropdown .selector {
	font-size: 12px;
	color: #000000;
}
.dollar {

	font-family: Tele-Fet;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.38;
	letter-spacing: -0.1px;
	color: #E20074;
	
  }
  .layer {
	font-family: Tele-Fet;
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: -0.1px;
	color: #E20074;
	
  }
  .layer1 {
	font-family: Tele-Fet;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.38;
	letter-spacing: -0.1px;
	color: #E20074;
	
  }
  .price-lockup .cost-wrapper .cost-header {
    font-family: Arial, serif;
	font-weight: bold;
	font-size: 11px;
	line-height:16px;
	color: #E20074;
  }
  .fine-print-body {
	font-size: 11px !important;
	line-height: 16px;
	font-family: Arial;
	letter-spacing: 0px;
	font-weight: normal;
  }
  .green{
	  color:green;
  }
  .black{
	color:#000000;
}
.price-lockup .cost-wrapper li {
	/* display: inherit !important; */
}

.text-align-left {
	text-align:left !important;
}

.strike{
    position: relative;
}

.strike::after {
      content: '';
    border-bottom: 1px solid black;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 95%;
}
.cost-header-price{
	margin-top: -1.6rem !important;
}

.font-weight-500 {
	    font-weight: 500;
}