.h2-Uppercase{
		font-family: Tele-Fet;
		color: #000;
		font-size: 32px!important;
		line-height: 40px!important;
		letter-spacing: -0.1px;
}
/*
.close{
    display: none;
}
*/
.{
    border-radius: 0px;
    width: 288px;
    margin: 0px;
}
@media (max-width: 340px){
    .{
        width:257px;
    }
}
@media (max-width: 991px){
    .padding-top-15{
        padding-top: 15px;
    }
    .padding-bottom-subtitle {
        padding-bottom: 10px;
    }
	}
