<!DOCTYPE html>
<html lang="en" ng-app="app">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accessories PDP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/Common.less">
   <link rel="stylesheet/less" type="text/css" href="page-css/accessories-pdp.less">
 <!--<link rel="stylesheet/less" type="text/css" href="page-css/accessories-pdp-width.less">-->
</head>

<body class="bg-white">
    <div class=" text-center header-box-shadow fixed">
        <div class="container no-padding ">
            <div class="col-xs-4 col-md-4 col-lg-4">
                <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size"></i>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-center ">
                <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center" />
            </div>

            <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px;float:right">
                <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I2"></i>
            </div>
        </div>
    </div>
 
   <div class="container no-padding" ng-controller="accessoriesPdpCtrl"  >   
        <div class="row p-t-0-xs p-t-70 no-margin">
            
          
            <!-- Begin: Carousel Code, left content on Desktop-->
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 phone-carousel ie-pos-fix no-padding p-t-50 p-t-100-xs p-b-0-xs no-margin"  >
                <section id="carousel1" class="carousel-margin ie-carousel-fix">
                    
                    <!-- Carousel Begin-->
                    <div>
                        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">

                            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                               
                                <div>
                                    <img ng-src="{{slide.image}}" class="carosel-image-margin" >

                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                            <div class="promo-circle-wrapper " >
                                <div class="circle-promo wd-55-ht-55 promo-position">
                                    <span style="font-size: 12px;" class="promo-text">SPECIAL OFFER</span>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
            <!-- End Carousel Code-->

            <!-- Begin: Right content on Desktop-->
            <div class="col-xs-12  col-sm-5 p-l-25 myStyle_xs pull-right overlay p-t-50 p-t-0-xs p-l-60-lg p-l-60-md p-l-60-sm p-r-0-lg p-r-0-md p-r-0-sm " id="style" ng-style="myStyle" >
                <p class="h3-title h4-title-mobile text-black  ">Beats Solo3 Wireless On-Ear Headphones - Ultra Violet</p>
                <p class="text-magenta disc p-t-15">$15 Instant discount</p>
                <p class="p-t-5"><span class="font-18-14 fo-18-xs text-black  "><del>$2.08</del> $1.46</span><span class="fine-print-body-mos"> x 24 mos.</span></p>
                <p class="font-12-11 fo-14-xs text-black">$0 due today</p>
                <p class="price-month color-6a6a6a p-t-10-xs p-t-10">Total price
                    <del>$99.99</del> $89.99</p>
                <p class="fine-print-body color-9b9b9b p-t-15">If you cancel wireless service, remaining device balance of total is due. Finance agreement & qual’g service
                    req’d. 0% APR for well-qualified customers.</p>
                <!-- <p class="fine-print-body text-bold color-6a6a6a p-t-20-xs p-t-25">BACKORDERED</p>
                <p class="disc color-6a6a6a">Est. ship date: 09/25/17 - 10/08/17</p> -->
                <div class="margin-left-button  p-t-35 p-r-0-xs p-b-30-xs p-b-50">
                    <md-button class="PrimaryCTA-Normal-accessories-pdp m-r-0 btn-full m-l-0 m-t-3 pd-lt-14-i5">
                        <p class="agree tx-trans">Add to order</p>
                    </md-button>
                </div>
                <!-- <div class="col-xs-12 no-padding text-center p-t-20 p-b-30-xs p-b-50">
                    <a class="agree tx-trans fo-fet text-black noHover  ng-scope">Go back</a>
             </div> -->

 
                <div>
                    <hr class="hr-e8 m-t-0 m-b-0">
                </div>
                <p class="p-t-30-xs p-t-50 font-18 text-black">Overview</p>
                <ul class="lh-19-xs fo-14-xs co-4c col-xs-12 p-b-30-xs p-b-35 p-t-20-xs p-t-20">
                    <li>The award-winning sound and design you’ve come to love from Beats</li>
                    <li>Up to 40 hours of battery life for multi-day use</li>
                    <li>With Fast Fuel, 5 minutes of charging gives you 3 hours of playback when battery is low</li>
                    <li>Take calls, control your music and activate Siri with the multifunction on-ear controls</li>
                </ul>
                <p class="font-18 text-black">Specifications</p>
                <p class="body-copy-description p-t-20 text-bold co-4c">Warranty</p>
                <p class="lh-14 fo-14-xs p-t-5 co-4c">1 year limited warranty through Apple</p>
                <p class="body-copy-description p-t-20 text-bold co-4c">Weight</p>
                <p class="lh-14 fo-14-xs p-t-5 co-4c">7.5 ounces</p>
                <p class="body-copy-description p-t-20 text-bold co-4c">Dimensions</p>
                <p class="lh-14 fo-14-xs p-t-5 co-4c">7.8 inches</p>
                <p class="body-copy-description p-t-20 text-bold co-4c">In the box</p>
                <p  class=" fo-14-xs lh-19-xs p-t-5 co-4c p-b-35-xs p-b-90">Beats Solo3 Wireless headphones, Carrying case, 3.5mm RemoteTalk cable, Micro USB Charger Cable, Quick Start
                    Guide and Warranty card</p>
            </div>
            <!-- End Reight content on Desktop-->

        </div>

    </div>


    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/core/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>

</html>