<!DOCTYPE html>
<html lang="en" ng-app="app" class="bg-white">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accessories Pay Monthly</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/Common.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/accessories.less">
</head>

<body class="bg-white">
    <div class=" text-center header-box-shadow">
        <div class="container no-padding ">
            <div class="col-xs-4 col-md-3 col-lg-4 col-md-offset-1 col-lg-offset-1">
                <i class="pull-left ico-backArrowIcon2 backArrowLarge header-size"></i>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-2 text-center ">
                <img src="img/tmo-logo.png" id="Img1" class="tmo-icon-size text-center" />
            </div>

            <div class="col-xs-4 col-md-2 col-lg-3 col-md-offset-1 col-lg-offset-1" style="padding-right:8px">
                <i class="fa fa-phone fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true" id="I1"></i>
                <i class="fa fa-comments fa-phn-cmts pull-right  fa-phn-touch-area header-size" aria-hidden="true"
                   id="I2"></i>
            </div>
        </div>
    </div>
    <div class="container inputdemoErrors">
        <div class="content1">
            <div class="row p-t-30-xs p-t-40">
                <div class="col-xs-12 col-md-12 text-center">
                    <h5 class="h3-title h4-title-mobile  ">Protect your new phone!</h5>
                </div>
            </div>
            <div class="row p-t-20">
                <div class="col-xs-12 col-md-12 text-center ">
                    <h4 class="skip_style text-black"><a>Skip accessories</a></h4>
                </div>
            </div>
            <!--Begin: Slider/Carousel Code here -->
            <div class="row p-t-30 p-t-20-xs p-b-0-xs" ng-controller="accessoriesCarouselCtrl">
                <div class="col-xs-12 no-padding-xs  display-flex bg-f4">
                    <div class="col-xs-1 no-padding-xs col-xs-offset-0 col-sm-offset-1 col-sm-1 p-l-0-sm center-content">
                        <md-button  aria-label="Move to Previous" ng-click="moveToPrevious()" class="md-icon-button leftbutton">
                            <i class="fa fa-chevron-left pull-left-xs" aria-hidden="true"></i>
                        </md-button>
                    </div>
                    <div class="col-xs-3 col-sm-2 p-r-0-xs leftpadding center-content">
                        <span class="tag_10 text-bold text-black"> <i class="fa fa-tag" aria-hidden="true"></i> 10% off </span>
                    </div> 
                    <div class="col-xs-7 col-sm-6 p-t-15-xs p-r-5-xs p-b-15-xs center-content">
                      <span class="disc color-222222 lh-14">{{offerDataDesc }} <a ng-if=offerDataUrl href={{offerDataUrl}}> See full terms</a> </span>
                    </div>
                    <div class="col-xs-1 col-sm-1 no-padding-xs center-content p-l-25-lg">
                        <md-button  aria-label="Move to Next" ng-click="moveToNext()" class="md-icon-button rightbutton">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </md-button>
                    </div>
                </div>
            </div>
            <!--End: Slider/Carousel Code here -->

            <!--Start: Accessories Code -->
            <div ng-include="'html/phonelist.html'"></div>
            <!--End: Accessories Code -->
            <div class="pd-sc-monthly"></div>
        </div>

    </div>
        
    <!--Start: FOOTER Code -->
    <div ng-include="'html/footer-pay-monthly.html'"></div>
    <!--End: FOOTER Code -->
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/core/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>

</html>