﻿<!DOCTYPE html>
<html lang="en" ng-app="app">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Add Bank Account</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="page-css/Common.css">
    <link rel="stylesheet" type="text/css" href="page-css/Add_Bank_Acc.css">
    <link rel="stylesheet" type="text/css" href="page-css/angmd.css">
</head>

<body class="bg-grey">
    <div class="container" ng-controller="clearCntrl">
        <div class="col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-lg-10 col-lg-offset-1 no-padding content" set-height style="background:white;margin-top:2px">
        <div>
            <div class="cardcontent no-padding">
                
                    <form name="paymentForm" >
                        <div class="row m-l-0-xs m-r-0-xs p-t-15-xs p-t-35">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2 p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                    <p class="body-copy-highlight text-black padding-mobile padding-bottom-large">Add Bank Account</p>
                                    <md-input-container style="width: 100%; margin-bottom: 0px;">
                                        <label class="body-copy-description color-6a6a6a padding-mobile padding_label">Account Name</label>
                                        <input class="body-copy-description padding-mobile padding_name" type="text" tabindex="1" pattern="[a-zA-z\s]*" name="accountName" ng-model="payment.accountName" ng-model-options="{ allowInvalid: true}" clearinput />
                                        <md-placeholder class="padding-mobile"><span class ="p-l-5 placeholder-color">Account</span></md-placeholder>
                                         <div ng-messages="paymentForm.accountName.$error">
                                          <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid Name</div>
                                        </div>
                                        
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="row m-l-0-xs m-r-0-xs">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2 p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                    <md-input-container class="margin_0">
                                        <label class="body-copy-description color-6a6a6a padding-mobile padding_label">Routing Number</label>
                                        <input class="body-copy-description padding-mobile someInputdisplay" type="tel" numbervaluesonly tabindex="2" name="routingNumber" maxlength=9 pattern="^\d{9}$" ng-model="payment.routingNumber" ng-model-options="{ allowInvalid: true}" clearinput>
                                        <md-placeholder class="padding-mobile"><div class="width_65 p-l-5 placeholder-color">9 Digits</div></md-placeholder>
                                        
                                        <div ng-messages="paymentForm.routingNumber.$error">
                                            <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid routing number</div>
                                        </div>
                                        
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="row m-l-0-xs m-r-0-xs">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2 p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                    <md-input-container class="margin_0">
                                        <label class="body-copy-description color-6a6a6a padding-mobile padding_label">Account Number</label>
                                        <input class="body-copy-description padding-mobile someInputdisplay" type="tel" numbervaluesonly tabindex="3" maxlength=17 name="accountNumber" pattern="^\d{17}$" ng-model="payment.accountNumber" ng-model-options="{ allowInvalid: true}" clearinput>
                                        <md-placeholder class="padding-mobile"><div class="width_110 p-l-5 placeholder-color">Upto 17 Digits</div></md-placeholder>
                                         <div ng-messages="paymentForm.accountNumber.$error">
                                            <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid Account number</div>
                                        </div>
                                        
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="row  m-l-0-xs m-r-0-xs padding-top-large">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding padding-mobile">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2 p-l-0-xs p-l-10-md">
                                    <md-switch style="margin:0px;display:inline" aria-label="Checkbox No Ink" tabindex="4"  class="md-primary" md-no-ink>
                                    </md-switch>
                                    <span class="fine-print-body p-l-10 p-r-5">Save this payment of method</span><span ><i class="fa fa-info-circle iconCls-Saveinfo color-magenta" popover-trigger="'mouseenter'" uib-popover="This new card will remove the current Visa card ending in ****1234." popover-placement="bottom"></i></span>
                                </div>
                            </div>
                        </div>
                       
                    </form>
                </div>
                
            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-lg-10 col-lg-offset-1 no-padding" >
            <div class="col-xs-12 padding-vertical-xl  display-flex-nosm " style="background:white" >
                <div class="col-xs-6 col-lg-6 col-md-6  col-sm-6 no-padding p-r-5">
                    <md-button class="md-raised md-primary pull-right"  ng-click="openDialog1();">CTA1</md-button>
                </div>
                <div class="col-xs-6 col-lg-6 col-md-6  col-sm-6 no-padding p-l-5">
                    <md-button class="md-raised md-primary btn_bg pull-left" >CTA2</md-button>
                    
                </div>
            </div> 
        </div>
</div>
<script type="text/ng-template" id="acctModal.html">
    <md-dialog aria-label="Cvv/Cvc Number">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools no-padding" >                      
                    <div class="header_content col-xs-12 text-center p-r-0">Bank information</div>
                    <span flex></span>
                    <md-button class="md-icon-button close" ng-click="cancel()" md-autofocus>
                        <md-icon class="ico  ico-closeIcon" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content class="md-padding">
                    <div class="adjustWidth">
                        <div class="row">
                            <div class="col-xs-12 no-padding p-l-2-sm p-t-10">
                                <img src="img/checkModal@2x.png" class="img1 pull-left inline">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 p-t-35-xs p-b-35-xs p-t-40 p-b-25">
                                <div class="text-center ">
                                    <md-button class="md-raised md-primary" >CTA</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>
    </script>
    <script type="text/ng-template" id="modalCTA1.html">
        <md-dialog aria-label="CTA button click">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools no-padding">
                        <div class="header_content col-xs-12 text-center p-r-0" >Credit Card Information</div>
                        <span flex></span>
                        <md-button class="md-icon-button close" ng-click="cancel()"  md-autofocus>
                            <md-icon class="ico  ico-closeIcon" aria-label="Close dialog"></md-icon> 
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <md-content class="md-padding">
                        <div class="adjustWidth">                                            
                            <div class="row">
                                <div class="col-xs-12  p-t-40 text-center">
                                     <p class="body-copy-description">   This new bank account will remove the current 
                                        checking account  ending in ****1234.</p>
                                        <p class="body-copy-description color-6a6a6a p-t-15"> Are you sure you want to procced?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 p-t-35-xs p-b-35-xs p-t-50 p-b-25">
                                    <div class="text-center">
                                        <md-button class="md-raised md-primary" >CTA</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/core/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>
</html>
