﻿<!DOCTYPE html>
<html lang="en" ng-app="app">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Add Credit Card</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/Common.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/AddCreditCard.less">
    <link rel="stylesheet/less" type="text/css" href="page-css/angmd.less">
</head>

<body class="bg-grey">
    <div class="container" ng-controller="addCardctrl">
        <div class="col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-lg-10 col-lg-offset-1 no-padding content" set-height
            style="background:white;margin-top:2px">
            <div>
                <div class="cardcontent no-padding" >

                    <form name="paymentForm" >
                        <div class="row m-l-0-xs m-r-0-xs p-t-15-xs p-t-35">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                    <p class="body-copy-highlight text-black padding-mobile padding-bottom-large">Add Credit Card</p>
                                    <md-input-container class="m-b-0 width_100">
                                        <label class="body-copy-description  color-6a6a6a padding-mobile padding_label">Card holder</label>
                                        <input class="body-copy-description padding-mobile padding_name" type="text" tabindex="1" name="holderName" pattern="[a-zA-Z\s\-\.]*"
                                            ng-model-options="{ allowInvalid: true}" ng-model="payment.holderName" clearinput/>
                                        <md-placeholder class="padding-mobile"><span class="p-l-5 placeholder-color">Name</span></md-placeholder>
                                        <div ng-messages="paymentForm.holderName.$error">
                                            <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid Name</div>
                                        </div>

                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="row m-l-0-xs m-r-0-xs">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                    <md-input-container class="margin_0 ">
                                        <span class="pull-left padding-mobile">
                                            <img ng-src="{{cardimg}}" class="card_img " />
                                        </span>

                                        <label class="body-copy-description color-6a6a6a input_icon padding_label">Card Number</label>
                                        <!--uncomment this to change the card images, validation msgs and underline doesn't work-->
                                        <!-- <input type="tel" class="body-copy-description  padding-mobile card_num " numbervaluesonly tabindex="2" id="cardNum" name="cardNumber" pattern="(\d{4} *\d{4} *\d{4} *\d{4})" maxlength="{{max_length}}" cardvalidn  ng-model-options="{ allowInvalid: true}" ng-model="payment.cardNumber" clearinput format /> -->
                                        <!--card image doesnt change -->
                                            <input type="tel" class="body-copy-description  padding-mobile card_num  someInputdisplay"
                                             numbervaluesonly tabindex="2" id="cardNum" name="cardNumber"
                                              pattern="^(?:(\d{4} *\d{4} *\d{4} *\d{4})|(\d{4} *\d{4} *\d{4} *\d{3}))$" maxlength="19" 
                                                ng-model-options="{ allowInvalid: true}"
                                               ng-model="payment.cardNumber" cardvalidn clearinput  format/>

                                        <md-placeholder class="padding-mobile p-l-40-md plc_holder">
                                            <div class="width_65 p-l-5 p-l-0-xs placeholder-color">16 digits</div>
                                        </md-placeholder>
                                        <div ng-messages="paymentForm.cardNumber.$error" >
                                            <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid card number</div>

                                        </div>

                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="row m-l-0-xs m-r-0-xs">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0 p-r-10">
                                        <md-input-container class="margin_0">
                                            <label class="body-copy-description  color-6a6a6a padding-mobile padding_label">Exp.Date</label>
                                            <input type="tel" class="body-copy-description padding-mobile " numbervaluesonly tabindex="3" name="expDate" pattern="^(0?[1-9]|1[0-2])/(0?[12][0-9]|3[01])$"
                                                maxlength="5" ng-model-options="{ allowInvalid: true}" ng-model="payment.expDate"
                                                clearinput expiryformat />
                                            <md-placeholder class="padding-mobile"><span class="p-l-10 placeholder-color">MM/YY</span></md-placeholder>

                                        </md-input-container>
                                    </div>

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-0 p-r-5">
                                        <md-input-container class="margin_0">
                                            <label class="body-copy-description color-6a6a6a padding-mobile padding_label">CVV/CVC</label>
                                            <input type="tel" class="body-copy-description padding-mobile" numbervaluesonly tabindex="4" pattern="^\d{3}$" maxlength="3"
                                                name="cvv" ng-model-options="{ allowInvalid: true}" ng-model="payment.cvv" ng-init="checkModals"
                                                clearinput />
                                            <md-placeholder class="padding-mobile"><span class="p-l-10-xs p-l-5 placeholder-color">123</span></md-placeholder>


                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-l-5 p-r-0">
                                        <md-input-container class="margin_0">
                                            <label class="body-copy-description color-6a6a6a padding-mobile padding_label">ZIP Code</label>
                                            <input type="tel" class="body-copy-description padding-mobile" numbervaluesonly tabindex="5" name="cvv1" pattern="^\d{5}(?:[-\s]\d{4})?$" maxlength="5"
                                                ng-model-options=" { allowinvalid: true}" ng-model="payment.cvv1" clearinput
                                            />
                                            <md-placeholder class="padding-mobile">
                                                <div class="p-l-10 width_80 placeholder-color">ZIP Code</div>
                                            </md-placeholder>

                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 no-padding">
                            <div ng-show="paymentForm.expDate.$invalid  ||paymentForm.cvv.$invalid || paymentForm.cvv1.$invalid ">
                                <div class="exp_error error_cvv fine-print-body padding-mobile">Enter a valid exp. date, CVV and zip code</div>
                            </div>
                        </div>

                        <div class="row m-l-0-xs m-r-0-xs p-t-27 hide" ng-show="showbilling">
                            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding padding-mobile">
                                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-3_md p-r-30">
                                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary" ng-focus="hideIcon()" ng-change="chkbxFunc()">

                                    </md-checkbox>
                                    <div class="inline">
                                        <p class="body-copy-highlight">Use this billing address</p><br>
                                        <p class="fine-print-body color-6a6a6a">1234 main st.</p><br>
                                        <p class="fine-print-body color-6a6a6a">Suite001</p><br>
                                        <p class="fine-print-body color-6a6a6a">Bellevue, WA 00000</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-show="billing">
                            <div class="row m-l-0-xs m-r-0-xs ">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                    <div ng-show="showbilling">
                                        <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30 ">
                                            <hr class="hr-1px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-l-0-xs m-r-0-xs ">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding">
                                    <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                        <p class="body-copy-highlight p-b-15 padding-mobile">Add Billing Address</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-l-0-xs m-r-0-xs">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding">
                                    <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                        <md-input-container style="width: 100%; margin-bottom: 0px;">
                                            <label class="body-copy-description  color-6a6a6a padding-mobile padding_label">Address Line 1</label>
                                            <input class="body-copy-description padding-mobile padding_name" type="text" tabindex="6" name="address1" ng-model-options="{ allowInvalid: true}"
                                                ng-model="payment.address1" clearinput />
                                            <md-placeholder class="padding-mobile"><span class="p-l-5 placeholder-color">Address</span></md-placeholder>
                                            <div ng-messages="paymentForm.address1.$error">
                                                <div ng-message="required" class="fine-print-body padding-mobile">Enter a valid Address</div>
                                            </div>

                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-l-0-xs m-r-0-xs">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                    <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                        <md-input-container class="margin_0">
                                            <label class="body-copy-description  color-6a6a6a padding-mobile padding_label">Address Line 2</label>
                                            <input class="body-copy-description padding-mobile padding_name" type="text" tabindex="7" name="address2" ng-model-options="{ allowInvalid: true}"
                                                ng-model="payment.address2" clearinput />
                                            <md-placeholder class="padding-mobile"><span class="p-l-5 placeholder-color">Address</span></md-placeholder>
                                            <div ng-messages="paymentForm.address2.$error">
                                                <div ng-message="required" class="fine-print-body padding-mobile">Enter a valid Address</div>
                                            </div>

                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-l-0-xs m-r-0-xs">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                    <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                        <md-input-container class="margin_0">
                                            <label class="body-copy-description  color-6a6a6a padding-mobile padding_label">City</label>
                                            <input class="body-copy-description padding-mobile padding_name" type="text" tabindex="8" name="city" pattern="[a-zA-z]*" ng-model-options="{ allowInvalid: true}"
                                                ng-model="payment.city" clearinput />
                                            <md-placeholder class="padding-mobile"><span class="p-l-5 placeholder-color">City</span></md-placeholder>
                                            <div ng-messages="paymentForm.city.$error">
                                                <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid city</div>
                                            </div>

                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-l-0-xs m-r-0-xs">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding p-t-20">
                                    <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding p-r-5">
                                            <md-input-container class="margin_0">
                                                <label class="body-copy-description  color-6a6a6a padding-mobile padding_label">State</label>
                                                <input class="body-copy-description padding-mobile padding_name" type="text" tabindex="9" pattern="[a-zA-z]*" name="state" ng-change="onedit()"
                                                    ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue"
                                                    clearinput/>
                                                <md-placeholder class="padding-mobile"><span class="p-l-5 placeholder-color">State</span></md-placeholder>
                                                <div ng-messages="paymentForm.state.$error">
                                                    <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid state</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding p-l-5">
                                            <md-input-container s class="margin_0">
                                                <label class="body-copy-description color-6a6a6a padding-mobile padding_label">ZIP Code</label>
                                                <input type="tel" class="body-copy-description padding-mobile someInputdisplay" numbervaluesonly tabindex="10" name="zip" pattern="^\d{5}$" maxlength="5"
                                                    ng-model-options="{ allowInvalid: true}" ng-model="payment.zip" clearinput
                                                />
                                                <md-placeholder class="padding-mobile">
                                                    <div class="p-l-10 width_70 placeholder-color">ZIP Code</div>
                                                </md-placeholder>
                                                <div ng-messages="paymentForm.zip.$error">
                                                    <div ng-message="pattern" class="fine-print-body padding-mobile">Enter a valid ZIP code</div>
                                                </div>

                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-l-0-xs m-r-0-xs">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding">
                                    <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2  p-r-0-xs p-l-0-xs p-l-10 p-r-30">
                                        <hr class="hr-2px" />
                                    </div>
                                </div>
                            </div>
                            <div class="row  m-l-0-xs m-r-0-xs p-t-75-xs">
                                <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 no-padding padding-mobile">
                                    <!--<div class="col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2 p-l-10-md p-l-0-xs">-->
                                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2 p-l-10-md p-l-0-xs">
                                        <md-switch style="margin:0px;display:inline" aria-label="Checkbox No Ink" ng-focus="hideIcon()" class="md-primary" md-no-ink>
                                        </md-switch>
                                        <span class="fine-print-body p-l-10 p-r-5">Save this payment of method</span>
                                        <span>
                                            <i class="fa fa-info-circle iconCls-Saveinfo magenta " popover-trigger="'mouseenter'" uib-popover="This new card will remove the current Visa card ending in ****1234." popover-placement="bottom"></i>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>

            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-lg-10 col-lg-offset-1 no-padding">
            <div class="col-xs-12 padding-vertical-xl  display-flex-nosm " style="background:white">
                <div class="col-xs-6 col-lg-6 col-md-6  col-sm-6 no-padding p-r-5">
                    <md-button class="md-raised md-primary pull-right" ng-click="openDialog();">CTA1</md-button>
                </div>
                <div class="col-xs-6 col-lg-6 col-md-6  col-sm-6 no-padding p-l-5">
                    <md-button class="md-raised md-primary btn_bg pull-left">CTA2</md-button>
                </div>
            </div>
        </div>

    </div>
    <script type="text/ng-template" id="modal1.html">
        <md-dialog aria-label="Cvv/Cvc Number">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools no-padding">
                        <div class="col-xs-12 text-center header_content p-r-0">CVV/CVC Number</div>
                        <span flex></span>
                        <md-button class="md-icon-button close" ng-click="cancel()"  md-autofocus>
                            <!--<md-icon class="ico ico-closeIcon sprite_close"></<md-icon>-->
                            <md-icon class="ico  ico-closeIcon" aria-label="Close dialog"></md-icon>

                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <md-content class="md-padding">
                        <div class="adjustWidth">
                            <div class="row p-t-35">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 margin_auto no-padding p-l-2-sm">
                                    <img src="img/visaCard.png" />
                                    <img src="img/masterCard.png" />
                                    <img src="img/discoverCard.png" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 no-padding p-l-2-sm p-t-10">
                                    <img src="img/visaCardModal.png" class="img pull-left inline">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 p-t-35-xs p-b-35-xs p-t-40 p-b-25">
                                    <div class="text-center">
                                        <md-button class="md-raised md-primary" >CTA</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>

    <script type="text/ng-template" id="modal2.html">
        <md-dialog aria-label="Cvv/Cvc Number">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools no-padding">
                        <div class=" col-xs-12 text-center header_content p-r-0 ">CVV/CVC Number</div>
                        <span flex></span>
                        <md-button class="md-icon-button close" ng-click="cancel()"  md-autofocus>
                            <md-icon class="ico  ico-closeIcon" aria-label="Close dialog"></md-icon>
                        </md-button>

                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <md-content class="md-padding">
                        <div class="adjustWidth">
                            <div class="row p-t-35">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 margin_auto no-padding p-l-2-sm">
                                    <img src="img/americanExpressCard.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 no-padding p-l-2-sm p-t-10">
                                    <img src="img/americanExpressModal.png" class="img  pull-left inline">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 p-t-35-xs p-b-35-xs p-t-40 p-b-25">
                                    <div class="text-center">
                                        <md-button class="md-raised md-primary" >CTA</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>

    <script type="text/ng-template" id="modal3.html">
        <md-dialog aria-label="Cvv/Cvc Number">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools no-padding">
                        <div class="header_content col-xs-12 text-center p-r-0">CVV/CVC Number</div>
                        <span flex></span>
                        <md-button class="md-icon-button close" ng-click="cancel()"  md-autofocus>
                            <md-icon class="ico  ico-closeIcon" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <md-content class="md-padding">
                        <div class="adjustWidth">
                            <div class="row p-t-35">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                    <img src="img/dualCardsModal@3x.png" class="img_c8c pull-left inline">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 p-t-35-xs p-b-35-xs p-t-40 p-b-25">
                                    <div class="text-center">
                                        <md-button class="md-raised md-primary" >CTA</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="modal4.html">
        <md-dialog aria-label="CTA button click">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools no-padding">
                        <div class="col-xs-12 text-center header_content p-r-0" >Credit Card Information</div>
                        <span flex></span>
                        <md-button class="md-icon-button close" ng-click="cancel()"  md-autofocus>
                            <md-icon class="ico  ico-closeIcon" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <md-content class="md-padding">
                        <div class="adjustWidth">
                            <div class="row">
                                <div class="col-xs-12  p-t-40 text-center">
                                    <p class="body-copy-description"> This new card will remove the current Visa card ending in ****1234.</p>
                                    <p class="body-copy-description color-6a6a6a p-t-15"> Are you sure you want to procced?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 p-t-35-xs p-b-35-xs p-t-50 p-b-25">
                                    <div class="text-center">
                                        <md-button class="md-raised md-primary" >CTA</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/core/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>

</html>