.placeholder-color {
  color: rgba(0, 0, 0, 0.3) !important;
}
md-input-container .md-input {
  padding-right: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-input-placeholder {
  color: #FFFFFF;
}
input[type="number"]:focus::-webkit-input-placeholder {
  color: gray;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
}
.btn-full {
  width: 100%;
}
.margin-0 {
  margin: 0px;
}
.color-magenta {
  color: #e20074 !important;
}
input[type="text"]:hover,
input[type="number"]:hover {
  border-bottom: 2px solid #e20074;
}
input[type="text"]:focus,
input[type="number"]:focus {
  border-bottom: 2px solid #e20074;
}
.border-red {
  border-bottom: 2px solid red !important;
}
.color-red {
  color: red;
}
.font-14 {
  font-size: 14px;
}
.p-t-7 {
  padding-top: 7px;
}
/*@media @smallDevices{
    .p-t-75-xs{
        padding-top:75px;
    }
}*/
md-input-container md-placeholder,
md-input-container.md-input-focused.md-input-has-value md-placeholder {
  display: none;
}
md-input-container.md-input-focused md-placeholder {
  position: absolute;
  right: 87%;
  top: 20%;
  display: inline-table;
}
md-input-container.md-input-focused:not(md-input-has-value) md-placeholder {
  color: #6a6a6a;
}
md-input-container .md-input-message-animation {
  color: #E8200D;
}
.fa-times-circle {
  color: #5A5A5A !important;
  font-size: 13px !important;
}
.display-flex-nosm {
  display: flex;
}
.uib-popover {
  left: 90px !important;
}
@media only screen and (max-width: 767px) {
  .p-t-75-xs {
    padding-top: 75px;
  }
  .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .padding-mobile {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .margin-mobile {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .md-input-container {
    padding: 0px !important;
  }
  .padding_name {
    padding-right: 35px!important;
  }
}
.width_110 {
  width: 110px;
}
@media only screen and (min-width: 768px) {
  .padding_name {
    padding-right: 20px!important;
  }
}
md-icon {
  height: 14px !important;
  width: 14px !important;
  min-height: 14px !important;
  min-width: 14px !important;
}
.close {
  position: static;
}
.someInputdisplay::-ms-clear {
  display: none; 
  width:0; 
  height:0;
}