md-input-container .md-input.ng-invalid.ng-dirty.card_num,
md-input-container .md-input.ng-valid.card_num {
  padding-left: 45px;
}
.magenta {
  color: #E20074 !important;
}
.placeholder-color {
  color: rgba(0, 0, 0, 0.3) !important;
}
.input {
  border: 0px;
  border-bottom: 2px solid #dddddd;
  width: 100%;
  outline: none;
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}
.color-magenta {
  color: #e20074 !important;
}
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}
md-input-container .md-input-message-animation:not(.ng-animate) {
  margin-top: 0px;
  opacity: 1;
}
.color-red {
  color: #dd2c00;
}
.card_img {
  padding-top: 5px;
  position: absolute;
  width: 35px;
  margin-top: 0px;
}
.p-t-7 {
  padding-top: 7px;
}
md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
  background-color: #E20074 !important;
}
md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon {
  border-color: #E20074 !important;
}
.cardcontent {
  border: 0px;
  background-color: #FFFFFF;
}
.bg-grey {
  background-color: #F8F8F8;
}
md-checkbox:last-of-type {
  margin-left: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
/*@media @smallDevices {
    md-checkbox:last-of-type {
        margin-left: @zero ~'!important';
    }
    .input_icon{
    padding-left:60px !important;
}
    .exp_error{
    margin-left:@zero ~'!important';
}
    md-checkbox .md-container{
        padding-bottom: 41px !important;
}
  
}*/
/*@media @allExceptMobile{
    .input_icon {
        padding-left: 50px  !important;
    }
    md-input-container.md-input-focused label.input_icon,
md-input-container.md-input-has-value label.input_icon
 {
 padding-left:@zero ~'!important';
}
md-input-container:not(.md-input-invalid).md-input-focused label.input_icon {
  padding-left: @zero ~'!important';
}
}*/
.hr-2px {
  border: 2px solid #cccccc;
}
.width_100 {
  width: 100%;
}
.p-t-27 {
  padding-top: 27px;
}
.p-l-40 {
  padding-left: 40px !important;
}
hr {
  margin-top: 20px;
  margin-bottom: 17px;
}
.hr-2px {
  margin-top: 40px;
  margin-bottom: 25px;
}
md-input-container md-placeholder,
md-input-container.md-input-focused.md-input-has-value md-placeholder {
  display: none;
}
md-input-container.md-input-focused md-placeholder {
  position: absolute;
  right: 35%;
  top: 20%;
  display: inline-table;
}
md-input-container.md-input-focused:not(md-input-has-value) md-placeholder {
  color: #6a6a6a;
}
p {
  display: inline-block;
}
md-checkbox {
  display: inline;
}
md-checkbox .md-container {
  padding-bottom: 46px;
  position: static;
}
.exp_error {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  padding-top: 5px;
  color: #dd2c00;
  margin-bottom: 10px;
  margin-top: -20px;
  margin-left: -15px;
}
.select_cls {
  border: none;
  height: 32px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
  padding: 0px;
}
.form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.12);
}
.plc_holder {
  padding-left: 40px;
}
.fa-times-circle {
  color: #5a5a5a !important;
  font-size: 13px !important;
}
.display-flex-nosm {
  display: flex;
}
.uib-popover {
  left: 90px !important;
}
@media only screen and (max-width: 767px) {
  md-checkbox:last-of-type {
    margin-left: 0px !important;
  }
  .input_icon {
    padding-left: 60px !important;
  }
  .exp_error {
    margin-left: 0px !important;
  }
  md-checkbox .md-container {
    padding-bottom: 41px !important;
  }
  .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .padding-mobile {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .margin-mobile {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .md-input-container {
    padding: 0px !important;
  }
  md-input-container .md-input.ng-invalid.ng-dirty.card_num,
  md-input-container .md-input.ng-valid.card_num {
    padding-left: 60px !important;
  }
  md-input-container.md-input-focused:not(md-input-has-value) md-placeholder.plc_holder {
    padding-left: 60px !important;
  }
  .padding_name {
    padding-right: 35px!important;
  }
}
@media only screen and (min-width: 768px) {
  .input_icon {
    padding-left: 50px  !important;
  }
  md-input-container.md-input-focused label.input_icon,
  md-input-container.md-input-has-value label.input_icon {
    padding-left: 0px !important;
  }
  md-input-container:not(.md-input-invalid).md-input-focused label.input_icon {
    padding-left: 0px !important;
  }
}
.p-l-2 {
  padding-left: 2px;
}
.p-l-4 {
  padding-left: 4px;
}

.p-l-3_md {
  padding-left: 3px;
}
.dropdown-menu {
  padding-top: 2px !important;
  max-height: 170px;
  overflow: auto;
  min-width: 100% !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: #e8e8e8;
  color: black;
}
.width_80 {
  width: 80px;
}
md-icon {
  height: 14px !important;
  width: 14px !important;
  min-height: 14px !important;
  min-width: 14px !important;
}
.close {
  position: static;
}
.someInputdisplay::-ms-clear {
  display: none; 
  width:0; 
  height:0;
}