.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}
md-input-container .md-input-message-animation:not(.md-char-counter) {
  outline: none;
}
/*CVV Modal*/
md-backdrop.md-opaque {
  opacity: 0.7;
  background-color: #000000;
}
md-toolbar:not(.md-menu-toolbar) {
  background: #000000;
  min-height: 28px;
  height: 28px;
}
md-dialog {
  width: 300px;
  border-radius: 3px;
  background: #000000;
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (max-width: 767px) {
  md-dialog {
    width: 280px;
  }
}
md-content {
  background-color: #FFFFFF;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.17);
  overflow: hidden;
}
.md-toolbar-tools {
  background: rgba(249, 249, 249, 0.3);
  height: 30px;
}
.md-toolbar-tools > .close.md-button {
  width: 27px !important;
  margin-right: 0px;
  margin-left: 0px;
  height: 20px !important;
  padding: 0px;
  margin-bottom: 12px;
  min-height: 14px;
}
.md-padding {
  padding-top: 0px;
}
.sprite_close {
  /*width: @size_14;
  height: @size_14;*/
  display: block;
  font-size: 26pt;
  /*min-height: @size_14;
    min-width: @size_14;*/
  position: relative;
  bottom: 8px;
  right: 3px;
}
.adjustWidth {
  width: 270px !important;
  margin: auto;
}
.header_content {
  font-family: Tele-Fet;
  font-size: 20px;
  letter-spacing: -0.1px;
  color: #FFFFFF;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .p-l-2-sm {
    padding-left: 2px;
  }
  .sprite_close {
    font-size: 27pt;
  }
}
.margin_auto {
  margin: 0px 50px;
}
.close {
  width: 14px !important;
  color: #FFFFFF;
  height: 14px !important;
  position: initial;
  font-weight: normal;
  margin-right: 2px;
}
.close:focus,
.close:hover {
  color: #FFFFFF;
  opacity: 1;
}
.img {
  width: 193px;
  height: 108px;
  margin: 0px 50px;
}
.img_c8c {
  width: 100%;
  height: 292px;
}
.m-l-7 {
  margin-left: 7px;
}
.butn1 {
  border-radius: 0rem !important;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px !important;
}
/*Cvv Modal ends*/
/*Account modal*/
.img1 {
  width: 285px;
  height: 156px;
  margin: 0px 5px;
}
@media only screen and (max-width: 767px) {
  .img1 {
    width: 265px;
    height: 156px;
    margin: 0px 15px;
  }
  .header_pd {
    padding-left: 60px !important;
  }
  .md-dialog-container {
	height:100% !important;
	overflow-y:hidden !important;
	}
}
.header_pd {
  padding-left: 70px;
}
.icon_size:focus {
  outline: none;
}
md-dialog {
  box-shadow: none;
  background: none;
}
md-toolbar:not(.md-menu-toolbar),
md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar),
md-dialog.md-default-theme,
md-dialog,
.md-toolbar-tools {
  background: none;
}
