#drpAgreementPage .body-copy-20 {
  font-size: 20px !important;
  line-height: 0px;
  font-family: Arial;
  letter-spacing: 0px;
  font-weight: normal;
}
#drpAgreementPage .black {
  color: #000 !important;
}
#drpAgreementPage .inset-divider {
  border-top: 2px solid #E8E8E8;
}
#drpAgreementPage .full-bleed-divider {
  border-top: 6px solid #E8E8E8;
}
#drpAgreementPage .inputbox {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid;
  outline: none;
}
#drpAgreementPage .inputbox-width {
  width: 197px;
}
#drpAgreementPage .inputbox1-width {
  width: 165.2px;
}
#drpAgreementPage .wordWrap {
  word-wrap: break-word;
}
#drpAgreementPage .Rectangle-1 {
  width: 100%;
  height: 355px;
  background-color: #efefef;
  border: 1px solid #979797;
}
#drpAgreementPage .center {
  top: 50%;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 767px) {
  #drpAgreementPage .Rectangle-1 {
    width: 100%;
    height: 586px;
    background-color: #efefef;
    border: 1px solid #979797;
  }
  #drpAgreementPage .row-xs {
    margin-right: -15px;
    margin-left: -15px;
  }
  #drpAgreementPage .inputbox-width {
    width: 167px;
  }
  #drpAgreementPage .inputbox1-width {
    width: 160.2px;
  }
  #drpAgreementPage .p-t-35-xs {
    padding-top: 35px;
  }
}
@media only screen and (min-width: 768px) {
  #drpAgreementPage .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  #drpAgreementPage .imgstyle {
    width: 256px;
    height: 74px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #drpAgreementPage .inputbox-width {
    width: 64%;
  }
  #drpAgreementPage .inputbox1-width {
    width: 74%;
  }
}
@media only screen and (max-width: 767px) {
  #drpAgreementPage .no-padding-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
  #drpAgreementPage .imgstyle {
    width: 134px;
    height: 41px;
  }
}
#drpAgreementPage .imgborder {
  border-top: 2px solid #E20074 !important;
  border-bottom: 2px solid #E20074 !important;
}
