<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>lazershark</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/core/angular-material.min.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet/less" type="text/css" href="page-css/lazershark.less">
</head>

<body ng-app="app" ng-controller="formCtrl" ng-cloak ng-class="!theme ? 'black-theme' : 'white-theme'" class="bg-black">
    <div class="container p-r-40 p-l-10" ng-init="onLoad()">
        <div class="row no-margin">
                <div class="col-xs-12">
            <div class="col-xs-12 col-sm-5 no-padding p-t-40-xs text-center-xs"  ng-if="showImage" ng-class="leftTemp ? 'pull-right-sm col-sm-offset-1' : 'pull-left-sm  p-r-16-sm'">
                <div class="table-container">
                    <div class="front-img" >
                        <img src="http://fpoimg.com/600x600" tabindex="{{leftTemp? 0 : 1}}" alt="image" aria-label="image" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 no-padding p-l-5-xs" ng-class="leftTemp ? 'pull-left-sm': 'col-sm-offset-1 pull-right-sm'">
                <form role="form" ng-class="{'col-sm-offset-1' : !leftTemp}" name="lazershark" novalidate>
                    <div class="form-container" ng-switch on="page" ng-class="{'forward': direction, 'backward':!direction}">
                        <div class="progress-bar-container">
                            <div class="row no-margin">
                                <div class="col-xs-12 col-sm-11 no-padding h1-heading color-white  p-t-40 px-18-sm px-26-md px-35-lg text-center-xs" ng-class="{'p-t-50-xs': !showImage}">
                                    <div ng-if="index!=4" id="pagetitle" tabindex="1" role="content" aria-label="{{stepHeading[index-1]}}">{{stepHeading[index-1]}}</div>
																	<div ng-if="!almostDone&&index==4" tabindex="1" aria-label="All done!">All done!</div>
																	<div ng-if="almostDone&&index==4" tabindex="1" aria-label="{{stepHeading[index-1]}}">{{stepHeading[index-1]}}</div>
															</div>
                                <div class="col-xs-12 col-sm-11 d-flex justify-content-between p-t-32-sm p-t-22-xs px-35-lg p-r-26-sm p-l-26-sm p-l-0-xs" >
                                    <p class="h3-heading text-bold color-white mb-0" tabindex="1" aria-label="{{stepTitle[index-1]}}">{{stepTitle[index-1]}}</p>
                                    <p class="text-bold color-white progress-number mb-0" tabindex="1" aria-label="on page {{index}} of {{pageArray.length}} pages">
                                        <span class="progress-active-number">{{index}}</span> / {{pageArray.length}} </p>
                                </div>
                            </div>
                            <div class="row no-margin px-18-sm px-26-md px-35-lg">
                                <div id="myProgress" class="col-xs-12 col-sm-11 m-t-9 no-padding m-b-16" ng-class="!theme ? 'bg-grey60' : 'bg-grey30'">
                                    <div id="myBar" ng-class="!theme ? 'bg-white' : 'bg-black'"></div>
                                </div>
                            </div>
                        </div>
                        <div class="step-container" ng-switch-default>
                            <div ng-include="'./html/prospect-form1.html'"></div>
                        </div>
                        <div class="step-container" ng-switch-when="form2">
                            <div ng-include="'./html/prospect-form2.html'"></div>
                        </div>
                        <div class="step-container" ng-switch-when="form3">
                            <div ng-include="'./html/prospect-form3.html'"></div>
                        </div>
                        <div class="step-container" ng-switch-when="form4">
                            <div ng-include="'./html/prospect-form4.html'"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/core/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/less.min.js"></script>
    <!-- Custom scripts -->
</body>

</html>
