@smallDevices: ~"only screen and (max-width: 767px)";
@tabDevices: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@laptops: ~"only screen and (min-width: 992px) and (max-width:1199px)";
@largeScreens: ~"only screen and (min-width: 1200px)";
@Alldeviceexceptsmartphone: ~"only screen and (min-width: 768px)";

@bottom-0:0; 
@left-0:0;
@transition-0:0.2s ease all;
@margin--16:-16px;
@color-e20074:#e20074;
@absolute:absolute;
@right-0per:0%;
@letter-spacing-0:0px;
@font-normal:normal;
@font-14:14px;
@lineHeight-20:20px;
@font-arial:Arial;
@border-0:0px;
@none:none;
@width-94per:94%;
@E8200D:#E8200D;
@clr_F8:#F8F8F8;
@clr_white:#FFFFFF;
@width_100:100%;
@auto:auto;
@zero:0px;
@clr_gray:gray;
@border_2:2px solid;
@clr_red:red;
@clr_6a:#6a6a6a;
@flex:flex;
@clr_5A:#5A5A5A;
@W_15:15px;
@inline-table:inline-table;
@placeholder-color:rgba(0,0,0,0.30);

.placeholder-color{
    color:@placeholder-color !important;
}
md-input-container .md-input{
    padding-right:@zero;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: @none;
}

input[type="number"]::-webkit-input-placeholder {
  color: @clr_white;
}

input[type="number"]:focus::-webkit-input-placeholder {
  color: @clr_gray;
  font-family:Arial;
  font-size:14px;
  line-height:20px;

}
  .btn-full{
      width:@width_100;
  }
  .margin-0{
      margin:@zero;
  }
.color-magenta{
    color:@color-e20074 ~'!important';
}

 input[type="text"]:hover,
  input[type="number"]:hover {
    border-bottom:@border_2 @color-e20074;
  }

  input[type="text"]:focus,
  input[type="number"]:focus {
    border-bottom:@border_2 @color-e20074;
  }
  .border-red{
      border-bottom:@border_2 @clr_red ~'!important';
  }
  .color-red{
      color:@clr_red;
  }

.font-14{
    font-size:14px;
}

.p-t-7{
    padding-top:7px;
}
/*@media @smallDevices{
    .p-t-75-xs{
        padding-top:75px;
    }
}*/

md-input-container md-placeholder,
md-input-container.md-input-focused.md-input-has-value md-placeholder{

    display:@none;
}
md-input-container.md-input-focused md-placeholder{
    position: @absolute;
    right: 87%;
    top: 20%;
    display:@inline-table;
}
md-input-container.md-input-focused:not(md-input-has-value) md-placeholder{
    color:@clr_6a;
}
md-input-container .md-input-message-animation {
    color:@E8200D;
}

.fa-times-circle
{
color: @clr_5A ~'!important';
font-size: 13px !important;
}


  .display-flex-nosm
  {
    display: @flex;
  
  }
  .uib-popover
  {
    left:90px !important;
  }

 
 @media @smallDevices{
   .p-t-75-xs{
        padding-top:75px;
    }
  .container
  {
      padding-left: @zero ~'!important';
      padding-right: @zero ~'!important';
  }
  .padding-mobile
  {
      padding-left: @W_15 ~'!important';
      padding-right: @W_15 ~'!important';
  }
  .margin-mobile
  {
      margin-left: @W_15 ~'!important';
      margin-right: @W_15 ~'!important';
  }
  .md-input-container
  {
      padding: @zero ~'!important';
  }
    .padding_name{
    padding-right:35px!important;
}
 }
.width_110{
      width:110px;
  }
  
  @media @Alldeviceexceptsmartphone{
      .padding_name{
    padding-right:20px!important;
}
  }
  md-icon
  {
      height: 14px !important;
      width: 14px !important;
      min-height: 14px !important;
      min-width: 14px !important;
  }
  .close {
     position: static;
}
.someInputdisplay::-ms-clear {
    display: none; 
    width:0; 
    height:0;
}