<div class="row">
    <div class="col-xs-12 no-padding d-flex justify-content-center flex-wrap p-t-10">
        <div class="div-details col-xs-12 col-sm-6 col-md-3 " ng-repeat="data in details">
            <div class="col-xs-12 no-padding">
                <div class="dark-hot-pink font-10 d-flex justify-content-between p-t-10">
                    <a class="float-left font-10" href="#"><span class="fa fa-clone p-r-5"></span>Duplicate</a>
                    <a class="float-right font-10" href="#"><span class="fa fa-edit p-r-5"></span>Edit</a>
                </div>
                <div class="image-details text-center p-b-14 p-t-5">
                    <img src={{data.imageURL}}>
                </div>
                <p class="font-12-xs font-14-md color-666666 text-center">{{data.name}}</p>
                <div class="p-t-6 text-center d-flex align-items-center justify-content-center">
                    <p class="color-box" ng-class="{'bg-f0d4d0': data.color === 'Defiant Red'}"></p> <span class="p-l-8 font-12-xs font-14-md">{{data.color}}</span>
                </div>
                <div class=" p-t-10 no-padding text-center" ng-class="{'col-xs-12 ': WithEIPCondition, 'col-xs-5 col-xs-offset-2': !WithEIPCondition, 'p-b-24': WithEIPCondition , 'p-b-36': !stockDetails }">
                    <p>
                        <span class="dark-hot-pink font-24 font-Tele text-bold" ng-if="WithEIPCondition">
                            <sup class="font-12-xs font-14-md">$</sup>{{data.price | priceFilter:'dollar'}}<sup class="font-12-xs font-14-md">{{data.price
                                | priceFilter: 'cent'}}</sup>

                        </span>
                        <span class="dark-hot-pink font-24 font-Tele text-bold" ng-if="!WithEIPCondition">
                            <sup class="font-12-xs font-14-md">$</sup>{{data.price1 | priceFilter: 'dollar'}}<sup class="font-12-xs font-14-md">{{data.price1
                                | priceFilter: 'cent'}}</sup>
                        </span>
                    </p>
                    <p class="text-center m-t--10">
                        <p class="dark-hot-pink text-bold font-11 p-t-10">Today</p>
                        <p class="dark-hot-pink font-10 m-t--7">+taxes and shipping.</p>
                    </p>
                </div>
                <div class="p-t-10  no-padding" ng-class="{'col-xs-12 ': WithEIPCondition, 'col-xs-5': !WithEIPCondition, 'p-b-36': !stockDetails }"
                    ng-if="!WithEIPCondition">
                    <p>
                        <span class="font-24 dark-hot-pink font-Tele text-bold">/
                            <span class="color-black font-24"><sup class="font-12-xs font-14-md">$</sup>{{data.price2 |
                                priceFilter:'dollar'}}<sup class="font-12-xs font-14-md">{{data.price2 |
                                    priceFilter:'cent'}}</span>
                        </span>
                    </p>
                    <div class="p-l-16 color-black m-l-10 m-t--10">
                        <p class="text-bold font-11 p-t-10 p-l-8">Today</p>
                        <p class="font-10 m-t--7">(x24 mos.)</p>
                    </div>
                </div>
                <div class=" col-xs-12 no-padding p-b-14" ng-if="!WithEIPCondition" ng-class="{'p-t-24 ' : stockDetails}">
                    <p class="font-8">{{data.content}}</p>
                </div>
                <div class="col-xs-12 no-padding" ng-if="stockDetails">
                    <div class="inset-divider-1px"></div>
                        <div class="p-t-16  font-12" ng-if="data.stock !== 'nostore'">
                            <p class="p-b-4">
                                <span class="kelly-green" ng-if="data.stock === 'instock'"><span class="fa fa-check icon-size font-12 p-r-5"></span>Instock</span>
                                <span class="kelly-green" ng-if="data.stock === 'fewleft'"><span class="fa fa-check icon-size font-12 p-r-5"></span>Only a few left</span>
                                <span class="color-black" ng-if="data.stock === 'outofstock'">Out of stock</span>
                                <span class="dark-hot-pink" ng-class="{'p-l-5 ': data.stock !== 'backorder'}">{{data.storeLocation}}</span>&nbsp;
                                <span class="color-9b9b9b whitespace-nowrap">{{data.distance}} miles</span>
                                </span>
                            </p>
                            <p class="color-black p-b-4 " ng-if="data.stock === 'backorder'">On back-order</p>
                            <p class="p-b-16">
                                <a class="dark-hot-pink d-flex align-items-center" href="#"> <span class="location-img">
                                        <img src="./img/location.png"></span>&nbsp;Change store Location</a>
                            </p>
                        </div>
                        <div class="p-t-16 font-12" ng-if="data.stock === 'nostore'">
                            <p class="color-black p-b-4">Nearby store unknown</p>
                            <p class="p-b-16">
                                <a class="dark-hot-pink d-flex align-items-center" href="#"> <span class="location-img">
                                        <img src="./img/location.png"></span>&nbsp;Enter a zip code or location</a>
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>