<div class="row">
    <div class="col-xs-12 m-t-50">
        <div class="liner"></div>
        <div ng-repeat="step in stepDetails" class="step" ng-style="stepWidth">
            <span tabindex="0" aria-label="step {{$index +1}} {{step.title}} {{step.state==''?'disabled':''}} {{step.state=='complete'?'completed':''}}"> <div class="step-circle" id="step{{$index}}" ng-class="{'step-circle-active':step.state=='active','step-circle-complete':step.state=='complete'}" ng-switch="step.state">
             <img ng-switch-default ng-src="{{step.icon}}" >
             <img ng-switch-when="active" ng-src="{{step.iconActive}}">
             <img ng-switch-when="complete" ng-src="{{stepCompleteIcon}}" >
             </div>
         <span class="d-inline-block p-t-8" ng-class="{'step-title-magenta':step.state=='active'|| step.state=='complete'}">{{step.title}}</span>
        </div>
        </span>
    </div>
</div>