<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accessories -Don't break the bank</title>
    <link rel="stylesheet" href="css/core/bootstrap.min.css">
    <link rel="stylesheet" href="css/core/font-awesome.min.css">
    <link rel="stylesheet" href="css/core/tmo-icons.css">
    <link rel="stylesheet" href="css/core/tmo-icons-extra.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="page-css/Common.css">
    <link rel="stylesheet" href="page-css/glue.css">
    <link rel="stylesheet" href="page-css/modal.css">
    <link rel="stylesheet" href="page-css/accessories-modal.css">
    
</head>

<body class="bg-white">

    <div ng-controller="modalCtrl" ng-cloak>
            <div class="row no-margin p-t-35">
                    <div class="col-xs-12 padding-horizontal-24-xs text-center">
                        <button class="btn btn-primary PrimaryCTA h-42 button-title button-line-height glueButton glueButtonPrimary custom-text-size btn-width" ripple value="true" ng-click="manymoreModal()">Modal
                        </button>
                    </div>
                </div>   
                           
       
        <div class="glueDialogContainer">
            <div class="glueDialog glueAnimationOut" ng-class="{'glueAnimationIn':visibleLCModal}">
                <div class="row no-margin">
                    <div class="col-xs-12 no-padding">
                        <button type="button" class="close pull-right glueAnimationOut" ng-class="{'glueAnimationIn':visibleAnimation}" ng-click="closeModal()">
                            <i class="icox ico-closeIcon" ng-if="visibleAnimation"></i>
                        </button>
                    </div>
                </div>
                
                <div class="row no-margin padding-bottom-small dialogPaddingLCModal scroll">
                    <div class="col-xs-12 no-padding">
                        <h4 class="h4-title text-black text-bold text-center">DON'T BREAK THE BANK!</h4>
                        <div class="padding-top-large padding-bottom-subtitle text-center">
                        <span class="body-copy-description-bold text-black font-italic">Pay monthly </span><span class="body-copy-description">for your phone's new accessories. Here's how</span>
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 body-copy-description-regular  text-black checkbox" ng-repeat="list in checkArray" ng-class="{'m-b-32':$last}">
                        <div class="row no-margin">
                
                            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 checkbox">
                                
                                    
                                        <div class="indicator"><i class="fa fa-check" aria-hidden="true"></i></div>
                                        <div class="body-copy-description label-copy">
                                            {{list}}
                                        </div>
                                
                            </div>
                        </div>
                      
                        </div>
                        <div class = "text-center p-b-32">
                        <button class="btn btn-primary PrimaryCTA h-42 button-title button-line-height glueButton glueButtonPrimary custom-text-size " ripple value="true">OK
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="glueOverlay" ng-click="closeModal()" ng-class="{'glueOverlayIn':visibleLCModal,'glueOverlayOut':!visibleLCModal}"></div>
    
    </div>
    <!-- Dependencies -->
    <script src="js/core/angular.min.js"></script>
    <script src="js/core/angular-animate.min.js"></script>
    <script src="js/core/angular-aria.min.js"></script>
    <script src="js/core/angular-cookies.min.js"></script>
    <script src="js/core/angular-loader.min.js"></script>
    <script src="js/core/angular-messages.min.js"></script>
    <script src="js/core/angular-message-format.min.js"></script>
    <script src="js/core/angular-sanitize.min.js"></script>
    <script src="js/core/angular-touch.min.js"></script>
    <script src="js/core/angular-route.min.js"></script>
    <script src="js/core/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ripple.js"></script>
    <!-- Custom scripts -->
</body>

</html>