/* Only Smartphones */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .username,
  .main-review {
    font-size: 14px;
    line-height: 17px;
  }
  .main-review {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: normal;
    color: #323232;
  }
  .p-r-5-xs {
    padding-right: 5px;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
  }

  .sub-heading {
    font-size: 16px;
    line-height: 22px;
  }

  .tabs {
    font-size: 14px;
    line-height: 17px;
  }
}
/* End Only Smartphones */

a.tabs:active,
a.tabs:hover,
a.tabs:focus {
  color: #e20074;
  text-decoration: none;
}

.heading {
  /*font-family: Tele-Fet, serif;*/
  font-size: 32px;
  line-height: 38px;
  color: #323232;
}

.sub-heading {
  font-family: Arial;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

.tabs {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #767676;
  display: inline-block;
}

.active-tab {
  color: #e20074;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .p-b-30-xs-custom {
    padding-bottom: 30px;
  }
}
.review .fa-star{   font-size: inherit;    padding-right: 3px;} 
.review .fa-star-o{   font-size: inherit;    padding-right: 3px;}

.fa-star{   font-size: 16px;} 
.fa-star-o{   font-size: 16px;}
.review-title {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #6a6a6a;
}

.review-date,
.from-country {
  font-family: Arial;
  font-size: 10px;
  line-height: 10px;
  color: #323232;
}
.username,
.main-review {
  font-family: Arial;
  font-size: 16px;
  line-height: 19px;
  color: #5a5a5a;
}

.font-bold {
  font-weight: bold;
}

.show-more {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.19;
  color: #e20074;
}

.helpful-count {
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
  color: #e20074;
}

.inset-divider-1px {
  border-top: 1px solid #d5d5d5;
}

.magenta {
  color: #e20074;
}

/* Pagination starts */
.cursor {
  cursor: pointer;
}
.pagination .page-link {
  position: relative;
  margin-left: 1px;
  color: #e20074;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 0px;
  padding-top: 6px;
}
.pagination .page-link:hover {
  padding-top: 5px;
  background: #ffffff;
  border: 1px solid #e20074;
  color: #e20074;
  border-radius: 20px;
  height: 30px;
  width: 30px;
}

.d-inline-block {
  display: inline-block;
}

.page-link:focus {
  box-shadow: none;
}
.page-link:active {
  color: #ffffff;
  text-decoration: none;
  border: none;
}
.page-item.active .page-link {
  z-index: 1;
  padding-top: 6px;
  color: #ffffff;
  border: 1px solid #e20074;
  background: #e20074;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-radius: 20px;
  height: 30px;
  width: 30px;
}
.page-item.active .page-link:hover {
  background: #e20074;
  border: 1px solid #e20074;
  color: #ffffff;
  border-radius: 20px;
  height: 30px;
  width: 30px;
}
.page-item .page-lin {
  position: relative;
  display: block;
  margin-left: 1px;
  color: #e20074;
  background-color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
}
.page-item .page-lin:hover {
  color: #000000;
  text-decoration: none;
}
.page-lin:focus {
  text-decoration: underline;
}
.page-lin:active {
  text-decoration: underline;
}

.Arrow {
  font-size: 14px;
  font-family: MONOSPACE;
}

.p-l-10 {
  padding-left: 10px;
}

.page-item .p-r-10 {
  padding-right: 10px;
}

@media(max-width:320px)
{
  .tabs {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-link {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 23px;
    }
  }
}
.page-item .width-20 {
  width: 20%;
}
.disabled {
  cursor: default;
  pointer-events: none;
  color: #9b9b9b !important;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  width: 100%;
}
.bold {
  font-weight: bold;
}
.font-32 {
  font-size: 32px;
}
.color-gray {
  color: #6a6a6a;
}
.body {
  font-size: 16px;
}
.font-10 {
  font-size: 10px;
}
.gray76 {
  color: #767676;
}
.active-tab {
  color: #e20074;
}
.link:focus,
a:focus {
  color: #e20074;
}
/* pagination ends */

/* common css starts */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-8 {
  padding-left: 8px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-t-7 {
  padding-top: 7px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-35 {
  padding-top: 35px;
}
@media (max-width: 767px) {
  .p-t-20-xs {
    padding-top: 20px;
  }
  .p-l-5-xs {
    padding-left: 5px;
  }
}
@media (min-width: 768px) {
  .p-t-4 {
    padding-top: 3px;
  }
  .p-r-8-sm {
    padding-right: 8px;
  }
  .p-t-5-sm {
    padding-top: 5px;
  }
}
.m-r-10 {
  margin-right: 10px;
}
.reviews-font {
  font-family: Arial;
  font-size: 14px; 
  line-height:15px;
}
.display-flex{display: flex;}
/* common css ends */
