/*pdp-features-css starts here */

.right-text-width {
        width: 80%;
}
.left-text ul li, 
.right-text ul li {
    list-style: disc;
}
.right-text ul li {
    font-weight: bold;
}
.star-big.icon i {
    font-size: 22px;
}
.star-big {
    line-height: 20px !important;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.write-text a i {
    font-size: 12px;
    position: relative;
    top: -3px;
}
.pdp-progress {
    height: 8px;
    position: relative;
    top: 2px;
    width: 100%;
}
.bar-color {
    background-color: #e20074;
    border-right: 1px solid #ffffff;    
}
.width-20 {
    width: 20%;
}
.width-15 {
    width: 15%;
}
.width-10 {
    width: 10%;
}
.width-17 {
    width: 17%;
}
.text-relative {
    position: relative;
    top: -3px;
}
.tab-height .nav-tabs > li > a, 
.tab-height.nav-tabs > li > a, 
.tab-height .nav-tabs > li > a:hover, 
.tab-height.nav-tabs > li > a:hover, 
.tab-height .nav-tabs > li > a:focus, 
.tab-height.nav-tabs > li > a:focus {
    height: 102px;
    padding: 3px 0;
}
.tab-height a .ico-gear-icon {
    line-height: 44px;
    position: relative;
    top: 9px;
}
.tab-height .star-rating {
    padding-bottom: 8px;
}
.p-b-111 {
    padding-bottom: 111px;
}

/*carousel-css starts here */

.carousel2a a.carousel-control.left, 
.carousel2a a.carousel-control.right {
    top: -150px;
}

.priceUp {
    width: 233px;
    margin: 0 auto;
}
ul li.cost {
    width: 70px;
}

/*carousel-css ends here */

/*pdp-features-css ends here */

/*top-section css starts here */

.full-width-image {
    width: 100%;
}

.phone-carousel .fa-angle-left,
.phone-carousel .fa-angle-right {
    font-size: 2em;
    top: 50%;
    margin-top: -22px;
}

.phone-carousel .carousel-indicators {
    bottom: -45px;
}

.font-size-14 {
    font-size: 14px;
}

.font-family-telefet {
    font-family: Tele-Fet, serif;
}

.border-txt p {
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    line-height: 0.1em;
    margin: 5px auto 5px 0;
    max-width: 240px;
}

.border-txt span {
    background: #fff;
    padding: 0 10px;
}

.border-top-gray {
    border-top: 1px solid #f0f0f0;
}

.color-picker .rad span[data-color='red']:before {
    background-color: #efaf71;
}

.color-picker .rad span[data-color='green']:before {
    background-color: #72ab8b;
}

.color-picker .rad span[data-color='brown']:before {
    background-color: #aa8c74;
}

.color-picker-accordion {
    max-width: 266px;
}

.color-picker-accordion .panel-heading .accordion-toggle {
    margin-top: -52px;
    outline: 0;
}

.color-picker-accordion .panel-heading {
    border: medium none !important;
}

.color-picker-accordion .panel-body {
    padding: 0px;
}

.color-picker-accordion .panel-group {
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .color-picker-accordion {
        max-width: 256px;
    }
    .phone-carousel .fa-angle-right {
        margin-right: -6px;
    }
    .phone-carousel .carousel-control {
        width: 50px;
    }
    .border-txt p {
        margin: 5px auto;
    }
    
/*pdp-css right text width */

    .right-text-width {
        padding-left: 20px;
        width: 80%;
    }
    .carousel2a .carousel-control .fa-angle-left, 
    .carousel2a .carousel-control .fa-angle-right {
        right: 31%;
    }
}

@media (min-width: 768px) {
    .p-t-200 {
        padding-top: 200px;
    }
    .border-bottom-sm {
        border-bottom: 1px solid #dddddd;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .color-picker-accordion .color-picker .rad span::before {
        content: "";
        display: block;
        height: 22px;
        width: 22px;
    }
    .color-picker-accordion .color-picker .rad span {
        padding: 0.5rem;
    }
    .color-picker-accordion .panel-heading .accordion-toggle {
        margin-top: -43px;
    }
}


/*top-section css ends here */

/*Hyd SEZ*/

/*icon*/
.icon i{
font-size: 1.6rem;
}
.pagination > li > a {
  background-color: transparent;
  border: none;
  color: #bebebe;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7rem;
  padding: 6px 25px;
  padding-left: 0px;
}
.pagination > li > a:hover {
  background-color: transparent;
  color: #5a5a5a;
  text-decoration: none;
}
.pagination > li > a:focus {
  background-color: transparent;
  color: #5a5a5a;
  text-decoration: none;
}

.pagination > li > a.ellipsis {
  color: #bebebe;
  cursor: default;
}

.pagination > li.active > a {
  background-color: transparent;
  border-radius: 2.5rem;
  color: #5a5a5a;
}
.pagination > li.active > a:hover {
  background-color: transparent;
  color: #5a5a5a;
}
.pagination > li.active > a:focus {
  background-color: transparent;
  color: #5a5a5a;
}
.pagination > li.disabled > a {
  background-color: transparent;
  color: #bebebe;
}

/*Progress bar*/

.progress{
float:right;
margin-bottom: 0px;
}

/*Tabs*/
.review-tabs{
        padding:14px;
        white-space: nowrap;
        line-height: 2.8em;
        padding-left:0px;
        color: #bebebe;
        font-weight:bold;
    }

.magColor{
color: #e20074;

}
/*.review-tabs.focus{
     color: #e20074;
}*/


/*.nav-tabs-wrapper .nav-tabs.tab-sub-nav, .nav-tabs-wrapper.nav-tabs.tab-sub-nav{
width:100%;
display:inline-block;
padding-top:0px;
}

.nav-tabs-wrapper .nav-tabs.tab-sub-nav > li, .nav-tabs-wrapper.nav-tabs.tab-sub-nav > li{
text-align: left;
margin-right: 10px;
}
.nav-tabs-wrapper .nav-tabs.tab-sub-nav > li > a, .nav-tabs-wrapper.nav-tabs.tab-sub-nav > li > a, .nav-tabs-wrapper .nav-tabs.tab-sub-nav > li > a:hover, .nav-tabs-wrapper.nav-tabs.tab-sub-nav > li > a:hover, .nav-tabs-wrapper .nav-tabs.tab-sub-nav > li > a:focus, .nav-tabs-wrapper.nav-tabs.tab-sub-nav > li > a:focus{
padding:0px 0px;
margin:0px 0px;
color: #bebebe;
height: 30px;
font-weight:bold;
}
.nav-tabs-wrapper .nav-tabs.tab-sub-nav > li.active > a, .nav-tabs-wrapper.nav-tabs.tab-sub-nav > li.active > a, .nav-tabs-wrapper .nav-tabs.tab-sub-nav > li.active > a:hover, .nav-tabs-wrapper.nav-tabs.tab-sub-nav > li.active > a:hover, .nav-tabs-wrapper .nav-tabs.tab-sub-nav > li.active > a:focus, .nav-tabs-wrapper.nav-tabs.tab-sub-nav > li.active > a:focus{
border-bottom: none;
font-weight:bold;
}*/
/*input*/
.search .form-control{
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.headReview{
float: left;
display: inline-block;
}
@media (min-width:992px){
.dateFloat{
float:right;
}
}

.row-fluid {
    width: 100%;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.margin-top-tabs {
	margin-top : 15px;
}

.margin-bottom-tabs {
	margin-bottom : 15px;
}
.search .input-group-addon{
    background: white !important; 
}
.search .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	 border-radius:0;

}

.search button{
   border: 0;
    background:transparent;
} 
/*Begin: Offshore changes */
@media (max-width: 767px) {
  .pg-p-l-15{
	padding-left:15px;
  }
    .margin-custom {
        margin-bottom: -12px!important;
    }
}
/*End: Offshore changes */
.my-width{
width:auto;}
/*Hyd SEZ ends here*/

.circle-promo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e20074;
    text-align: center;
    position: relative;
}
.circle-promo span {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.promo-text {
	color: #fff;
    font-size: 1.4rem;
    font-family: Tele-Fet, serif;
	line-height: 14px;
	padding-top:2px !important;
}

.save-promotion-textsize {
	font-size:14px !important;
	font-weight: normal;
}