body,
html {
  height: 100%;
}
.btn_height {
  height: 56px;
  font-size: 20px;
}
.color_93 {
  color: #939393;
}
.img_width {
  height: 112px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .m-t-40-sm {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .p-r-20-sm {
    padding-right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .p-l-20-sm {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .p-l-25-sm {
    padding-left: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .p-r-25-sm {
    padding-right: 25px;
  }
}
.border-top-sm {
  border-top: 1px solid #E8E8E8;
}
.border-EBEBEB {
  border: 1px solid #EBEBEB;
}
.CTA_revised {
  border: 1px solid #EBEBEB;
}
.div-dim {
  width: 100%;
  height: 100%;
  border: 1px solid #EBEBEB;
  background-color: #F8F8F8;
}
.div-border {
  border: 1px solid #E8E8E8;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .text-center-sm {
    text-align: center;
  }
}
.margin-text {
  margin-right: -8px;
  margin-left: -3px;
}
.padding-text {
  padding-right: 15px;
  padding-left: 15px;
}
.tick-color {
  color: #09B119;
}
.tick-position-color {
  position: absolute;
  margin-left: -30px;
  font-size: 24px;
  color: white;
  margin-top: 6px;
}
.tick-position-color-red {
  position: absolute;
  margin-left: -28px;
  margin-top: 6px;
  width: 19px;
  height: 24px;
  font-family: FontAwesome;
  font-size: 24px;
  color: #ffffff;
}
.tick-on-image {
  position: absolute;
}
.btn-style-bottom {
  position: fixed;
  bottom: 0;
  width: inherit;
}
.btn-style-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.body-copy-highlight1 {
  font-size: 14px !important;
  line-height: 20px;
  font-family: Arial;
  letter-spacing: 0px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) and (orientation:portrait) and (min-height:518px) {
  .stick-bottom-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .alternateBoxMargin {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) and (orientation:portrait) and (min-height:518px) {
  .stick-bottom-mobile-iphone6 {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 376px) and (max-width: 767px) and (orientation:portrait) and (min-height:518px) {
  .stick-bottom-mobile-iphone6plus {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
.button-white {
  font-size: 20px !important;
  line-height: 24px;
  font-family: Tele-Fet;
  letter-spacing: 0px;
  font-weight: normal;
  color: #000;
  background-color: #fff !important;
  border-color: #bebebe;
}
