@smartphones: ~"only screen and (max-width: 767px)";
@smartphones_portrait: ~"only screen and (max-width: 767px) and (orientation:portrait) and (min-height:518px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@largeScreens: ~"only screen and (min-width: 1200px)";
@smartphonesiPhone6: ~"only screen and (min-width: 321px) and (max-width: 767px) and (orientation:portrait) and (min-height:518px)";
@smartphonesiPhone6plus: ~"only screen and (min-width: 376px) and (max-width: 767px) and (orientation:portrait) and (min-height:518px)";

@margin-top-40:40px; 
@p-r-20-sm:20px;
@p-l-20-sm:20px;
@p-r-25-sm:25px;
@p-l-25-sm:25px;
@p-l-40-sm:40px;
@border-top-sm: 1px solid #E8E8E8;  
@border-EBEBEB:1px solid #EBEBEB;
@width-full:100%;
@height-30:30px;
@background-F8F8F8:#F8F8F8;
@height-full:100%;
@color_93:#939393;
@width-142:142px;
@height-88:88px;
@height:56px;
@f-20:20px;
@border-e8:1px solid #E8E8E8;
@m-r-8:-8px;
@m-l-3:-3px;
@p-35:35px;
@p-15: 15px;
@p-112:112px;
@overflow-hidden:hidden;
@0: 0px;

body, html {
	height: 100%;
}
.btn_height{
    height:@height;
    font-size:@f-20;
}
.color_93{
    color:@color_93;
}
.img_width{
    height: @p-112;
    overflow:@overflow-hidden;
}
.m-t-40-sm{
    @media @tablets,@desktop,@largeScreens{
        margin-top:@margin-top-40;
    }
}
.p-r-20-sm{
    @media @tablets,@desktop,@largeScreens{
        padding-right:@p-r-20-sm;
    }
}
.p-l-20-sm{
    @media @tablets,@desktop,@largeScreens{
        padding-left:@p-l-20-sm;
    }
}
.p-l-25-sm{
    @media @tablets,@desktop,@largeScreens{
        padding-left:@p-l-25-sm;
    }
}
.p-r-25-sm{
    @media @tablets,@desktop,@largeScreens{
        padding-right:@p-r-25-sm;
    }
}

.border-top-sm{
  
        border-top:@border-top-sm;
    
}
.border-EBEBEB{
    border:@border-EBEBEB;
}
.CTA_revised {
    border:@border-EBEBEB;
}
.div-dim{
    width: @width-full;
    height: @height-full;
    border:@border-EBEBEB; 
    background-color:@background-F8F8F8;
}

.div-border{
    border:@border-e8;
}
.text-center-sm{
    @media @tablets,@desktop,@largeScreens{
        text-align: center;
    }
}

.margin-text {
    margin-right: @m-r-8;
	margin-left: @m-l-3;
}

.padding-text {
    padding-right: @p-15;
    padding-left: @p-15;
}
.tick-color
{
    color: #09B119;
}

.tick-position-color { 
    position: absolute;
    margin-left: -30px;
    font-size: 24px;
    color: white;
    margin-top: 6px;
}
.tick-position-color-red {
	position: absolute;
    margin-left: -28px;
    margin-top: 6px;
	width: 19px;
  height: 24px;
  font-family: FontAwesome;
  font-size: 24px;
  color: #ffffff;
}

.tick-on-image
{ position:absolute;}

.btn-style-bottom {
	 position: fixed;
    bottom: 0;
	width: inherit;

}
.btn-style-mobile {
	position: fixed;
	bottom:0;
	width:100%;
}

.body-copy-highlight1 {
    font-size: 14px  ~'!important';
    line-height: 20px;
    font-family: Arial;
    letter-spacing: 0px;
    font-weight: bold;
}
@media @smartphones_portrait { 
    .stick-bottom-mobile {
	position: fixed;
    bottom: 0;
    width: 100%;
	}
    .alternateBoxMargin {
	margin-left: 15px;
	margin-right: 15px;
}
}

@media @smartphonesiPhone6{
    .stick-bottom-mobile-iphone6 { 
	position: fixed;
    bottom: 0;
    width: 100%;
}
}

@media @smartphonesiPhone6plus {
    .stick-bottom-mobile-iphone6plus {
	position: fixed;
    bottom: 0;
    width: 100%;
}
}
.button-white {
  font-size: 20px ~'!important';
  line-height: 24px;
  font-family: Tele-Fet;
  letter-spacing: @0;
  font-weight: normal;
  color: #000;
  background-color: #fff ~'!important';
  border-color: #bebebe;
}