.p-b-32{
  padding-bottom: 32px;
}
.p-t-32{
    padding-top:32px;
   
}
.button-line-height{
  line-height:0px;
}
.btn-width{
  width:288px;
}

.p-t-35{
  padding-top:35vh;
}
.m-b-32{
  margin-bottom:32px !important;
}
.font-italic{
  font-style:italic;
}

.close {
  font-size: 17px;
  color: white;
  height: 17px;
  right: 15px;
  top: 100px;
  z-index: 99;
  position: unset;
  margin-bottom: 24px;
    
  }
  
  .close:focus,
  .close:hover {
    color:white;
    
  }
  @media (max-width: 515px) {
    .close{
    right:5px;
    font-size: 17px;
      color: white;
      height: 17px;
  }
}
  @media (max-width: 768px) and (min-width:516px) {
    .close {
      font-size: 17px;
      color: white;
      height: 17px;
      right: 10px;
      z-index: 99;
    }
  }
  
  @media (max-width: 991px) and (min-width:767px) {
    .close {
      right: -20px;
      top: 30px;
      font-size: 20px;
      padding-bottom: 20px;
      color:white;
    }
  }
  
  @media (min-width: 992px) {
    .close {
      right: 2%;
      font-size: 20px;
      top: 100px;
      color: white;
      z-index: 1000;
      padding-bottom: 20px;
    }
    
  }
  
  @media(min-width: 1200px) {
    .close {
      right: 2%;
      font-size: 20px;
      top: -45px;
      color: white;
      z-index: 1000;
      padding-bottom: 20px;
    }
  }
  .glueDialog {
    padding: 0px;
    background: none;
    top:35px;
  }
@media (max-width: 767px) and (max-height: 420px) {
  .glueDialog {
    transform: none !important;
	top:10px;
	}
}
  @media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .glueDialog {
    /*top: 10%;*/
    top: 76px;
    left: 0px;
    right: 0px;
    width: 100%;
  }
}
@media (max-width:850px) {
    .scroll {
      overflow-y: scroll;
      max-height: 80vh !important;
    }
  }
  .dialogPaddingLCModal {
    padding: 32px 15px 0px;
    background-color: #FFFFFF;
}
.f-24 {
    font-family: Tele-Ult;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: normal;
}
.alertoverlay {
    z-index: -1;
}
.check1{
  border-radius: 4px;
}
.checkbox{
  margin-bottom:0px;
}
.checkbox .label-copy{
  padding-top:0px;
  vertical-align: middle;
  color: #5a5a5a;
}
@media (max-width: 991px) and (min-width:767px){
.checkbox{
  margin-top:5px;
  padding-left:20px;
}

}
@media (max-width: 766px) {
  .checkbox{
  margin-top:5px;
  padding-left:30px;
}
}

.h-42{
  height:42px !important;
}

/*.glueAnimationIn {
    transform: none !important;
	top:35px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .glueAnimationIn {
			transform: none !important;
			top: 76px;
		}
}

@media (max-width: 767px) and (max-height: 420px) {
  .glueAnimationIn {
    transform: none !important;
	top:10px;
	}
}*/

@media (max-width: 320px){
	.checkbox {
		padding-left: 20px;
	}
}

.indicator {
	padding-left: 8px;
    padding-right: 5px !important;
	font-size:16px;
}