@font-face {
  font-family: 'Tele-Nor';
  src: url('../fonts/tele-grotesknor.eot');
  src: url('../fonts/tele-grotesknor.eot?#iefix') format('embedded-opentype'), url('../fonts/tele-grotesknor.woff2') format('woff2'), url('../fonts/tele-grotesknor.woff') format('woff'), url('../fonts/tele-grotesknor.ttf') format('truetype'), url('../fonts/tele-grotesknor.svg#Tele-Grotesk') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Tele-Hal';
  src: url('../fonts/tele-groteskhal.eot');
  src: url('../fonts/tele-groteskhal.eot?#iefix') format('embedded-opentype'), url('../fonts/tele-groteskhal.woff2') format('woff2'), url('../fonts/tele-groteskhal.woff') format('woff'), url('../fonts/tele-groteskhal.ttf') format('truetype'), url('../fonts/tele-groteskhal.svg#Tele-Grotesk') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Tele-Fet';
  src: url('../fonts/tele-groteskfet.eot');
  src: url('../fonts/tele-groteskfet.eot?#iefix') format('embedded-opentype'), url('../fonts/tele-groteskfet.woff2') format('woff2'), url('../fonts/tele-groteskfet.woff') format('woff'), url('../fonts/tele-groteskfet.ttf') format('truetype'), url('../fonts/tele-groteskfet.svg#Tele-Grotesk') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Tele-Ult';
  src: url('../fonts/tele-groteskult.eot');
  src: url('../fonts/tele-groteskult.eot?#iefix') format('embedded-opentype'), url('../fonts/tele-groteskult.woff2') format('woff2'), url('../fonts/tele-groteskult.woff') format('woff'), url('../fonts/tele-groteskult.ttf') format('truetype'), url('../fonts/tele-groteskult.svg#Tele-Grotesk') format('svg');
  font-weight: 500;
  font-style: normal;
}