/* glue button start */
.glueButton {
    border-radius: 0px;
    width: 288px;
    margin:0px;
}

.glueButton:focus, .glueButton:active, .glueButton:hover {
    outline: none !important;
}

.glueButtonPrimary:focus, .glueButtonPrimary:active, .glueButtonPrimary:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.glueButtonSecondary  {
	border: 1px solid #000000 !important;
}
   
.glueButtonSecondary:hover  {
	border-color: #000000 !important;
	border: 2px solid #000000 !important;
}

.glueButtonSecondary:focus, .glueButtonSecondary:active {
	outline: 2px solid #000000 !important; 
}

@media (max-width:767px){
    .glueButton {
        width: 100%;
    }
    .glueNopadding-xs{  
        padding-left: 0px;
        padding-right: 0px;
     }   

}
@media (min-width:768px){
    .glueButton {
        width: 288px;
    }
    .gluePull-right-sm{
        float:right;
    }
    .gluePull-left-sm{
        float:left;
    }

}

/* .glueRipple  {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    } */

  
  @-webkit-keyframes ripple {
      to {
        -webkit-transform: scale(2);
        opacity: 0;
      }
  }

  @keyframes ripple {
      to {
        transform: scale(2);
        opacity: 0;
      }
  }

.glueRippleAnimate {
    -webkit-animation: ripple 1000ms ease-out;
    animation: ripple 1000ms ease-out;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    height: 60px;
    pointer-events: none;
	overflow:hidden;
    position: absolute;
    transform: scale(0);
    width: 60px;
	z-index:0;
  }
/* glue button end */

/* glue hyperlink start */

.glueHyperLink a {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}
.glueHyperLink a:hover {
  color: #000000;
  text-decoration: underline;
}
.glueHyperLink a:focus {
  color: #000000;
  text-decoration: underline;
}
.glueHyperLink a[disabled] {
  pointer-events: underline;
}
/* glue hyperlink end */

/* Modal popup start */

.glueModalBorderBox {
    border: 1px dashed pink;
    height: 100px;
    background-color: #F2F2F2;;
}
.glueOverlay {
	position: fixed;
    right: 0px;
    left: 0px;
    background-color: rgba(0,
    0,
    0,
    0.5) ;
    top: 0;
    bottom: 0;
}

.glueDialogContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    /* @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        position: static;
    }*/
}

.glueDialog {
 
	position: fixed;
    right: 0px;
    left: 0px;
    background-color: #ffffff;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
    max-height: 600px;
    left: 15px;
    right: 15px;
    padding: 24px 24px 24px 24px;
	min-width: 280px;
    max-width: 343px;
   
}

.glueDialogAutoWidth {
	min-width: 280px;
	max-width: 280px; 
}

@media (min-width: 768px) {
    .glueDialog {
        min-width: 320px;
        max-width: 343px; 
    }
	
	.glueDialogAutoWidth {
		min-width: 280px;
		max-width: 280px; 
	}
}
@media (min-width: 992px) and (max-width: 1199px), (min-width: 1200px){
    .glueDialog {
        min-width: 320px;
        max-width: 607px; 
    }
	
	.glueDialogAutoWidth {
		min-width: 280px;
		max-width: 280px; 
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .glueDialog{
    top:30%;
    left: 0px;
    right: 0px;
    width:100%;
    }
    @media (max-width: 374px){
        .glueDialog{
        max-width: 310px;
        }
		
		.glueDialogAutoWidth {
			min-width: 280px;
			max-width: 280px; 
		}
    }
}

.glueAnimationOut {
    opacity: 0;
    transform: translate(0, -75%);
    transition: 500ms;
    z-index: -1;
}

.glueAnimationIn {
    opacity: 1;
    transform: translate(0, 0);
    transition: 500ms;
    z-index: 1000;
   
}

@media screen  {
    .glueAnimationIn {
        transform: translate(0,0%);       
    }
}
.glueOverlayOut {
    opacity: 0; 
    z-index:-999;
}

.glueOverlayIn {
    opacity: 1;
    transition: 500ms;
    z-index: 1;
    
}
@media screen  {
    .glueOverlayIn {
        transition:0ms;        
    }
 }

 .glueDialogueBtnWidth {
     width: 260px;
     padding: 0px !important
 }

.gluePrimaryCTAAccent {
    height: 32px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: 0px;
    margin-right: 0px;    
    background: #E20074;
    color: #ffffff;
    border-radius: 0px;
    border: 0px solid #ffffff;
    font-family: Tele-Fet;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: normal;
    outline-style: none;
}
.glueSecondaryCTAAccent{
    height: 32px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: 0px;
    margin-right: 0px;
    background: #ffffff;
    color: #000000;
    border-radius: 0px;
    font-family: Tele-Fet;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: normal;
    outline-style: none;
}

.ml-2{ margin-left: 0.5rem !important}
.glueSecondaryCTAAccent.glueBlackCTA, .glueSecondaryCTAAccent-accent.glueBlackCTA{
    color: #000000;
    border-color: #000000;
}
.glue-padding-horizontal-xsmall {
    padding-left: 8px;
    padding-right: 8px;
}
.p-b-8 {
    padding-bottom: 8px;
}

.glue-check-icon {
    width: 42px;
    height: 32px;
    display: inline-block;
}

.glueModal .modal {
	background: rgba(0,0,0,0.5) !important;
}

.glueModal .modal-content {
	margin-top:77px !important;
}

.glueModal .modal-dialog {
	padding-right:10px !important;
	padding-left:10px !important;
}
.PrimaryCTA{
    height:54px !important;
    font-size:14px !important;
    color:#fff !important;
}

.SecondaryCTA{
    height:54px !important;
    font-size:14px !important;
    color:#000000 !important;
}
.gluelink,
a {
  color: #101010;
  cursor: pointer;
}
.gluelink:hover,
a:hover {
  color: #101010;
  text-decoration: none;
}
.gluelink:focus,
a:focus {
  color: #101010;
  text-decoration: none;
}
.gluelink[disabled],
a[disabled] {
  pointer-events: none;
}

.glueRadio-container {
    position: relative;
    float: left;
}
.glueRadio-container input[type=radio] {
        position: absolute;
        visibility: hidden;
} 
.glueRadio-container label {
    min-height: 20px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    padding: 0px 32px 0px 0px;
    cursor: pointer;
    z-index: 9;
    margin-bottom: 10px;
    }
.glueRadio-container .check {
        display: block;
        position: absolute;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        top: 3px;
        left: 3px;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        border: 1px solid #9b9b9b; 
    }
.glueRadio-container .check::before {
        display: block;
        position: absolute;
        border-radius: 100%;
        height: 12px;
        width: 12px;
        top: 3px;
        left: 3px;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        content: '';
        margin: auto;
}

input[type=radio] 
    
    :hover~.check {
        border: 1px solid #e20074;
    }
    :disabled~.check {
       border: 1px solid #9B9B9B;
        opacity: 0.5;
    }
    :checked~.check {
        border: 1px solid #e20074 !important;
     }
    :checked~.check::before {
        background: #e20074;
    }
    :checked:disabled~.check::before {
        background: #9B9B9B;
        opacity: 0.5;
    }
    :disabled+label {
        cursor: not-allowed !important;
    }



.card-information-title{
    text-align: center;
}